{if $foot}
<div class="foot-bar-fix"></div>
<div class="foot-bar">
<ul>
<li class="icon-home{if $foot=='home'}-on{/if}"><a href="index.php" data-transition="none"><span>首页</span></a></li>
<li class="icon-channel{if $foot=='channel'}-on{/if}"><a href="channel.php" data-transition="none"><span>频道</span></a></li>
<li class="icon-my{if $foot=='my'}-on{/if}"><a href="my.php" data-transition="none"><span>我的</span></a>{if $_message || $_chat || $_cart}<em></em>{/if}</li>
<li class="icon-more{if $foot=='more'}-on{/if}"><a href="more.php" data-transition="none"><span>更多</span></a></li>
</ul>
</div>
{/if}
</div>
<div style="display:none;">
{if $baiduhm == 1}
<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F7366d5ce748c7a306307317faaf241ad' type='text/javascript'%3E%3C/script%3E")) </script>
{/if}
    {template 'analytics','include'}
{if $moduleid == 28}
<script language="javascript" type="text/javascript" src="http://js.users.51.la/17742009.js"></script>
{/if}

<script type="text/javascript">
    $(document).ready(function(){//重读全文最大的图片作为微信图片
        $('.content img').each(function(i){
                if($(this).width()>400&&$(this).height()>300){
				imgsrc=$(this)[0].src;
				imgsrc=imgsrc.replace('#', '');
				$('#wximgUrl').val(imgsrc);
				//alert($('#wximgUrl').val());
				}
        })
    });
</script>




</div>

</body>
</html>