
{php $urls="search.php?";$m_id=4;}
{php $m_id=$moduleid;}
<!-- 读取网店设置中，搜索排行的数字 -->
				{if $moduleid=4&&$username&&!$action}
					 {if $side_num[4]==1}
						{php $m_id=16;}
					 {elseif $side_num[4]==2}
						{php $m_id=5;}
					 {elseif $side_num[4]==3}
						{php $m_id=6;}
					 {elseif $side_num[4]==4}
						{php $m_id=21;}
					 {/if}
				{/if}
{if $username}
	{php $urls="search.php?moduleid=".$m_id."&username=".$username;}
{/if}
{if $kw}
	{php $urls=$urls.'&wd='.encrypt($kw);}
{/if}
<style>
.so-tencenet{display:-webkit-box;margin:10px;}
.so-tencenet input{display:block;margin:0;padding:0;font-family:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none;border:none;outline:0;border-radius: 0;}
.so-tencenet input[type=text]{-webkit-appearance:none;font-size:18px;line-height:22px;overflow:hidden;padding:8px 10px;word-break:break-all;-webkit-box-flex:1;border: 1px solid #ccc;border-right:none;background:url("http://www.tecenet.com/skin/sogex/images/mhomeLogo.png") no-repeat 5px center #fff;background-size:auto 32px;opacity:0.8;}
.so-tencenet input[type=submit]{width: 70px;background-color: #da1427;color: #fff;letter-spacing: 2px;font-size: 14px;}

.so-tencenet input[type=text]:focus,.so-tencenet input[type=text].hide-bg{background-image:none;opacity:1;}
</style>
<form class="so-tencenet" action="http://so.tecenet.com/msearch.php" method="get" target="_blank">
<?php 
$stype_arr = array(16=>'1',4=>'2',21=>'3',24=>'5',9=>'5',5=>'6',7=>'7'); //天成模块和医搜模块id对应
$stype = isset($stype_arr[$m_id]) ? $stype_arr[$m_id] : '0';
?>
		<input type="hidden" name="type" value="{$stype}" />
		<input type="text" autocomplete="off" name="keyword">
		<input type="submit" value="搜医搜">
</form>	
<script>
// 搜索失去焦点去背景
$(".so-tencenet input[type='text']").blur(function(){
	if($(".so-tencenet input[type='text']").val() != ''){
		$(".so-tencenet input[type='text']").addClass("hide-bg");
	}else{
		$(".so-tencenet input[type='text']").removeClass("hide-bg");
	}
});
</script>
