<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title>天成医搜</title>
    <meta name="keywords" content="天成，医搜，天成医搜，医疗器械，医疗服务，医疗器械供应，医疗器械采购，医疗器械维修"/>
    <meta name="description" content="天成医搜-聚焦医疗服务行业的垂直搜索引擎，让用户更快捷地获取医疗器械产品、供应采购、技术服务、新闻、科研等信息，解决所需。为您提供精准、实时、可靠的搜索体验。"/>
    <link rel="apple-touch-icon" href="{DT_PATH}skin/sogex/images/s_wechat_share_icon.png">
    <link rel="shortcut icon" href="{DT_PATH}skin/sogex/images/sogex.ico" />
    <link rel="stylesheet" href="{DT_PATH}skin/sogex/search-page.min.css">
    <link rel="stylesheet" href="{DT_PATH}skin/sogex/swiper.min.css">
</head>
<body>
<!--search-wrap-->
<div class="search-wrap">
    {template 'mheader',$module}

    <style>
		.guide{margin-top:5px;background-color:#fff}
		.guide h1{padding:10px;color:#d3251e;text-align:center;font-weight:700;font-size:20px;line-height:1.5}
		.guide .guide-menu{overflow-x:auto;height:44px;border-top:5px solid #eee;border-bottom:1px solid #eaeaea;background-color:#fff}
		.guide .guide-menu ul{text-align:center}
		.guide .guide-menu li{display:inline-block;padding:0 20px;height:42px;font-size:16px;line-height:42px}
		.guide .guide-menu li a{text-decoration:none}
		.guide .guide-menu li.active{border-bottom:2px solid #d3251e}
		.guide .guide-menu li.active a{color:#d3251e}
		.guide .part{margin:15px 0;padding:0 15px 15px 15px;border-bottom:1px solid #eaeaea}
		.guide .part p{font-size:16px;line-height:1.5}
		.guide .part i{position:relative;top:-2px;display:inline-block;margin-right:3px;width:18px;height:18px;-webkit-border-radius:50%;-moz-border-radius:50%;border-radius:50%;background-color:#da1427;color:#fff;vertical-align:middle;text-align:center;font-style:normal;font-size:12px;line-height:18px}
		.guide .part img{display:block;margin:15px auto;height:auto;max-width:100%}
		.guide .hd{padding:20px 0 10px 15px;color:#FF9200;font-weight:700;font-size:18px}
		.guide .btn{display:block;margin:15px auto;width:200px;height:40px;border-bottom:2px solid #af0011;border-radius:5px;background-color:#da1427;color:#fff;text-align:center;font-size:16px;line-height:40px}
		.guide .img-area{padding:0 15px}
    </style>

    <!--main-->
    <div class="main guide">
        <h1>收藏小步骤，下次直接点</h1>
        <!--menu-->
        <div class="guide-menu clearfix">
            <ul>
                 <li class="ios-menu active"><a href="javascript:void(0);" hidefocus="true">IOS浏览器</a></li>
                <li class="android-menu "><a href="javascript:void(0);" hidefocus="true">Android浏览器</a></li>
                <li class="wechat-menu "><a href="javascript:void(0);" hidefocus="true">公众号</a></li>
            </ul>
        </div>
        <!--menu end-->
        <!--container-->
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!--IOS-->
                <div class="swiper-slide ios">
                    <div class="part">
                        <p><i>1</i>首先，当你点击“收藏小步骤”进入本页面后，如果是微信浏览器，请点击右上角菜单栏，选择“在Safari中打开”进入Safari浏览器；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-1.jpg" alt=""></div>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-2.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>2</i>其次，点击页面顶部“天成医搜”LOGO或“搜医搜”按钮进入天成医搜；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-3.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>3</i>接着，进入主页后，点击下方中间的分享图标；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-4.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>4</i>在弹出的选项栏中点击“添加到主屏幕”；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-5.jpg" alt=""></div>
                    </div>

                    <div class="part">
                        <p><i>5</i>最后，在弹出的页面中点击右上角的“添加”；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-6.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>6</i>好了，你想要的网页已经到主屏幕上了。和APP一样好用哦！！！</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p1-7.jpg" alt=""></div>
                    </div>
                </div>
                <!--IOS end-->

                <!--Android浏览器-->
                <div class="swiper-slide android">
                    <div class="hd">方法一：下载天成医疗网APP进行安装</div>
                    <div class="part">
                     <a class="btn" href="http://www.tecenet.com/file/and_tece.apk" target="_blank">下载地址</a>
                    </div>
                
                    <div class="hd">方法二：原生Android浏览器</div>
                    <div class="part">
                        <p><i>1</i>首先，当你点击“收藏小步骤”进入本页面后，如果是微信浏览器，请点击右上角菜单栏，选择“在浏览器打开”进入原生浏览器；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-1.jpg" alt=""></div>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-2.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>2</i>其次，点击页面顶部“天成医搜”LOGO或“搜医搜”按钮进入天成医搜；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-3.jpg" alt=""></div>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-4.jpg" alt=""></div>
                    </div>
                   <div class="part">
                        <p><i>3</i>接着，点击浏览器右上角菜单栏，选择“保存到书签”；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-5.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>4</i>在弹出的窗口页面，选择添加到“主屏幕”并点击确定</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-6.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>5</i>好了，天成医搜已经成功放到您的主屏幕上了，和APP一样好用哦！！！</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-7.jpg" alt=""></div>
                    </div>



                    <div class="hd">方法三：第三方浏览器（UC为例）</div>
                    <div class="part">
                        <p><i>1</i>重复方法二的前两个步骤，进入天成医搜后，点击底部UC浏览器的菜单栏</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-8.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>2</i>选择收藏网址；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-9.jpg" alt=""></div>
                    </div>
                    <div class="part">
                        <p><i>3</i>选择收藏至“手机桌面”；</p>
                        <div class="img-area"><img src="{SO_SKIN}/images/guide/p2-10.jpg" alt=""></div>
                    </div>
                   
                   
                </div>
                <!--Android浏览器 end-->

                
                <!--公众号-->
                <div class="swiper-slide wechat">
                    
                    <div class="wechat-android">
                        <div class="hd">Android系统</div>
                        <div class="part">
                            <p><i>1</i>扫描或识别屏幕中的二维码</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-5.jpg" alt=""></div>
                        </div>
                        <div class="part">
                            <p><i>2</i>进入“天成医疗”公众号，点击右上角“用户”按钮；</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-1.jpg" alt=""></div>
                        </div>
                        <div class="part">
                            <p><i>3</i>进入公众号详情页后点击右上角的菜单按钮，选择“添加到桌面”；</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-2.jpg" alt=""></div>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-3.jpg" alt=""></div>
                        </div>
                        <div class="part">
                            <p><i>4</i>以后点击桌面的“天成医疗”公众号，就能快速搜索。</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-4.jpg" alt=""></div>
                        </div>
                    </div>
                    

                    <div class="wechat-ios">
                        <div class="hd">IOS系统</div>
                        <div class="part">
                            <p><i>1</i>扫描或识别屏幕中的二维码</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-5.jpg" alt=""></div>
                        </div>
                        <div class="part">
                            <p><i>2</i>进入“天成医疗”公众号，点击右上角“用户”按钮，选择“置顶公众号”；</p>
                            <div class="img-area"><img src="{SO_SKIN}/images/guide/p4-6.jpg" alt=""></div>
                        </div>
                    </div>

                </div>
                <!--公众号 end-->
            </div>

        </div>
        <!--container end-->

    </div>
    <!--main end-->

</div>
<!--search-wrap end-->

<!--回到顶部-->
<div class="tool">
    <a href="javascript:;" class="go-to-top" style="display: none;"></a>
    <a href="feekback.php" class="go-fankui" ></a>
    <a href="http://wap.tecenet.com/" class="go-to-home"></a>
</div>
<!--回到顶部 end-->

<!--footer-->
<footer class="footer">
    <p>版权所有 ©广州天成医疗技术股份有限公司</p>
    <p>CopyRight ©Guangzhou TianCheng Medical Technology Co.,Ltd.</p>
    <p>联系电话：020-22017999&nbsp;&nbsp;&nbsp;&nbsp;<a href="feekback.php">用户反馈</a></p>
</footer>
<!--footer end-->

<script src="{DT_PATH}file/script/sogex/zepto.min.js"></script>
<script src="{DT_PATH}file/script/sogex/swiper.min.js"></script>
<script>
    //滑动插件实例化
    var mySwiper = new Swiper('.swiper-container',{
        autoHeight: true,
        // lazyLoading : true,
        touchAngle : 10,
        onSlideChangeStart: function(){
            $(".guide-menu .active").removeClass('active');
            $(".guide-menu li").eq(mySwiper.activeIndex).addClass('active');
            $('body,html').scrollTop(0);
        }
    });
    var sUserAgent = navigator.userAgent.toLowerCase();
    var bIsIpad = sUserAgent.match(/ipad/i) == "ipad";
    var bIsIphoneOs = sUserAgent.match(/iphone os/i) == "iphone os";
    var bIsMidp = sUserAgent.match(/midp/i) == "midp";
    var bIsUc7 = sUserAgent.match(/rv:1.2.3.4/i) == "rv:1.2.3.4";
    var bIsUc = sUserAgent.match(/ucweb/i) == "ucweb";
    var bIsAndroid = sUserAgent.match(/android/i) == "android";
    var bIsCE = sUserAgent.match(/windows ce/i) == "windows ce";
    var bIsWM = sUserAgent.match(/windows mobile/i) == "windows mobile";
    if (bIsIpad || bIsIphoneOs ) {
        $(".android-menu,.android,.wechat-android").remove();
        mySwiper.updateSlidesSize();
    } if(bIsMidp || bIsUc7 || bIsUc || bIsAndroid || bIsCE || bIsWM){
         $(".ios-menu,.ios,.wechat-ios").remove();
         $(".android-menu ").addClass("active");
         mySwiper.updateSlidesSize();
    }else { 

    }
    //导航位置跳转
    $(".guide-menu li").on('click',function(e){
        e.preventDefault();
        $(".guide-menu .active").removeClass('active');
        $(this).addClass('active');
        mySwiper.slideTo($(this).index(), 500, false);
    });
    $(".guide-menu li").click(function(e){
        e.preventDefault();
    });
    /*客服展开收起*/
    $('.c-contact .hd').click(function(){
        if($(this).hasClass("act")){
            $(".c-contact .bd").hide();
            $(this).removeClass("act");
        }else{
            $(".c-contact .bd").show();
            $(this).addClass("act");
        }
    });
    /*导航展开收起*/
    $('.menu-btn').click(function(){
        if($(this).hasClass("act")){
            $(this).html("更多<i></i>");
            $(".menu-more").hide();
            $(this).removeClass("act");
            $(".header").removeClass("show-menu");
        }else{
            $(this).html("收起<i></i>");
            $(".menu-more").show();
            $(this).addClass("act");
            $(".header").addClass("show-menu");
        }
    });
    /*回到顶部*/
    $(window).scroll(function() {
        if ($(window).scrollTop() > 600) {
            $(".tool .go-to-top").show();
        } else {
            $(".tool .go-to-top").hide();
        }
    });
    $(".tool .go-to-top").click(function(){
        $('body,html').scrollTop(0);
        return false;
    });

</script>
<div style="display:none;">{template 'so_analytics','include'}</div>
</body>
</html>