<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <link rel="shortcut icon" href="{SO_SKIN}images/sogex.ico" />
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/style.css" />
  {loop $socss $k $v}
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/{$v}" />
  {/loop}
 
  {loop $so_top_js $k $v}
  <script type="text/javsscript" src="{DT_PATH}file/script/{$v}"></script>
  {/loop}
  <title>天成搜索</title>
 </head>
 <body>
 <div id="layout">
