<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title>{$seo_title}</title>
    <meta name="keywords" content="{$seo_keyword}"/>
    <meta name="description" content="{$seo_description}"/>
	<link rel="apple-touch-icon" href="{SO_SKIN}/images/s_wechat_share_icon.png">
	<link rel="shortcut icon" href="{SO_SKIN}/images/sogex.ico" />
    <link rel="stylesheet" href="{SO_SKIN}/search-page.min.css">
</head>
<body>
{template 'guide-ad','search'}
    <!--search-wrap-->
    <div class="search-wrap">
		
		{template 'mheader',$module}
        <!--main-->
        <div class="main">

       	{if empty($result_total) || $result_total == 0}
        <!--没结果没关联词-->
            <div class="no-res">
                <p class="icon">很抱歉，没有找到</p>
                <p class="keyword">“{$keyword}”</p>
                <p class="txt">相关的结果</p>
            </div>
            <!--没结果没关联词 end-->
	    {/if}

	    {if $result_total != 0}
	    	{if $expand['str'] != ''}
	    	<div class="tips">
	    		<P>“{$keyword}”搜索无结果，以下为你显示{$expand['str']}的搜索结果</P>
	    	</div>
	    	{/if}
	    
            <!--搜索结果-->
            <div class="res-main">
				<div class="result-nums res-card">
					天成医搜收录相关结果约{$result_total}个
				</div>

	    {php $arr = getSegmentation($keyword);}
            {loop $result_items $k $v}
            {php $from_table = strpos($v['from_table'],'sogex') !== false ? 's' : 't';}
			{php $so_url = so_rewrite('mdetail.php?itemid='.$v['tableid'].'&keyword='.$keyword.'&type='.$type.'&infotype='.$v['info_type'].'&from='.$from_table);}
		<a href="{$so_url}" class="res-card">
			<h3 class="card-title"><i class="type type-{$v['type']}">{$info_type_lists[$v['type']]['name']}</i>{$v['web_title']}</h3>
			<div class="card-main">
				{if $v['thumb']}
				<div class="card-img">
				<img src="{SO_SKIN}/images/blank.gif" data-echo="{$v['thumb']}" alt="" onerror="javascript:this.src='{SO_SKIN}/images/nopic.gif';" />
				</div>
				{/if}
				<div class="card-txt">
					<div class="abst">{$v['description']}</div>
					<div class="url">{if strlen($v['url'])>30}{substr($v['url'],0,20)}...{substr($v['url'],strlen($v['url'])-10,strlen($v['url']))}{else}{$v['url']}{/if}</div>
				</div>
			</div>
		</a>
	    {/loop}
	    </div>
            <!--搜索结果 end-->
       	{/if}


			<!--相关搜索-->
			
			<dl class="module relative-words">
				<dt class="hd clearfix">
					<span class="pull-left">相关搜索</span>
				</dt>
				<dd class="bd clearfix" id="related">
				</dd>
			</dl>
			<!--相关搜索 end-->

            <!--page-->
            <div class="page">
               {if $page != '1'} <a href="msearch.php?keyword={$keyword}&type={$type}&page=<?php echo (int)$page -1 ; ?>" class="prev">上一页<span></span></a>{/if}
               {if intval($page)*intval($pagesize) < intval($result_items)} <a href="msearch.php?keyword={$keyword}&type={$type}&page=<?php echo (int)$page+1; ?>" class="next">下一页<span></span></a>{/if}
            </div>
            <!--page end-->
			
            
			<!--推荐技术服务-->
            <dl class="module">
                <dt class="hd clearfix">
                    <span class="pull-left">天成网为您推荐技术服务</span>
                    <a href="{$EXT[mobile_url]}index.php?moduleid=9&kw={$keyword}" target="_blank" class="more pull-right"><i></i></a>
                </dt>
                <dd class="bd txt-list">
                    <ul class="clearfix">
			{php $fuwu = $db->query("select linkurl,title from {$db->pre}job where title like '%$keyword%' and status = 3 order by itemid desc limit 0,6");}
					<?php if($db->num_rows($fuwu) < 1){ $fuwu = $db->query("select linkurl,title from {$db->pre}job where status = 3 order by itemid desc limit 0,6");} ?>
			<?php while($r = $db->fetch_array($fuwu)){ ?>
			<li><a href="{DT_PATH}fuwu/{$r['linkurl']}">{$r['title']}</a></li>
			<?php } ?>
                    </ul>

					<!--客服-->
					<div class="c-service">
						<a class="tc-service" id="baidu-server" data-tel="400-617-3599" data-title="医搜百度商桥" target="_blank" href="http://p.qiao.baidu.com/cps/chat?siteId=3215492&userId=6452136&s=tecenet.com">
							<img class="hd" src="{SO_SKIN}/images/service-header.png" alt="">
							<div class="bd">
								<p>天成医疗网在线客服</p>
								<p>400-617-3599</p>
							</div>
							<div class="btn">点击咨询</div>
						</a>
						{if $type > 0}
							<div class="c-contact">
								<div class="hd">未找到您想要的？可转入人工服务<i></i></div>
								<ul class="bd" style="display:none;">
									{php $qq_arr = array(1=>'786466321',2=>'2300379865',3=>'657911476',4=>'1928771453',5=>'1928771453',6=>'657911476',7=>'657911476');}
									{php $telephone_arr = array(1=>'020-22017986',2=>'020-22017985',3=>'4006173599',4=>'020-22017982',5=>'020-22017982',6=>'4006173599',7=>'020-22017996');}
									<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$qq_arr[$type]}&site=qq&menu=yes&s=tecenet.com" target="_blank"><i class="qq"></i><span>{$info_type_lists[$type]['name']}在线QQ客服</span></a></li>
									<li><a href="tel:{$telephone_arr[$type]}" class="kefu_tel" data-tel="{$telephone_arr[$type]}" data-title="医搜{$info_type_lists[$type]['name']}客服电话"><i class="tel"></i><span>{$info_type_lists[$type]['name']}热线：{$telephone_arr[$type]}</span></a></li>
								</ul>
							</div>
						{/if}
					</div>
					<!--客服 end-->
                </dd>
            </dl>
            <!--推荐技术服务 end-->


            <!--推荐产品-->
            <dl class="module">
                <dt class="hd clearfix">
                    <span class="pull-left">天成网为您推荐产品</span>
                    <a href="{$EXT[mobile_url]}index.php?moduleid=16&kw={$keyword}" target="_blank" class="more pull-right"><i></i></a>
                </dt>
                <dd class="bd img-list">
                    <ul>
			<?php foreach($malls as $r){ ?>
			<li>
				<a href="{DT_PATH}chanpin/{$r['linkurl']}" class="img-area">
				<img src="{$r['thumb']}" alt="{$r['title']}" onerror="javascript:this.src='{SO_SKIN}/images/nopic.gif';" />
				<p>{$r['title']}</p>
				</a>
			</li>
			<?php } ?>
                    </ul>
                </dd>
            </dl>
            <!--推荐产品 end-->

            

			{if $spread_arr}
            <!--合作推广-->
            <dl class="module">
                <dt class="hd clearfix">
                    <span class="pull-left">合作推广</span>
                    <a href="#" class="btn pull-right">我也要推广</a>
                </dt>
                <dd class="bd">
                	{loop $spread_arr $k $v}
                	{if $k == '0'}
                		{if $v['thumb']}
                		<div class="img-ad">
                       		<a href="link.php?t={$v['itemid']}&u={$v['url']}"><img  src="images/blank.gif" data-echo="{$v['thumb']}" alt="{get_wildcard($v['title'],$keyword,50)}" style="height:180px;" ></a>
                    	</div>
                    	{/if}
                    <div class="txt-ad">
                	{/if}
                		<a href="link.php?t={$v['itemid']}&u={$v['url']}">{get_wildcard($v['title'],$keyword,50)}</a>
                	{if $k == '0'}
                	</div>
                	{/if}
                    
                    {/loop}
                </dd>
            </dl>
            <!--合作推广 end-->
            {/if}

			<div class="search-box" style="padding:10px;">
				<form action="msearch.php" method="get">
					<input type="hidden" name="type" value="{$type}" id="type" />
					<input type="text" id="keyword" autocomplete="off" value="{$keyword}" name="keyword">
					<input type="submit" value="搜医搜">
				</form>
			</div>

        </div>
        <!--main end-->

        
    </div>
    <!--search-wrap end-->

    <!--回到顶部-->
    <div class="tool">
        <a href="javascript:;" class="go-to-top" style="display: none;"></a>
        <a href="feekback.php" class="go-fankui" ></a>
        <a href="http://wap.tecenet.com/" class="go-to-home"></a>
    </div>
    <!--回到顶部 end-->

    <!--footer-->
    <footer class="footer">
        <img class="tel-400" width="147" height="34" src="http://www.tecenet.com/skin/sogex/images/tel-400.png" alt="">
        <div class="links">
            <a href="feekback.php">用户反馈</a>|
            <a href="http://wap.tecenet.com/" target="_blank">天成医疗网</a>|
            <a href="http://hao.tecenet.com/" target="_blank">医疗厂家导航</a>
        </div>
        <p>版权所有 ©广州天成医疗技术股份有限公司</p>
        <p>CopyRight ©Guangzhou TianCheng Medical Technology Co.,Ltd.</p>
    </footer>
    <!--footer end-->
<div style="display:none;">{template 'so_analytics','include'}</div>
	<!-- <script  src="{DT_PATH}file/script/sogex/zepto.min.js"></script> -->
    <script src="{DT_PATH}file/script/sogex/jquery.min.js"></script>
    <script src="{DT_PATH}file/script/sogex/jquery.highlight.js"></script>
    <script src="{DT_PATH}file/script/sogex/echo.min.js"></script>
    <script src="http://wap.tecenet.com/static/js/jquery.cookie.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript">
	$(document).ready(function(){
		var seg_word = "{$sword_str}";
		var seg_arr = seg_word.split("','");
		for(var i in seg_arr){
			$('.res-card .card-title,.res-card .abst').highlight(seg_arr[i]);
		}
		
		$('.kefu_tel').click(function(){
			$.post('{DT_PATH}ajax.php?action=tel_count&title='+$(this).data('title')+'&telephone='+$(this).data('tel')+'&from='+window.location.href+'&username={$_username}');
		});
		
		$('#baidu-server').click(function(){
			$.post('{DT_PATH}ajax.php?action=tel_count&title='+$(this).data('title')+'&telephone='+$(this).data('tel')+'&from='+window.location.href+'&username={$_username}');
			
		});
	});
	</script>
    <script>
        var localUrl = encodeURIComponent(window.location.href.split("#")[0]);
        var shareTitle = $("#keyword").val();
        $.ajax({
            url: 'http://www.tecenet.com/api/weixin/jssdk.php?callback=cb&url='+localUrl,
            dataType: 'jsonp',
            error: function(){},
            success: function(cb){
                if ( typeof cb.timestamp != 'undefined' && typeof cb.nonceStr != 'undefined' && typeof cb.signature != 'undefined' ) {
                    wx.config({
                        debug: false,
                        appId: cb.appId,
                        timestamp: cb.timestamp,
                        nonceStr: cb.nonceStr,
                        signature: cb.signature,
                        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
                    });
                    wx.ready(function () {
                    	
                        wx.onMenuShareTimeline({
                            title: '{$seo_title}',
                            link: window.location.href,
                            imgUrl: "http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png"
                        });
                        wx.onMenuShareAppMessage({
                            title:  '{$seo_title}',
                            desc: '{$seo_description}',
                            link: window.location.href,
                            imgUrl: 'http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png',
                            type: '',
                            dataUrl: ''
                        });
                        wx.onMenuShareQQ({
                            title:  '{$seo_title}',
                            desc: '{$seo_description}',
                            link: window.location.href,
                            imgUrl: 'http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png'
                        });
                        wx.onMenuShareWeibo({
                            title: '{$seo_title}',
                            desc: '{$seo_description}',
                            link: window.location.href,
                            imgUrl: 'http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png'
                        });
                    });
                }
            }
        });
    </script>
    <script>
    /*客服展开收起*/
    $('.c-contact .hd').click(function(){
        if($(this).hasClass("act")){
            $(".c-contact .bd").hide();
            $(this).removeClass("act");
        }else{
            $(".c-contact .bd").show();
            $(this).addClass("act");
        }
    });
        /*导航展开收起*/
        $('.menu-btn').click(function(){
            if($(this).hasClass("act")){
                $(this).html("更多<i></i>");
                $(".menu-more").hide();
                $(this).removeClass("act");
				$(".header").removeClass("show-menu");
            }else{
                $(this).html("收起<i></i>");
                $(".menu-more").show();
                $(this).addClass("act");
				$(".header").addClass("show-menu");
            }
        });
        /*回到顶部*/
        $(window).scroll(function() {
            if ($(window).scrollTop() > 600) {
                $(".tool .go-to-top").show();
            } else {
                $(".tool .go-to-top").hide();
            }
        });
        $(".tool .go-to-top").click(function(){
            $('body,html').scrollTop(0);
            return false;
        });
        /*图片懒加载*/
        echo.init({
            offsetVertical: 100,
            offsetHorizontal:300,
            throttle: 250,
            unload: false
        });
	$(document).ready(function(){	
		$.ajax({
			type:'GET',
			url:'http://'+window.location.host+'/ajax.php',
			cache:true,
			data:'action=sogex_related&keyword='+$('#keyword').val()+'&type='+$('#type').val(),
			success:function(data,status){
				if(data != ''){
					var kw = $('#keyword').val();
					var type = $('#type').val();
					var keyword = data.split('|');
					var keyword_str = '';
					for(var i in keyword){
						keyword_str += '<a href="msearch.php?keyword='+keyword[i]+'&type='+type+'" >'+keyword[i]+'</a>';
					}
					$('#related').html(keyword_str);
				}else{
					$('.relative-words').css('display','none');
				}
			},
			error:function(XMLHttpRequest,textStatus,errorThrown){},
		});
	});
    </script>
</body>
</html>