                    <!--新闻内容-->
                    <div class="swiper-slide">
                        <dl class="card">
                            <dt class="hd"><span>热门点击排行榜</span></dt>
                            <dd class="bd hot-list">
                            	{loop $hot_news $hk $hv}
                            	<a href="{so_rewrite('mdetail.php?itemid='.$hv['infoid'].'&infotype=3')}">{$hv['title']}</a>
                            	<?php if($hk > 6) break; ?>
                            	{/loop}
                            </dd>
                        </dl>

                        <div id="mtab{$v['catid']}" class="card news-card">
                            {tag("table=sogex_info_news&condition=status=3&pagesize=10&order=itemid desc&template=list_sogex_mnews")}
                        </div>
                       <input type="hidden" id="page{$v['catid']}" value="1" />
                    </div>
                    <!--新闻内容 end-->