<!--商家内容-->
<div class="swiper-slide">
<div id="mtab{$v['catid']}" class="card business-card clearfix">
<?php 
$vip_company = $db->query("select linkurl from {$db->pre}view_company_vip");
$vip_arr = array();
while($r = $db->fetch_array($vip_company)){
	$vip_arr[] = $r['linkurl'];
}
$count = count($vip_arr);
if($count > 10){   //vip总数大于10，随机获得10个vip
	$vip_rand_key = array_rand($vip_arr,10);
	foreach($vip_rand_key as $vrand){
		$vip_rand[] = $vip_arr[$vrand];
	}
	shuffle($vip_rand);
	$vip_url = implode("','",$vip_rand);
}else{
	shuffle($vip_arr);
	$vip_url = implode("','",$vip_arr);
}
$tags = tag("table=view_sogex_company_vip&condition=status = 3 and url in ('$vip_url')&pagesize=10&template=null");
$vip = 1;
include template('list_sogex_mcompany','tag');
?>
{tag("table=sogex_info_company&condition=status=3 and thumb <> ''&pagesize=10&order=itemid desc&template=list_sogex_mcompany")}
</div>
<input type="hidden" id="page{$v['catid']}" value="1" />
</div>
<!--商家内容 end-->