{php $socss=array();$so_footer_js=array('jquery.min.js','sogex_search.js','sogex_common.js','jquery.highlight.js');}
<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <link rel="shortcut icon" href="{SO_SKIN}/images/sogex.ico" />
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/style.css" />
  {loop $socss $k $v}
  <link rel="stylesheet" type="text/css" href="{SO_SKIN}/{$v}" />
  {/loop}
 
  {loop $so_top_js $k $v}
  <script type="text/javsscript" src="{DT_PATH}file/script/{$v}"></script>
  {/loop}
  <title>{$seo_title}</title>
  <meta name="keywords" content="{$seo_keyword}"/>
  <meta name="description" content="{$seo_description}"/>
 </head>
<body style=" background: #FFF;">
<div id="layout">
	<!--导航-->
	{template 'menu',$module}
	{template 'tools',$module}
	<!--导航-->	

	<!--中间主体-->
	<div id="wrapper_wrapper">
		
		<div id="container">
		<!--BEGIN #CONTENT_LEFT-->
		<div id="content">
		{if empty($result_total)}
		<div class="no-res">
                <p class="icon">很抱歉，没有找到</p>
                <p class="keyword">“{$keyword}”</p>
                <p class="txt">相关的结果</p>
        </div>
		{else}
		<div class="result-nums">
			天成医搜收录相关结果约{$result_total}个
		<!--	<a href="javascript:;" class="search-tools"><i></i>搜索工具</a> -->
		</div>

		{if !empty($spread_arr)}
		{template 'spread_top3',$module}
		{/if}
		{template 'list-search',$module}	
		<div id="page">
		{$pages}
		<span class="nums" style="margin-left:20px">找到相关结果约{$result_total}个</span>
		</div>
		<!--客服-->
		<div class="c-service">
			{if $type > 0}
			<div class="c-contact">
				<div class="hd">未找到您想要的？可转入人工服务</div>
				<ul class="bd clearfix">
					{php $qq_arr = array(1=>'786466321',2=>'2300379865',3=>'657911476',4=>'1928771453',5=>'1928771453',6=>'657911476',7=>'657911476');}
					{php $telephone_arr = array(1=>'020-22017986',2=>'020-22017985',3=>'4006173599',4=>'020-22017982',5=>'020-22017982',6=>'4006173599',7=>'020-22017996');}
					<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$qq_arr[$type]}&site=qq&menu=yes&s=tecenet.com" target="_blank"><i class="qq"></i><span>{$info_type_lists[$type]['name']}在线QQ客服</span></a></li>
					<li><i class="tel"></i><span>{$info_type_lists[$type]['name']}热线：{$telephone_arr[$type]}</span></li>
				</ul>
			</div>
			<div class="or"><em>或</em></div>
			{/if}
			<a href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&userId=6452136&s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);"><img src="{SO_SKIN}/images/c-service-img-pc.png" alt=""></a>
		</div>
		<!--客服 end-->
		{/if}
		</div>
		<!--END #CONTENT_LEFT-->
		<!--BEGIN #CONTENT_right-->
		<div class="sidecolumnbox"  class="fl">
				
			<div class="sidecolumn">
				<div class="columnbox">
					<div class="tuijian_title"><span>天成网为您推荐产品</span><a href="{DT_PATH}chanpin/search.php?kw={$keyword}" target="_blank">更多>> </a></div>
					<div class="tuijian_c clearfix">
					<?php foreach($malls as $k=>$r){ ?>
						<?php if($k > 5) break; ?>
						<div class="tj_box">
							<div class="tj_img"><a href="{DT_PATH}chanpin/{$r['linkurl']}"><img src="{$r['thumb']}" onerror="javascript:this.src='{SO_SKIN}/images/nopic.gif';" alt="{$r['title']}" title="{$r['title']}"></a></div>
							<div class="tj_small"><a href="{DT_PATH}chanpin/{$r['linkurl']}" title="{$r['title']}">{dsubstr($r['title'],12,'...')}</a></div>
						</div>
					<?php } ?>
					</div>
				</div>


				<div class="columnbox">
					<div class="tuijian_title"><span>天成网为您推荐技术服务</span><a href="{DT_PATH}fuwu/search.php?kw={$keyword}" target="_blank">更多>> </a></div>
					{php $fuwu = $db->query("select * from {$db->pre}job where title like '%$keyword' and status = 3 order by addtime limit 0,6");}
					<?php if($db->num_rows($fuwu) < 1){ $fuwu = $db->query("select * from {$db->pre}job where status = 3 order by addtime limit 0,6");} ?>
					<div class="tuijian_c clearfix ">
					<?php while($r = $db->fetch_array($fuwu)){ ?>
							<div class="ellipsis" style="border-bottom:1px dashed #ccc;padding:6px 0px;">&nbsp;·&nbsp;<a href="{DT_PATH}fuwu/{$r['linkurl']}" title="{$r['title']}" target="_blank">{dsubstr($r['title'],45,'...')}</a></div>
					<?php } ?>
						
					</div>
				</div>

				<!--推广链接-->
				{template 'spread_right',$module}

			</div>
		</div>
		<!--END #CONTENT_right-->
		<div class="clearfix"></div>
		<!--Page-->
		
	<!--END Page-->
  </div>
  </div>
  <!--END中间主体-->
  {template 'related',$module}


	<!-- side-tool -->
	<div class="side-tool">
	    <a href="javascript:;" class="side-tool-tel">
	        <div><p>天成医疗网客服热线</p><p>400-617-3599</p></div>
	    </a>
	    <a href="javascript:;" class="side-tool-android">
	        <div><img src="{SO_SKIN}/images/app-qrcode.png" alt="天成安卓应用二维码"></div>
	    </a>
	    <a href="javascript:;" class="side-tool-qrcode">
	        <div><img src="{SO_SKIN}/images/so-qrcode.png" alt="医搜二维码"></div>
	    </a>
	    <a href="feekback.php" class="side-tool-feekback"></a>
	</div>
	<!-- side-tool end-->

  	<!--Footer-->
	<div id="footer" class="footer">
	    <div class="foot clearfix">
	        <div class="copyright pull-left">
	            <div class="link">
	                <a href="feekback.php">用户反馈</a>|<a href="http://hao.tecenet.com/" target="_blank">医疗厂家导航</a>
	            </div>
	            <p>版权所有©广州天成医疗技术股份有限公司 / CopyRight © Guangzhou TianCheng Medical Technology Co.,Ltd. / 粤ICP备13045514号</p>
	        </div>
	        <div class="tel-400 pull-right">
	            <img src="{SO_SKIN}/images/tel-400.png" alt="">
	        </div>
	    </div>
	</div>
	<!--Footer end-->


</div>
 <!-- JavaScript Includes -->
{loop $so_footer_js $k $v}
<script type="text/javascript" src="{DT_PATH}file/script/sogex/{$v}"></script>
{/loop}
<script type="text/javascript">
	$(document).ready(function(){
		var seg_word = "{$sword_str}";
		var seg_arr = seg_word.split("','");
		for(var i in seg_arr){
			$('.result h3,.result .res-desc').highlight(seg_arr[i]);
		}
	});
</script>
<script>
        // 搜索工具展开
        $(".search-tools").click(function(){
            $(".search-tools-wrap").slideDown();
            $(".result-nums").slideUp();
        });
        // 收起搜索工具
        $(".search-tools-retract").click(function(){
            $(".search-tools-wrap").slideUp();
            $(".result-nums").slideDown();
        });
        // 下拉选项展开
        $(".search-tools-wrap dl").each(function(i,obj){
            $(obj).find("dt").click(function(){
                $(".search-tools-wrap dl dd").hide();
                $(obj).find("dd").fadeIn(200);
            });
            // 空白区域关闭
            $(document).mouseup(function(e){
                var _con = $(obj);   // 设置目标区域
                if(!_con.is(e.target) && _con.has(e.target).length === 0){
                    $(".search-tools-wrap dl dd").hide();
                }
            });
        });
        $(".search-tools-wrap dl").each(function(i,obj){
            $(obj).find("ul>li>a").click(function () {
                var select_name = $(this).html();
                $(this).parent().parent().find("a").removeClass("current");
                $(this).addClass("current");
                $(obj).find("dt").html(select_name+'<i class="arrow"></i>');
            });
        });
</script>
<div style="display:none;">{template 'so_analytics','include'}</div>
</body>
</html>

