			<div class="result_l c-container" >			
				<h3><a href="" target="_blank"><em>医疗器械</em>_百度百科</a></h3>
				<div class="c-row  clearfix">
					<div class="result_img">
						<a href="javascript:void(0);"><img class="res-img" width=120 height=90 src="images/58.jpg"></a>
					</div>
					<div class="result_c">
						<p class="res-desc"><em>医疗器械</em>是指直接或者间接用于人体的仪器、设备、器具、体外诊断试剂及校准物、材料以及其他类似或者相关的物品，包括所需要的计算机软件。效用主要通过物理等方式获得，不是通...</p>
						<p class="res-linkinfo"><b>baike.baidu.com</b>--<a href=""  target="_blank">默沙东公司</a>--<span class="blue">推广链接</span> &nbsp&nbsp<a href="detail.html">快照</a></p>
					</div>
				</div>
			</div>

			<div class="result_l c-container" >			
				<h3><a href="" target="_blank">上海<em>医疗器械</em>--首页</a></h3>	
				<p class="res-desc">植入介入器材专业委员会 体外诊断系统专委会 上海浦东医疗器械贸易行业协会 更多 简介 协会结构图 会员名录 入会申请须提供的资料要求 会员单位基础信息表(...</p>
				<p class="res-linkinfo"><b>www.smianet.com</b>--<a href="" target="_blank">站外结果</a> --<span class="blue">推广链接</span> &nbsp&nbsp<a href="detail.html">快照</a></p>
			</div>

			<div class="result_l c-container" >			
				<h3><a href="" target="_blank"><em>医疗器械</em>分类目录</a></h3>	
				<p class="res-desc">01.《<em>医疗器械</em>分类目录》的说明 02.6801基础外科手术器械 03.6802显微外科手术<em>器械</em> 04.6803神经外科手术器械 05.6804眼科手术器械 06.6805耳鼻喉科手术器械 07...</p>
				<p class="res-linkinfo"><b>wwwsda.gov.cn/gyx</b>--<a href="" target="_blank">站外结果</a>--<span class="blue">推广链接</span> &nbsp&nbsp<a href="detail.html">快照</a></p>
			</div>