{loop $spread_arr $k $v}
<?php if($k == 3) break; ?>
{if $v['thumb']}
		<div class="result" >
				{php $wtitle=get_wildcard($v['title'],$keyword,50)}
                                <h3><a href="link.php?t={$v[itemid]}&u={urlencode($v['url'])}&kw={urlencode($keyword)}" target="_blank">{if $wtitle}{dsubstr($wtitle,50,'...')}{else}{dsubstr($v['default_name'],50,'...')}{/if}</a></h3>
                                <div class="c-row  clearfix">
                                        <div class="result_img">
                                                <a href="link.php?t={$v['itemid']}&u={urlencode($v['url'])}&kw={urlencode($keyword)}"><img class="res-img" width=120 height=90 src="{$v['thumb']}"></a>
					 </div>
                                        <div class="result_c">
					{php $wdescription=get_wildcard($v['description'],$keyword,180)}
                                                <p class="res-desc">
						{if $wdescription}{dsubstr($wdescription,180,'...')}{else}{dsubstr($v['default_description'],180,'...')}{/if}</p>
                                                <p class="res-linkinfo"><b>{php $hosts=parse_url($v['url'])}
						{$hosts['host']}</b>&nbsp;&nbsp;&nbsp;<span style="color:#008000;">{date('Y-m',$v['addtime'])}</span>&nbsp;--&nbsp;<span class="blue">推广链接</span>&nbsp&nbsp</p>
                                        </div>
                                </div>
                        </div>
{else}
		<div class="result" >
                                <h3><a href="link.php?t={$v[itemid]}&u={urlencode($v['url'])}&kw={urlencode($keyword)}" target="_blank">
{php $wtitle=get_wildcard($v['title'],$keyword,50)}
{if $wtitle}{dsubstr($wtitle,50,'...')}{else}{dsubstr($v['default_name'],50,'...')}{/if}</a></h3>
                                <p class="res-desc">{php $wdescription=get_wildcard($v['description'],$keyword,180)}
{if $wdescription}{dsubstr($wdescription,180,'...')}{else}{dsubstr($v['default_description'],180,'...')}{/if}
</p>
                               <p class="res-linkinfo">
				<b>{php $hosts=parse_url($v['url'])}
				{$hosts['host']}</b>
				&nbsp;&nbsp;&nbsp;<span style="color:#008000;">{date('Y-m',$v['addtime'])}</span>&nbsp;--&nbsp;<span class="blue">推广链接</span> &nbsp&nbsp</p>
                        </div>
{/if}
{/loop}
