<div id="con_two_{$v['catid']}" {if $k != '0'}style="display:none;"{/if} data="{$v['catid']}">
<input type="hidden" id="page{$v['catid']}" value="1" />

<div class="span8">
{tag("table=sogex_info_tech&condition=status = 3&pagesize=$pagesize&order=itemid desc&template=list_sogex_tech")}
</div>
<div class="span4">
	<div class="sidebar">
	 <div class="areaInfoData clearfix">
	<dl>
		<dt class="bgcolorF8">推荐医疗科技网站:<a class="join-to" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);">申请加入</a></dt>
		<dd>
			<ul class="website-list">
				<li class="item">
					<div class="img-area"><img src="http://www.tecenet.com/skin/sogex/images/tecenet-logo-sm.jpg" /></div>
					<div class="txt-area">
						<div class="item-title">
							<a href="{DT_PATH}" class="website" target="_blank">天成医疗网</a>
							<a href="{DT_PATH}member/grade.php" class="v-icon" target="_blank" title="天成医疗网认证" ><img src="{SO_SKIN}/images/v-icon.png" alt="天成医疗网认证" /></a>
						</div>
						<p class="description">天成医疗网-医疗器械网专业医疗器械供求信息与医疗器械供应、采购、招标；医疗器械维修、保养、调试等技术服务；国内、国外进口医疗器械厂家品牌招商推广平台。为医疗器械企业、医院等机构提供全方位技术与产品服务！</p>
					</div>
				</li>
	        </ul>
		</dd>
	</dl>
</div>
						<div class="areaInfoData clearfix">
							<dl>
								<dt class="bgcolorF8">应用领域分类:</dt>
								<dd><a href="http://tech.tecenet.com/search-htm-catid-2304-stype-1.html" target="_blank">技术成果</a></dd>
								<dd><a href="http://tech.tecenet.com/search-htm-catid-2304-stype-0.html" target="_blank">技术需求</a></dd>
								<dd><a href="http://tech.tecenet.com/search-htm-catid-2304-stype-0.html" target="_blank">实验外包</a></dd>
								<dd><a href="http://tech.tecenet.com/search-htm-catid-2305-stype-1.html" target="_blank">提供注册临床咨询</a></dd>
								<dd><a href="http://tech.tecenet.com/search-htm-catid-2305-stype-0.html" target="_blank">注册临床咨询需求</a></dd>
							</dl>
						</div>
	</div>
					</div>
</div>	

