<div id="con_two_0" data="0">
<input type="hidden" value="1" id="page0" />
	<div id="content">
		{tag("table=spread&condition=status=3 and spread_status=3 and mid=99 and least > spend&pagesize=$pagesize&order=total desc&group=tid&template=list_sogex_spread")}
		<!--推广内容 -->
		{php $c=$db->get_one("select count(*) as c from {$db->pre}spread where status =3 and spread_status = 3 and mid = 99 and least > spend group by $tid"); }

		{php $count=$c['c'];}
		<!-- 补充内容 -->
		{if $count < 10}
			{php $cpagesize = $pagesize - $count;}
			{tag("table=sogex_info&condition=status=3&order=addtime desc&pagesize=$cpagesize&order=addtime desc&template=list_sogex_news")}
		{/if}
		<div id="slide0"></div>
	</div>
		
		<div class="sidecolumnbox" style="position: relative;">
		<div class="sidecolumn">
		<dl>
		<dt>一周热点新闻</dt>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷通泰瑞 快速切入医疗</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷通泰瑞 快速切入医疗O</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷通泰瑞 快速切入医疗O</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷通泰瑞 快速器械CRO</a></dd>
		<dd><a href="#" target="_black">国家食品药品监管总局1日发布的度医疗器械注</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷通泰瑞切入医疗器械CRO</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元收购捷切入医疗器械CRO</a></dd>
		<dd><a href="#" target="_black">泰格医药:6亿元捷通泰瑞 快速切入医疗器械CRO</a></dd>
		<dd><a href="#" target="_black">泰格元收购捷通泰瑞 快速切入医疗器械CRO</a></dd>
		<dd><a href="#" target="_black">国家食局1日发布的《2015年度医疗器械注</a></dd>
		</dl>
		</div>
		</div>
	
</div>
