<div id="con_two_{$v['catid']}" {if $k != '0'}style="display:none;"{/if} data="{$v['catid']}">
<input type="hidden" id="page{$v['catid']}" value="1" />
<div class="span8">
{tag("table=sogex_info_fuwu&condition=status = 3&pagesize=$pagesize&order=itemid desc&template=list_sogex_fuwu")}
<div id="slide{$v['catid']}"></div>
</div>
<div class="span4">
	<div class="sidebar">
		 <div class="areaInfoData clearfix">
	<dl>
		<dt class="bgcolorF8">推荐维修服务网站:<a class="join-to" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);">申请加入</a></dt>
		<dd>
			<ul class="website-list">
				<li class="item">
					<div class="img-area"><img src="http://www.tecenet.com/skin/sogex/images/tecenet-logo-sm.jpg" /></div>
					<div class="txt-area">
						<div class="item-title">
							<a href="{DT_PATH}" class="website" target="_blank">天成医疗网</a>
							<a href="{DT_PATH}member/grade.php" class="v-icon" target="_blank" title="天成医疗网认证" ><img src="{SO_SKIN}/images/v-icon.png" alt="天成医疗网认证" /></a>
						</div>
						<p class="description">天成医疗网-医疗器械网专业医疗器械供求信息与医疗器械供应、采购、招标；医疗器械维修、保养、调试等技术服务；国内、国外进口医疗器械厂家品牌招商推广平台。为医疗器械企业、医院等机构提供全方位技术与产品服务！</p>
					</div>
				</li>
	        </ul>
		</dd>
	</dl>
</div>
						<div class="areaInfoData clearfix">
							<dl>
								<dt class="bgcolorF8">技术需求分类:</dt>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-0-catid-280.html"  target="_blank">维修服务</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-0-catid-1803.html" target="_blank">检测服务</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-0-catid-1805.html" target="_blank">安装服务</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-0-catid-1806.html" target="_blank">升级服务</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-0-catid-1807.html" target="_blank">保养服务</a></dd>
							</dl>
						</div>
						<div class="areaInfoData clearfix">
							<dl>
								<dt class="bgcolorF8">地区:</dt>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-1-catid-0.html" target="_blank">北京</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-3-catid-0.html" target="_blank">天津</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-5-catid-0.html" target="_blank">河北</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-7-catid-0.html" target="_blank">内蒙古</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-8-catid-0.html" target="_blank">辽宁</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-9-catid-0.html" target="_blank">吉林</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-20-catid-0.html" target="_blank">广东</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-21-catid-0.html" target="_blank">广西</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-2-catid-0.html" target="_blank">上海</a></dd>
								<dd><a href="http://www.tecenet.com/fuwu/search-htm-kstep-0-action-job-areaid-33-catid-0.html" target="_blank">香港</a></dd>
							</dl>
						
						</div>
	</div>
</div>
</div>				

