{template 'header', $template}
<script src="{DT_STATIC}file/script/layer.min.js"></script>
<link rel="stylesheet" type="text/css" href="{DT_STATIC}{$MODULE[4][moduledir]}/skin/company_profile.css"/>
<div class="c_b"></div>
<div class="m company_mall_bg">
	<div class="company_title bgcolor_f8">
		<div class="company_words company_left">项目案例</div>
		<span class="company_letter company_left">PROJECT CASES</span>
		<div class="c_b"></div>
		<div class="company_line"></div>
	</div>
	<div class="company_white_bg">
		<ul id="brand_nr">
			<li class="f_l">
				<div class="brand_img">
					<img src="/company/image/project1.png" data-title="我是标题1" data-content="我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1"/>
					<div class="brand_title"></div>
					<span>科研实验室</span>
				</div>
			</li>
			<li class="brand_li_2 f_l">
				<div class="brand_img">
					<img src="/company/image/project2.png" data-title="我是标题2" data-content="我是内容2"/>
					<div class="brand_title"></div>
					<span>机场</span>
				</div>
			</li>
			<li class="f_l">
				<div class="brand_img">
					<img src="/company/image/project3.png" data-title="我是标题3" data-content="我是内容3"/>
					<div class="brand_title"></div>
					<span>手术室</span>
				</div>
			</li>
			<li class="f_l">
				<div class="brand_img">
					<img src="/company/image/project1.png" data-title="我是标题1" data-content="我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1我是内容1"/>
					<div class="brand_title"></div>
					<span>科研实验室</span>
				</div>
			</li>
			<li class="brand_li_2 f_l">
				<div class="brand_img">
					<img src="/company/image/project2.png" data-title="我是标题2" data-content="我是内容2"/>
					<div class="brand_title"></div>
					<span>机场</span>
				</div>
			</li>
			<li class="f_l">
				<div class="brand_img">
					<img src="/company/image/project3.png" data-title="我是标题3" data-content="我是内容3"/>
					<div class="brand_title"></div>
					<span>手术室</span>
				</div>
			</li>
			<div class="c_b"></div>
		</ul>
	</div>
</div>
<script type="text/javascript">
	$(".brand_img").click(function () {
		layer.use('extend/layer.ext.js', function () {
			//初始加载即调用，所以需放在ext回调里
			layer.ext = function () {
				layer.photosPage({
					html: '',
					title: '',
					id: '', //相册id，可选
					parent: '#brand_nr'
				});
			};
		});
	});
</script>
{template 'footer'}
