{template 'header', $template}
<link rel="stylesheet" type="text/css" href="{DT_STATIC}{$MODULE[4][moduledir]}/skin/company_profile.css"/>
<div class="c_b"></div>
<div class="m company_bg">
	<div class="company_title bgcolor_f8">
		<div class="company_words company_left">联系我们</div>
		<span class="company_letter company_left">CONTACT US</span>
		<div class="c_b"></div>
		<div class="company_line"></div>
	</div>
	<div class="company_desc">
		<span style="display: block;height: 40px;line-height: 40px;font-size: 22px;margin-bottom: 10px;">{$contact[company]}</span>
		<div class="contact_table">
			<div class="contact_data f_l">
				<div class="contact_data_title f_l">
					电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话：
				</div>
				<div class="contact_data_nr f_l">
					{$contact[telephone]}
				</div>
			</div>
			<div class="contact_data f_l">
				<div class="contact_data_title f_l">
					传&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;真：
				</div>
				<div class="contact_data_nr f_l">
					{$contact[fax]}
				</div>
			</div>
			<div class="contact_data f_l">
				<div class="contact_data_title f_l">
					移动电话：
				</div>
				<div class="contact_data_nr f_l">
					{$contact[mobilePhone]}
				</div>
			</div>
			<div class="contact_data f_l">
				<div class="contact_data_title f_l">
					邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;编：
				</div>
				<div class="contact_data_nr f_l">
					{$contact[postcode]}
				</div>
			</div>
			<div class="contact_data_dz f_l">
				<div class="contact_data_title f_l">
					地&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;址：
				</div>
				<div class="f_l" style="width: 525px;">
					{$contact[address]}
				</div>
			</div>
			<div class="c_b"></div>
		</div>
		<div style="width: 700px;">
		{php $map_height = 250;}
		{php @include DT_ROOT.'/api/map/'.$api_map.'/show.inc.php';}
		{php $coname = urlencode($COM[company]);}
		{php $uaddress = urlencode($COM[address]);}
		</div>
	</div>
</div>
{template 'footer'}
