{template 'header', $template}
<script src="{DT_STATIC}file/script/layer.min.js"></script>
<link rel="stylesheet" type="text/css" href="{DT_STATIC}{$MODULE[4][moduledir]}/skin/company_profile.css"/>
<div class="c_b"></div>
<div class="m company_mall_bg">
	<div class="company_title bgcolor_f8">
		<div class="company_words company_left">产品展示</div>
		<span class="company_letter company_left">PRODUCT DISPLAY</span>
		<div class="c_b"></div>
		<div class="company_line"></div>
	</div>
	<div class="company_white_bg">
		<div class="mall_left f_l">
			<div class="mall_top">
				全部分类
			</div>
			<div id="firstpane" class="menu_list">
				{loop $CAT $k $v}
				{if $v['parentid']==0}
				<p class="menu_head current">{$v['catname']}</p>
				<div style="display:none" class=menu_body >
					{loop $CAT $k1 $v1}
					{if $v1['parentid']==$v['catid']}
					<a href="/index.php?homepage={$username}&file=mall&typeid={$v1['catid']}">{$v1['catname']}</a>
					{/if}
					{/loop}
				</div>
				{/if}
				{/loop}
			</div>
		</div>
		<div class="mall_right f_r">
			{loop $lists $k $v}
			<div class="mall_product marginleft23">
				<a href="{$v[linkurl]}">
					<img src="{$v[img]}"/>
				<span>
					{$v[title]}
				</span>
				</a>
			</div>
			{/loop}
		</div>
		<div class="mall_page f_r">
			{$pages}
		</div>
		<div class="c_b"></div>
	</div>
</div>
<script type=text/javascript>
	$(document).ready(function(){
		$("#firstpane .menu_body:eq(0)").show();
		$("#firstpane p.menu_head").click(function(){
			$(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
			$(this).siblings().removeClass("current");
		});
		$("#secondpane .menu_body:eq(0)").show();
		$("#secondpane p.menu_head").mouseover(function(){
			$(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
			$(this).siblings().removeClass("current");
		});
	});
</script>
{template 'footer'}
