{php $sitemenu='xinxi';$listpage='list';}
{template 'header'}</div></div>
<style type="text/css">
	#webbodycontent{display:none}
</style>
<div class="autoheight" style="background: url('{DT_SKIN}/image/quote/bg.png');">
<div class="webw">{template 'lay','tag'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="autoheight grayb whitebg">
								
															<dl class="options">
															<dt>信息分类：</dt>
															<dd>
{php $arrpa = $CAT[arrparentid];$b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);$getl_1=$l['1'];}
{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
<a href="{$t[linkurl]}" class=" {if $catid==$t[catid] || $t[catid] == $l[1]}opyes wcolor{else}color{/if}">{set_style($t[catname],$t[style])} <i>({$t[item]})</i></a>
{/loop}	
															</dd>
															</dl>
															<dl class="options">
															<dt>二级分类：</dt>
															<dd>
<a href="{$MOD[linkurl]}list.php?catid={if $b==0}{$catid}{elseif $b==1}{$l[1]}{elseif $b==2}{$l[1]}{/if}" class=" {if $b==0}opyes wcolor{else}color{/if}">全部</a>
{if $b==0}
{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and arrparentid = '0,$catid' &order=listorder ASC&template=null&debug=0")}
{loop $sunTag $s $g}
<a href="{$g[linkurl]}" class=" {if $catid==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
{/loop}
{elseif $b==1}
{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and arrparentid = '$arrpa' &order=listorder ASC&template=null&debug=0")}
{loop $sunTag $s $g}
<a href="{$g[linkurl]}" class=" {if $catid==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
{/loop}
{elseif $b==2}
{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and arrparentid = '0,$getl_1' &order=listorder ASC&template=null&debug=0")}
{loop $sunTag $s $g}
<a href="{$g[linkurl]}" class=" {if $l[2]==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
{/loop}
{/if}
															</dd>
															</dl>
															<dl class="options">
															<dt>三级分类：</dt>
															<dd>
<a href="{$MOD[linkurl]}list.php?catid={if $b==0}{$catid}{elseif $b==1}{$catid}{elseif $b==2}{$l[2]}{/if}"class=" {if $b==0 || $b==1}opyes wcolor{else}color{/if}">全部</a>
{if $b==0}
	{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and child = 0 and arrparentid like '%,$catid,%'&order=listorder ASC&template=null&debug=0")}
	{loop $sunTag $s $g}
	<a href="{$g[linkurl]}" class=" {if $catid==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
	{/loop}
{elseif $b==1}
	{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and  arrparentid = '$arrpa,$catid' and child = 0&order=listorder ASC&template=null&debug=0")}
	{loop $sunTag $s $g}
	<a href="{$g[linkurl]}" class=" {if $catid==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
	{/loop}
{elseif $b==2}
	{php $sunTag = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and  arrparentid = '$arrpa' and child = 0&order=listorder ASC&template=null&debug=0")}
	{loop $sunTag $s $g}
	<a href="{$g[linkurl]}" class=" {if $catid==$g[catid]}opyes wcolor{else}color{/if}">{set_style($g[catname],$g[style])} <i>({$g[item]})</i></a>
	{/loop}
{/if}
															</dd>
															</dl>
															{template 'form',$module}
<div class="divline graybg"></div>
<div class="autoheight whitebg pd10">
				<div class="listleft autoheight ">

							{if $tags}
	{template 'list-'.$module, 'tag'}
		{else}
		{template 'noresult', 'message'}
		{/if}


				</div>
				<div class="listright autoheight graybg">
					{template 'right', $module}	
				</div>

<div class="divline"></div>
</div>
{template 'footer'}