<div class="graybg" id='rights'>

	<dl>
	<dt class='f18 tc color pd5 b'>推荐{$MOD[name]}</dt>
	<dd>
	<ul class="ullist" style="margin-left:-5px;">
	<!--{tag("moduleid=$moduleid&table=xinxi_27&fields=catid,linkurl,title&condition=status=3&catid=$catid&order=level desc,hits desc&width=230&pagesize=10&template=list-news&debug=0")}-->
	</ul>
	</dd>
	<div class="divline"></div>
	</dl>

	<dl>
	<dt class='f18 tc color pd5 b'>{$MOD[name]}点击排行</dt>
	<dd>
	<ul class="ullist" style="margin-left:-5px;">
	<!--{tag("moduleid=7&fields=catid,linkurl,title&condition=status=3&width=230&order=hits desc&hot=1&pagesize=10&template=list-news&debug=0")}-->
	</ul>
	</dd>
	</dl>


</div>
<div class="divline"></div>
<div class="tc center">{ad(128)}</div>
<div class="divline"></div>