{template 'header'}
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=blue"></script>
<script type="text/javascript" src="{DT_PATH}file/script/msclass.js"></script>
	<div class="w240 fl autoheight"><!-- 左边内容开始-->
														{template 'member','tag'}
													
													<div class="divline"></div>
														<div class="{if $action=='resume'}blue{else}orange{/if}"><h4 class="h4title">{if $action=="resume"}工程师维修范围{else}设备报障{/if}分类</h4><span class="mores"><a href="javascript:void(0)"  onClick="msgbox('{$MODULE[4][name]}所有分类','/tree.php?moduleid=$moduleid')">全部展开</a></span></div>
															<div class="grayb nt h680 gdt pt10">
														
{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
																<dl class="tree">
																<dt class="treeno" onclick="chulai('tree{$t[catid]}')" onmouseover="this.className='treeyes'" onmouseout="this.className='treeno'"><a href="javascript:void(0)"class="ocolor">{$t[catname]}</a></dt>
																	<dd id="tree{$t[catid]}">
																		<p><a 
																		{if $action=="resume"}
																		href="{$MOD[linkurl]}{rewrite('search.php?action=resume&catid='.$t[catid])}"
																		{else}
																		href="{$t[linkurl]}"
																		{/if}
																		>直接打开：{$t[catname]}</a></p>
																		<ul>
																				{php $tagsk = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=".$t[catid]."&pagesize=30&order=listorder ASC&template=null&debug=0")}
																				{loop $tagsk $z $k}
																		<li><a
																		{if $action=="resume"}
																		href="{$MOD[linkurl]}{rewrite('search.php?action=resume&catid='.$k[catid])}"
																		{else}
																		href="{$k[linkurl]}"
																		{/if}

																		>	{$k[catname]}</a></li>
																				{/loop}
																		</ul>
																	</dd>
																</dl>

													{/loop}	</div>
									
													<div class="divline"></div>	
													<div class="orange"><h4 class="h4title">最新达成维修合作信息</h4></div>
															<div class="grayb nt autoheight pt10">
																<ul class="rank_list">
																</ul>
													</div>
													
											</div>
<div class="w730 fl autoheight ml10">

{if $action=="resume"}
<script type="text/javascript">var tagbg;tagbg=document.getElementById('tt9').src;document.getElementById('tt9').src=allmenu(tagbg)</script>
<script type="text/javascript">var tagbg;tagbg=document.getElementById('tt24').src;document.getElementById('tt24').src=allmenu(tagbg)</script>
														<div class="autoheight">
														<div class="fl cut w450" style="height:200px;">
														<script type="text/javascript" src="{DT_PATH}file/script/A32.js"></script>
														</div>
														
														<div class="fl w273 cut autoheight ml10">
														<div class="blue"><h4 class="h4title">各地工程师分布</h4></div>
														<div class="grayb nt cut" style="height:168px;">
														
														<dl class="areas autoheight ">
															<dd>{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															<a href="{$MODULE[9][linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'&action=resume')}"class="color lenstr">{$v[areaname]}</a>
															{/loop}</dd>
															</dl>
												
														</div>
														</div>
														<div class="divline"></div>
														</div>
														<div class="yinying"></div>
														<div class="divline"></div>
																<div class="autoheight w450 fl">
																<div class="blue"><h4 class="h4title">最新加入维修队伍的[{$MOD[page_iresume]}]的工程师简历</h4><span class="mores"><a href='{$MODULE[9][linkurl]}search-htm-action-resume.html'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h25 cut bluebg">
																<span class="lenstr w60 tc">加入时间</span>
																<span class="lenstr w90 tc">所在城市</span>
																<span class="lenstr w90 tl">简历名称</span>
																<span class="lenstr w190 tl">主修范围</span>
																</div>
																<div class="grayb nt cut" id="buydiv">
																

																	<div id="buylist" style="width:448px;height:274px;overflow:auto">
																	<ul class='gd'>
				{php $tagt = tag("moduleid=$moduleid&table=resume&condition=status=3 and open=3 and catid>0&areaid=$cityid&pagesize=".$MOD[page_iresume]."&order=edittime desc&template=null&debug=0&showcat=1")}
																		{php $c=1;}
																		{loop $tagt $z $t}
																		{php if($c==3){$c=1;}}
																		<li onmouseover="this.className='gs3'" {if fmod($c,2)==0}class="gs1" onmouseout="this.className='gs1'"{else}class="gs2" onmouseout="this.className='gs2'"{/if}> 
																		<a href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color"><span class="lenstr w60 tc">{timetodate($t[edittime],2)}</span>
																		<span class="lenstr w90 tc">[{area_pos($t[areaid], '/', 2)}]</span>
																		<span class="lenstr w90 tl">
																		{$t[title]}
																		</span>
																		<span class="lenstr w200 tl">
																		{$t[catname]}
																		</span></a>
																		</li>
																		{php $c=$c+1;}
																				{/loop}
																	</ul>
																	</div>
																</div>
											<script type="text/javascript">new Marquee(["buydiv","buylist"],0,1,448,274,30,0,0)	;</script>
															</div>
															<div class="autoheight w273 ml10 fl">
																<div class="green"><h4 class="h4title">工程师维修简历浏览排名</h4><span class="mores"><a href='{$MODULE[9][linkurl]}search-htm-action-resume.html'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h300 cut" id="selldiv">
																	<div style="width:359px;height:300px;overflow:auto">
																	<div class="plist">
																	<ul>
																	<!--{tag("moduleid=$moduleid&table=resume&condition=status=3 and open=3 and catid>0&areaid=$cityid&showcat=1&pagesize=10&length=20&order=hits desc,talent desc&template=list-resume")}-->
																	</ul>
																	</div>
																	</div>
																</div>
															</div>
											<div class="divline"></div>
																<div class="blue"><h4 class="h4title">本站推荐[18]工程师维修简历</h4><span class="mores"><a href='{$MODULE[9][linkurl]}search.php?level=1&action=resume'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt" style="height:610px;">
																<dl class="com1">
																<dd>
																<ul>
<!--{tag("moduleid=$moduleid&table=resume&condition=status=3 and open=3 and level>=0&areaid=$cityid&showcat=1&pagesize=18&length=20&order=edittime desc&template=list-resume-index")}-->
																</ul>
																</dd>
																</dl>
																</div>
{else}
														<div class="autoheight">
														<div class="fl cut w450" style="height:200px;">
														<script type="text/javascript" src="{DT_PATH}file/script/A31.js"></script>
														</div>
														
														<div class="fl w273 cut autoheight ml10">
														<div class="orange"><h4 class="h4title">各地报障信息分布</h4></div>
														<div class="grayb nt cut" style="height:168px;">
														
														<dl class="areas autoheight ">
															<dd>{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															<a href="{$MODULE[9][linkurl]}{rewrite('search.php?areaid='.$v['areaid'])}"class="ocolor lenstr">{$v[areaname]}</a>
															{/loop}</dd>
															</dl>
												
														</div>
														</div>
														<div class="divline"></div>
														</div>
														<div class="yinying"></div>
														<div class="divline"></div>
																<div class="autoheight w450 fl">
																<div class="blue"><h4 class="h4title">最新添加的[{$MOD[page_ijob]}]条维修信息</h4><span class="mores"><a href='{$MODULE[4][linkurl]}search.php'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h25 cut bluebg">
																<span class="lenstr w60 tc">加入时间</span>
																<span class="lenstr w90 tc">所在城市</span>
																<span class="lenstr w90 tl">设备分类</span>
																<span class="lenstr w190 tl">维修标题</span>
																
																</div>
																<div class="grayb nt cut" id="buydiv">
																

																	<div id="buylist" style="width:448px;height:274px;overflow:auto">
																	<ul class='gd'>
				{php $tagt =tag("moduleid=$moduleid&condition=status=3&areaid=$cityid&pagesize=".$MOD[page_ijob]."&length=20&order=".$MOD[order]."&template=null&showcat=1")}
																		{php $c=1;}
																		{loop $tagt $z $t}
																		{php if($c==3){$c=1;}}
																		<li onmouseover="this.className='gs3'" {if fmod($c,2)==0}class="gs1" onmouseout="this.className='gs1'"{else}class="gs2" onmouseout="this.className='gs2'"{/if}> 
																		<a href="{$t[linkurl]}" title="{$t[title]}" target='_blank' class="lenstr color"><span class="lenstr w60 tc">{timetodate($t[edittime],2)}</span>
																		<span class="lenstr w90 tc">[{area_pos($t[areaid], '/', 2)}]</span>
																		<span class="lenstr w90 tl">{$t[catname]}</span>
																		<span class="lenstr w190 tl">
																		{if $t[groupid]>5}<img src="{DT_SKIN}image/shield.gif" class="mid mr10"/>{else}<img src="{DT_SKIN}image/shield_no.gif" class="mid mr10"/>{/if}{$t[title]}
																		</span>
																		</a>
																		</li>
																		{php $c=$c+1;}
																				{/loop}
																	</ul>
																	</div>
																</div>
											<script type="text/javascript">new Marquee(["buydiv","buylist"],0,1,448,274,30,0,0)	;</script>

															</div>
															<div class="autoheight w273 ml10 fl">
																<div class="green"><h4 class="h4title">高价悬赏维修信息</h4><span class="mores"><a href='{$MODULE[4][linkurl]}search.php'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h300 cut" id="selldiv">
																	<div style="width:359px;height:300px;overflow:auto">
																	<div class="plist">
																	<ul>
																	<!--{tag("moduleid=$moduleid&condition=status=3 and maxsalary>0&pagesize=10&order=maxsalary desc&target=_blank&template=table-job")}-->
																	</ul>
																	</div>
																	</div>
																</div>
															</div>
											<div class="divline"></div>
																<div class="blue"><h4 class="h4title">本站推荐18条维修信息</h4><span class="mores"><a href='{$MODULE[4][linkurl]}search.php'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt" style="height:610px;">
																<dl class="com1">
																<dd>
																<ul>
<!--{tag("moduleid=$moduleid&condition=status=3 and groupid>5 &areaid=$cityid&pagesize=18&order=groupid desc&showcat=1&template=list-job-index")}-->
																</ul>
																</dd>
																</dl>
																</div>
{/if}


</div>

{template 'footer'}