{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>


{template 'lay','tag'}
<div class="autoheight pt5 grayb nt"><form action="{$MOD[linkurl]}search.php" id="fsearch">
														{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
														
														<dl class="options">		
														
														<dt>{$MOD[name]}分类：</dt>
														<dd><ul><li><a {if $catid==''} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('index.php?areaid='.$areaid.'&typeid='.$typeid)}">不限</a></li>
														{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[1]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[1]}
																	{php $childa=$t[child];$parenta=$t[catname];$catida=$t[catid];} 
																	{/if}
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{if $childa!=0}
															<dl class="options">
															<dt>{$parenta}的分类：</dt>
															<dd><ul><li><a {if $catid==$catida} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$catida)}">不限</a></li>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catida&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[2]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[2]}
																	{php $childb=$t[child];$parentb=$t[catname];$catidb=$t[catid];} 
																	{/if}
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{/if}
															{if $childb!=0}
															<dl class="options">
															<dt>
															{$parentb}的品牌：
															 </dt>
															<dd><ul><li><a {if $catid==$catidb} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$catidb)}">不限</a></li>

															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catidb&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[3]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[3]}
																	{php $childc=$t[child];$parentc=$t[catname];$catidc=$t[catid];} 
																	{/if}
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{/if}

															{if $childc!=0}
															<dl class="options">
															<dt>
															{$parentc}的型号：
															 </dt>
															<dd><ul><li><a {if $catid==$catidc} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$catidc)}">不限</a></li>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catidc&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[4]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{/if}
										
															<dl class="options">
															<dt>地区：</dt>
															<dd><ul><li><a {if $areaid==0}class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid=0&catid='.$catid)}">不限</a></li>
															{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'&catid='.$catid)}" {if $areaid==$k+1}class="opyes"{else}class="color"{/if}>{$v[areaname]}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
														
														<dl class="options search nborder">
															
															<dd>
			<ul><li>
            <input type="text" size="30" name="kw" value="{$kw}" class="subm" id="keywords"  onfocus="if(this.value=='输入关键词'){this.value=''}"/>
			<input type="hidden" name="areaid" value="{$areaid}">
			<input type="hidden" name="catid" value="{$catid}"><input type="hidden" name="vip" value="{$vip}"><input type="hidden" name="thumb" value="{$thumb}">
			<script type="text/javascript">
			document.getElementById('keywords').value='{if $kw!=''}{$kw}{else}输入关键词{/if}';
			</script><input type="image" src="{DT_SKIN}image/search2.jpg" class="subm mr10" onmouseover="if(document.getElementById('keywords').value=='输入关键词'){document.getElementById('keywords').value=''}"/>
			热门关键词：<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_kw", -2)}-->
			</li>
			<br class="clear">
															</ul>
															</dd>
													    </dl></form>
														</div>
															<div class="yinying"></div>










<div class=" autoheight">
<div class="blue"><div class="h4title">{$MOD[name]}信息列表</div></div>
		<div class="autoheight grayb nt">
		<div class="tool bcolor">
		<table cellpadding="0" cellspacing="0" align="center">
	<tr align="center">
	 <td width="30" height=30 align="left">&nbsp;</td>
		<td width="160" align="left">
维修信息标题	</td> 
 <td width="50" align="left">报名</td>
<td width="90" align="left">品牌-型号</td>

	    <td width="110" align="left">所在地区</td>
	    <td width="90" align="left">所属分类</td>
	    <td width="90" align="left">高价悬赏</td>
	    <td width="100" align="left">发布时间</td>
	    <td width="100" align="left">截止时间</td>
	</tr>
	</table>
		</div>
{if $tags}
		<div class="autoheight">
		<ul class="com2">
		<!--{tag("moduleid=$moduleid&condition=groupid>4$dtype&areaid=$cityid&catid=$catid&pagesize=".$MOD[pagesize]."&page=$page&showcat=1&showpage=1&template=list-job")}-->
		</ul>
		</div>

	

		{else}
		{template 'noresult', 'message'}
		{/if}


													
														</div>

</div>
<br class="clear">
{template 'footer'}