{php $ztitle=xname($truename,$baomi)."|主要服务区域：".area_pos($areaid, '')."|主修范围：".strip_tags(cat_pos(get_cat($catid), '/'));}
{template 'header'}<script type="text/javascript">var tagbg;tagbg=document.getElementById('tt9').src;document.getElementById('tt9').src=allmenu(tagbg)</script>
<script type="text/javascript">var tagbg;tagbg=document.getElementById('tt24').src;document.getElementById('tt24').src=allmenu(tagbg)</script>
<style type="text/css">
.h1{margin:0px;padding-top:3px;padding-bottom:3px;font-size:16px;line-height:16px;height:16px;}
.w740{width:743px;margin-left:-1px;}
.content {font-size:14px;line-height:20px;padding:10px 20px 10px 20px;_height:300px;height:auto !important; min-height:300px;height:auto;}
</style>
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=blue"></script>
{php $resume="yes";}
<div class="divline"></div>
<div class="w240 fl autoheight "><!-- 左边内容开始-->
<div class="orange"><div class="h4title">{xname($truename,$baomi)}的联系资料</div></div>
															<div class="grayb cut nt autoheight">
															<div class="divline"></div>
                                                            {template 'content', 'chip'}
																</div>
															<div class="divline"></div>
											<div class="blue"><div class="h4title">该会员更多{$MOD[name]}信息</div></div>
											<div class="grayb nt autoheight pt10">
												<ul class="leftlist autoheight">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=20&order=hits desc&showcat=1&template=null&debug=0")}
													{loop $tagt $z $t}
													<li><span>[{$t[hits]}°C]</span><a class="color lenstr" href="{$t[linkurl]}" target='_blank'>{$t[title]}</a></li>
													{/loop}
													
                                                    </ul>
											</div>

											</div>
<div class="autoheight fl w730 ml10">
<div class="your grayb nt nb"><div><a href="{$MODULE[1][linkurl]}">
														网站首页&nbsp;</a>&nbsp;&nbsp;〉&nbsp;&nbsp;<a href="{$MODULE[9][linkurl]}index-htm-action-resume.html">工程师</a>&nbsp;&nbsp;〉&nbsp;&nbsp;<a href="{$MODULE[9][linkurl]}search-htm-catid-{$catid}-action-resume.html">{strip_tags(cat_pos(get_cat($catid), '/'))}</a>&nbsp;〉&nbsp;{xname($truename,$baomi)}技术供应信息</div></div>
<div class="autoheight grayb nt">
<div style="background:#f7f9fd" class="autoheight pd10">
<div style="background:#ffffff;width:90%;margin:auto;margin-top:20px;margin-bottom:20px;" class="autoheight pd10 blueb">
<div class="validate">{if $validated==1}<img src="{DT_SKIN}image/v1.gif">{/if}</div>			<table cellpadding="6" cellspacing="1" width="100%" bgcolor="#ffffff" align="center">			
			<tr bgcolor="#FFFFFF">
			<td align="center" bgcolor="#f2f4fb" width="80">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
			<td width="240">{if $user_status == 3}{$truename}{else}{xname($truename,$baomi)}{/if}</td>
			<td align="center"  bgcolor="#f2f4fb" width="80">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</td>
			<td>{if $gender == 1}男{else}女{/if}</td>
			</tr>
			<tr bgcolor="#FFFFFF">
			<td align="center"height=25  bgcolor="#f2f4fb" width="80">居 住 地</td>
			<td>{area_pos($areaid, '')}</td>
			<td align="center"  bgcolor="#f2f4fb" width="80">服务最低费用
			
			</td>
			<td>{if $minsalary && $maxsalary}
	{$minsalary}-{$maxsalary}{$DT[money_unit]}/次
{elseif $minsalary}
	{$minsalary}{$DT[money_unit]}/次以上
{elseif $maxsalary}
	{$maxsalary}{$DT[money_unit]}/次以内
{else}
	面议
{/if}</td>
			</tr>
			<tr bgcolor="#FFFFFF">
			<td align="center"height=25  bgcolor="#f2f4fb" width="80">工作性质</td>
			<td>{$TYPE[$type]}</td>
			<td align="center"  bgcolor="#f2f4fb" width="80">状&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;态</td>
			<td>{$SITUATION[$situation]}</td>
			</tr>
			<tr bgcolor="#FFFFFF">
			<td align="center"  height=25  bgcolor="#f2f4fb" width="80">所学专业</td>
			<td>{$skill}</td>
			<td align="center"  bgcolor="#f2f4fb" width="80">工作经验</td>
			<td >{if $experience}{$experience}年{else}无{/if}</td>
			</tr>

<tr>
<td align="center"  bgcolor="#f2f4fb" width="80" height=25 >服务内容</td>
<td colspan="3" bgcolor="#FFFFFF"><b class="ocolor">主要类别：{strip_tags(cat_pos(get_cat($catid), '/'))}</b><br>更多范围：
{php $l=explode(',',$cates)}
{loop $l $k $c}
{if $c!=""}{strip_tags(cat_pos(get_cat($c), '/'))}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{/if}
{/loop}
</td>
</tr>
<tr>
<td align="center"  bgcolor="#f2f4fb" width="80" height=25>支持区域</td>
<td colspan="3" bgcolor="#FFFFFF"><b class="ocolor">主要区域：{area_pos($areaid, '')}</b>
<br>其他区域：{area_pos($area1, '')}&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;{area_pos($area2, '')}</td>
</tr>
			</table>
</div>
<table cellpadding="0" cellspacing="1" width="70%"  align="center">			
			<tr>
		    
			<td align="center"><div class="bnts" style="background:url('{DT_SKIN}image/xuanding.gif')"><a href="javascript:void(0)"  onClick="
			{if $_username!=''&&$_groupid=='8'}msgbox('选定工程师','select.php?resumeid={$itemid}'){elseif $_username!=''&&$_groupid!='8'}location.href='/member/ask.php?action=add&typeid=15&title=我有意向让工程师:[{if $user_status == 3}{$truename}{else}{xname($truename,$baomi)}{/if}]参与技术服务'{else}alert('请先登陆'){/if}"  class="ocolor">选定该工程师</a></div></td><td align="center" ><div class="bnts" style="background:url('{DT_SKIN}image/fav.gif')"><a href="{rewrite('talent.php?itemid='.$itemid)}" class="gcolor">收藏该工程师</a></div></td>
			<td align="center"><div class="bnts" style="background:url('{DT_SKIN}image/book.gif')"><a href="{rewrite('resume.php?print=1&itemid='.$itemid)}" class="bcolor" target="_blank">打印该页内容</a></div></td>
			</tr>			
			<tr>
		    
			<td align="center">选定次数：{$apply}</td><td align="center" >收藏次数：{$talent}</td>
			<td align="center">浏览次数：{$hits}</td>
			</tr>
</table>
</div>
            <div class="hentiao"><div class="htbg" ><ul class="bluet"><li class="bluey">自我推荐</li></ul></div><span class="mores">{template 'baidu', 'chip'}</span></div>
            <div class="content spic" id="content">
			{$content}<br class="clear"/>
			</div>

{template 'resume_comment', 'chip'}
	
			</div>
	</div>


{template 'footer'}