{if $action=="resume"}
{php $ztitle='技术工程师目录|技术服务：维修\安装\调试\维护\保养。西门子,通用,百特,强生,飞利浦,迈瑞,东软,GE,pcr等等品牌';}
{/if}
{template 'header'}
<script type="text/javascript">var sh ="{$MOD[linkurl]}search.php?areaid={$areaid}&catid={$catid}&thumb={$thumb}&kw={urlencode($kw)}";</script>
{if $action=="resume"}
<script type="text/javascript">document.getElementById('mjob').className='webmenuo';</script>
<script type="text/javascript">document.getElementById('mresume').className='webmenuy';</script>
<div class="your grayb nt nb"><div><a href="{$MODULE[1][linkurl]}">
														网站首页&nbsp;</a>&nbsp;&nbsp;〉&nbsp;&nbsp;<a href="{$MODULE[9][linkurl]}index-htm-action-resume.html">工程师</a>&nbsp;&nbsp;〉&nbsp;&nbsp;<a href="{$MODULE[9][linkurl]}search-htm-catid-{$catid}-action-resume.html">{strip_tags(cat_pos(get_cat($catid), '&nbsp;&nbsp;〉&nbsp;&nbsp;'))}</a></div></div>
{else}
<script type="text/javascript">document.getElementById('mjob').className='webmenuy';</script>
<script type="text/javascript">document.getElementById('mresume').className='webmenuo';</script>
{template 'lay','tag'}
{/if}
<div class="autoheight pt5 grayb nt">
														{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
<dl class="options">
															<dt>{if $action=="resume"}技术工程师所在{else}服务需求发布{/if}的地区：</dt>
															<dd><ul><li><a {if $areaid==0}class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid=0&action='.$action.'&kw='.urlencode($kw).'&list='.$list.'&day='.$day.'&vip='.$vip.'&catid='.$t[catid])}">不限</a></li>
															{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'&type='.$type.'&kw='.urlencode($kw).'&list='.$list.'&action='.$action.'&vip='.$vip.'&catid='.$catid)}" {if $areaid==$k+1}class="opyes"{else}class="color"{/if}>{$v[areaname]}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
														
														
{if $action=="resume"}{template 'form1','job'}{else}{template 'form0','job'}{/if}											
														</div>
															<div class="yinying"></div>










<div class="autoheight">
<div class="blue"><div class="h4title">{if $action=='resume'}工程师{else}{$MOD[name]}{/if}信息列表</div></div>
														<div class="autoheight grayb nt">

		<div class="tool bcolor">
		{if $action=="resume"}
<table cellpadding="0" cellspacing="0" align="center">
	<tr align="center">
	 <td width="20" height=30 align="left">&nbsp;</td>
	 <td width="50" align="left">头像</td>
		<td width="110" align="left">
工程师名字</td> 
<td width="50" align="left">队伍形式</td>
 <td width="50" align="left">点击</td>
<td width="90" align="left">服务范围</td>


	    <td width="110" align="left">主修区域</td>
	    <td width="100" align="left">最低费用</td>
	    <td width="200" align="left">服务状态</td>
	</tr>
	</table>
		{else}
		<table cellpadding="0" cellspacing="0" align="center">
	<tr align="center">
	 <td width="30" height=30 align="left">&nbsp;</td>
		<td width="250" align="left">
服务需求标题	</td> 
 <td width="50" align="left">报名</td>
<td width="90" align="left">品牌-型号</td>
	    <td width="110" align="left">所在地区</td>
	    <td width="90" align="left">所属分类</td>
	    <td width="90" align="left">高价悬赏</td>
	    <td width="100" align="left">发布时间</td>
	    <td width="100" align="left">截止时间</td>
	</tr>
	</table>
    	{/if}
		</div>
{if $tags}
{if $action=="resume"}
<ul class="com2">
{template 'table-resume', 'tag'}
</ul>
{else}
<ul class="com2">
{template 'list-job', 'tag'}
</ul>
{/if}
	
		{else}
		{template 'noresult', 'message'}
		{/if}


													
														</div>

</div>

<br class="clear">

		

{template 'footer'}