{template 'header'}
											<div class="w730 fl autoheight"><!-- 右边内容开始sss-->
<?php   
$stepz= array('审核通过,开始寻求合作工程师','技术服务部选定合作了工程师','服务完成了工程师提交核验单','发起人审核结果核验单','天成技术服务部跟进结果','天成财务处理核验单','本次技术服务流程结束');
?>
{template 'lay','tag'}	
<div class="grayb nt autoheight">
<div style="background:#fafafa" class="autoheight">
		<form method="post" action="{$MODULE[2][linkurl]}favorite.php" name="job_favorite" id="job_favorite">
		<input type="hidden" name="action" value="add"/>
		<input type="hidden" name="title" value="{$title}"/>
		<input type="hidden" name="url" value="{$linkurl}"/>
		</form>
		<form method="post" action="{$MODULE[2][linkurl]}sendmail.php" name="sendmail" id="sendmail" target="_blank">
		<input type="hidden" name="itemid" value="{$itemid}"/> 
		<input type="hidden" name="title" value="{$title}"/>
		<input type="hidden" name="linkurl" value="{$linkurl}"/>
		</form>
		<div class="divline"></div>
		<h1 class="h1">{$title}</h1>
		<div class="divline"></div>
		<div class="xuans" style="{if $validated=='1'}background:url('{DT_SKIN}image/xuans1.gif'){else}background:url('{DT_SKIN}image/xuans0.gif'){/if};" ><div>{if $username}{if $minsalary && $maxsalary}{$minsalary}-{$maxsalary}{$DT[money_unit]}{elseif $minsalary}{$minsalary}{$DT[money_unit]}以上{elseif $maxsalary}{$maxsalary}{$DT[money_unit]}以内{else}面议{/if}</div></div>
		<div class="grayb autoheight whitebg pd10" style="margin:auto;width:90%">
<table cellpadding="5" cellspacing="1" width="100%" bgcolor="#ffffff" align="center">
<tr bgcolor="#FFFFFF">
		<td width="85" height="25"  align="center" bgcolor="#f7f7f7">&nbsp;&nbsp;设备分类</td>
	<td height="25" width="200" >&nbsp;{strip_tags(cat_pos(get_cat($catid), '/'))}</td>
	<td width="85" height="25"   align="center" bgcolor="#f7f7f7">&nbsp;所属单位</td>
	<td height="25" >&nbsp;{$department}</td>
  </tr>
		<tr bgcolor="#FFFFFF">
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;工作地区</td>
		<td height="25">&nbsp;{area_pos($areaid, '')}</td>
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;信息分类</td>
		<td height="25">&nbsp;{$TYPE[$type]}</td>
  </tr>
		<tr bgcolor="#FFFFFF">
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;设备品牌</td>
		<td height="25">&nbsp;{$pinpai}</td>
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;设备型号</td>
		<td height="25">&nbsp;{$xinghao}</td>
  </tr>
  		<tr bgcolor="#FFFFFF">
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;学历要求</td>
		<td height="25">&nbsp;{$EDUCATION[$education]}</td>
		<td height="25"  align="center" bgcolor="#f7f7f7">&nbsp;工作经验</td>
		<td height="25">&nbsp;{if $experience}{$experience}年以上{else}不限{/if}</td>
  </tr>
		<tr bgcolor="#FFFFFF">
		<td height="25" align="center" bgcolor="#f7f7f7">&nbsp;更新日期</td>
		<td height="25">&nbsp;{$editdate}</td>
		<td height="25" align="center" bgcolor="#f7f7f7">&nbsp;有效期至</td>
		<td height="25">&nbsp;{$todate}{if $expired}<span class="f_red">[已过期]</span>{/if}</td>
  </tr>		
		</table>
		</div>
		<div class="divline"></div>
{if $step>=1}
{php $tagt =tag("moduleid=$moduleid&table=job_apply&condition=jobid=$itemid and status=3&areaid=$cityid&showcat=1&pagesize=1&length=20&order=jobid desc&template=null")}
{php $xdusername=$tagt[0][apply_username]}
{php $xdresumeid=$tagt[0][resumeid]}	
{/if}
<?$zz=$step+1;?>
<div class="jc" style="background:url('{DT_SKIN}image/jc0.gif')"  >
<div onclick='chulai("step")' >
<div>→.{$zz}{$stepz[$step]}</div>
<ul class="step" id="step"style="display:none">
<li class="xline nt nr nl bluebg"><div class="h4title">整个服务的所有流程表</div></li>
<?
for($i=0;$i<=6;$i++){
$z=$i+1;
if($step==$i)
{echo '<li class=whitebg><b>→.'.$z.'.'.$stepz[$i].'。</b></li>';}
else{
if($step>$i){$jcf='√.';}else{$jcf='Θ.';}
echo '<li class=whitebg>'.$jcf.$z.'.'.$stepz[$i].'。</li>';
}
}
?>
</ul>
</div>
</div>

<table align="center" cellpadding="5" cellspacing="1" width="78%">
<tr>
	<td align="center" height=30>
	<div class="bnts" style="background:url('{DT_SKIN}image/baomin.gif')">
	{if $status!=3}
	<a href="javascript:alert('该数据暂时未生效');" class="ocolor"><del>暂停报名中</del></a>
	{else}
	{if $step==4}
	<a href="javascript:alert('维修已经结束无法再报名');" class="ocolor"><del>截止报名参加</del></a>
	{else}
	<a href="javascript:Go('{$MOD[linkurl]}{rewrite('apply.php?itemid='.$itemid)}');" class="ocolor">点这报名参加</a>
	{/if}
	{/if}
	</div>
	</td>
	<td align="center" height=30>
	<div class="bnts" style="background:url('{DT_SKIN}image/fav.gif')"><a href="javascript:Dd('job_favorite').submit();" class="gcolor">点这收藏信息</a></div>
	</td>
	<td align="center" height=30>
	<div class="bnts" style="background:url('{DT_SKIN}image/book.gif')"><a href="#commet" class="bcolor">点这给它评论</a></div>
	</td>
</tr>
<tr>
	<td align="center" height=15>
	<span>报名：{$apply}工程师</span>
	</td>
	<td align="center" height=15>
	<span>收藏：{$talent}次关注</span>
	</td>
	<td align="center" height=15>
	<span>人气：{$hits}次访问</span>
	</td>
</tr>
</table>{/if}<div class="divline"></div>
</div>

            <div class="hentiao"><div class="htbg" ><ul class="bluet"><li class="orangey">服务需求描述</li></ul></div>
			<span class="mores">{template 'baidu', 'chip'}</span>
					</div>
            <div class="content spic" id="content">
			{$content}<br class="clear"/></div>
			
			<div class="divline"></div>
            <div class="hentiao"><div class="htbg" ><ul class="bluet"><li class="bluey">报名会员清单</li></ul></div><span class="mores" id="applyresume"></span></div>
			<div class="applyresume">
				<ul class="memberlist">
				{loop $applylist $k $v}
				{if $xdresumeid==$v[resumeid]}
				<li><a href="resume.php?itemid={$v[resumeid]}" target="_blank" title="被选中的技术工程师" class="ocolor"><img src="{$v[thumb]}" class="orangeb" width="75" height="75">
				<span class="mores"><img src="{DT_SKIN}image/yesresume.gif"></span>
				<br>{area_pos($v[areaid], '')}<br>{xname($v[truename],$v[baomi])}</a></li>
				<script type="text/javascript">
					Dd('xdtruename').innerText='{xname($v[truename],$v[baomi])}';
				</script>
				{else}
				<li><a href="resume.php?itemid={$v[resumeid]}" target="_blank"  title="报名技术工程师" class="color"><img src="{$v[thumb]}" class="grayb" width="75" height="75">
				<br>{area_pos($v[areaid], '')}<br>{xname($v[truename],$v[baomi])}</a></li>
				{/if}
				{/loop}
				<script type="text/javascript">
					Dd('applyresume').innerText='已有{$apply}人报名';
				</script>
				</ul>

			</div>
			<div class="divline"></div>
		{if $CP}{template 'property', 'chip'}{/if}
		<br id="commet"/>
		{template 'comment', 'chip'}
		<br/>
	</div></div>
{template 'zoom', 'chip'}
						<div class="w240 fl autoheight ml10"><!-- 左边内容开始-->
														{template 'member','tag'}
														<div class="divline"></div>
														<div class="orange"><div class="h4title">发布会员的资料</div></div>
															<div class="grayb nt pb10 pt10 autoheight">
                                                            {template 'contact', 'chip'}
																</div>
											<div class="divline"></div>
											<div class="orange"><div class="h4title">该会员更多{$MOD[name]}信息</div></div>
											<div class="grayb nt autoheight pt10">
												<ul class="leftlist autoheight">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=20&order=hits desc&showcat=1&template=null&debug=0")}
													{loop $tagt $z $t}
													<li><span>[{$t[hits]}°C]</span><a class="color lenstr" href="{$t[linkurl]}" target='_blank'>{$t[title]}</a></li>
													{/loop}
													
                                                    </ul>
											</div>

											</div>
{template 'footer'}