@charset "utf-8";
/* CSS Document */
/*======== 全局css初始化reset ========*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, th, td { margin:0; padding:0; }
body { font-size:12px; color:#666; font-family: "微软雅黑"; background:#f9f8f8;}
ol, ul { list-style:none; }


/* 直通车
.siteNav{width: 100%; height:27px; background:url(../images/siteNavBd.jpg) repeat-x;}
.siteNav-in{width: 1200px; height: 27px; margin:0 auto;}
.siteNav-l{width: 400px; height: 27px; line-height: 27px; white-space: nowrap; text-overflow:ellipsis; overflow:hidden; float:left;}
.siteNav-l:hover{width: 670px;}
.siteNav-r{width: 260px; line-height: 27px; float:right;}
.siteNav-r ul li{float:left; padding-left:10px;}
.siteNav-r ul li b{color:#f40; font-weight:normal;}
头部
.header{width: 1200px; height: 70px; margin:0 auto; padding-top:20px;}
logo
.logo{width: 204px; height: 52px; background:url(../images/logo.jpg) no-repeat; float:left;}
.logo a{display:block; height:70px; text-indent: -999em;}
搜索
.search{width: 488px; height: 60px; float:left; margin-left:150px; position:relative;}
.txt{width: 402px; height: 30px; line-height:30px; border: 2px solid #0596cf; float:left; color:#666; padding-left:20px;}
.btn{width: 62px; height: 34px; background:#1fa3d7; border:none; color:#fff; font-size:16px; letter-spacing:3px; text-align: center; font-family: "微软雅黑"; cursor:pointer;}
.search img{width: 12px; height: 14px; position: absolute; top:11px; left:7px;}
.word{margin-top:5px;}
.word a{padding-left: 3px;}
电话
.fl{width: 192px; height: 52px; float:right;}
.fl a{height: 50px; display:block;}
导航
.nav{width: 100%; display:inline-block; height:40px; background:url(../images/nav-bg.png) repeat-x ;}
.nav-in{width: 1200px; height: 40px; margin:0 auto; position:relative;}
.nav-in ul li{float:left; height:40px;  line-height:40px; margin-right: 30px; padding:0 20px; text-align: center; box-sizing: border-box;}
.nav-in ul li:hover{background:#128cd8;}
.nav-in ul li a{color:#fff; font-size:14px;text-align: center; position:relative;}
.nav-in ul li a i{display:block; width: 8px; height: 4px; background:url(../images/sanjiao.png) no-repeat; position:absolute; top:9px; right:-11px;}
.nav-in .first{padding:0 20px; height:40px; background:#128cd8; display:block;box-sizing: border-box;}
.nav-in .current{ height: 40px; display:block; background:#128cd8; padding:0 6px;}
.nav-in .last{padding-left: 50px;}
.nav-in .menum{position:relative;}
.nav-in span{ display:inline-block; line-height: 40px; width: 130px; height: 40px; background:#128cd8; float:right; position:relative;}
.nav-in span a{font-size:16px; color:#fff; padding-left:20px;}
.nav-in span a i{width: 16px; height: 16px; display:block; position:absolute; background:url(../images/circle.png) no-repeat; right:16px; top:12px;}
二级导航
.nav-in .menum ol{width: 190px; height: 180px; background:#fff; position:absolute; z-index:50; left:0; border: 1px solid #128cd8; display:none;}
.nav-in .menum ol li{width: 190px; height: 36px; line-height:36px; padding-left:20px; margin:0; text-align:left;}
.nav-in .menum ol li:hover a{color:#fff;}
.nav-in .menum ol li a{color:#177cb0; font-size:14px;}
 */
 .divline{clear:none;}
 .topbg{background-color:#fff;}
 .autoheight{_height:0px;height:0; min-height:0px;}
 .tecehonor{clear:both;}
#modulebg{background-color:#f9f8f8;}
 /*去掉间隔*/
#menubgs{height:0px;}
/* 轮播图 */
.banner{width:100%; height:300px; background:#0b90e2;clear:both;}
.banner-in{width:100%;margin:0 auto; height:300px;position:relative;overflow:hidden;}
.prev,.next{width: 32px; height: 34px; position:absolute; top:50%; margin-top: -20px; cursor:pointer;}
.next{background:url(image/fuwu/right.png) no-repeat; right:15%;z-index:1000;}
.prev{background:url(image/fuwu/left.png) no-repeat; left:15%;z-index:1000;}
/* 服务信息推荐 */
.service{width: 995px;  margin:0 auto; margin-top: 20px;vertical-align:middle; }
.service span{font-size:18px; color:#3597c2; font-weight:normal;margin-left:10px;}
.service i{width: 34px; height: 26px; background:url(image/fuwu/icons.png) no-repeat 0 0; display:block;float:left; margin-right:10px;}
.main{width: 995px; height: 398px; border: 1px solid #d0d0d0; margin:0 auto; margin-top:20px;}
.main-l,.main-m,.main-r{float:left; border-right:1px solid #d0d0d0; padding:24px 13px 0 13px;position: relative;background-color:#ffffff;}
.main-l{width:305px; height:374px;}
.main-l ul{margin-top:15px;}
.bt{text-align: center; font-size:16px; font-weight:bold;}
.bt a{color:#0f89ba;}
.main-in{margin-top:15px;}
.main-in dl{width: 303px;}
.main-in img{float:left; margin-right: 15px;display:inline;}
.main-in dd{line-height: 23px; width: 302px;display:block;}
.main-in .fan{height:80px;overflow:hidden;}
.main-in ul li{margin-top: 15px;height:18px;overflow:hidden;}
.main-in img,.main-in dd{display:none;}
.main-in .fan img,.main-in .fan dd{display:inline;}
.main-in h4{width: 303px;font-size:14px; color:#131313; font-weight:normal;}
.main-l i{width: 16px; height: 16px; display:inline; background:url(image/fuwu/zan.png) no-repeat; float:left; margin:2px 5px 0 0;}
.main-in .no i{width: 14px; height: 14px; display:inline; background:url(image/fuwu/cuo.png) no-repeat; float:left; margin:4px 5px 0 0;}
.main-in .no b{color:#e5463f;}
.publish{text-align: center;position: absolute; bottom: 20px;left:70px;}
.publish div{width: 180px; height: 40px; background:#e5463f;  border:none; line-height: 40px; color:#fff; font-size:18px; font-family: "微软雅黑"; position:relative; }
.publish div span{position:absolute; right:40px;}
.publish div i{width: 26px; height: 26px; background:url(image/fuwu/icons.png) no-repeat -52px -77px; position:absolute; top:3px; left:35px;}
.main-m{width: 306px; height: 374px; padding:24px 13px 0 13px;}
.main-m i{display:inline; width: 16px; height: 16px; background:url(image/fuwu/dui.png) no-repeat; float:left; margin:2px 5px 0 0;}
.main-m .no i{display:inline; width: 14px; height: 14px; background:url(image/fuwu/cuo.png) no-repeat; float:left; margin:4px 5px 0 0;}
.main-m .no b{color:#e5463f;}
.main-m b{color:#3bc019; font-weight: normal;}
.main-r{width: 304px; height: 374px;border-right:none;}
.main-r b{color:#e5463f; font-weight:normal;}
/* 数据信息 */
.information{width: 995px; height: 135px; margin:20px auto; overflow:hidden;}
.information i{display:block; width: 26px; height: 26px; background:url(image/fuwu/icons.png) no-repeat -4px -37px; float:left;margin-right:10px;}
.information span{font-size:18px; color:#3597c2; font-weight:normal;}
.date{width: 995px; height: 80px; background-color:#eeeeee; margin-top: 20px; text-align: left;}
.date ul,.date ol{width: 995px; height: 40px; line-height: 40px;}
.date ul li{width: 240px; float:left; font-size:24px; color:#ff4400; text-align: center;}
.date ol li{width: 240px; float:left; font-size:16px; color:#888; text-align: center;}
/* 服务流程 */
.workflow{width: 995px; height: 150px; margin:20px auto;}
.workflow i{display:block; width: 26px; height: 25px; background:url(image/fuwu/icons.png) no-repeat -4px -78px; float:left; margin-right: 10px;}
.workflow span{font-size:18px; color:#3597c2; font-weight:normal;}
.time{width: 936px; height: 47px; background:url(image/fuwu/timeline-on.png) no-repeat; margin:20px auto;}
.workflow ul li{float:left;  text-align: center;}
.two{color:#e36f1c;}
/* 技术信息共享 */
.doc{width: 995px; height: 500px; margin:20px auto;}
.doc i{display:block; width: 27px; height: 25px; background:url(image/fuwu/icons.png) no-repeat -52px 0; float:left; margin-right: 10px;}
.doc span{font-size:18px; color:#3597c2; font-weight:normal;}
.doc-in{width: 995px;height: 466px; margin-top:20px;}
.doc-l,.doc-m{height: 464px; float:left;background-color:#fafafa;}
.doc-l{width: 230px; border: 1px solid #e5e5e5; margin-right:9px;border-left:0px;}
.doc-l .fir-type{width: 231px;}
.doc-l .fir-type,.doc-m-t{width: 231px; height: 35px; background:#cbd3d7; line-height:35px;}
.doc-l .fir-type span{font-size:14px; color:#333; margin-left: 13px; font-weight:bold;}
.hot-type{height: 35px; line-height: 35px; padding-left: 10px;}
.hot-type a{ font-size: 14px; color:#333; float:left;font-weight:bold;}
.doc .hot-type i{display:block; width: 6px; height: 10px; background:url(image/fuwu/xiaojiao.png) no-repeat; float:right; margin-top:13px;}
.two-type{height: 25px; line-height: 20px; border-bottom:1px solid #dcede0;}
.two-type a{ padding-right: 12px;}
.fir-type-one{width: 230px; height: 60px; background:red;}
/* 技术共享侧导航 */
.all-sort-list{position:relative;width:226px; height:413px; border: 1px solid #e5e5e5; border-top:none;padding:13px 3px 3px 0px;background:#FAFAFA;}
.all-sort-list .item{height:58px;border-top:1px solid #fafafa;}
.all-sort-list .item.bo{border-top:none;} 
.all-sort-list .item .type-in{height:28px;line-height:20px;border:1px 0px;font-size:14px;width:226px;overflow:hidden;}
.all-sort-list .item .type-in i{display:block; width: 6px; height: 10px; background:url(image/fuwu/xiaojiao.png) no-repeat; float:right; margin-top:10px;margin-right:25px;}
.all-sort-list .type{width: 210px;margin:0 auto;}
.all-sort-list .hover .type{width:219px;position:relative;z-index:13;background:#FFF;border:1px solid #159ed3;border-right:0px;height:52px;margin-left:5px;margin-top:-7px;padding-left:5px;}
.all-sort-list .item span{padding:0px 5px;color:#A40000;font-family:"\5B8B\4F53";} 
.all-sort-list .item a{color:#333;text-decoration:none;}
.all-sort-list .item a:hover{font-weight:bold;color:#159ed3;}


.all-sort-list .item-list{ display:none;  position:absolute; width:385px; min-height:160px;   _height:200px; background:#FFF; left:229px; border:1px solid #159ed3; top:-1px; z-index:10;margin-top:-7px;}
.all-sort-list .item-list .close{position:absolute; width:26px; height:26px; color:#FFFFFF; cursor:pointer; top:-1px; right:-26px; font-size:20px; line-height:20px; text-align:center; font-family:"Microsoft Yahei";}
.item-list .subitem{float:left;width:500px;padding:10px 4px 10px 8px;}
.item-list .subitem dl{border-top:1px solid #EEE;padding:6px 0px;overflow:hidden;zoom:1;}
.item-list .subitem .fore1{border-top:none;}
.item-list .subitem dt{float:left;width:60px;line-height:22px;text-align:right;padding:3px 6px 0px 0px;font-weight:700;color:#E4393C;}
.item-list .subitem dt a{color:#159ed3;}
.item-list .subitem dd{float:left;width:415px;padding:3px 0px 0px;overflow:hidden;}
.item-list .subitem dd em{float:left;height:14px;line-height:14px;padding:0px 8px;margin-top:5px;border-left:1px solid #CCC;width:60px;}
.item-list .subitem dd em a, .item-list .cat-right dd a{color:#666;text-decoration:none;}
.item-list .subitem dd em a:hover, .item-list .cat-right dd a:hover{font-weight:normal;text-decoration:underline;}
.item-list .cat-right{float:right;width:210px;}
.item-list .cat-right dl{width:194px;padding:6px 8px;}
.item-list .cat-right dd{padding-top:6px;line-height:22px;overflow:hidden;padding:3px 0px 0px;}
.item-list .cat-right dt{padding:3px 6px 0px 0px;font-weight:700;color:#E4393C; }
.item-list .cat-right dd a:hover{color:#666;}
/* 热门文档 */
.doc-m{width: 516px; border: 1px solid #e5e5e5;}
.doc-m-t .hot{float:left; font-size:14px; font-weight:bold;}
.doc-m-t .hot a{color:#333;}
.doc-m-t span a{ font-size:12px; float:right; margin-right:13px; color:#444;}
.doc-m-t{width: 516px;}
.doc-m-b dl{float:left; margin:10px 27px 0 27px; width: 115px; height: 202px;}
.doc-m-b dl dd{line-height:20px;width: 115px;text-align:center;}
.doc-m-b dl dd a{color:#333;}
.doc-m-b img{border: 1px solid #e5e5e5;}

/* 上传文档 */
.doc-r{width: 203px; height: 437px; float:right;border: 1px solid #e5e5e5; padding:27px 13px 0;background-color:#fafafa;}
.doc-r_add{height:42px;width:203px;background:url(image/fuwu/button.png);line-height:42px;font-size:17px;text-align:center;}
.doc-r p{text-align: center; margin-top: 25px;}
.doc-r p b{font-size:24px; color:#fd8a23;}
.doc-r span{font-size:16px; font-weight:normal; color:#444; display:block; margin-top:20px;}
.doc-r-in{width: 200px; height:233px; margin:0 auto;}
.doc-r-in a{color:#fff;}
.doc-r-1,.doc-r-2,.doc-r-3,.doc-r-4,.doc-r-5,.doc-r-6,.doc-r-7,.doc-r-8,.doc-r-9,.doc-r-10{width: 85px; height: 30px; margin-top:20px; line-height:30px;padding-left:5px;}
.doc-r-1,.doc-r-3,.doc-r-5,.doc-r-7,.doc-r-9{ float:left;}
.doc-r-2,.doc-r-4,.doc-r-6,.doc-r-8,.doc-r-10{float:right;}
.doc-r-1,.doc-r-10{background:#b8875e;}
.doc-r-2{background:#625c5e;}
.doc-r-3,.doc-r-7{background:#6f7f74;}
.doc-r-4{background:#396b74;}
.doc-r-5,.doc-r-8{background:#83b3b7;}
.doc-r-6{background:#8a77a5;}
.doc-r-9{background:#396b74;}
/* 友情链接 */
.links{clear:both;}
.webw{padding-left:0px;}
.whitebg{margin-bottom:10px;}
#webbodycontent{margin:0;padding:0;}
/* 版权 */
/*  .copy{width: 100%; height: 387px; background:#363636;}
.copy-in{width: 1200px; height: 30px; border-bottom: 1px solid #fff; margin:0 auto;}
.copy-in ul li{float:left; padding-right: 12px; line-height:30px;}
.copy-in ul li a{color:#8c8c8c;}
.copy-in-m{width: 1200px; height: 170px; margin:0 auto; padding-top:15px;}
.copy-in-m dl{ float:left; margin-right: 110px;}
.copy-in-m dl dd,.copy-in-m dl dt{height:25px;}
.copy-in-m dl dt a{ color:#fff; font-weight:bold;}
.copy-in-m dl dd a{color:#8c8c8c;}
.copy-in-m dl p{margin-top:5px;}
.copy-in-b{width: 1200px; height: 170px; margin:0 auto; border-top:1px solid #9a9a9a; margin-top: 15px;}
.authentication{ width: 545px; height: 40px;  margin:0 auto; text-align: center; margin-top:5px;}
.authentication img{float:left; margin-left:20px;}
.copyright p{line-height: :20px; color:#acacac;}
.copyright{width: 1200px; padding-top:5px; text-align: center;}
.mid{vertical-align: middle; float:left;}
.qqgroup{background:url(../images/qqgroup.gif) no-repeat center left; width: 67px;  line-height: 22px; padding-left:30px; color:#fff;}  
*/