.tc-gs-i{
    position: relative;
    display: inline-block;
    background-image: url(./image/company/tc-gongsi-icons.png);
    background-repeat: no-repeat;
}
.data-item>i,.data-item .data-button,.cmp-col-hd>.more,.cmp-col-hd>.more>i,.cmp-card{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.page-wrap{
    background-color: #f1f1f1;
    overflow: hidden;
}

.layout{
    width:1200px;
    margin-left: auto;
    margin-right:auto;
}
.main{
    width:860px;
}
.side{
    width:320px;
}

.slide-box{
    position: relative;
}
.slide-box .hd{
    width:100%;
    position:absolute;
    z-index:1;
    bottom:0;
    left:0;
    height:30px;
    line-height:30px;
}
.slide-box .hd ul{
    position: absolute;
    width:100%;
    text-align:center;
}
.slide-box .hd li{
    cursor:pointer;
    display:inline-block;
    *display:inline;
    zoom:1;
    width:12px;
    height:12px;
    margin:5px;
    overflow:hidden;
    background-color: #09253a;
    background-color: rgba(9,37,58,.8);
    border-radius:50%;
    font-size: 0;
    text-indent:-999em;
}
.slide-box .hd .on{
    background-color: #fff;
    background-color: rgba(255,255,255,.7);
}
.slide-box .bd li{
    width:860px;
    height:304px;
}
/*frm-box-box*/
.frm-box{
    width:320px;
    height:480px;
    background: url("./image/company/frm-box-bg.png") no-repeat 0 0;
}
.frm-box-hd{
    position: relative;
    width:120px;
    height:30px;
    margin:30px auto 10px;
    font-size: 16px;
    line-height:30px;
    text-align: center;
    border:1px solid #eaeaea;
    color: #666;
    border-radius:20px;
}
.frm-box-hd:before,.frm-box-hd:after{
    content: '';
    position: absolute;
    top:15px;
    width:70px;
    height: 1px;
    background-color: #eaeaea;
}
.frm-box-hd:before{
    left:-70px;
}
.frm-box-hd:after{
    right:-70px;
}
.frm-box-bd{
    margin:0 30px;
}
.frm-control-group{
    margin-top:15px;
}
.frm-control-group .frm-label {
    position: relative;
    height: 30px;
    font-size: 15px;
    color: #888;
}
.frm-control-group .frm-controls {
    margin-top:10px;
}
.frm-control-group .frm-select{
    padding:1px 5px;
    margin:0 0 0 10px;
    border:1px solid #eaeaea;
    height:30px;
    line-height:30px;
    box-sizing: content-box;
}
.frm-control-group .frm-select:first-child{
    margin-left: 0;
}
.frm-control-group .frm-check-label{
    width:50%;
    float: left;
    margin-bottom:10px;
    font-size: 14px;
}
.frm-control-group .frm-check-label input{
    vertical-align: middle;
}
.frm-control-group .frm-input{
    display: block;
    width:99%;
    padding:0;
    border:1px solid #eaeaea;
    height:32px;
    line-height:32px;
    text-indent:10px;
}
.frm-box input[type="submit"]{
    width: 120px;
    height:36px;
    margin:5px 0;
    text-align: center;
    background-color: #e56639;
    line-height:36px;
    color: #fff;
    border: none;
    outline:none;
    cursor: pointer;
}
.frm-box input[type="submit"]:hover{
    background-color: #ff7f51;
}
.frm-box input[type="submit"]:active{
    background-color: #e56639;
    box-shadow: inset 0 2px 3px rgba(0,0,0,.15);
}

/*side-data*/
.side-data{
    width:340px;

}
.data-item{
    overflow: hidden;
    margin: 1px 0 0 0;
    padding:15px 20px 15px 15px;
    background-color: #fff;
}
.data-item>i{
    float: left;
    width:40px;
    height:40px;
    margin:3px 10px 0 0;
}

.data-item .data-num{
    float: left;
    font-size: 12px;
    color: #888;
}
.data-item .data-num p:first-child{
    margin-bottom:5px;
    font-size: 14px;
    color: #666;
}
.data-item .data-num p>span{
    display: none;
    font-size: 12px;
    color: #888;
}
.data-item:hover .data-num p>span{
    display: inline-block;
}
.data-item .data-num em{
    font-size: 20px;
    color: #e56639;
    font-style: normal;
    margin-right: 5px;
}
.data-item .data-button{
    float: right;
    width:90px;
    height:30px;
    margin-top:6px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    line-height:30px;
    letter-spacing:1px;
    border-radius:4px;
    border:1px solid transparent;
}
.data-item .data-button:active{
    box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
    text-shadow: 1px 1px 0 rgba(0,0,0,.2);
}
.data-item-1>i{
    background-position: 0 -20px;
}
.data-item-2>i{
    background-position: -40px -20px;
}
.data-item-3>i{
    background-position: -80px -20px;
}
.data-item-4>i{
    background-position: -120px -20px;
}
.data-item-1:hover>i{
    background-position: 0 -60px;
}
.data-item-2:hover>i{
    background-position: -40px -60px;
}
.data-item-3:hover>i{
    background-position: -80px -60px;
}
.data-item-4:hover>i{
    background-position: -120px -60px;
}
.data-item-1 .data-button{
    border:1px solid #f29940;
    color: #f29940;
}
.data-item-1 .data-button:hover{
    background-color: #f29940;
    color: #fff;
}
.data-item-2 .data-button{
    border:1px solid #ff4d4d;
    color: #ff4d4d;
}
.data-item-2 .data-button:hover{
    background-color: #ff4d4d;
    color: #fff;
}
.data-item-3 .data-button{
    border:1px solid #00cc99;
    color: #00cc99;
}
.data-item-3 .data-button:hover{
    background-color: #00cc99;
    color: #fff;
}
.data-item-4 .data-button{
    border:1px solid #3598ff;
    color: #3598ff;
}
.data-item-4 .data-button:hover{
    background-color: #3598ff;
    color: #fff;
}
/*.data-item-1 .data-button{*/
    /*background-color: #f29940;*/
    /*box-shadow: 0 2px 0 #c77d34;*/
/*}*/
/*.data-item-1 .data-button:hover{*/
    /*background-color: #ffa142;*/
/*}*/
/*.data-item-1 .data-button:active{*/
    /*background-color: #f29940;*/
    /*box-shadow: 0 1px 0 #c77d34;*/
/*}*/
/*.data-item-2 .data-button{*/
    /*background-color: #ff4d4d;*/
    /*box-shadow: 0 2px 0 #cf3838;*/
/*}*/
/*.data-item-2 .data-button:hover{*/
    /*background-color: #ff6666;*/
/*}*/
/*.data-item-2 .data-button:active{*/
    /*background-color: #ff4d4d;*/
    /*box-shadow: 0 1px 0 #cf3838;*/
/*}*/
/*.data-item-3 .data-button{*/
    /*background-color: #00cc99;*/
    /*box-shadow: 0 2px 0 #009973;*/
/*}*/
/*.data-item-3 .data-button:hover{*/
    /*background-color: #00e5ac;*/
/*}*/
/*.data-item-3 .data-button:active{*/
    /*background-color: #00cc99;*/
    /*box-shadow: 0 1px 0 #009973;*/
/*}*/
/*.data-item-4 .data-button{*/
    /*background-color: #3598ff;*/
    /*box-shadow: 0 2px 0 #2e83d9;*/
/*}*/
/*.data-item-4 .data-button:hover{*/
    /*background-color: #66b1ff;*/
/*}*/
/*.data-item-4 .data-button:active{*/
    /*background-color: #3598ff;*/
    /*box-shadow: 0 1px 0 #2e83d9;*/
/*}*/

.cmp-col{
    margin-bottom: 10px;
}
.cmp-col-hd{
    /*overflow: hidden;*/
    /*padding:0 20px;*/
    /*background-color: #fff;*/
}
.cmp-col-hd>h2{
    position: relative;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    padding-left:13px;
}
.cmp-col-hd>h2:before{
    content: '';
    position: absolute;
    left:0;
    top:20px;
    width: 3px;
    height:20px;
    background-color: #e56639;
}

.cmp-col-hd>.more{
    font-size: 16px;
    color: #666;
    line-height: 58px;

}
.cmp-col-hd>.more>i{
    top:4px;
    width:20px;
    height:20px;
    margin-left:5px;
    background-position: 0 0;
}
.cmp-col-hd>.more:hover{
    color: #e56639;
}
.cmp-col-hd>.more:hover>i{
    background-position: -20px 0;
}
.cmp-col-bd{
    margin-left:-20px;
}
.cmp-card:hover{
    -webkit-box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    box-shadow: 0 15px 20px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
}

.cmp-card{
    position: relative;
    float: left;
    width: 380px;
    margin: 0 0 20px 20px;
    padding: 20px;
    background-color: #fff;
}
.cmp-card .tc-gs-i.vip{
    position: absolute;
    right:0;
    top:0;
    width: 48px;
    height: 48px;
    background-position: 0 -100px;
}
.cmp-card .cmp-avatar{
    width: 100px;
    height:100px;
    padding:5px;
    background-color: #fff;
    border:1px solid #eaeaea;
}
.cmp-card .cmp-contact{
    display: block;
    text-align: center;
    font-size: 13px;
    line-height:26px;
    border: 1px solid #eaeaea;
    border-top: none;
    color: #666;
}

.cmp-right-area{
    width:248px;
}
.cmp-card h3{
    height:24px;
    font-size: 18px;
    line-height:1.5;

}
.cmp-card .cmp-specs{
    margin-top:8px;
}
.cmp-card .cmp-specs li{
    overflow: hidden;
    line-height: 1.9;
}
.cmp-card .cmp-specs span{
    float: left;
    color: #888;
}
.cmp-card .cmp-specs em{
    float: left;
    width:178px;
    color: #444;
    font-style: normal;
}


.links-layout{
    width: 1180px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    font-size: 12px;
}
.links-hd,.links-bd{
    display: inline-block;
}
.links-hd{
    font-weight: bold;
    margin-left: 5px;
}
.links-bd>a{
    margin: 0 10px;
    color: #888;
}
.links-bd>a:hover,.links-bd>a.apply-to{
    color: #e56639;
}










