@charset "utf-8";

#side_oh,#main{
    background-color: #F6F6F6;
}
.index-content:after{
    content: '';
    display: table;
    clear: both;
}
.index-main,.index-side{
    float: left;
}
.index-main{
    width:70%;
}
.index-side{
    width:30%;
}
.index-main-inner,.index-side-inner{
    padding:15px 0 0 15px;
}

.module{
    background-color: #fff;
    margin-bottom:15px;
    border-radius:2px;
    border:1px solid #EAEAEA;
}
.module-head{
    padding:20px 20px 16px;
}
.module-head-title{
    margin:0;
    display: inline-block;
    font-size: 16px;
}
.module-head .module-head-control{
    font-size:13px;
    color: #e56639;
}
.module-head .module-head-control .iconfont{
    position: relative;
    top:-1px;
    margin-left:4px;
    font-size:12px;
}
.module-foot{
    background-color: #fafafa;
    border-top:1px solid #eaeaea;
}

.index-mark{
    padding:0 20px 20px 20px;
}
.index-mark textarea{
    width:95%;
    height:90px;
    padding:2.5%;
    margin:0 auto;
    border:1px solid #EAEAEA;
    outline:none;
}

.index-search{

}
.index-search .select-group{
    float: left;
    width: 10%;
    height: 38px;
    border-right:1px solid #EAEAEA;
}
.index-search .select-btn{
    position: relative;
    width: 100%;
    height: 38px;
    font-size:14px;
    padding: 0;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    color: #9e9e9e;
}
.index-search .select-btn .caret{
    position: absolute;
    bottom:0;
    right:0;
    border:4px solid transparent;
    border-bottom-color: #9e9e9e;
    border-right-color: #9e9e9e;
}
.index-search .select-group:hover .dropdown-menu{
    display: block;
}
.index-search .dropdown-menu{
    display: none;
    position: absolute;
    width: 78px;
    z-index: 999;
    background: #fff;
    margin-top: -1px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.index-search .dropdown-menu>li{
    line-height: 36px;
    font-size: 14px;
    text-align: center;
    border-top: 1px dashed #eaeaea;
}
.index-search .dropdown-menu>li:first-child{
    border-top:none;
}
.index-search .dropdown-menu>li>a{
    display: block;
}
.index-search .dropdown-menu>li>a:hover{
    color: #e56639;
}
.site-frm{
    border:1px solid #eaeaea;
}
.site-frm .site-txt{
    width:74%;
    height: 22px;
    font-size:14px;
    padding:8px 1.5%;
    border: none;
    outline:none;
}

.site-frm .site-submit{
    width: 12%;
    height:38px;
    line-height:38px;
    padding: 0;
    margin: 0;
    color: #fff;
    border:none;
    font-size:14px;
    text-align: center;
    background-color: #e56639;
}
.so-frm .so-txt{
    display: none;
}


.index-avatar{
    position: relative;
    width:150px;
    overflow: hidden;
}
.index-avatar img{
    width:128px;
    height:128px;
    padding:10px;
    border:1px solid #eaeaea;
}
.index-avatar a{
    position: absolute;
    left:0;
    bottom:-150px;
    width:100%;
    height:100%;
    font-size:16px;
    font-weight:200;
    background-color: rgba(0,0,0,0.65);
    color: #fff;
    text-align: center;
    line-height:150px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.index-avatar:hover a{
    bottom: 0;
}

.user-info{
    min-width:70%;
}
.user-name{
    font-size:24px;
    font-weight:200;
}
.user-name a{
    color: #333;
}
.user-name i:hover{
    color: #e56639;
}
a.user-grade{
    position: relative;
    top:-3px;
    font-size:12px;
    padding:3px 8px;
    color: #fff;
    background-color: #ccc;
    margin-left:10px;
}
a.user-grade:hover{
    background-color: #ddd;
}
.user-setting{
    top:30px;
    right:28px;
}
.user-setting .iconfont{
    font-size:24px;
    color: #888;
}
.user-setting:hover .iconfont{
    color: #e56639;
}

.authenticate{
    font-size:14px;
}
.authenticate-hd{
    line-height:20px;
}
a.authenticate-item{
    margin-right:10px;
    color: #8bc34a;
}
a.authenticate-item.disable{
    color: #c2b1aa;
}
a.authenticate-item i{
    position: relative;
    top:0;
    color: #8bc34a;
    margin-right:3px;
}
a.authenticate-item i.icon-shouji{
    top:1px;
}
a.authenticate-item.disable i {
    color: #c2b1aa;
}
.wealth{
}
.wealth-item{
    position: relative;
    width:25%;
    padding:0 20px;
    text-align: center;

}
.wealth-item:before{
    content: '';
    position: absolute;
    left:0;
    width:1px;
    height:50px;
    background-color: #EAEAEA;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.wealth-item:first-child{
    padding-left:0;
}
.wealth-item:first-child:before{
    display: none;
}
.wealth-item:hover .iconfont{
    top:-3px;
}
.wealth-item:hover .iconfont,.wealth-item:hover .wealth-item-title{
    color: #e56639;
}

.wealth-item .iconfont{
    position: relative;
    top:0;
    display: inline-block;
    font-size:26px;
    color: #666;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.wealth-item-title{
    display: block;
    font-size:14px;
    color: #666;
    margin-top:5px;
}
.wealth-item-title em{
    margin-left:5px;
    font-style: normal;

}
.login-date span{
    color: #999;
}
.login-date em{
    font-style: normal;
}
.login-date,.login-date a{
    color: #666;
}
.login-date a:hover{
    color: #e56639;
}

.side-service{
    height:135px;
    background: url("./image/member/service-img.png") no-repeat right bottom;
}
.side-service-title{
    font-size:18px;
    margin: 0;
}
.side-service-sub{
    font-size:12px;
    margin: 0;
}
.side-service-400{
    margin:7px 0 0 0;
    font-size:24px;
    font-weight: 200;
    color: #e56639;
    letter-spacing: -0.05em;
}
a.side-service-btn{
    margin-top:10px;
    padding:5px 15px;
    background-color: #e56639;
    border: 1px solid #bd582f;
    color: #fff;
    font-size:14px;
    border-radius:2px;
}
a.side-service-btn:hover{
    background-color: #f3693b;
}
.index-favorites-list{

}
.index-favorites-list li{
    position: relative;
    height:40px;
    line-height:40px;
    padding-right:82px;
    border-top:1px solid #f1f1f1;
}
.index-favorites-title{
    position: relative;
    padding-left:12px;
    font-size:14px;
}
.index-favorites-title:before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:4px;
    height: 4px;
    margin-top:-2px;
    background-color: #e56639;
    border-radius:50%;
}
.index-favorites-time{
    position: absolute;
    top:0;
    right:0;
    display: inline-block;
    width:82px;
    line-height:40px;
}
.index-favorites-list:empty,
.index-friend-list:empty{
    position: relative;
    min-height:200px;
}
.index-favorites-list:empty{
    background: url("./image/member/no-result-fav.png") no-repeat center top;
}
.index-friend-list:empty{
    background: url("./image/member/no-result-friend.png") no-repeat center top;
}
.index-favorites-list:empty:before,
.index-friend-list:empty:before{
    position: absolute;
    bottom:20px;
    left:50%;
    width:160px;
    margin-left:-80px;
    font-size:16px;
    color: #888;
    font-weight: 200;
    text-align: center;
}
.index-favorites-list:empty:before{
    /*content: '还没有收藏东西哦~';*/
    content: '\8FD8 \6CA1 \6709 \6536 \85CF \4E1C \897F \54E6 ~';
}
.index-friend-list:empty:before{
    /*content: '还没有添加好友哦~';*/
    content: '\8FD8 \6CA1 \6709 \6DFB \52A0 \597D \53CB \54E6 ';
}
.index-friend-list{

}
.index-friend-list li{
    position: relative;
    height: 50px;
    line-height:50px;
    border-top:1px solid #f1f1f1;
}

.index-friend-avatar{
    width:30px;
    height:30px;
    margin:10px 0;
    border-radius:2px;
}
a.index-friend-name{
    font-size:14px;
    margin-left:10px;
    color: #444;
}
a.index-friend-name span{
    font-size:12px;
    color: #888;
}
a.index-friend-name:hover{
    color: #e56639;
}
.index-friend-list li:hover a.index-friend-btn{
    display: block;
}
a.index-friend-btn{
    display: none;
    position: absolute;
    right:0;
    top:11px;
    padding: 0 10px;
    height:26px;
    line-height:26px;
    border:1px solid #EAEAEA;
    color: #666;
}
a.index-friend-btn:hover{
    border-color: #f90;
    color: #f90;
}

/*module-tab*/
.module-tab-head{
    position: relative;
    background-color: #fff;
    border-top:2px solid #e56639;
    border-bottom:1px solid #eaeaea;

}
.module-tab-item{
    float: left;
    font-size:15px;
    height:48px;
    line-height:48px;
    padding:0 25px;
    color: #555;
    cursor: pointer;
}
.module-tab-item.active{
    background-color: #e56639;
    color: #fff;
}
.module-tab-body{
    margin-top: 20px;
}

a.module-tab-more{
    display: block;
    height:40px;
    margin:20px auto 0;
    background-color: #fafafa;
    border:1px solid #eaeaea;
    font-size:14px;
    text-align: center;
    line-height:40px;
    color: #666;
}
a.module-tab-more:hover{
    background-color: #fefefe;
    color: #e56639;
}
/*demand-module*/
.demand-module{
    overflow: hidden;
}
.demand-module,.demand-module .item{
    position: relative;
}
.demand-module .item{
    float: left;
    width: 50%;
}
.demand-module .item:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.demand-module:before,.demand-module:after,.demand-module .item:before,.demand-module .item:after{
    content: '';
    position: absolute;
    background-color: #e6e6e6;
}
.demand-module .item:before,.demand-module .item:after {
    top:0;
    left:0;
}
.demand-module:before{
    right:0;
}
.demand-module:after{
    bottom:0;
    left:0;
}
.demand-module .item:before,.demand-module:before{
    width:1px;
    height:100%;
}
.demand-module .item:after,.demand-module:after{
    width:100%;
    height:1px;
}

.demand-module .title{
    margin:20px 20px 10px 20px;
}
.demand-module .item h3{
    position: relative;
    font-size: 18px;
    font-weight: normal;
    margin:0;
}
.demand-module .item h3>a:hover{
    color: #e56639;
}
.demand-module .item h3:before{
    display: none;
    content: '';
    position: absolute;
    left: 0;
    top:50%;
    width: 3px;
    height: 3px;
    border-radius:50%;
    background-color: #e56639;
}
.demand-module .param-list{
    margin: 5px 20px 15px 20px;
}
.demand-module .param-list li{
    width:50%;
    float: left;
    padding:5px 0;
}
.demand-module .param-list .key{
    color: #888;
}
.demand-module .param-list .val,.demand-module .param-list .val a{
    color: #666;
}
.company-module{
    overflow: hidden;
}
.company-module-inner{
    margin:-1% 0 0 -2%;
}
.company-module .item{
    position: relative;
    float: left;
    width:22.7%;
    margin:1% 0 1% 2%;
    border:1px solid #eaeaea;
}

.company-module .item:before{
    content: '';

}
.company-module .item img{
    display: block;
    max-width:80%;
    height:auto;
    margin:12px auto;
}
.company-module .company-title{
    border-top:1px solid #eaeaea;
    padding:15px 15px 10px 15px;
    margin:0;
    font-size:14px;

}
.company-module .company-title a{
    color: #444;
}
.company-module .company-title a:hover{
    color: #e56639;
}
.company-module ul{
    margin:0 15px 20px 15px;
}
.company-module li{
    padding:5px 0;
}
.company-module .key{
    float: left;
    color: #888;

}
.company-module .val{
    font-style: normal;
    color: #666;
}

/*product*/


.product-item{
    position: relative;
    width:30%;
    padding: 15px 1.6666% 20px 1.6666%;
    float: left;
}
.product-item:after{
    content: '';
    position: absolute;
    bottom:0;
    left:0;
    width:100%;
    height: 1px;
    background-color: #eaeaea;
}
.product-img{

}
.product-img img{
    display: block;
    max-width:100%;
    max-height:100%;
    margin:0 auto;
}
.product-title{
    font-weight:normal;
}

.product-title a{
    color: #333;
}
.product-title a:hover,.product-company a:hover{
    color: #e56639;
}
.product-company a{
    color: #777;
}


/*tip*/
.module-tip{
    margin:0 15px;
    background-color: #fdf6ec;
    border: 1px solid #f7ddb7;
    padding:14px 40px 14px 20px;
    position: relative;
}
.module-tip-content{
    margin:0;
    font-size:13px;
    color: #715f4e;
}
.module-tip-close{
    position: absolute;
    right:10px;
    top:50%;
    width:20px;
    height:20px;
    padding:0;
    margin-top:-10px;
    font-size:14px;
    line-height:20px;
    text-align: center;
    background-color:transparent;
    border:none;
    color: #666;
    cursor: pointer;
    outline:none;
}

.module-tip-content a{
    color: #e56639;
    text-decoration: underline;
}

/*index-credit*/
.index-credit{

}
.index-credit table th{
    color: #666;
}
.index-credit table tr{
    margin:10px 0;
}
.index-credit table td{
    padding:10px 10px;
    font-size:13px;
    color: #555;
}
.index-credit table td a{
    display: inline-block;
    padding:5px 10px;
    font-size:12px;
    border:1px solid #ccc;
    background-color: #f8f8f8;
    color: #666;
}
.index-credit table td a:hover{
    background-color: #fff;
    border-color: #ccc;
    color: #888;
}
.index-credit-status span{
    position: relative;
    cursor: pointer;
}
.index-credit-status em{
    display: none;
}
.index-credit-status .iconfont{
    position: relative;
    top:1px;
}
.index-credit-status span:hover em{
    display: inline-block;
    position: absolute;
    left:50%;
    top:25px;
    width:200px;
    margin-left:-115px;
    padding: 10px 15px;
    font-style: normal;
    background-color: #333;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    z-index:99;
    font-size:13px;
    line-height:1.65;
    text-align: left;
}