.webbg2{background:url('image/sell/bg2.gif') #efefef repeat-x top center;}
.webmenulist{width:695px;}
.webmem{float:left;width:140px;height:40px;background:url('image/sell/member.gif') no-repeat left center;text-indent:15px;}
.webmenulist{width:695px;}
.listleft{width:708px;}
.w610{width:610px;}
/*webmid5 search*/
#webmid5 .searchBox,#webmid5 .seasubmit{border-color: #336600;}
#webmid5 .seasubmit{background-color:#336600;}
#webmid5 #topkws,#webmid5 #topkeyword{color: #336600;}

.dropdown a:hover, .dropdown a.active {background:#3a9331;}
.youcan{width:160px;background-color:#336600;text-align:center;line-height:40px;}
.youcan a{color:#ffffff;font-size:16px;}
.menuy,.menun{margin-right:25px;}
.dropdown .f16{padding-left:5px;padding-right:5px;font-size:14px;}
.dropdown ul { position:absolute; display:none;background:#3a9331;;z-index:100;}
.dropdown ul li { float:none; margin-left:2px;background:#F7F7F7;border:2px solid #Fff;margin-right:2px;line-height:34px;height:34px;}
.dropdown ul li a {width:185px;line-height:34px;height:34px;color:#336600;;}
.dropdown ul li a:hover {background:#3a9331;; color:#fff; }
.options dt {color:#4c4c4c;}
.options dd a{margin-right:5px;border-bottom:#fff solid 2px;}
.options dd a:hover{border-bottom:#3a9331 solid 2px;}
.opyes{background:#336600;}
.listyes{background:#514039}
.listleft h4{border-color:#514039}
.sell_tip {width:180px;height:70px;background:url('image/sell_tip.gif') no-repeat;overflow:hidden;z-index:1000;position:absolute;}
.sell_tip p {margin:0 0 4px 2px;font-weight:bold;}
.sell_tip div {padding:8px 0 0 10px;}

.compare {margin:8px;border:#d5e3ee 1px solid;}.compare a{color:#5b5b5b}
.compare table {background:#FFFFFF;}
.compare table tr {background:#f4f5f7;text-align:center;}
.compare table td {width:120px;padding:5px;border-bottom:#d5e3ee 1px solid;line-height:180%;}
.compare div {font-weight:bold;color:#FF6600;letter-spacing:2px;}
.p_ab{position:absolute;z-index:100;float:none}
.p_st{position:static;z-index:100}
.seltype{background:url('image/sell/sel.png');height:35px;line-height:35px;}
.seltype ul{margin:0px;padding:0px;}
.seltype ul li{float:left;margin-left:-1px;border-left:1px solid #ddd;padding-left:20px;padding-right:20px;text-align:Center}
.seltypey{border:1px solid #ddd;border-bottom-color:#fff;background:#fff;margin-top:-1px;height:34px;line-height:34px;}.seltypey a{font-size:16px;color:#336600;font-weight:bold}
.intro dd p{line-height:22px;}
.h1{font-size:20px;font-weight:bold;line-height:28px;padding:10px 0px 10px 0px;}
.areasel{background:url('image/png/list.png') no-repeat center 0px;}
.areasel dt{margin-top:50px;font-size:14px;}.areasel dt a{width:133px;text-align:center;line-height:28px;}
.areaseln:link,.areaseln:visited{border-bottom:2px solid #9e9e9e;color:#9e9e9e;}
.areasely:link,.areasely:visited{border-bottom:2px solid #3577a6;color:#3577a6;}
.areasel dd{padding:0px;margin:0px;line-height:28px;}.provice{background:#e6e6e6;}
.provice li{float:left;font-size:13px;width:70px;text-align:center;padding-top:5px;}.provice li i{color:#999999;font-size:10px;}
.themeleft{background:#e6e6e6;width:280px;padding:10px;float:right}
.themeleft dt{font-size:18px;font-weight:bold;color:#222;clear:both;display:block}
.catname li{font-size:14px;float:left;margin-left:10px;width:130px;line-height:28px;}
.h390{height:390px;}
.h555{height:505px;}
.themeright{width:681px;float:left}
.ad125{height:125px;width:125px;padding:1px;border:1px solid #ddd;background:white;float:left;margin-left:9px;overflow:hidden}
.ad681{width:677px;height:249px;;padding:1px;border:1px solid #ddd;background:white;}
.dllists{width:323px;margin-top:12px; border:1px solid #d2d2d2;}
.dllists dt{height:55px;background:#cee1b3;}.dllists dt font{font-size:16px;font-weight:bold;color:#273d16;}.dllists dt p{color:#ffffff;}
.buylist{height:320px;}
.w300{width:300px;}
.moreinfo{text-align:center}.moreinfo img{width:92px;line-height:24px;height:24px;}
.moreinfo a:link img{background:url('image/index/more.png') 0px 0px; }
.moreinfo a:hover img{background:url('image/index/more.png') 0px -24px;color:#ffffff}
.shield{padding:10px 0px 10px 0px;}
.p_info{margin-top:75px;margin-left:-125px;background:#ffffff;font-size:12px;position:absolute;z-index:100;height:50px;width:125px;}
.ml800{margin-left:12px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
.p_info{margin-left:0px;margin-top:-50px;}
.ml800{margin-left:693px;}
}
.greenbg{background:#729c38}
.gcolor{color:#336600}


.introright{height:50px;}
.selllist li{height:120px}


#newBridge .nb-icon-right-center{height: 10% !important;width: 18% !important;}
#newBridge .nb-invite-body-base{padding:1em 0 !important;min-height: 18% !important;}
