.webbg2{background:url('image/special/bg2.gif') #efefef repeat-x top center;}
.youcan{background-color:#2b86a8;width:170px;}
.webmenulist{width:685px;}
.youcan h1{font-size:16px;color:#fff;margin:0px;cursor:pointer;padding:0px 10px 0px 15px;}
.youcan h1 span{background:url('image/downs.gif') no-repeat right center;padding:7px;}
.youcan h1 span{background:url('image/png/downs.png') no-repeat right center;margin-left:10px;}
.webmem{float:left;width:140px;height:40px;background:url('image/special/member.gif') no-repeat left center;text-indent:15px;}
.dropdown a:hover, .dropdown a.active {background:#3096bc;}
.dropdown ul { position:absolute; display:none;background:#3096bc;z-index:100;}
.dropdown ul li { float:none; margin-left:2px;background:#F7F7F7;border:2px solid #Fff;margin-right:2px;line-height:34px;height:34px;}
.dropdown ul li a {width:195px;line-height:34px;height:34px;color:#375e84;}
.dropdown ul li a:hover {background:#3096bc; color:#fff; }
.tokw,.seasubmit{border-color:#3096bc;}
.seasubmit{border:1px solid #3096bc;background:#3096bc url('image/png/search.png') no-repeat center center;}
.dllist dt{border-bottom:none;background:#f8f8f8}
.menuy {margin-left:0px;margin-right:20px;}
.menun{margin-left:0px;margin-right:20px;}
.dllist dt{padding-bottom:3px;font-weight:normal;}
.newscatname{background:url('image/png/catico.png') center left no-repeat;text-indent:0px;border-bottom:2px solid #0c98cd;}
.newscatname a{padding-left:30px;padding-right:10px;color:#0c98cd;padding-bottom:3px;border:none}
.topnews{height:300px;}.w220{width:220px;}.w520{width:522px;}.w450{width:440px;}.w310{width:305px;}.w500{width:500px;}
.w170{width:170px;}.w110{width:110px;}
.options dt{color:#222;}
.listyes,.opyes{background:#11aabb}
.tokw,.seasubmit{border-color:#11aabb;}
.listleft h4,.dllist dt,.options dd a:hover{border-color: #11aabb;}
.tool table{width:975px;}
.tool table label{margin-right:20px;}
.tool{background-color:#d7eef4}
.tool .submit{background-color:#0ba7c8}
.listright li i{background:#0ba7c8;width:24px;text-align:center;display:block;display:-moz-inline-box; display:inline-block; white-space:nowrap;color:#Fff}
#artlll li{height:340px;}
#commet{border-bottom:2px solid #ccc;line-height:30px;}
#commet .ocolor,.w260 .bcolor{color:#0ba7c8}
.headline{margin-left:10px;}
.hdtitle{font-size:18px;font-weight:bold;margin:0px;}
.hdtitle i{font-size:12px;font-weight:normal;}
.hdtitles{font-size:14px;margin:0px;line-height:24px;height:24px;}
.headline h3 a{font-weight:bold}
.box_head{border-bottom:1px dotted #ccc;}
.box_head strong{font-size:18px;color:#0c98cd;}
.box_body li{font-size:14px;color:#222;line-height:30px;}




.money{font-size:24px;color:#f77602;line-height:26px;text-align:center}
.yellowbg .infotit{background:#fedfa7 url('image/blank.gif') repeat-x;}
.g_shop{background:url('image/detail.png');width:300px;height:303px;overflow:hidden}
.g_deal {width:300px;height:55px;}
.g_deal div{height:40px;}
.g_deal .prices{width:200px;float:left;font-size:30px;color:#fff;line-height:40px;}
.gobuy1{background:url('image/detail.png') -313px -117px;}
.gobuy2{background:url('image/detail.png') -313px -167px;}
.gobuy3{background:url('image/detail.png') -512px -117px;}
.g_price {height:60px;overflow:hidden;font-size:14px;}
.g_price div {float:left;padding:5px 0 10px 0;text-align:center;line-height:22px;}
.g_price span {text-decoration:line-through;}
.g_price strong {color:#FF3300;}
.red{color:#FF3300;}
.g_timer {text-align:left;padding:10px;line-height:25px;border:#FBD686 1px solid;background:#FFF8E8;font-size:14px;letter-spacing:1px;text-indent:30px;}
.g_timer span {color:#fff;background:url('image/detail.png') -310px -215px;width:42px;padding:4px 0px 4px 
0px;text-align:center;display:-moz-inline-box;display:inline-block;text-indent:0px;font-size:20px;}
.g_info {text-align:center;padding:10px;line-height:28px;font-size:14px;height:55px;overflow:hidden;}
.g_info div {font-size:14px;}
.g_info span {color:#FF6600;}
.list_group {width:970px;overflow:hidden;padding-left:10px;}
.list_group_img{border:1px solid #e6e6e6;background:white}
.list_group_box {width:270px;padding:5px;float:left;margin:15px 25px 20px 15px;}
.list_group_join {height:50px;padding-left:10px;line-height:50px;color:#fff;background:url('image/group_join.gif') repeat-x;}
.list_group_title {height:40px;overflow:hidden;padding:4px 0 6px 0;line-height:16px;font-size:14px;color:#777;background:#eee;width:270px;}
.groupd .list_group_title{width:238px;}
.list_group_price{padding-bottom:5px;}
.list_group_join .fr{margin-top:-5px;}
h1{margin:0px;padding:0px;color:#2e2e2e}
.t4000{background:url('image/4000.jpg') top left;height:107px;}
.t4000 div{font-size:20px;color:#000;margin-top:48px;margin-left:65px;}
#tjxx li{padding-top:10px;padding-bottom:10px;}
.level{position:absolute;z-index:10;width:70px;height:55px;margin-left:-275px;}
.levelcontent{position:absolute;z-index:10;width:70px;height:55px;margin-left:-212px;margin-top:-325px;}
.tlevel{background:url('image/detail.png') -413px -10px; width:62px;height:55px;}
.nlevel{background:url('image/detail.png') -312px -10px; width:62px;height:55px;}

@media screen and (-webkit-min-device-pixel-ratio:0) {  
.level{position:absolute;z-index:10;width:70px;height:55px;margin-left:-1px;margin-top:-220px;}
.levelcontent{position:absolute;z-index:10;width:70px;height:55px;margin-left:-5px;margin-top:-304px;}
}
