/*icon*/
.n-i{
    display: inline-block;
    position: relative;
    background-image: url("./image/article/tc-news-icons.png");
    background-repeat: no-repeat;
}
.n-i-c1{
    background-position: -100px -140px;
}
.n-i-c2{
    background-position: -120px -140px;
}
.n-i-c3{
    background-position: -140px -140px;
}
.n-i-c4{
    background-position: -160px -140px;
}
.n-i-c5{
    background-position: -180px -140px;
}
.n-i-c6{
    background-position: -200px -140px;
}
.n-i-c7{
    background-position: -100px -160px;
}
.n-i-c8{
    background-position: -120px -160px;
}
.n-i-c9{
    background-position: -140px -160px;
}
.n-i-c10{
    background-position: -160px -160px;
}
.n-i-c11{
    background-position: -180px -160px;
}
.n-i-c12{
    background-position: -200px -160px;
}

a{
    color: #404040;
}

/*ami*/
.ami{
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}


.container{
    width:1200px;
    margin-left: auto;
    margin-right: auto;
}


/*headnews*/
.headnews{
    padding-bottom:30px;
}
.headnews-list{
    width: 605px;
    margin-top:20px;
}
.headnews-top{
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}
.headnews-top-title{
    font-size: 22px;
    font-weight: bold;
}
.headnews-top-desc{
    height: 46px;
    margin-top: 10px;
    overflow: hidden;
    text-align: justify;
    font-size: 13px;
    line-height: 1.8;
    color: #888;
}
.headnews-top-desc a{
    color: #f64141;
}
.headnews-txt-list{
    padding-top:5px;
}
.headnews-txt-list li{
    position: relative;
    margin-top:14px;
    padding-left:15px;
}
.headnews-txt-list-title{
    font-size: 15px;
}
.headnews-txt-list li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: #f64141;
}


.headnews-slide{
    width:565px;
    margin-top:30px;
}
.headnews-slide .hd{
    width:102px;
}
.headnews-slide .hd li{
    position: relative;
    margin-top:13px;
    border:1px solid #eaeaea;
}
.headnews-slide .hd li:after{
    content: '';
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity:0.4;
    cursor: pointer;
}
.headnews-slide .hd li:first-child{
    margin-top:0;
}
.headnews-slide .hd img{
    width:100px;
    height:80px;
}
.headnews-slide .hd li.on{
    border: 2px solid #f64141;
}
.headnews-slide .hd li.on:before{
    content: '';
    position: absolute;
    left:-16px;
    top:50%;
    width:0;
    height:0;
    margin-top:-8px;
    border:8px solid transparent;
    border-right-color: #f64141;
}
.headnews-slide .hd li.on:after{
    opacity:1;
    background-color: transparent;
}
.headnews-slide .hd li.on img{
    width:88px;
    height:70px;
}
.headnews-slide .bd{
    width: 450px;
    height: 358px;
    overflow: hidden;
    border:1px solid #eaeaea;
}
.headnews-slide .bd li{
    position: relative;
}
.headnews-slide .bd img {
    width:450px;
    height:358px;
}
.headnews-slide .bd p{
    position: absolute;
    left:0;
    bottom:0;
    width:450px;
    height:40px;
    font-size: 16px;
    line-height: 40px;
    text-indent:15px;
    background-color: #333;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}
.headnews-slide .bd a{
    color: #fff;
}
/*column*/
.column{
    margin-top:30px;
}
.column-head{
    position: relative;
    height:50px;
    padding:0 0 0 5px;
    border-top:2px solid #666;
    border-bottom:1px solid #eaeaea;
}
.column-head:before{
    content: '';
    position: absolute;
    left:0;
    top:-2px;
    width:120px;
    height:4px;
    background-color: #f64141;
}
.column-head:after{
    position: absolute;
    top:-2px;
    left:120px;
    content: '';
    width:0;
    height:0;
    border:2px solid transparent;
    border-top-color: #f64141;
    border-left-color: #f64141;
    border-left-width:3px;
}
.column-name{
    position: relative;
    font-size:20px;
    font-weight:200;
    line-height:50px;
}
.column-name:after{
    content: '';
    position: absolute;
    left:-6px;
    bottom:-4px;
    width: 6px;
    height:6px;
    border-radius:50%;
    background-color: #fff;
    border:1px solid #eaeaea;
}
.column-name .n-i{
    width:20px;
    height:20px;
    top:3px;
}
.column-name a{
    color: #f64141;
}
.column-name a:hover{
    color: #666;
}
.column-en-name{
    margin-left:10px;
    font-size: 12px;
    line-height:50px;
    color: #888;
    font-weight: 200;
    text-transform: uppercase;
}
.column .column-head-more{
    position: relative;
    padding:0 10px 0 0;
    line-height:50px;
    color: #888;

}
.column .column-head-more:hover{
    color: #666;
}
.column-head-more:after{
    content: '+';
    position: absolute;
    right:0;
    top:10px;
    font-size: 12px;
    line-height:1.2;
    color: #f64141;

}
.column-body{
    padding-bottom: 30px;
}
.column-main{
    width:870px;
}
.column-side{
    width: 300px;
}

/*column-gallery*/
.column-gallery{
    width:388px;
    margin:20px 0 0 -10px;
}
.column-gallery-item{
    position: relative;
    float: left;
    width:182px;
    height:145px;
    margin:10px 0 0 10px;
    border:1px solid #eaeaea;
}
.column-gallery-img{
    position: relative;
    display: block;
    width:182px;
    height:145px;
    overflow: hidden;
}
.column-gallery-img img{
    position: absolute;
    left:50%;
    top:50%;
    width:218px;
    height:174px;
    margin:-87px 0 0 -109px;
}
.column-gallery-txt{
    position: absolute;
    bottom:0;
    display: -webkit-box;
    display: -moz-box;
    width:162px;
    height: 36px;
    overflow: hidden;
    padding:5px 10px;
    font-size: 13px;
    line-height: 1.5;
    text-overflow: ellipsis;
    word-break: break-all;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    background-color: #333;
    background-color: rgba(0,0,0,.7);
    color: #fff;
}
.column-gallery-item,.column-gallery-item img,.column-gallery-txt{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/*column-gallery hover*/
.column-gallery-item:hover{
    border-color: #f64141;
}
.column-gallery-item img:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.column-gallery-item:hover .column-gallery-txt{
    background-color: #f64141;
}
/*column-gallery first-child*/
.column-gallery-item:first-child{
    width:376px;
    height:200px;
}
.column-gallery-item:first-child .column-gallery-img{
    width:376px;
    height:200px;
}
.column-gallery-item:first-child .column-gallery-img img{
    width:376px;
    height:298px;
    margin:-149px 0 0 -188px;
}
.column-gallery-item:first-child .column-gallery-txt{
    font-size:15px;
    height: 30px;
    line-height:30px;
    width:356px;
    -webkit-line-clamp: 1;
}


.column-news-list{
    width:462px;
    margin-top: 12px;
}

.column-top-news{
    margin-top:20px;
    padding-bottom:20px;
    border-bottom:1px dashed #eaeaea;
}
.column-top-news-title{
    font-size: 18px;
}
.column-top-news-desc{
    height:36px;
    overflow: hidden;
    margin-top:10px;
    font-size: 12px;
    line-height:1.5;
    color: #888;
}
.column-txt-list{
    margin-top: 1px;
}
.column-txt-list li{
    position: relative;
    padding: 16px 0 0 13px;
}
.column-txt-list li:before{
    content: '';
    position: absolute;
    left:0;
    top:22px;
    width:3px;
    height:3px;
    background-color: #f64141;
    border-radius:50%;
}
.column-txt-list-title{
    width:380px;
}
.column-txt-list-date{
    font-size:12px;
    color: #888;
}



.column-rank {

}

.column-rank-head{
    margin-top: 25px;
}

.column-rank-head h3{
    position: relative;
    padding: 6px 0 0 0;
    font-size: 18px;
   

}
.column-rank-head h3:before{
    position: absolute;
    left: 0;
    top:0;
    width: 3px;
    height: 18px;
    background-color: #f64141;
}
.column-rank-tab{
    margin-left: 20px;
}

.column-rank-tab li{
    position: relative;
    margin: 0 0 0 10px;
    line-height: 26px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    color: #888;
}

.column-rank-tab li.on{
    color: #f64141;
    border-color: #f64141;
}
.column-rank-tab li.on:before{
    content: "";
    position: absolute;
    left: 50%;
    bottom:0;
    margin-left: -3px;
    border: 3px solid transparent;
    border-bottom-color: #f64141;
}


.column-rank-body{
    height: 336px;
    overflow: hidden;

}
.column-rank-item{
    position: relative;
    margin-top: 24px;
    padding: 0 0 0 25px;
    font-size: 13px;
    line-height: 18px;
}
.column-rank-num{
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    font-style: normal;
    background-color: #b8c0cc;
    color: #fff;
    border-radius: 4px;

}
.column-rank-item:nth-child(-n+3) .column-rank-num{
    background-color: #f64141;
}
.column-rank-title{
    width: 275px;
}

.column-3 .column{
    width:380px;
    margin-left: 30px;
}
.column-3 .column:first-child{
    margin-left:0;
}
.column-3 .column-gallery{
    margin-left:0;
}
.column-3 .column-gallery-item{
    display: block;
    float: none;
    margin:0;
}