.top-bar{
    height: 30px;
    font-size: 12px;
    line-height:30px;
    background-color: #f3f3f3;
    border-bottom:1px solid #eaeaea;
}
.top-bar .t-b-i{
    display: inline-block;
    position: relative;
    background-image: url("./image/tc-header-icons.png");
    background-repeat: no-repeat;
}
.top-bar .t-b-i.tel,.top-bar .t-b-i.service{
    width:16px;
    height: 16px;
    top:3px;
    margin-right:3px;
}
.top-bar .t-b-i.tel{
    background-position: 0 -270px;
}
.top-bar .t-b-i.service{
    background-position: 0 -240px;
}
.top-bar *,.top-bar *>a{
    color: #666;
}
.top-bar *>a:hover{
    color: #e56639;
    text-decoration: underline;
}
.top-bar-box{
    width:1200px;
    margin:0 auto;
}
.top-bar-dropdown{
    position: relative;
}
.top-bar-dropdown .dropdown-title{
    padding:0 10px;
    border-left:1px solid #f3f3f3;
    border-right:1px solid #f3f3f3;
}
.top-bar-dropdown:hover .dropdown-title{
    background-color: #fff;
    position: relative;
    padding-bottom: 1px;
    z-index:10;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
}
.top-bar-dropdown i.arrow{
    position: relative;
    top:-2px;
    display: inline-block;
    width:9px;
    height:4px;
    margin-left:4px;
    background: url("image/tc-header-icons.png") no-repeat 0 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.top-bar-dropdown:hover i.arrow{
    background-position: 0 -4px;
}
.top-bar-dropdown .dropdown-body{
    display: none;
    position: absolute;
    top: 30px;
    padding:5px 10px;
    background-color: #fff;
    border:1px solid #ddd;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    /*box-shadow: 0 0 3px #eee;*/
    z-index:9;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.top-bar-dropdown:hover .dropdown-body{
    display: block;
}

.top-bar-menu .dropdown-body{
    width:266px;
}
.top-bar-menu .dropdown-body li{
    float: left;
    padding:0 10px;
}
.top-bar-divide{
    width:1px;
    height:14px;
    margin:8px 4px;
    background-color: #ddd;
}
.top-bar-link{
    margin:0 8px;
}
.top-bar-mobile .dropdown-body{
    right:0;
    width:61px;
}
.top-bar-mobile .dropdown-body img{
    display: none;
    position: absolute;
    right: -100px;
    top: 0;
    width: 80px;
    height:80px;
    border:10px solid #fff;
}
.top-bar-mobile .dropdown-body li:hover>img{
    display: block;
}
.top-bar-login .dropdown-body{
    width:96px;
}
.top-bar-login .dropdown-body li{
    background-image: url("image/tc-header-icons.png");
    background-repeat: no-repeat;
    padding-left:20px;
}
.top-bar-login .tecenet{
    background-position: 0 -30px;
    border-bottom:1px dotted #eaeaea;
}
.top-bar-login .wechat{
    background-position: 0 -60px;
}
.top-bar-login .qq {
    background-position: 0 -90px;
}
.top-bar-member .thumb{
    display: inline-block;
    position: relative;
    top:-2px;
    width:20px;
    height:20px;
    margin-right:5px;
    border-radius:50%;
}
.top-bar-member .dropdown-body{
    width: 235px;
}
.top-bar-message{
    position: relative;
}
.top-bar-message .message{
    width:16px;
    height:12px;
    top:1px;
    background-position: -30px 0;
}
.top-bar-message em{
    position: absolute;
    top: 6px;
    right: -4px;
    width: 4px;
    height: 4px;
    background-color: #ed1c24;
    border-radius:50%;
    border:2px solid #fff;
    box-shadow: 0 0 2px #ccc;
}

.top-bar-add .add{
    width:13px;
    height: 13px;
    top:2px;
    background-position: -60px 0;
}
.top-bar-add:hover .add{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
}
.top-bar-add .dropdown-body{
    width: 186px;
    right: -91px;
}
.top-bar-add .dropdown-body li{
    float: left;
    padding: 0 10px;
}
.top-bar-member .user-info{
    padding:0;
}
.top-bar-member .user-info-hd{
    padding: 10px;
}
.top-bar-member  .avatar{
    width:60px;
    height:60px;
    margin-right:10px;
}
.top-bar-member  .user-name{
    font-size: 14px;
    line-height:1.2;
}
.top-bar-member  .user-name .vip{
    width:22px;
    height:14px;
    margin-left:5px;
    top:2px;
    background-position: 0 -16px;
}
.top-bar-member  .user-name .vip.disable {
    background-position: -30px -16px;
}
.top-bar-member dd{
    margin-top:8px;
    font-size: 12px;
    line-height:1.3;
}
.top-bar-member dd a{
    float: left;
    padding:0 10px;
    text-align: center;
    color: #888;
    border-left:1px solid #eaeaea;
}
.top-bar-member dd a:hover{
    color: #e56639;
    text-decoration: none;
}
.top-bar-member dd a:first-child{
    border-left:none;
    padding-left:0;
}
.top-bar-member dd span{
    display: block;
    line-height:1.8;
    color: #888;
}
.top-bar-member dd a:hover span{
    color: #e56639;
}
.top-bar-member .user-info-bd{
    padding:5px 10px;
    border-top:1px dashed #eaeaea;
}
.top-bar-member .user-info-bd li{
    float: left;
    width:50%;
    line-height: 26px;
    text-indent:18px;
}
.top-bar-member .user-info-bd li.order {
    background-position: 0 -120px;
}
.top-bar-member .user-info-bd li.purchase {
    background-position: 0 -150px;
}
.top-bar-member .user-info-bd li.mark {
    background-position: 0 -180px;
}
.top-bar-member .user-info-bd li.friend {
    background-position: 0 -210px;
}
.top-bar-member .user-info-ft{
    text-align: right;
    background-color: #fafafa;
    border-top:1px solid #ddd;
    color: #ddd;
}
.top-bar-member .user-info-ft>a{
    margin:0 8px;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/*page-header*/
.page-header{
    padding:25px 0;
    background-color: #fff;
}
.page-header .logo{
    width: 136px;
    height: 24px;
    padding-left:120px;
    padding-top: 30px;
    background: url("image/tc-header-logo-2017.png") no-repeat left top;
}
.page-header .logo h1,.page-header .logo span{
    display: block;
}
.page-header .logo h1{
    margin-top:2px;
    font-size: 15px;
    line-height: 24px;
    color: #b81c24;
    margin: 0;
}
.page-header .logo em{
    position: relative;
    display: inline-block;
    font-style: normal;
    color: #595656;
    padding-left:6px;
    margin-left:6px;
}
.page-header .logo em:before{
    content: '';
    position: absolute;
    left: -1px;
    top:50%;
    margin-top:-1px;
    width: 3px;
    height:3px;
    background-color: #595656;
    border-radius:50%;
}

.page-header .logo span{
    font-size: 12px;
    color: #888;
    margin-top:3px;
}
.page-header .tc-search{
    width:585px;
    margin: 5px 0 0 0;
    float: right;
}

/*page-nav*/
.page-nav{
    height: 40px;
    background-color: #e56639;
    border-top:1px solid #C76834;
}
.page-nav-main{
    position: relative;
}
.page-nav-main>li{
    float: left;
}
.page-nav-main>li>a{
    display: block;
    padding:0 20px;
    font-size: 15px;
    line-height:40px;
    color: #fff;
}
.page-nav-main>li.current{
    background-color: #cc5429;
}
.page-nav-main .arrow{
    position: relative;
    top:1px;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left:6px;
    border:4px solid transparent;
    border-top-color: #fff;
}
.page-nav-main>li:hover{
    background-color: #fff;
}
.page-nav-main>li:hover>a{
    color: #e56639;
}
.page-nav-main>li:hover .arrow{
    top: -3px;
    border-bottom-color: #e56639;
}
.page-sub-nav>ul{
    display: none;
    position: absolute;
    left:0;
    width:100%;
    padding:10px 0;
    background: #fff;
    border:1px solid #C76834;
    border-top: none;
    box-shadow: 0 2px 2px rgba(170, 150, 145, 0.2);
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .25s;
    animation-duration: .25s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index:19;
}
.page-sub-nav:hover>ul{
    display: block;
}
.page-sub-nav>ul>li{
    display: inline-block;
    margin: 3px 20px;
    font-size: 14px;
    line-height:2;
}
.page-sub-nav>ul>li em{
    font-style: normal;
    color: #888;
    margin-left:4px;
    font-family:Arial;
}
.page-sub-nav>ul>li>a:hover{
    color: #e56639;
}
.page-sub-nav-lg>ul>li{
    min-width: 156px;
}
.page-sub-nav-sm>ul>li{
    min-width: 56px;
}
.page-sub-nav-ver{
    position: relative;
}
.page-sub-nav-ver:hover>a{
    border-left:1px solid #C76834;
    border-right:1px solid #C76834;
}
.page-sub-nav-ver>ul{
    box-sizing: border-box;
    padding: 0 0 10px 0;
}
.page-sub-nav-ver>ul>li{
    display: block;
    width:100%;
    margin:5px 0;
}
.page-sub-nav-ver>ul>li>a{
    padding:0 20px;
}


/*crumb*/
.crumb{
    padding:20px 0;
    font-size:12px;
    color: #888;
}
.crumb>a{
    /*border:1px solid #eaeaea;*/
    /*padding:3px 10px;*/
}
.crumb>a,.crumb>em{
    font-size: 12px;
    color: #555;
}
.crumb>a:hover{
    color: #e56639;
    text-decoration: underline;
}
.crumb>span{
    padding:0 10px;
    font-family:Arial;
}
.crumb>em{
    font-style: normal;
}

/*pagination*/
.pagination{
    margin-top:20px;
    padding: 20px 0;
    text-align: center;
}
.pagination ul{
    display: inline-block;
    margin:0 10px;
}
.pagination li{
    display: inline-block;
    height: 30px;
    margin: 0 3px;
    line-height: 30px;
    color: #888;
}
.pagination li a,.pagination li input{
    display: block;
    padding: 0 10px;
    font-size: 12px;
    line-height: 28px;
    border: 1px solid #ddd;
    background-color: #FFF;
    color: #555;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #eee;
    text-decoration: none;
    outline:none;
}
.pagination li a:hover,.pagination li input[type="button"]:hover{
    background-color: #f5f5f5;
    color: #666;
    border: 1px solid #ddd;
}
.pagination li a:active,.pagination li input[type="button"]:active{
    box-shadow: inset 0 2px 1px rgba(0,0,0,.15);
    background-color: #eee;
}
.pagination li a.on{
    background-color: #e56639;
    color: #fff;
    border-color: #e56639;
}
.pagination li input[type="text"]{
    width:40px;
}