html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
}
input,textarea,button,a {
    outline: 0;
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea {
    margin: 0;
}
fieldset,legend,textarea,input {
    padding: 0;
}
ul,ol {
    padding-left: 0;
    list-style-type: none;
}
a img,fieldset {
    border: 0;
}
article,aside,details,figcaption,figure,footer,header,main,nav,section,summary {
    display: block;
}
audio,canvas,video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}[hidden] {
     display: none;
 }
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
button,input,select,textarea {
    margin: 0;
    font-size: 100%;
    font-family: inherit;
}
button,select {
    text-transform: none;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
button[disabled],html input[disabled] {
    cursor: default;
}
input[type="checkbox"],input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
textarea {
    overflow: auto;
    vertical-align: top;
    resize: none;
}
input:-webkit-autofill,textarea:-webkit-autofill,select:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #fff;
    -moz-box-shadow: inset 0 0 0 1000px #fff;
    box-shadow: inset 0 0 0 1000px #fff;
}
select {
    -webkit-border-radius: 0;
    border-radius: 0;
}
body {
    color: #333;
    font-size: 14px;
    font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
    line-height: 1.6;
}
textarea,input {
    color: #222;
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
    color: #a3a3a3;
}
textarea:-moz-placeholder,input:-moz-placeholder {
    color: #a3a3a3;
}
textarea::-moz-placeholder,input::-moz-placeholder {
    color: #a3a3a3;
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {
    color: #a3a3a3;
}
textarea.placeholder,input.placeholder {
    color: #a3a3a3;
}
textarea {
    overflow-y: auto;
    resize: none;
}
a {
    color: #e56639;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
button,input,select,textarea {
    *font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
}



.clearfix:before,.clearfix:after{
    clear:both;
    display: table;
    content: " ";
}

.reg-step{
    width:1198px;
    margin-left:auto;
    margin-right: auto;
    background-color: #fff;
    border:1px solid #ddd;
}
.reg-step>ul{
    overflow: hidden;
}
.reg-step li{
    position: relative;
    float: left;
    width:373px;
    height: 40px;
    padding:0 40px;
    margin-left:-40px;
    font-size: 14px;
    line-height:40px;
    text-align: center;
    color: #888;
}
.reg-step li:first-child{
    width:372px;
}
.reg-step li:before,.reg-step li:after{
    content: '';
    position: absolute;
    width:0;
    height:0;
    border:20px solid transparent;
}
.reg-step li:before{
    right:-10px;
    top:0;
    border-left-color:#ddd;
}
.reg-step li:after{
    right:-9px;
    top:0;
    border-left-color: #fff;
}
.reg-step li>i{
    font-style: normal;
    margin-right:5px;
}
.reg-step li:first-child + li  + li{
    padding-right: 0;
}
.reg-step li:first-child + li + li:before,.reg-step li:first-child + li + li:after{
    display: none;
}

.reg-step li.active:last-child:before{
    display: block;
    right:373px;
}
.reg-step li.active{
    background-color: #e56639;
    color: #fff;
    border-color: #e56639;
}
.reg-step li.active:before{
    right: 413px;
    border-left-color: #fff;
}
.reg-step li.active:after{
    border-left-color:#e56639;
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #fff;
}

/*frm-control-group*/
.frm-wrap{
}
.frm-control-group{
    padding-bottom:25px;
}
.frm-label{
    float: left;
    margin-right:12px;
    margin-top:7px;
}
.frm-controls{
    display: table-cell;
}
.frm-wrap .frm-controls{
    height:86px;
}
.frm-controls .msg-box{
    margin-top:5px;
    color: #888;
}
.frm-controls .msg-box .n-icon{
    position: relative;
    top:2px;
    margin-right:4px;
    display: inline-block;
    width:16px;
    height: 16px;
    background-image: url(../images/reg-icons.png);
    background-repeat: no-repeat;
}
.frm-controls .msg-box .n-error{
    color: #e53935;
}
.frm-controls .msg-box .n-tip .n-icon{
    background-position: 0 -900px;
}
.frm-controls .msg-box .n-error .n-icon{
    background-position: 0 -950px;
}
.frm-input-box{
    display: inline-block;
    position: relative;
    height: 34px;
    line-height: 34px;
    vertical-align: middle;
    width: 248px;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #fff;
}
.frm-input{
    width:100%;
    border: none;
    outline:none;
    border-radius:0;
    background-color: transparent;
}
.frm-input{
    height:26px;
    line-height: 26px;
    margin:4px 0;
}

/*reg-success-txt*/
.reg-success{
    text-align: center;
}
.reg-success-txt{
    margin:20px 0 10px 0;
    font-size: 20px;
}
.reg-success-txt>*{
    display: inline-block;
    vertical-align: middle;
}
.reg-success-txt i.icon-success{
    width:32px;
    height:32px;
    margin-right: 10px;
    background: url("../images/reg-icons.png") no-repeat left -750px;
}
.reg-success-txt span{
    color: #e56639;
    margin-right:10px;
}
.reg-success-go{
    width: 600px;
    color: #666;
    padding-bottom: 60px;
    margin: 0 auto 60px;
    border-bottom: 1px solid #eaeaea;
}
/*btn.base*/
.btn{
    display: inline-block;
    padding: 6px 20px;
    margin:0 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover{
    background-color: #eaeaea;
    border-color: #ccc;
    text-decoration: none;
}
.btn-primary{
    color: #fff;
    background-color: #e56639;
    border-color: #c84a1e;
}
.btn-primary:hover{
    background-color: #d95b2e;
    border-color: #bd3f12;
    text-decoration: none;
}




.reg-wrap{
    padding:60px 0;
    background-color: #EFEFEF;
}

.reg-container{
    width:1198px;
    margin-left:auto;
    margin-right:auto;
    padding:60px 0;
    border:1px solid #ddd;
    border-top: none;
    background-color: #fff;
}
.reg-container .frm-wrap{
    width:700px;
    float: left;
    border-right:1px solid #eaeaea;
}
.reg-container .frm-wrap>form{
    width:420px;
    margin-left:150px;
    margin-top: 30px;
}

.reg-container .frm-label{
    width:80px;
}
.reg-container .msg-box{
    display: block;
    width:275px;
}
.reg-container .frm-btn-group{
    padding-top:30px;
    border-top:1px solid #eaeaea;
    text-align: center;
}
.verify-code .frm-input-box{
}
.verify-code .frm-input-box .frm-input{
    width:114px;
    float: left;
}
.verify-code-wrap{
    float: left;
}
.verify-code-wrap>img,.verify-code-wrap>a{
    float: left;
    line-height:34px;
    border-left:1px solid #eaeaea;
}
.verify-code-wrap>img{
    width:80px;
}
.verify-code-wrap .change-verify-code{
    padding-left:10px;
}

.user-name .frm-input-box .frm-input{
    width:100px;
}
.user-name .frm-input-box label{
    cursor: pointer;
    display: inline-block;
    width:46px;
    padding-left:22px;
    line-height:30px;
    background:url("../images/reg-icons.png") no-repeat 0 -293px;
}
.user-name .frm-input-box label.act{
    background-position: 0 -343px;
}
.user-name .frm-radio{
    display: none;
}
.frm-select-box{
    display: inline-block;
}
.frm-select-box select{
    padding:0 8px;
    margin:0 10px 0 0;
    font-size:14px;
    border:1px solid #eaeaea;
    height: 34px;
    line-height:34px;
    box-sizing: content-box;
}

.msg-verify-btn{
    float: left;
    width:120px;
    height: 34px;
    background-color: transparent;
    border: none;
    border-left:1px solid #eaeaea;
    color: #e56639;
}
.msg-verify-btn-dis{
    background-color: #f1f1f1;
    color: #888;
}
.msg-verify-code .frm-input-box .frm-input{
    width:138px;
    float: left;
}
.msg-verify-code .frm-input-box{
    padding:0 0 0 10px;
    width:258px;
}
.cpy-checkbox{
    position: relative;
    padding: 15px;
    margin-bottom:40px;
    border: 1px solid #ffece5;
    background: url("../images/reg-icons.png") no-repeat 18px -422px;
}
.cpy-checkbox:hover{
    border: 1px solid #eacfc5;
}
.cpy-checkbox:hover{
    background-position: 18px -522px;
}
.cpy-checkbox.checked{
    background-position: 18px -622px;
}
.cpy-checkbox input[type="checkbox"]{
    width:0;
    height:0;
    opacity:0;
}
.cpy-checkbox label{
    font-size: 16px;
    padding-left:34px;
    display: block;
    color: #e56639;
    cursor: pointer;

}
.cpy-checkbox span{
    display: block;
    font-size: 12px;
    color: #666;
    margin-top:3px;
}
.cpy-checkbox input{
    position: absolute;
    left:0;
}
.cpy-website .frm-input{
    width:150px;
}
.cpy-website-domain{
    float: right;
    padding:0 0 0 10px;
}
.agreement-tip{
    margin-top:20px;
    color: #888;
}
/*agreement-dialog*/
.agreement-dialog-wrp{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.2);
}
.agreement-dialog{
    position: fixed;
    left:50%;
    top:50%;
    width:50%;
    height:400px;
    margin:-220px  0 0 -25%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index:9;
}
.agreement-dialog-hd{
    height: 45px;
    padding:0 15px;
    font-size:16px;
    line-height:45px;
    text-align: center;
    border-bottom:1px solid #ccc;
    color: #e84c3d;
}

.agreement-dialog-hd button{
    float: right;
    height: 45px;
    border: none;
    background: transparent;
    color: #666;
}

.agreement-dialog-bd{
    margin:10px;
    padding:10px;
    height:300px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: justify;
}
.agreement-dialog-bd p{
    margin:0 0 15px 0;
    color: #666;
    line-height:1.8;
}
/*other-wrap*/
.other-wrap{
    padding-top: 40px;
    overflow: hidden;
    text-align: center;
}

.other-wrap .other-hd{
    display: inline-block;
    width:60%;
    height: 20px;
    margin:50px 0 20px 0;
    position: relative;
    border-bottom: 1px dashed #eaeaea;
}
.other-wrap .other-hd span{
    position: absolute;
    left:50%;
    top:10px;
    width:150px;
    margin-left:-75px;
    line-height:20px;
    color: #888;
    background-color: #fff;
}
.other-wrap .other-bd .icon{
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding: 0 15px 0 40px;
    margin: 0 10px;
    background-image: url(../images/reg-icons.png);
    background-repeat: no-repeat;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #bbb;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.other-wrap .other-bd .icon.wechat{
    background-position:15px -50px;
}
.other-wrap .other-bd .icon.wechat:hover{
    background-position:15px 0;
    border-color: #23b576;
    color: #23b576;
}
.other-wrap .other-bd .icon.qq{
    background-position:15px -150px;
}
.other-wrap .other-bd .icon.qq:hover{
    background-position:15px -100px;
    border-color: #66afe9;
    color: #66afe9;
}
.other-wrap .other-bd .icon.service{
    background-position:15px -250px;
}
.other-wrap .other-bd .icon.service:hover{
    background-position:15px -200px;
    border-color: #e56639;
    color: #e56639;
}



.other-wrap .other-bd a.link{
    color: #e56639;
    text-decoration: underline;
}
.other-wrap .other-bd p.tel{
    font-size:16px;
    color: #666;
    margin-bottom:20px;
}

.n-error,.n-tip{

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}
.n-tip{
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.n-error{
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-name: flash;
    animation-name: flash;
}
@-webkit-keyframes flash {
    from,to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
@keyframes flash {
    from,to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}



