@charset "utf-8";
html {
    color: #000;
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

html, body {
    font-family: sans-serif
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0
}

input, select, textarea {
    font-size: 100%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset, img {
    border: 0
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

del {
    text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 500
}

ol, ul {
    list-style: none
}

caption, th {
    text-align: left
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400
}

q:before, q:after {
    content: ''
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -.5em
}

sub {
    bottom: -.25em
}

a:hover {
    text-decoration: underline
}

ins, a {
    text-decoration: none
}

body, html {
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-input-placeholder {
    color: #aaa;
}

:-moz-placeholder {
    color: #aaa;
}

::-moz-placeholder {
    color: #aaa;
}

:-ms-input-placeholder {
    color: #aaa;
}

body a:hover {
    text-decoration: none;
}
a {
    color: #333;
}

/*layout*/
.tc-hide{
    display: none;
}
.mg-auto {
    margin-left: auto;
    margin-right: auto;
}
.mg-0{
    margin: 0;
}
.mg-10 {
    margin: 0.25rem;
}

.mg-t-10 {
    margin-top: 0.25rem;
}

.mg-b-10 {
    margin-bottom: 0.25rem;
}

.mg-l-10 {
    margin-left: 0.25rem;
}

.mg-r-10 {
    margin-right: 0.25rem;
}

.mg-20 {
    margin: 0.5rem;
}

.mg-t-20 {
    margin-top: 0.5rem;
}

.mg-b-20 {
    margin-bottom: 0.5rem;
}

.mg-l-20 {
    margin-left: 0.5rem;
}

.mg-r-20 {
    margin-right: 0.5rem;
}

.mg-30 {
    margin: 0.75rem;
}

.mg-t-30 {
    margin-top: 0.75rem;
}

.mg-b-30 {
    margin-bottom: 0.75rem;
}

.mg-l-30 {
    margin-left: 0.75rem;
}

.mg-r-30 {
    margin-right: 0.75rem;
}

.mg-40 {
    margin: 1rem;
}

.mg-t-40 {
    margin-top: 1rem;
}

.mg-b-40 {
    margin-bottom: 1rem;
}

.mg-l-40 {
    margin-left: 1rem;
}

.mg-r-40 {
    margin-right: 1rem;
}

.pd-10 {
    padding: 0.25rem;
}

.pd-t-10 {
    padding-top: 0.25rem;
}

.pd-b-10 {
    padding-bottom: 0.25rem;
}

.pd-l-10 {
    padding-left: 0.25rem;
}

.pd-r-10 {
    padding-right: 0.25rem;
}

.pd-20 {
    padding: 0.5rem;
}

.pd-t-20 {
    padding-top: 0.5rem;
}

.pd-b-20 {
    padding-bottom: 0.5rem;
}

.pd-l-20 {
    padding-left: 0.5rem;
}

.pd-r-20 {
    padding-right: 0.5rem;
}

.pd-30 {
    padding: 0.75rem;
}

.pd-t-30 {
    padding-top: 0.75rem;
}

.pd-b-30 {
    padding-bottom: 0.75rem;
}

.pd-l-30 {
    padding-left: 0.75rem;
}

.pd-r-30 {
    padding-right: 0.75rem;
}

.pd-40 {
    padding: 1rem;
}

.pd-t-40 {
    padding-top: 1rem;
}

.pd-b-40 {
    padding-bottom: 1rem;
}

.pd-l-40 {
    padding-left: 1rem;
}

.pd-r-40 {
    padding-right: 1rem;
}

/*text.base*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}
.text-overflow{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-primary {
    color: #E67E22;
}

.text-muted {
    color: #888;
}
.text-line-2{
    display: -webkit-box;
    overflow: hidden;
    white-space: normal;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*tc-button*/
.tc-btn_primary {
    background-color: #E67E22;
}

.tc-btn_primary:not(.tc-btn_disabled):active {
    color: rgba(255, 255, 255, 0.6);
    background-color: #D35400;
}

/*tc-layout*/
.tc-page, body {
    background-color: #f8f8f8;
}

.tc-page, .page-group {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.tc-header-nav {
    height: 1.2rem;
    background-color: #fff;
    border-bottom: 0.025rem solid #eaeaea;
    z-index: 109;
}

.tc-frame {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.tc-header-nav ~ .tc-frame {
    top: 1.2rem;
}

.tc-header-nav ~ .weui-search-bar ~ .tc-frame{
    top: 2.31rem;
}
.tc-header-nav ~ .weui-search-bar:before{
    display: none;
}

.tc-footer-tab ~ .tc-frame {
    bottom: 1.275rem;
}

.tc-header-nav {
    position: relative;
}

.header-nav__title {
    font-size: 0.4rem;
    line-height: 1.2rem;
    text-align: center;

}

.header-nav__title, .header-nav__back, .header-nav__more,.header-nav__filter,.header-nav__share {
    text-align: center;
    line-height: 1.2rem;
}

.header-nav__back, .header-nav__more,.header-nav__filter,.header-nav__share {
    position: absolute;
    width: 1.2rem;
    height: 1.2rem;
    color: #666;
}

.header-nav__back {
    left: 0;
}

.header-nav__more,.header-nav__filter,.header-nav__share {
    right: 0;
}
.header-nav__more + .header-nav__share{
    right: 1.2rem
}

.header-tabs{

}

.header-tabs__item{
    padding: 0.31rem 0.1rem;
    margin: 0 0.25rem;
}

.header-tabs__item.header-tabs__active{
    color: #E67E22;
    border-bottom: 0.05rem solid #E67E22;
}


.header-more__list {
    position: absolute;
    top: 1.2rem;
    right: 0.25rem;
    width: auto;
    background: rgba(0, 0, 0, 0.85);
    box-shadow: -0.025rem 0.025rem 0.075rem rgba(0,0,0,.05);
    border-radius: 4px;
    z-index: 100;
}

.header-more__list:before {
    display: block;
    content: '';
    position: absolute;
    z-index: 101;
    right: 0.25rem;
    top: -0.15rem;
    border-left: 0.15rem solid transparent;
    border-right: 0.15rem solid transparent;
    border-bottom: 0.15rem solid rgba(0, 0, 0, 0.8);
}

.header-more__item {
    height: 1.0rem;
    margin: 0 0.375rem;
    padding: 0 0.125rem;
    font-size: 0.35rem;
    line-height: 1.0rem;
    border-bottom: 0.025rem solid #404040;
    color: #fff;
}
.header-more__item:last-child{
    border-bottom: none;
}


.header-more__icon {
    margin-right: 0.2rem;
}

/*tc_tip*/
.tc-tips {
    border-style: solid;
    border-width: 0.025rem;
    padding: 0.375rem;
    background-color: #fff;
    margin: 0.375rem;
    font-size: 0.3rem;
}

.tc-tips__primary {
    color: #888;
    border-color: #f6f4ec;
    background-color: #fefcf3;
}

/*分享*/
.share-modal-content{

}
.share-modal-content .weui-grid{
    text-align: center;
}
.share-modal-content .iconfont {
    font-size: 0.7rem;
}
.share-modal-content .icon-weixin{
    color: #2ECC71;
}
.share-modal-content .icon-weibo {
    color: #E74C3C;
}
.share-modal-content .icon-QQ {
    color: #3498DB;
}
.share-modal-content .icon-qqkongjian{
    color: #F1C40F;
}
.share-modal-content .icon-erweima1{
    color: #333;
}
.share-modal-content .icon-module-link{
    color: #777;
}
.share-modal-content .weui-grid__label{
    color: #666;
}
#sharePopup .weui-popup__modal{
    background-color: #fff;
}
/*过滤器*/
.filter-wrap .weui-popup__modal{
    right: 0;
}
.weui-popup__container--visible .weui-popup__overlay{
    cursor: pointer;
    opacity: 1;
}
.filter-wrap .weui-popup__modal{
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}

.filter-wrap.weui-popup__container--visible .weui-popup__modal{
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    box-shadow:  0 0.25rem 0.25rem rgba(0,0,0,0.2)
}
.filter-wrap__hd:before{
    display: none;
}
.filter-wrap__hd .close-popup{
    left: 0;
    right: auto;
    padding: 0 0.4rem;
    color: #666;
}

.filter-wrap__bd{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.filter-wrap__ft ~ .filter-wrap__bd{
    bottom: 1.15rem;
}
.filter-wrap__hd ~ .filter-wrap__bd{
    top: 1rem;
}

.filter-wrap__ft{
    position: absolute;
    width: 100%;
    bottom:0;

}

.filter-wrap__ft .weui-btn{
    margin-top: 0;
    border-radius: 0;
}
.filter-wrap__ft .weui-btn:after{
    border-radius: 0;
}
.filter-wrap__bd{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.filter-wrap__bd .weui-cell{
    flex-wrap: wrap;
/*    padding: 0 0.375rem 0.375rem 0;
*/}

.filter-item{
    display: inline-block;
    height: 0.7rem;
    padding: 0 0.3rem;
    margin: 0.375rem 0 0 0.375rem;
    font-size: 0.35rem;
    line-height: 0.7rem;
    border: 0.025rem solid #eaeaea;
}
.filter-item__active,.filter-item:active{
    background-color: #E67E22;
    border-color: #E67E22;
    color: rgba(255,255,255,.9);
}

.filter-wrap__bd .weui-cells__title{
    position: relative;
}
.filter-arrow{
    position: absolute;
    right: 0.5rem;
    top: 0;
    display: block;
    width: 0.25rem;
    height: 0.25rem;
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    margin-left: 0.2rem;
    margin-right: 0.05rem;
}
.filter-arrow__up{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    margin-top: 0.2rem;
}
.filter-arrow__down{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    margin-top: 0.05rem;
}
.filter-wrap__content{
    height: 2.575rem;
}
.filter-wrap__main{
    margin-bottom: 0.375rem;
}

/*swiper*/
.tc-swiper{
    
}
.tc-swiper .swiper-slide{
    min-height: 2.5rem;
}

.tc-swiper img{
    display: block;
    max-width: 100%;
    margin: 0 auto;
}
/*share*/
.tc-grids{
    background-color: #fff;
}

.wechat-share-guide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    z-index: 110;
}
.wechat-share-guide img{
    max-width: 100%;
}

.qrode-modal-content{
    background-color: #fff;
    text-align: center;
}
.qrode-modal__img{
    width: 3.82rem;
    height: 3.82rem;
    margin: 0.5rem auto 0;
    background: #f1f1f1;
}
.qrode-modal__text{
    padding-bottom: 0.5rem;
    font-size: 0.35rem;
    color: #888;
}

/*comment*/
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header{
    padding: 0.2rem 0 0.7rem 0;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-float-bar,#SOHUCS #SOHU_MAIN .module-mobile-cmt-list .list-footer-wrapper-wap{
    display: none;
}
.tc-frame #SOHUCS #SOHU_MAIN.cy-red-skin .module-mobile-cmt-header .mobile-header-head .header-comment-number .comment-number{
    font-weight: 200;
    font-size: 0.35rem;
    background-color: #E67E22;
}
.tc-frame #SOHUCS #SOHU_MAIN.cy-red-skin .module-mobile-cmt-header .mobile-header-head .header-comment-number .comment-number-tri{
    display: none;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header .mobile-header-head{
    padding: 0 0.375rem;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header .mobile-header-head .header-login{
    font-size: 0.3rem;
    padding: 0.125rem 0.25rem;
    background-color: #E67E22;
    color: #fff;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header .mobile-header-head .header-comment-number .comment-text{
    font-size: 0.45rem;
    font-weight: 200;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header .comment-textarea{
    padding: 0 0.375rem;
    margin: 0;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-header .comment-textarea .comment-input{
    border-color: #eaeaea !important;
    border-radius: 0;
    font-size: 0.35rem;
    height: 0.9rem;
    line-height: 0.9rem;
}
.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-list .list-wrapper-wap .list-container-wap{
    margin-top: 0;
}


.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-box .mobile-cmt-box,.tc-frame #SOHUCS #SOHU_MAIN .module-mobile-cmt-box .cmt-box-press{
    top: 1.22rem;
}

.list-more{
    margin: 0.375rem 0;
    background-color: #fff;
}
.list-more__btn{
    display: block;
    height: 1.2rem;
    line-height: 1.2rem;
    color: #666;
    font-size: 0.35rem;
    text-align: center;
    cursor: pointer;
}
.list-more__btn:active{
    background-color: #eaeaea;
    color: #888;
}
.list-more__btn .iconfont{
    position: relative;
    top: 0.05rem;
    margin-left: 0.125rem;
}
/*gotop*/
.go-to-top{
    position: fixed;
    right: 0.25rem;
    bottom: 2.5rem;
    width: 1.0rem;
    height: 1.0rem;
    padding: 0.05rem;
    text-align: center;
    border: 0.025rem solid #eaeaea;
    border-radius: 50%;
    background-color: #fff;
    z-index: 99;
    cursor: pointer;
    color: #888;
}

.go-to-top span{
    display: block;
    line-height: 1;
    font-size: 0.25rem;
}


/*topnav*/
.topnav-bar{
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
}
.topnav-wrap{
    position: relative;
    height: 1.0rem;
    padding: 0 1rem 0 0.25rem;
    background-color: #E67E22;
    border-top: 0.05rem solid #D35400;

}
.topnav-wrap:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #D35400;
    color: #D35400;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.topnav-main{
    position: relative;
}
.topnav-main::before, .topnav-main::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    height: 0.9rem;
    width: .4rem;
    z-index: 10;
    border-left: .08rem solid #E67E22;
    background: -webkit-linear-gradient(left,#E67E22 0,rgba(230,126,34,0) 100%);
    background: linear-gradient(to right,#E67E22 0,rgba(230,126,34,0) 100%);
    pointer-events: none;
    -webkit-transition: .25s;
    transition: .25s;
}
.topnav-main::before {
    opacity: 0;
}
.topnav-main.topnav-main__on::before {
    opacity: 1;
}
.topnav-main::before{
    left: -0.25rem;
}
.topnav-main::after{
    right: 0;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}



.topnav-list{
    display: -webkit-flex;
    display: flex;
    position: relative;
    padding-right: 0.32rem;
    overflow-x: scroll;
    overflow-y: hidden;
    color: #fff;
    font-size: 0;
    line-height: 1rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}


.topnav-list::-webkit-scrollbar{
    display: none;
}


.topnav-item{
    position: relative;
    display: inline-block;
    flex: 1;
    -webkit-flex: 1;
    padding: 0 0.2rem;
    font-size: 0.4rem;
    line-height: 1rem;
    text-align: center;
    opacity: .75;
    color: #fff;
}
.topnav-item__active{
    opacity: 1;
}

.topnav-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 1rem;
    height: 1rem;
    background-color: transparent;
    border: none;
    color: #fff;
    z-index: 11;
    -webkit-perspective: 36px;
    perspective: 36px;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.topnav-btn__open
{
        -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.topnav-panel{
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: rgba(255,255,255,0.9);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    pointer-events: auto;
    flex-wrap:wrap;


}
.topnav-panel:before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #eaeaea;
    color: #eaeaea;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.topnav-panel__item{
    width: 25%;
    display: inline-block;
    padding: 0.25rem 0.25rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.4rem;
}
.topnav-panel__item:active{
    background-color: #f1f1f1;
}










.tc-footer-tab__mark,.tc-footer-tab__share{
    width: 1.8rem;
    height: 1.275rem;
    font-size: 0.35rem;
    text-align: center;
    color: #666;
}
.tc-footer-tab__mark:active,.tc-footer-tab__share:active{
    background-color: #eaeaea;
}

.tc-footer-tab__mark .iconfont,.tc-footer-tab__share .iconfont{
    display: block;
    font-size: 0.5rem;
    line-height: 1.2;
    margin-top: 0.125rem;
}


.tc-footer-tab__primary,.tc-footer-tab__warn{
    color: #fff;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.275rem;
}


.tc-channel{
    flex-wrap: wrap;
    padding: 0.125rem;
}
.tc-channel__item{
    position: relative;
    width: 4.625rem;
    height: 2.325rem;
    margin: 0.125rem;

}
.tc-channel__item__img{
    max-width: 100%;
    height: auto;
}

.tc-channel__item__text{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 0.5rem;
    line-height: 2.25rem;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    text-shadow: 0.05rem 0 0.05rem rgba(0,0,0,0.5);
}
.tc-channel__item:active .tc-channel__item__text{
    background-color: rgba(0,0,0,.4);
    text-shadow: none;
}

.tc-contact__msg{
    display: block;
    padding: 0.3rem 0.375rem 0.05rem 0.375rem;
    margin: 0.375rem;
    font-size: 0.325rem;
    line-height: 1.6;
    background-color: #fefcf3;
    border: 0.025rem solid #eaeaea;
    color: #777;
}
.tc-contact__msg>p{
    padding-bottom: 0.25rem;
}
.tc-contact__msg__link{
    margin: 0 0.075rem;
    color: #E67E22;
}

