{php $c=1;}<ul class="com2">
{loop $tags $k $t}
{php if($c==3){$c=1;}}
<li onmouseover="this.className='gs9'" 
	{if fmod($c,2)==0}onmouseout="this.className='gs7'"class="gs7"{else}onmouseout="this.className='gs8'"class="gs8"{/if}>
	<table cellpadding="0" cellspacing="0">
	<tr align="center">
		<td width="10" rowspan="3"></td>
		<td align="left">
<div>{if $t[vip]}<span class="fr mr10"><img src="{DT_SKIN}image/vip.gif"/> <img src="{DT_SKIN}image/vip_{$t[vip]}.gif"/></span>{/if}{if $t[validated]}<img src="{DT_SKIN}image/shield.gif" class="mid"/>{else}<img src="{DT_SKIN}image/shield_no.gif" class="mid"/>{/if}&nbsp;<span class="lenstr w240 b"><div><a href="{$t[linkurl]}" target="_blank">{$t[company]}</a></div></span><span class="lenstr w120">[{area_pos($t[areaid], '/', 2)}]</span><span class="lenstr ml10">{if $t[mode]}({$t[mode]}){/if}</span><span class="lenstr ml10">{if $t[type]}{$t[type]}{else}未填{/if}</span><span class="lenstr ml10">电话:{if $t[telephone]}{$t[telephone]}{else}未填{/if}</span></div>
		</td>
	</tr>
  <tr>
  		<td>
<p>产品总数：[{$t[pnum]}]:{dsubstr($t[business],200,"..")}</p>
		</td>
  </tr>
	</table>
</li>
{php $c=$c+1;}
{/loop}		
</ul>
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
