{php $c=1;}
{loop $tags $k $t}
{php if($c==3){$c=1;}}
<li  >
	<table cellpadding="0" cellspacing="0" onmouseover="this.className='down3'" {if fmod($c,2)==0}onmouseout="this.className='down2'"class="down2"{else}onmouseout="this.className='down1'"class="down1"{/if}>
	  <tr>
    <td colspan="2"><div><a href="{$t[linkurl]}" target="_blank" class="lenstr w220"><span>{if $t[level]>0}<img src="{DT_SKIN}image/shield.gif" class="mid" alt="普通信息"/>{else}<img src="{DT_SKIN}image/shield_no.gif"class="mid" alt="推荐信息"/>{/if}</span>{$t[title]}</a></div></td>
  </tr>
	<tr align="center">
		<td width="60" rowspan="3"><a href="{$t[linkurl]}" target="_blank"><img src="{if $t[thumb]!=''}{$t[thumb]}{else}{DT_SKIN}image/ext/{$t[fileext]}.jpg{/if}" width="40" height="40" class="grayb"/></a></td>
		<tr><td width="160"><span class="w70 lenstr">次数：{$t[hits]}°C </span> <span class="w70 lenstr">日期：{timetodate($t[edittime],2)}</span></td>
		</tr>
		<tr><td><span class="w120 lenstr">条件：{if $t[downtype]==0}完全共享{/if}{if $t[downtype]==1}下载需{$t[djifen]}积分{/if}{if $t[downtype]==2}下载需{$t[dprice]}金币{/if}</span><span class="w70 lenstr">大小：{$t[filesize]}{$t[unit]}</span></td>
		</tr>
	</tr>

	</table>
</li>

{php $c=$c+1;}
{/loop}		
