{php $c=1;}
{loop $tags $k $t}
{php if($c==5){$c=1;}}
<li class="cut {if $k>0&&fmod($k,3)==0||$k==1}ml30{else}ml10{/if}" >
	<table cellpadding="0" cellspacing="0" onmouseover="this.className='gs6'" 
	{if $c<5&&$c>2}onmouseout="this.className='gs4'"class="gs4"{else}onmouseout="this.className='gs5'"class="gs5"{/if}>
	<tr align="center">
		<td width="65" rowspan="2"><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb],'nohead50.gif')}" width="50" height="50" class="grayb"/></a></td>
		<td align="left">
<div><span class='fr mr10'>[{$t[hits]}°C]</span><a href="{$t[linkurl]}" target="_blank">{if $t[status]==3}<img src="{DT_SKIN}image/shield.gif" class="mid"/>{else}<img src="{DT_SKIN}image/shield_no.gif" class="mid"/>{/if}&nbsp;{area_pos($t[areaid], '/', 2)}&nbsp;&nbsp;{$t[truename]}</a></div>
					</td>
	</tr>
	<tr align="center">
	  <td align="left"valign="top" height=40 ><div class="ml10 ">主修范围：{$t[catname]}<br>{dsubstr($t[introduce],80,"..")}</div></td>
  </tr>
	</table>
</li>
{php $c=$c+1;}
{/loop}		
