<!--友情链接-->
<div class="links" style="background-color: #FBFBFB;padding:20px 0 40px">
    <div style="width:1000px;height: 40px;margin: 0 auto;border: 1px solid #eaeaea;">
        <div style="background-color: #717171;float: left;padding: 0 20px;color:#fff;line-height: 40px;">友情链接</div>
        <ul style="line-height: 40px;float: left;">
            <li style="margin:0 15px;display: inline-block;"><a href="http://www.tecenet.com/" target="_blank" rel="nofollow">天成医疗网</a></li>
        </ul>
    </div>
</div>
<!--友情链接 end-->

<!-- tc-footer-->
<div class="tc-footer"></div>
<!-- tc-footer end-->

</body>
</html>