<!--友情链接-->
<div class="links" style="background-color: #FBFBFB;padding:20px 0 40px">
    <div style="width:1000px;height: 40px;margin: 0 auto;border: 1px solid #eaeaea;">
        <div style="background-color: #717171;float: left;padding: 0 20px;color:#fff;line-height: 40px;">友情链接</div>
        <ul style="line-height: 40px;float: left;">
            <li style="margin:0 15px;display: inline-block;"><a href="http://www.tecenet.com/" target="_blank" rel="nofollow">天成医疗网</a></li>
        </ul>
    </div>
</div>
<!--友情链接 end-->

<!--联系客服-->
<a class="service-btn" href="javascript:;" onclick="dialogOpen()"><span>点击咨询客服</span></a>

<div class="service-dialog" style="display: none;">
    <div class="service-dialog-head clearfix">
        <span class="service-dialog-head-text pull-left">在线客服 <em>（工作日：09:00-17:00）</em></span>
        <a href="javascript:;" class="service-dialog-close pull-right" onclick="dialogClose();">×</a>
    </div>
    <div class="service-dialog-body">
        <dl>
            <dt><span>在线咨询</span></dt>
            <dd>
                <a class="btn" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&userId=6452136&s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);">点击咨询留言</a>
            </dd>
        </dl>
        <dl>
            <dt><span>在线QQ</span></dt>
            <dd>
                <a class="qq-btn" href=""></a>
            </dd>
        </dl>
        <dl>
            <dt><span>客服电话</span></dt>
            <dd>
                <p class="service-tel">400-617-3599</p>
            </dd>
        </dl>
    </div>
</div>
<!--联系客服 end-->

<!-- tc-footer-->
<div class="tc-footer"></div>
<!-- tc-footer end-->

</body>
</html>