<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>体检车</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link href="http://www.tecenet.com/skin/teceskin/tecenet.base.css" rel="stylesheet">
    <link href="/static/css/medicalCar.css" rel="stylesheet">
	
</head>
<body>

<!--wrap-->
<div class="wrap">
	

    <!--top-bar-->
    <div class="top-bar">
        <div class="top-bar-box clearfix">
            <div class="top-bar-menu top-bar-dropdown pull-left">
                <div class="dropdown-title"><a href="http://www.tecenet.com/">天成医疗网</a><i class="arrow"></i></div>
                <ul class="dropdown-body clearfix">
                    <li><a href="http://www.tecenet.com/chanpin/" target="_blank">产品</a></li>
                    <li><a href="http://repair.tecenet.com/" target="_blank">维修</a></li>
                    <li><a href="http://www.tecenet.com/gongying/" target="_blank">供需</a></li>
                    <li><a href="http://www.tecenet.com/zhaobiao/" target="_blank">招标</a></li>
                    <li><a href="http://tech.tecenet.com/" target="_blank">资质</a></li>
                    <li><a href="http://www.tecejob.com/" target="_blank">招聘</a></li>
                    <li><a href="http://www.tecenet.com/gongsi/" target="_blank">厂商</a></li>
                    <li><a href="http://www.tecenet.com/zixun/" target="_blank">资讯</a></li>
                    <li><a href="http://www.tecenet.com/gongxiang/" target="_blank">共享</a></li>
                    <li><a href="http://www.tecenet.com/wenda/" target="_blank">问答</a></li>
                    <li><a href="http://image.tecenet.com/" target="_blank">图库</a></li>
                </ul>
            </div>
            <div class="top-bar-divide pull-left"></div>
            <a class="top-bar-link pull-left" href="http://so.tecenet.com/" target="_blank" rel="nofollow" title="医疗器械产业专业搜索引擎">天成医搜</a>
            <a class="top-bar-link pull-left" href="http://hao.tecenet.com/" target="_blank" rel="nofollow" title="中国最大医疗器械厂家导航">医疗厂家导航</a>
            <div class="top-bar-link pull-right" title="天成医疗网客服"><i class="t-b-i tel"></i>400-617-3599</div>
            <div class="top-bar-divide pull-right"></div>
            <a class="top-bar-link pull-right" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);"><i class="t-b-i service"></i>在线客服</a>
            <div class="top-bar-divide pull-right"></div>
            <div class="top-bar-mobile top-bar-dropdown pull-right">
                <div class="dropdown-title">移动应用<i class="arrow"></i></div>
                <ul class="dropdown-body clearfix">
                    <li><a href="http://shouji.baidu.com/software/7042751.html" target="_blank" onclick="_hmt.push(['_trackEvent', 'TecenetHeader', 'click', 'TecenetApp']);">手机客户端</a></li>
                    <li><a href="http://wap.tecenet.com/">WAP站</a></li>
                    <li>
                        <a href="javascript:;" onclick="_hmt.push(['_trackEvent', 'TecenetHeader', 'click', 'TecenetWeChatQrcode']);">微信公众号</a>
                        <img src="http://www.tecenet.com/file/image/weixin.jpg" alt="天成医疗网微信公众平台二维码">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--top-bar end-->

    <!--page-header-->
    <div class="page-header">
        <div class="w1200 box-center clearfix">
            <!--logo-->
            <a href="http://www.tecenet.com/" class="logo pull-left">
                <h1>天成医疗网</h1>
                <span>www.tecenet.com/</span>
            </a>
            <!--logo end-->
            <!--tc-search-->
            <div class="tc-search pull-left">
                <form id="" class="site-frm pull-left" action="http://www.tecenet.com//search.php" onsubmit="return Dsearch();">
                    <div class="select-group" id="select-tab">
                        <button type="button" class="select-btn" id="select-btn">
                            默认全站<span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" id="search-type">
                            <li><a href="javascript:void(0)" data-mid="0" data-mname="默认全站" rel="nofollow">默认全站</a></li>
                            <li><a href="javascript:void(0)" data-mid="9" data-mname="服务需求" rel="nofollow">服务需求</a></li>
                            <li><a href="javascript:void(0)" data-mid="9" data-mname="技术工程师" data-action="resume" rel="nofollow">技术工程师</a></li>
                            <li><a href="javascript:void(0)" data-mid="13" data-mname="厂商品牌" rel="nofollow">厂商品牌</a></li>
                            <li><a href="javascript:void(0)" data-mid="4" data-mname="厂商网店" rel="nofollow">厂商网店</a></li>
                            <li><a href="javascript:void(0)" data-mid="16" data-mname="产品平台" rel="nofollow">产品平台</a></li>
                            <li><a href="javascript:void(0)" data-mid="5" data-mname="供应信息" rel="nofollow">供应信息</a></li>
                            <li><a href="javascript:void(0)" data-mid="6" data-mname="求购信息" rel="nofollow">求购信息</a></li>
                            <li><a href="javascript:void(0)" data-mid="21" data-mname="文章中心" rel="nofollow">文章中心</a></li>
                            <li><a href="javascript:void(0)" data-mid="10" data-mname="问答平台" rel="nofollow">问答平台</a></li>
                            <li><a href="javascript:void(0)" data-mid="15" data-mname="共享下载" rel="nofollow">共享下载</a></li>
                        </ul>
                    </div>
                    <input type="hidden" name="moduleid" value="0" id="destoon_moduleid">
                    <input type="hidden" name="from" value="1">
                    <input type="hidden" name="spread" value="0" id="destoon_spread">
                    <input type="hidden" name="action" value="" id="sresume">
                    <input type="text" name="kw" value="" id="topkeyword" class="site-txt pull-left">
                    <input type="submit" class="site-submit  pull-left" value="搜本站">
                </form>
                <form class="so-frm pull-left" action="http://so.tecenet.com/search.php" method="get" target="_blank" onsubmit="return soTecnentValue();">
                    <input type="text" name="keyword" value="" id="soInputTxt" class="so-txt" autocomplete="off">
                    <input class="so-submit" type="submit" value="搜医搜">
                </form>
            </div>
            <script>
                function soTecnentValue(){
                    var sokeyword = document.getElementById("topkeyword").value;
                    document.getElementById("soInputTxt").value = sokeyword;
                    return true;
                }
                $(document).ready(function(){
                    $('#search-type a').click(function(){
                        $('#select-btn').html($(this).data('mname')+'<span class="caret"></span>');
                        $('#destoon_moduleid').val($(this).data('mid'));
                        if($(this).data('mid') == 9 && $(this).data('action') == 'resume') $('#sresume').val('resume');
                        $('#search-type').hide();
                    });
                    $('#select-tab').mouseover(function(){
                        $('#search-type').show();
                    });
                    $('#select-tab').mouseout(function(){
                        $('#search-type').hide();
                    });
                });
            </script>
            <!--tc-search end-->
        </div>
    </div>
    <!--page-header end-->



    <!--header-->
    <div class="header">
        <div class="header-inner">
            <!--nav-btn-->
            <a href="javascript:;"  class="nav-btn"></a>
            <!--nav-btn end-->
            {% autoescape false %}
                {{ pageModel.getMenu }}
            {% endautoescape %}


			{% if isIndexPage %}
			<h1 class="header-title"><img src="static/images/title.png" alt="体检车"></h1>
            <img class="header-banner" src="static/images/banner.png" alt="体检车">
			{% else %}

			<div class="page-title">
                <h1>{{ typename }}</h1>
            </div>
            <!--page-search-->
            <div class="page-search">
                <form action="/plist.html" method="get">
                    <input class="a" type="text" name="kw" placeholder="输入关键词" value="">
                    <input class="b" type="submit" value="搜索">
                </form>
            </div>
            <!--page-search end-->
			{% endif %}

			            


        </div>
    </div>
    <!--header end-->