<!--nav-->
<div class="nav">
    <ul class="nav-ul pull-left">
        <li class="nav-item"><a href="/">首页</a></li>
        {% for item in typeItem %}
            <li class="nav-item">
                <a href="/plist-{{ item.typeid }}.html" title="{{ item.reTypename }}救护车">{{ item.typename }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="tel pull-right"><i></i>400-400-4000</div>
    
    <div class="logo"><a href="http://www.tecenet.com/" target="_blank"><img src="static/images/tecenet-mini-logo.png" alt=""></a></div>
</div>
<!--nav end-->