{% autoescape false %}
{% set headerParams = {'htmlTitle' : htmlTitle,'htmlKeywords' : htmlKeywords , 'htmlDescription' : htmlDescription,'typename' : typename} %}
{{ pageModel.render('header',headerParams) }}

<!--product-list-->
<div class="layout container clearfix">
    <div class="main pull-right">
        <!--crumb-->
        <div class="crumb">
            <a href="index.html">首页</a> »
            <a href="nlist.html">新闻中心</a>
        </div>
        <!--crumb end-->

        <!--list-area-->
        <div class="list-area">
            <ul class="news-list">
                {% for item in news %}
                <li>
                    <span class="title"><a href="/news-{{ item.itemid }}.html">{{ item.title }}</a></span>
                    <span class="date">{{ item.addtime|date('Y-m-d') }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!--list-area end-->
    </div>

    {{ pageModel.getLeftNav }}

</div>
<!--product-list end-->



<script type="text/javascript" src="http://www.tecenet.com/file/script/jquery.js"></script>
<script type="text/javascript" src="/static/js/medicalCar.core.min.js"></script>

{{ pageModel.render('footer') }}
{% endautoescape %}