<div class="side pull-left">

    <!--
    <div class="side-box pro-search">
        <div class="side-box-hd">
            <span>站内搜索</span>
        </div>
        <div class="side-box-bd">
            <form action="plist.html" onsubmit="return check_kw();">
                <input type="hidden" name="action" value="search">
                <input type="hidden" name="homepage" value="tiancheng">
                <input class="a" type="text" name="kw" placeholder="输入关键词" value="">
                <input class="b" type="button" value="搜索">
            </form>
        </div>
    </div>
    -->

    <div class="pro-rec">
        <div class="side-box ">
            <div class="side-box-hd">
                <span>推荐产品</span>
            </div>
            <div class="side-box-bd clearfix">
                {% for mall in malls %}
                <a href="/product-{{ mall.itemid }}.html" target="_blank" class="item">
                    <img src="{{ mall.thumb }}" alt="">
                    <p class="text-overflow" title="{{ mall.title }}">{{ mall.title }}</p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>