{% autoescape false %}
{% set headerParams = {'htmlTitle' : htmlTitle,'htmlKeywords' : htmlKeywords , 'htmlDescription' : htmlDescription,'typename' : typename} %}
    {{ pageModel.render('header',headerParams) }}

    <!--product-list-->
    <div class="layout container clearfix">
        <div class="main pull-right">
            <!--crumb-->
            <div class="crumb">
                <a href="index.html">首页</a> »
                <a href="plist.html">所有产品</a>
            </div>
            <!--crumb end-->

            <!--list-area-->
            <div class="list-area">
            {% if category %}
                {% for cate in category %}
                <div class="col">
                    <div class="col-hd clearfix">
                        <h2><a href="/plist-{{ cate.typeid }}.html" title="{{ cate.reTypename }}救护车">{{ cate.typename }}</a></h2>
                        <a class="more" href="/plist-{{ cate.typeid }}.html" title="{{ cate.reTypename }}救护车">查看更多</a>
                    </div>
                    <div class="col-bd clearfix">
                        {% for mall in pageModel.getMalls(cate.typeid) %}
                        <div class="item">
                            <a href="/product-{{ mall.itemid }}.html" target="_blank">
                                <img src="{{ mall.thumb }}" alt="{{ mall.title }}">
                            </a>
                            <h3><a href="/product-{{ mall.itemid }}.html" target="_blank">{{ mall.title }}</a></h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col">
                    <div class="col-bd clearfix">
                        <div class="col-hd clearfix">
                            <h2>{{ typename }}</h2>
                            <a class="more" href="/plist-{{ typeid }}.html">查看更多</a>
                        </div>
                        {% for mall in Malls %}
                        <div class="item">
                            <a href="/product-{{ mall.itemid }}.html" target="_blank">
                                <img src="{{ mall.thumb }}" alt="{{ mall.title }}">
                            </a>
                            <h3><a href="/product-{{ mall.itemid }}.html" target="_blank">{{ mall.title }}</a></h3>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            </div>
            <!--list-area end-->
        </div>

        {{ pageModel.getLeftNav }}

    </div>
    <!--product-list end-->

</div>
<!--wrap end-->


<script type="text/javascript" src="http://www.tecenet.com/file/script/jquery.js"></script>
<script type="text/javascript" src="/static/js/medicalCar.core.min.js"></script>

<script>
    $(".nav-btn").click(function(){
        $(".nav").toggle();
    });
</script>

<br/><br/>

{{ pageModel.render('footer') }}
{% endautoescape %}