{% autoescape false %}
{% set headerParams = {'htmlTitle' : htmlTitle,'htmlKeywords' : htmlKeywords , 'htmlDescription' : htmlDescription,'typename' : typename} %}
{{ pageModel.render('header',headerParams) }}

    <!--product-list-->
    <div class="layout container clearfix">
        <div class="main pull-right">
            <!--crumb-->
            <div class="crumb">
                <a href="index.html">首页</a> »
                <a href="plist.html">所有产品</a> »
                <a href="/plist-{{ mall.mycatid }}.html">{{ reTypename }}</a> »
                <a href="/product-{{ mall.itemid }}.html">{{ mall.title }}</a>
            </div>
            <!--crumb end-->

            <!--product-area-->
            <div class="product-area">
                <div class="product-title">
                    <h1>{{ mall.title }}</h1>
                </div>

                <div class="product-img">
                    {{ content.content }}
                </div>
            </div>
            <!--product-area end-->

        </div>


        {{ pageModel.getLeftNav }}
    </div>
    <!--product-list end-->

</div>
<!--wrap end-->


<script type="text/javascript" src="http://www.tecenet.com/file/script/jquery.js"></script>
<script>
    $(".nav-btn").click(function () {
        $(".nav").toggle();
    });
    var responsiveTable = function(wrap){
        var container = $(wrap).find("table");
        $(container).each(function(){
            $(this).wrapAll("<div class='table-responsive'></div>");
        });
    };
    responsiveTable(".product-area");
</script>

{{ pageModel.render('footer') }}
{% endautoescape %}