{php $sitemenu='know';$listpage='search';$zhuanjia='e';}
{template 'module-header'}</div></div>
<style type="text/css">
	#webbodycontent{display:none}
	.contentleft{width:713px;}
    #modulebg{background-color:#f0f0e8;}
</style>
<div class="autoheight" style="background: url('{DT_SKIN}/image/know/bg2_top.jpg') center top no-repeat;margin-top:-8px;">
<div class="webw">{template 'lay','tag'}
<script type="text/javascript">
Dd('yourmdmore').innerText='问答专家';
Dd('yourmdmore').href='{$MOD[linkurl]}expert.php';
</script>
	{if $itemid}
<div class="divline" style="padding-top:45px; height:45px;line-height:45px;font-size:24px;color:#336600"><strong >{$title}的详细介绍</strong>	</div>
	
	<div class="whitebg pd10">
		<table cellpadding="5" cellspacing="1" width="100%" bgcolor="#eaeaea" align="center" style="font-size:14px;">			
		<tr class="whitebg">
		<td rowspan="4" align="center">
		<script type="text/javascript">
			document.writeln("<img src=\"{useravatar($username, 'large')}\" width=\"120\" alt=\"\" class=\"smallpic grayb\"/>");
		</script>
		{if $DT[im_web]}<div style="padding:8px 0 5px 0;">{im_web($username, 1)} <a href="{$MODULE[2][linkurl]}message.php?action=send&touser={$username}" target="_blank" title="给TA留言"><img src="{DT_SKIN}image/message_3.gif" class="mid"></a></div>{/if}	
		</td>
		<td align="center" width="120" height=30>姓 名</td>
		<td width="280">{$title}</td>
		<td align="center" width="120">擅长领域</td>
		<td width="280">{$major}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
		<td align="center" height=30>被提问</td>
		<td>{$ask}</td>
		<td align="center">回 答</td>
		<td>{$answer}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
		<td align="center"  height=30>被采纳</td>
		<td>{$best}</td>
		<td align="center">采纳率</td>
		<td>{$rate}</td>
		</tr>
		<tr bgcolor="#FFFFFF">
		<td align="center"  height=30>人 气</td>
		<td>{$hits}</td>
		<td align="center">求 助</td>
		<td><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=10&action=add&askto={$username}" target="_blank" class="b orangeb yellowbg rad pd5 tc ocolor" >向TA提问</a></td>
		</tr>
		<tr>
		<td colspan="5"  style="background: #ffffff url('{DT_SKIN}/image/know/sel.png');">&nbsp;&nbsp;<strong class="f18 pd5 gcolor">专家介绍</strong></td>
		</tr>
		<tr>
		<td colspan="5" bgcolor="#FFFFFF"><div class="pd10 f14">{$content}</div></td>
		</tr>
		<tr>
		<td colspan="5"  style="background: #ffffff url('{DT_SKIN}/image/know/sel.png');">&nbsp;&nbsp;<strong class="f18 pd5 gcolor">TA发的问题</strong></td>
		</tr>
		<tr>
		<td colspan="5" bgcolor="#FFFFFF" height=100  valign="top"><!--{tag("moduleid=$moduleid&condition=status=3 and (username='$username')&order=updatetime desc&areaid=$cityid&pagesize=".$MOD[page_iresolve]."&datetype=4&template=list-know")}--></td>
		</tr>	
		<tr>
		<td colspan="5"  style="background: #ffffff url('{DT_SKIN}/image/know/sel.png');">&nbsp;&nbsp;<strong class="f18 pd5 gcolor">TA发的答案</strong></td>
		</tr>
		<tr>
		<td colspan="5" bgcolor="#FFFFFF" height=100 valign="top">
		
<!--{php $tags=tag("table=know_answer&moduleid=$moduleid&condition=status=3 and username='$username'&areaid=$cityid&order=addtime desc&pagesize=20&template=null")}-->
		
	{loop $tags $k $t}
<div class="know_list">
	<table>
	<tr>
		<td width="30"><a href="{$MODULE[$moduleid][linkurl]}{rewrite('search.php?username='.$t['username'])}" rel="nofollow"  title="{$t[username]}">
		<script type="text/javascript">
		document.writeln("<img src=\"{useravatar($t[username], 'large')}\" width=\"20\" alt=\"{$t[username]}\" class=\"smallpic grayb\" />");
		</script>
		</a></td>
		<td align="left"><a href="{$MODULE[$moduleid][linkurl]}{rewrite('show-'.$t['qid'].'.html')}" target="_blank" title="{$t[content]}">{dsubstr(strip_tags($t[content]), 58, '...')}</a></td>
		<td width="90" align="center" valign="middle">{timetodate($t[edittime], 4)}</td>
	</tr>
	</table>
</div>
{/loop}		
		
		</td>
		</tr>
		</table>
		</div>
	{else}
	<!--{tag("table=know_expert&condition=1&pagesize=".$MOD[pagesize]."&page=$page&showpage=1&order=addtime desc&template=list-expert&cols=5")}-->
	{/if}
</div>
{template 'footer2017'}