
<!--page-nav-->
<div class="page-nav">
    <div class="w1200 box-center">
        <ul class="page-nav-main clearfix">
        	<li class="page-sub-nav current">
        		<a style="padding:0 12px" href="{$MOD[linkurl]}">行业问答中心</a>
        	</li>
			{php $tagss = tag("moduleid=$moduleid&table=category&fields=catid,catname,style,item&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
			{php $num = 1;}
			{loop $tagss $i $t}
			<?php if($num > 9) break; ?>
			<li class="page-sub-nav"><a style="padding:0 12px" href="{$MOD[linkurl]}{rewrite($listpage.'.php?typeid=99&catid='.$t[catid])}">{set_style($t[catname],$t[style])}</a></li>
			{php $num++;}
			{/loop}
        </ul>
    </div>
</div>
<!--page-nav end-->