{php global $PROCESS;}
<ul class="knowul">
{loop $tags $k $t}
<li class="whitebg autoheight" id="knowlist">
	<dl>
	<dt><a href="{$MODULE[$moduleid][linkurl]}{rewrite('search.php?username='.$t['username'])}" rel="nofollow"  title="{$t[username]}">
	<script type="text/javascript">
	document.writeln("<img src=\"{useravatar($t[username], 'large')}\" width=\"36\" alt=\"{$t[username]}\" class=\"smallpic grayb mid\" />");
	</script>
	</a><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}" class="f20 ml10 gcolor pt5">{htmlspecialchars_decode(dsubstr($t[title], 62, '..'))}<img src="{DT_SKIN}image/know_{$t[process]}.gif" title="{$PROCESS[$t[process]]}" class="mid ml10"/></a></dt>
	<dd class="f14">{$t[introduce]}{if $t[addition]}<br><span class="lenstr graybg grayb rad pl5">{$t[addition]}&nbsp;&nbsp;</span>{/if}</dd>
	<dd class="ico"><span  class="lenstr graybg grayb rad w120 tc fr">{timetodate($t[edittime], $datetype)}</span><span class="lenstr graybg grayb rad w90 tc ocolor f12"><img src="{DT_SKIN}image/know/coins.gif" class="mr10">悬赏{$t[credit]}</span> <span  class="lenstr graybg grayb rad w80 tc"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoh">回答({$t[answer]})</span><span  class="lenstr graybg grayb rad w80 tc ml10"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoz">赞({$t[agree]})</span><span  class="lenstr graybg grayb rad w80 tc ml10"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoc">踩({$t[against]})</span><span  class="lenstr graybg grayb rad w80 tc ml10"><img src="{DT_SKIN}image/blank.gif" width="20" class="icod">读({$t[hits]})</span></dd>
		
</dl>
</li>
{/loop}		
</ul>
<script type="text/javascript">
$(".knowul>li").hover(function () {$(this).removeClass("whitebg");$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg");$(this).addClass("whitebg"); });
</script>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}