<ul class="listresume">
{loop $tags $k $t}
<li class="autoheight">
<div class="resumepic fl grayb whitebg tc ml5"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'"  src="{if $baomi==0}{if $t[thumb]}{imgurl($t[thumb],'')}{/if}{else}{DT_SKIN}image/job/noresumepic.jpg{/if}" class="w80 h80"/><br>{xname($t[truename],$baomi,-1)}</a></div>
<dl class="fl pl10 w600 cut">
<dt class='h3'><a href="{$t[linkurl]}" target="_blank" class="gcolor" title="{$t[alt]}"><b>{xname($t[title],$baomi,-1)}({$GENDER[$t[gender]]})</b><font class="f12 color"> {area_pos($t[areaid], '/', 2)}(#{$t[itemid]})</font></a>
{if $t[validated]==1}<span class='f12 ocolor'><img src="{DT_SKIN}image/shield.gif" class="mid"/>本站推荐&nbsp; <img src="{DT_SKIN}image/level/{$t[level]}.gif" class="mid" alt="推荐{$t[level]}级"/></span>{/if}
</dt>
	<dd class="resumedd1">
	<p>
	<span class="lenstr w160">加入时间 {timetodate($t[edittime],3)}</span>
	<span class="lenstr w200">{$SITUATION[$t[situation]]}({$TYPE[$t[type]]})</span></p>
	<p>
	<span class="lenstr w160">婚姻情况 {$MARRIAGE[$t[marriage]]}</span>
    <span class="lenstr w200">学历情况 {$t[school]} {$EDUCATION[$t[education]]}</span>
		</p>
		<p><b>专业技能</b> {$t[major]} {$t[skill]}</p>
		<p><b>简单介绍</b> {$t[introduce]}</p>
	</dd>
    <dd class="resumedd2 grayb">
		<ul>
		<li >要求:[<font class="ocolor">{if $t[minsalary] && $t[maxsalary]}{$t[minsalary]}-{$t[maxsalary]}{$DT[money_unit]}{elseif $t[minsalary]}{$t[minsalary]}{$DT[money_unit]}以上{elseif $t[maxsalary]}{$t[maxsalary]}{$DT[money_unit]}以内{else}面议{/if}</font>]</li>
		<li>获<font class="f14 ocolor">{$t[hits]}</font>人关注</li>
		<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}" class="suba">了解</a><a href="{rewrite('talent.php?itemid='.$t[itemid])}" target="_blank" title="{$t[alt]}" class="suba">收藏</a></li>
		</ul>
	</dd>
</dl>	
<br class='clear' />
</li>
{/loop}	
</ul>
<br class="clear"/>
<script type="text/javascript">
$(".listresume>li").hover(function () {$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg"); });
</script>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}