{if $lists}
	{php $allowitemid=$v[allowitemid];$itemid=$v[itemid];$username=$v[username];$truename=$v[truename];$content=$v[content];$ip=$v[ip];$areaid=$v[areaid];$addtime=$v[addtime];  }
{/if}
{if !$allowitemid}
	{php $where='left';}
{else}
	{php $where='right';}
{/if}
{if  $where=='right'}<div  id="from{$allowitemid}-to{$itemid}" class="hd"></div>{/if}
								<div class="{$where}d" id="message{$itemid}"  onclick=dakai('msgtool{$itemid}');setTimeout("guanbi('msgtool{$itemid}')",2000);>	  
									<div class="touxiang">
											<a href="javascript:void(0)"
											{if $username}
											id="hp{$username}"
											onclick="showbox('userbox',500,'{$truename}联系信息','taoxinxi.php?action=showuser&username={$username}');"
											{else}
											onclick="alert('很可惜！发布者是游客我们无法提供他的联系资料');"
											{/if}
											>
											  {if $username}
												<img src="{useravatar($username, 'large')}"  width="58" height="58" id="headpic{$itemid}" />
												{else}
												 <img src="	{useravatar($itemid, 'large')}"  width="58" height="58"  id="headpic{$itemid}"/>
												{/if}
											</a>
									<span class="lenstr">{if $truename}{$truename}{elseif $username}{$username}{else}游客{/if}&nbsp;</span>
								  </div>
								  <div class="speech {$where}"  id="{$itemid}">
								  {if  $where=='right'}
								  <div class="frommessage fl" ><a href="taoxinxi.php?itemid={$allowitemid}&action=getmessage&toitemid={$itemid}" target="getmessage">
									<img src="{DT_PATH}wap/image/spechbubble_2.png"   id="load-from{$allowitemid}-to{$itemid}" onclick="this.src='{DT_PATH}wap/image/load.gif'"></a>
									</div>
								{/if}
								  <div  id="content{$itemid}">
								  {if $toitemid}<fieldset><legend>被回应的原文</legend>{/if}
								  {$content}
								  {if $toitemid}</fieldset>{/if}
								  </div><span class="lenstr">{if $areaid}{area_pos($areaid, '/', 2)}{/if}&nbsp;{if ($action=='show'||!$areaid)&&$ip!='unknown'}{ip2area($ip)}({$ip}){/if}&nbsp; {timetodate($addtime,5)}</span>
								  		
										<div class="wxtool" id="msgtool{$itemid}" style="display:none">
										<ul>
										{if $action!='show'}<li><a href="taoxinxi.php?action=show&itemid={$itemid}" >详细</a></li>{/if}
										<li><a href="javascript:void(0)" onclick="allowmessage({$itemid},this.title);Dd('message').focus()" title="回复{if $truename}{$truename}{else} 游客#{$itemid} {/if}信息 " >回应</a></li>
										{if ($_username==$username||$_groupid==1)&&$_userid}<li><a href="taoxinxi.php?action=delete&itemid={$itemid}" target="getmessage">删除</a></li>{if $username}<li><a href="taoxinxi.php?action=lockusername&itemid={$itemid}" target="getmessage">封杀会员</a></li>{else}{if $ip!='unknown'}<li><a href="taoxinxi.php?action=lockip&itemid={$itemid}" target="getmessage">封杀IP</a></li>{/if}{/if}{/if}			
										</ul>
										</div>
											  	  
								</div>

								</div>

								<div class="divline"></div>