<ul class="info_list">
{php $c=1;}
{loop $tags $k $t}

		<li>
			<dl>
				<dt class="info_intro"><a href="{$t[linkurl]}" target="_blank">{dsubstr($t[introduce], 68, '...')}</a></dt>
				<dd class="info_img"><a href="{$t[linkurl]}" target="_blank"><img width="278" height="188" alt="$t[alt]" src="{imgurl($t[thumb], 1)}" /></a></dd>
				<dd class="info_title"><span>{dsubstr($t[title],20,'')}</span><a href="{$t[linkurl]}" target="_blank"><img src="{DT_SKIN}image/xqing.gif" width="71" height="30" /></a></dd>
				<dd>截止时间：{php if($t[totime]!=0 && $t[totime] > $DT_TIME)echo date('Y-m-d',$t[totime]);else if($t[totime]< $DT_TIME && $t[totime]!=0) echo date('Y-m-d',$t[totime])."<span style=color:red>已过期</span>"; else echo "长期有效";}</dd>
			</dl>
		</li>
{/loop}		
</ul>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}