<dd class="intro">
<ul id='companylist'>
{loop $tags $k $t}
{if $t[closeshop]==0}
<li class='autoheight'>
<dl class="fl pl5 w700">
<dt class='h3'><a href="{$t[linkurl]}" target="_blank" class="bcolor" title="{$t[alt]}">{$t[company]}<em>(#{$t[userid]})</em></a>
{if $t[validated]==1}<span class='f12 ocolor'><img src="{DT_SKIN}image/shield.gif" class="mid"/>获本站客服推荐&nbsp;级别 <img src="{DT_SKIN}image/level/{$t[level]}.gif" class="mid" alt="推荐{$t[level]}级"/></span>{/if}
</dt>
<dd style='width:520px;' class='fl'>
<p>
	<span class="lenstr w200">所在地区 {area_pos($t[areaid], '/', 2)}</span>
	<span class="lenstr w160">运作模式 {if $t[mode]}({$t[mode]}){/if}</span>
	</p>
	<p>
	<span class="lenstr w200">运作性质 {if $t[type]}({$t[type]}){else}未填{/if}</span>
	<span class="lenstr w160">运作规模 {if $t[size]}({$t[size]}){else}未填{/if}</span>
	</p>
	<p>
	<span class="lenstr w200">通讯方式 {if $t[username] && $DT[im_web]}{im_web($t[username].'&mid='.$moduleid.'&itemid='.$t[itemid])}&nbsp;{/if}</span>
    <span class="lenstr w160">电话:{if $t[telephone]}{$t[telephone]}{else}未填{/if}</span>
	</p>
		<p>{dsubstr($t[business],200,"..")}</p>
	</dd>
    <dd class="graybg fr grayb introright">
		<ul>
		<li>产品总数 <font class="f14 ocolor">{$t[pnum]}</font></li>
		<li>获<font class="f14 ocolor">{$t[hits]}</font>人关注</li>
		<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}" class="suba">进入</a><a href="{$MODULE[2][linkurl]}chat.php?touser={$t[username]}" target="_blank" title="{$t[alt]}" class="suba">咨询</a></li>
		</ul>
	</dd>
<br class='clear'>
</dl>
</li>
{/if}
{/loop}		
</ul>
</dd>
<br class='clear'>
<script type="text/javascript">
$("#companylist>li").hover(function () {$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg"); });
</script>
		{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}
