{php $c=1;}
{php $company_totime = array(); }
{loop $tags $k $t}
{php if($c==3){$c=1;}}
<div onmouseover="this.className='list2'" {if fmod($c,2)==0}onmouseout="this.className='list1'"class="list1"{else}onmouseout="this.className='list'"class="list"{/if}>
	<table>
	<tr align="center">
	  <td width="20" rowspan="3"><input type="checkbox" id="check_{$t[itemid]}" name="itemid[]" value="{$t[itemid]}" onclick="sell_tip(this, {$t[itemid]});"/> </td>
	  <td rowspan="3"><a href="{$t[linkurl]}" target="_blank"><img onerror="this.src='{DT_SKIN}image/nopic.gif'"  width="80" height="70" src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');" class="grayb"/></a>
        <p class="rcolor b">{if $t[groupid]==8||$t[groupid]==1}[询价]{else}{if $t[price]>0}¥{$t[price]}{else}[面议]{/if}{/if}</p></td>
	  <td colspan="4"  align="left" valign="top" id="titles"><a href="{$t[linkurl]}" class="lenstr w500 f16 b" title="{$t[alt]}" target="_blank">&nbsp;{$t[title]}</a></td>
	  </tr>
	
	<tr align="center">
	  <td colspan="3"  align="left" valign="top"><span class="mr10">&nbsp;品牌：{$t[brand]}</span>&nbsp;<span class="mr10">型号：{$t[model]}&nbsp;</span><span class="mr10">规格：{$t[standard]}</span></td>
	  <td width="100" rowspan="2" valign="top">总共成交{$t[orders]}笔 <br/>
        <a href="{$t[linkurl]}#comment" target="_blank"><span>{$t[comments]}条评价</span></a></td>
	</tr>
	<tr align="center">
	  <td width="300"  align="left" valign="top">
      {if $t[groupid]!=8&&$t[groupid]!=1}
      <a href="{userurl($t[username])}" target="_blank">&nbsp;{area_pos($t[areaid], ' ')}-{$t[company]}</a>
      {else}
      <span class="ocolor"><img src="{DT_SKIN}image/shield.gif"  class="mid"/>天成医疗官方发布</span>
      {/if}      </td>
	  <td colspan="2"  align="left" valign="top"><a href="{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$t[itemid])}" title="在线咨询" rel="nofollow"><img src="/file/image/web.gif">&nbsp;</a>
			{if $t[qq] && $DT[im_qq]}{im_qq($t[qq])}&nbsp;{/if}
			{if $t[ali] && $DT[im_ali]}{im_ali($t[ali])}&nbsp;{/if}
			{if $t[msn] && $DT[im_msn]}{im_msn($t[msn])}&nbsp;{/if}
			{if $t[skype] && $DT[im_skype]}{im_skype($t[skype])}&nbsp;{/if}
			&nbsp;&nbsp;
	  {if $t[vip]&&$t[groupid]!=8&&$t[groupid]!=1}
<?php 
	if(empty($company_totime[$t['company']])) {
	  		$vip_totime = $db->get_one("select totime from {$db->pre}company where company = '".$t['company']."'");
	  		$company_totime[$t['company']] = $vip_totime['totime'];
	  }
	  $show_vip = $company_totime[$t['company']] > time() ? true:false;
?>
<?php if($show_vip){ ?> <img src="{DT_SKIN}image/vip.gif"/> <img src="{DT_SKIN}image/vip_{$t[vip]}.gif"/> <?php } ?>
	   {/if}<span class="f_gray">[{timetodate($t[edittime],3)}]</span></td>
	  </tr>
	</table>
</div>
{php $c=$c+1;}
{/loop}		
{if $showpage && $pages}<div class="pages">{$pages}</div>
{/if}