{php $c=1;}
{loop $tags $k $t}
{php if($c==3){$c=1;}}
<li onmouseover="this.className='gs9'" 
	{if fmod($c,2)==0}onmouseout="this.className='gs7'"class="gs7"{else}onmouseout="this.className='gs8'"class="gs8"{/if}>
		<table cellpadding="0" cellspacing="0">
	<tr align="center">
	<td width="60" align="center" rowspan="2"><a href="{$t[linkurl]}" target="_blank"><img src="{imgurl($t[thumb],'nohead50.gif')}" width="50" height="50" class="grayb"/></a></td>
		<td width="110" align="left">
<div><a href="{$t[linkurl]}" target="_blank">{if $t[validated]}<img src="{DT_SKIN}image/shield.gif" class="mid"/>{else}<img src="{DT_SKIN}image/shield_no.gif" class="mid" />{/if} {xname($t[truename],$t[baomi])}</a></div>	</td> 
 <td width="50" align="left">{$t[school]}/{$t[education]}人</td>

	     <td width="50" align="left">{$t[hits]}°C</td>
	    <td width="90" align="left"><span>{strip_tags(cat_pos(get_cat($t[catid]), '/'))}</span></td>
		<td width="110" align="left">地区：{area_pos($t[areaid], '/', 2)}</td>
	    <td width="90" align="left">{if $t[minsalary] && $t[maxsalary]} {$t[minsalary]}-{$t[maxsalary]}{$DT[money_unit]}/次 {elseif $t[minsalary]} {$t[minsalary]}{$DT[money_unit]}/次以上 {elseif $t[maxsalary]} {$t[maxsalary]}{$DT[money_unit]}/次以内 {else} 面议 {/if}</td>
	    <td width="200" align="left">{$SITUATION[$t[situation]]}</td>
	</tr>
	<tr align="center">
		<td align="left" colspan="7">&nbsp;&nbsp;自我推荐：{dsubstr($t[introduce],200,"..")}</td>
	</tr>
	</table>
</li>
{php $c=$c+1;}
{/loop}		
	
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}