<ul {if $width} style='width:{$width}px;{else}id='twothumblist'{/if}' class='mall'>
{loop $tags $k $t}
<li>
<div class="mallinfo2">
<a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=143 class="whiteb2"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');" >
<div class="malltitle2 cut">{$t[title]}</div></a>
<div class="mallbg">
<div class="mallprice2"><font class="pnum">市场价</font><font class="pnum rcolor">{if !$nocheck}<input type="checkbox" id="check_{$t[itemid]}" name="itemid[]" value="{$t[itemid]}" onclick="if(this.checked==true){Dd('mallpic{$t[itemid]}').className=' whiteb mally';}else{Dd('mallpic{$t[itemid]}').className=' whiteb';}"/>{/if}￥{if $t[groupid]==8||$t[groupid]==1}询价{else}{if $t[price]>0}{$t[price]}{else}面议{/if}{/if}</font><a href="{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$t[itemid])}" title="在线咨询"  rel="nofollow"><img src="/file/image/web.gif"></a>
{if $t[qq] &&$DT[im_qq]}{im_qq($t[qq])}{/if}

</div>
<p class="lenstr pl5 w200">{if $t[groupid]!=8&&$t[groupid]!=1}
{if $t[vip]}<img src="{DT_SKIN}image/vip.gif" alt="级别：{$t[vip]}" style="border:none;" align="absmiddle"/>{/if}<a href="{userurl($t[username])}" target="_blank" class="color">{$t[company]}</a>
{else}
天成官方添加
{/if}</p>
</div>
</div>
</li>
{/loop}
</ul>

{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}