html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*base*/

.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.clearfix{
    *zoom:1;
}
.clearfix:after{
    clear:both;
    display:table;
    content:'';
}
.el-textarea__inner{
    font-family:inherit;
}
/*layout*/
body{
    background-color: #f0f3fa;
}
.wrap{
    position: relative;
}
.el-header{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    padding:0;
    background-color: #5b8cff;
    box-shadow: 0 0 12px rgba(91,140,255,0.8);
}

.el-aside{
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    /*min-height:100%;*/
    padding-top:60px;
    background-color: #fff;
    box-shadow: 2px 10px 2px rgba(91,140,255,0.08);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.el-menu{
    border: none;
}
.el-menu-item .router-link-active{
    color: #3b77e3;
    text-decoration: none;
}
.el-menu-item>a{
    display: block;
    color: #666;
    text-indent:12px;
    text-decoration: none;
}
.container{
    padding: 60px 0 0 240px;
}
.container .el-main{
    padding:40px;
}
/*header*/
.navbar-header{
    position: relative;
    float: left;
    width:240px;
    height:60px;
    background-color: #3b77e3;
    z-index:9;
}
.navbar-brand{
}
.navbar-brand img{
    display: block;
    margin:13px auto;
}
.navbar-content{
    padding:0 20px;
}
.navbar-content-name{
    font-size:20px;
    color: #fff;
    font-weight:200;
    line-height:60px;
}

.user-dropdown{
    padding:22px 0;
}
.user-dropdown-name{
    font-size:16px;
    color: #fff;
    cursor: pointer;
}

.mainnav-toggle{
    padding:18px 14px;
}
.mainnav-toggle i{
    font-size:24px;
    color: #fff;
}
.mainnav-toggle:hover{
    background-color: #3b77e3;
}
.navbar-content-name{
    margin-left:30px;
}

.page-header{
    margin-bottom:30px;
}
.page-header-title{
    font-size:30px;
    font-weight: 200;
    color: #333;
}
.page-header-btn{
    margin-top:-5px;
}
.page-content{
    padding:30px;
    background-color: #fff;
    border-radius:3px;
    box-shadow: 0 0 1px 2px rgba(91,140,255,0.08);
}

.edui-editor div{
    line-height: 1;
}


