{template 'header'}
<script type="text/javascript">var sh ="{$MOD[linkurl]}search.php?areaid={$areaid}&type={$type}&catid={$catid}&thumb={$thumb}&order={$orderv}&size={$size}&groupid={$groupid}&list={$list}&mode={$mode}&vip={$vip}&kw={urlencode($kw)}";</script>
{template 'lay','tag'}
<div class="autoheight pt5 grayb nt"><form action="{$MOD[linkurl]}search.php" id="fsearch">
														{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
														
														<dl class="options">		
														
														<dt>第三方{$MOD[name]}经营分类：</dt>
														<dd><ul><li><a {if $catid==''} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type)}">不限</a></li>
														{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&type='.$type.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[1]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[1]}
																	{php $childa=$t[child];$parenta=$t[catname];$catida=$t[catid];} 
																	{/if}
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{if $childa!=0}
															<dl class="options">
															<dt>{$parenta}的分类：</dt>
															<dd><ul><li><a {if $catid==$catida} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$catida)}">不限</a></li>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catida&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[2]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[2]}
																	{php $childb=$t[child];$parentb=$t[catname];$catidb=$t[catid];} 
																	{/if}
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>{/if}
															{if $childb!=0}
															<dl class="options">
															<dt>
															{$parentb}的品牌：
															 </dt>
															<dd><ul><li><a {if $catid==$catidb} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$catidb)}">不限</a></li>

															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catidb&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[3]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[3]}
																	{php $childc=$t[child];$parentc=$t[catname];$catidc=$t[catid];} 
																	{/if}
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>{/if}

															{if $childc!=0}
															<dl class="options">
															<dt>
															{$parentc}的型号：
															 </dt>
															<dd><ul><li><a {if $catid==$catidc} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$catidc)}">不限</a></li>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catidc&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&type='.$type.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[4]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>{/if}
															<dl class="options">
															<dt>地区：</dt>
															<dd><ul><li><a {if $areaid==0}class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid=0&type='.$type.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&catid='.$catid)}">不限</a></li>
															{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'&type='.$type.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&mode='.$mode.'&vip='.$vip.'&catid='.$catid)}" {if $areaid==$k+1}class="opyes"{else}class="color"{/if}>{$v[areaname]}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															<dl class="options">
															<dt>商铺类型：</dt>
															<dd><ul>
															{loop $types $k $v}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?mode='.$mode.'&catid='.$catid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&type='.$k.'&size='.$size.'&vip='.$vip.'&areaid='.$areaid)}" {if $type==$k}class="opyes"{else}class="color"{/if}>{$v}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															<dl class="options">
															<dt>运营模式：</dt>
															<dd><ul>
															{loop $modes $k $v}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?mode='.$k.'&catid='.$catid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&type='.$type.'&size='.$size.'&vip='.$vip.'&areaid='.$areaid)}" {if $mode==$k}class="opyes"{else}class="color"{/if}>{$v}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															<dl class="options">
															<dt>运作规模：</dt>
															<dd><ul>
															{loop $sizes $k $v}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?mode='.$mode.'&catid='.$catid.'&kw='.urlencode($kw).'&list='.$list.'&groupid='.$groupid.'&order='.$orderv.'&type='.$type.'&size='.$k.'&vip='.$vip.'&areaid='.$areaid)}" {if $size==$k}class="opyes"{else}class="color"{/if}>{$v}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															
														<dl class="options search" >
															
															<dd>
			<ul><li>
            <input type="text" size="30" name="kw" value="{$kw}" class="subm" id="keywords"  onfocus="if(this.value=='输入关键词'){this.value=''}"/>
			<input type="hidden" name="list" value="{$list}"><input type="hidden" name="areaid" value="{$areaid}"><input type="hidden" name="type" value="{$type}">
			<input type="hidden" name="group" value="{$group}"><input type="hidden" name="catid" value="{$catid}"><input type="hidden" name="vip" value="{$vip}"><input type="hidden" name="thumb" value="{$thumb}"><input type="hidden" name="size" value="{$size}"><input type="hidden" name="mode" value="{$mode}">
			<script type="text/javascript">
			document.getElementById('keywords').value='{if $kw!=''}{$kw}{else}输入关键词{/if}';
			</script><input type="image" src="{DT_SKIN}image/search2.jpg" class="subm mr10"/>
			热门关键词：<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_kw", -2)}-->
			</li>
			<br class="clear">
															</ul>
															</dd>
													    </dl></form>
														</div>
															<div class="yinying"></div>










<div class="w730 fl autoheight">
<div class="blue"><div class="h4title">{$MOD[name]}信息列表</div></div>
														<div class="autoheight grayb nt">

															
																<form method="post">
		<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>
		<div class="tool">
			<table>
			<tr height="30">
			<td width="25" align="center" title="全选/反选">&nbsp;</td>
			<td width=320>
			</td>
			<td align="right">
			<input type="checkbox" name="thumb" id="thumb" {if $thumb==0}onclick="Go(sh+'&thumb=1');" {else}onclick="Go(sh+'&thumb=0');"checked{/if}/>图片
			<input type="checkbox" name="vip" id="vip" {if $vip==0}onclick="Go(sh+'&vip=1');" {else}onclick="Go(sh+'&vip=0');"checked{/if}/>已认证&nbsp;
			<select onchange="Go(sh+'&groupid='+this.value)">
			<option value="0"{if $groupid==0}selected{/if} >会员级别</option>
			<option value="5"{if $groupid==5}selected{/if} >个人会员</option>
			<option value="6"{if $groupid==6}selected{/if}>企业会员</option>
			<option value="7"{if $groupid==7}selected{/if}>VIP会员</option>
			</select>&nbsp;
	
						{if $list == 2}
			<img src="{DT_SKIN}image/list_txt_on.gif" width="16" height="16" alt="文字列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_txt.gif" width="16" height="16" alt="文字列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=2')"/>&nbsp;
			{/if}
			{if $list == 1}
			<img src="{DT_SKIN}image/list_img_on.gif" width="16" height="16" alt="图片列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_img.gif" width="16" height="16" alt="图片列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=1')"/>&nbsp;
			{/if}
			{if $list == 0}
			<img src="{DT_SKIN}image/list_mix_on.gif" width="16" height="16" alt="图文列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_mix.gif" width="16" height="16" alt="图文列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=0')"/>&nbsp;
			{/if}
			</td>
			</tr>
			</table>
		</div>
{if $tags}

{if $list==2}
<div class="autoheight">
{template 'list-company-nopic','tag'}
		</div>

{elseif $list==1}
<div class="autoheight">
{template 'list-company-pic','tag'}
</div>

{else}
<div class="autoheight">
{template 'list-company', 'tag'}
		</div>
{/if}

		</form>
		{else}
		{template 'noresult', 'message'}
		{/if}


													
														</div>

</div>

<div class="w240 fl ml10 autoheight">{template 'right', 'company'}</div>
<br class="clear">

		

{template 'footer'}