{php $head_css = [DT_SKIN.'tc.list.base.css',DT_SKIN.'tc.chanpin.base.css',DT_SKIN.'tc.chanpin.list.css']}
{php $footer_js = [DT_PATH.'file/script/jquery.SuperSlide.2.1.1.source.js',DT_PATH.'file/script/mall/tc.chanpin.list.js',DT_PATH.'lang/zh-cn/lang.js',DT_PATH.'file/script/config.js',DT_PATH.'file/script/common.js',DT_PATH.'file/script/page.js'];}
{template 'module-header'}
<style type="text/css">
	.f12{font-size:12px;}.f14{font-size:14px}.f16{font-size:16px}.f18{font-size:18px}.f20{font-size:20px}.f24{font-size:24px}
    a:link,a:visited {color:#333;}
    a:hover{color:#f05409;}
    .cut{overflow:hidden}
    .fl{float:left}.fr{float:right}
    .input{line-height:24px;height:24px;;font-size:14px;color:#888;text-indent:5px;width:140px;}
    .ml-5{margin-left:-5px;}
    .ml10{margin-left:10px;}.ml5{margin-left:5px;}
    .mr10{margin-right:10px;}.mg10{margin:10px;}.mr5{margin-right:5px;}
    .mt10{margin-top:10px;}.mt5{margin-top:5px;}
    .mb10{margin-bottom:10px;}.mb5{margin-bottom:5px;}
    .ml20{margin-left:20px;}
    .pd10{padding:10px;}.pd5{padding:5px;}.pd2{padding:2px;}
    .ti10{text-indent:10px;}.ti5{text-indent:5px;}
    .pt10{padding-top:10px;}.pt5{padding-top:5px;}.pl10{padding-left:10px;}.pl5{padding-left:5px;}.pb10{padding-bottom:10px;}.pb5{padding-bottom:5px;}
    .clear{line-height:0px; margin:0px; height:0px; font-size:0px;clear:both;overflow:hidden;display:inline;}
    .cart_foot {margin-top: 20px;border-top:#fdd591 1px solid;background:#fffdee;padding:20px 40px 20px 0;color:#ce0000;text-align:right;font-size:16px;}
    #cart_tip {width:350px;z-index:1000;position:absolute;margin:-40px 0 0 -15px;background:#FFFFFF;border:#A0BCCA 1px solid;padding:0 0 15px 0;}
    #cart_tip p {margin:0;background:#D2EDFF;padding:6px 4px 4px 6px;font-size:13px;font-weight:bold;}
    #cart_tip div {background:url('image/okay.gif') no-repeat 15px 10px;padding:15px 20px 10px 50px;font-size:13px;}
    #cart_tip span {color:#FF6600;font-weight:bold;}
    #cart_tip img {float:right;cursor:pointer;}
    .color,.color:link,.color:visited{color:#333}
    .hcolor,.hcolor:link,.hcolor:visited{color:#838383}
    .ocolor,.ocolor:link,.ocolor:visited,.f_red{color:#ff8800}
    .bcolor,.bcolor:link,.bcolor:visited{color:#137eb8}
    .wcolor,.wcolor:link,.wcolor:visited{color:white}
    .rcolor,.rcolor:link,.rcolor:visited{color:#cc3515}
    .gcolor,.gcolor:link,.gcolor:visited{color:#359A00}.highlight{color:#ff8800;font-weight:bold}
    .subm{vertical-align:middle;background:#f77602;font-size:16px;color:#fff;font-family: "微软雅黑";border:none;margin:0px;margin-left:-5px;height:32px;overflow:hidden}
    .your{width: 1200px;margin: 0 auto;padding: 20px 0;font-size: 12px;color: #888;}
    .your a{color: #666;margin:0 3px;}
    .buy-card table img{display: inline-block;}
    .buy-card table{border-spacing: 1px;}
    .buy-card table td,.buy-card table th,.buy-card table caption { padding: 10px; }
    .f_gray{font-size: 12px;color: #888;}
</style>
<script>
	function Dd(i) {return document.getElementById(i);}
</script>
{template 'lay','tag'}

<div class="w1200 buy-card box-center">
	<script type="text/javascript">
	var errimg = '{DT_SKIN}image/nopic50.gif';
	function check() {
		if(Dd('itemid').value == 0 || Dd('itemid').value == '') {
			alert('请输入商品ID');
			Dd('itemid').focus();
			return false;
		}
		return true;
	}
	</script>
	<div class="whitebg pd10 autoheight">
			<div style='line-height:30px;height:30px;'>
			<form action="cart.php" method="post" onsubmit="return check();">
			<input name="action" type="hidden" value="add"/>
			<span class='pt5 f16 bcolor mr10 ml10 fl'>输入商品ID</span><input name="itemid" type="text" size="10" id="itemid" class="input fl"/>
			<input type="submit" value="加入购物车" class='subm fl'/>
			<a href="javascript:void(0)" onclick="if(confirm('确定要清空购物车吗？')) Go('?action=clear');" class='fl ml10 pt5 f16'/>清空购物车</a>
			</form>
			</div>

		{if $tags}
		<form method="post" action="{$MOD[linkurl]}buy.php" onsubmit="return check();">
		<input type="hidden" name="from" value="cart"/>
		<table cellpadding="10" cellspacing="1" width="100%" bgcolor="#dbdbdb">
		<tr align="center" bgcolor="#F6F6F6" class='f16'>
		<td width="20"><input type="checkbox" onclick="checkall(this.form);"/></td>
		<td width="60">图片</td>
		<td>商品</td>
		<td>库存</td>
		<td>价格</td>
		<td>数量</td>
		<td width="100">小计</td>
		<td width="40">操作</td>
		</tr>
		{loop $tags $i $t}
		<tr align="center"{if $i%2==1} bgcolor="#ffffff"{else}bgcolor="#f0f0f0"{/if} id="tr_{$t[key]}">
		<td><input type="checkbox" name="itemid[]" value="{$t[key]}" checked onclick="calculate()" id="check_{$t[key]}"/><input type="hidden" name="keyid[]" value="{$t[key]}"/></td>
		<td><a href="{$t[linkurl]}" target="_blank"><img src="{$t[thumb]}" width="50" alt="{$t[alt]}"  onerror="this.src=errimg;"/></a></td>
		<td align="left" style="line-height:24px;color:#666666;"><a href="{$t[linkurl]}" target="_blank" class="b" title="{$t[alt]}">{$t[title]}</a><br/>
		{if $t[vip]}<img src="{DT_SKIN}image/vip_{$t[vip]}.gif" alt="{VIP}" title="{VIP}:{$t[vip]}级" align="absmiddle"/> {/if}<a href="{userurl($t[username])}" target="_blank">{$t[company]}</a>
		{if $DT[im_web]}{im_web($t[username].'&mid='.$moduleid.'&itemid='.$t[itemid])} {/if}
		{if $t[qq] && $DT[im_qq]}{im_qq($t[qq])} {/if}
		{if $t[ali] && $DT[im_ali]}{im_ali($t[ali])} {/if}
		{if $t[msn] && $DT[im_msn]}{im_msn($t[msn])} {/if}
		{if $t[skype] && $DT[im_skype]}{im_skype($t[skype])}</a> {/if}
		<br/>品牌:{if $t[brand]}{$t[brand]}{else}未填写{/if} {if $t[m1]}{$t[n1]}:{$t[m1]} {/if}{if $t[m2]}{$t[n2]}:{$t[m2]} {/if}{if $t[m3]}{$t[n3]}:{$t[m3]} {/if}
		</td>
		<td>{$t[amount]}</td>
		<td><span class="f_price" id="price_{$t[key]}">{$t[price]}</span></td>
		<td><img src="{DT_SKIN}image/arrow_l.gif" width="16" height="8" alt="减少" class="c_p" onclick="alter('{$t[key]}', '-')"/><input type="text" name="amounts[{$t[key]}]" value="1" id="number_{$t[key]}" size="3" onblur="calculate();" class="cc_inp"/> <img src="{DT_SKIN}image/arrow_r.gif" width="16" height="8" alt="增加" class="c_p" onclick="alter('{$t[key]}', '+')"/><span class="dsn" id="amount_{$t[key]}">{$t[amount]}</span></td>
		<td><span class="f_price" id="total_{$t[key]}">{$t[price]}</span></td>
		<td class="c_p f_dblue" onclick="if(confirm('确定要移除此商品吗？')) move('{$t[key]}');">删除</td>
		</tr>
		{/loop}
		</table>
		<div class="b10"> </div>
			<div class="cart_foot">共选中 <span class="f_red f_b px16" id="total_good">{$total}</span> 种商品    总价： <span class="f_red f_b px16" id="total_amount">{$price}</span> 元</div>
		<div class="b10"> </div>
			<table cellpadding="0" cellspacing="0" width="100%">
			<tr align="center">
			<td height="60"> </td>
			<td width="280"><a href="{$MOD[linkurl]}"><img src="{DT_SKIN}image/btn_browse.gif" width="106" height="33" alt="继续购物"/></a></td>
			<td width="280"><input type="image" src="{DT_SKIN}image/btn_buynext.gif"/></td>
			</tr>
			<tr align="center">
			<td height="50"> </td>
			<td class="f_gray">您也可以返回到{$MOD[name]}首页，继续挑选商品</td>
			<td class="f_gray">如果您已经完成挑选，请您点下一步进入提交订单</td>
			</tr>
			</table>
		</form>
		{else}
			<div style="padding:80px;" class="t_c px14 f_b">您的 <span class="f_orange">购物车</span> 还是空的，赶快行动吧！马上去 <a href="{$MOD[linkurl]}" class="b">挑选商品</a></div>
		{/if}


	</div>
	<script type="text/javascript">
	function check() {
		if(Dd('total_good').innerHTML == '0') {
			alert('最少需要挑选1件商品');
			window.scroll(0, 0);
			return false;
		}
		{if !$_userid}
		if(confirm('您还没有登录，是否现在登录？')) {
			Go('{$MODULE[2][linkurl]}{$DT[file_login]}?forward={urlencode($DT_URL)}');
		}
	    return false;
		{/if}
	}
	function move(i) {
		Dd('check_'+i).checked = false;
		Dh('tr_'+i);
		calculate();
			$.post('./cart.php?action=delete&ajax=1&key='+i, {queryString: ""}, function(data){
	      _move;
	});
	}
	function _move() {
		if(xmlHttp.readyState==4 && xmlHttp.status==200) {
			var cart_num = substr_count(get_cookie('cart'), ',');
			$('#destoon_cart').html(cart_num ? '<strong>'+cart_num+'</strong>' : '0');
			if(xmlHttp.responseText == 1 && Dd('total_good').innerHTML == '0') Go('?empty='+Math.random());
		}
	}
	function alter(i, t) {
		if(t == '+') {
			var maxa = parseFloat(Dd('amount_'+i).innerHTML);
			if(maxa && Dd('number_'+i).value >= maxa) return;
			Dd('number_'+i).value =  parseInt(Dd('number_'+i).value) + 1;
		} else {
			var mina = 1;
			if(Dd('number_'+i).value <= mina) return;
			Dd('number_'+i).value =  parseInt(Dd('number_'+i).value) - 1;
		}
		calculate();
	}
	function calculate() {
		var itemids = [{loop $tags $i $t}{if $i},{/if}'{$t[key]}'{/loop}];
		var _good = _amount = _total = 0;
		for(var i = 0; i < itemids.length; i++) {
			if(Dd('check_'+itemids[i]).checked) {
				itemid = itemids[i];
				var num, good, maxa, mina;
				num = parseInt(Dd('number_'+itemid).value);
				maxa = parseFloat(Dd('amount_'+itemid).innerHTML);
				mina = 1;
				if(num < mina) Dd('number_'+itemid).value = num = mina;
				if(maxa && num > maxa) Dd('number_'+itemid).value = num = maxa;
				if(isNaN(num) || num < 0) Dd('number_'+itemid).value = num = mina;
				_good++;
				_total = parseFloat(Dd('price_'+itemid).innerHTML)*parseFloat(Dd('number_'+itemid).value);
				_amount += _total;
				Dd('total_'+itemids[i]).innerHTML = _total.toFixed(2);
			}
		}
		Dd('total_good').innerHTML = _good;
		Dd('total_amount').innerHTML = _amount.toFixed(2);
	}
	{if $tags}calculate();{/if}
	</script>
</div>


{template 'footer2017'}