{php $sitemenu='mall';$CSS=array('mall3');$mlogo='mall.gif'; $index='yes';}
{template 'header','mall'}
<script type="text/javascript">
$(document).ready(function(){
$("#youcan").click(function(){$("#leftmenu").slideToggle("normal");});
});
</script>
<div class="divline" id="menubgs"></div>
<div class="center autoheight hbody"  id="webbodycontent" >
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/MSClass.js"></script>
<div class="h450">
<div class="all w235" id="navleft">
	<dl class="sidelist">
		<dt><span><h3 class="treeout"> 手术器械</h3></span></dt>
	<dd class="i-list autoheight" style="display: none;">
<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/jichu/" ><p>基础外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/xianwei/" ><p>显微外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/shenjing/" ><p>神经外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/yanke/" ><p>眼科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/erbihou/" ><p>耳鼻喉科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/kouqiang/" ><p>口腔科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/xinxueguan/" ><p>胸腔心血管外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/fubu/" ><p>腹部外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/miniao/" ><p>泌尿肛肠外科手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/fuchan/" ><p>妇产科用手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/jiaoxing/" ><p>矫形外科（骨科）手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/jisheng/" ><p>计划生育手术器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/shaoshang/" ><p>烧伤(整形)科手术器械</p></a></li>
</ul>
<div class="divline"></div>
	</dd>
</dl>
	<dl class="sidelist">
		<dt><span><h3 class="treeout">  常规医用试剂/仪器</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/zhencha/" ><p>普通诊察器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/jianyan/" ><p>临床检验分析仪器</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/huayan/" ><p>医用化验和基础设备器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/xueyi/" ><p>体外循环及血液处理设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/huli/" ><p>病房护理设备及器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/xiaodu/" ><p>消毒和灭菌设备及器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/lengliao/" ><p>医用冷疗、低温、冷藏设备及器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/kqcl/" ><p>口腔科设备及器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/jijiu/" ><p>手术室、急救室、诊疗室设备及器具</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/zhushe/" ><p>注射穿刺器械</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/yixueshiji/" ><p>医学试剂</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  医用高能设备</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/chaosheng/" ><p>医用超声仪器及有关设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/jiguang/" ><p>医用激光仪器设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/gaopin/" ><p>医用高频仪器设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/Xshexian/" ><p>医用X射线设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/xfushu/" ><p>医用X射线附属设备及部件</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/gaoneng/" ><p>医用高能射线设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/shexian/" ><p>医用射线防护用品、装置</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/hesu/" ><p>医用核素设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/cigongzhen/" ><p>医用磁共振设备</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  医用材料</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/kqcl/" ><p>口腔科材料</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/wscl/" ><p>医用卫生材料及敷料</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/fenghe/" ><p>医用缝合材料及粘合剂</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/gaofenzi/" ><p>医用高分子材料及制品</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/zhiru/" ><p>植入材料和人工器官</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  医用光学仪器及内窥镜设备</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/guangxue/" ><p>医用光学器具、仪器及内窥镜设备</p></a></li>
<li><a href="http://www.tecenet.com/chanpin/dianzi/" ><p>医用电子仪器设备</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  医用软件</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/ruanjian/" ><p>医用软件</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  介入器材</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/jieru/" ><p>介入器材</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  物理治疗及康复设备</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/zhiliao/" ><p>物理治疗及康复设备</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  中医器械</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/zhongyi/" ><p>中医器械</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  实验室用品</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/238/" ><p>实验室器具/工具/设备/耗材</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  药品/保健品</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.tecenet.com/chanpin/2005/" ><p>药品/保健品</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
<dl class="sidelist">
	<dt><span><h3 class="treeout">  其他</h3></span></dt>
		<dd class="i-list autoheight" style="display: none;">
				<ul class="applist">

<li><a href="http://www.tecenet.com/chanpin/2016/" ><p>其他</p></a></li>
</ul>
<div class="divline"></div>
		</dd>
</dl>
</div>
<div class="all w660 h450" id="center">
<script type="text/javascript">
$(function(){
    $('#mini-dropdown-2 .dropdown').miniDropdown({
      animation: 'slide',
      show: 100,
      hide: 100,
      delayIn: 100,
      delayOut: 100
    });
});
</script>
   <div class="ad681">{ad(199)}</div>
   <div class="all" id="center02">
		<dl class="whyme">
    		<dt>为什么选择天成医疗网</dt>
    		<dd class='wmbg1 '><p><b>上市公司投资支持</b></p><p><span>达安基因投资与天成共同协办</span></p></dd>
    		<dd class='wmbg2 '><p><b>认证资质的颁发</b></p><p><span>卫生部医药生物工程技术研究中心授权</span></p></dd>
    		<br>
    		<dd class='wmbg3 '><p><b>百度合作平台</b></p><p><span>专家队伍全程协调跟进服务</span></p></dd>
    		<dd class='wmbg4'><p><b>资金周转融资服务</b></p><p><span>固定资产抵押形式，让您的项目运作更灵活</span></p></dd>
		</dl>
   </div>
   </div>
	<div class="all" id="right">
		  <div class="right1 f18 ml10"><img src="{DT_PATH}skin/teceskin/image/mall/yuan.jpg" style=" vertical-align: bottom;"><font id="span_num" class='ocolor f18 ml10'> <a class="span_num_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanNum();">点击显示</a> </font>元订单金额</div>

		  <div class="right1 f18 ml10"><img src="{DT_PATH}skin/teceskin/image/mall/bian.jpg" style=" vertical-align: bottom;"><font id="span_buy" class='ocolor f18 ml10'> <a class="span_buy_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanBuy();">点击显示</a> </font>招标采购信息</div>

		  <div class="right1 f18 ml10"><img src="{DT_PATH}skin/teceskin/image/mall/cuan.jpg" style=" vertical-align: bottom;"><font id="span_company" class='ocolor f18 ml10'> <a class="span_company_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanCompany();">点击显示</a> </font>家供应商</div>

		  <div class="right1 f18 ml10"><img src="{DT_PATH}skin/teceskin/image/mall/pian.jpg" style=" vertical-align: bottom;"><font id="span_product" class='ocolor f18 ml10'> <a class="span_product_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanProduct();">点击显示</a> </font>产品信息</div>

			<div class="tc pt10">
			<div class="right2">
			<a href="http://www.tecenet.com/member/my.php?mid=16&action=add"><input type="button" class="right_button" style="background:url('{DT_PATH}skin/teceskin/image/mall/fa.jpg');" value="产品发布"></a>
			</div>
			<br>
			<div class="right2">
			<a href="http://www.tecenet.com/member/trade.php"><input type="button" class="right_button" style="background:url('{DT_PATH}skin/teceskin/image/mall/tian.jpg');" value="订单详情"></a>
			</div>
			<br>
			<div class="right2">
			<a href="http://www.tecenet.com/member/my.php?mid=6&action=add"><input type="button" class="right_button" style="background:url('{DT_PATH}skin/teceskin/image/mall/tou.jpg');" value="发布招投标"></a>
			</div>
			</div>
	</div>
</div>
<div class="divline"></div>
<div id="out2" class="h150">
<p class="f18 mt10 mb10">秀医器主要为您服务</p>
<div class="fuwuimg">
<img src="{DT_PATH}skin/teceskin/image/mall/7.png"></div>
<ul style="float:left;margin-left:80px;">
<li style="float:left;margin-right: 90px;">在线订单管理服务</li>
<li style="float:left;margin-right: 145px;">产品和品牌在线推广</li>
<li style="float:left;margin-right: 190px;">科室解决方案</li>
<li style="float:left;margin-right: 200px;">线上招标采购</li>
<li style="float:left;">资质服务</li>
</ul>
</div>
<div class="divline"></div>
<!--产品中心-->
<div id="out3"><img src="{DT_PATH}skin/teceskin/image/mall/cpzx.jpg" style=" vertical-align: bottom;"><span>产品中心</span></div>
<div class="dazq" id="out">
		<div class="cg1">{ad(213)}</div>
   	<div class="cpzx">
   		<div class="outt">
   			<div class="tab_2" id="mall_t_1" onmouseover="Tb(1, 3, 'mall', 'tab');">推荐产品</div>
   			<div class="tab_1" id="mall_t_2" onmouseover="Tb(2, 3, 'mall', 'tab');" >国产产品</div>
   			<div class="tab_1" id="mall_t_3" onmouseover="Tb(3, 3, 'mall', 'tab');" >进口产品</div>
   		</div>
   		<div id="mall_c_1" style="display:">
<ul class="outt2">
{php $tagt = tag("moduleid=16&fields=groupid,price,thumb,linkurl,title&condition=itemid in(530450) &pagesize=1&order=edittime desc&template=null&debug=0&showcat=1")}
{loop $tagt $i $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=120 class="whiteb"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"><p>{dsubstr($t[title],25,'...')}<span>￥{$t[price]}</span></p></a></li>
{/loop}
{php $tags = tag("moduleid=16&fields=itemid,linkurl,thumb,groupid,price,title&condition=status=3 and bcatid=859 and thumb<>''&pagesize=5&order=level desc&template=null&debug=0&showcat=1")}
{loop $tags $k $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=120 class="whiteb"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"><p>{dsubstr($t[title],25,'...')}<span>￥{$t[price]}</span></p></a></li>
{/loop}
   		</ul>
   		</div>
<div id="mall_c_2" style="display:none">
<ul class="outt2">
{php $tagt = tag("moduleid=16&fields=groupid,price,thumb,linkurl,title&condition=itemid in(529681,529680) &pagesize=2&order=edittime desc&template=null&debug=0&showcat=1")}
{loop $tagt $i $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=120 class="whiteb"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"><p>{dsubstr($t[title],25,'...')}<span>￥{$t[price]}</span></p></a></li>
{/loop}
{php $tagt = tag("moduleid=16&fields=groupid,price,thumb,linkurl,title&condition=status=3 and vip>0 and expcate=0  &pagesize=4&order=edittime desc&template=null&debug=0&showcat=1")}
	{loop $tagt $i $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=120 class="whiteb"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"><p>{dsubstr($t[title],25,'...')}<span>￥{$t[price]}</span></p></a></li>
        {/loop}
   		</ul>
			</div>
<div id="mall_c_3" style="display:none">
{php $tagt = tag("moduleid=16&fields=groupid,price,thumb,linkurl,title&condition=status=3 and vip>0 and expcate=1 and username='gztc' &pagesize=6&order=addtime desc&template=null&debug=0&showcat=1")}
<ul class="outt2">
	{loop $tagt $i $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'"  align="center" width=164 height=120 class="whiteb"  id="mallpic{$t[itemid]}"  src="{imgurl($t[thumb], 1)}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"><p>{dsubstr($t[title],25,'...')}<span>￥面议</span></p></a></li>
        {/loop}
   		</ul>
			</div>
   	</div>
  <div class="cg3" style="border-left:solid #ededed 1px;">
   		<div class="cg3_1 pb10 pt5">热门排名榜</div>
   		<div class="cg3_2">
	{php $tagl = tag("moduleid=16&fields=groupid,linkurl,title&condition=status=3 and vip>0 &pagesize=10&order=hits desc&template=null&debug=0&showcat=1")}
                        <ul>
			{loop $tagl $i $t}
				<li><span class="lenstr wcolor {if $i<3}redico{else}grayico{/if}">{$i+1}</span><font class="lenstr"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{dsubstr($t[title], 35, '...')}</a></font></li>
			{/loop}
			</ul>
   		</div>
   		<div class="cg3_1">
   			<a href="{$MODULE[16][linkurl]}"><input type="button" class="button" style="background:url('{DT_PATH}skin/teceskin/image/mall/buutn1.jpg');" value="更多"></a>
   			</div>
   </div>

</div>
<div class="divline"></div>
<div class="ad">{ad(214)}</div>
<div class="divline"></div>
<!--供应商中心-->
<div id="out3"><img src="{DT_PATH}skin/teceskin/image/mall/gys.jpg" style=" vertical-align: bottom;"><span>供应商中心</span></div>
<div class="gys" id="out">
		<div>
	   <div class="gys1">
	   		<div class="gys1_1">
	   			<div class="gys1_1_1" id="gys_t_1" onmouseover="Tb(1, 2, 'gys', 'tab');">推荐供应商</div>
	   			<div id="gys_t_2" onmouseover="Tb(2, 2, 'gys', 'tab');">新增供应商</div>
	   			<div></div>
	   			<div><span class="fr f12"><a href="{$MODULE[13][linkurl]}">更多...</a></span></div>
	   		</div>
	   		 <div id="gys_c_1" style="display:">
<dd style="width:845px;height:495px;" class="fl whitebg tjbrand">
						{php $tagt = tag("moduleid=4&condition=vip>0 and groupid=7&pagesize=12&order=vip desc,pnum desc&template=null&debug=0&showcat=0")}
						<ul>
							{loop $tagt $z $t}
							<li class="cut">
								<a href="{$t[linkurl]}" title="{$t[company]}"><div class="intor"><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="135" height="135" align="center" class="mid">
								<div class="lenstr f12">{$t[company]}</div></div></a></li>
							{/loop}
						</ul>
</dd>
			</div>
			<div id="gys_c_2" style="display:none">
<dd style="width:845px;height:495px;" class="fl whitebg tjbrand">
						{php $tagt = tag("moduleid=4&condition=vip>0 and groupid=7&pagesize=12&order=userid desc,pnum desc&template=null&debug=0&showcat=0")}
						<ul>
							{loop $tagt $z $t}
							<li class="cut">
								<a href="{$t[linkurl]}" title="{$t[company]}"><div class="intor"><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="135" height="135" align="center" class="mid">
								<div class="lenstr f12">{$t[company]}</div></div></a></li>
							{/loop}
						</ul>
</dd>


			</div>
	   </div>
	   <div class="gys2">
			<div class="gys2_1">
				<div class="gys2_1_1" id="resumemap_t_1" onmouseover="Tb(1, 2, 'resumemap', 'tab2');">供应商/品牌排名榜</div>
				<div class="gys2_1_2" id="resumemap_t_2" onmouseover="Tb(2, 2, 'resumemap', 'tab2');">供应商筛选地图</div>
			</div>
			<div class="gys2_2" id="resumemap_c_1" style="display:">
{php $tagt = tag("moduleid=4&condition=vip>0 and groupid=7&pagesize=12&order=hits desc&template=null&debug=0&showcat=0")}
				<ul>
 {loop $tagt $z $t}
				<a href="{$t[linkurl]}" title="{$t[company]}"><li><span class="lenstr wcolor {if $z<3}redico{else}grayico{/if}">{$z+1}</span>{$t[company]}<span class="fr">{$t[hits]}</span></li></a>
{/loop}
				</ul>
				<div class="cg3_1">
				<a href="{$MODULE[4][linkurl]}"><input type="button" class="button" style="background:url('{DT_PATH}skin/teceskin/image/mall/buutn1.jpg');" value="更多"></a>
					</div>
			</div>
			<div id="resumemap_c_2"style="display:none">
				<dd  class="gys2_2">
				<div class="com_map">
						<img src="{DT_SKIN}image/mall/map.jpg" border="0" usemap="#Map" />
								<map name="Map" id="Map">
								<area shape="rect" coords="178,237,204,251" href="{$MODULE[4][linkurl]}search-htm-areaid-22.html" target="_blank" title="海南企业">
								<area shape="rect" coords="195,202,221,216" href="{$MODULE[4][linkurl]}search-htm-areaid-20.html" target="_blank" title="广东企业">
								<area shape="rect" coords="205,221,231,235" href="{$MODULE[4][linkurl]}search-htm-areaid-34.html" target="_blank" title="澳门企业">
								<area shape="rect" coords="165,205,191,219" href="{$MODULE[4][linkurl]}search-htm-areaid-21.html" target="_blank" title="广西企业">
								<area shape="rect" coords="234,214,260,228" href="{$MODULE[4][linkurl]}search-htm-areaid-33.html" target="_blank" title="香港企业">
								<area shape="rect" coords="126,196,152,210" href="{$MODULE[4][linkurl]}search-htm-areaid-25.html" target="_blank" title="云南企业">
								<area shape="rect" coords="251,199,277,213" href="{$MODULE[4][linkurl]}search-htm-areaid-32.html" target="_blank" title="台湾企业">
								<area shape="rect" coords="221,187,247,201" href="{$MODULE[4][linkurl]}search-htm-areaid-14.html" target="_blank" title="福建企业">
								<area shape="rect" coords="154,182,180,196" href="{$MODULE[4][linkurl]}search-htm-areaid-24.html" target="_blank" title="贵州企业">
								<area shape="rect" coords="256,170,282,184" href="{$MODULE[4][linkurl]}search-htm-areaid-12.html" target="_blank" title="浙江企业">
								<area shape="rect" coords="221,171,247,185" href="{$MODULE[4][linkurl]}search-htm-areaid-15.html" target="_blank" title="江西企业">
								<area shape="rect" coords="191,176,217,190" href="{$MODULE[4][linkurl]}search-htm-areaid-19.html" target="_blank" title="湖南企业">
								<area shape="rect" coords="162,164,188,178" href="{$MODULE[4][linkurl]}search-htm-areaid-4.html" target="_blank" title="重庆企业">
								<area shape="rect" coords="249,154,275,168" href="{$MODULE[4][linkurl]}search-htm-areaid-11.html" target="_blank" title="江苏企业">
								<area shape="rect" coords="220,155,246,169" href="{$MODULE[4][linkurl]}search-htm-areaid-13.html" target="_blank" title="安徽企业">
								<area shape="rect" coords="191,149,217,163" href="{$MODULE[4][linkurl]}search-htm-areaid-18.html" target="_blank" title="湖北企业">
								<area shape="rect" coords="127,154,153,168" href="{$MODULE[4][linkurl]}search-htm-areaid-23.html" target="_blank" title="四川企业">
								<area shape="rect" coords="54,143,80,157" href="{$MODULE[4][linkurl]}search-htm-areaid-26.html" target="_blank" title="西藏企业">
								<area shape="rect" coords="262,139,288,153" href="{$MODULE[4][linkurl]}search-htm-areaid-2.html" target="_blank" title="上海企业">
								<area shape="rect" coords="188,132,214,146" href="{$MODULE[4][linkurl]}search-htm-areaid-17.html" target="_blank" title="河南企业">
								<area shape="rect" coords="144,130,170,144" href="{$MODULE[4][linkurl]}search-htm-areaid-27.html" target="_blank" title="陕西企业">
								<area shape="rect" coords="148,110,174,124" href="{$MODULE[4][linkurl]}search-htm-areaid-30.html" target="_blank" title="宁夏企业">
								<area shape="rect" coords="101,108,127,122" href="{$MODULE[4][linkurl]}search-htm-areaid-29.html" target="_blank" title="青海企业">
								<area shape="rect" coords="105,89,131,103" href="{$MODULE[4][linkurl]}search-htm-areaid-28.html" target="_blank" title="甘肃企业">
								<area shape="rect" coords="49,77,75,91" href="{$MODULE[4][linkurl]}search-htm-areaid-31.html" target="_blank" title="新疆企业">
								<area shape="rect" coords="239,120,265,134" href="{$MODULE[4][linkurl]}search-htm-areaid-16.html" target="_blank" title="山东企业">
								<area shape="rect" coords="202,107,228,121" href="{$MODULE[4][linkurl]}search-htm-areaid-5.html" target="_blank" title="河北企业">
								<area shape="rect" coords="165,93,191,107" href="{$MODULE[4][linkurl]}search-htm-areaid-6.html" target="_blank" title="山西企业">
								<area shape="rect" coords="229,90,255,104" href="{$MODULE[4][linkurl]}search-htm-areaid-3.html" target="_blank" title="天津企业">
								<area shape="rect" coords="194,85,220,99" href="{$MODULE[4][linkurl]}search-htm-areaid-1.html" target="_blank" title="北京企业">
								<area shape="rect" coords="253,75,279,89" href="{$MODULE[4][linkurl]}search-htm-areaid-8.html" target="_blank" title="辽宁企业">
								<area shape="rect" coords="196,59,230,74" href="{$MODULE[4][linkurl]}search-htm-areaid-7.html" target="_blank" title="内蒙古企业">
								<area shape="rect" coords="256,37,290,52" href="{$MODULE[4][linkurl]}search-htm-areaid-10.html" target="_blank" title="黑龙江企业">
								<area shape="rect" coords="261,57,287,71" href="{$MODULE[4][linkurl]}search-htm-areaid-9.html" target="_blank" title="吉林企业">
							</map>
						</div>
						<div>
						<div>
						<form action="{$MOD[linkurl]}search.php" method="get" class="gongsiform" style="margin-top:5px;">
							<dl class="fl" style="width:280px;line-height:25px;">
							<dt class="f14 b">经营行业分类</dt>
									<dd class="pl10">
									<select name="catid" style="width:260px;padding:5px;">
										{php $tagss = tag("moduleid=4&table=category&fields=catid,catname,style,item,child&condition=moduleid=4 and parentid=0&pagesize=30&order=listorder ASC&template=null")}
										{loop $tagss $i $t}
										<option value="{$t[catid]}">{set_style($t[catname],$t[style])} [{$t[item]}]</option>
										{/loop}
										</select>
							</dd>
									<div class="clear"></div>
							<dt class="f14 b">运作模式分类</dt>
									  <dd class="pl10">
											<label><input type="checkbox" value="1" name="mode1" />生产商</label>
											<label><input type="checkbox" value="2" name="mode2" />贸易商</label>
											<label><input type="checkbox" value="3" name="mode3" />服务商</label>
											<label><input type="checkbox" value="4" name="mode4" />其他机构</label>
										</dd>
									<div class="divline"></div>
												<input type="submit" class="submit" value="立即筛选" />
							</dl>
						</form>
						</div>
						</div>
						</dd>
				</div>
	   </div>
	   </div>
</div>
<div class="divline"></div>
<div class="ad">{ad(215)}</div>
<div class="divline"></div>
<!--招标采购信息-->
<div id="out3"><img src="{DT_PATH}skin/teceskin/image/mall/zbcg.jpg" style=" vertical-align: bottom;"><span>招标采购信息</span></div>
<div class="gys" id="out">
   <div class="cg1">{ad(212)}</div>
   <div class="cg2">
   		<div class="cg2_1">
			<a href="{DT_PATH}zhaobiao"><div class="cg2_1_2">天成平台内招标</div></a>
			<a href="{DT_PATH}zhaobiao"><div class="cg2_1_2">国内招标采购咨询</div></a>
	   </div>
	   <div class="cg2_2">
			<div class="cg2_2_1">
				<ul>
					{php $buys=tag("moduleid=6&condition=specialid=13 and status=3&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $buys $z $k}
					<li><a href="{$k[linkurl]}" target="_blank" >●{dsubstr($k[title], 36, '...')}</a><span class="fr mr5 f12 hcolor">{date('y/m/d', $k[edittime])}</span></li>
					{/loop}
				</ul>
			</div>
			<div class="cg2_2_1">
				<ul>
					{php $buys=tag("moduleid=6&condition=status=3&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $buys $z $k}
					<li><a href="{$k[linkurl]}" target="_blank" >●{dsubstr($k[title], 36, '...')}</a><span class="fr mr5 f12 hcolor">{date('y/m/d', $k[addtime])}</span></li>
					{/loop}
				</ul>
			</div>
	   </div>
   	</div>
   <div class="cg3">
   			<div class="cg3_1 pb10 pt5">最新采购招标项目</div>
   			<div class="cg3_2">
				<ul>
					{php $tags = tag("moduleid=6&condition=status=3&pagesize=11&order=level desc,edittime desc&template=null&debug=0&showcat=1")}
						{loop $tags $z $v}
								<li><span class="fr mr5 f12 hcolor">{date('y/m/d', $k[addtime])}</span><a href="{$v[linkurl]}" target="_blank" >{dsubstr($v[title], 28, '...')}</a></li>
							{/loop}
				</ul>
   			</div>
   			<div class="cg3_1">
   				<a href="{$MODULE[6][linkurl]}"><input type="button" class="button" style="background:url('{DT_PATH}skin/teceskin/image/mall/buutn1.jpg');" value="更多"></a>
   				</div>
   </div>
</div>
<div class="divline"></div>
<div class="ad">{ad(216)}</div>
<div class="divline"></div>
<!--达安专区-->
<div id="out3"><img src="{DT_PATH}skin/teceskin/image/mall/dazq.jpg" style=" vertical-align: bottom;"><span>达安集团专区</span></div>
<div class="dazq" id="out">
	<div class="cg1">{ad(211)}</div>

   <div class="da">
   		<div class="da1">
   		<div>达安基因集团投资子公司<span class='fr f12 mr10'><a href="http://www.tecenet.com/zhuanti/show.php?itemid=15">更多...</a></span></div>
   		</div>
   		<div class="fl jts"><div><a href="javascript:void(0)" id="brandleft"><img src="{DT_SKIN}image/blank.gif" ></a></div></div>
<div class="fl" style="width:680px;padding-top:10px;padding-left:5px;" id="CSSBox">
<div id="CSSContent">
<ul class="da2" style="width:1350px;height:370px;margin-left:-10px;">
			{php $sitemenu='buy';$listpage='list';$username='daangene';$userid=834;$ftypeid=773;$ztypeid=774;}
   			{php $tags = tag("table=friend&condition=username<>'' and userid=$userid and typeid=$ztypeid&pagesize=21&order=addtime desc&template=null&debug=0&showcat=1")}
					{loop $tags $k $c}
						{php $supplylist=$supplylist.",'".$c[username]."'"}
					{/loop}
					{php $supplylist=str_replace(',,','',$supplylist);}
					{php $supplylist=ltrim($supplylist, ",");}
					{if $supplylist!=','}
			{php $tagk = tag("moduleid=4&condition=username in ($supplylist)&pagesize=20&order=pnum desc&template=null&debug=0&showcat=1")}
				{loop $tagk $k $t}
			<li><a href="{$t[linkurl]}" title="{$t[alt]}"><div class="intor"><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="120" height="134" align="center" class="mid" target="_blank">
<div class="lenstr f14">{$t[title]}</div></div></a></li>
				{/loop}
					{/if}
</ul>
</div>
</div>
<div class="fl jts"><div><a href="javascript:void(0)" id="brandright"><img src="{DT_SKIN}image/blank.gif" ></a></div></div>
  <script type="text/javascript">
new Marquee(
{
	MSClass	  : ["CSSBox","CSSContent"],
	Direction : 2,
	PrevBtnID : "brandright",
	NextBtnID : "brandleft",
	Step	  : 0.1,
	Width	  : 680,
	Height	  : 360,
	Timer	  : 20,
	DelayTime : 3000,
	WaitTime  : 1000,
	ScrollStep: 270,
	AutoStart : true
});
</script>
   	</div>
   <div class="cg3">
   			<div class="cg3_3  pb10 pt5">专区资讯</div>
   			<div class="cg3_4">
				<ul>
					{php $tagss = tag("moduleid=21&catid=841&condition=status=3&pagesize=10&order=itemid desc&template=null&debug=0&showcat=1")}
						{loop $tagss $i $t}
					<a href="{$t[linkurl]}" title="{$t[title]}"><li>{dsubstr($t[title], 30, '...')}</li></a>
						{/loop}
				</ul>
   			</div>
   			<div class="cg3_3">
   				<a href="http://www.tecenet.com/zhaobiao/"><input type="button" class="button" style="background:url('{DT_PATH}skin/teceskin/image/mall/buutn2.jpg');" value="更多"></a>
   				</div>
	</div>
</div>
<div class="divline"></div>
<div class="ad">{ad(217)}</div>
<div class="divline"></div>
<!--行业资讯及增值服务-->
 <script type="text/javascript">
      	 	$(function() {
            $("#detail li").hover(function(){
                $(this).addClass('fan').siblings().removeClass('fan');
            });
             });
         </script>
<div id="out3"><img src="{DT_PATH}skin/teceskin/image/mall/hyzx.jpg" style=" vertical-align: bottom;"><span>行业资讯</span></div>
<div class="hy">
	<div id="out">
<div class="hy1">
<div class="autoheight">
<dl class="dllist pd10 whitebg cut">
		<dd class="cut fl w254">
		<ul>
			{php $tagss = tag("moduleid=21&catid=842&condition=status=3&pagesize=1&order=itemid desc&template=null&debug=0&showcat=1")}
				{loop $tagss $i $t}
			   <li class="mt10 thumb"style="position:relative;width:250px;height:150px;"><a href="{$t[linkurl]}" target="_blank" title="{$t[title]}"><img src="{$t[thumb]}" width="250" height="150"><div class="tran f14"  style="position:absolute;width:252px;height:30px;z-indent:2;left:0; margin-top:120px;"><p class="hcolor">{dsubstr($t[title], 35, '...')}</p></div></a></li>
		     {/loop}
		</ul>
		</dd>
      <dd class="fl w650 cut mr5">
				<ul class="mallullist ml20" id="detail">
							{php $tages = tag("moduleid=21&catid=842&condition=status=3&pagesize=6&order=itemid desc&template=null&debug=0&showcat=1")}
							{loop $tages $i $t}

							{if $i>1}
							<li {if $i==2}class="fan"{/if}>
								<a href="{$t[linkurl]}" title="{$t[title]}" target="_blank" class="f14 bcolor">
								<dl>
									<dt>
								<span class="fr mr5 f12 mt5 hcolor">{date('Y/m/d', $t[addtime])}</span>
								<span class="lenstr w380 color">{$t[title]}</span>
									</dt>
									<dd>{$t[introduce]}</dd>
								</dl>
								</a>
								</li>
							{/if}
							{/loop}

			</ul>
								<script type="text/javascript">
								Dd('c8428').style.borderBottom='0px';
								</script>
	</dd>
</dl>
</div>
<hr class="xuxian"/>
<div class="autoheight">
<dl class="dllist pd10 whitebg cut">
		<dd class="cut fl w254">
		<ul>
			{php $tagss = tag("moduleid=21&catid=844,840&condition=status=3&pagesize=1&order=itemid desc&template=null&debug=0&showcat=1")}
				{loop $tagss $i $t}
			   <li class="mt10 thumb"style="position:relative;width:250px;height:150px;"><a href="{$t[linkurl]}" target="_blank" title="{$t[title]}"><img src="{$t[thumb]}" width="250" height="150"><div class="tran f14"style="position:absolute;width:252px;height:30px;z-indent:2;left:0; margin-top:120px;"><p class="hcolor">{dsubstr($t[title], 35, '...')}</p></div></a></li>
		     {/loop}
		</ul>
		</dd>
      <dd class="fl w650 cut mr5">
				<ul class="mallullist ml20" id="detail">
							{php $tages = tag("moduleid=21&catid=844,840&condition=status=3&pagesize=6&order=itemid desc&template=null&debug=0&showcat=1")}
							{loop $tages $i $t}

							{if $i>1}
							<li {if $i==2}class="fan"{/if}>
								<a href="{$t[linkurl]}" title="{$t[title]}" target="_blank" class="f14 bcolor">
								<dl>
									<dt>
								<span class="fr mr5 f12 mt5 hcolor">{date('Y/m/d', $t[addtime])}</span>
								<span class="lenstr w380 color">{$t[title]}</span>
									</dt>
									<dd>{$t[introduce]}</dd>
								</dl>
								</a>
								</li>
							{/if}
							{/loop}

			</ul>
								<script type="text/javascript">
								Dd('c8428').style.borderBottom='0px';
								</script>
	</dd>
</dl>
</div>
</div>
   <div class="cg3">
   			<div class="cg3_1  pb10 pt5">最新资讯</div>
   			<div class="cg3_2 mb20">
				<ul>
				{php $tages = tag("moduleid=21&catid=844,840,842&condition=status=3&pagesize=12&order=itemid desc&template=null&debug=0&showcat=1")}
	   		{loop $tages $z $t}
	   		<a href="{$t[linkurl]}" title="{$t[title]}"><li>{dsubstr($t[title], 30, '...')}</li></a>
				{/loop}
				</ul>
   			</div>
   </div>
</div>
</div>
<div class="divline"></div>
<!--更多增值服务项目-->
<div id="out3"><span>更多增值服务项目</span></div>
<div id="out2" class="zzfw">
	<dl>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg1'><p>科室装修方案</p></dd>	</a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg2'><p>设备维修整包</p></dd></a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg3'><p>人才招聘服务</p></dd>	</a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg4'><p>资质认证申请</p></dd></a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg5'><p>物流配送</p></dd>	</a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg6'><p>进出口服务</p></dd></a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg7'><p>家庭健康服务</p></dd>	</a>
	<a href="{$MODULE[12][linkurl]}"><dd class='zzfwbg8'><p>金融结算扶持</p></dd></a>
	</dl>
</map>
</div>
<div class="divline"></div>
</div>
{template 'footer'}
