{loop $lists $k $t}
                        {if $k==0}
                        <li class="goods-item goods-item-first">
                            <div class="goods-item-img"><a href="{$t[linkurl]}" target="_blank" title="{$t['title']}"><img class="lazy" src="{DT_PATH}skin/teceskin/image/blank.gif" data-original="{imgurl(str_replace('.thumb.','.middle.',$t[thumb]), 1)}" alt=""></a></div>
                            <div class="goods-item-name"><a href="{$t[linkurl]}" target="_blank" title="{$t['title']}">{$t['title']}</a></div>
                            <div class="goods-item-price">参考报价：
                                {if $price>0}
                                    <span>￥{$t[price]}</span>
                                {else}
                                    <span>￥面议</span>
                                {/if}
                            </div>

                            <div class="goods-item-btn">
                                <!--<a class="btn-primary" href="{$MOUDLE[16]['linkurl']}{$t['linkurl']}">立即询价</a>-->
                                <a class="btn-default" href="{$MOUDLE[16]['linkurl']}{$t['linkurl']}">了解更多</a>
                            </div>
                            <div class="goods-item-company"><a href="{str_replace('www',$t['username'],DT_PATH)}" target="_blank" title="{$t['company']}"><i class="cp-i"></i>{$t['company']}</a></div>
                        </li>
                        {else}
                        <li class="goods-item">
                            <div class="goods-item-img"><a href="{$t[linkurl]}" target="_blank" title="{$t['title']}"><img class="lazy" src="{DT_PATH}skin/teceskin/image/blank.gif" data-original="{imgurl(str_replace('.thumb.','.middle.',$t[thumb]), 1)}" alt=""></a></div>
                            <div class="goods-item-name"><a href="{$t[linkurl]}" target="_blank" title="{$t['title']}">{$t['title']}</a></div>
                            <div class="goods-item-price">参考报价：
                                {if $price>0}
                                    <span>￥{$t[price]}</span>
                                {else}
                                    <span>￥面议</span>
                                {/if}
                            </div>
                        </li>
                        {/if}
                    {/loop}