<div id="navtree">
	<dl class="catlist">
		<dt><span class="cattitle">手术器械</span></dt>
	<dd class="autoheight" style="display: none;">
<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/jichu/" ><p>基础外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/xianwei/" ><p>显微外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/shenjing/" ><p>神经外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/yanke/" ><p>眼科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/erbihou/" ><p>耳鼻喉科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/kouqiang/" ><p>口腔科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/xinxueguan/" ><p>胸腔心血管外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/fubu/" ><p>腹部外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/miniao/" ><p>泌尿肛肠外科手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/fuchan/" ><p>妇产科用手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/jiaoxing/" ><p>矫形外科（骨科）手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/jisheng/" ><p>计划生育手术器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/shaoshang/" ><p>烧伤(整形)科手术器械</p></a></li>
</ul>

	</dd>
</dl>
	<dl class="catlist">
		<dt><span class="cattitle">常规医用试剂/仪器</span></dt>
		<dd class="autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/zhencha/" ><p>普通诊察器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/jianyan/" ><p>临床检验分析仪器</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/huayan/" ><p>医用化验和基础设备器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/xueyi/" ><p>体外循环及血液处理设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/huli/" ><p>病房护理设备及器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/xiaodu/" ><p>消毒和灭菌设备及器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/lengliao/" ><p>医用冷疗、低温、冷藏设备及器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/kqcl/" ><p>口腔科设备及器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/jijiu/" ><p>手术室、急救室、诊疗室设备及器具</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/zhushe/" ><p>注射穿刺器械</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/yixueshiji/" ><p>医学试剂</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">医用高能设备</span></dt>
		<dd class="autoheight" style="display: none;">
<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/chaosheng/" ><p>医用超声仪器及有关设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/jiguang/" ><p>医用激光仪器设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/gaopin/" ><p>医用高频仪器设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/Xshexian/" ><p>医用X射线设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/xfushu/" ><p>医用X射线附属设备及部件</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/gaoneng/" ><p>医用高能射线设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/shexian/" ><p>医用射线防护用品、装置</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/hesu/" ><p>医用核素设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/cigongzhen/" ><p>医用磁共振设备</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">医用材料</span></dt>
		<dd class="autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/kqcl/" ><p>口腔科材料</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/wscl/" ><p>医用卫生材料及敷料</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/fenghe/" ><p>医用缝合材料及粘合剂</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/gaofenzi/" ><p>医用高分子材料及制品</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/zhiru/" ><p>植入材料和人工器官</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">医用光学仪器及内窥镜设备</span></dt>
		<dd class="autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/guangxue/" ><p>医用光学器具、仪器及内窥镜设备</p></a></li>
<li><a href="http://www.xiu17.com/chanpin/dianzi/" ><p>医用电子仪器设备</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">医用软件</span></dt>
		<dd class="autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/ruanjian/" ><p>医用软件</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">介入器材</span></dt>
		<dd class="autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/jieru/" ><p>介入器材</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">物理治疗及康复设备</span></dt>
		<dd class="autoheight" style="display: none;">
				<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/zhiliao/" ><p>物理治疗及康复设备</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">中医器械</span></dt>
		<dd class="autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/zhongyi/" ><p>中医器械</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">实验室用品</span></dt>
		<dd class="autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/238/" ><p>实验室器具/工具/设备/耗材</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">药品/保健品</span></dt>
		<dd class="autoheight" style="display: none;">
			<ul class="applist">
<li><a href="http://www.xiu17.com/chanpin/2005/" ><p>药品/保健品</p></a></li>
</ul>

		</dd>
</dl>
<dl class="catlist">
	<dt><span class="cattitle">其他</span></dt>
		<dd class=" autoheight" style="display: none;">
				<ul class="applist">

<li><a href="http://www.xiu17.com/chanpin/2016/" ><p>其他</p></a></li>
</ul>

		</dd>
</dl>

</div>