{php $sitemenu='mall';$listpage='search';$noleftmenu='yes';$CSS = array('malllist');}
{template 'header'}
<div class="divline"></div>
<div class="ebody">
	<div class="path_s1"><a href="{$MODULE[1][linkurl]}">首页</a> > <a href="{$MOD[linkurl]}">{$MOD[name]}</a> > {cat_pos($CAT, ' > ')} > <strong>{$title}</strong> </div>
	<div class="divline"></div>
	<div class="proinfo6">
		<div class="img6">
				<div class="album">
					<table width="100%" cellpadding="0" cellspacing="0">
					<tr align="center" >
					<td width="250" valign="top" style="padding:5px;border:#CCCCCC 1px solid;background:#F3F3F3;"><div><span id="abm" title="点击查看大图"><img src="{$albums[0]}" onload="if(this.width>240){this.width=240;}" onmouseover="SAlbum(this.src);" onmouseout="HAlbum();" onclick="PAlbum(this);" id="DIMG"/></span></div></td>
					</tr>
					<tr>
					<td>
					{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}</td>
					</tr>
					<tr align="center">
					<td style="border:0px;"><div class="baidushare">{template 'baidu', 'chip'}</div></td>
					</tr>
					</table>
				</div>
		</div>
		<div class="txt6">
        <div id="imgshow" style="display:none;"></div>
			<h1 id="lgoodname">{$title}<font class="f12">【{if $stype==0}整机{elseif $stype==1}配件 {else}耗材 {/if}】</font><div class="hcolor f12  lh16">{$introduce}</div></h1>
			<ul style="zoom:1;">
				<li><p class="left">市 场 价：</p><em>人 气：已有 <span class="f_orange"><span id="hits">{$hits}</span></span>人关注</em> <strong class="prib">{if $groupid==8||$groupid==1}<span class="f16 color b">询价</span>{else}{if $price>0}<b class="rcolor f24">{$price}</b>{else}<span class="f16 color b">面议</span>{/if}{/if}&nbsp;&nbsp;</strong></li>
				<li id="show_activities_price" style="display:none; float:none; clear:both"></li>
				<li><p class="left">顾客评价：</p><em>销 量：<a href="#order" onclick="Mshow('order');">累计出售 <span class="f_orange">{$sales}</span> 件，{$orders} 个订单</a></em><span class="link1"><a href="#comment" onclick="Mshow('comment');">已有 {$comments} 条评价</a></span> </li>
			</ul>
			<ol id="attr">
					<li style="width:98%">品 牌：{if $brand}<a href="{$MOD[linkurl]}search.php?fields=4&kw={urlencode($brand)}" target="_blank">{$brand}</a>{else}未填写{/if}</li>
					<li style="width:49%">所在地：{area_pos($areaid, '')}</li>
                    <li style="width:49%">产品规格：50g</li>
                    <li style="width:49%">库 存：还剩 <span class="f_orange">{$amount}</span> 件</li>
                    <li style="width:49%">更 新：{$editdate}</li>
				<div class="clear"></div>
			</ol>
			<div class="buy6">
				<p class="bdmall">
				{if $status == 3}
					<span style="cursor:pointer;" alt="立即购买" onclick="Go('{$MOD[linkurl]}{rewrite('buy.php?itemid='.$itemid)}');"><img src="{DT_SKIN}image/mall/buy2.gif" width="139" height="41" align="absmiddle"/></span>
					<span style="cursor:pointer;" alt="加入购物车" onclick="AddCart({$itemid});"><img src="{DT_SKIN}image/mall/cart2.gif" width="139" height="41" align="absmiddle" onclick="AddCart({$itemid});Dd('shopcart').className='shopcart';" /></span>
				<div id="cart_tip" style="display:none;">
					<p><img src="{DT_SKIN}image/close.gif" alt="关闭" width="17" height="12" onclick="Dh('cart_tip');"/>提示信息</p>
					<div>已成功添加到购物车！购物车里已有 <span id="cart_num">0</span> 种商品</div>
					<center>
					<input type="button" value="再逛逛" onclick="Dh('cart_tip');"/>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="button" value="去结算" onclick="Go('{$MOD[linkurl]}cart.php');"/>
					</center>
				</div>
				{else}
				<strong class="f_red">该商品已下架</strong>			
				{/if}
				</p>
			</div>
		</div>
		<div class="txt6r">
			<div class="title_h3"><p>店主信息</p></div>
			<div class="contact_mall" id="contact">{template 'contact', 'chip'}</div>
		</div>
		<div class="divline"></div>
	</div>
</div>
<div class="divline"></div>
<div class="ebody">
<div class="divline"></div>
<div class="row6">
	<div class="title_h3"><p>{$catname}推荐同类型的产品</p></div>
    <div class="prolist_s1">
	<!--{php $tags = tag("moduleid=$moduleid&condition=status=3  and catid=$catid and thumb<>''&pagesize=5&order=level desc,hits desc&template=null&debug=0&showcat=1")}-->
                 {loop $tags $k $t}
		<ul>
			<li class="fl w60 h60"><a href="{$t[linkurl]}"><img alt="{$t[alt]}" src="{imgurl($t[thumb], 1)}"  width="60" height="60" align="center"  /></a></li>
			<li class="txt">
				<p class="til"><a href="{$t[linkurl]}">{$t[title]}</a></p>
				<p>已有{$t[comments]}人评论</p>
				<p class="pri">价格：￥{$t[price]}</p>
			</li>
			<div class="clear"></div>
		</ul>
                 {/loop}                    
	</div>        
</div>
<div class="row5">
<a name="detail"></a><a name="comment"></a><a name="order"></a>
	<div class="detail6" id="detail">
			<div class="title_f4">
				<ul class="crz" id="show_menu_li">
					<li class="mall_tab_2" id="t_detail"><a href="#detail" onclick="Mshow('detail');">商品详情</a></li>
					<li class="mall_tab_1" id="t_comment"><a href="#comment" onclick="Mshow('comment');">评价详情({$comments})</a></li>
					<li class="mall_tab_1" id="t_order"><a href="#order" onclick="Mshow('order');">交易记录({$orders})</a></li>
				</ul>
			</div>
			<ul>
			<li style="display:;" id="c_detail">
		{if $CP}{template 'property', 'chip'}{/if}
		<div class="content c_b" id="content">{$content}</div>
			</li>
			<li style="display:none;" id="c_comment">
		<center>正在载入评论详细...</center>
			</li>
			<li style="display:none;" id="c_order">
		<center>正在载入交易记录...</center>
			</li>
	</div>
	<form method="post" action="{$MODULE[2][linkurl]}sendmail.php" name="sendmail" id="sendmail" target="_blank">
	<input type="hidden" name="itemid" value="{$itemid}"/> 
	<input type="hidden" name="title" value="{$title}"/>
	<input type="hidden" name="linkurl" value="{$linkurl}"/>
	</form>
	<br/>
	<center>

	[ <a href="{$MOD[linkurl]}search.php">商品搜索</a> ]&nbsp;
	[ <script type="text/javascript">addFav('加入收藏');</script> ]&nbsp;
	[ <a href="javascript:Dd('sendmail').submit();void(0);">告诉好友</a> ]&nbsp;
	[ <a href="javascript:Print();">打印本文</a> ]&nbsp;
	[ <a href="javascript:window.close()">关闭窗口</a> ]
	</center>
</div>
<div class="divline"></div>
</div>
{template 'zoom', 'chip'}
<script type="text/javascript">
function AddCart(i) {
	makeRequest('action=ajax&itemid='+i, '{$MOD[linkurl]}cart.php', '_AddCart');
}
function _AddCart() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		if(xmlHttp.responseText == -3) {alert('商品不存在或已下架');return;}
		if(xmlHttp.responseText == -4) {alert('不能添加自己的商品');return;}
		var cart_num = substr_count(get_cookie('cart'), ',');
		Dd('cart_num').innerHTML = cart_num;
		if(cart_num) Dd('destoon_cart').innerHTML = '<strong class="f_red">'+cart_num+'</strong>';
		Ds('cart_tip');
	}
}
var c_c = Dd('c_comment').innerHTML;
var c_o = Dd('c_order').innerHTML;
var n_c = {$comments};
var n_o = {$orders};
function Mshow(i) {
	if(i == 'detail') {
		Dd('t_detail').className = 'mall_tab_2';
		Dd('t_comment').className = 'mall_tab_1';
		Dd('t_order').className = 'mall_tab_1';
		Ds('c_detail');
		Dh('c_comment');
		Dh('c_order');
	} else if(i == 'comment') {
		Dd('t_detail').className = 'mall_tab_1';
		Dd('t_comment').className = 'mall_tab_2';
		Dd('t_order').className = 'mall_tab_1';
		Dh('c_detail');
		Ds('c_comment');
		Dh('c_order');
		load_comment(0);
	} else if(i == 'order') {
		Dd('t_detail').className = 'mall_tab_1';
		Dd('t_comment').className = 'mall_tab_1';
		Dd('t_order').className = 'mall_tab_2';
		Dh('c_detail');
		Dh('c_comment');
		Ds('c_order');
		load_order(0);
	}
}
function load_comment(p) {
	if(n_c == 0) {
		Dd('c_comment').innerHTML = '<div class="comment_no">暂无评论</div>';
		return;
	}
	if(p == 0 && Dd('c_comment').innerHTML != c_c) return;
	makeRequest('action=comment&itemid={$itemid}&page='+p, '{$MOD[linkurl]}api.php', '_load_comment');
}
function _load_comment() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		Dd('c_comment').innerHTML= xmlHttp.responseText;
	}
}
function load_order(p) {
	if(n_o == 0) {
		Dd('c_order').innerHTML = '<div class="order_no">暂无交易</div>';
		return;
	}
	if(p == 0 && Dd('c_order').innerHTML != c_o) return;
	makeRequest('action=order&itemid={$itemid}&page='+p, '{$MOD[linkurl]}api.php', '_load_order');

}
function _load_order() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		Dd('c_order').innerHTML= xmlHttp.responseText;
	}
}
/* var url = window.location.href; */
if(window.location.href.indexOf('#') != -1) {
	var t = window.location.href.split('#');
	try {Mshow(t[1]);} catch(e) {}
}
</script>
{template 'footer'}