{php $sitemenu='mall';$mlogo='mall.gif';$listpage='search';$noleftmenu='yes';}
{template 'header'}
<style type="text/css">
	.webmenulist{width:750px;}
</style>
{template 'lay','tag'}
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
{php $com=getsqldata("thumb,linkurl,company","{$db->pre}company","username='$username'",1,0);}

<script type="text/javascript">
if(screen.width>1210){
Dd('moremall').style.display='block';
}
</script>

{if $level}<div class="level p_ab"><i>{$level}</i></div>{/if}


<div class="whitebg pd10 autoheight grayb">
  {if $groupid=='1'}
   <div class="validate"><img src="{DT_SKIN}image/tc.gif"></div> 
  {elseif $groupid=='7'||$groupid=='8'}
   <div class="validate"><img src="{DT_SKIN}image/mall/tc.gif"></div> 
  {/if}
<table width="100%" class=" f14">
			<tr>
			<td width="450" align="center" valign="top"  style="border:0px;">
					<table  cellpadding="0" cellspacing="0">
					<tr>
					<td  valign="top"  style="border:0px;">
					<div id="mid_pos"></div><style type="text/css">
					#mid_div{height:345px;}	
					#mid_pic{border:1px solid #e8e8e8}
					</style>
				<div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();" onclick="PAlbum(Dd('mid_pic'));">
				<img src="{$albums[0]}" width="445" height="345" id="mid_pic"/><span id="zoomer"></span>
				</div>
					</td>
					</tr>
					<tr>
					<td style="border:0px;"  align="center">
					<div class="fl" style="width:28px;line-height:">
{php $lists = tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&pagesize=1&order=addtime desc&template=null", -1);}
{loop $lists $k $v}
<a href="{$v[linkurl]}" title="上一个产品：{$v[title]}" style="float:left"><img src="{DT_SKIN}image/mall/s.gif" ></a>
{/loop}
</div>

<div class="fl tc" style="width:395px;">{loop $thumbs $k $v}<img src="{$v}" width="85" height="80" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}</div>

<div class="fl" style="width:28px;">
{php $lists = tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&pagesize=1&order=addtime asc&template=null", -1);}
{loop $lists $k $v}
<a href="{$v[linkurl]}" title="下一个产品：{$v[title]}" style="float:left"><img src="{DT_SKIN}image/mall/x.gif" ></a>
{/loop}
</div>	
					</td>
					</tr>
					<tr>
					<td  align="left"  style="border:0px;"><div class="baidushare">{template 'baidu', 'chip'}</div></td>
					</tr>
					</table>
					</td>
			<td valign="top"  style="border:0px;">
			<div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
				<div id="imgshow" style="display:none;"></div>
				<table width="100%" cellpadding="3" cellspacing="1">		

				<tr>
				<td colspan=2 style="border:0px;" height=50><div class="f20 color"><font class="f12"><h1>{$title}</h1></font><font class="f12">【{if $stype==0}整机{elseif $stype==1}配件 {else}耗材 {/if}】</font></div><div class="hcolor f12  lh16">{$introduce}</div></td>
				</tr>
				<tr>
				<td class="rcolor tc"  height=35  width="80px;">商品品牌</td>
				<td>{$brand}</td>
				</tr>
				<tr>
				<td class="rcolor tc" height=35  width="80px;">产品型号</td>
				<td>{$model}</td>
				</tr>
				<tr>
				<td class="rcolor tc" height=35  width="80px;">产品规格</td>
				<td>{$standard}</td>
				</tr>
				<tr>
				<td class="rcolor tc" height=35  width="80px;">产品分类</td>
				<td>进口产品</td>
				</tr>
				<tr>
				<td class="rcolor tc" height=35  width="80px;">关 注</td>
				<td>已有<span class="color"><span id="hits" class='f14 ocolor'>{$hits}</span></span> 次关注</td>
				</tr>
				<tr>
				<td class="rcolor tc" height=35  width="80px;">推荐科室</td>
				<td></td>
				</tr>
			  </table>
				</td>
			</tr>
		</table>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>

</div>
<div class="divline"></div>
<div class="whitebg autoheight pd5">
<div class="fl w260 graybg"style="border: 1px solid #DdDDDD;">
	<dd class="pd10 pt10 tc f16">推荐同类产品</dd>
<ul>
{php $tagt = tag("moduleid=$moduleid&condition=expcate=1&pagesize=8&order=level desc,hits desc&template=null&debug=0&showcat=1")}			
		  {loop $tagt $z $t}															
			<li class="f12 h150 tc cut "><a href="{$t[linkurl]}" title="{$t[alt]}"><img src='{$t[thumb]}' alt='{$t[alt]}' width="150" height="90" align="center" class="grayb pd2 whitebg"><br/>{$t[alt]}</a></li>
			{/loop}
</ul>
</div>
<div class="contentleft autoheight ml10  whitebg pd5"> 
<dl class="dllist">
<dd>
</dd>
<dt style="height:28px;border-color:#ddd">
<style type="text/css">
	#contents li{float:left;font-size:16px;padding:3px 8px 2px 8px;}
 .bluey{color:#ad3d16;border-bottom:1px solid #ad3d16;background:#ffeed9}
 .bluen{border-bottom:2px solid #919191;}
 .bluey a{color:#ad3d16;}
 .bluen a{color:#636363; font-size:14px;font-weight:normal;}
</style>
<ul id='contents' class="pl5">
<li class="bluey" id="t_detail"><a href="#detail" onclick="Mshow('detail');" rel="nofollow">详细内容介绍</a></li>
</ul>
</dt>
<dd class='pd10 content' id="content">
{$content}
</dd>
<dd style="background-color:#CCCCCC">以上信息<strong>{$title}</strong>为<strong>{$factory}</strong>相关负责发布，如需了解{$title}价格、型号、图片、售后等信息请联系厂家</dd>
{template 'comment', 'chip'}
</dd>
</dl>
</div>

<br class="clear">
</div>
 
<div class="divline"></div>	



{template 'footer'}