{template 'header'}
{php $ztitle="注册成功";}
{template 'lay','tag'}
<style type="text/css">
.f_red{color:red}
.h360{height:170px;}
.yesbg {background:url('image/yesbg.jpg') left bottom no-repeat;overflow:hidden;height:350px;width:980px;}
.yesok{margin:auto;height:80px;text-align:center;}.yesok img{position: relative;}
.logins{border:solid 1px #efefef;}.logins td{height:30px;}
.email{margin:auto;margin-top:10px;;padding:10px 15px 10px 15px;font-size:12px;color:#ff9900}
.email b{font-size:14px;color:#ff6600;position: relative;}.email p{margin-bottom:5px;margin-top:5px;padding-top:5px;position: relative;  }.email strong{color:red}
.reg_inp,#username,#password {border:#bebebe 1px solid;padding:2px;color:#8a8a8a}
.askinfo{margin:auto;margin-top:10px;;padding:10px 15px 10px 15px;font-size:12px;color:#65645f}
.askinfo b{font-size:14px;color:#7e8081;position: relative;}.askinfo p{margin-bottom:5px;margin-top:5px;padding-top:5px;position: relative;  }
.botton{background:url('{DT_SKIN}image/orangebg.jpg');line-height:16px;padding:5px 10px 5px 10px;border:#ffcc66 1px solid;font-size:14px;color:#cc2400;letter-spacing:3px;font-weight:bold;width:150px;}
</style>

<div class="autoheight grayb nt pt10" >
<div class="yesbg">
<table width=710  cellpadding="2" cellspacing="5"  align="center" >
<tr>
	<td ><div class="yesok"><img src="image/regok.gif"></div></td>
	<td ><div class="email" style="display:none">
	<p><b>下一步，进入注册邮箱进行激活账号！</b></p>
	<p>已经有一封验证邮件已经发送至您的电子邮箱 <strong>{$email}</strong>,请注意查收！</p>
	<p><input type="text" size="42" id="url" value="{$url}" class="reg_inp"/></p>
<p><a href="javascript:void(0)"><img src="image/jihuo.jpg" onclick="go_to();" align="absmiddle"  title="转到"/></a></p>
	</div></td>
</tr>
<tr>
	<td colspan="2" align="left">
		{if $action}
	
<div class="askinfo">
	<p><b>没有收到邮件？</b></p>
	<p>● 尝试到广告邮件和垃圾邮件里找找看(被误屏蔽)</p>
	<p>● 将 <span class="f_gray">{$DT[mail_sender]}</span> 加入您的邮件白名单，然后重试</p>
	{if $action=='register'}
	<p>● <a href="send.php?action=check" class="ocolor">再次发送验证邮件</a></p>
	{/if}
	{/if}
</div>
	</td>
</tr>
</table>
	</div>
</div>
<script type="text/javascript">
function go_to() {
	if(Dd('url').value.indexOf('://') == -1 || Dd('url').value.length < 12) {
		alert('请填写正确的URL');
		return false;
	}
	Go(Dd('url').value);
}
</script>
{template 'footer'}