{template 'header'}
</div>
</div>
<style type="text/css">
.webmenulist{width:750px;}
.youcan{width:114px;}
.loginbg{height:500px;border-bottom:4px solid #fff;position:relative;;z-index:1;margin-top:-22px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
.loginbg{margin-top:-5px;}}
.login{margin-top:30px;border:1px solid #e0e0e0;border-right-width:3px;border-bottom-width:3px;}
.transparent dt,.transparent dd,.transparent input,.transparent a{position:relative;}
.tips {position:absolute;z-index:1000;width:300px;background:url('image/tips_bg.gif') no-repeat 0 bottom;overflow:hidden;margin:-5px 0 0 -10px;}
.tips div{background:url('image/tips_top.gif') no-repeat;line-height:22px;padding:8px 10px 8px 35px;color:#222}
.botton{background:url('{DT_SKIN}image/orangebg.jpg');line-height:16px;padding:5px 10px 5px 10px;border:#ffcc66 1px solid;font-size:14px;color:#cc2400;letter-spacing:3px;font-weight:bold;width:150px;}
#password,#username{padding:5px;border:1px solid #ddd;}
#username{width:180px;}
</style>
<script type="text/javascript">
Dd('youcan').innerHTML="<a href=\"{DT_PATH}\" class='wcolor h4'>天成网首页</a>";
</script>


<div style="background:url('{DT_SKIN}image/login/login1.jpg') top center repeat-x;" class="loginbg">
<div class="webw" >
		<dl class="autoheight dllist fl w300  pd10 transparent login">
		<dt class="f16 ocolor"><select  onchange="Dd('form2').action='{$MODULE[1][url]}chanpinvip';" class="pd5 f16 ocolor b noborder">
					<option value="" selected>天成会员中心
					<option value="1">产品服务中心
				</select></dt>
		<dd class="pd5 w280">
		<table cellpadding="4" cellspacing="2">

		<form method="post" action="{$DT[file_login]}"  onsubmit="return Dcheck();">
		<tr onmouseover="Ds('tusername');" onmouseout="Dh('tusername');">
		<td align="right" width="80">
		<select name="option" onchange="if(this.value=='child'){dakai('gzh');dakai('zzh');}else{dakai('forward');guanbi('gzh');guanbi('zzh');}">
			<option value="username">用户名</option>
			{if $MOD[passport]}<option value="passport">通行证</option>{/if}
			<option value="email">Email</option>
			<option value="mobile">手机号</option>
			<option value="company">公司名</option>
			<option value="userid">会员ID</option>
			<option value="child">子账号</option>
		</select><input name="forward" type="hidden" id="forward" value="{$forward}">
		</td>
		<td><span style="display:none" id="gzh">公账号：</span><input name="username" type="text" id="username" value="{$username}"/>
		<div style="display:none" id="zzh">子账号：<input name="childusername" type="text" id="childusername" value=""/></div>
		</td>
		<td>
			<div class="tips" id="tusername" style="display:none;">
				<div>如果忘记了用户名，请在左侧选择其他登录名称<br/>例如Email、手机号、公司名等</div>
			</div>
		</td>
		</tr>
		<tr onmouseover="Ds('tpassword');" onmouseout="Dh('tpassword');">
		<td align="right" class='f16'>密 码</td>
		<td>{template 'password', 'chip'}</td>
		<td>
			<div class="tips" id="tpassword" style="display:none;">
				<div>如果忘记了密码，请&nbsp;&nbsp;<a href="send.php" class="b rcolor">点击这里</a>&nbsp;&nbsp;找回</div>
			</div>
		</td>
		</tr>
		{if $MOD[captcha_login]}
		<tr>
		<td align="right">验证码：</td>
		<td>{template 'captcha', 'chip'}</td>
		<td></td>
		</tr>
		{/if}
		<tr onmouseover="Ds('tpassword');" onmouseout="Dh('tpassword');">
		<td align="right" class='f16'>面 板</td>
		<td><select  onchange="if(this.value){Dd('form2').action='/'+this.value+'/{$DT[file_login]}';Dd('goto').checked=true;}" class="pd5 f14 grayb" name="memberpath">
					<option value="member" {if $_COOKIE['memberpath']=='member'}selected{/if}>会员服务中心
					<option value="chanpinvip" {if $_COOKIE['memberpath']=='chanpinvip'}selected{/if}>产品服务中心
			</select></td>
		<td>
			
		</td>
		</tr>
		<tr>
		<td colspan="2" align="center" class='f14'><span title="选中后 一月内不用再次登录 网吧或公共计算机请勿选"><input type="checkbox" name="cookietime" value="2592000" id="cookietime"{if $MOD[login_remember]} checked{/if}/><label for="cookietime">记住我</label></span>
		<span title="选中后 将直接进入会员管理中心 不返回登录前的页面"><input type="checkbox" name="goto" value="1" id="goto"{if $MOD[login_goto]} checked{/if}/><label for="goto">进入会员中心</label></span>
		</td>
		<td></td>
		</tr>
		<tr>
		<td align="right"><a href="{$DT[file_register]}" class="suba lenstr tc w40">注册</a></td><td align="left">&nbsp;<input type="submit" name="submit" value=" 确 定 登 录 " class="subm"/></td>
		</tr>
		</form>
		</table>
		</dd>
		{if $oa}<dt class="f16 ocolor">其他登录方式</dt><dd class="pd5">{loop $OAUTH $k $v}
		
		{if $v[enable]}<a href="{DT_PATH}api/oauth/{$k}/connect.php" title="{$v[name]}" class='f18 ml10'><img src="{DT_PATH}api/oauth/{$k}/ico.png" alt="{$v[name]}" class='mid'/>&nbsp;{$v[name]}</a>&nbsp;{/if}{/loop}</dd>{/if}
		<dt class="f16 ocolor">如何加入天成医疗？</dt>
		<dd class="pd5">
			<ul class="ullist">
			  <li><a href="send.php" class="f14">· 忘记了密码？请点这里找回</a></li>
			  <li><a href="send.php?action=check" class="f14">· 请未收到验证信？点这里重发</a></li>
			</ul>
		</dd>
        </dl>
<script type="text/javascript">
if(Dd('username').value == '') {
	Dd('username').focus();
} else {
	Dd('password').focus();
}
function Dcheck() {
	if(Dd('username').value == '') {
		confirm('请输入登录名称');
		Dd('username').focus();
		return false;
	}
	if(Dd('password').value == '') {
		confirm('请输入密码');
		Dd('password').focus();
		return false;
	}
{if $MOD[captcha_login]}
	if(!is_captcha(Dd('captcha').value)) {
		confirm('请填写验证码');
		Dd('captcha').focus();
		return false;
	}
{/if}
}
</script>
{template 'footer'}