{php $sitemenu='know';$listpage='search';}
{php $footer_js = [DT_PATH.'file/script/internalLink.js']}
{template 'module-header'}</div></div>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/know.css?v20161208"/>
<style>
#topkeyword{width:310px;height:22px;line-height:22px}
#full-screen-slider{position:relative;top:0}
.tc-footer{margin-top:20px}
.tc-footer .copyright{width: 100%;}
img{display: inline;}
</style>
<style type="text/css">
	#webbodycontent{display:none}
	.contentleft{width:713px;}
</style>
<div class="autoheight" style="background: url('{DT_SKIN}/image/know/bg.png');">
<div class="webw">{template 'lay','tag'}
<div class="grayb graybg autoheight">
<div class="contentleft whitebg">
	<div >
	<Div class="h100">
		<div class="fl w100">
		<script type="text/javascript">
		{if $hidden}
		document.writeln("<img src=\"{useravatar($addtime, 'large')}\" width=\"80\" class=\"smallpic grayb mid mg10\"/>");
		{else}
		document.writeln("<img src=\"{useravatar($username, 'large')}\" width=\"80\" class=\"smallpic grayb mid mg10\"/>");
		{/if}
		</script>

		
		</div><div class="fl  w610"><p class="mt5"><Span class="mr10 fr">{ip2area($ip)}&nbsp;{$ip}</span> {$editor} 


		发布于 {timetodate($edittime, 3)}</p><h1 class="title tl">{$title}</h1></div>
   </div>



		<div class="info">
		<span class="fr f12">
		<table class="f12" style="margin-top:-5px;">
      <tr>
		<td >转载到</td>
		<td width="180">{template 'baidu', 'chip'}</td>
		<td ><img src="{DT_SKIN}image/know_{$process}.gif" align="absmiddle"/> {$PROCESS[$process]}</td>
      </tr>
      </table></span>
		<img src="{DT_SKIN}image/know/coins.gif" align="absmiddle"/> <span class="ocolor f14 b">悬赏分：{$credit}</span> -
		<span class="color">
		{if $process == 1 || $process == 2}
		离问题结束还有 {secondstodate($totime-$DT_TIME)}
		{elseif $process == 3}
		解决时间{if $updatetime} {timetodate($updatetime, 5)}{/if}
		{else}
		提问时间 {timetodate($addtime, 5)}
		{/if}
		</span>
		</div>
		{if $CP}{template 'property', 'chip'}{/if}
		<div id="question" class="content" >

		{if $thumb}<div class="tc"><img src="{$thumb}" align="center"></div>{/if}
		{$content}
		{if $addition}
					<div class="divline"></div>
		<div class="xline  pd5 gcolor graybg  mb10">
		<strong>补充说明：</strong><br/>
		{nl2br($addition)}
		</div>
		{/if}
		</div>

<div class="graybg mg10">
<table>
<tr>
	<td valign="top">
	<dl style="width:345px;" class="cut"><dt class="f16 b gcolor ">TA发布的更多问题</dt>
	<dd style="line-height:24px;">
		<!--{tag("	moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=5&order=itemid desc&debug=0", -2)}-->
	</dd>
	</dl>
	</td>
	<td valign="top">
	<dl  style="width:345px;" class="cut"><dt class="f16 b gcolor ">等待您来回答</dt>
	<dd style="line-height:24px;">
		<!--{tag("moduleid=$moduleid&condition=status=3 and process=1&catid=$catid&areaid=$cityid&order=addtime desc&pagesize=5", -2)}-->
	</dd>
	</dl>
	</td>
</tr>
</table>
</div>
			

		<div class="tc graybg pd5">
			<span class=" f16 b" id="tzan">
			<span id="v_msg"></span>&nbsp;
			<a href="javascript:void(0)" onclick="V(1, {$agree});" class="ocolor"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoz mid">赞一个</a><span class="f14 ocolor">(<span id="v_{$itemid}_1">{$agree}</span>)</span>&nbsp; | &nbsp;
			<a href="javascript:void(0)" onclick="V(0, {$against});" class="bcolor"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoc mid">踩一个</a><span class="f14 bcolor">(<span id="v_{$itemid}_0">{$against}</span>)</span>
{if !$could_vote || $could_admin}	&nbsp; | &nbsp;<a href="answer.php?itemid={$itemid}&action=vote_show"  target="destoon_answer"class="color"/><img src="{DT_SKIN}image/blank.gif" width="20" class="icod mid">所有结果</a>&nbsp;	{/if}
			{if in_array($moduleid, explode(',', $EXT[comment_module]))}
			&nbsp; | &nbsp;<span><a href="#tjs" class="gcolor f16"><img src="{DT_SKIN}image/blank.gif" width="20" class="icoh mid">对此我要说两句</a></span>
			{/if}
			</span>
		</div>

{if $aid && $best}
<div >
<div class="pd10">
	<div class="orangeb yellowbg pd10">
	<div class="f18 ti10 ocolor">最佳答案产生 共获得({$best[vote]})个票</div>
	<table width="100%" class="whitebg">
	<tr>
	<td valign="top" class="w100 graybg tc">
	<ul>
	{if $E}
		<li>
		<script type="text/javascript">
		document.writeln("<img src=\"{useravatar($E[username], 'large')}\" alt=\"\" width=\"78\" height=\"78\" class=\"grayb smallpic\"/>");
		</script></li>
		<li><a href="{$MOD[linkurl]}{rewrite('expert.php?itemid='.$E['itemid'])}" target="_blank" class="b"><strong>{$E[title]}</strong></a></li>
		{if $DT[im_web]}<li>{im_web($E[username], 1)}</li>{/if}
		<li class="f_red">知道专家</li>
		<li title="擅长领域：{$E[major]}"><a href="{$MODULE[2][linkurl]}{$DT[file_my]}?mid=10&action=add&askto={$E[username]}" target="_blank" class="b">向TA提问</a></li>
	{else}
		{if $best[hidden]}
		<li>
		<script type="text/javascript">
			document.writeln("<img src=\"{useravatar('', 'large')}\" alt=\"\" width=\"78\" height=\"78\" class=\"grayb smallpic\"/>");
		</script>
		</li>
		<li><strong>匿名</strong></li>
		{else}
		<li>
			<script type="text/javascript">
				document.writeln("<img src=\"{useravatar($best[username], 'large')}\" alt=\"\" width=\"78\" height=\"78\" class=\"grayb smallpic\"/>");
			</script>
		</li>
		<li>
			{if $best[username]}
			<a href="{$MOD[linkurl]}{rewrite('search.php?username='.$best['username'])}" rel="nofollow"><strong>{$best[username]}</strong></a>
			{else}
			<strong title="{hide_ip($best[ip])}">{ip2area($best[ip])}访客</strong>
			{/if}
		</li>
		{/if}
	{/if}
	<li></li>
	</ul>
	</td>
	<td valign="top">
	{if $content}<script type="text/javascript" src="{DT_STATIC}file/script/content.js"></script>{/if}
		<div id="content" class="content tl"  style="padding:0px;">
		{template 'content', 'chip'}
		
		
		</div><div><span class="fr mr5">{timetodate($t[addtime], 5)}</span>{ip2area($best[ip])} {$best[ip]}</div>
		{if $comment}
		<div class="know_comment">
		<strong>提问者对答案的评价：</strong><br/>
		{nl2br($comment)}
		</div>
		{/if}
	</td>
	</tr>
	</table>
	</div>
	</div>

		</div>
<script style="text/javascript">
var v_op = 1;
var v_nm = 0;
function V(op, nm) {
	v_op = op;
	v_nm = nm;
	if(get_cookie('best_answer_{$itemid}')) {
		Inner('v_msg', '您已经对该话题表过态了');
		return;
	}
	makeRequest('action=best&itemid={$itemid}&op='+op, '{$MOD[linkurl]}answer.php', '_V');
}
function _V() {
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {
		if(xmlHttp.responseText == -1) {
			Inner('v_msg', '您已经对该话题表过态了');
		} else if (xmlHttp.responseText == 0) {
			Inner('v_msg', '参数错误，如有疑问请联系管理员');
		} else if (xmlHttp.responseText == 1) {
			if(v_op == 1) {
				Inner('v_{$itemid}_1', ++v_nm);
			} else {
				Inner('v_{$itemid}_0', ++v_nm);
			}
			Inner('v_msg', '感谢参与');
		}
	}
}
</script>
		{/if}
		<script type="text/javascript">show_answer({$itemid});</script>
		<a name="answer"></a>
		<br/>
	</div>
</div>






<div class="contentright graybg pd10">
<style type="text/css">
	.contentright dt{border-bottom:2px solid #339900;padding-bottom:5px;}
</style>
<dl >
		<dt class="f16 b gcolor">· 问答中心搜索</dt>
		<dd class="autoheight pt5">
			<div class="know_sch">
				<form action="{$MODULE[2][linkurl]}{$DT[file_my]}" id="ask_form">
				<input type="hidden" name="mid" value="{$moduleid}"/>
				<input type="hidden" name="cid" value="{$catid}"/>
				<input type="hidden" name="action" value="add"/>
				<input type="hidden" name="kw" value="" id="ask_kw"/>
				</form>
				<form action="{$MOD[linkurl]}search.php" onsubmit="return know_sch_check();">
				<input type="hidden" name="typeid" value="99" id="know_typeid"/>
				<input type="text" name="kw" id="know_kw" value="请输入问题"  style="width:260px;" onfocus="if(this.value=='请输入问题')this.value='';"/>
				<div class="know_sch_btn">
				<input type="submit" value="搜索答案" class="know_btn_1 rad" onclick="Dd('know_typeid').value=99;"/>
				<input type="submit" value="我要回答" class="know_btn_2 rad" onclick="Dd('know_typeid').value=3;"/>
				<input type="button" value="我要提问" class="know_btn_2 rad" onclick="if(know_sch_check()){Dd('ask_kw').value=Dd('know_kw').value;Dd('ask_form').submit();}"/>
				</div>
				</form>
				<script type="text/javascript">
					function know_sch_check() {
						if(Dd('know_kw').value == '请输入问题' || Dd('know_kw').value.length < 1) {
							alert('请输入问题');
							Dd('know_kw').focus();
							return false;
						}
						return true;
					}
				</script>		
		</div>
     </dd>
</dl>

<dl>
			<dt class="b f16 gcolor">· 相关{$MOD[name]}信息</dt>
			<dd class="autoheight">
			<ul>
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and process=3&catid=$catid&areaid=$cityid&template=null&order=updatetime desc&pagesize=10")}
													{loop $tagt $z $t}
													<li class="pt5 pb5"><span class="fr">回({$t[answer]})</span><span class=" lenstr w220 f14"><a class="color" href="{$t[linkurl]}" target='_blank'>· {$t[title]}</a></span></li>
													{/loop}
													{if $z>8}<li class="pt5 pb5 fr"><a href="{$MODULE[$moduleid][linkurl]}{rewrite('search.php?username='.$t['username'])}" class="pl10 f14 b gcolor">更多..</a></li>{/if}
													
            </ul>
			</dd>
			</dl>
			<div class="divline"></div>
<div class='tc  grayb whitebg' style="height:240px;">{ad(145)}</div>
<div class="divline"></div>

</div>
<div class="divline "></div>
</div>
{template 'zoom', 'chip'}
</div>
{$iLink}
{template 'footer2017'}