<table cellpadding="3" cellspacing="0">
	<form action="{$MOD[linkurl]}search.php">	
				<tr>
				<td width=240 align='left'>
				<input type="hidden" name="typeid" value="{$typeid}"><input type="hidden" name="catid" value="{$catid}">
				&nbsp;&nbsp;<input type="checkbox" name="thumb" id="thumb" {if $thumb==0}onclick="Go(sh+'&thumb=1');" {else}onclick="Go(sh+'&thumb=0');"checked{/if}/>图片
			<input type="checkbox" name="vip" id="vip" {if $vip==0}onclick="Go(sh+'&vip=1');" {else}onclick="Go(sh+'&vip=0');"checked{/if}/>{VIP}
				</td>
				<td width=420 align='right'>
			<select onchange="Go(sh+'&day='+this.value)">
			<option value="0"{if $day==0}selected{/if} >更新时间</option>
			<option value="1"{if $day==1}selected{/if}>1天内</option>
			<option value="3"{if $day==3}selected{/if}>3天内</option>
			<option value="7"{if $day==7}selected{/if}>7天内</option>
			<option value="15"{if $day==15}selected{/if}>15天内</option>
			<option value="30"{if $day==30}selected{/if}>30天内</option>
			</select>
				<select onchange="Go(sh+'&order='+this.value)">
			<option value="0" {if $orderv==0}selected{/if}>显示顺序</option>
			<option value="1" {if $orderv==1}selected{/if}>按相似度排序</option>
			<option value="2" {if $orderv==2}selected{/if}>添加从新到老</option>
			<option value="3" {if $orderv==3}selected{/if}>更新从新到老</option>
			<option value="4" {if $orderv==4}selected{/if}>推荐从高到低</option>
			</select>&nbsp;				
			<select name="areaid">
			{php $mainarea = tag("table=area&fields=areaid,areaname&condition=parentid=0&pagesize=34&template=null&debug=0")}	
			<option value="" {if $areaid==''}selected{/if}>选择地区</option>
			{loop $mainarea $k $v}
				<option value="{$v[areaid]}" {if $areaid}{if $areaid==$v[areaid]}selected{/if}{/if}>{$v[areaname]}</option>
            {/loop}
			</select>		
	

	</td>
	<td width=80>
	<input type="submit" value="立刻筛选" class="submit">
	</td>
		  </tr>
				</form> </table>
			
