					<div class="bid-list-item">
                        <h2 class="bid-list-item-title text-overflow"><a href="{$MODULE[6]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></h2>
                        <div class="bid-list-item-info">
                        <span class="bid-list-item-type">
                            <i class="zb-i zb-i-type"></i>
                            <a href="{$MODULE[6]['linkurl']}{buy_rewrite(['catid'=>$v['catid']])}" target="_blank" title="{$CAT[$v['catid']]}医疗器械招标采购">{$CAT[$v['catid']]}</a>
                        </span>
                            <span class="bid-list-item-line">/</span>
                        <span class="bid-list-item-area">
                            <i class="zb-i zb-i-area"></i>
                            <a href="{$MODULE[6]['linkurl']}{buy_rewrite(['areaid'=>$v['areaid']])}" target="_blank" title="{area_pos($v['areaid'],'')}医疗器械招标采购">{area_pos($v['areaid'],'/')}</a>
                        </span>
                            <span class="bid-list-item-line">/</span>
                        <span class="bid-list-item-time">
                            <i class="zb-i zb-i-time"></i>
                            <em>{date('Y-m-d',$v['addtime'])}</em>
                        </span>
                            <span class="bid-list-item-line">/</span>
                        <span class="bid-list-item-see">
                            <i class="zb-i zb-i-see"></i>
                            <em>{$v['hits']}</em>
                        </span>
                        </div>
                    </div>