
<table width="100%" cellpadding="5" cellspacing="1" class='table'>
				<tr>
				<td   class='tableth'>信息分类：</td>
				<td  width="250"> {strip_tags(cat_pos(get_cat($catid), '/'))}</td>
				<td   class='tableth'>所在地区：</td>
				<td>{area_pos($areaid, '')}</td>
				</tr>
				<tr>
				<td  class='tableth'>招标对象：</td>
				<td  class="b rcolor">{if $supplyuser==''||$supplyuser=='0'}<span>本站所有认证企业会员</span>{else}指定企业会员{/if}</td>
				<td   class='tableth' width="70">关注次数：</td>
				<td >{$hits}℃</td>	
				</tr>
				<tr>
				<td  class='tableth'>价格要求：</td>
				<td >{if $price}<span >{$price}</span>{else}无{/if}</td>
				<td  class='tableth'>包装要求：</td>
				<td >{if $pack}<span>{$pack}</span>{else}无{/if}</td>
				</tr>
				<tr>
				<td   class='tableth'>需求数量：</td>
				<td >{if $amount}<span >{$amount}</span>{else}未填{/if}</td>
				{if $n1}<td   class='tableth'>{$n1}：</td>
				<td >{$v1}</td>{/if}
				</tr>
				<tr>	
				{if $n2}<td  class='tableth'>{$n2}：</td>
				<td >{$v2}</td>{/if}
				{if $n3}<td  class='tableth'>{$n3}：</td>
				<td >{$v3}</td>{/if}
				</tr>
</table>
<div class="divline"></div>
<div class="divline"></div>
<div class="divline"></div>