<table width="100%" class="table">
			<tr>
			<td width="300" align="center" valign="top"  style="border:0px;">
					<table  cellpadding="0" cellspacing="0">
					<tr>
					<td  valign="top"  style="border:0px;">
					<div id="mid_pos"></div>
				<div id="mid_div" onmouseover="SAlbum();" onmouseout="HAlbum();" onclick="PAlbum(Dd('mid_pic'));">
				<img src="{$albums[0]}" width="240" height="180" id="mid_pic"/><span id="zoomer"></span>
				</div>
					</td>
					</tr>
					<tr>
					<td style="border:0px;"  align="left">
					{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}
					
					</td>
					</tr>
					<tr align="center">
					<td height="30" onclick="PAlbum(Dd('DIMG'));"  style="border:0px;"><img src="{DT_SKIN}image/ico_zoom.gif" width="16" height="16" align="absmiddle"/> 点击图片查看原图</td>
					</tr>
					</table>
					</td>
			<td valign="top"  style="border:0px;">
			<div id="big_div" style="display:none;"><img src="" id="big_pic"/></div>
				<div id="imgshow" style="display:none;"></div>
				<style type="text/css">
					.table td{height:18px;}
				</style>
				<table width="100%" cellpadding="5" cellspacing="3">			
				<tr>
				<td  class='tableth'>招标对象：</td>
				<td  class="b rcolor">{if $supplyuser==''||$supplyuser=='0'}<span>本站所有认证企业会员</span>{else}指定企业会员{/if}</td>
				</tr>
				<tr>
				<td   class='tableth'>所在地：</td>
				<td>{area_pos($areaid, '')}</td>
				</tr>
				<tr>
				<td  width="70"  class='tableth'>关注次数：</td>
				<td>{$hits}℃</td>
				</tr>
				<tr>
				<td   class='tableth'>需求数量：</td>
				<td >{if $amount}{$amount}{else}无{/if}</td>
				</tr>
				<tr>
				<td   class='tableth'>价格要求：</td>
				<td>{if $price}{$price}{else}无{/if}</td>
				</tr>
				<tr>
				<td   class='tableth'>包装要求：</td>
				<td >{if $pack}{$pack}{else}无{/if}</td>
				</tr>
				<tr>
				<td   class='tableth'>规格要求：</td>
				<td >{if $standard}{$standard}{else}无{/if}</td>
				</tr>
			       <tr>
				<td   class='tableth'>相关附件：</td>
				<td>{if $upload}<a href="{$upload}" target="_blank" class="b ocolor">点击下载</a>{else}无{/if}</td>
				</tr>
				{if $n1}
				<tr>
				<td   class='tableth'>{$n1}：</td>
				<td >{$v1}</td>
				</tr>
				{/if}
				{if $n2}
				<tr>
				<td   class='tableth'>{$n2}：</td>
				<td >{$v2}</td>
				</tr>
				{/if}
				{if $n3}
				<tr>
				<td   class='tableth'>{$n3}：</td>
				<td >{$v3}</td>
				</tr>
				{/if}
				</table>		
				</td>
			</tr>
		</table>
<script type="text/javascript" src="{DT_STATIC}file/script/album.js"></script>