{if in_array($moduleid, explode(',', $EXT['comment_module']))}
<!--[if lte IE 6]>
<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！无法体验评论和留言功能！强烈建议您立即 <a
        href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a
        href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
<![endif]-->
<dt id="commet" style="margin:10px 0px 2px 30px;">
    <span class='fr f12 mt5'>
    <a href="{$EXT[comment_url]}{rewrite('index.php?mid='.$moduleid.'&itemid='.$itemid)}" target="_blank">共
        <span id="comment_count">0</span>条 [查看全部]</a>&nbsp;&nbsp;相关评论
    </span>
    <font class="f18 ocolor b">本信息相关回复</font>
</dt>
<dd id="comment_div" style="display:;">
    <div id="comment_main">
        <div></div>
    </div>
</dd>
<script type="text/javascript" src="{DT_STATIC}file/script/comment.js"></script>
{/if}