
{if $step!='detail'}
{if $v[invoice]=='0'}
	{if $v[seller]==$_username}
		未填写发票选项
	{else}
		{if $v[status]=='1'}
	<input type="button" class="btn" onclick="Go('trade.php?itemid={$v[itemid]}&action=update&step=invoice&invoice=2&forward={$forward}')" value="无需发票" />&nbsp;&nbsp;<input type="button" class="btn" onclick="divbox('invoicebox',900,'填写发票信息','invoice.php?itemid={$v[itemid]}&action=add&forword={$forward}')" value="开据发票" />
		{else}
			未填写发票选项
		{/if}
	{/if}
{elseif $v[invoice]=='1'}
	<input type="button" class="btn" onclick="divbox('invoicebox',650,'发票信息','invoice.php?invoiceid={$v[invoiceid]}&action=show&forward={$forward}');" value="发票信息" />
{elseif $v[invoice]=='2'}
	无需发票&nbsp;&nbsp;
{/if}
{/if}

{if $td[invoice]=='0'}
	{if $td[seller]==$_username}
	未填写发票选项，默认不开据发票
	{else}
		{if $td[status]=='1'}
	<input type="button" class="btn" onclick="Go('trade.php?itemid={$td[itemid]}&action=update&step=invoice&forward={$forward}&invoice=2')" value="无需发票" />&nbsp;&nbsp;<input type="button" class="btn" onclick="divbox('invoicebox',900,'填写发票信息','invoice.php?itemid={$v[itemid]}&action=add&forword={$forward}','填写发票信息')" value="开据发票" />
		{else}
			未填写发票选项，默认不开据发票
		{/if}
	{/if}
{elseif $td[invoice]=='1'}
	<input type="button" class="btn" onclick="divbox('invoicebox',650,'发票信息','invoice.php?invoiceid={$td[invoiceid]}&action=show');" value="发票信息" />
{elseif $td[invoice]=='2'}
	无需发票&nbsp;&nbsp;
{/if}