{php isset($invoiceid)?$invoiceid++:$invoiceid=1;}
<script>
function send_invoice{$invoiceid}(itemid,forward){
	if($('#no_invoice{$invoiceid}').is(':checked')==true){
		Go('trade.php?itemid='+itemid+'&action=update&step=invoice&forward='+forward+'&invoice='+$('#no_invoice{$invoiceid}').val());
	}else{
		if($('#invoice_title{$invoiceid}').val()==''){
			alert('请输入发票抬头');
		}else{
			Go('trade.php?itemid='+itemid+'&action=update&step=invoice&forward='+forward+'&invoice='+$('#need_invoice{$invoiceid}').val()+'&invoice_title='+$('#invoice_title{$invoiceid}').val());	
		}
	}
}
</script>
{if $v[invoice]=='1'}
开据发票，抬头：{$v['invoice_title']}&nbsp;&nbsp;
{elseif $v[invoice]=='2'}
无需发票&nbsp;&nbsp;
{else}
<input type="radio" name="invoice{$invoiceid}" id="no_invoice{$invoiceid}" value="2" checked="checked" />无需发票&nbsp;
<input type="radio" name="invoice{$invoiceid}" id="need_invoice{$invoiceid}" value="1" />开据发票&nbsp;
<input type="text" name="invoice_title{$invoiceid}" id="invoice_title{$invoiceid}" placeholder="输入发票抬头" />
<input type="button" onclick="send_invoice{$invoiceid}('{$v[itemid]}','{$forward}')" value="提交发票选项" />
{/if}