<h4>
{if $moduleid==16}
<span {if $tc=='9'||$tc=='8'}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?tc=9&list='.$list.'&areaid='.$areaid.'&catid='.$catid.'&action='.$action)}" id="listh4">全部产品信息</a>
</span>
<span {if $tc==1}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?tc=1&list='.$list.'&areaid='.$areaid.'&catid='.$catid.'&action='.$action)}" id="listh4">天成网推荐产品</a>
</span>
<span {if $tc==0}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?tc=0&list='.$list.'&areaid='.$areaid.'&action='.$action.'&catid='.$catid.'&validated=1')}" >供应商网店产品</a>
</span>
{else}
<span {if $validated||$vip}class="listno"{else}class="listyes"{/if} id="listh4a">
<a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&catid='.$catid.'&action='.$action)}" id="listh4">{$MOD[name]} {$catname}信息列表</a>
</span>
{if $moduleid==10}
<span {if $typeid==4}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&action='.$action.'&catid='.$catid.'&typeid=4&level=1')}" >本站已验证并推荐的</a>
</span>
{elseif $moduleid==21}
<span {if $thumb}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&action='.$action.'&catid='.$catid.'&thumb=1')}" >有相关图片的新闻</a>
</span>
{if $thumb}
<script type="text/javascript">
Dd('listh4a').className='listno';
</script>
{/if}
{else}
<span {if $validated||$vip}class="listyes"{else}class="listno"{/if}>
<a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$areaid.'&action='.$action.'&catid='.$catid.'&validated=1&vip=1')}" >本站已验证并推荐的</a>
</span>
{/if}
{/if}
<font><a href="{DT_PATH}announce/10219.html" target='_blank'>点击了解本站排名的奥秘</a></font>
</h4>
<div class="img_tip" id="img_tip" style="display:none;">&nbsp;</div>