{php $d = tag("moduleid=2&condition=username='".$username."'&pagesize=1&order=userid desc&template=null&debug=0")}
																<ul class="userinfo">
																{if $d[0][thumb]!=''}
																<li  style="border:none;text-align:center;height:110px;"><img src="{$d[0][thumb]}" width=100 height=100  class="grayb"/>
																{else}
																<li  style="border:none;text-align:center;height:110px;"><img src="{DT_SKIN}image/gender{$d[0][gender]}.jpg" width=100 height=100  class="grayb"/>
																{/if}
																</li>
																<li><span class="lenstr">会员</span>{$d[0][username]}</li>
{if $d[0][vip]}
	<li><span class="lenstr">等级</span><img src="{DT_SKIN}image/vip.gif"/> <img src="{DT_SKIN}image/vip_{$d[0][vip]}.gif"/> [第{vip_year($d[0][fromtime])}年] 指数:{$d[0][vip]}</li>
	{/if}
	{if $d[0][validated] || $d[0][vcompany] || $d[0][vtruename] || $d[0][vbank] || $d[0][vmobile] || $d[0][vemail]}
	<li>
	<span class="lenstr"><a href="{userurl($d[0][username], 'file=credit')}" class="ocolor">V认证</a></span>
	{if $d[0][vcompany]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_company.gif" width="16" height="16" align="absmiddle" title="通过工商认证"/>{/if}
	{if $d[0][vtruename]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_truename.gif" width="16" height="16" align="absmiddle" title="通过实名认证"/>{/if}
	{if $d[0][vbank]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_bank.gif" width="16" height="16" align="absmiddle" title="通过银行帐号认证"/>{/if}
	{if $d[0][vmobile]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_mobile.gif" width="16" height="16" align="absmiddle" title="通过手机认证"/>{/if}
	{if $d[0][vemail]}&nbsp;<img src="{$MODULE[2][linkurl]}image/v_email.gif" width="16" height="16" align="absmiddle" title="通过邮件认证"/>{/if}
	{if $d[0][validated]}&nbsp;<img src="{DT_SKIN}image/check_right.gif" align="absmiddle" alt="通过{$d[0][validator]}认证"/> {/if}
	</li>
{/if}
	
<li>
	<span class="lenstr">联系</span>{if $moduleid==9}{xname($d[0][truename])}{else}{$truename}{/if}({gender($d[0][gender])})&nbsp;{$d[0][career]}&nbsp;
	{if $d[0][username] && $DT[im_web]}{im_web($d[0][username].'&mid='.$moduleid.'&itemid='.$itemid)}&nbsp;{/if}
	{if $d[0][qq] && $DT[im_qq]}{im_qq($d[0][qq])}&nbsp;{/if}
	{if $d[0][ali] && $DT[im_ali]}{im_ali($d[0][ali])}&nbsp;{/if}
	{if $d[0][msn] && $DT[im_msn]}{im_msn($d[0][msn])}&nbsp;{/if}
	{if $d[0][skype] && $DT[im_skype]}{im_skype($d[0][skype])}&nbsp;{/if}
	</li>
	<li><span class="lenstr">会员</span> [{if online($d[0][userid])==1}<font class="ocolor">当前在线</font>{else}<font class="color">当前离线</font>{/if}] <a href="{$MODULE[2][linkurl]}friend.php?action=add&username={$d[0][username]}"class="gcolor">[加为商友]</a> <a href="{$MODULE[2][linkurl]}message.php?action=send&touser={$d[0][username]}"class="bcolor">[发送信件]</a></li>
	{if $grounpid=='8'}
	{if $d[0][mail]}<li><span class="lenstr">邮件</span>{anti_spam($d[0][mail])}</li>{/if}
	{if $d[0][telephone]}<li><span class="lenstr">电话</span>{anti_spam($d[0][telephone])}</li>{/if}
	{if $d[0][mobile]}<li><span class="lenstr">手机</span>{anti_spam($d[0][mobile])}{if $DT[sms] && $d[0][vmobile]}&nbsp;&nbsp;<a href="{$MODULE[2][linkurl]}sms.php?action=add&auth={encrypt($d[0][mobile])}" target="_blank"><img src="{DT_SKIN}image/sendsms.gif" align="absmiddle" title="发送短信" alt=""/></a>{/if}</li>{/if}
	{/if}
	<li><span class="lenstr">地区</span>{area_pos($d[0][areaid], '-')}</li>
	{if $d[0][address]}<li title="{$d[0][address]}"  style="border:none;height:35px;"><span class="lenstr">地址</span><font style="line-height:12px;">{$d[0][address]}</font></li>{/if}
	{if $d[0][groupid]>5}
	<li style="border:none" class="mt10"><a href="{DT_PATH}com/{$d[0][username]}/" target="_blank" class="ml20 mr10"><img src="{DT_SKIN}image/wangdian.jpg" title="进入企业网站"/></a><a href="{DT_PATH}com/{$d[0][username]}/job/" target="_blank" class="ml10"><img src="{DT_SKIN}image/jishu.jpg" title="打开服务需求"/></a></li>
    {/if}																	</ul>
