<!--[if lte IE 6]>
<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！无法体验评论和留言功能！强烈建议您立即 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
<![endif]-->
<div id="comment_div" style="display:;">
	<div class="c_b">
	<script type="text/javascript">show_resume_comment('{$MODULE[3][linkurl]}', {$moduleid}, {$itemid});</script>
	</div>
</div>