<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>推荐给服务需求发布者你的供应信息</title>
<meta name="keywords" content="推荐给服务需求发布者你的供应信息"/>
<meta name="description" content="推荐给服务需求发布者你的供应信息"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
<script type="text/javascript" src="{DT_PATH}lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jsfunction.js"></script>
</head>
<body style="background:#e9f0f5">
{if $iframe}
{php $condition='status=3';$kw=$_REQUEST['kw'];}
<form method="get" action="apply.php" style="width:560px;height:30px;margin:0px;padding:2px;">
<input type="hidden" name="itemid" value="{$itemid}">
<input type="hidden" name="iframe" value="1">
	<input type="text" name="kw" size='20' value="{$kw}">
				<select name="areaid">
			{php $mainarea = tag("table=area&fields=areaid,areaname&condition=parentid=0&pagesize=34&template=null&debug=0")}	
			<option value="" {if $areaid==''}selected{/if}>选择地区</option>
			{loop $mainarea $k $v}
				<option value="{$v[areaid]}" {if $areaid}{if $areaid==$v[areaid]}selected{/if}{/if}>{$v[areaname]}</option>
            {/loop}
			</select>
				<select name="catid">
			{php $tagss = tag("moduleid=$moduleid&table=category&fields=catid,catname&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}	
			<option value="" {if $catid==''}selected{/if}>选择分类</option>
			{loop $tagss $i $t}	
				<option value="{$t[catid]}" {if $catid}{if $catid==$t[catid]}selected{/if}{/if}>{$t[catname]}</option>
            {/loop}
			</select>
	<input type="submit" value="搜索">
</form>

{if $catid}
{php $condition=$condition.' and catid='.$catid;}
{/if}
{if $areaid}
{php $condition=$condition.' and areaid='.$areaid;}
{/if}
{if $kw}
{php $condition=$condition." and ( title like '%".$kw."%' or truename like '%".$kw."%' or itemid like '%".$kw."%')";}
{/if}
{php $tags = tag("moduleid=9&table=resume&condition=$condition&pagesize=12&order=talent desc&page=$page&template=list-resume-select&debug=0&showcat=1&showpage=1&check=$check")}
{else}
<style type="text/css">
	.color{color:#939393}
	.yxtime{padding:20px;font-size:20px;margin-left:150px;border:2px solid #ff9900;margin-top:45px;}
</style>
<div class='workflow'>
{if !$_groupid==1}
<h3>供应方如何与需求方展开合作</h3>
<dl>
<dd>
<ul>
<li class="autowidth"><span class="color" id="step1">1.发布一条服务供应信息</span><font>&nbsp;</font></li>
<li class="autowidth"><span class="color" id="step2">2.点报名后选该供应信息作为报名信息</span><font>&nbsp;</font></li>
<li class="autowidth"><span class="color" id="step3">3.需求方看到你的报名信息</span><font>&nbsp;</font></li>
<li class="autowidth"><span class="color" id="step4">4.觉得合适,选定您的信息,进行合作</span></li>
</ul>
</dd>
</dl>
{else}
<h3>管理员协调配合</h3>
{/if}
</div>
{if $_groupid==1||$admin_user}
{php $resume = $db->count($DT_PRE.'resume', "status=3", 60);}
{php $r = $db->get_one("SELECT * FROM ".$DT_PRE."job WHERE itemid=$itemid");}
{php $apply=$r['apply'];}
{php $jstep=$r['step'];}
<script type="text/javascript">
function sel(){
$("input[type='radio'][name=step][value='3']").attr("checked",true);
}
</script>
<table cellpadding="0" cellspacing="1"  bgcolor="#c8d0f0" align="center">
<form method="get" action="select.php">
<tr bgcolor="#d5e3f0">
<td colspan="2" align="center" height="40" style="color:#3e8adf;font-weight:bold;font-size:20px;"><input type="radio" name="itemid" value="{$r[itemid]}" checked=checked style="display:none">{$r['title']}&nbsp;&nbsp;</td>
</tr>
<tr bgcolor="#e2eff5">
<td width=140  height="40" class="tc">选定相关内容</td>
	<td  align="left" class="f12 pd5">
	<input type="hidden" name="action" value="admin">
	<input type="hidden" name="job_username" value="{$r['username']}">
	<input type="hidden" name="apply_username" value="" id="apply_username">
	选定的工程师&nbsp;
	<input type="text" name="resumeid" id="xdresumeid" value="{$res['resumeid']}"  size=5>
	&nbsp;&nbsp;伙陪报名马甲工程师&nbsp;
	<input type="text" name="hpresumeid" id="hpresumeid" value="" size=60>
	<input type="hidden" id="hpusername" name="hpusername" value="">
	<br>
	</td>
</tr>
<tr bgcolor="#ecf4f9">
<td width=140  height="40" class="tc">本次项目进程</td>
	<td  align="left" class="f12 pd5">
	{php $step=str_replace('li id=','input type=radio name=step id=',fieldstitle(54,'*'));}
	{php $step=str_replace('id=options54-','value=',$step);}
	{php $step=str_replace('</li>','',$step);}
	{php $step=str_replace($jstep,$jstep.' checked=checked',$step);}
	{$step}
	<script type="text/javascript">
	Dd('hpusername').value=parent.Dd('allresume').value;
	Dd('hpresumeid').value=parent.Dd('allresumeid').value;
	Dd('xdresumeid').value=parent.Dd('selresumeid').value;
	Dd('apply_username').value=parent.Dd('selusername').value;
	</script>
	
	</td>
</tr>


<tr bgcolor="#f3f9fc">
<td align="center">选择合适工程师</td>
	<td align="left">
	<dl class="pd5">	
	<dt class="f16 bcolor blueb nt nl nr b">报名的{$apply}位工程师</dt>
	<dd  style="padding:0px;margin:0px;font-size:12px;">
	{if $apply}
       {php $applylist=getsqldata("a.*,r.truename,r.title,r.linkurl","{$db->pre}job_apply a LEFT JOIN {$db->pre}resume r ON a.resumeid=r.itemid LEFT JOIN {$db->pre}job j ON a.jobid=j.itemid","a.jobid=$itemid ORDER BY a.applyid DESC",$apply,0);}
		<ul>
		
		{loop $applylist $k $v}
		<li><input type="radio" name="resumeid" value="{$v[resumeid]}" onclick="Dd('xdresumeid').value=this.value" id="checkresumeid{$v[resumeid]}"><i>(#{$v[resumeid]})</i><span class="ml10">{$v[truename]}({$v[apply_username]})</span>-<a href="{$v[linkurl]}" target="_blank">{$v[title]}</a>{$v[status]}</li>
		<script type="text/javascript">
		{if $v[status]=='3'}
		Dd('xdresumeid').value={$v[resumeid]};
		Dd('apply_username').value='{$v[apply_username]}';
		Dd('checkresumeid{$v[resumeid]}').checked=true;
		{else}
		Dd('hpresumeid').value=Dd('hpresumeid').value+'{$v[resumeid]},';
		Dd('hpusername').value=Dd('hpusername').value+'{$v[hpusername]},';
		{/if}
		</script>	
		{/loop}
		</ul>
	{/if}
	</dd>
{php $xd=$_REQUEST['xd'];}
{if !$xd}
	<dt class="f16 gcolor grayb nt nl nr b">全站技术工程师</dt>
	<dd style="padding:0px;margin:0px;">
	<iframe frameborder=0 width=680 height=360 src="apply.php?itemid={$itemid}&iframe=1&kw=&areaid=0&catid=0"></iframe>
	</dd>

<dt class="f16 ocolor orangeb nt nl nr b">伙陪报名马甲工程师</dt>
	<dd style="padding:0px;margin:0px;">
	<iframe frameborder=0 width=680 height=360 src="apply.php?itemid={$itemid}&iframe=1&check=1&kw=&areaid=0&catid=0"></iframe>
	</dd>
{/if}
	</dl>
	</td>
</tr>

<tr bgcolor="#ecf4f9">
<td colspan=2 align='center' height=45>	<input type="submit" value=" 提 交 "></td>
</tr>
</form>
</table>
<br>




{else}
				{if $lists}
				<script type="text/javascript">
				Dd('step2').className='';
				</script>
					<iframe src="" name="send" id="send"  style="display:none" scrolling="no" frameborder="0"></iframe>
					<div class="yxtime" id="apply_success" style="display:none">报名成功！</div>
								<dl class="dllist w600 pd10"><form method="post" action="{$MOD[linkurl]}apply.php" id="dform" target="send">
								<dt class="f16 bcolor" style="border-color:#98a2bc;"><input type="hidden" name="itemid" value="{$itemid}"/>请选择一条技术供应信息作为报名信息</dt>
								<dd>
								<ul class="ullist">
								{loop $lists $k $v}
								<li class='f14'><label><input type="radio" name="resumeid" value="{$v[itemid]}"{if $k==0} checked{/if}/>{$v[title]}</label></li>
								{/loop}
								</ul>
								</dd>
								<dd class="tc">
								<input type="submit" name="submit" value=" 确定 " class="subm w80"/>
								</dd></form>
								</dl>
								<script type="text/javascript">
								function reload(){
								window.setTimeout("reloads()",2000);
								}
								function reloads(){
								window.parent.location.reload();
								}
								</script>
				{else}
				<script type="text/javascript">
				Dd('step1').className='';
				</script>
				<div class="nocontent"><p>第一步:请先创建一条服务供应信息吧！ <br><a href="{$MODULE[2][linkurl]}my.php?mid=9&resume=1&action=add" class="w80 suba tc fl mr10" target='_blank'>开始创建</a> 已创建的可<a href='javascript:void(0)' onclick="location.reload()" class="ocolor f16"><u>刷新</u></a>本页面</p></div>
				{/if}

{/if}
{/if}
</body>
</html>
