<table cellpadding="3" cellspacing="0">
	<form action="{$MOD[linkurl]}search.php">

				<tr>
				<td width=140><input type="hidden" name="action" value="{$action}">&nbsp;<b>服务类型:</b><select name="type"><option value=0>不限</option>{loop $TYPE $k $v}{if $k>0}<option value="{$k}"{if $type==$k} selected{/if}>{$v}</option>{/if}{/loop}</select></td>
				<td width=360><input type="checkbox" name="thumb" id="thumb" value="1"{if $thumb} checked{/if}/> 有照片&nbsp;&nbsp;&nbsp;
				<select name="marriage">{loop $MARRIAGE $k $v} <option value="{$k}"{if $marriage==$k} selected{/if}>{$v}</option>{/loop}</select>
				</td>
			<td >
	<b><select name="resumeorder">
				<option value="0" {if $resumeorder == 0} selected{/if}>默认排序
					<option value="1" {if $resumeorder == 1} selected{/if}>参加过项目多到少
					<option value="2" {if $resumeorder == 2} selected{/if}>参加过项目少到多
					<option value="3" {if $resumeorder == 3} selected{/if}>被关注次数多到少
					<option value="4" {if $resumeorder == 4} selected{/if}>被关注次数少到多
				</select>
	</td>
	<td width=80>
	<input type="submit" value="立刻筛选" class="submit">
	</td>
		  </tr>
</form> </table>
