{php $sitemenu='job';}
{template 'module-header'}
{php $job = $db->count($DT_PRE.'job', "status=3", 60);}
{php $resume = $db->count($DT_PRE.'resume', "status=3", 60);}
</div>
</div>

<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}fuwu.css"/>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/fuwu.js"></script>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/jquery-1.11.1.min.js"></script>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/jquery.superslide.2.1.1.js" type="text/javascript"></script>
<style>
img{display: inline-block;}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
#topkeyword{width:310px;height:22px;line-height:22px}
.page-header .logo h1{font-weight: normal;}
</style>

        <!-- banner -->
		{php $tagt = tag("moduleid=2&table=ad&condition=pid=218 and fromtime<$DT_TIME and totime>$DT_TIME and status=3&pagesize=5&order=listorder asc&template=null")}
        <div class="banner">
            <div class="banner-in">
				<ul class="banner-show">
				{loop $tagt $z $t}
					<li>	
						<a href="{if $t['image_url']}{$t['image_url']}{else}javascript:{/if}" target="_blank"><img src="{$t['image_src']}" width="100%" height="300" alt="" /></a>		
					</li>
				{/loop}	
				</ul>		
				<a class="prev" href="javascript:void(0)"></a>
				<a class="next" href="javascript:void(0)"></a>
            </div>
        </div>
       <!-- 服务信息推荐 -->
        <div class="service">
            <i></i>
            <span>本站服务信息推荐</span>
        </div>
        <div class="main">
		  <!-- 技术工程师 -->
		  {php $lists = tag("table=resume&condition=status=3 and username is not null&pagesize=6&order=level desc,talent desc&template=null&debug=0&showcat=1")}
            <div class="main-l">
                <div class="bt"><a href="{$MODULE[9][linkurl]}{rewrite('search.php?action=resume')}">技术工程师</a></div>
                 <div class="main-in">
					<ul>	
					{loop $lists $k $t}
                       <li {if $k==0}class="fan"{/if}>
							<a href="{$t[linkurl]}">
                                 <dl>
                                     <dt><img src="{if $t[thumb]}{imgurl($t[thumb],'')}{else}{useravatar($t[username], 'large')}{/if}" width="66" height="66" alt="" /></dt>
                                     <dt style="font-size:14px; color:#131313;">{dsubstr($t[title],35,'...')}<em>(#{$t[itemid]})</em></dt>
                                     <dd><span style="float: left;"><b>服务项目</b>&nbsp;&nbsp;{strip_tags(cat_pos(get_cat($t[catid]), '/'))}</span><span style="float: right"><i></i>{xname($t[truename],$t[baomi])}</span></dd><br/>
                                     <dd><span style="float: left"><b>支持区域</b>&nbsp;&nbsp;{area_pos($t[areaid], '/', 2)}</span><span style="float: right">{timetodate($t[addtime], 3)}</span></dd>
                                 </dl>
                             </a>
                        </li>
					{/loop}
					</ul>
                    <div class="publish">
                        <a href="{$MODULE[2][linkurl]}{rewrite('my.php?mid=9&resume=1&action=add')}" style="cursor: pointer;">
                            <div><i></i><span style="right:20px">加入工程师</span></div>
                        </a>
                    </div>
                 </div>     
            </div>
            <!-- 设备服务需求 -->
            <div class="main-m">
                <div class="bt"><a href="{$MODULE[9][linkurl]}{rewrite('search.php?typeid=99')}">设备服务需求</a></div>
                 <div class="main-in">
				 {php $tags=tag("moduleid=9&condition=status=3 and step<4 &pagesize=6&order=addtime desc&debug=0&showcat=1&template=null")}
                    <ul>
						{loop $tags $k $t}
						<li {if $k==0}class="fan"{/if}>
                            <a href="{$t[linkurl]}">
                                 <dl>
                                     <dt style="font-size:14px; color:#131313;">{$k+1}、{dsubstr($t[title],60,'...')}</dt>
                                     <dd {if $t[validated]!=1}class="no"{/if}><span style="float: left;width:150px;"><i></i><b>{if $t[validated]==1}已验证{else}未验证{/if}</b>&nbsp;&nbsp;{area_pos($t[areaid], '/', 2)}</span><span style="float: right">{dsubstr($t[introduce],20,"...")}</span></dd><br/>
                                     <dd><span style="float: left">{$t[apply]}人报名 | {$t[hits]}人浏览 </span><span style="float: right">{timetodate($t[addtime], 3)}</span></dd>
                                 </dl>
                             </a>
                        </li>
						{/loop}
                    </ul>
                    <div class="publish">
                        <a href="{$MODULE[2][linkurl]}{rewrite('my.php?mid=9&action=add')}" style="cursor: pointer;">
                            <div><i></i><span>发布需求</span></div>
                        </a>
                    </div>
            </div> 
        </div>
        <!-- 配件及耗材 -->
            <div class="main-r">
                <div class="bt"><a href="{$MODULE[16][linkurl]}{rewrite('search_fuwu.php?c=9&stype=1')}">配件及耗材</a></div>
                <div class="main-in">
					{php $tags=tag("moduleid=16&condition=status=3 and stype in(1,2)&pagesize=6&order=edittime desc&debug=0&showcat=1&template=null")}
                    <ul>
						{loop $tags $k $t}
                        <li {if $k==0}class="fan"{/if}>
                             <a href="{$t[linkurl]}">
                                <dl>
                                    <dt><img src="{$t[thumb]}" height="66" width="66" alt="" onerror="this.src='{DT_SKIN}image/nopic.gif'"/></dt>
                                     <dt style="font-size:14px; color:#131313;">{$k+1}、{dsubstr($t[title],60,'...')}</dt>
                                     <dd><span style="float: left;width:150px;"><b>销量</b>&nbsp;&nbsp;累计出售{$t[sales]}件</span><span style="float: right"><i></i>库存{$t[amount]}件</span></dd><br/>
                                     <dd><span style="float: left"><b>￥{if $t[groupid]==8||$t[groupid]==1}询价{else}{if $t[price]>0}{$t[price]}{else}面议{/if}{/if}</b>&nbsp;&nbsp;</span><span style="float: right">天成医疗配件耗材中心</span></dd>
                                 </dl>
                             </a>
                        </li>
						{/loop}
                    </ul>
                     <div class="publish">
                        <a href="{$MODULE[2][linkurl]}{rewrite('my.php?mid=6&action=add')}" style="cursor: pointer;">
                            <div><i></i><span>添加配件</span></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
       <!-- 数据信息推荐 -->
        <div class="information">
            <i></i>
            <span>本站数据信息</span>
            <div class="date">
                <ul>
                    <li>{php echo $db->count($DT_PRE.'job', 'status=3');}</li>
                    <li>{php echo $db->count($DT_PRE.'resume', 'status=3');}</li>
                    <li>{php echo $db->count($DT_PRE.'mall', 'status=3 and stype in(1,2)');}</li>
                    <li>{php echo $db->count($DT_PRE.'down_15', 'status=3');}</li>
                </ul>
                <ol>
                    <li style="list-style:none;">技术需求信息</li>
                    <li style="list-style:none;">工程师信息</li>
                    <li style="list-style:none;">配件及耗材信息 </li>
                    <li style="list-style:none;">技术资料信息</li>
                </ol>
            </div>
        </div>
        <!-- 主要服务流程 -->
        <div class="workflow">
            <i></i>
            <span>本站主要服务流程</span>
            <div class="time"></div>
                <ul>
                    <li style="width:105px;">提交技术需求<br/>线上客服跟进</li>
                    <li style="width:340px;" class="two">线下专业队伍进行详细了<br/>解并匹配专业技术团队</li>
                    <li style="width:100px;">签订三方委托合同<br/>服务正式开始</li>
                    <li style="width:350px;">平台线下专业队伍把控<br/>流程协调项目运作问题</li>
                    <li style="width:100px;">双方进行项目验收<br/>进入财务运作环节</li>
                </ul>
        </div>
        <!-- 技术信息共享 -->
        <div class="doc">
            <i></i>
            <span>本站技术信息推荐</span>
                <div class="doc-in">
            <!-- 技术共享 -->
                    <div class="doc-l">
                        <div class="fir-type"><span>技术共享</span></div>
                         
            <!-- 侧栏选项卡 -->
			<!-- 教育培训 -->
					{php $tags = tag("moduleid=15&catid=403&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}	
                    <div class="all-sort-list">
						{if $tags}
                        <div class="item bo">
                            <div class="type">
                                <div class="type-in"><a href=""><b>教育培训</b></a><i></i></div>
                                <div class="two-type">
								{loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                                </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
									{loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}
                                </div>
                            </div>
                        </div>
						{/if}
                        <div class="item">
                        <div class="type">
						<!-- 技术资料 -->
							{php $tags = tag("moduleid=15&catid=404&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}	
                            <div class="type-in"><a href=""><b>技术资料</b></a><i></i></div>
                            <div class="two-type">
                                {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                        </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                   {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}               
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="type">
							<!-- 介绍说明 -->
							{php $tags = tag("moduleid=15&catid=405&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}	
                            <div class="type-in"><a href=""><b>介绍说明</b></a><i></i></div>
                            <div class="two-type">
                                {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                    {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}   
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="type">
							<!-- 软件程序 -->
							{php $tags = tag("moduleid=15&catid=406&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}	
                            <div class="type-in"><a href=""><b>软件程序</b></a><i></i></div>
                            <div class="two-type">
                                {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                    {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}   
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="type">
							<!-- 项目方案 -->
							{php $tags = tag("moduleid=15&catid=407&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}
                            <div class="type-in"><a href=""><b>项目方案</b></a><i></i></div>
                            <div class="two-type">
                                {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                    {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}
                                    
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="type">
							<!-- 研究报告 -->
							{php $tags = tag("moduleid=15&catid=1991&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}
                            <div class="type-in"><a href=""><b>研究报告</b></a><i></i></div>
                            <div class="two-type">
                               {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                    {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="type">
							<!-- 其他分类 -->
							{php $tags = tag("moduleid=15&catid=1992&fields=thumb,linkurl,title&condition=status=3 &pagesize=20&order=edittime desc&template=null&debug=0")}
                            <div class="type-in"><a href=""><b>其他分类</b></a><i></i></div>
                            <div class="two-type"  style="border:0;">
                                 {loop $tags $z $t}
									{if $z < 2}
                                    <a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],15,'...')}</a>
									{/if}
								{/loop}
                            </div>
                            </div>
                            <div class="item-list clearfix">
                                <div class="close">x</div>
                                <div class="subitem">
                                    {loop $tags $z $t}
									{if $z%5==0}
									{php $num=$z+5;}
									{php $num_1=$z}
                                    <dl class="fore1">
                                        <dt><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></dt>
                                        <dd>
										
										{loop $tags $z $t}
										{if $z>=$num_1&&$z<$num&&$z%5!=0}
										<em><a href="{$t[linkurl]}" title="{$t[title]}">{dsubstr($t[title],10,'...')}</a></em>
										{/if}
										{/loop}			
										</dd>
                                    </dl>
									{/if}
                                    {/loop}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
            <!-- 热门文档 -->
					{php $tags = tag("moduleid=15&fields=thumb,linkurl,title,fileext,hits&condition=status=3 &pagesize=6&order=hits desc&template=null&debug=0")}
                    <div class="doc-m">
                        <div class="doc-m-t">
                            <div class="hot"><a href="#">&nbsp;&nbsp;&nbsp;&nbsp;热门文档</a></div>
                            <span><a href="{$MODULE[15][linkurl]}">更多>></a></span>
                        </div>
                       <div class="doc-m-b">
					   {loop $tags $k $v}
                           <dl>
                               <dt>
                                   <a href="{$v[linkurl]}" title="{$v[title]}">
                                       <img src="{DT_SKIN}image/blank.gif" style="background:#fff url('{if $v[thumb]!=''}{$v[thumb]}{else}{DT_SKIN}image/down/file/PDF.png{/if}') center center no-repeat;" height="140" width="122" alt="" />
                                   </a>
                               </dt>
                               <dd>
                                   <a href="{$v[linkurl]}" title="{$v[title]}">{dsubstr($v[title],20,'...')}</a>
                               </dd>
                               <dd>{$v[hits]}人阅读</dd>
                           </dl>
						{/loop}
                       </div>
                    </div>
            <!-- 上传文档 -->
                    <div class="doc-r">
                        <div class="doc-r_add">
                            <a href="{$MODULE[2][linkurl]}{rewrite('my.php?mid=15&action=add')}" style="color:#fff;">
                               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上传我的文档	
                            </a>
                        </div>
                        <p>已有&nbsp;&nbsp;<b>{php echo $db->count($DT_PRE.'down_15', 'status=3');}</b>&nbsp;&nbsp;个文件共享</p>
                        <span>热门搜索标签</span>
                        <div class="doc-r-in">
							{php $tags = tag("table=keyword&fields=keyword,word,total_search&condition=status=3 and moduleid=16 &pagesize=10&order=total_search desc&template=null&debug=0")}
							<!-- 搜索 -->
							{loop $tags $k $v}
                            <div class="doc-r-{$k+1}"><a href="{$MODULE[15][linkurl]}{rewrite('search.php?kw='.urlencode($v['word']))}" title="{$v[keyword]}"><label style="float:left;">{dsubstr($v[keyword],12,'...')}</label><label style="float:right;padding-right:5px;">{php $num=$db->get_one("select count(*) as num from tc_down_15 where keyword like '%".$v['word']."%'"); echo $num['num'];}</label></a></div>
							{/loop}
                        </div>
                    </div>
                </div>
        </div>
        <!-- 隔离层 -->
        <div class="links">
        </div>
        <!-- 版权 -->


  <div class="webw">
  <div class="center autoheight"  id="webbodycontent" >


</div></div>
{template 'link2017','chip'}
{template 'footer2017'}