{if $action=="resume"}
{php $MOD[name]='技术服务';}
{if !$catid&&!$areaid}
{php $ztitle='全国医疗器械维修工程师_公司信息大全_天成医疗网';$zkeywords='医疗器械维修工程师,医疗器械维修公司';$zdescription='医疗器械维修服务工程师_公司栏目，天成医疗网 提供更多全国各省市医疗器械维修、安装、调试工程师、公司等信息。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网！';}
{else}
{php $ztitle=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'服务需求-天成医疗网';$zkeywords=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw;$zdescription=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'维修安装调试服务需求，天成医疗网 提供更多'.$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'维修安装调试需求信息。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网';}
{/if}

{else}
{php $MOD[name]='技术需求';}
{php $ztitle=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'服务需求-天成医疗网';$zkeywords=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw;$zdescription=$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'维修安装调试服务需求，天成医疗网 提供更多'.$seo_areaname.'医疗器械'.$seo_catname.$seo_kw.'维修安装调试需求信息。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网';}
{/if}
{php $sitemenu='job';$listpage='search';}
{template 'module-header'}
<script type="text/javascript" src="http://www.tecenet.com/lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/config.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/common.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/page.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/jsfunction.js"></script>

<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}job.css"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}search_fuwu.css"/>
<style>
img{display: inline-block;}
#topkeyword{width:310px;height:22px;line-height:22px}
.page-header .logo h1{font-weight: normal;}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
#topkeyword{width:310px;height:22px;line-height:22px}
</style>

															{if $action=="resume"}
<script type="text/javascript">Dd('gcscatsl').className='menuy';</script>
															{else}
<script type="text/javascript">Dd('catsl').className='menuy';</script>
															{/if}
<div style="width:955px;" class="box-center">{template 'lay','tag'}</div>
<div style="width:980px;" class="box-center autoheight pt5 whitebg">
														{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
														
														<dl class="options">		
											
															<dt>{$MOD[name]}分类：</dt>
															<dd><a {if $catid==$catida} class="opyes wcolor"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid='.$areaid.'&catid='.$catida)}">全部</a>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[2]} class="opyes wcolor"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>
															{if $action=="resume"}
																[{$t[otheritem]}]
															{else}
														[{$t[item]}]
															{/if}
															</i></a>
															{/loop}
															</dd>
															</dl>
										
															<dl class="options">
															<dt>{$MOD[name]}地区：</dt>
															<dd><a {if $areaid==0}class="opyes wcolor"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid=0&catid='.$catid)}">全部</a>
															{php $mainarea = tag("table=area&condition=parentid=0&pagesize=34&template=null&debug=0")}
															{loop $mainarea $k $v}
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid='.$v['areaid'].'&catid='.$catid)}" {if $areaid==$k+1}class="opyes wcolor"{else}class="color"{/if}>{$v[areaname]}<i>[{if $action!='resume'}{$v[jobcount]}{else}{$v[resumecount]}{/if}]</i></a>
															{/loop}
															</dd>
															</dl>
															{if $action!='resume'}
															{php $num1 = $db->count($DT_PRE.'job',"step<4 and status=3", 60);}
															{php $num2 = $db->count($DT_PRE.'job',"step=4 and status=3", 60);}
															{php $num3 = $db->count($DT_PRE.'job',"step=5 and status=3", 60);}
															<dl class="options">
															<dt>进展情况：</dt>
															<dd><a {if $kstep==0}class="opyes wcolor"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid=0&kstep=0&catid='.$catid)}">全部</a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=3&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==3}class="opyes wcolor"{else}class="color"{/if}>寻求技术工程师中<i class='f12'>[{$num1}]</i></a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=4&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==4}class="opyes wcolor"{else}class="color"{/if}>服务已完成<i class='f12'>[{$num2}]</i></a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=5&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==5}class="opyes wcolor"{else}class="color"{/if}>服务已关闭<i class='f12'>[{$num3}]</i></a>
															</dd>
															</dl>
															{/if}
														<form action="{$MOD[linkurl]}search.php" id="fsearch">
														<input type="hidden" name="action" value="{$action}">
														<input type="hidden" name="areaid" value="{$areaid}">
			                                            <input type="hidden" name="catid" value="{$catid}">
														<input type="hidden" name="vip" value="{$vip}">
			                                            <input type="hidden" name="thumb" value="{$thumb}">
                                                        {template 'search', 'chip'}
														</form>
														</div>

															<div class="divline"></div>
<!--20160524下架
<ul class="webw h60 w980 center whitebg grayb pd5">
<li class="fl grayb w490 h60 cut mr10 ml10">{ad(169)}</li>
<li class="fl grayb w490 h60 cut mr10 ml10">{ad(170)}</li>
</ul>-->
<div class="divline"></div>
<div style="width:980px;" class="box-center autoheight whitebg pd10">
			<div class="listleft autoheight" {if $action!="resume"} style="width:970px;"{/if}>
			{template 'listh4', 'chip'}
				<div class="tool">
{if $action=="resume"}{template 'form1','job'}{else}{template 'form0','job'}{/if}	
				</div>
{if $tags}
{if $action=="resume"}

{template 'list-resume', 'tag'}

{else}

{template 'list-job', 'tag'}

{/if}
	
		{else}
		{template 'noresult', 'message'}
		{/if}
			</div>

{if $action=="resume"}
			<div class="listright autoheight">
					{template 'right', 'job'}	
			</div>
{/if}
			<div class="divline"></div>
</div>
<div class="divline"></div>
<div class="tc grayb whitebg cut" style="height:90px;line-height:90px;">{ad(172)}</div>

</div></div>
{template 'footer2017'}