<dl>
{if $telephone}
<dd class="t4000 grayb mb10">
<div>{$telephone}</div>
</dd>
{/if}
				<dt class='xbline mb10 bcolor whitebg'>{$MOD[name]}承诺</dt>
				<dd class=" mb10"><img src="{DT_SKIN}image/promise.png" class="mid"></dd>
				<dd class='f16'>
				<img src="{DT_SKIN}image/grouprz.gif" class="mid mr5"><span class='mr10'>1.通过安全检测</span>
				</dd>
				<dd class='f16'>
				<img src="{DT_SKIN}image/grouprz.gif" class="mid mr5"><span class='mr10'>2.获得国家认证</span>
				</dd>
				<dd class='f16'>
				<img src="{DT_SKIN}image/grouprz.gif" class="mid mr5"><span class='mr10'>3.通过健康和成分检验</span>
				</dd>
				<dt class='xbline bcolor mt10'>发布者信息</dt>
				<dd>{template 'contact', 'chip'}
				</dd>
</dl>
			