{template 'title'}	
<style type="text/css">
.indexdiv1{height:213px;width:1000px;background:url('{DT_SKIN}image/container_bg1.png');margin-top:20px;margin-bottom:10px;overflow:hidden;font-size:12px;}
.indexdiv2{height:425px;width:1000px;background:url('{DT_SKIN}image/container-bg3.png');margin-top:20px;margin-bottom:10px;overflow:hidden;font-size:12px;}
.indeximg{width:170px;height:205px;margin-top:2px;}
.indeximg img{margin:5px;}
.indexcontent{width:515px;height:205px;margin-top:2px;}
.indexdiv2 .indeximg,.indexdiv2 .indexcontent{height:335px;}
.indexdiv2 .indexcontent{width:815px;margin-left:10px;}
.indexdiv2 .indeximg img{margin:30px 5px 5px 5px;}
.indexlist{padding-top:10px;}
.indexlist dt font{color:#838383;font-size:12px;}
.w515{width:515px;}.h170{height:170px;}.h160{height:160px;}
.indexlist ul{width:512px;overflow:hidden}
.indexlist li{width:512px;}
.indexlist li dt{border-bottom:1px dashed #ccc;height:50px;background:#eaeaea}
.indexlist li dt .mid{vertical-align:middle;}
.indexlist li dd{border-top:1px dashed white;}
.memonr{height:50px;background:#f2f2f2;line-height:18px;}
.memonr2{height:95px;background:#f2f2f2;line-height:18px;}
.daanyes{background:#e7f9ce url('{DT_SKIN}image/daangf.gif') 10px 10px no-repeat;height:42px;padding:5px;}
.daanyes div{margin-left:50px;width:445px;line-height:20px;color:#146d1b;font-size:12px;}
.indexmemo{width:305px;height:205px;margin-top:2px;margin-left:10px;}
.indexmemo dt{font-size:16px;margin-bottom:5px;margin-top:5px;color:#222}
.indexmemo .indexmemos{height:120px;line-height:18px;text-indent:15px;font-size:13px;color:#888}
.forms{height:45px;}
.list_group {width:815px;overflow:hidden;}
.list_group_img{border:1px solid #e6e6e6;background:white}
.list_group_box {width:230px;padding:5px;float:left;margin:15px 15px 0px 10px;overflow:hidden;}
.list_group_join {height:50px;padding-left:10px;line-height:50px;color:#fff;background:url('{DT_SKIN}image/group_join2.gif') repeat-x;overflow:hidden;}
.list_group_title {height:18px;overflow:hidden;padding:4px 0 6px 0;line-height:16px;font-size:14px;color:#777;background:#eee;width:230px;}
.groupd .list_group_title{width:238px;}
.list_group_price{padding-bottom:5px;overflow:hidden;white-space:normal }
.list_group_join .fr{margin-top:-5px;}
h1{margin:0px;padding:0px;color:#2e2e2e}
.level{position:absolute;z-index:10;width:70px;height:55px;margin-left:-235px;}
.levelcontent{position:absolute;z-index:10;width:70px;height:55px;margin-left:-212px;margin-top:-325px;}
.tlevel{background:url('{DT_SKIN}image/detail.png') -413px -10px; width:62px;height:55px;}
.nlevel{background:url('{DT_SKIN}image/detail.png') -312px -10px; width:62px;height:55px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {  
.level{position:absolute;z-index:10;width:70px;height:55px;margin-left:-1px;margin-top:-180px;}
.levelcontent{position:absolute;z-index:10;width:70px;height:55px;margin-left:-5px;margin-top:-304px;}
}
</style>
 <body>
 <div class="indexdiv2"> 
            <div class="indeximg fl tc"><a href='{$MODULE[17][linkurl]}' target='_blank'><img src="{DT_SKIN}image/container_img3.jpg" /></a></div>
            <div class="indexcontent fl"> 
		<div id='MarqueeDiv8'>
{php $tags = tag("moduleid=17&condition=status=3&order=level desc,hits desc&pagesize=3&template=null&showcat=1&debug=0")}
<ul class="list_group">
{loop $tags $i $t}
{php $t[price] = str_replace('.00', '', $t[price]);}
{php $t[marketprice] = str_replace('.00', '', $t[marketprice]);}
<li class="list_group_box grayb">
<div class="list_group_price"><span class="fr"><strong class='ocolor f20'>{$t[orders]}</strong>人已购</span>原价：<span class="bcolor f14"><del>{$t[marketprice]}元</del></span><span class="ml10">现 <font class='color f16'>{$t[discount]}</font> 折</span> </div>
	<div class="mid"><a href="{$t[linkurl]}" target="_blank" id="link_{$t[itemid]}"><img src="{$t[thumb]}" width="230" height="180" alt="{$t[alt]}" class='mid' /></a>
	<div class='level'>{if $t[level]}<img src='{DT_SKIN}image/blank.gif'class='tlevel'>{else}<img src='{DT_SKIN}image/blank.gif'class='nlevel'>{/if}</div>
	</div>
	<div class="list_group_join" ><span class='fr mr10'><a href="{$t[linkurl]}" target="_blank" ><img src="{DT_SKIN}image/shoping.gif"></a></span>只需<strong class='f24'>￥{$t[price]}</strong></div>
	<div class="list_group_title"><a href="{$t[linkurl]}" target="_blank" class='color ti10'>{$t[title]}</a></div>
</li>
{/loop}
</ul>
</div>
<script type="text/javascript">
$(".list_group>li").hover(function () {$(this).removeClass("list_group_box grayb");$(this).addClass("list_group_box yellowb yellowbg"); }, function () {$(this).removeClass("list_group_box yellowb yellowbg");$(this).addClass("list_group_box grayb"); });
</script>
			</div>

<div class="divline"></div>
<div style='margin-top:15px;height:50px;'><div style='width:50px;height:50px;padding-top:15px;' class='fr'><a href='{$MODULE[17][linkurl]}'><img src='{DT_SKIN}image/blank.gif' width=50 height=50></a></div>
<table cellpadding="3" cellspacing="0">
<tr>
<td width=100% align='left'>
<b class="f16 gcolor mr10">为什么选择成天微购</b>
<span class='f14'>
<img src="http://www.tecenet.com/skin/teceskin/image/grouprz2.gif" class="mid mr5"><span class='mr10'>1.所有产品均通过安全检测</span>
<img src="http://www.tecenet.com/skin/teceskin/image/grouprz2.gif" class="mid mr5"><span class='mr10'>2.所有产品均获得国家认证</span>
<img src="http://www.tecenet.com/skin/teceskin/image/grouprz2.gif" class="mid mr5"><span class='mr10'>3.食品均通过达安基因临床卫生和成分检验</span>
</span>
</td>
</table>
</div>
	  </div>
</body>
</html>