<dl class="options"  style="border:0px;">
															<dt>信息搜索：</dt>
															<dd>
				<table cellspacing=0 cellpadding=0 border=0 width=99%>
<form action="{$MOD[linkurl]}search.php"><tr>
	<td width="430" valign="middle">
	
	<input type="hidden" name="stype" id="z_stype" value="{$stype}">
	<input type="hidden" name="catid" value="{$catid}">	<input type="hidden" name="order" value="{$_REQUEST['order']}">
	<input type="text" name="kw" id="z_kw" value=""/>	
	<input type="radio" name="fields" value="0" id="fd_0" {if $fields==0} checked{/if}/><label for="fd_0"> 智能</label>&nbsp;
<input type="radio" name="fields" value="1" id="fd_1"  {if $fields==1} checked{/if}/><label for="fd_1"> 标题</label>&nbsp;
	</td>
<td  valign="middle">
{if $kw}
<script type="text/javascript">
Dd('z_kw').value="{$kw}";
</script>
{/if}
{$area_select}
<input type="submit" value="提交搜索" class="btn1 rad"/>
</td><td width="140" valign="middle"><input type="button" value="发布资质服务信息" class="btn2 rad" style="width:130px;"  onclick="Go('{$MODULE[2][linkurl]}my.php?mid=7&action=add');"/>	</td>
</tr></form>
</table>
														</dd>
															</dl>			