               <div class="webmenu">
						{php $menuy=" class='menuy'";}
						{php $menun=" class='menun'";}
			   <div class="youcan"><a href="{$MODULE[7][linkurl]}">资质服务网首页</a> </div>
						<div  class="webmenulist" id="mini-dropdown-2">
						<ul class="dropdown" id="nav">
						<li id="xcatsl" {$menun}> <a href="javascript:void(0)" class="mou_i wcolor f14">资质服务分类&nbsp;∨</a>
						{php $tagss = tag("moduleid=7&table=category&fields=catid,catname,style,item&condition=moduleid=7 and parentid=0&pagesize=30&order=listorder ASC&template=null")}
						{if !$listpage}
						{php $listpage='list';}
						{/if}
						<ul>
						{loop $tagss $i $t}
						<li><a href="{$MODULE[7][linkurl]}{rewrite($listpage.'.php?typeid=99&catid='.$t[catid])}">与  {set_style($t[catname],$t[style])}  相关({$t[item]})</a></li>
						{/loop}
						</ul>
						</li>
						<li id="xcatsl" {$menun}><a herf="javascript:void(0)" class="mou_i wcolor f14">服务信息&nbsp;∨</a>
							<ul>
								<li><a href="{$MODULE[7][linkurl]}search.php?stype=0&catid={$catid}">寻求资质服务</a></li>
								<li><a href="{$MODULE[7][linkurl]}search.php?stype=1&catid={$catid}">提供资质服务</a></li>
								<li><a href="{$MODULE[7][linkurl]}{rewrite('search.php?stype=1&catid='.$catid)}">推荐资质服务</a></li>
							</ul>
						</li>
						{php $tb = $db->count($DT_PRE.'quote', "status=3 and stype=0 and level = 2", 60);}
						<li id="xcatsl" {$menun}><a herf="javascript:void(0)" class="mou_i wcolor f14">招标服务&nbsp;∨</a>
							<ul>
								<li><a href="{$MODULE[7][linkurl]}{rewrite('search.php?stype=0&catid='.$catid.'&level=2')}" title="有{$tb}条可以参加投标！">招标信息</a></li>
								<li><a href="{$MODULE[2][linkurl]}my.php?mid=7&action=add" target="_blank">我也要招标</a></li>
							</ul>
						</li>
						{php $menu = tag("table=category&condition=moduleid=27 and parentid=0 and level=1&order = listorder asc&template=null&debug=0")}
						{loop $menu $m $u}
						{if $u[child] == 0}
						<li {if $catid==$u[catid]}{$menuy}{else}{$menun}{/if}><a href="{$MODULE[30][linkurl]}{$u[linkurl]}">{$u[catname]}</a></li>
						{else}
						<li id="xcatsl" {$menun}><a herf="javascript:void(0)" class="mou_i wcolor f14">{$u[catname]}&nbsp;∨</a>
							<ul>
							{php $sun =tag("table=category&condition=moduleid=27 and parentid = ".$u[catid]."&order = listorder asc&template=null&debug=0")}
							{loop $sun $s $n}
								<li><a href="{$MODULE[27][linkurl]}{$n[linkurl]}">{$n[catname]}</a></li>
							{/loop}
							</ul>
						</li>
						{/if}
						{/loop}
						</ul>
						</div>
				<div class="webmem"><ul id="mstatus"><li><img src="{DT_SKIN}image/loadb.gif" style="padding-top:5px;"></li></ul>
				<span id="joinusto" class="hd"></span>
				</div>
               </div>

<script type="text/javascript">
$(function(){
    $('#mini-dropdown-2 .dropdown').miniDropdown({
      animation: 'slide', 
      show: 100,
      hide: 100,
      delayIn: 100,
      delayOut: 100
    });
});
</script>
