{php $sitemenu='xinxi';$listpage='search';}
{template 'header'}</div></div>
<style type="text/css">
	#webbodycontent{display:none}
</style>
<div class="autoheight" style="background: url('{DT_SKIN}/image/quote/bg.png');">
<div class="webw">{template 'lay','tag'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="autoheight grayb whitebg">
								
															<dl class="options">
															<dt>信息分类：</dt>
															<dd><a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order={$_REQUEST['order']}"class=" {if !$catid}opyes wcolor{else}color{/if}">全部</a>
						{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
						{loop $tagss $i $t}<a href="{$MOD[linkurl]}{rewrite($listpage.'.php?catid='.$t[catid].'&stype='.$stype.'&order='.$_REQUEST['order'])}" class=" {if $catid==$t[catid]}opyes wcolor{else}color{/if}">{set_style($t[catname],$t[style])} <i>({$t[item]})</i></a>{/loop}	
															</dd>
															</dl>
															<dl class="options">
															<dt>排列顺序：</dt>
															<dd><a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=0" class=" {if $_REQUEST['order']==0}opyes wcolor{else}color{/if}">默认排序</a>
															<a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=1" class=" {if $_REQUEST['order']==1}opyes wcolor{else}color{/if}">按相似度排序</a>
															<a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=2" class=" {if $_REQUEST['order']==2}opyes wcolor{else}color{/if}">按发布从新到老</a>
															<a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=3" class=" {if $_REQUEST['order']==3}opyes wcolor{else}color{/if}">按发布从老到新</a>
															<a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=4" class=" {if $_REQUEST['order']==4}opyes wcolor{else}color{/if}">按人气从高到低</a>
															<a href="{$MOD[linkurl]}search.php?catid={$catid}&stype={$stype}&order=5" class=" {if $_REQUEST['order']==5}opyes wcolor{else}color{/if}">按人气从低到高</a>
															</dd>
															</dl>
															{template 'form', $module}
<div class="divline graybg"></div>
<div class="autoheight whitebg pd10">
				<div class="listleft autoheight ">

							{if $tags}
	{template 'list-'.$module, 'tag'}
		{else}
		{template 'noresult', 'message'}
		{/if}


				</div>
				<div class="listright autoheight graybg">
					{template 'right', $module}	
				</div>

<div class="divline"></div>
</div>
{template 'footer'}