<table cellpadding="3" cellspacing="0">
	<form action="{$MOD[linkurl]}search.php">	
				<tr>
				<td width=280 align='left'>
				</td>
				<td width=400 align='right'>
{$order_select}&nbsp;			
			{if $list == 2}
			<img src="{DT_SKIN}image/list_txt_on.gif" width="16" height="16" alt="文字列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_txt.gif" width="16" height="16" alt="文字列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=2')"/>&nbsp;
			{/if}
			{if $list == 1}
			<img src="{DT_SKIN}image/list_img_on.gif" width="16" height="16" alt="图片列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_img.gif" width="16" height="16" alt="图片列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=1')"/>&nbsp;
			{/if}
			{if $list == 0}
			<img src="{DT_SKIN}image/list_mix_on.gif" width="16" height="16" alt="图文列表" align="absmiddle"/>&nbsp;
			{else}
			<img src="{DT_SKIN}image/list_mix.gif" width="16" height="16" alt="图文列表" align="absmiddle" class="c_p" onclick="Go(sh+'&list=0')"/>&nbsp;
			{/if}
	</td>
	<td width=80>
	<input type="submit" value="立刻筛选" class="submit">
	</td>
		  </tr>
				</form> 
				</table>
			