{php $head_css = [DT_SKIN.'tc.list.base.css',DT_SKIN.'tc.gongxiang.list.css'];}
{php $footer_js = [DT_PATH.'file/script/internalLink.js']}
{template 'module-header'}

<!--shared-wrap-->
<div class="shared-wrap">
    <div class="w1200 box-center">
        <!--crumb-->
        <div class="crumb">
            <a href="{DT_PATH}" title="天成医疗网">天成医疗网首页</a><span>&gt;</span>
            <a href="{$MODULE[15]['linkurl']}" title="医疗资料免费下载">共享</a>
            {if $catid}
            <span>&gt;</span>
            <a href="{$MODULE[15]['linkurl']}{down_rewrite(['catid'=>$catid])}">{$CAT[$catid]}</a>
            {/if}
        </div>
        <!--crumb end-->

        <!--selector-->
        {php $cat_title = empty($catid) ? '医疗' : $CAT[$catid];}
        {php $fileext_title = empty($fileext) ? '资料' : $FILEEXT[$fileext];}
        
        <div class="selector">
            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>下载分类：</span>
                </div>
                <div class="sl-value">
                    <ul class="sl-v-list sl-v-list-qixie">
                    {php $cat_selector = $selector;}
                    {php unset($cat_selector['catid']);}
                        <li {if empty($catid)}class="current"{/if}><a href="{$MODULE[15]['linkurl']}{down_rewrite($cat_selector)}" target="_self" title="医疗{$fileext_title}下载">全部</a></li>
                        {loop $CAT $k $v}
                        {php $cat_selector['catid'] = $k;}
                        <li {if $catid == $k}class="current"{/if}><a href="{$MODULE[15]['linkurl']}{down_rewrite($cat_selector)}" target="_self" title="{$v}{$fileext_title}下载">{$v}</a></li>
                        {/loop}
                    {php unset($cat_selector);}
                    </ul>
                </div>
            </div>
            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>文档格式：</span>
                </div>
                <div class="sl-value">
                    <ul class="sl-v-list sl-v-list-row2">
                    {php $ext_selector = $selector;}
                    {php unset($ext_selector['fileext'])}
                        <li {if empty($fileext)}class="current"{/if}><a href="{$MODULE[15]['linkurl']}{down_rewrite($ext_selector)}" title="{$cat_title}资料下载">不限</a></li>
                        {loop $FILEEXT $k $v}
                        {php $ext_selector['fileext'] = $k;}
                        <li {if $fileext == $k}class="current"{/if}><a href="{$MODULE[15]['linkurl']}{down_rewrite($ext_selector)}" title="{$cat_title}{$FILEEXT[$k]}下载">{$v}</a></li>
                        {/loop}
                    {php unset($ext_selector)}
                    </ul>
                </div>
            </div>
            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>精准搜索：</span>
                </div>
                <div class="sl-value">
                    <form class="search-frm" action="{$MODULE[15]['linkurl']}search.php">
                        <input type="hidden" name="catid" value="{$catid}">
                        <input type="hidden" name="downtype" value="{$downtype}" >
                        <input type="hidden" name="fileext" value="{$fileext}" >
                        <input type="hidden" name="order" value="{$order}" >
                        <input type="text" class="s-frm-input" name="kw" value="{$kw}">
                        <input type="submit" class="s-frm-submit tc-list-i" value="搜索">
                    </form>
                </div>
            </div>
        </div>
        <!--selector end-->

        <!--sort-tags-->
        <div class="sort-tags clearfix">
        {php $order_selector = $selector;}
            <div class="sort-item sort-item-down {if $order == 1 || empty($order)}current{/if} pull-left">
            	{php $order_selector['order'] = 1;}
                <a href="{$MODULE[15]['linkurl']}{down_rewrite($order_selector)}" target="_self" rel="nofollow">时间<i class="tc-list-i"></i></a>
            </div>
            <div class="sort-item sort-item-down {if $order == 2 }current{/if} pull-left">
            	{php $order_selector['order'] = 2;}
                <a href="{$MODULE[15]['linkurl']}{down_rewrite($order_selector)}" target="_self" rel="nofollow">人气<i class="tc-list-i"></i></a>
            </div>
            <div class="sort-item sort-item-down {if $order == 3}current{/if} pull-left">
           		{php $order_selector['order'] = 3;}	
                <a href="{$MODULE[15]['linkurl']}{down_rewrite($order_selector)}" target="_self" rel="nofollow">下载<i class="tc-list-i"></i></a>
            </div>
            {php unset($order_selecotr);}
        </div>
        <!--sort-tags end-->

        <!--shared-list-container-->
        {if $lists}
        <div class="shared-list-container clearfix">
		{loop $lists $k $v}
            <div class="shared-card pull-left">
                <div class="shared-card-img">
                    <a href="{$MODULE[15]['linkurl']}{$v['linkurl']}" target="_blank"><img class="shared-card-img" src="{$v['thumb']}" alt="{$v['title']}" onerror="this.src='{DT_SKIN}image/down/{$v[fileext]}_thumb.png'"></a>
                    <span class="shared-card-type">
                    {php $f = strtolower($v[fileext]);}
                    {$FILEEXT[$f]}</span>
                </div>
                <div class="shared-card-info">
                    <h3 class="shared-card-title"><a href="{$MODULE[15]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></h3>
                    <div class="shared-card-data">
                        <span><i class="s-i s-i-see"></i>{$v['hits']}</span>
                        <span><i class="s-i s-i-down"></i>{$v['download']}</span>
                    </div>
                </div>
                <div class="shared-card-ft clearfix">
                    <div class="shared-card-author pull-left">
                        <img class="shared-card-author-avatar" src="{useravatar($v[username],'large')}" >{$v['username']}
                    </div>
                    <div class="shared-card-time pull-right">{date('Y-m-d',$v['addtime'])}</div>
                </div>
            </div>
        {/loop}
        </div>
        {else}
        	{template 'empty-result','chip'}
        {/if}
       
        <!--shared-list-container end-->

        {pagination($page,$count['c'],$pagesize,$MODULE[15]['linkurl'].'search.php',$selector,'down_rewrite',$MODULE[15]['linkurl'])}




    </div>
</div>
<!--shared-wrap end-->
{$iLink}
{template 'footer2017'}