{php $head_css = [DT_SKIN.'tc.gongxiang.detail.css'];}
{php $footer_js = [DT_PATH.'file/script/down/tc.gongxiang.detail.js',DT_PATH.'file/script/internalLink.js'];}
{php $head_js = [DT_PATH.'file/script/config.js',DT_PATH.'file/script/common.js'];}
{template 'module-header'}

<!--shared-wrap-->
<div class="shared-wrap">
    <div class="shared-header">
        <div class="w1200 box-center clearfix">
            <div class="shared-header-main pull-left">
                <h1 class="shared-file-title">{$title}<i class="s-i s-i-{$fileext}"></i></h1>
                <p class="shared-file-info">
                    <a class="shared-file-type" href="{$MODULE[15]['linkurl']}{down_rewrite(['catid'=>$catid])}" target="_blank" title="{$CAT[$catid]}资料下载">{$CAT[$catid]}</a><span>/</span>{date('Y-m-d H:i',$addtime)}<span>/</span>{$filesize}{$unit}
                </p>
                <div class="shared-file-tool clearfix">
                    <div class="shared-file-share pull-left">
                        <div class="bdsharebuttonbox">
                            <a href="#" class="ami bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                            <a href="#" class="ami bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博</a>
                            <a href="#" class="ami bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                            <a href="#" class="ami bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                        </div>
                    </div>

                    <div class="shared-show-data pull-right">
                        <span class="shared-show-data-see" title="已有"><i class="s-i s-i-see"></i>{$hits}</span>
                        <span class="shared-show-data-line"></span>
                        <span class="shared-show-data-down"><i class="s-i s-i-down"></i>{$download}</span>
                    </div>
                </div>
            </div>
            <div class="shared-header-side shared-author pull-right">
                <div class="shared-author-avatar pull-left">
                    <img class="" src="{useravatar($username,'large')}">
                </div>
                <div class="shared-author-info pull-right">
                    <p class="shared-author-name text-overflow">{$username}</p>
                    
                    <p class="shared-author-contribution">已贡献了<em>{$owner_count['c']}</em>文件</p>
                    <a class="shared-author-btn" href="{$MODULE[2]['linkurl']}message.php?action=send&touser={$username}" rel="nofollow">发站内信给TA</a>
                </div>
            </div>
        </div>
    </div>

    <div class="shared-body w1200 box-center clearfix">
        <div class="shared-body-main pull-left">
            <div class="shared-file-content shared-card" id="content">
                {$content}
            </div>
            <div class="shared-card share-file-msg clearfix" id="downurl">
            	{if $_userid}
                <span class="share-file-msg-text pull-left">查看更多请直接下载，解压密码为本站域名 www.tecenet.com</span>
                <a href="{$MODULE[15]['linkurl']}down.php?auth={$auth}" class="share-file-msg-btn pull-right" rel="nofollow">点击下载</a>
                {else}
                <span class="share-file-msg-text pull-left"><a href="{DT_PATH}member/login.php" style="text-decoration:under-line" rel="nofollow">登录</a> 天成医疗网，可直接下载文件</span>
                {/if}
            </div>
            <div class="shared-file-comment shared-card">
            	<script>
            		module_id = 15;
            		item_id = {$itemid};
            	</script>
                {template 'comment', 'chip'}
            </div>
        </div>

        <div class="shared-body-side pull-right">
            <div class="shared-file-btn-area clearfix">
                <a class="shared-download-btn pull-left" href="#downurl" rel="nofollow">
                    <i class="s-i s-i-download"></i>
                    <span class="shared-download-txt">点击下载</span>
                    <span class="shared-download-msg">免费下载</span>
                </a>
                <a class="shared-upload-btn  pull-right" href="{$MODULE[2]['linkurl']}my.php?action=add&mid=15" target="_blank" rel="nofollow">
                    <i class="s-i s-i-upload"></i>
                    <span class="shared-upload-txt">上传文档</span>
                    <span class="shared-upload-msg">已有<em>{$count['c']}</em>个文件共享</span>
                </a>
            </div>
            <div class="shared-card">
                <div class="shared-card-head">
                    <span class="shared-card-head-text">贡献者文档推荐</span>
                </div>
                <div class="shared-card-body">
                    <div class="shared-recommend-list">
                    {loop getUserDownMsg($username) $k $v}
                        <a class="shared-recommend-item" href="{$MODULE[15]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">
                            <p class="shared-recommend-item-title text-overflow">{$v['title']}</p>
                            <p class="shared-recommend-item-info">
                                <span><i class="s-i s-i-rec-see"></i>{$v[hits]}</span>
                                <span><i class="s-i s-i-rec-down"></i>{$v['download']}</span>
                                
                            </p>
                        </a>
                    {/loop}
                    </div>
                </div>
            </div>

            <div class="shared-card">
                <div class="shared-card-head">
                    <span class="shared-card-head-text">猜你可能会喜欢</span>
                </div>
                <div class="shared-card-body">
                    <div class="shared-recommend-list">
                    {loop getHotDownMsg() $k $v}
                    <?php if($k > 4) break; ?>
                        <a class="shared-recommend-item" href="{$MODULE[15]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">
                            <p class="shared-recommend-item-title text-overflow">{$v['title']}</p>
                            <p class="shared-recommend-item-info">
                                <span><i class="s-i s-i-rec-see"></i>{$v[hits]}</span>
                                <span><i class="s-i s-i-rec-down"></i>{$v['download']}</span>
                                
                            </p>
                        </a>
                    {/loop}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--shared-wrap end-->
{$iLink}
{template 'footer2017'}