	<!-- 底部栏目开始 -->
									<div class="w980 h35 cut grayb linebg">
									<ul class="fmenu">
									<li ><a class="color" href="{$MODULE[1][linkurl]}">天成首页</a></li>
		<!--{tag("table=webpage&condition=item=1 and (level=1 or level=3)&areaid=$cityid&order=listorder&template=list-webpage")}-->
		
		<li ><a class="color" href="{$MODULE[1][linkurl]}sitemap/">网站地图</a></li>
		<li ><a class="color" href="{$MODULE[1][linkurl]}member/grade.php">会员权限</a></li>
		{if $EXT[guestbook_enable]} <li ><a class="color" href="{$EXT[guestbook_url]}">留言反馈</a></li>{/if}
		{if $EXT[ad_enable]} <li ><a class="color" href="{$EXT[ad_url]}">广告位招商</a></li>{/if}
		{if $EXT[gift_enable]} <li ><a class="color" href="{$EXT[gift_url]}">积分换礼</a></li>{/if}
		{if $EXT[poll_enable]} <li ><a class="color" href="{$EXT[vote_url]}">民意调查</a></li>{/if}
		<li ><a class="color" href="{$MODULE[1][linkurl]}link/">合作网站</a></li>
		
								
									</ul>
									</div>
<br class='clear'></div><!-- 白色区结束-->
<br class='clear'></div><!-- 固定宽度1003结束-->
<div class="foot">
								<div class="webw">
									<div class="xline nt nr nl"></div>
								<div class="copyright">
								{$DT[copyright]}<br>
								{if $DT[icpno]}网站工信部备案：<a  href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank">{$DT[icpno]}</a>{/if}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="display:none">{template 'analytics','include'} </span>
                                  <table>
                                  <tr>
									<td><img src='{DT_SKIN}image/flogo.jpg' alt="天成医疗网"></td>
                                  </tr>
                                  </table>
							
								 
								</div>
								</div>
</div>

<div id="fdkefu" class="fdkefu">
			
			<div class="zhiyin blueb" id="zhiyin"><input type="hidden" id="kefus" value='0'><iframe src='{DT_SKIN}image/spacer.gif' scrolling='auto' frameborder=0 width="250" height="140" id="helps" name="helps"></iframe><span>&nbsp;<a href="javascript:void(0)" onclick="Dd('mans').src='{DT_SKIN}image/kefu/0.gif';guanbi('zhiyin')" ><img src='{DT_SKIN}image/close.gif'></a></span></div><div class="mans"><a href="javascript:void(0)" onclick="Dd('mans').src='{DT_SKIN}image/kefu/2.gif';dakai('zhiyin');if(Dd('kefus').value==0){Dd('helps').src='/special/kefu.php'}" onmouseover="Dd('mans').src='{DT_SKIN}image/kefu/1.gif'" ><img src='{DT_SKIN}image/kefu/0.gif' id="mans" ></a></div>
</div>
<script>
if(screen.width>1024){
document.writeln("<div id=\"erwei\" class=\"erwei\"><img src=\"{DT_SKIN}image\/daangene.jpg\"><br>《达安人报》<br>darb2004<br><img src=\"{DT_SKIN}image\/erwei.jpg\"><br>天成医疗微信<br>tianchengyiliao<\/div>");}
</script>
<script type="text/javascript">show_task('{$destoon_task}');</script>
</body>
</html>









