{php $CSS = array('index', 'catalog');$ztitle='天成医疗网_专业医疗器械供求信息与医疗器械维修安装等技术服务平台';}
{template 'header'}
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/MSClass.js"></script>

<div class="w730 fl autoheight">
<div class="slide-banner">
	<div id="sliderbox">
		<ul class="slider" id="slider">
            <li><a href="{DT_PATH}about/sys.html" title="医学实验室项目招标&#10肇庆市某实验室装修设备和材料项目&#10清远某实验室配套设施采购项目&#10合肥某医院实验室配套安装工程&#10广州某技术公司实验室项目" ><img src="{DT_SKIN}image/banner/05.jpg"></a></li>
			<li><a href="{DT_PATH}about/13.html" title="现对中山大学达安基因股份有限公司ABI7500定量荧光检测系统日常维护保养服务公开招标，欢迎符合投标人资格要求、有提供服务能力的单位参加投标。一、招标服务的设备台数：50台。二、投标文件编制要求：按照投标文件编制规定。三、设备日常维护保养服务期限为1年。"><img src="{DT_SKIN}image/banner/02.jpg"></a></li>
			<li><a href="{DT_PATH}about/jobs.html" title="> 按国家规定五险一金绝对保障>上下班专线车接送> 周末双休,节假日例行> 足球\篮球\网球场\健身房一应俱全>午饭免费包你吃到饱>环境优美、空气清新、同事可爱"><img src="{DT_SKIN}image/banner/01.jpg"></a></li>
			<li><a href="{DT_PATH}about/7.html" title="医疗器械资质申办:&#10一.医疗器械服务范围与法规&#10二.医疗器械注册（国内注册）&#10三.医疗器械生产/经营许可证&#10四.医疗器械生产质量管理规范&#10五.ISO13485认证/FDA510K注册/欧洲CE认证&#10六.医疗器械临床试验等提供咨询、培训&#10七.进口医疗器械注册代理"><img src="{DT_SKIN}image/banner/03.jpg"></a></li>
			<li><a href="{DT_PATH}about/open.html" title="医疗器械/医疗设备销售招商项目:&#10①.只要你手头上有医疗器械的产品资源或者代理权。&#10②.或者你是有一定的业务经验。&#10③.你渴望从事医疗设备业务相关的工作。"><img src="{DT_SKIN}image/banner/04.jpg"></a></li>
			
		</ul>
	</div>
	<ul class="btn-slide" id="btn-slide">
	    <li><img src="{DT_SKIN}image/banner/05s.jpg">采购招标</li>
		<li><img src="{DT_SKIN}image/banner/02s.jpg">维修招标</li>
		<li><img src="{DT_SKIN}image/banner/01s.jpg">招贤纳士</li>
		<li><img src="{DT_SKIN}image/banner/03s.jpg">医疗资质申办</li>
		<li><img src="{DT_SKIN}image/banner/04s.jpg">招商加盟项目</li>
		
	</ul>
	<div class="slider-bg"></div>
</div>
<script>
new Marquee({
	MSClass:["sliderbox","slider","btn-slide"],
	Direction:0,
	Step:0.3,
	Width:730,
	Height:240,
	DelayTime:5,
	WaitTime:5,
	AutoStart:1
})
</script>
</div>
<div class="w240 fl ml10 autoheight">
<div class="youcan">
<h3>在本站您能做什么？<span>(永久免费开放)</span></h3>
<script type="text/javascript" src="{DT_PATH}special/mem.php?action=check"></script>
<ul>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/member/my.php?mid=9&resume=1" title="你是工程师,你想报名参加维修，必须先填这个"><strong>发布维修技术供应</strong><div>·你是工程师？你要报名参加维修？<br>先填技术供应.</div></a></li>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/member/my.php?mid=9&action=add" title="你有医疗设备要维修/安装/调试都,要找工程师,请点击！"><strong>发布维修需求信息</strong><div>有医疗设备需要维修？或有维修交易要结算？进入这里！</div></a></li>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/member/my.php?mid=16&action=add" title="发布医疗器械/医疗设备相关供应"><strong>发布产品相关供应</strong><div>·你是医疗设备生产厂商或经销商。<br>·免费发布产品信息</div></a></li>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/member/home.php" title="建设你的医疗器械在线网店"><strong>五星网店注册</strong><div>·您专有医疗器械展示推广平台。<br>·30套风格免费装修</div></a></li>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/member/my.php?mid=13&action=add" title="发布医疗器械品牌/厂商专有信息"><strong>发布厂商信息</strong><div>·建立单独专有厂商/品牌推广信息。<br>·谁先申请,谁管理。</div></a></li>
<li onmouseover="this.className='youcany'" onmouseout="this.className='youcann'" class="youcann"><a target="_blank" href="/about/7.html" title="申请医疗设备/器械相关资质产品报证服务"><strong>医疗资质申办服务</strong><div>·在线申请各种医疗相关报证服务。<br>·已120个案例成功。</div></a></li>
</ul>
</div>
</div>
<div class="divline"></div>
<div class="w240 fl mr10 autoheight">
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=idialog"></script>
<ul class="indexclass">
		<li id="lpro" class="lpro lclassn" onmouseover="leftselect('lpro')" onmouseout="closeselect('lpro')"><a href="javascript:msgdiv('医疗设备/器械分类','/sitemap/?type=mall')" title="医疗设备/器械分类">找医疗设备/器械/耗材</a>
		</li>
		<li id="lserver" class="lserver lclassn" onmouseover="leftselect('lserver')" onmouseout="closeselect('lserver')"><a href="javascript:msgdiv('技术服务需求分类','/sitemap/?type=job')" title="技术服务需求分类">找维修/找安装等信息</a></li>
		<li id="lgcs"  class="lgcs lclassn" onmouseover="leftselect('lgcs')" onmouseout="closeselect('lgcs')"><a href="javascript:msgdiv('技术工程师分类','/sitemap/?type=resume')" title="技术工程师分类">找技术工程师</a></li>
		<li id="lhome"  class="lhome lclassn" onmouseover="leftselect('lhome')" onmouseout="closeselect('lhome')"><a href="javascript:msgdiv('网店/厂家栏目分类','/sitemap/?type=home')" title="网店/厂家栏目分类">找网店/找厂家</a></li>
        <li id="lother"  class="lother lclassn" onmouseover="leftselect('lother')" onmouseout="closeselect('lother')"><a href="javascript:msgdiv('资讯/下载栏目分类','/sitemap/?type=other')" title="资讯/下载栏目分类">资讯/下载栏目分类</a></li>
</ul>
<script type="text/javascript">
function leftselect(id){
if(Dd(id).className==id+' lclassn'){
Dd(id).className=id+' lclassy';
}
}
function closeselect(id){
if(Dd(id).className==id+' lclassy'){
Dd(id).className=id+' lclassn';
}
}
</script>
<div class="count">
<h3>全站实时统计榜</h3>
<table cellpadding="0" cellspacing="0">
    <tr>
	<td height=25 width=118 align='left' valign='middle'>{php $num = $db->count($DT_PRE.'announce', "itemid>0", 60);}
	<a href="{$MODULE[1][linkurl]}announce" title="天成医疗网群内行情信息：{$num}条">群内行情：{$num}</a></td>
	<td width=118 >{php $num = $db->count($DT_PRE.'quote', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}quote" title="天成医疗网供求中心信息：{$num}条">推荐供求：{$num}</a></td>
	</tr>
    <tr>
	<td  height=25 align='left' valign='middle'>{php $num = $db->count($DT_PRE.'job', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}job/search-htm-action-job.html" title="医疗器械维修/安装/调试等服务需求信息：{$num}条">服务需求：{$num}</a></td>
	<td >{php $num = $db->count($DT_PRE.'resume', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}job/search-htm-action-resume.html" title="医疗器械技术服务工程师技术供应总计：{$num}位">工程师：{$num}</a></td>
	</tr>
	<tr  height=25 align='left' valign='middle'>
	<td >{php $num = $db->count($DT_PRE.'brand', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}brand/" title="医疗器械厂家/品牌：{$num}家">厂家品牌：{$num}</a></td>
	<td >{php $num = $db->count($DT_PRE.'mall', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}mall/" title="医疗器械/医疗设备供应信息：{$num}件">设备产品：{$num}</a></td>
	</tr>
	<tr>
	<td  height=25 align='left' valign='middle'>{php $num = $db->count($DT_PRE.'company', "groupid>5", 60);}
	<a href="{$MODULE[1][linkurl]}company/" title="医疗器械公司/医疗设备厂家：{$num}家">合作网店：{$num}</a></td>
	<td >{php $num = $db->count($DT_PRE.'article_21', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}article/" title="医疗器械行业资讯及最新文章：{$num}篇">文章资讯：{$num}</a></td>
	</tr>
	<tr>
	<td  height=25 align='left' valign='middle'>{php $num = $db->count($DT_PRE.'down', "status=3", 60);}
	<a href="{$MODULE[1][linkurl]}down/" title="医疗器械维修资料/医疗设备产品说明下载：{$num}篇">资料下载：{$num}</a></td>
	</tr>
	<tr>
	<td  height=25 align='left' valign='middle'>{php $num = $db->count($DT_PRE.'member', "groupid>4", 60);}
	{php $cu = $db->get_one("SELECT username AS username FROM ".$DT_PRE."member ORDER BY userid desc LIMIT 0,1");}
	<a href="{$MODULE[2][linkurl]}" title="加入天成医疗网！共有：{$num}名会员！">会员总计：{$num}名</a></td>
	<td><a href="{$MODULE[2][linkurl]}" title="加入天成医疗网！共有：{$num}名会员！新会员：{$cu['username']}">新近会员：{dsubstr($cu['username'],6,"..")}</a></td>
    </tr>
</table>
</div>
</div>
<div class="w730 fl autoheight">
<div class="blue"><div class="h4title">天成医疗网：24小时实时供求行情滚动板</div>
<span class="addus"><a href="{$MODULE[2][linkurl]}my.php?mid=7&action=add" title="发布您的医疗设备/医疗技术需求/医疗技术供应/在线交易"><img src='{DT_SKIN}image/add_job.gif' class="mid"><img src='{DT_SKIN}image/free.gif' class="mid"></a></span></div>
<div class="catalog grayb nt pd10 autoheight">	
<div class="qqun">
{php $num = $db->count($DT_PRE.'announce', "islink=0", 60);}
<h3>实时群内行情</h3>
<span class="mores"><a href='{$MODULE[1][linkurl]}announce' title="天成群内供应/二手/采购/求购信息"><img src='{DT_SKIN}image/more.jpg'></a></span>
<span style='float:left;margin-top:-35px;height:30px;'><a href="javascript:msgdiv('发布您的医疗设备/医疗技术需求/医疗技术供应/在线交易','/extend/announce_outside.php')"><img src='{DT_SKIN}image/fabu.gif'></a></span>
<div id="qunlist">
{php $lists = tag("moduleid=3&table=announce&condition=islink=0 and level>0&pagesize=20&order=edittime desc&template=null&debug=0")}
{loop $lists $k $v}
<div><a href="{if $v[islink]}{$v[linkurl]}{else}{$MODULE[1][linkurl]}announce/index.php?itemid={$v[itemid]}{/if}" target="_blank" class="{if $v[islink]}ocolor{else}bcolor{/if}"><img src="{DT_SKIN}image/msg.gif">&nbsp;<b class='f14'>{$v[title]}</b></a>-{dsubstr(strip_tags($v[content]),260, '..')}&nbsp;<img src="{DT_PATH}file/image/process_{get_process($v['fromtime'], $v['totime'])}.gif"/></div>
{/loop}
</div>
<script type="text/javascript">new Marquee(["qunlist"],1,0.1,420,320,20,2000,2000,1,3);</script>
		</div>
<div class="quote">
{php $num = $db->count($DT_PRE.'quote', "status=3", 60);}
<h3>推荐已验证供求信息</h3><span class="mores"><a href='{$MODULE[1][linkurl]}quote/search.php?catid=0' title="天成客服已经验证并推荐的行情"><img src='{DT_SKIN}image/more.jpg'></a></span>
{php $lists = tag("moduleid=7&condition=status=3&pagesize=13&order=edittime desc&template=null&debug=0&showcat=1")}
<ul>
{loop $lists $k $v}
<li>
 <span class='fr'>[{timetodate($v[edittime],2)}]</span><a href="{$v[linkurl]}" title="{$v[alt]}-{timetodate($v[edittime], 5)}" target='_blank' class="lenstr color f14 w180">{$v[alt]}</a></li>	
{/loop}
</ul>
		</div>
			<div class="divline"></div>
</div>
</div>
<div class="divline"></div>
		<div class="blue"><div class="h4title" title="全站推荐的医疗设备/整机、配件、耗材">最新推荐产品</div><span class="mores"><a href='{$MODULE[16][linkurl]}' title="更多医疗设备"><img src='{DT_SKIN}image/more.jpg'></a></span></div>
		<div class="grayb nt h560 cut pt10" id="buydiv">
			<div id="buylist" style="width:981px;height:240px;overflow:hidden">
			<dl class="prod">
			{php $tagt = tag("moduleid=16&condition=status=3 and vip>0 &pagesize=24&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $tagt $z $t}
					<dd class="fl"><a class="color" href="{$t[linkurl]}" title="医疗设备:{$t[alt]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=100 height=70 class='grayb'>
					<p class="price"><span>{if $t[groupid]==8}询价{else}{if $t[price]>0}¥{$t[price]}{else}<font >面议</font>{/if}{/if}</span></p>
					<p class="w90">{dsubstr($t[title],28,"..")}</p>
					</a></dd>
			{/loop}
			</dl>
		</div>
		</div>
<script type="text/javascript">new Marquee(["buydiv","buylist"],0,30,981,240,30,5000,5000,240)	;</script>
		<div class="divline"></div>
	  <div class='w238 fl mr10'>
		<div class="green"><div class="h4title">推荐签约厂家信息</div><span class="mores"><a href='{$MODULE[13][linkurl]}' title="签约医疗设备/医疗器械厂商信息"><img src='{DT_SKIN}image/more.jpg'></a></span></div>
		<div class="grayb nt pt5 autoheight">
			<ul class="brand autoheight">	
			{php $tagt = tag("moduleid=13&condition=status=3&areaid=$cityid&pagesize=18&order=pnum desc&template=null&debug=0&showcat=1")}			
		    {loop $tagt $z $t}															
			<li>
<a href="javascript:msgdiv('{$t[alt]}','{DT_PATH}brand/show.php?itemid={$t[itemid]}')" title="医疗设备厂家-{$t[alt]}" class="lenstr color"><img src='{$t[thumb]}' alt='{$t[alt]}' width="68" height="50" align="center" class="grayb"></a></li>
			{/loop}		
			</ul>
			<div class="divline"></div>
		</div>
	</div>
<div>
    <div class='w238 fl mr10'>
		<div class="blue"><div class="h4title">第三方网店人气排行</div><span class="mores"><a href='{$MODULE[4][linkurl]}' title="医疗设备在线交易第三方网店"><img src='{DT_SKIN}image/more.jpg'></a></span></div>
		<div class="grayb nt pt5">
			<ul class="rank_list comp">	
			{php $tagt = tag("moduleid=4&condition=username!='gztc' and groupid>5 and level>0 and catids<>''&areaid=$cityid&pagesize=10&order=vip desc,level desc&template=null&debug=0&showcat=1")}					
		    {loop $tagt $z $t}															
			<li> <span class="fr">[{$t[hits]}°C]</span>
<a href="{$t[linkurl]}" title="医疗设备企业:{$t[company]}" target='_blank' class="lenstr color">{$t[company]}</a></li>	
			{/loop}		
			</ul>
			<div id="comdiv">
			<div id="comlist" class="graybg pt5" style="height:130px;">
			<ul class="comp leftlist">	
			{php $tagt = tag("moduleid=4&condition=username!='gztc' and catids<>''&areaid=$cityid&pagesize=10&order=userid desc&template=null&debug=0&showcat=1")}
			{loop $tagt $z $t}														
			<li> <span class="fr">[{timetodate($t[addtime],2)}]</span>
<a href="{$t[linkurl]}" title="医疗设备企业:{$t[company]}" target='_blank' class="lenstr color">{$t[company]}</a></li>	
			{/loop}		
			</ul>
			</div>
			</div>
            <script type="text/javascript">new Marquee(["comdiv","comlist"],0,1,233,130,30,0,0)	;</script>
		</div>
	</div>
    <div class='w238 fl mr10'>
		<div class="blue"><div class="h4title">推荐技术服务信息</div><span class="mores"><a href='{$MODULE[9][linkurl]}' title="医疗设备维修/医疗器械维修信息"><img src='{DT_SKIN}image/more.jpg'></a></span></div>
		<div class="grayb nt pt5">
			<ul class="rank_list comp">	
			{php $tagt = tag("moduleid=9&condition=status=3 and level>0 and catid>0&areaid=$cityid&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}			
		    {loop $tagt $z $t}															
			<li> <span class="fr">[{$t[hits]}°C]</span>
<a href="{$t[linkurl]}" title="医疗设备维修-{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color  w160">{$t[title]}</a></li>
			{/loop}		
			</ul>
			<div id="sediv">
			<div id="selist" class="graybg pt5" style="height:130px;">
			<ul class="comp leftlist">	
			{php $tagt = tag("moduleid=9&condition=status=3&areaid=$cityid&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}
			{loop $tagt $z $t}														
			<li> <span class="fr">[{timetodate($t[addtime],2)}]</span>
<a href="{$t[linkurl]}" title="医疗设备维修-{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color  w160">{$t[title]}</a></li>
			{/loop}		
			</ul>
			</div>
			</div>
            <script type="text/javascript">new Marquee(["sediv","selist"],0,1,233,130,30,0,0)	;</script>
		</div>
	</div>
  <div class='w238 fl'>
		<div class="blue"><div class="h4title">推荐工程师信息</div><span class="mores"><a href='{$MODULE[1][linkurl]}job/search-htm-action-resume.html' title="医疗设备维修工程师/医疗器械维修工程师"><img src='{DT_SKIN}image/more.jpg'></a></span></div>
		<div class="grayb nt pt5">
			<ul class="rank_list comp">	
			{php $tagt = tag("moduleid=9&table=resume&condition=status=3 and open=3 and catid>0&areaid=$cityid&pagesize=10&order=hits desc&template=null&debug=0&showcat=1")}			
		    {loop $tagt $z $t}															
<li><span class="fr">[{$t[hits]}°C]</span><a href="{$t[linkurl]}" title="医疗设备维修工程师:{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color  w160">{area_pos($t[areaid], '/', 2)}-{$t[truename]}</a></li>
			{/loop}		
			</ul>
			<div id="gcsdiv">
			<div id="gcslist" class="graybg pt5" style="height:130px;">
			<ul class="comp leftlist">	
			{php $tagt = tag("moduleid=9&table=resume&condition=status=3 and open=3 and catid>0&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}
			{loop $tagt $z $t}														
			<li> <span class="fr">[{timetodate($t[addtime],2)}]</span>
<a href="{$t[linkurl]}" title="医疗设备维修工程师:-{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color  w160">{area_pos($t[areaid], '/', 2)}-{$t[truename]}</a></li>
			{/loop}		
			</ul>
			</div>
			</div>
            <script type="text/javascript">new Marquee(["gcsdiv","gcslist"],0,1,233,130,30,0,0)	;</script>
		</div>
	</div>
<div class="divline"></div>
</div>
<div class="indexm">
<ul style="margin-left:6px;padding-top:5px;"><div style="padding:1px;width:213px;margin-bottom:10px;" class="grayb">
<!--{tag("moduleid=21&condition=status=3 and level>0 and thumb!=''&areaid=$cityid&order=edittime desc&pagesize=5&width=213&height=195&target=_blank&template=slide")}--></div>
<li style="background:none"> <span class="fr"><a href="{$MODULE[1][linkurl]}article/" title="更多医疗设备器械行业的热点图文信息">更多热点图文信息</a></span></li></ul>

<ul>
{php $tagt = tag("moduleid=21&condition=status=3 and level>0 and catid>0&areaid=$cityid&pagesize=".$DT['page_news']."&order=edittime desc&template=null&debug=0&showcat=1")}
{loop $tagt $z $t}
<li> <span class="fr mr10">{timetodate($t[edittime],2)}</span>
<a href="{$t[linkurl]}" title="医疗资讯-{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color w160">{$t[title]}</a></li>
{/loop}
<li style="background:none"> <span class="fr"><a href="{$MODULE[1][linkurl]}article/" title="更多医疗设备器械行业的新闻,政策动向">更多医疗行业资讯</a></span></li>
</ul>

<ul>
<li>暂时无数据</li>
</ul>
<ul>
{php $tagt = tag("moduleid=15&condition=status=3 and catid>0&areaid=$cityid&pagesize=".$DT[page_down]."&order=edittime desc&template=null&debug=0&showcat=1")}
{loop $tagt $z $t}
<li><span class="fr mr10">{timetodate($t[edittime],2)}</span>
 <a href="{$t[linkurl]}" title="医疗维修资料下载-{$t[catname]}-{$t[title]}" target='_blank' class="lenstr color w160">{$t[title]}</a></li>
{/loop}
<li style="background:none"> <span class="fr"><a href="{$MODULE[1][linkurl]}down/" title="更多医疗维修资料下载">更多医疗维修资料</a></span></li>
</ul>
</div>
<div class="blue"><div class="h4title" title="医疗设备合作厂商/医疗技术服务合作单位">合作网站   友情链接请联系 QQ:2485912228 </div>  <span class="mores"><a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}" title="申请加入合作网站">申请加入</a></span></div>
<div class="grayb nt link">
	{if $DT[page_logo]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb<>'' and username=''&areaid=$cityid&pagesize=".$DT['page_logo']."&order=listorder asc,itemid desc&template=list-link&cols=9")}-->
	{/if}
	{if $DT[page_text]}
	<!--{tag("table=link&condition=status=3 and level>0 and thumb='' and username=''&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder asc,itemid desc&template=list-link&cols=9")}-->
	{/if}
</div>

{template 'footer'}