{template 'header', $memberpath}
<style>
.tl,.tb{border: 0;}
#tb1 tr td,.trl td{border-bottom: 1px dashed #ddd;}
</style>
<div class="menu">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td class="tab" id="add"><a href="?action=add"><span>发起投票</span></a></td>
			{if $_userid}
			<td class="tab_nav">&nbsp;</td>
			<td class="tab" id="s3"><a href="vote.php?status=3"><span>投票管理<span class="px10">({$nums[3]})</span></span></a></td>
			<td class="tab_nav">&nbsp;</td>
			<td class="tab" id="s2"><a href="vote.php?status=2"><span>审核中<span class="px10">({$nums[2]})</span></span></a></td>
			<td class="tab_nav">&nbsp;</td>
			<td class="tab" id="s1"><a href="vote.php?status=1"><span>未通过<span class="px10">({$nums[1]})</span></span></a></td>
			<td class="tab_nav">&nbsp;</td>
			<td class="tab" id="s4"><a href="?action=update"><span>更新投票</span></a></td>
			{/if}
		</tr>
	</table>
</div>
<div class="tt">
<form method="post" action="?" id="dform" onsubmit="return check();">
	<input type="hidden" name="moduleid" value="{$moduleid}"/>
	<input type="hidden" name="file" value="{$file}"/>
	<input type="hidden" name="action" value="{$action}"/>
	<input type="hidden" name="itemid" value="{$itemid}"/>
	<input type="hidden" name="post[vv]" value="{$vv}"/>	
	<input type="hidden" name="post[status]" value="{$status}"/>
	<input type="hidden" name="post[s_num]" value="{$s_num}" id="s_num"/>
	<table cellpadding="2" cellspacing="1" class="tb" id="tb1">
		<tr>
			<td class="tl"><span class="f_red">*</span> 投票分类</td>
			<td><?php echo type_select('vote', 1, 'post[typeid]', '请选择分类', $typeid, 'id="typeid"');?> 
				<span id="dtypeid" class="f_red"></span></td>
		</tr>
		<tr>
			<td class="tl"><span class="f_red">*</span> 投票标题</td>
			<td><input name="post[title]" type="text" id="title" size="50" value="<?php echo $title;?>"/> <?php echo dstyle('post[style]', $style);?>&nbsp; <?php echo level_select('post[level]', '级别', $level);?> <span id="dtitle" class="f_red"></span></td>
		</tr>
		<tr>
			<td class="tl"><span class="f_red">*</span> 主题图</td>
			<td ><input name="post[thumb]" id="thumb" type="text" size="60" value="{$thumb}" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('thumb').value);" class="t">[上传]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="_preview(Dd('thumb').value);" class="t">[预览]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb').value='';" class="t">[删除]</a></td>
		</tr>
		<tr>
			<td class="tl"><span class="f_hid">*</span> 投票有效期</td>
			<td><?php echo dcalendar('post[fromtime]', $fromtime);?> 至 <?php echo dcalendar('post[totime]', $totime);?> 不填表示不限时间</td>
		</tr>
		<tr title="请保持时间格式">
			<td class="tl"><span class="f_hid">*</span> 添加时间</td>
			<td><input type="text" size="22" name="post[addtime]" value="<?php echo $addtime;?>"/></td>
		</tr>
		<?php if($DT['city']) { ?>
			<tr>
				<td class="tl"><span class="f_hid">*</span> 地区(分站)</td>
				<td><?php echo ajax_area_select('post[areaid]', '请选择', $areaid);?></td>
			</tr>
		<?php } ?>
		<tr style="display:none;">
			<td class="tl"><span class="f_hid">*</spMMan> 链接至</td>
			<td><input name="post[linkto]" type="text" id="linkto" size="50" value="<?php echo $linkto;?>"/></td>
		</tr>
		<tr>
			<td class="tl"><span class="f_hid">*</span> 投票说明</td>
			<td><textarea name="post[content]" id="content" class="dsn"><?php echo $content;?></textarea>
			<?php echo deditor($moduleid, 'content', 'Destoon', '98%', 350);?><span id="dcontent" class="f_red"></span>
			</td>
		</tr>
		<tr>
			<td class="tl"><span class="f_red">*</span> 投票类别</td>
			<td>
			<input type="radio" name="post[choose]" value="0" id="choose_0"<?php if(!$choose) echo ' checked';?> onclick="Dh('vote_num');"/><label for="choose_0"> 单选</label>
			<input type="radio" name="post[choose]" value="1" id="choose_1"<?php if($choose) echo ' checked';?> onclick="Ds('vote_num');"/><label for="choose_1"> 多选</label>
			</td>
		</tr>

		<tr id="vote_num" style="display:<?php echo $choose ? '' : 'none';?>">
			<td class="tl"><span class="f_red">*</span> 必选数量</td>
			<td>
			<input name="post[vote_min]" type="text" id="vote_min" size="5" value="<?php echo $vote_min;?>"/>
			至
			<input name="post[vote_max]" type="text" id="vote_max" size="5" value="<?php echo $vote_max;?>"/>
			</td>
		</tr>
		<tr>
			<td class="tl"><span class="f_red">*</span> 显示投票结果</td>
			<td>
			<input type="radio" name="post[v_show]" value="1" id="v_show_1"<?php if($v_show) echo ' checked';?> /><label for="v_show_1"> 是</label>
			<input type="radio" name="post[v_show]" value="0" id="v_show_0"<?php if(!$v_show) echo ' checked';?> /><label for="v_show_0"> 否</label>			
			</td>
		</tr>
		<tr>
			<td class="tl"> 奖项设置</td>
			<td>
				<?php for ($i=1; $i <= 3; $i++) { ?>
					<input type="text" placeholder="如：{$i} 等奖" name="post[j{$i}]" value="{$j_arr[$i-1]}"/>
					<input type="text" placeholder="如：Apple iPhone 6s plus" name="post[x{$i}]" value="{$x_arr[$i-1]}" size="30"/></br>
				<?php } ?>
			</td>
		</tr>
		<tr>
			<td class="tl"> 奖项说明</td>
			<td>
				<input type="text" name="post[j_explain]" value="{$j_explain}" placeholder="如：该活动解释权归本公司所有" size="100"/>
			</td>
		</tr>

	</table>
	<table class="tb" id="tab">
		<?php for($i=1;$i<=$s_num;$i++) { $s = 's'.$i; $p = 'p'.$i; ?>
			<tr>
				<td class="tl" style="width:10%;"> 投票主题<?php echo $i;?></td>
				<td style="width:70%;">
					<input name="post[s{$i}]" type="text" id="s{$i}" size="50" value="{$s_arr[$i-1]}"/>&nbsp;&nbsp;
					<span class="tl">选项图{$i}</span><input name="post[p{$i}]" id="thumb{$i}" type="text" size="40" value="{$p_arr[$i-1]}"/>&nbsp;&nbsp;
					<span onclick="Dthumb({$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb{$i}').value, true, 'thumb{$i}');" class="jt">[上传]</span>&nbsp;&nbsp;
					<span onclick="_preview(Dd('thumb{$i}').value);" class="jt">[预览]</span>&nbsp;&nbsp;
					<span onclick="Dd('thumb{$i}').value='';" class="jt">[删除]</span>	
				</td>						
			</tr>
			<tr class="trl">
				<td class="tl">说明</td>				
				<td><textarea placeholder="限80字以内" style="height:35px;width:70%;" name="post[e<?php echo $i;?>]" type="text" id="e<?php echo $i;?>"><?php echo $e_arr[$i-1];?></textarea></td>
			</tr>
		<?php } ?>
		</table>
	<div class="sbt">
		<input type="button" id="but" value="增加选项" class="btn2"/>&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	<div class="sbt">

		<input type="submit" name="submit" value=" 确 定 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;
		<input type="reset" name="reset" value=" 重 置 " class="btn"/>
	</div>
</form>
</div>
<?php load('clear.js'); ?>
<script type="text/javascript">
	$(document).ready(function(){       
        //增加
        $("#but").click(function(){
            var _len = $("#tab tr").length/2+1; 
            $("#s_num").val(_len);
            $("#tab").append("<tr id="+_len+">"
                                +"<td class='tl'> 投票主题"+_len+"</td>"
                                +"<td><input name='post[s"+_len+"]' type='text' class='inputtext' id='s"+_len+"' size='50' value=''/>&nbsp;&nbsp;<span class='tl'>选项图"+_len+"</span><input name='post[p"+_len+"]' id='thumb"+_len+"' type='text' class='inputtext' size='40' value=''/>&nbsp;&nbsp;<span onclick=\"Dthumb(<?php echo $moduleid;?>,0,0, Dd('thumb"+_len+"').value,true,'thumb"+_len+"');\" class='jt'>[上传]</span>&nbsp;&nbsp;<span onclick=\"_preview(Dd('thumb"+_len+"').value);\" class='jt'>[预览]</span>&nbsp;&nbsp;<span onclick=\"Dd('thumb"+_len+"').value='';\" class='jt'>[删除]</span></td>"
                            +"</tr>"
                            +"<tr id='sm"+_len+"' class='trl'>"
								+"<td class='tl'>说明</td>"
								+"<td><textarea style='height:35px;width:70%;margin-right:50px;' name='post[e"+_len+"]' type='text' id='e"+_len+"'></textarea>"
								+"<a href='javascript:void(0);' onclick=\'deltr("+_len+")\'><img src='/member/image/delete.png' width='16' height='16' title='删除'></a></td>"
							+"</tr>");            
        })    
    })
	var deltr =function(index) {
       	var _len = $("#tab tr").length/2+1; 
       	$("#s_num").val(_len);
        $("tr[id='"+index+"']").remove();//删除当前行
        $("tr[id='sm"+index+"']").remove();
        for(var i=index+1,j=_len;i<j;i++) {
            
            var s_nextTxtVal = $("#s"+i).val();
            var p_nextTxtVal = $("#thumb"+i).val();
            var e_nextTxtVal = $("#e"+i).val();
            $("tr[id=\'"+i+"\']").replaceWith("<tr id="+(i-1)+">"
                                +"<td class='tl'> 投票主题"+(i-1)+"</td>"
                                +"<td><input name='post[s"+(i-1)+"]' type='text' class='inputtext' id='s"+(i-1)+"' size='50' value='"+s_nextTxtVal+"'/>&nbsp;&nbsp;<span class='tl'>选项图"+(i-1)+"</span><input name='post[p"+(i-1)+"]' id='thumb"+(i-1)+"' type='text' class='inputtext' size='40' value='"+p_nextTxtVal+"'/>&nbsp;&nbsp;<span onclick=\"Dthumb(<?php echo $moduleid;?>,0,0, Dd('thumb"+(i-1)+"').value,true,'thumb"+(i-1)+"');\" class='jt'>[上传]</span>&nbsp;&nbsp;<span onclick=\"_preview(Dd('thumb"+(i-1)+"').value);\" class='jt'>[预览]</span>&nbsp;&nbsp;<span onclick=\"Dd('thumb"+(i-1)+"').value='';\" class='jt'>[删除]</span></td>"
                            +"</tr>"); 
			$("tr[id=\'sm"+i+"\']").replaceWith("<tr id=sm"+(i-1)+" class='trl'>"
													+"<td class='tl'>说明</td>"
													+"<td><textarea style='height:35px;width:70%;margin-right:50px;' name='post[e"+(i-1)+"]' type='text' id='e"+(i-1)+"'>"+e_nextTxtVal+"</textarea>"
													+"<a href='javascript:void(0);' onclick=\'deltr("+(i-1)+")\'><img src='/member/image/delete.png' width='16' height='16' title='删除'></a></td>"
												+"</tr>");

        }    
        
    }
	function check() {
		var l;
		var f;
		f = 'typeid';
		l = Dd(f).value;
		if(l == 0) {
			Dmsg('请选择投票分类', f);
			return false;
		}
		f = 'title';
		l = Dd(f).value.length;
		if(l < 2) {
			Dmsg('标题最少2字，当前已输入'+l+'字', f);
			return false;
		}
		return true;
	}
</script>
<script type="text/javascript">c(1);</script>
<script type="text/javascript">s('mid_vote');m('add');</script>
{template 'footer', 'member'}