{php $head_css = [DT_SKIN.'gongying.css']}
{php $footer_js = [DT_PATH.'file/script/jquery.SuperSlide.2.1.1.source.js',DT_PATH.'file/script/sell/gongying.index.js'];}
{template 'module-header'}
<!--slider-wrap-->
<div class="slider-wrap">
    <div class="slider-box">
        <div class="bd">
            <ul>
                <li class="slider-li-1" style="background:url({DT_SKIN}image/sell/gongying-silder-1.png) center center no-repeat;">
                    <a target="_blank" href="{$MODULE[5]['linkurl']}demandadd.php?ref=ad&aid=gyIndex"></a>
                </li>
            </ul>
        </div>
    </div>

    <!--data-bar-->
    <div class="data-bar">
        <div class="data-bar-hd">平台数据统计</div>
        <div class="data-bar-bd">
            <div class="data-item">
            	{php $num = $sell->field('count(*) as c')->where(['status'=>3,'typeid'=>0])->one();}
                累计供应行情<em class="count">{number_format($num['c'],0,'.',',')}</em>条
            </div>
            <div class="data-item">
            	{php $num = $sell->field('count(*) as c')->where(['status'=>3,'typeid'=>1])->one();}
                累计求购行情<em class="count">{number_format($num['c'],0,'.',',')}</em>条
            </div>
            <div class="data-item">
            	{php $num = $db->get_one("select item from {$db->pre}category where catid = 1809");}
                累计器械设备<em class="count">{number_format($num['item'],0,'.',',')}</em>条
            </div>
            <div class="btn-area clearfix">
                <a class="btn-q" href="{$MODULE[5]['linkurl']}demandadd.php" target="_blank"><i class="tc-gy-i"></i>我有需求<strong>发布求购</strong></a>
                <a class="btn-g" href="{$MODULE[2]['linkurl']}my.php?action=add&mid=5&typeid=1" target="_blank"><i class="tc-gy-i"></i>我有商品<strong>发布供应</strong></a>
            </div>
        </div>
    </div>
    <!--data-bar end-->
</div>
<!--slider-wrap end-->

<!--announce-->
<div class="announce">
    <div class="w1200 box-center clearfix">
        <h2 class="pull-left"><i class="tc-gy-i"></i>最新发布</h2>
        <div class="announce-list pull-left">
            <div class="hd hidden"><ul><li></li></ul></div>
            <div class="bd">
                <ul>
                {php $sell_new_type1 = $sell->where(['status'=>3,'typeid'=>1])->order('itemid desc')->limit(0,6)->select();}
                {loop $sell_new_type1 $k $t}
                <li class="text-overflow">刚刚发布了<a href="{$MODULE[5]['linurl']}{$t['linkurl']}" target="_blank">{$t['title']}</a>的需求</li>
                {/loop}
                </ul>
            </div>

        </div>
    </div>
</div>
<!-- announce end -->

<!-- gy-wrap-->
<div class="gy-wrap">
    <!--热门需求-->
    <div class="hot-demand gy-module w1200 box-center">
        <div class="gy-module-hd">
            <span>热门需求</span>
        </div>
        <div class="gy-module-bd clearfix">
            <div class="main pull-right">
            {php $nowtime = strtotime(date('Y-m-d',time())); //当日0时时间戳}
            {php $hot_type1 = $sell->field('itemid,title,linkurl,catid,addtime,areaid,amount')->where(['typeid'=>1,'status'=>3])->where(['addtime'=>($nowtime-(3600*24*14))],'>')->limit(0,6)->order('hits desc')->select();}
            {loop $hot_type1 $k $t}
                <div class="item">
                    <div class="title">
                        <h3 class="text-overflow"><a title="{$t['title']}" href="{$MODULE[5]['linkurl']}{$t['linkurl']}" target="_blank">{$t['title']}</a></h3>
                    </div>
                    <ul class="param-list">
                        <li class="tag">
                            <span class="key"><i class="tc-gy-i"></i>需求分类：</span>
                            <span class="val"><a href="{$MODULE[5]['linkurl']}{sell_rewrite(['catid'=>$t['catid'],'typeid'=>1])}" title="全国{$CATEGORY[$t['catid']]}需求">{$CATEGORY[$t['catid']]}</a></span>
                        </li>
                        <li class="date">
                            <span class="key"><i class="tc-gy-i"></i>发布时间：</span>
                            <span class="val"> {date('Y/m/d',$t['addtime'])}</span>
                        </li>
                        <li class="local">
                            <span class="key"><i class="tc-gy-i"></i>所在地区：</span>
                            <span class="val"><a href="{$MODULE[5]['linkurl']}{sell_rewrite(['areaid'=>$t['areaid'],'typeid'=>1])}" title="{$AREA[$t['areaid']]['areaname']}医疗器械需求" >{$AREA[$t['areaid']]['areaname']}</a></span>
                        </li>
                        <li class="num">
                            <span class="key"><i class="tc-gy-i"></i>采购数量：</span>
                            <span class="val"><?php if(!empty($t['amount'])){ echo $t['amount']; }else{echo '详谈'; } ?></span>
                        </li>
                    </ul>
                </div>
            {/loop}
            </div>
            <div class="side pull-left">
                <h2>热门需求</h2>
                <a class="btn" href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>1])}" target="_blank">查看更多</a>
            </div>
        </div>
    </div>
    <!--热门需求 end-->

    <div class="w1200 box-center clearfix">
    {php $hot_count = 0;}
    {php $border_color = [1809=>'#ffac13',1810=>'#83c44e',1811=>'#2196f3'];}
    {loop $CATEGORY $ck $ct}
        <!--{$ct}需求-->
        <div class="gy-card {if $ck == 1811}pull-right{else}pull-left{/if}" style="border-top: 1px solid {$border_color[$ck]};{if $ck == 1810}margin-left:30px;{/if}">
            <div class="gy-card-hd">
                <h2>{$ct}需求</h2>
            </div>
            <div class="gy-card-bd">
            {php $hot_type1 = $sell->field('itemid,title,linkurl,addtime,areaid')->where(['typeid'=>1,'status'=>3,'catid'=>$ck])->where(['edittime'=>($nowtime-(3600*24*14))],'>')->limit(0,4)->order('hits desc')->select();}
            {loop $hot_type1 $k $t}
                <div class="item">
                    <div class="title">
                        <h3 class="text-overflow"><a  title="{$t['title']}" href="{$MODULE[5]['linkurl']}{$t['linkurl']}" target="_blank">{$t['title']}</a></h3>
                    </div>
                    <ul class="param-list clearfix">
                        <li class="date">
                            <span class="key"><i class="tc-gy-i"></i>发布时间：</span>
                            <span class="val"> {date('Y/m/d',$t['addtime'])}</span>
                        </li>
                        <li class="local">
                            <span class="key"><i class="tc-gy-i"></i>所在地区：</span>
                            <span class="val"><a href="{$MODULE[5]['linkurl']}{sell_rewrite(['areaid'=>$t['areaid'],'typeid'=>1])}" title="{$AREA[$t['areaid']]['areaname']}医疗器械需求" >{$AREA[$t['areaid']]['areaname']}</a></span>
                        </li>
                    </ul>
                </div>
            {/loop}
            </div>
            <div class="gy-card-ft">
                <a href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>1,'catid'=>$ck])}" target="_blank" class="more-btn">查看更多</a>
            </div>
        </div>
        <!--{$ct}需求 end-->
        <?php if($hot_count++ > 1) break; ?>
    {/loop}
    </div>


    <!--热门供应-->
    <div class="hot-supply gy-module w1200 box-center">
        <div class="gy-module-hd">
            <span class="pull-left">热门供应</span>
            <div class="slider-btn pull-right">
                <a href="javascript:;" class="prev"><i class="tc-gy-i"></i></a>
                <a href="javascript:;" class="next"><i class="tc-gy-i"></i></a>
            </div>
            <ul class="hidden"><li></li></ul>
        </div>
        <div class="gy-module-bd clearfix">
            <div class="main pull-right">
                <ul>
                {php $hot_type0 = $sell->field('itemid,title,linkurl,price,minamount,unit,thumb')->where(['typeid'=>0,'status'=>3])->where(['edittime'=>($nowtime-(3600*24*14))],'>')->limit(0,6)->order('hits desc')->select();}
                {loop $hot_type0 $k $t}
                    <li>
                        <div class="item">
                            <a href="{$MODULE[5]['linkurl']}{$t['linkurl']}"><img src="{str_replace('.thumb.', '.middle.', $t['thumb'])}" alt="{$t['title']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-md-4-3.png';"></a>
                            <div class="info">
                                <h3 class="text-overflow"><a title="{$t['title']}" href="{$MODULE[5]['linkurl']}{$t['linkurl']}">{$t['title']}</a></h3>
                                <ul>
                                    <li>价格要求：<?php if(empty($t['price']) || (int)($t['price']) == 0){ echo '<span>面议</span>';}else{ echo $t['price'];} ?></li>
                                    <li>{$minamount} {$unit}</li>
                                </ul>
                            </div>
                            <a href="{$MODULE[5]['linkurl']}inquiry.php?itemid={$t['itemid']}" target="_blank" class="btn">发送咨询</a>
                        </div>
                    </li>
                 {/loop}
                </ul>
            </div>
            <div class="side pull-left">
                <h2>热门供应</h2>
                <a class="btn" href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>0])}" target="_blank">查看更多</a>
            </div>
        </div>
    </div>
    <!--热门供应 end-->


    <div class="w1200 box-center clearfix">
    {php $hot_count = 0;}
    {php $border_color = [1809=>'#ffac13',1810=>'#83c44e',1811=>'#2196f3'];}
    {loop $CATEGORY $ck $ct}
        <!--{$ct}供应-->
        <div class="gy-card {if $ck == 1811}pull-right{else}pull-left{/if}" style="border-top: 1px solid {$border_color[$ck]};{if $ck == 1810}margin-left:30px;{/if}">
            <div class="gy-card-hd">
                <h2>{$ct}供应</h2>
            </div>
            <div class="gy-card-bd">
            {php $hot_type0 = $sell->field('itemid,title,linkurl,price,minamount,unit,thumb')->where(['typeid'=>0,'status'=>3,'catid'=>$ck])->where(['edittime'=>($nowtime-(3600*24*14))],'>')->limit(0,4)->order('hits desc')->select();}
            {loop $hot_type0 $k $t}
                <div class="supply-card clearfix">
                    <div class="supply-card-img pull-left">
                        <a href="{$MODULE[5]['linkurl']}{$t['linkurl']}"><img src="{str_replace('.thumb.', '.middle.', $t['thumb'])}" alt="{$t['title']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-sm-4-3.png';"></a>
                    </div>
                    <div class="supply-card-txt pull-right">
                         <h3 class="text-overflow"><a title="{$t['title']}" href="{$MODULE[5]['linkurl']}{$t['linkurl']}">{$t['title']}</a></h3>
                         <ul>
                         	<li>价格要求：<?php if(empty($t['price']) || (int)($t['price']) == 0){ echo '<span>面议</span>';}else{ echo $t['price'];} ?></li>
                         	<li>{$minamount} {$unit}</li>
                         </ul>
                    </div>
                </div>
            {/loop}
            </div>
            <div class="gy-card-ft">
                <a href="{$MODULE[5]['linkurl']}{sell_rewrite(['catid'=>$ck,'typeid'=>0])}" target="_blank" class="more-btn">查看更多</a>
            </div>
        </div>
        <!--{$ct} end-->
        <?php if($hot_count++ > 1) break; ?>
    {/loop}
        </div>
    <!--layout-->
    <div class="layout links-layout">
        <div class="links-hd">友情链接：</div>
        <div class="links-bd">
        	{php $tagt = tag("table=link&condition=status=3 and link_moduleid=5&pagesize=10&order=listorder asc,itemid desc&template=null")}
        	{loop $tagt $k $t}
        	<a href="{$t[linkurl]}" title="{$t[alt]}" target="_blank">{$t[title]}</a>
        	{/loop}
            <a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}" class="apply-to" rel="nofollow">申请加入&gt;&gt;</a>
        </div>
    </div>
    <!--layout end-->


</div>
<!--gy-wrap end-->

{template 'footer2017'}