
			<dl class="dlhots autoheight graybg grayb">
			<dt class="gcolor f16 b">推荐{$MOD[name]}信息</dt>
			<dd class="pd5">
				 <ul class="tjxx">
					{php $tags = tag("moduleid=$moduleid&condition=status=3 and hits>50&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
					 {loop $tags $k $v}
					<li id='tjxxli{$k+1}'><i class="fl {if $k<3}gcolor {/if}" {if $k>8}style='font-size:16px;'{/if}>{$k+1}</i><div class="fl">
					<a href="{$v[linkurl]}" target="_blank" class="lenstr w200">{$v[alt]}</a>
					<p><span >{$v[catname]}</span><span class="ml10">{area_pos($v[areaid], '/', 2)}</span></p>
					</div>
					</li>
					{/loop}	

					<script type="text/javascript">
					var k=$(".tjxx li").length;Dd('tjxxli'+k).style.borderBottom='0px';
					$(".tjxx>li").hover(function () {$(this).addClass("whitebg"); }, function () {$(this).removeClass("whitebg"); });
					</script>
				
			    </ul>
			</dd>
			</dl><br class="clear">
<div>{ad(181)}</div>