{template 'title'}
{php $COM=userinfo($username);}
<body id="webmid{$moduleid}">
  <style type="text/css">
body{
	height:auto;
width:1333px;
	background-color:#313040;
	text-align:center;
}
				.userinfo li{border-bottom:1px dotted #eeeeee;}
				.userinfo li span{width:80px;text-align:left;text-indent:10px;}
				#contactinfo{width:430px;}
				.opensite{position:fixed;right: 0px;top:0px;z-index:100;}
  </style>
<div class="opensite"><A href="{$COM[linkurl]}"><img src="{DT_SKIN}image/blank.gif" width="106" height="146" style="background:url('{DT_SKIN}image/opensite.png');"></a></div>

						<div class='topmenubg'>
						<!--最顶部菜单-->
						<script type="text/javascript">topmenu(	{if $moduleid>2}{$moduleid}{else}1{/if})</script>
							{if !$teceid}
							<script type="text/javascript">Dd('tece{$moduleid}').className='welcomey';</script>
							{else}
							<script type="text/javascript">Dd('tece{$teceid}').className='welcomey';</script>
							{/if}
						</div>
<div class=" center autoheight">
		<div>
         {$content}
		 </div>









  <div class="autoheight center tc" id="contactus">
  <div class="webw">
   <div class="infotable ">
		<table cellpadding="0" cellspacing="0">
				<tr><td colspan=2>  <h2 class="h2">{$title}</h2></td></tr>
				<tr>
               <td  rowspan="5" valign="top" align="center">
			   <dl id="contactinfo">
			   <dd class="tl">
                   <ul class='userinfo'>
				   <li><span class="lenstr">发 布 者</span>{$truename}</li>
{if $areaid}<li><span  class="lenstr">所 在 地</span>{area_pos($areaid, ' ')}</li>{/if}
				   {if $mobile}<li><span  class="lenstr">手机号码</span>{anti_spam($mobile)}</li>{/if}
{if $email}<li><span  class="lenstr">Email邮箱</span>{anti_spam($email)}</li>{/if}
{if $telephone}<li><span  class="lenstr">电话号码</span>{anti_spam($telephone)}</li>{/if}
{if $fax}<li><span  class="lenstr">传真号码</span>{anti_spam($fax)}</li>{/if}
{if $qq}<li><span  class="lenstr">Q Q 号码</span>{if $qq && $DT[im_qq]}{im_qq($qq)}&nbsp;{/if}{anti_spam($qq)}</li>{/if}
{if $brand}<li><span  class="lenstr">品牌信息</span>{$brand}</li>{/if}
<li><span  class="lenstr">关注次数</span>{$hits}次</li>
{if $share||$username==$_username}
{if $n1 && $v1}<li><span  class="lenstr">{$n1}</span>{$v1}</li>{/if}
{if $n2 && $v2}<li><span  class="lenstr">{$n2}</span>{$v2}</li>{/if}
{if $n3 && $v3}<li><span  class="lenstr">{$n3}</span>{$v3}</li>{/if}
{/if}
<li><span  class="lenstr">单价/价格</span>{if $price>0}{$price}{$DT[money_unit]}/{$unit}{else}面议{/if}</li>
{if $minamount}<li><span  class="lenstr">起订基础</span>{$minamount} {$unit}</li>{/if}
{if $amount}<li><span  class="lenstr">供货总量</span>{$amount} {$unit}</li>{/if}
{if $days}<li><span  class="lenstr">发货期限</span>{$days}天</li>{/if}
				   </ul>
            </dd>
               </td>

              <td   valign="top" ID="bookinfo">
	<iframe src='{$MODULE[$moduleid][linkurl]}inquiry.php?itemid={$itemid}&stype=small' allowTransparency="true"  style="background-color:transparent" width=490 height="460" id='bookonline' frameborder=0 scrolling=no></iframe>	
				</td></tr>
</table>
</div>
</div>
		</div>
		<div class='divline'></div>
		</div>





{if $groupid>6}
<style type="text/css">
#kefu{position:fixed;right: 5px;bottom: 10px;z-index:100;border: 5px solid #e1e1e1;
    -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;}
</style>
<div id="kefu">

<script type="text/javascript" src="{DT_PATH}file/script/base64.js"></script>
<div style="width:200px;padding:2px 5px 2px 5px;background:#e1e1e1;height:38px;"><img src="{DT_SKIN}image/company/kefu.jpg"></div>
<div style="width:200px;padding:10px 5px 5px 5px;background:#fff;line-height:24px;font-size:13px;">
{if !$COM[contacts]}
		{if $telephone}
		{php $COM[contacts]='电话:'.$telephone.'<br>'.$COM[contacts];}
		{/if}
		{if $fax}
		{php $COM[contacts]='传真:'.$fax.'<br>'.$COM[contacts];}
		{/if}
		{if $email}
		{php $COM[contacts]='邮箱:'.$email.'<br>'.$COM[contacts];}
		{/if}
		{if $qq}
		{php $COM[contacts]='QQ:'.$qq.'<br>'.$COM[contacts];}
		{/if}
		{if $mobile}
		{php $COM[contacts]='手机:'.$mobile.'<br>'.$COM[contacts];}
		{/if}
{/if}
<script type="text/javascript">
document.write(utf8to16(base64decode('{php echo strencode(nl2br($COM[contacts]));}')));
</script>
	<div style="text-align:center"><input type="button" value="在线留言" 
	onclick="Go(' {userurl($username, 'file=contact', $domain)} ')" style="width:100px;text-align:center;padding:5px;">
	</div>
</div>
</div>
{/if}


{php $nokefu='true';}
{if !$nofooter}
{template 'footer'}
{/if}