
{template 'title'}
<body>
<style type="text/css">
	.rcolor{font-size:14px;color:red;}
</style>
<div class="autoheight pt5">
				<form method="post" action="{$MOD[linkurl]}inquiry.php" id="dform" onsubmit="return check();">
				<input type="hidden" name="forward" value="{$forward}"/>
				<input type="hidden" name="itemids" value="{$itemids}"/>

<style type="text/css">
	body{background-color:transparent}
</style>
<input type="hidden" name="urls" value="{$MOD[linkurl]}inquiry.php?itemid={$itemids}&stype=small"/>
<table>
<tr>
	<td class="w80 tc f14 b">咨询标题</td>
	<td><input type="text" name="title" value="{$title}" size="50" id="title" class="pd3"/><span class="rcolor">*</span><span class="ocolor" id="dtitle"></span></td>
</tr>
<tr>
	<td class="w80 tc f14 b">了解范围</td>
	<td>	{loop $itype $k $v}
				<label for="type_{$k}"><input type="checkbox" name="type[]" value="{$v}" id="type_{$k}"{if $k<5} checked{/if}/> {$v}</label>
				{/loop}</td>
</tr>
<tr>
	<td class="w80 tc f14 b">咨询内容</td>
	<td><textarea rows="5" name="content" id="content" style="padding:2px;width:380px;"></textarea><br/>
				我希望在 {dcalendar('date', $date)} 日前回复 <span class="ocolor" id="dcontent"></span><span class="rcolor">*</span></td>
</tr>
<tr>
	<td class="w80 tc f14 b">您的最近<br>联系方式</td>
	<td>			{if $_userid}
				<table cellpadding="0" cellspacing="1">
				<tr>
				<td>姓名：<span class="rcolor">*</span></td>
				<td><input value="{$truename}" name="truename" id="truename"></td>
			     </tr>
				 <tr>
				<td>公司：</td>
				<td><input value="{$company}" name="company" id="company"></td>
				</tr>
				<tr>
				<td>邮箱：<span class="rcolor">*</span></td>
				<td><input value="{$email}" name="email" id="email"></td>
				</tr>
				<tr>
				<td>电话：<span class="rcolor">*</span></td>
				<td><input value="{$telephone}" name="telephone" id="telephone"></td>
				</tr>
				<tr>
				<td>QQ：</td>
				<td><input value="{$qq}" name="qq" id="qq"></td>
				</tr>
				</table>
				{else}
				<table cellpadding="0" cellspacing="1">
				<tr>
				<td colspan="2">还不是会员，请 <a href="{$MODULE[2][linkurl]}{$DT[file_register]}" class="rcolor">注册</a> 或 请留下您的联系方式(有 <span class="ocolor">*</span> 的是必填项)：</b>已经是会员？请 <a href="{$MODULE[2][linkurl]}{$DT[file_login]}" class="rcolor ">登录</a></td>
				</tr>
				<tr>
				<td>姓名<span class="rcolor">*</span></td>
				<td><input type="text" name="truename"  id="truename" size=12/>公司<input type="text" name="company"  size="15" id="company"/><br/><span class="ocolor" id="dtruename"></span></td>
				</tr>
				<tr>
				<td>电话<span class="rcolor">*</span></td>
				<td><input type="text" name="telephone" size="12" id="telephone"/>邮箱<input type="text" name="email" size="15" id="email"/><br/><span class="ocolor" id="dtelephone"></span></td>
				</tr>
				<tr>
				<td >QQ </td>
				<td><input type="text" size="15" name="qq" id="qq"/></td>
				</tr>
				</table>
				{/if}
				</td>
				{if $need_captcha}
				<tr>
				<td  class="w80 tc f14 b"> 验证码<span class="rcolor">*</span></td>
				<td >{template 'captcha', 'chip'} <span id="dcaptcha" class="ocolor"></span></td>
				</tr>
				{/if}
				{if $need_question}
				<tr>
				<td  class="w80 tc f14 b"> 验证问题<span class="rcolor">*</span></td>
				<td>{template 'question', 'chip'} <span id="danswer" class="ocolor"></span></td>
				</tr>
				{/if}
				<tr>
				<td style="border-bottom:0px;" colspan=2 class="tc">
				{if $selfs}
				<input type="button"  value=" 不能提交！请不要给自己询价！ " />
				{else}
				<input type="submit" name="submit" value=" 提交{if $total==1}咨询内容{else}批量询价{/if} " />
				{/if}
				{if $MG[inquiry_limit]}
				&nbsp;&nbsp;&nbsp;今日可询价 <span class="f_b ocolor">{$MG[inquiry_limit]}</span> 次
				&nbsp;&nbsp;&nbsp;当前已询价 <span class="f_b">{$limit_used}</span> 次
				&nbsp;&nbsp;&nbsp;还可以询价 <span class="f_b f_blue">{$limit_free}</span> 次
				{/if}
				</td>
				</tr>
</table>




				</form>
				<script type="text/javascript">
				function check() {
					var l;
					var f;
					f = 'title';
					l = Dd(f).value.length;
					if(l < 5 || l > 50) {
						Dmsg('标题应为5-50字，当前已输入'+l+'字', f);
						return false;
					}
					f = 'content';
					l = Dd(f).value.length;
					if(l < 10 || l > 2000) {
						Dmsg('内容应为10-2000字，当前已输入'+l+'字', f);
						return false;
					}
					{if !$_userid}
					f = 'truename';
					l = Dd(f).value.length;
					if(l < 2) {
						Dmsg('请填写联系人', f);
						return false;
					}
					f = 'telephone';
					l = Dd(f).value.length;
					if(l < 7) {
						Dmsg('请填写联系电话', f);
						return false;
					}
					{/if}
					{if $need_captcha}
					f = 'captcha';
					l = Dd(f).value;
					if(!is_captcha(l)) {
						Dmsg('请填写正确的验证码', f);
						return false;
					}
					if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
						Dd(f).focus();
						return false;
					}
					{/if}
					{if $need_question}
					f = 'answer';
					l = Dd(f).value.length;
					if(l < 1) {
						Dmsg('请填写验证问题', f);
						return false;
					}
					if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
						Dd(f).focus();
						return false;
					}
					{/if}
				}
				</script>
		</div>
