<ul id="buylist{$id}">
{php if(strpos($TYPE,"|")!=0)$TYPE=explode('|',$TYPE);}
{loop $tags $k $t}
<li class="autoheight">
<dl>
<dt><a href="{$t[linkurl]}" target="_blank" class="bcolor" title="{$t[alt]}">{dsubstr($t[alt],66,"..")}</a><em class="em">(#{$t[itemid]})</em>
<span class="f12 hcolor">关注{$t[hits]}℃</span>
{if $t[validated]==1}<span class='f12 ocolor' title="本站客服已对其真实性进行验证"><img src="{DT_SKIN}image/shield.gif" class="mid"/>验证</span>{/if}
{if $t[level]>0}<span class='f12 ml10'>级别<img src="{DT_SKIN}image/vip_{$t[level]}.gif" class="mid" alt="推荐{$t[level]}级"/></span>{/if}
</dt>
<dd style="width:690px;">
<p>{$t[introduce]}</p>
<p><span ><a href="{$MODULE[6][linkurl]}{rewrite('search.php?typeid='.$t[typeid])}" class="ocolor">{$TYPE[$t[typeid]]}</a></span><span  class="ml10">{$t[catname]}</span><span class="ml10">发布时间 [{timetodate($t[edittime],2)}]&nbsp;<img src="{DT_PATH}file/image/process_{get_process($t['fromtime'], $t['totime'])}.gif" class="mid"/></span></p>
</dd>
<br class="clear"/>
</dl>
</li>
{/loop}	
</ul>
<script type="text/javascript">
$("#buylist{$id}>li").hover(function () {$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg"); });
</script>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}


