<ul id="{$module}list{$id}" class="buyul">
{php if(strpos($TYPE,"|")!=0)$TYPE=explode('|',$TYPE);}
											{loop $tags $z $t}
																<li class="whitebg cut autoheight">
																{if $t[thumb]}<div class="fl ml5  mr10"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'" src="{$t[thumb]}" width="95" height="85" class="thumb"/></a></div>{/if}
																<dl class="autoheight fl " style="width:{if $t[thumb]}540{else}655{/if}px;" >
																<dt class="mb5">
																<span class="fr mr10 f12 hcolor">{if $t[status]>3}
																[过期截止]
																{else}
																{if $t[totime]} [距离截止还有 {secondstodate($t[totime]-$DT_TIME)}]{else}长期有效{/if}
																{/if}</span>
																<span class="lenstr" style="width:{if $t[thumb]}420{else}580{/if}px;" ><a href="{$t[linkurl]}" target="_blank" class="f18 b" title="{$t[alt]}">{$t[title]}</a></span>
																</dt>
																<dd>
																		<div class='hcolor f12 lh18'>{if $t[buycode]}采购编号：{$t[buycode]}&nbsp;{/if}{$t[introduce]}</div>
																		<div><span>所在地区 {area_pos($t[areaid], '')}  &nbsp;&nbsp;信息分类 {$t[catname]}</span><span class="ml10">{timetodate($t[edittime],3)}</span><span class="fr mr10">{$t[hits]}人关注/{if $t[selitemid]}已选定，宣布结果{else}未选定，可参与{/if}</span></div>
																</dd>
																</dl>
																</li>
											{/loop}				
</ul>
<script type="text/javascript">
$("#{$module}list{$id}>li").hover(function () {$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg"); });
</script>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}