<ul style='width:{$width}px;'>
{loop $tags $k $t}
<li class='brand'>
<div><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="114" height="100" align="center"></div>
<p class="pnum lenstr"><font>{if $t[groupid]==8||$t[groupid]==1}询价{else}{if $t[price]>0}¥{$t[price]}{else}面议{/if}{/if}</font></p>
<p class="lenstr f12">{$t[title]}</p></a>
<p class="lenstr f12 noborder"><a href="{$MOD[linkurl]}{rewrite('inquiry.php?itemid='.$t[itemid])}" title="在线咨询"  rel="nofollow"><img src="/file/image/web.gif">&nbsp;</a>
	{if $t[qq] && $DT[im_qq]}{im_qq($t[qq])}&nbsp;{/if}
	{if $t[ali] && $DT[im_ali]}{im_ali($t[ali])}&nbsp;{/if}
	{if $t[msn] && $DT[im_msn]}{im_msn($t[msn])}&nbsp;{/if}
	{if $t[skype] && $DT[im_skype]}{im_skype($t[skype])}</a>&nbsp;{/if}</p>
<p>{if $t[groupid]!=8&&$t[groupid]!=1}
{if $t[vip]}<img src="{DT_SKIN}image/vip.gif" alt="级别：{$t[vip]}" style="border:none;" align="absmiddle"/>&nbsp;{/if}<a href="{userurl($t[username])}" target="_blank" class="color">{$t[company]}</a>
{else}
天成官方添加
{/if}</p>
</li>
{/loop}
</ul>

{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}