<ul id='malllist'>
{loop $tags $k $t}
{if $t[closeshop]==0}
{if $title}
{if $title==$t[company]}
{php $t[validated]=1;$pp='品牌经销店';}
{/if}
{/if}
<li class='brandcompany' {if $pp}style="background:#fcf5f1;border:1px solid #e2ae96;"{/if}>
<a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'>
<div class="complogo"><img src='{imgurl($t[thumb], 1)}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" align="center"  onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');" {if $pp}style="border-color:#c42700"{/if}></div>
</a>
<div class="tc">产品总数<font>{$t[pnum]}</font></div>
<div class="lenstr f14">{$t[company]}</div>
{if $t[validated]==1}<p class='f12 ocolor tc'><img src="{DT_SKIN}image/shield.gif" class="mid"  style="border:0px;"/>认证旗舰店<img src="{DT_SKIN}image/level/{$t[level]}.gif" class="mid" alt="推荐{$t[level]}级"  style="border:0px;"/></p>{else}{if $pp}<p class='f12 ocolor tc'>{$pp}</p>{/if}{/if}


{if $t[vip]}<div><img src="{DT_SKIN}image/vip.gif" alt="级别：{$t[vip]}" style="border:0px;" align="absmiddle"/></div>{/if}
</li>
{/if}
{/loop}
</ul>

{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}