<ul class="{$css}ul" id="artlll">
{loop $tags $z $t}
					<li id="{$css}list{$z+1}" class="pt10 whitebg h100 cut">
					{if $t[thumb]}<div class="fl ml5 w150 mr10"><a href="{$MODULE[21][linkurl]}{rewrite('show.php?catid='.$t[itemid])}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'" src="{$t[thumb]}" width="145" height="85" class="thumb"/></a></div>{/if}
					<dl class="autoheight fl ">
					<dt class="mb5" style="padding:2px;">
					<b class="lenstr w500"><a href="{$MODULE[21][linkurl]}{rewrite('show.php?itemid='.$t[itemid])}" target="_blank" class="color f18">{$t[title]}</a></b>
					</dt>
					<dd style="width:{if $t[thumb]}540{else}705{/if}px;" class='ml5 tl'>
					<div class='hcolor h40 cut f12 lh18'>{$t[introduce]}</div>
					<div>	<span>主题 {cat_pos(get_cat($t[catid]), '-')}</span><span class="ml10">{timetodate($t[edittime],4)}</span><span class="fr mr10"><a href="{$MODULE[21][linkurl]}{rewrite('show.php?itemid='.$t[itemid])}" target="_blank" class="color">阅读全文</a>&nbsp;&nbsp;<span class="ml10">{$t[hits]}人关注</span></span></div>
					</dd>
					<br class="clear"/>
					</dl>
					</li>
{/loop}		
</ul>
<script type="text/javascript">
$(".{$css}ul>li").hover(function () {$(this).removeClass("whitebg");$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg");$(this).addClass("whitebg"); });
</script>

{if $showpage && $pages}<div class="divline"></div>
<div class="pages">{$pages}</div>{/if}