{if $similar_keyword && function_exists('scws_new')}
<?php 
	$so=scws_new();
	$so->set_charset('utf8');
	$so->send_text($similar_keyword);
	$word_arr=array();      //对关键词进行分词
	while($v=$so->get_result()){
		foreach($v as $sv){
			array_push($word_arr,$sv['word']);
		}
	}
	$so->close();
	$condition='';
	$scws_num=count($word_arr);
	if($scws_num>3){ //如果分出来的词组超过3个，则取后三个分词作为关联词对象
		$condition="word like '%".$word_arr[($scws_num-1)]."%' or word like '%".$word_arr[($scws_num-2)]."%' or word like '%".$word_arr[($scws_num-3)]."%' ";
	}else{
		foreach($word_arr as $k=>$v){
			if($k==0){
				$condition.="word like '%".$v."%' ";
			}else{
				$condition.="or word like '%".$v."%' ";
			}
		}
	}
?>
{php $tagk=tag("table=keyword&condition=status=3 and moduleid=$moduleid and $condition &order=updatetime desc&template=null&pagesize=8&group=keyword");}
{if $tagk}
<style>
	#similar_word{float:left;border:1px solid #ccc;width:120px;}
	#similar_word dd{padding:2px;}
	#similar_word dd span{margin:4px;background:#f1f1f1;font-size:12px;display:inline-block;}
</style>
<dl id="similar_word" class="autoheight" style="display:block">
	<dt class="f16 rcolor  tc mb10 b pt5">你可能在找</dt>
	<dd>
		{loop $tagk $k $v}
			<span><a href="{DT_PATH}hot/show-{$v['itemid']}.html">{$v['word']}</a></span>
		{/loop}
		
	</dd>
</dl>
{/if}
{/if}