

{if $check}
{php $onclick="parent.Dd('hpresumeid').value=parent.Dd('hpresumeid').value+this.value+',';parent.Dd('hpusername').value=parent.Dd('hpusername').value+this.title+',';";}
{else}
{php $onclick="parent.Dd('xdresumeid').value=this.value;parent.Dd('apply_username').value=this.title;parent.sel();";}
{/if}
		<ul>
		{if $tags}
		{loop $tags $k $t}
		<li>
		{if !$check}<input type="radio" name="resumeid" value="{$t[itemid]}" onclick="{$onclick}" title="{$t[username]}">{else}<input type="checkbox"  title="{$t[username]}" name="resumeid" value="{$t[itemid]}"  onclick="{$onclick}">{/if}
		<i class="mr10">(#{$t[itemid]})</i>{$t[truename]}({$t[username]})[@{$t[talent]}]<span class="ocolor ml10">{$t[catname]}</span><span class="ml10 bcolor"><a href="{$t[linkurl]}" class="bcolor" target="_blank">{$t[title]}-{$t[area]}{$t[ylqx]}</a></span></li>
		{/loop}
		{else}
		<li>无任何数据</li>
		{/if}
		</ul>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}