   <table cellpadding="5" cellspacing="0">
{loop $tags $i $t}
{if $i%3==0}<tr>{/if}
		<td align="left" height="25"><div class="cs"><li><a href="{$MODULE[16][linkurl]}search.php?fid={$t[itemid]}&bcatid={$t[catid]}&kcatid={$kcatid}" target="_parent" title="{$t[title]}" >{$t[title]}<i>[{$t[pnum]}]</i></a></li></div></td>
{if $i%3==2}</tr>{/if}
{/loop}
</table>
{php $pages=str_replace('list.php?','tree.php?tree=1&',$pages)}
{php $pages=str_replace('catid','id1',$pages)}
<div class="pages">{$pages}</div>