<ul style='width:{$width}px;'>
{loop $tags $k $t}
<li class='fl ml10 mt10'><a href="{$t[linkurl]}" title="{$t[alt]}" target='_blank'><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="{if $thumbwidth}{$thumbwidth}{else}134{/if}" height="{if $thumbheight}{$thumbheight}{else}120{/if}" align="center"><br>
{if $moduleid=='16'}<p class="pnum lenstr"><font>价格 {if $t[price]}{$t[price]}{else}面议{/if}</font></p>{/if}
<p class="lenstr f14" {if $thumbwidth}style="width:{$thumbwidth}px"{/if}>{$t[alt]}</p></a>
</li>
{/loop}
</ul>

{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}