{php $sitemenu='job';$listpage='list';}
{php $MOD[name]='服务需求';}
{template 'header','job'}
{if !$action}
{php $action='job';$kstep=0;}
{/if}
{template 'lay','tag'}
<script type="text/javascript">Dd('catsl').className='menuy';</script>
<div class="autoheight pt5 whitebg">													
														<dl class="options">		
														
															<dt>{$MOD[name]}分类：</dt>
															<dd><a {if $catid==$catida} class="opyes wcolor"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid='.$areaid.'&catid='.$catida)}">全部</a>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep='.$kstep.'&action='.$action.'&areaid='.$areaid.'&catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[2]} class="opyes wcolor"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>
															{if $action=="resume"}
																[{$t[otheritem]}]
															{else}
														[{$t[item]}]
															{/if}
															</i></a>
															{/loop}
															</dd>
															</dl>
										

															{php $num1 = $db->count($DT_PRE.'job',"step<4 and status=3", 60);}
															{php $num2 = $db->count($DT_PRE.'job',"step=4 and status=3", 60);}
															{php $num3 = $db->count($DT_PRE.'job',"step=5 and status=3", 60);}
															<dl class="options">
															<dt>需求状态筛选：</dt>
															<dd><a {if $kstep==0}class="opyes wcolor"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?areaid=0&kstep=0&catid='.$catid)}">全部</a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=3&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==3}class="opyes wcolor"{else}class="color"{/if}>寻求技术工程师中<i class='f12'>[{$num1}]</i></a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=4&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==4}class="opyes wcolor"{else}class="color"{/if}>服务已完成<i class='f12'>[{$num2}]</i></a>
															<a href="{$MOD[linkurl]}{rewrite('search.php?kstep=5&areaid='.$areaid.'&catid='.$catid)}" {if $kstep==5}class="opyes wcolor"{else}class="color"{/if}>服务已关闭<i class='f12'>[{$num3}]</i></a>
															</dd>
															</dl>
											
														<form action="{$MOD[linkurl]}search.php" id="fsearch">
														<input type="hidden" name="typeid" value="{$typeid}">
														<input type="hidden" name="areaid" value="{$areaid}">
			                                            <input type="hidden" name="catid" value="{$catid}">
														<input type="hidden" name="vip" value="{$vip}">
			                                            <input type="hidden" name="thumb" value="{$thumb}">
                                                        {template 'search', 'chip'}
														</form>
														</div>
															<div class="divline"></div>
<ul class="webw h60 w980 center whitebg grayb pd5">
<li class="fl grayb w490 h60 cut mr10 ml10">{ad(155)}</li>
<li class="fl grayb w490 h60 cut mr10 ml10">{ad(168)}</li>
</ul>
<div class="divline"></div>
<div class="autoheight whitebg pd10">
			<div class="listleft autoheight"  style="width:970px;">
			{template 'listh4', 'chip'}
				<div class="tool">
				 {template 'form0', 'job'}
				</div>
{if $tags}
		<div class="autoheight">
		
		<!--{tag("moduleid=$moduleid&condition=groupid>4 and status=3$dtype&catid=$catid&pagesize=".$MOD[pagesize]."&order=".$MOD[order]."&page=$page&showcat=1&showpage=1&template=list-job")}-->

		</div>
		{else}
		{template 'noresult', 'message'}
		{/if}
			</div>


			<div class="divline"></div>

</div>
<div class="divline"></div>
<div class="tc grayb whitebg cut" style="height:90px;line-height:90px;">{ad(171)}</div>
{template 'footer'}