{template 'header'}

{php $ztitle="";}
{template 'lay','tag'}
	<div class="autoheight grayb nt {if $username}w730 fl{/if}">
	<div class="divline"></div>
		<h1 class="title">{$title}</h1>
			<div class="info">
			<table cellpadding="0" cellspacing="0" border=0 width=100%>
			<tr>
				<td>{template 'baidu', 'chip'}</td>
				<td><span class="jt" onclick="Print();">[打印]</span></td>
				<td>发布：{$adddate}&nbsp;</td>
				<td><span><img src="{DT_SKIN}image/zoomin.gif" width="16" height="16" alt="放大字体" class="c_p" onclick="fontZoom('+', 'article');"/>&nbsp;&nbsp;<img src="{DT_SKIN}image/zoomout.gif" width="16" height="16"  alt="缩小字体" class="c_p" onclick="fontZoom('-', 'article');"/></span></td>
				<td>关注：<span id="hits">{$hits}</span></td>
			</tr>
			</table>
			</div>
		{if $CP}{template 'property', 'chip'}{/if}
		<div id="content spic" class="content" >
		{if $thumb}<img src="{$thumb}" class='grayb fl mr10'>{/if}
		{template 'content', 'chip'}
		<br><div style="margin:auto;width:500px;heigh:30px;" class='f14 b orangebg orangeb ocolor pd10'>联系我时，请说明是在天成医疗网看到的供求信息，谢谢！</div>
			</div>
		

		
		<div class="divline"></div>
		<div class="np">
		<ul>
		<li><strong>下一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&areaid=$cityid&pagesize=1&order=addtime asc&template=list-np", -1)}--></li>
		<li><strong>上一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&areaid=$cityid&pagesize=1&order=addtime desc&template=list-np", -1)}--></li>
		</div>

{template 'zoom', 'chip'}
			<div class="divline"></div>

			{template 'comment', 'chip'}
			 
	</div>
{if $username}
	<div class="w240 fl autoheight ml10"><!-- 左边内容开始-->
														{template 'member','tag'}
														<div class="divline"></div>
														<div class="orange"><div class="h4title">发布会员的资料</div></div>
															<div class="grayb nt pb10 pt10 autoheight">
                                                            {template 'contact', 'chip'}
																</div>
											<div class="divline"></div>
											<div class="orange"><div class="h4title">该会员更多{$MOD[name]}信息</div></div>
											<div class="grayb nt autoheight pt10">
												<ul class="leftlist autoheight">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=20&order=hits desc&showcat=1&template=null&debug=0")}
													{loop $tagt $z $t}
													<li><span>[{$t[hits]}°C]</span><a class="color lenstr" href="{$t[linkurl]}" target='_blank'>{$t[title]}</a></li>
													{/loop}
													
                                                    </ul>
											</div>

											</div>
{/if}
<div class="divline"></div>
{template 'footer'}