{php $sitemenu='company';$news='yes';$listpage='news';}
{template 'header'}
{template 'lay','tag'}					
<link rel="stylesheet" type="text/css" href="{DT_SKIN}news.css"/>
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';
Dd("yourmdmore").innerText="企业信息首页";
Dd("yourmdmore").href="{$MOD[linkurl]}news.php";
</script>	
<script type="text/javascript">var module_id= {29},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>

{if !$itemid}
<div class="autoheight whitebg pd10">
<div class="listleft autoheight" style="width:975px;">	<form action="{$MOD[linkurl]}search.php">
			{template 'listh4', 'chip'}
				<div class="tool"  style="width:975px;">
				 {template 'form', 'article'}
				</div>
			</form>
</div>
			<div class="listleft autoheight">
		<div class="autoheight">
        {if $tags}
		{template 'list-article', 'tag'}
        {else}
		{template 'noresult', 'message'}
		{/if}
		</div>  
		
			</div>
{else}
<div class="whitebg autoheight">
<div class="contentleft autoheight pd10"> 
<div class="w500 mid" style="line-height:16px;height:16px;"><div class="fl mr10 f12">对外分享转载</div>{template 'baidu', 'chip'}</div>	
<div class="divline"></div>
<h1 class="tc">{$title}</h1>
<div class="divline"></div>
<div class="graybg pd5">主题 <a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$catid)}">{strip_tags(cat_pos(get_cat($catid), '/'))}</a></span><span class="ml20">发于[{timetodate($edittime,4)}]&nbsp;</span>
{if $copyfrom}&nbsp;&nbsp;<span class="ml20">来源：{$copyfrom}</span>{/if}{if $author}<span class="ml20">&nbsp;&nbsp;作者：{$author}{/if}&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span>	</span>
</div>
<div class="divline"></div>
{if $introduce}
<div class="introduce" style="width:690px;"><div class="f14">核心提示 {$introduce}</div></div>
<div class="divline"></div>{/if}
			<div class="divline"></div>
{if $CP}{template 'property', 'chip'}{/if}
		<div class="content">

<div class="divline"></div>
<div class="autoheight">{ad(129)}</div>
<div class="divline"></div>
		{$content}
		{if $MOD[show_np]}
		<div class="np f14">
		<ul>
		<li><strong>下一篇：</strong><!--{tag("moduleid=29&condition=status=3 and addtime>$addtime&areaid=$cityid&pagesize=1&order=addtime asc&template=list-np", -1)}--></li>
		<li><strong>上一篇：</strong><!--{tag("moduleid=29&condition=status=3 and addtime<$addtime&areaid=$cityid&pagesize=1&order=addtime desc&template=list-np", -1)}--></li>
		</ul>
		</div>
		<div class="divline"></div>
		{/if}

      
		{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}
		</div>
		
<div class="divline"></div>
</div>
{/if}

			<div class="listright autoheight">
					<div class="graybg" id='rights'>

							<dl>
							<dt class='f18 tc bcolor pd5 b'>推荐企业图文新闻</dt>
							<dd class="thumbinfo"><!--{tag("table=news&fields=linkurl,title,thumb&condition=status=3 and thumb<>''&catid=$catid&pagesize=3&order=itemid desc&width=240&thumbwidth=230&thumbheight=120&template=thumb-table")}-->
							<div class="divline"></div>
							</dd>
							</dl>


							<dl>
						<div class="divline"></div>
							<dt class='f18 tc bcolor pd5 b'>推荐{$MOD[name]}</dt>
							<dd>
							<ul class="ullist" style="margin-left:-5px;">
							<!--{tag("table=news&fields=catid,linkurl,title&condition=status=3 and level=1&catid=$catid&order=hits desc&width=230&pagesize=10&template=list-news")}-->
							</ul>
							</dd>
							<div class="divline"></div>
							</dl>



					</div>

			</div>
			<div class="divline"></div>



</div>
<br class="clear">
{template 'footer'}























			<div class="listleft autoheight">
		<div class="autoheight">
        {if $tags}

		{template 'list-article', 'tag'}

        {else}
		{template 'noresult', 'message'}
		{/if}
		</div>  
		
			</div>
			<div class="listright autoheight">
					{template 'right', 'article'}	
			</div>
			<div class="divline"></div>

</div>

<br class="clear">
{template 'footer'}
