<div class="recommand">
	<div style="width:720px;height:33px;background:#e15151;text-align:left;line-height:33px;"><span style="font-size:17px;font-weight:bold;color:white;margin-left:10px;">推荐企业</span></div>
	{php $tags = tag("moduleid=$moduleid&condition=pnum>0 and hits>20 and groupid>5 and groupid<>8 and closeshop=0&pagesize=10&order=hits desc,level desc&template=null&debug=0&showcat=1")}
	<style>
		.recommand{width:720px;}
		.recommand ul{width:720px;height:160px;border-left:1px solid #eee;}
		.recommand ul li{width:142.8px;border-bottom:1px solid #eee;border-right:1px solid #eee;text-align:center;float: left;height:160px;}
		.recommand ul li img{padding:5px;}
	</style>
	<div style="width:720px;">
	<div class="recommand" >
	{loop $tags $k $t}
	{if $k=='0'}
	<ul>
	<li>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'"  src="{imgurl($t[thumb], 1)}" width=120 height=100/></a>
		<br/>
		<a href="{$t[linkurl]}" target="_blank" class="bcolor b" title="{$t[alt]}">{dsubstr($t[company],22,"...")}</a>
		<br/>
		产品数: <font>{$t[pnum]}</font>
	</li>
	{elseif $k=='5'}
	</ul>
	<ul>
	<li>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'"  src="{imgurl($t[thumb], 1)}" width=120 height=100/></a>
		<br/>
		<a href="{$t[linkurl]}" target="_blank" class="bcolor b" title="{$t[alt]}">{dsubstr($t[company],22,"...")}</a>
		<br/>
		产品数: <font >{$t[pnum]}</font>
	</li>	
	{else}
	<li>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'"  src="{imgurl($t[thumb], 1)}" width=120 height=100/></a>
		<br/>
		<a href="{$t[linkurl]}" target="_blank" class="bcolor b" title="{$t[alt]}">{dsubstr($t[company],22,"...")}</a>
		<br/>
		产品数: <font>{$t[pnum]}</font>
	</li>	
	{/if}
	{/loop}
	</ul>
	</div>
	
	</div>
</div>