{template 'header', $module}
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td>关键字</td>
<td></td>
</tr>
<tr>
<td>模块</td>
<td></td>
</tr>
<tr>
<td>每次点击扣费</td>
<td></td>
</tr>
<tr>
<td>剩余费用</td>
<td></td>
</tr>
<tr>
<td></td>
<td></td>
</tr>
{if $currency == 'money'}
<tr>
<td class="tl">{$DT[money_name]}余额：</td>
<td class="tr"><span class="f_blue f_b">{$_money}{$unit}</span>&nbsp;&nbsp;<a href="charge.php?action=pay" target="_blank" class="t">[充值]</a></td>
</tr>
<tr>
<td class="tl">支付密码：</td>
<td class="tr">{template 'password', 'chip'}</td>
</tr>
{else}
<tr>
<td class="tl">{$DT[credit_name]}余额：</td>
<td class="tr"><span class="f_blue f_b">{$_credit}{$unit}</span>&nbsp;&nbsp;<a href="credit.php?action=buy" target="_blank" class="t">[购买]</a></td>
</tr>
{/if}
</table>
{template 'footer', $module}
