<html>
<head>
</head>
<body>
<div>
通配符可以帮助您在创意中插入关键词。
<br/><br/>
插入通配符的创意在展现时，将以触发的关键词替代通配符标志。<br/>
如替代后标题或描述超过限制长度，将以您输入的默认关键词来替代通配符展现。<br/>
插入通配符可以使创意在展现时获得更多飘红和更多网民关注，有助于提升点击率和质量度，进而降低推广费用，提高投资回报率。
<br/><br/>
通配符使用：<br/>
(1) 通配符的使用标志是“{默认关键词}”，默认关键词必须填写；<br/>
(2) 如创意成功绑定关键词推广，当用户对关键词进行搜索时，系统会自动将通配符替换为搜索关键词;<br/>
(3) 如果想要使用‘{’和'}'符号，需要填写为':{'和':}';<br/>
通配符使用注意事项：<br/>
(1) 请保证以触发关键词或默认关键词替代通配符后，创意语句通顺、符合逻辑；<br/>
(2) 使用通配符不影响创意的字符长度计算方法；<br/>
(3) 一条创意中可插入多个通配符，不同通配符可使用不同的默认关键词
</div>
</body>
</html>
