{if $DT_QST}
<div class="nocontent">
<div>抱歉，没有找到{if $kw}与“<span class="f_red">{$kw}</span>” {/if}相关的内容。<br>或全站再搜 <a href="{$MOD[linkurl]}{rewrite('search.php?kw='.urlencode($kw))}"><u class='ocolor'>{$kw}</u></a> 信息。
<br><font class="f12 rcolor">
		{if $CFG['tag_expires']}
		注意：发布或修改经过本站通过审核后，在{php $dt_addtime=$CFG['tag_expires']/60;echo round($dt_addtime);}
		{/if}
		{if $DT['cache_search']}
		分钟后才在本站前台显示结果，搜索要{php $dt_sqltime=$DT['cache_search']/60;echo round($dt_sqltime);}分钟后才在显示出来！
		{/if}
</font>
</div>
</div>
<div style="padding:20px 10px 30px 30px;line-height:180%;">
&nbsp;<strong>建议您：</strong><br/>
&nbsp;&nbsp;&bull; 看看输入的文字是否有误<br/>
&nbsp;&nbsp;&bull; 去掉可能不必要的字词，如“的”、“什么”等<br/>
&nbsp;&nbsp;&bull; 调整更确切的关键词或搜索条件<br/>
</div>
{/if}