<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>提示信息{$DT[seo_delimiter]}{$DT[sitename]}</title>
<meta name="robots" content="noindex,nofollow"/>
</head>
<?php if(!isset($dtime)) $dtime=3;?>
<script type="text/javascript">
	var time = <?php echo $dtime;?> ;
	function Redirect(u){
	    window.location = u;
	}
	var i = 0;
	function dis(word){
	    document.all.s.innerHTML = word+",自动跳转还剩" + (time - i) + "秒";
	    i++;
	}
</script>
<body>
<script type="text/javascript">
	timer=setInterval('dis(\'<?php echo $dmessage;?>\')', 1000); 
	timer=setTimeout('Redirect(\'<?php echo $dforward;?>\')',time * 1000);
</script>
<span id="s"></span>
</body>
</html>