/*tp-notice*/
.tp-notice{
    padding:10px 0;
    height: 20px;
    line-height:20px;
    background-color: #fafafa;
    border-top:1px solid #eaeaea;
    border-bottom:1px solid #eaeaea;
}
.tp-notice .hd{
    width:68px;
    color: #e56639;
}
.tp-notice .hd .iconfont{
    float: left;
    margin-right:5px;
}
.tp-notice .bd{
    width:1080px;
    color: #444;
}

/*tp-module*/

.tp-module{
    padding:60px 0 70px 0;
    border-bottom:1px solid #eaeaea;
}
.tp-module-head{
    width:240px;

}
.tp-module-head p{
    position: relative;
    font-size:28px;
    font-weight:200;
    padding-bottom:15px;
    margin-bottom:15px;
    color: #888;
    text-transform: uppercase;
}
.tp-module-head p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #e56639;
}
.tp-module-head h2{
    font-size:26px;
    font-weight:bold;
    color: #333;
}
a.tp-module-head-btn{
    display: inline-block;
    height:20px;
    margin-top:15px;
    font-size:14px;
    line-height:20px;
    padding:8px 18px;
    border:1px solid #eaeaea;
    background-color: #fff;
    border-radius:3px;
    color: #888;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a.tp-module-head-btn:hover{
    background-color: #fff;
    border:1px solid #e56639;
    color: #e56639;
    box-shadow: 1px 3px 0 rgba(0,0,0,0.05);
}
a.tp-module-head-btn:active{
    box-shadow: inset 1px 3px 2px rgba(0,0,0,0.05);
    background-color: #fafafa;
}

.tp-module-body{
    width:920px;
}


/*tp-about*/
.tp-about-content{
    float: left;
    width:670px;
    font-size:16px;
    line-height:1.65;
    text-align: justify;
    color: #333;

}
.tp-about-logo{
    float: right;
}
.tp-about-logo img{
    padding:8px;
    border:1px solid #eaeaea;
}
/*tp-product*/
.tp-product-slider{
    position: relative;
}
.tp-product-slider .tempWrap{
    margin:0 auto;
}
.tp-product-list{
    width: 846px;
    margin:0 auto;
    height:360px;
}
.tp-product-item{
    position: relative;
    float: left;
    width: 220px;
    padding: 20px 20px;
    margin: 0 10px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

.tp-product-img,.tp-product-img img{
    display: block;
    width:220px;
    height:165px;
    overflow: hidden;
}
.tp-product-img img{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.tp-product-img:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.tp-product-title{
    height: 30px;
    line-height:30px;
    font-size:16px;
    margin-top:10px;
}

.tp-product-cate{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #eaeaea;
}
.tp-product-cate a{
    display: inline-block;
    height:18px;
    padding:5px 10px;
    margin-top:5px;
    line-height:18px;
    background-color: #eaeaea;
    font-size:12px;
    color: #888;
}

a.tp-product-btn{
    display: inline-block;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 18px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 3px;
    color: #888;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a.tp-product-btn:hover{
    background-color: #fff;
    border:1px solid #e56639;
    color: #e56639;
    box-shadow: 1px 3px 0 rgba(0,0,0,0.05);
}
a.tp-product-btn:active{
    box-shadow: inset 1px 3px 2px rgba(0,0,0,0.05);
    background-color: #fafafa;
}
.tp-product .hd{
    text-align: center;
    margin-top:15px;
}
.tp-product .hd a{
    position: absolute;
    top:50%;
    margin-top:-58px;
    display: inline-block;
    width:30px;
    height:100px;
    border:1px solid #eaeaea;
    background-color: #fff;
    color: #999;
    text-align: center;
    line-height:100px;
    cursor: pointer;
}

.tp-product .hd a.prev{
    left:0;
}
.tp-product .hd a.next{
    right:0;
}
.tp-product .hd a:hover{
    border-color: #e56639;
    color: #e56639;
}
.tp-product .hd .iconfont{
    font-size:16px;
}
.tp-product .hd li{
    cursor:pointer;
    display:inline-block;
    *display:inline;
    zoom:1;
    width:12px;
    height:12px;
    margin:5px;
    overflow:hidden;
    background-color: #ccc;
    border-radius:50%;
    font-size: 0;
    text-indent:-999em;
}
.tp-product .hd .on{
    background-color: #e56639;
}


/*tp-news*/
.tp-news-list{
    margin:-30px 0 0 -30px;
}
.tp-news-item {
    width:440px;
    float: left;
    height: 80px;
    margin-top: 30px;
    margin-left:30px;
}

.tp-news-date {
    width: 80px;
    height: 80px;
    float: left;
}

.tp-news-date span {
    display: block;
    width: 78px;
    height: 45px;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    font-family: arial;
    color: #666;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}

.tp-news-date span:first-child {
    width: 80px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    background-color: #e56639;
    color: #fff;
    border: none;
}

.tp-news-text {
    width: 340px;
    height: 80px;
    overflow: hidden;
    float: right;
}

.tp-news-title {
    display: block;
    height: 28px;
    overflow: hidden;
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tp-news-desc {
    position: relative;
    color: #888;
    font-size:13px;
    line-height:1.65;
    padding-top: 12px;
}
.tp-news-desc:before{
    content: '';
    position: absolute;
    left: 0;
    top:5px;
    width: 100px;
    height:2px;
    background-color: #ddd;
}


.tp-news-desc a {
    color: #e56639;
}

/*tp-contact*/
.tp-contact{
    background: url("images/tp-contact-bg.jpg") no-repeat center top;
}

.tp-contact-box{
    width:390px;
}
.tp-contact-item{
    padding:15px 0;
}
.tp-contact-icon{
    position: relative;
    top:-2px;
    margin-right:10px;
    text-align: center;
    color: #e56639;
    font-size:20px;
}
.tp-contact-key{
    display: block;
    font-size:16px;
    color: #e56639;
}
.tp-contact-val{
    display: block;
    margin-top:10px;
    color: #333;
    font-size:16px;
    line-height:1.65;
    font-style: normal;
}
.tp-contact-val .link-text{
    display: inline-block;
    padding:5px 15px;
    font-size:12px;
    background-color: #fff;
    border:1px solid #eaeaea;
    color: #666;
    border-radius:20px;
}
.tp-contact-val .link-text:hover{
    background-color: #f36a3a;
    border-color: #e56639;
    color: #fff;
}
.tp-message-form{
    width:400px;
    background-color: #fff;
    padding:30px;
    margin-right:20px;
    border:1px solid #eaeaea;
    box-shadow: 4px 5px 0 rgba(0,0,0,0.025);
}
.tp-form-item{
    margin-bottom:20px;
}
.tp-form-title{
    position: relative;
    margin-bottom:30px;
    text-align: center;
}
.tp-form-title:before{
    content: '';
    position: absolute;
    left:50%;
    top:12px;
    width:250px;
    height:1px;
    background-color: #eaeaea;
    margin-left:-125px;
}
.tp-form-title span{
    position: relative;
    display: inline-block;
    font-size:20px;
    padding:0 10px;
    background-color: #fff;
    font-weight:800;
    color: #444;

}

.tp-form-item__label{
    min-width:88px;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
}
.tp-form-item.is-required .tp-form-item__label:before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
}

.tp-form-item__content{
    line-height: 40px;
    position: relative;
    font-size: 14px;
    margin-left:80px;
}


.tp-form-textarea{
    display: inline-block;
    min-width:300px;
    min-height:75px;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    vertical-align: top;
}
.tp-form-textarea:focus{
    outline:none;
}

.tp-form-input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #e6e0dc;
    box-sizing: border-box;
    color: #666360;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    min-width:300px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    outline:0;
}

.tp-form-input[name='captcha']{
    width:100px;
    min-width:0;
}

a.tp-form-captcha-tips{
    position: relative;
    top:9px;
    font-size:13px;
    display: inline-block;
    line-height: 1.4;
    margin-left: 10px;
    color: #888;
    outline: none;
    text-decoration: underline;
    letter-spacing:0.05rem;
}
.tp-form-input:hover,.tp-form-textarea:hover{
  border-color: #d4b6ab;
}


.tp-form-divide{
    display: none;
    width:758px;
    margin:10px 0 30px 100px;
    height:0;
    border-bottom:1px dashed #eaeaea;
}


.tp-form-captcha{
    height:30px;
    cursor: pointer;
    display: inline-block;
    margin-left:10px;
    position: relative;
    top:-2px;
}

.tp-form-submit{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e56639;
    color: #e56639;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    margin:20px 0 0 100px;
    font-size: 14px;
    border-radius: 4px;
}
.tp-form-submit:hover{
    background-color: #f6e8dd;
}

/*tp-archives*/
.tp-archives{

}
.tp-archives-table{
    width:90%;
    border-spacing: 0;
    border-collapse: collapse;
}
.tp-archives-table td{
    padding: 15px 20px;
    border: 1px solid #f3e1d5;
    word-break: break-all;
    font-size: 14px;
    line-height:1.5;
    color: #666;
    background-color: #fff;
}
.tp-archives-table td a{
    color: #666;
    margin-right:10px;
    background: linear-gradient(90deg,#aaa 66%, transparent 0) repeat-x;
    background-size: 0.2em 1px;
    background-position: 0 18px;
}
.tp-archives-table td a:hover{
    color: #e56639;
}
.tp-archives-table .bg-warning{
    background-color: #fbf6f4;
    color: #7d5c48;
}
.tp-archives-table .text-success{
    color: #7dbf50;
    margin-right: 10px;
}

/*tp-links*/
.tp-links-list{

}

.tp-links-item{
    position: relative;
    display: inline-block;
    width:30%;
    margin-left:1%;
    line-height:20px;
    text-indent:15px;
    padding:6px 0;
}
.tp-links-item:before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:3px;
    height:3px;
    margin-top:-1px;
    border-radius:50%;
    background-color: #e56639;
}


