
.tp-module{
    padding:60px 0 70px 0;
    border-bottom:1px solid #eaeaea;
}
.tp-main-box-head{
    padding-bottom:35px;
    border-bottom:1px solid #eaeaea;
}
.tp-main-box-head p{
    position: relative;
    font-size:22px;
    font-weight:200;
    padding-bottom:20px;
    margin-bottom:15px;
    color: #999;
    text-transform: uppercase;
}
.tp-main-box-head p::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 2px;
    background-color: #e56639;
}
.tp-main-box-head h1{
    font-size:28px;
    font-weight:bold;
    color: #333;
}

/*tp-side*/
.tp-side{
    width:300px;
    margin-top:30px;
}
.tp-main{
    width:840px;
    margin-top:30px;
}
.tp-side-box,.tp-main-box{
    margin-bottom:30px;
    background-color: #fff;
}
.tp-side-box-head{
    padding:30px 40px 0 30px;
}
.tp-side-box-head-text{
    position: relative;
    font-size:18px;
    padding-left:12px;
    color: #333;
}
.tp-side-box-head-text:before{
    content: '';
    position: absolute;
    left:0;
    top:4px;
    width:2px;
    height:16px;
    background-color: #444;
}
.tp-side-box-body{
    padding: 20px 30px;
}

.tp-side-links{

}
.tp-side-links li{
    display: block;
    position: relative;
    height:30px;
    line-height:30px;
    padding:5px 0 5px 12px;
}
.tp-side-links li:before{
    content: '';
    position: absolute;
    left:0;
    top:50%;
    width:3px;
    height:3px;
    margin-top:-1px;
    background-color: #ccc;
    border-radius:50%;
    -webkit-transition: all .3s ease-in-out;
}
.tp-side-links li:hover:before {
    background-color: #e56639;
}

.tp-side-links li>a{
    position: relative;
    padding:3px 0;
    color: #777;
}
.tp-side-links li>a:after{
    content: '';
    position: absolute;
    width:100%;
    height:0;
    border-bottom:1px dotted #c8bcb8;
    left:0;
    bottom:-10px;
    -webkit-transition: all .3s ease-in-out;
}
.tp-side-links li>a:hover:after {
    bottom:0;
}

.tp-side-links li>a:hover{
    color: #e56639;
}

.tp-side-cate{
}
.tp-side-cate li{
    position: relative;
    display: block;
    height:30px;
    line-height:30px;
    border-top:1px solid #f7ede9;
    padding:10px 0;
}
.tp-side-cate li,.tp-side-cate li .iconfont,.tp-side-cate li:before{
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.tp-side-cate li:first-child{
    border-top:none;
}
.tp-side-cate li .iconfont{
    position: relative;
    top:-1px;
    left:-30px;
    width:0;
    height:0;
    margin-right:8px;
    font-size:12px;
    color: #ccc;
}
.tp-side-cate li a{
    display: inline-block;
    text-indent:-8px;
    color: #777;
}
.tp-side-cate li:before {
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    top: 50%;
    bottom: 50%;
    background: #e56639;
    width: 3px;
    height: 0;
}

.tp-side-cate li:hover{
    background-color: #fbf7f5;
}
.tp-side-cate li:hover:before {
    height: 50px;
    top: 0;
    bottom: 0;
}
.tp-side-cate li:hover>a{
    color: #e56639;
    text-indent:0;
}
.tp-side-cate li:hover .iconfont{
    color: #e56639;
    left:0;
}


.tp-main-box{
    padding:40px;
}
.introduce{
}
.introduce .logo{
    margin:40px 0;
}
.introduce .logo img{
    display: block;
    margin:0  auto;
    padding:10px;
    border:1px solid #EAEAEA;
    border-radius:50%;
}
.introduce .content{
    padding-bottom:20px;
    font-size:16px;
    line-height:1.75;
    text-align: justify;
    color: #444;
}
.introduce .update-date{
    text-align: right;
    padding-top:20px;
    margin-top:20px;
    border-top:1px solid #f1f1f1;
    font-size:12px;
    font-family:simusn;
    color: #888;
}


.tp-product-list{
    margin-left:-20px;
}
.tp-product-item{
    position: relative;
    top:0;
    float: left;
    width: 198px;
    padding: 20px 20px;
    margin: 20px 0 0 20px;
    background-color: #fff;
    border: 1px solid #eaeaea;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.tp-product-item:hover{
    box-shadow: 0 2px 20px 2px rgba(0,0,0,.02), 0 24px 30px 2px rgba(0,0,0,.03);
    top: -2px;
    z-index: 1;
}
.tp-product-img,.tp-product-img img{
    display: block;
    width:198px;
    height:148px;
    overflow: hidden;
}
.tp-product-img img{
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.tp-product-img:hover img{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.tp-product-title{
    height: 30px;
    line-height:30px;
    font-size:16px;
    margin-top:10px;
}

.tp-product-cate{
    padding-bottom:20px;
    margin-bottom:20px;
    border-bottom:1px solid #eaeaea;
}
.tp-product-cate a{
    display: inline-block;
    height:18px;
    padding:5px 0;
    margin-top:5px;
    line-height:18px;
    /*background-color: #eaeaea;*/
    font-size:15px;
    font-weight: 200;
    color: #d4000b;
}

a.tp-product-btn{
    display: inline-block;
    height: 20px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 18px;
    border: 1px solid #eaeaea;
    background-color: #fff;
    border-radius: 3px;
    color: #888;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
a.tp-product-btn:hover{
    background-color: #fff;
    border:1px solid #e56639;
    color: #e56639;
    box-shadow: 1px 3px 0 rgba(0,0,0,0.05);
}
a.tp-product-btn:active{
    box-shadow: inset 1px 3px 2px rgba(0,0,0,0.05);
    background-color: #fafafa;
}


.tp-product-filter{
    position: relative;
    padding:20px;
    margin-top: 20px;
    background-color: #f1f1f1;
}
.tp-product-filter-head{
    position: absolute;
    left:25px;
    top:28px;
    display: inline-block;
    font-size:16px;
    color: #888;
}
.tp-product-filter-body{
    padding-left:60px;

}
.tp-product-filter-body a{
    display: inline-block;
    padding:5px 10px;
    margin:5px 10px;
    border:1px solid #EAEAEA;
    background-color: #fff;
}
.tp-product-filter-body a:hover{
    border-color: #e56639;
    color: #e56639;
}
.tp-product-filter-body a.active{
    background-color: #e56639;
    border-color: #e56639;
    color: #fff;
}

.tp-news-item {
    height: 80px;
    margin-top:30px;
}

.tp-news-date {
    width: 80px;
    height: 80px;
    float: left;
}

.tp-news-date span {
    display: block;
    width: 78px;
    height: 45px;
    font-size: 30px;
    line-height: 46px;
    text-align: center;
    font-family: arial;
    color: #666;
    border: 1px solid #e0e0e0;
    border-top: none;
    background-color: #fff;
}

.tp-news-date span:first-child {
    width: 80px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    background-color: #e56639;
    color: #fff;
    border: none;
}

.tp-news-text {
    width: 650px;
    height: 80px;
    overflow: hidden;
    float: right;
}

.tp-news-title {
    display: block;
    height: 28px;
    overflow: hidden;
    font-size: 18px;
    line-height: 28px;
    font-weight: 200;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tp-news-desc {
    position: relative;
    color: #666;
    font-size:13px;
    line-height:1.65;
    padding-top: 12px;
}
.tp-news-desc:before{
    content: '';
    position: absolute;
    left: 0;
    top:5px;
    width: 100px;
    height:2px;
    background-color: #ddd;
}


.tp-news-desc a {
    color: #e56639;
}


.tp-sub-title{
    position: relative;
    margin-top:30px;
    font-size:18px;
    font-weight: 200;
    line-height:1.65;
    text-indent:12px;
    color: #666;
}
.tp-sub-title:before{
    content: '';
    position: absolute;
    left:0;
    top:6px;
    width:2px;
    height:16px;
    background-color: #aaa;
}
.tp-archives-table{
    width:100%;
    margin-top:15px;
    margin-bottom:15px;
    border-spacing: 0;
    border-collapse: collapse;
}
.tp-archives-table td{
    padding: 15px 20px;
    border: 1px solid #f3e1d5;
    word-break: break-all;
    font-size: 14px;
    line-height:1.5;
    color: #666;
    background-color: #fff;
}
.tp-archives-table td a{
    color: #666;
    margin-right:10px;
    background: linear-gradient(90deg,#aaa 66%, transparent 0) repeat-x;
    background-size: 0.2em 1px;
    background-position: 0 18px;
}
.tp-archives-table td a:hover{
    color: #e56639;
}
.tp-archives-table .bg-warning{
    background-color: #fbf6f4;
    color: #7d5c48;
}
.tp-archives-table .text-success{
    color: #7dbf50;
    margin-right: 10px;
}

/*tp-credit*/

.tp-credit-content{
    margin-left:-40px;
}
.tp-credit-content img{
    display: inline-block;
    width:124px;
    height:155px;
    padding:10px;
    margin:20px 0 0 40px;
    border:1px solid #EAEAEA;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.05);
}

/*tp-contact*/
.tp-contact-wrap{
    margin-left:-40px;
}
.tp-contact-item{
    float: left;
    width:360px;
    margin-top:40px;
    margin-left:40px;
    background-color: #fff;

}

.tp-contact-icon,.tp-contact-key,.tp-contact-val{
    display: block;
}
.tp-contact-icon{
    float: left;
    width:60px;
    height:60px;
    margin-right:20px;
    border:1px solid #eaeaea;
    line-height:60px;
    text-align: center;
    border-radius:50%;
}
.tp-contact-icon i{
    font-size:24px;
    color: #888;
}
.tp-contact-key{
    margin:5px 0 10px 0;
    font-size:16px;
    color: #888;
    font-weight:200;
}
.tp-contact-val{
    color: #444;
    font-style: normal;
    line-height:1.65;
}


/*tp-map*/

.tp-message-form{
    padding:0 90px 50px 90px;
    border: 1px solid #eaeaea;
    margin:60px 0 0 0;
    box-shadow: 5px 3px 0 rgba(0,0,0,0.05);
}
.tp-form-item{
    margin-bottom:20px;
}
.tp-form-title{
    position: relative;
    margin-bottom:60px;
    margin-top:-13px;
    text-align: center;
}
.tp-form-title:before{
    content: '';
    position: absolute;
    left:50%;
    top:12px;
    width:250px;
    height:1px;
    background-color: #eaeaea;
    margin-left:-125px;
}
.tp-form-title span{
    position: relative;
    display: inline-block;
    font-size:24px;
    padding:0 30px;
    background-color: #fff;
    font-weight:800;
    color: #444;
}

.tp-form-item__label{
    min-width:88px;
    text-align: right;
    vertical-align: middle;
    float: left;
    font-size: 14px;
    color: #606266;
    line-height: 40px;
    padding: 0 12px 0 0;
}
.tp-form-item.is-required .tp-form-item__label:before {
    content: "*";
    color: #f56c6c;
    margin-right: 4px;
}

.tp-form-item__content{
    line-height: 40px;
    position: relative;
    font-size: 14px;
    margin-left:80px;
}


.tp-form-textarea{
    display: inline-block;
    min-width:400px;
    min-height:75px;
    resize: vertical;
    padding: 5px 15px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: inherit;
    color: #606266;
    background-color: #fff;
    background-image: none;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    vertical-align: top;
}
.tp-form-textarea:focus{
    outline:none;
}

.tp-form-input{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #e6e0dc;
    box-sizing: border-box;
    color: #666360;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 1;
    outline: none;
    padding: 0 15px;
    min-width:400px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    outline:0;
}

.tp-form-input[name='captcha']{
    width:100px;
    min-width:0;
}

a.tp-form-captcha-tips{
    position: relative;
    top:9px;
    font-size:13px;
    display: inline-block;
    line-height: 1.4;
    margin-left: 10px;
    color: #888;
    outline: none;
    text-decoration: underline;
    letter-spacing:0.05rem;
}
.tp-form-input:hover,.tp-form-textarea:hover{
    border-color: #d4b6ab;
}


.tp-form-divide{
    display: none;
    width:758px;
    margin:10px 0 30px 100px;
    height:0;
    border-bottom:1px dashed #eaeaea;
}


.tp-form-captcha{
    height:30px;
    cursor: pointer;
    display: inline-block;
    margin-left:10px;
    position: relative;
    top:-2px;
}

.tp-form-submit{
    display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #e56639;
    color: #e56639;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 500;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 12px 20px;
    margin:20px 0 0 100px;
    font-size: 14px;
    border-radius: 4px;
}
.tp-form-submit:hover{
    background-color: #f6e8dd;
}




/*product-detail*/
.product-detail-img .bd{
    padding:10px;
    width:280px;
    border:1px solid #eaeaea;
}
.product-detail-img .bd li{
    position: relative;

}
.product-detail-img .bd img{
    width:280px;
    height:210px;
}

.product-detail-img .bd .iconfont{
    display: none;
    position: absolute;
    top:50%;
    left:50%;
    margin:-20px 0 0 -20px;
    width:40px;
    height:40px;
    text-align: center;
    line-height:40px;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    z-index:11;
    font-size:20px;
    border-radius:50%;
}
.product-detail-img .bd li:hover .iconfont{
    display: block;
}
.product-detail-img .hd{

}
.product-detail-img .hd ul{
    margin-top:15px;
}
.product-detail-img .hd li{
    position: relative;
    margin-left:13px;
    float: left;
    border:1px solid #eaeaea;
    cursor: pointer;
}
.product-detail-img .hd li.on:before{
    content: '';
    position: absolute;
    top:-12px;
    left:50%;
    margin-left:-6px;
    width:0;
    height:0;
    border-width:6px;
    border-style:solid;
    border-color: transparent;
    border-bottom-color: #e56639;
}
.product-detail-img .hd li.on{
    border-color: #e56639;
}
.product-detail-img .hd li:first-child{
    margin-left:0;
}

.product-detail-img .hd img{
    width:80px;
    height:60px;
    padding:5px;
}

.product-detail-info{
    width:418px;
}
.product-detail-title{
    margin-bottom:30px;
    font-size:26px;
    font-weight:200;
    line-height:1.5;
}

.product-detail-info-item{
    font-size:16px;
    margin-bottom:20px;
    padding-top:5px;
    font-weight:200;
}
.product-detail-info-key{
    color: #888;
}
.product-detail-info-val{
    color: #666;
    font-style: normal;
}
.product-detail-info-val.text-danger{
    color: #b81c24;
}
.product-detail-info-val a{
    padding:2px;
    background: linear-gradient(90deg,#aaa 66%, transparent 0) repeat-x;
    background-size: 0.15em 1px;
    background-position: 0 23px;
}

.product-detail-info-val .view-btn{
    display: inline-block;
    padding:3px 12px;
    border:1px solid #ccc;
    font-size:12px;
    background: #fafafa;
    color: #888;
    border-radius:20px;
}

.product-detail-info-val .view-btn:hover{
    background-color: #e56639;
    border-color: #e56639;
    color: #fff;
}
.product-detail-info-val .view-btn .iconfont{
    position: relative;
    top:1px;
    margin-right:3px;
    color: #888;
    font-size:14px;
}

.product-detail-info-val .view-btn:hover .iconfont{
    color: #fff;
}


a.product-detail-info-btn{
    display: inline-block;
    margin-top:8px;
    margin-right:20px;
    padding:10px 20px;
    border-width:1px;
    border-style:solid;

}
a.product-detail-contact-btn{
    background-color: #e56639;
    color: #fff;
    border-color: #e56639;
}
a.product-detail-contact-btn:hover{
    background-color: #ff7e50;
}
a.product-detail-service-btn{
    border-color: #e56639;
    background-color: #fff6f3;
    color: #e56639;
}
a.product-detail-service-btn:hover{
    background-color: #fff;
}
a.product-detail-info-btn .iconfont{
    margin-right:5px;
    font-weight: normal;
}

.product-detail-head{
    margin-top:20px;
    padding:20px 5px;
    border-bottom:1px solid #eaeaea;
}
.product-detail-head strong{
    font-size:20px;
    font-weight: bold;
}
.product-detail-body{
    padding:20px 0;
}
.product-detail-body{
    font-size:16px !important;
    line-height:2;
    text-align: justify;
}
.product-detail-body img{
    display: block;
    margin:10px auto;
}

/*news-detail*/
.news-detail-title{
    padding:25px 0 20px;
    font-size:28px;
    font-weight:200;
    line-height:1.65;
    text-align: center;
}
.news-detail-info{
    padding:10px;
    background-color: #fafafa;
    font-size:12px;
    color: #888;
    text-align: center;
}
.news-detail-info  span{
    margin:0 10px;
}
.news-detail-content{
    margin-top:30px;
    line-height:1.8;
}


/*links*/
.links-wrap{
    margin-top: 20px;
}
.links-item{
    position: relative;
    display: inline-block;
    width:360px;
    text-indent:13px;
    font-size:16px;
    height:30px;
    line-height:30px;
    padding:5px 0;
}
.links-item:before{
    content: '';
    position: absolute;
    left: 0;
    top:50%;
    width:3px;
    height:3px;
    background-color: #e56639;

}
