{php $sitemenu='hr';$webpage='contact';$mlogo=$DT_SKIN.'hr/blogo.png';$title='人才服务';}
{php $head_keywords="网络招聘 人事事务外包服务 人才租赁服务 招聘流程外包 管理培训 猎头服务";}
{php $head_description="天成医疗人才网，医疗人才招聘网_国内最专业医疗人才服务综合平台，医疗人才招聘、求职，医疗猎头人才推荐等等全方位为医疗企业人才服务。";}
{template 'header'}
{template 'lay','tag'}
<div style="margin:8px auto;height:300px;border:1px solid #ccc;background:url('{DT_SKIN}image/hr/banner_contact.jpg');"></div>
<div class="hr_banner whitebg">
<h1>我们能帮企业解决什么难题&nbsp;?</h1>
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/wangluo.jpg" />
	</dt>
	<dd>
		<h4>网络招聘</h4>
		<span>
			依托医疗行业的行业属性，精确细分医疗行业职位，为各类医疗招聘企业提供专业、精准、便捷的网络招聘服务。
		</span>
	</dd>
</dl>	
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/renshi.jpg" />
	</dt>
	<dd>
		<h4>人事事务外包服务</h4>
		<span>
			提供全方位一站式的员工管理服务，全面承担员工所有社保购买、薪酬管理、人事管理等综合性管理服务，帮助企业减少管理成本，摆脱繁琐的事务性工作，更专注于核心价值的创造。
		</span>
	</dd>
</dl>	
<div class="divline"></div>
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/rencai.jpg" />
	</dt>
	<dd>
		<h4>人才租赁服务</h4>
		<span>
			根据企业提供的岗位信息与人员流动性，选聘企业急需的人才。
帮助企业规范人员管理，完善服务体系，降低支出成本，便捷人事管理。
		</span>
	</dd>
</dl>	
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/zhaopin.jpg" />
	</dt>
	<dd>
		<h4>招聘流程外包</h4>
		<span>
			接受企业招聘需求外包，为客户提供紧急或批量的中高端、技术岗位的招聘需求，降低人力资源资源管理成本，提高经营绩效，增强企业的核心竞争力。
		</span>
	</dd>
</dl>	
<div class="divline"></div>
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/guanli.jpg" />
	</dt>
	<dd>
		<h4>培训服务</h4>
		<span>
			包括医疗设备维修与考证、医疗行业高级研修培训、员工生涯规划咨询与培训、企业管理咨询与培训。参加医疗设备维修培训的人员还可享受收录为在线注册工程师、优先推荐设备供求信息、享受职业规划与指导等增值服务。
		</span>
	</dd>
</dl>
<dl>
	<dt>
		<img src="{DT_SKIN}image/hr/lietou.jpg" />
	</dt>
	<dd>
		<h4>猎头服务</h4>
		<span>
			依托天成医疗人才网强大的线上资源及线下工程师数据库储存资源，为客户提供高级人才寻访和推荐服务。
		</span>
	</dd>
</dl>	
</div>

<div class="divline"></div>
{template 'footer'}