	<form action="{$MOD[linkurl]}search.php">
	<table cellpadding="3" cellspacing="0" width="100%">
				<tr>
				<td><input type="hidden" name="action" value="{$action}">
				<input type="hidden" name="education" value="{$education}" />
				<input type="hidden" name="type" value="{$type}" />
				<input type="hidden" name="update" value="{$update}" />
				<input type="hidden" name="experience" value="{$experience}" />
				<input type="hidden" name="catid" value="{$catid}" />
				&nbsp;<b>待遇薪酬:</b><input type="hidden" name="action" id="action" value="{$action}"/>
				<input type="text" size="4" name="minsalary" value="{$minsalary}"/> ~ <input type="text" size="4" name="maxsalary" value="{$maxsalary}"/></td>
				<td >日期:<script type="text/javascript" src="{DT_PATH}file/script/calendar.js"></script><input type="text" name="fromdate" id="fromdate" value="{$fromdate}" size="8" onfocus="ca_show('fromdate', this, '{$fromdate}');" readonly ondblclick="this.value='';"/> <img src="{DT_PATH}file/image/calendar.gif" align="absmiddle" onclick="ca_show('fromdate', this, '{$fromdate}');" style="cursor:pointer;"/> 至 <input type="text" name="todate" id="todate" value="{$todate}" size="8" onfocus="ca_show('todate', this, '{$todate}');" readonly ondblclick="this.value='';"/> <img src="{DT_PATH}file/image/calendar.gif" align="absmiddle" onclick="ca_show('todate', this, '{$todate}');" style="cursor:pointer;"/></td>
				<td >
				<select name="areaid">
			{php $mainarea = tag("table=area&fields=areaid,areaname&condition=parentid=0&pagesize=34&template=null&debug=0")}	
			<option value="" {if $areaid==''}selected{/if}>选择地区</option>
			{loop $mainarea $k $v}
				<option value="{$v[areaid]}" {if $areaid}{if $areaid==$v[areaid]}selected{/if}{/if}>{$v[areaname]}</option>
            {/loop}
			</select>
</td>
				<td >
				<select name="joborder">
				<option value="0" {if $joborder == 0} selected{/if}>默认排序
					<option value="1" {if $joborder == 1} selected{/if}>待遇从高到低
					<option value="2" {if $joborder == 2} selected{/if}>待遇从低到高
					<option value="3" {if $joborder == 3} selected{/if}>报名人数高到低
					<option value="4" {if $joborder == 4} selected{/if}>报名人数低到高
					<option value="5" {if $joborder == 5} selected{/if}>兼职到全职
					<option value="6" {if $joborder == 6} selected{/if}>全职到兼职
				</select>
	</td>
	<td width=80>
	<input type="submit" value="立刻筛选" class="submit">
	</td>
		  </tr>
				 </table>
	</form>