{loop $tags $k $t}
<div class="product {if ($k+1)%5==0}notmargin{/if}" id="item_{$t[itemid]}">
    <img src="{$t[thumb]}" alt="{$t[alt]}" onmouseover="img_tip(this, this.src);" onmouseout="img_tip(this, '');"/>
    <div class="c_b"></div>
    <div class="product_title">{$t[title]}</div>
    <div class="product_price">{$DT[money_sign]}{$t[price]}</div>
    <div class="product_botton">
        <ul>
            <li class="li1"><a href="#">收藏</a></li>
            <li class="li2"><a href="#">关注</a></li>
            <li class="li3"><a href="#">加入进货单</a></li>
        </ul>
    </div>
    <div class="c_b"></div>
    <a href="{$t[linkurl]}" target="_blank"><div class="ahover"></div></a>
</div>
{/loop}
<div class="c_b"></div>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}