{php $sitemenu='sell';$listpage='list';}
{template 'header'}
{php $MOD = cache_read('module-5.php');}
{php $SELLTYPETITLE=$MOD['type'];}
{php $SELLTYPE = explode('|', trim($MOD['type']));}
{php $sell = $db->count($DT_PRE.'sell_5', "status=3", 60);}
<div class="autoheight ">		
<div class="h390 cut">
<dl class="themeright h390">

<dd>
<div class="ad681">{ad(160)}</div>
<div class="divline"></div>
<ul>
<li class="ad125" style="margin-left:0px;">{ad(161)}</li>
{php $tags = tag("moduleid=$moduleid&condition=status=3 and thumb<>''&pagesize=3&order=level desc,edittime desc&template=null")}
{loop $tags $i $t}
<li class="ad125"><a href="{$t[linkurl]}"><img src="{$t[thumb]}" onmouseover="Dd('p_info{$i}').className='p_info';" onmouseout="Dd('p_info{$i}').className='hd';"width="125" height="125"></a><div id="p_info{$i}" class="hd">{$t[title]}</div></li>
{/loop}
<li class="ad125">{ad(162)}</li>

</ul>
</dd>
</dl>
<dl class="themeleft h390 p_st cut fr grayb" id="themeleft">
					<dt>{$MOD[name]}分类<i class="f12">({$sell})</i></dt>
					<dd class="catname">
					<ul>
																			{php $tagss = tag("moduleid=$moduleid&table=category&fields=catid,catname,style,item,child&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$t[catid].'&typeid=99')}">{set_style($t[catname],$t[style])}<span class="f12">[{$t[item]}]</span></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[1]}
																	{php $childa=$t[child];$parenta=$t[catname];$catida=$t[catid];} 
																	{/if}
															{/loop}
					</ul>
					<div class="divline"></div>
					</dd>
					<dt>信息需求类型</dt>
					  <dd  class="catname">
											<ul>
												{loop $TYPE $k $v}
													<li><a href="{$MOD[linkurl]}{rewrite('search.php?typeid='.$k.'')}">{$v}</a></li>
												{/loop}
											</ul>
					<div class="divline"></div>
					<div class="divline"></div>
					  </dd>
					<dt>各地需求信息</dt>
					  <dd class="provice"  id="provice" onmouseover="Dd('themeleft').className='themeleft h555 p_ab grayb ml800'"  onmouseout="Dd('themeleft').className='themeleft h390 p_st cut fr grayb'">
											<ul >
													{php $tagt = tag("table=area&condition=parentid=0&pagesize=34&template=null&debug=0")}			
													{loop $tagt $z $v}			
													<li><a href="{$MOD[linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'')}">{$v[areaname]}</a></li>
													{/loop}
											</ul>

					  </dd>
</dl>
	</div>
<div class="divline" style="height:0px;line-height:0px;"></div>
</div>

<div class="autoheight">
{loop $tagss $i $t}
			<dl class="dllists  fl autoheight  whitebg {if ($i+1)%3}mr10{/if}">
			<dt><div class="pd10"><a href="{$MOD[linkurl]}{rewrite('list.php?typeid=99&catid='.$t[catid])}" ><font>最新{$t[catname]}信息</font></a><p>有 {$t[item]} 条信息数据</p></div></dt>
			<dd class="intro">
				{php $tags = tag("moduleid=$moduleid&condition=status=3 &catid=".$t[catid]."&pagesize=4&order=level desc,edittime desc&template=list-sell-index&debug=0&showcat=1&id=$k&stype=$SELLTYPETITLE")}
				<div class="divline"></div>
				<div class="moreinfo"><a href="{$MOD[linkurl]}{rewrite('list.php?typeid=99&catid='.$t[catid])}" title="最新{$t[catname]}信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
				<div class="divline"></div>
			</dd>
            </dl>
{/loop}
<div class="divline" style="height:0px;line-height:0px;"></div>
</div>




<br class="clear">
{template 'footer'}

														
