
	{loop $lists $k $t}
    	<div class="gy-card">
        	<div class="card-img">
            	<a href="{$MODULE[5]['linkurl']}{$t['linkurl']}" target="_blank"><img src="{$t['thumb']}" alt="{$t['title']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-md-4-3.png';"></a>
            </div>
        	<div class="card-name">
            	<h3 class="text-overflow"><a href="{$MODULE[5]['linkurl']}{$t['linkurl']}" target="_blank" title="{$t['title']}">{$t['title']}</a></h3>
        	</div>
            <div class="card-info clearfix">
                <div class="price pull-left"><em>{if $price}{$t['price']}{$DT[money_unit]}/{$t['unit']}{else}价格 面议{/if}</em><span>{if $t['amount']}{$t['amount']}{$t['unit']}起订{else}暂无起订条件{/if}</span></div>
                <span class="mark-num pull-right">{$t['hits']}人已关注</span>
            </div>
            <div class="card-ft clearfix">
                <div class="local pull-left"><a href="{sell_rewrite(['areaid'=>$t['areaid']])}" title="{$AREA[$t['areaid']]['areaname']}医疗器械供应">{$AREA[$t['areaid']]['areaname']}</a></div>
                <div class="q-a pull-right">
                	{if $t['validated'] > 0}<i class="p-i v-company" title="通过工商认证"></i>{/if}
                    {if $t['vip'] > 0}<i class="p-i v-recommend" title="天成推荐"></i>{/if}
                    {if $t['email']}<i class="p-i v-email" title="留有电子邮箱"></i>{/if}
                    {if $t['mobile']}<i class="p-i v-tel" title="留有手机号码"></i>{/if}
                </div>
            </div>
        </div>
     {/loop}
