{php $head_css = [DT_SKIN.'tc.list.base.css',DT_SKIN.'gongying.detail.css',DT_SKIN.'jquery.fancybox.css']}
{php $footer_js = [DT_PATH.'file/script/jquery.SuperSlide.2.1.1.source.js',DT_PATH.'file/script/jquery.fancybox.min.js',DT_PATH.'file/script/sell/gongying.g-detail.js',DT_PATH.'file/script/internalLink.js'];}
{template 'module-header'}
<!--detail-wrap-->
<div class="detail-wrap">
    <!--crumb-->
    <div class="crumb container">
        <a href="{DT_PATH}" title="天成医疗网">天成医疗网首页</a><span>></span>
        <a href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>$typeid])}" title="{if $typeid == '2'}其他信息{else}供应信息{/if}">{if $typeid == 2}其他信息{else}供应信息{/if}</a><span>></span>
        <a href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>$typeid,'catid'=>$catid])}" title="{$CAT['catname']}">{$CAT['catname']}</a><span>></span>
        <em>{$title}</em>
    </div>
    <!--crumb end-->
    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main pull-left box-shadow">
            {if $validated}<div class="star-tag"></div>{/if}
            <div class="detail-hd">
                <h1>{$title}</h1>
                <div class="detail-hd-info">
                    <span>分类：<a href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>0,'catid'=>$catid])}" title="{$CATEGORY[$catid]}供应">{$CATEGORY[$catid]}</a></span>
                    <span>发布时间：{date('Y-m-d H:i',$addtime)}</span>
                    <span>所在地：<a href="{$MODULE[5]['linkurl']}{sell_rewrite(['typeid'=>0,'catid'=>$catid])}" title="{$AREA[$t['areaid']]['areaname']}供应">{$AREA[$t['areaid']]['areaname']}</a></span>
                </div>

                <div class="hot-num" title="热度">
                    <i class="p-i"></i>{$hits}℃
                </div>
            </div>
            <div class="detail-bd clearfix">
                <!--产品信息-->
                <div class="area clearfix">
                    <!--产品图片-->
                    <div class="slide-box pull-left">
                        <div class="bd">
                            <ul>
                            	{if $thumb}
                            	<li><a class="fancybox" href="{$thumb}" target="_blank"><img src="{$thumb}" /></a></li>
                            	{/if}
                            	{if $thumb1}
                                <li><a class="fancybox" href="{$thumb1}" target="_blank"><img src="{$thumb1}" /></a></li>
                                {/if}
                                {if $thumb2}
                                <li><a class="fancybox" href="{$thumb2}" target="_blank"><img src="{$thumb2}" /></a></li>
                                {/if}
                            </ul>
                        </div>
                        <p class="msg"><i class="p-i"></i>点击图片查看大图</p>
                    </div>
                    <!--产品图片 end-->

                    <!--主要参数-->
                    <div class="param pull-right">
                        <div class="col-hd">
                            <h2>主要参数</h2>
                        </div>
                        <ul class="col-bd clearfix">
                            <li><span>需求数量：</span><span>{if $amount}{$amount}{else}无{/if}</span></li>
                            <li><span>价格要求：</span><span>{if $price}{$price}{else}未填{/if}</span></li>
                            <li><span>最小起订量：</span><span>{if $minamount}{$minamount}{else}无{/if}</span></li>
                        </ul>
                        <div class="col-ft">
                            <a href="{$MODULE[5]['linkurl']}inquiry.php?itemid={$itemid}" class="btn btn-message"><i class="p-i"></i>发送咨询</a>
                            <a href="#comment" class="btn btn-comment"><i class="p-i"></i>我要评论</a>
                        </div>
                    </div>
                    <!--主要参数 end-->
                </div>
                <!--产品信息 end-->


                <!--详细内容-->
                <div class="area area-content">
                    <div class="col-hd">
                        <h2>详细内容</h2>
                    </div>
                    <div class="col-bd">
                        {if $_userid}
	            			{$content}	
						{else}
							{xcontent($content,'*','1,3,5,7,9')}
						{/if}
                    </div>
                </div>
                <!--详细内容 end-->

            </div>
            {template 'comment2017','chip'}
        </div>
        <!--main end-->
        <!--side-->
        <div class="side pull-right">
            <div class="user-mod box-shadow">
            <?php
				$member = isset($username) ? $db->get_one("SELECT * FROM ".$DT_PRE."member where username='$username'") : [];
				if($mobile) $member['mobile'] = $mobile;
				if($telephone) $member['telephone'] = $telephone;
				if($email) $member['email'] = $email;
				if($qq) $member['qq'] = $qq;
				function get_png($filename){
					$file_path = md5($filename);
					if(file_exists($file_path.'.png')){
						echo '<img src="'.DT_PATH.'file/contactpng/"'.$file_path.'.png">';
					}else{
						$vals = array(
							'word' => $filename,
							'img_path' => DT_ROOT.'/file/contactpng/',
							'font' => DT_ROOT.'/file/captcha/protest.ttf',
							'img_url' => DT_PATH.'file/contactpng/',
							);
						$img = create_captcha($vals);
						echo $img['image'];
					}
				}
			?>
                <div class="avatar">
                    <img src="{useravatar($member['username'],'large')}" alt="用户头像" />
                    {if $groupid>5}<a class="user-link transition" href="{str_replace('http://www','http://'.$username,DT_PATH)}">进入<br>企业网站</a>{/if}
                </div>
                <div class="name">{if $_userid}{$truename}{else}{mb_substr($truename,0,2,'UTF-8')}**{/if}</div>
                <div class="q-a">
                    <i class="p-i {if $member['vip'] == 0}dis{/if} v-recommend" title="天成推荐"></i>
                    <i class="p-i {if !$member['vcompany']}dis{/if} v-company" title="通过工商认证"></i>
                    <i class="p-i {if !$member['vemail']}dis{/if} v-email" title="通过电子邮箱认证"></i>
                    <i class="p-i {if !$member['vmobile']}dis{/if} v-tel" title="通过手机号码认证"></i>
                </div>
                <ul class="contact">
                	{if $_userid}
                    	{if $member['mobile']}<li class="clearfix"><span class="pull-left"><i class="p-i phone"></i>手机：</span><em class="pull-left">{get_png($member['mobile'])}</em></li>{/if}
                    	{if $member['telephone']}<li class="clearfix"><span class="pull-left"><i class="p-i tel"></i>电话：</span><em class="pull-left">{get_png($member['telephone'])}</em></li>{/if}
                    	{if $member['email']}<li class="clearfix"><span class="pull-left"><i class="p-i email"></i>邮箱：</span><em class="pull-left">{get_png($member['email'])}</em></li>{/if}
                    	{if $member['qq']}<li class="clearfix"><span class="pull-left"><i class="p-i qq"></i>Q&nbsp;Q：</span><em class="pull-left">{get_png($member['qq'])}</em></li>{/if}
                    {else}
                    	{if $mobile}<li class="clearfix"><span class="pull-left"><i class="p-i phone"></i>手机：</span><em class="pull-left">{substr($mobile,0,5)}******</em></li>{/if}
				        {if $telephone}<li class="clearfix"><span class="pull-left"><i class="p-i tel"></i>电话：</span><em class="pull-left">{substr($telephone,0,3)}******</em></li>{/if}
					    {if $qq}<li class="clearfix"><span class="pull-left"><i class="p-i qq"></i>Q&nbsp;Q：</span><em class="pull-left">{substr($qq,0,3)}*******</em></li>{/if}
					    {if $wechat}<li class="clearfix"><span class="pull-left"><i class="p-i qq"></i>微信：</span><em class="pull-left">{substr($wechat,0,3)}******</em></li>{/if}
                   		<a href="{$MODULE[2]['linkurl']}login.php" class="btn btn-success user-mod-login" rel="nofollow">登录查看联系方式</a>
                    {/if}
                    </ul>
			</div>

            <div class="module box-shadow mgt-20">
                <div class="module-hd">
                    <span>TA发布更多供求行情信息</span>
                </div>
                <div class="module-bd">
                    <ul class="module-list">
                    	{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username' and typeid=0&pagesize=10&order=itemid desc&template=null&debug=0")}
                    	{loop $tagt $k $t}
                        <li>
                            <p class="title text-overflow"><a href="{$t['linkurl']}" title="{$t['title']}">{$t['title']}</a></p>
                            <p class="info">
                                <span><i class="p-i cate"></i><a href="{sell_rewrite(['catid'=>$t['catid']])}" title="{$CATEGORY[$t['catid']]}供应" >{$CATEGORY[$t['catid']]}</a></span>
                                <span><i class="p-i local"></i><a href="{sell_rewrite(['areaid'=>$t['areaid']])}" title="{$AREA[$t['areaid']]['areaname']}供应">{$AREA[$t['areaid']]['areaname']}</a></span>
                            </p>
                        </li>
                        {/loop}
                    </ul>
                </div>
            </div>
        </div>
        <!--side end-->
    </div>
    <!--container end-->
</div>
<!--detail-wrap end-->
<!--channel-class-->

<!--channel-class-->
{$iLink}
<!--channel-class end -->
{template 'footer2017'}