<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{if $ztitle==''}{if $seo_title}{$seo_title}{else}{if $head_title}{$head_title}{$DT[seo_delimiter]}{/if}{if $city_sitename}{$city_sitename}{else}{$DT[sitename]}{/if}{/if}{else}{$ztitle}{/if}</title>
{if $head_keywords||$zkeywords}
<meta name="keywords" content="{if $zkeywords}{$zkeywords}{else}{$head_keywords}{/if}"/>
{/if}
{if $head_description||$zdescription}
<meta name="description" content="{if $zdescription}{$zdescription}{else}{$head_description}{/if}"/>
{/if}
{if $head_mobile}
<meta http-equiv="mobile-agent" content="format=xhtml; url={$head_mobile}"> 
<meta http-equiv="mobile-agent" content="format=html5; url={$head_mobile}">
{/if}
<link rel="shortcut icon" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
{if $head_canonical}
<link rel="canonical" href="{$head_canonical}"/>
{elseif $itemid&&$linkurl&$title}
<link rel="canonical" href="{$linkurl}"/>
{/if}
{if $EXT[archiver_enable]}
<link rel="archives" title="{$DT[sitename]}" href="{$EXT[archiver_url]}"/>
{/if}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css?v20161216"/>
{if $moduleid>3}<link rel="stylesheet" type="text/css" href="{DT_SKIN}{$module}.css?v20161208"/>{/if}
{if $CSS}
{loop $CSS $css}
<link rel="stylesheet" type="text/css" href="{DT_SKIN}{$css}.css?v20161208"/>
{/loop}
{/if}

<meta name="wumiiVerification" content="8f76d11a-00e5-409f-8ae1-57cc06024247" />

<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}ie6.css"/>
<![endif]-->
{if $itemid && $DT[anticopy]}
<script type="text/javascript">
document.oncontextmenu=function(e){return false;};
//document.onselectstart=function(e){return false;};
</script>
{/if}
<script type="text/javascript" src="{DT_PATH}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jsfunction.js"></script>
{if $lazy}<script type="text/javascript" src="{DT_STATIC}file/script/jquery.lazyload.js"></script>{/if}
{if $head_mobile||$head_link}
<script type="text/javascript">
{if $head_link}GoMobile('{$head_link}');{else}GoMobile('{$head_mobile}');{/if}
</script>
{/if}
<!-- {if $EXT[wap_enable] && $EXT[wap_goto]&&$head_mobile}
<script type="text/javascript">
	var u = navigator.userAgent.toLowerCase();
	if(u.match(/MicroMessenger/i) == "micromessenger") {
		GoMobile('{$head_mobile}');
	}
</script>
{/if}-->
{if $JS}
{loop $JS $js}
<script type="text/javascript" src="{DT_STATIC}file/script/{$js}.js"></script>
{/loop}
{/if}

</head>


