{template 'header'}
<div style="height:41px;"></div><style type="text/css">
	#nav{width:730px;}
</style>
<script type="text/javascript">Dd('menubgs').className='hd';</script>
</div>
</div>
<div style="background:url('{DT_PATH}wap/image/down.jpg') no-repeat center top;height:600px;">
<div class="webw">
<div style="padding-top:250px;padding-left:60px;"><a href="{DT_PATH}file/and_tece.apk" target="_blank"><img src="{DT_SKIN}image/blank.gif" width=500 height=60   title="点击下载"></a></div>
<img src="{$android_app}" id="qrcode-img" width="140" height="140" style="margin-top:60px;margin-left:100px;"/>
</div>
</div>

{template 'footer'}