<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>天成医疗专区列表</title>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
<style type="text/css">
body{background:#f2f8f9}
table{background:#bad0e9;}
table th{background:#c0d9f1;}
table td{background:#fbfbfb}
select{padding:5px;}
.input{padding:1px;}
#kw{width:200px}
.submit{padding:5px;width:60px;text-align:center;font-size:15px;}
.seld{padding-left:5px;}
.seld li{font-size:14px;line-height:24px;}
</style>
</head>
<body>
{php $catid=$_REQUEST['catid'];}
{php $page=$_REQUEST['page'];}
{php $kw=$_REQUEST['kw'];}
<script type="text/javascript" src="{DT_PATH}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jsfunction.js"></script>
<div class="autoheight" style="padding-top:20px;">
<table align="center" cellspacing=1 cellpadding=5 width="600">
<form method="post" action="select.php">
<tr>
	<th align="left">	{ajax_category_select('catid', '选择分类', $catid, 11)}<input type="text" name="kw" id="kw"  class="input" value="{if $kw}{$kw}{else}请输入关键词{/if}" onfocus="if(this.value=='请输入关键词'){this.value='';}">&nbsp;<input type="submit" value=" 搜 索 " class="submit"></th>
</tr>
<tr>
	<td valign="top" height="400">
	{php $condition=' and status=3';}
	{if $kw&&$kw!='请输入关键词'}
	{php $condition=$condition." and title like '%$kw%'";}
	{/if}
				{php $tags = tag("moduleid=11&catid=$catid&condition=itemid>0 ".$condition."&pagesize=20&order=itemid desc&template=null&debug=0&showcat=1")}	
				{if $tags}
				<ul class="seld">
					{loop $tags $z $t}
					 <li name="specialid"><input type="radio" onclick="{if strpos($t[tousers],$_username)||$t[tousers]=='0'}parent.Dd('specialid').value=this.value;parent.Dd('specialtitle').value='{$t[title]}';window.parent.closebox('boxdd');{else}alert('没有添加进入该专题的权限，发布者已做限制！');{/if}" value="{$t[itemid]}">{$t[title]}</li>
					{/loop}
				</ul>
				{/if}
	
{php $pages=str_replace('list.php?','select.php?kw='.$kw.'&',$pages)}
<div class="pages">{$pages}</div>
	</td>
</tr>
</form>
</table>
</div>
</body>
</html>