{php $sitemenu='special';$listpage='list';}
{template 'header'}

</div></div>
{if $bannerbg}
<div class="center whitebg tc" style="margin-top:-9px;height:350px;background:url('{$bannerbg}') center top repeat-x;">
</div>
{/if}
<div class="divline"></div>
<div class="webw center">
<div class=" whitebg pd10">
{template 'lay','tag'}	
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid};
</script>
			<dl class="dllist autoheight">
			<dt style="border:0px;">
			<div class="hcolor f14 newscatname" style="background-image:url('{DT_SKIN}image/special/{$i}.png');"><a  class="f20 b">{$title}介绍</a></div></dt>
			<dd  class="autoheight" style="border-bottom:2px solid #ccc;margin-bottom:10px;">
						{if $CP}{template 'property', 'chip'}{/if}
						<div class="content" id="content">{$content}</div>
			</dd>
            </dl>
		<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
		<td valign="top" width="320" align="center">
			<Div class="grayb"><!--{tag("table=special_item&condition=specialid=$itemid &order=addtime desc&pagesize=$cfg_photo&width=320&height=200&target=_blank&template=slide")}--></div>
		</td>
		<td valign="top">
			<div class="headline">
			<!--{tag("table=special_item&condition=specialid=$itemid &order=addtime desc&pagesize=6&template=list-hl&showcat=1")}-->
			</div>
		</td>
		</tr>
		</table>

{if $cfg_type}
	<div class="special_box">
	<table cellpadding="0" cellspacing="0" width="980" align="center">
	{loop $TYPE $k $v}
	{if $k%3==0}<tr>{/if}
	<td valign="top" width="320">
		<div class="divline"></div>
		<div class="box_head"><span class="fr mr5"><a href="{$v[linkurl]}">更多&raquo;</a></span><strong>{$v[typename]}</strong></div>
		<div class="box_body">
		{php $tags = tag("table=special_item&condition=specialid=$itemid and typeid=".$v[typeid]."&order=addtime desc&pagesize=$cfg_type&datetype=2&template=null")}
		{if $tags}
		<ul>
			{loop $tags $i $t}
			<li class="{if $i%2}graybg{/if} pl10"><span class="fr mr10 f12 hcolor">[{timetodate($t[edittime],2)}]</span><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"> · {$t[alt]}</a></li>
			{/loop}
		</ul>
		{/if}
		</div>			
	</td>
	<td width="10">&nbsp;</td>
	{if $k%3==2}</tr>{/if}
	{/loop}
	</table>
	</div>
{/if}


	<div class="divline"> </div>
	<div class="box_body" style="padding:0;">
	{template 'comment', 'chip'}
	</div>
{template 'footer'}