    <!-- 商家详情 -->
    <div class="company-detail">
        <div class="company-detail-hd clearfix">
        	{if $thumb}
            <div class="pull-left">
                <div class="company-logo">
                    <img src="{$thumb}" onerror="javascript:this.src='{SO_SKIN}/images/nopic.gif';" alt="{$title}">
                </div>
            </div>
            {/if}
            <div class="company-info pull-left">
                <h2>{$title}</h2>
                <ul>
                    {if $telephone}<li><i class="icons tel"></i>{$telephone}</li>{/if}
                    {if $mobile}<li><i class="icons mobile"></i>{$mobile}</li>{/if}
                    {if $email}<li><i class="icons email"></i>{$email}</li>{/if}
                    {if $official_website}<li><i class="icons website"></i><a href="{$official_website}" target="_blank" rel="nofollow">{$official_website}</a></li>{/if}
                    {if $address}<li><i class="icons address"></i>{$address}</li>{/if}
                </ul>
            </div>
        </div>

		<!--客服-->
		<div class="c-service clearfix detail-c-service" style="margin-top: 15px;">
			{if $infotype > 0}
			<div class="c-contact">
				<div class="hd">想对该信息了解更深？您可转入人工服务</div>
				<ul class="bd clearfix">
					{php $qq_arr = array(1=>'786466321',2=>'2300379865',3=>'657911476',4=>'1928771453',5=>'1928771453',6=>'657911476',7=>'657911476');}
					{php $telephone_arr = array(1=>'020-22017986',2=>'020-22017985',3=>'4006173599',4=>'020-22017982',5=>'020-22017982',6=>'4006173599',7=>'020-22017996');}
					<li><a href="http://wpa.qq.com/msgrd?v=3&uin={$qq_arr[$infotype]}&site=qq&menu=yes&s=tecenet.com" target="_blank"><i class="qq"></i><span>{$info_type_lists[$infotype]['name']}在线QQ客服</span></a></li>
					<li><i class="tel"></i><span>{$info_type_lists[$infotype]['name']}热线：{$telephone_arr[$infotype]}</span></li>
				</ul>
			</div>
			{/if}
			<a class="pull-right" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);"><img src="{SO_SKIN}/images/detail-c-service.png" alt=""></a>
		</div>
		<!--客服 end-->

        <div class="company-detail-bd">
        
		{if $result_total}
            <div class="c-module">
                <div class="c-module-hd">
                    <h3>公司产品</h3>
                </div>
                <div class="c-moduile-bd clearfix">
                
                {loop $result_items $k $r}
                	{php $from_table = strpos($r['from_table'],'sogex') !== false ? 's' : 't';}
                   <a href="{so_rewrite('detail.php?itemid='.$r['itemid'].'&type=0&infotype=1'.'&from='.$from_table)}" title="{$r['title']}" target="_blank" class="p-item">
                   		
                        <div class="img-area">
                            <img src="{$r['thumb']}" alt="{$r['title']}" onerror="javascript:this.src='{SO_SKIN}/images/nopic.gif';">
                        </div>
                        
                        <p class="name">{$r['title']}</p>
                        <p class="price">{if $r['price'] == '0' || empty($r['price'])}面议{else}{$r['price']}{/if}</p>
                    </a>
                {/loop}
                    
                </div>
            </div>
		{/if}
            <div class="c-module">
                <div class="c-module-hd">
                    <h3>公司介绍</h3>
                </div>
                <div class="c-moduile-bd">
                    {$content}
                </div>
            </div>

        </div>


    </div>
    <!-- 商家详情 end-->
