<style>
.mark-tecenet{padding:10px;background-color:#4a4a4a}
.mark-tecenet .dis-box{display:-webkit-box;display:-moz-box;}
.mark-tecenet img{float: left;width:48px;height:48px}
.mark-tecenet .txt{float: left;margin-left:10px;padding-top:5px;color:#fff;font-size:16px;line-height:1.2}
.mark-tecenet .txt p:last-child{font-size:13px}
.mark-tecenet .txt p{ margin:0;}
.mark-tecenet .go-btn{display:block;width:90px;text-align:center;margin-top:9px;height:30px;font-size:14px;line-height:30px;color:#fff;background-color:#ff424c;border-radius:5px}
.mark-tecenet .close-btn{display:block;width:20px;height:20px;font-size:12px;margin:14px 0 0 10px;line-height:20px;text-align:center;color:#fff;background-color:#111;border-radius:50%}
.mark-tecenet .so-link{display: block;-moz-box-flex:1;-webkit-box-flex:1;}
@media screen and (max-width:320px){.mark-tecenet .go-btn{width:82px}
}
</style>
<div class="mark-tecenet" id="markTecenet" style="display:none">
    <div class="dis-box">
        <a class="so-link" href="http://so.tecenet.com/mindex.php" target="_self">
            <img src="{DT_PATH}/skin/sogex/images/mark-logo.png" alt="">
            <div class="txt">
                <p>天成医搜</p>
                <p>专 · 新 · 快，纯干货！</p>
            </div>
        </a>
        <a class="go-btn" href="">收藏小步骤</a>
        <a class="close-btn" id="markCloseBtn" href="javascript:;">×</a>
    </div>
</div>
<script>
function setCookie(cname,cvalue,exdays){
    var d = new Date();
    d.setTime(d.getTime()+(exdays*24*60*60*1000));
    var expires = "expires="+d.toGMTString();
    document.cookie = cname + "=" + cvalue + "; " + expires;
}
function getCookie(cname){
    var name = cname + "=";
    var ca = document.cookie.split(';');
    for(var i=0; i<ca.length; i++){
        var c = ca[i].trim();
        if (c.indexOf(name)==0) return c.substring(name.length,c.length);
    }
    return "";
}
function checkCookie(){
    var markCookie =getCookie("mark");
    if (markCookie == ""){
        document.getElementById("markTecenet").style.display="block";
    }
}
document.getElementById("markCloseBtn").onclick=function(){
    setCookie('mark','get',0.6);
    document.getElementById('markTecenet').style.display='none';
};
checkCookie();
</script>
