<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" />
    <title>{$web_title}</title>
    <meta name="keywords" content="天成，医搜，天成医搜，医疗器械，医疗服务，医疗器械供应，医疗器械采购，医疗器械维修"/>
    <meta name="description" content="天成医搜-聚焦医疗服务行业的垂直搜索引擎，让用户更快捷地获取医疗器械产品、供应采购、技术服务、新闻、科研等信息，解决所需。为您提供精准、实时、可靠的搜索体验。"/>
    <link rel='canonical' href='{SO_PATH}mdetail-{$infotype}-{$itemid}.html' />
	<link rel="apple-touch-icon" href="{SO_SKIN}/images/s_wechat_share_icon.png">
	<link rel="shortcut icon" href="{SO_SKIN}/images/sogex.ico" />
    <link rel="stylesheet" href="{SO_SKIN}/search-page.min.css?v20161108">
</head>
<body>
{template 'guide-ad','search'}
    <!--search-wrap-->
    <div class="search-wrap">
		
		{template 'mheader',$module}

        <!--main-->
        <div class="main">
            <!--网页信息-->
            <div class="page-info">
                <div class="bd">
                    {if $keyword}<p>您查询的关键词是：<em>{$keyword}</em></p>{/if}
                    <p>以下是该网页在北京时间 {date('Y年m月n日 H时i分s秒',$updatetime)} 的快照；</p>
                    <p class="small">天成搜索和网页 <a href="{$url}" target="_blank">{$url}</a> 的作者无关，不对其内容负责。天成搜索快照为网络故障时之索引，不代表被搜索网站的页面。</p>
                </div>
            </div>
            <!--网页信息 end-->

            <!--快照结果-->
            <div class="snapshot">
                <hgroup class="title">
                    <h1>{$title}</h1>
                    <div class="info">
                        <span>点击：{$hits}次</span>
                    </div>
                </hgroup>
                <section class="content">

                    {$content}
                    <p>&nbsp;</p>

                </section>

                <a href="javascript:;" class="show-more" style="display:none;"><span>展开全文</span><i>></i></a>

                <div class="share clearfix">
                    <div class="share-hd pull-left">
                        分享到：
                    </div>
                    <div class="bdsharebuttonbox pull-left">
                        <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                        <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                        <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                        <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                        <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                    </div>
                    <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":[],"bdPic":"","bdStyle":"0","bdSize":"24"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                </div>

                <a class="link-out" href="link.php?i={$itemid}&infotype={$infotype}&u={urlencode($url)}">查看原页面</a>
            </div>
            <!--快照结果 end-->

            <!--增值服务-->
            <div class="module added-service">
                <div class="hd clearfix">
                    <span class="pull-left">增值服务</span>
                </div>
                <div class="bd clearfix">
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl1')" >医学工程装修服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl2')" >医疗行业资质服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl3')" >产品采购招标服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl4')" >设备技术整包服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl5')" >供应链融资服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl6')" >医疗软件信息系统</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl7')" >行业进出口服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl8')" >医疗招聘求职服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl9')" >医院投资管理服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl10')" >健康导医综合服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl11')" >医疗物流管理服务</a></div>
                    <div class="service-txt"><a href="javascript:;" onclick="serviceContShow('tpl12')" >医疗报证科研服务</a></div>
                </div>
            </div>
            <!--增值服务 end-->

            
        </div>
        <!--main end-->

    </div>
    <!--search-wrap end-->

    <!--回到顶部-->
    <div class="tool">
        <a href="javascript:;" class="go-to-top" style="display: none;"></a>
        <a href="http://wap.tecenet.com/" class="go-to-home"></a>
    </div>
    <!--回到顶部 end-->

    <!--footer-->
    <footer class="footer">
        <img class="tel-400" width="147" height="34" src="http://www.tecenet.com/skin/sogex/images/tel-400.png" alt="">
        <div class="links">
            <a href="feekback.php">用户反馈</a>|
            <a href="http://wap.tecenet.com/" target="_blank">天成医疗网</a>|
            <a href="http://hao.tecenet.com/" target="_blank">医疗厂家导航</a>
        </div>
        <p>版权所有 ©广州天成医疗技术股份有限公司</p>
        <p>CopyRight ©Guangzhou TianCheng Medical Technology Co.,Ltd.</p>
    </footer>
    <!--footer end-->

    <!--modal-->
    <div class="modal" style="display: none;">

    </div>
    <script src="{DT_PATH}file/script/sogex/madded-services.js"></script>
    <!--modal end-->

    <script src="{DT_PATH}file/script/sogex/zepto.min.js"></script>
    <script src="js/template.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<script>
// Zepto.cookie plugin
(function(a){a.extend(a.fn,{cookie:function(b,c,d){var e,f,g,h;if(arguments.length>1&&String(c)!=="[object Object]"){d=a.extend({},d);if(c===null||c===undefined)d.expires=-1;return typeof d.expires=="number"&&(e=d.expires*24*60*60*1e3,f=d.expires=new Date,f.setTime(f.getTime()+e)),c=String(c),document.cookie=[encodeURIComponent(b),"=",d.raw?c:encodeURIComponent(c),d.expires?"; expires="+d.expires.toUTCString():"",d.path?"; path="+d.path:"",d.domain?"; domain="+d.domain:"",d.secure?"; secure":""].join("")}return d=c||{},h=d.raw?function(a){return a}:decodeURIComponent,(g=(new RegExp("(?:^|; )"+encodeURIComponent(b)+"=([^;]*)")).exec(document.cookie))?h(g[1]):null}})})(Zepto);

    if(!$.fn.cookie('mark')){
        $("#markTecenet").show();
    }
    $(".close-btn").on("click",function(){
        $.fn.cookie('mark', 'bar',{ expires : 0.5 });
    });
</script>
    <script>
        var localUrl = encodeURIComponent(window.location.href.split("#")[0]);
        var shareTitle = $('.title h1').text();
        $.ajax({
            url: 'http://www.tecenet.com/api/weixin/jssdk.php?callback=cb&url='+localUrl,
            dataType: 'jsonp',
            error: function(){},
            success: function(cb){
                if ( typeof cb.timestamp != 'undefined' && typeof cb.nonceStr != 'undefined' && typeof cb.signature != 'undefined' ) {
                    wx.config({
                        debug: false,
                        appId: cb.appId,
                        timestamp: cb.timestamp,
                        nonceStr: cb.nonceStr,
                        signature: cb.signature,
                        jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo']
                    });
                    wx.ready(function () {
                        wx.onMenuShareTimeline({
                            title: shareTitle+"_天成医搜",
                            link: window.location.href,
                            imgUrl: "http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png"
                        });
                        wx.onMenuShareAppMessage({
                            title: shareTitle+"_天成医搜",
                            desc: '我在天成医搜找到了“'+shareTitle+'”',
                            link: window.location.href,
                            imgUrl: $(".snapshot img").length>0?$(".snapshot img").attr("src"):"http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png",
                            type: '',
                            dataUrl: ''
                        });
                        wx.onMenuShareQQ({
                            title: shareTitle+"_天成医搜",
                            desc: '我在天成医搜找到了“'+shareTitle+'”',
                            link: window.location.href,
                            imgUrl: $(".snapshot img").length>0?$(".snapshot img").attr("src"):"http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png"
                        });
                        wx.onMenuShareWeibo({
                            title:shareTitle+"_天成医搜",
                            desc: '我在天成医搜找到了“'+shareTitle+'”',
                            link: window.location.href,
                            imgUrl: $(".snapshot img").length>0?$(".snapshot img").attr("src"):"http://www.tecenet.com/skin/sogex/images/s_wechat_share_icon.png"
                        });
                    });
                }
            }
        });
    </script>
    <script>
        // 展开全文
        function snapshotCont(){
            if ( $(".snapshot .content").height() > 1200 ) {
                $(".snapshot .content").css("max-height","700px");
                $(".show-more").show();
            }else{
                $(".show-more").hide();
            }
            $(".show-more").on('click',function(){
                $(".snapshot .content").attr('style', null);
                $(this).hide();
            })
        }
        snapshotCont();
        // 导航展开收起
        $('.menu-btn').click(function(){
            if($(this).hasClass("act")){
                $(this).html("更多<i></i>");
                $(".menu-more").hide();
                $(this).removeClass("act");
				$(".header").removeClass("show-menu");

            }else{
                $(this).html("收起<i></i>");
                $(".menu-more").show();
                $(this).addClass("act");
				$(".header").addClass("show-menu");
            }
        });
        // 回到顶部
        $(window).scroll(function() {
            if ($(window).scrollTop() > 600) {
                $(".tool .go-to-top").show();
            } else {
                $(".tool .go-to-top").hide();
            }
        });
        $(".tool .go-to-top").click(function(){
            $('body,html').scrollTop(0);
            return false;
        });
    </script>
    <div style="display:none;">{template 'so_analytics','include'}</div>
</body>
</html>