        <!--header-->
        <div class="header clearfix dis-box">
            <a href="mindex.php"><h1 class="logo"><img src="{SO_SKIN}/images/mhomeLogo.png?v20161108" alt="天成搜索"></h1></a>

            <!--menu-->
            <div class="menu flex-1">
                <ul>
                {php $i = 0;}
                {loop $info_type_lists $k $v}
                	{if $i == 0} <li class="item clearfix"><span {if $type == '' || $type == '0'} class="active"{/if}><a href="msearch.php?keyword={$keyword}">全网</a></span>{/if}
                	<a {if $type == $v['catid']}class="active"{/if} href="msearch.php?keyword={$keyword}&type={$v['catid']}&page={$page}">{$v['name']}</a>
                	{if $i == 1}<a href="javascript:;" class="menu-btn">更多<i></i></a></li><li class="menu-more dis-box" style="display:none;">{/if}
                	{php $i++;}
                {/loop}
                    </li>
                </ul>
            </div>
            <!--menu end-->
        </div>
        <!--header end-->
		 

        <!--search-box-->
        <div class="search-box">
            <form action="msearch.php" method="get">
            	<input type="hidden" name="type" value="{$type}" id="type" />
                <input type="text" id="keyword" autocomplete="off" value="{$keyword}" name="keyword">
                <input type="submit" value="搜医搜">
            </form>
        </div>
        <!--search-box end-->