{if count($spread_arr) > 3}
<div class="columnbox">
	<div class="tuijian_title"><span>合作推广</span></div>
	{loop $spread_arr $k $v}
	<?php if($k < 3){continue;} ?>
	<div class="tuijian_c">
	{php $wtitle=get_wildcard($v['title'],$keyword,50);}
	<h3><a href="link.php?t={$v['itemid']}&u={urlencode($v['url'])}&kw={urlencode($keyword)}" target="_blank">{if $wtitle}{dsubstr($wtitle,50,'...')}{else}{dsubstr($v['default_name'],50,'...')}{/if}</a></h3>
	<p class="res-desc">
	{php $wdescription=get_wildcard($v['description'],$keyword,180);}
	{if $wdescription}{dsubstr($wdescription,180,'...')}{else}{dsubstr($v['default_description'],180,'...')}{/if}
	</p>
	<p class="res-linkinfo">
	<b>
	<?php $hosts = parse_url($v['url']);
	echo $hosts['host']; 
	?>
	</b></p>
	</div>
	{/loop}
</div>
{/if}