
@font-face {font-family: "iconfont";
  src: url('//at.alicdn.com/t/font_vg3dcyy1qxb6gvi.eot?t=1495098973242'); /* IE9*/
  src: url('//at.alicdn.com/t/font_vg3dcyy1qxb6gvi.eot?t=1495098973242#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_vg3dcyy1qxb6gvi.woff?t=1495098973242') format('woff'), /* chrome, firefox */
  url('//at.alicdn.com/t/font_vg3dcyy1qxb6gvi.ttf?t=1495098973242') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_vg3dcyy1qxb6gvi.svg?t=1495098973242#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQ:before { content: "\e607"; }

.icon-edit:before { content: "\e649"; }

.icon-favor:before { content: "\e64d"; }

.icon-phone:before { content: "\e652"; }

.icon-list:before { content: "\e682"; }

.icon-cart:before { content: "\e6af"; }

.icon-home:before { content: "\e6b8"; }

.icon-lock:before { content: "\e6c0"; }

.icon-friend:before { content: "\e6cc"; }

.icon-weibo:before { content: "\e619"; }

.icon-service:before { content: "\e6ff"; }

.icon-mobile:before { content: "\e704"; }

.icon-focus:before { content: "\e725"; }

.icon-people:before { content: "\e736"; }

.icon-attentionfill:before { content: "\e73c"; }

.icon-attention:before { content: "\e73d"; }

.icon-communityfill:before { content: "\e740"; }

.icon-weixin:before { content: "\e601"; }

.icon-jifen:before { content: "\e61c"; }

.icon-text:before { content: "\e791"; }

.icon-dengji:before { content: "\e629"; }

.icon-dengji-copy:before { content: "\e600"; }

.icon-gs:before { content: "\e65c"; }

.icon-mail:before { content: "\e7bd"; }

.icon-peoplelist:before { content: "\e7be"; }

.icon-moneybagfill:before { content: "\e7ce"; }

.icon-yanzhengma:before { content: "\e64c"; }
