{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
{template 'lay','tag'}
<div class="autoheight pt5 grayb nt"><form action="{$MOD[linkurl]}search.php" id="fsearch">
														{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
														
														<dl class="options">		
														
														<dt>{$MOD[name]}分类：</dt>
														<dd><ul><li><a {if $catid==''} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?order=0&downtype=99')}">不限</a></li>
														{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[1]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[1]}
																	{php $childa=$t[child];$parenta=$t[catname];$catida=$t[catid];} 
																	{/if}
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{if $childa!=0}
															<dl class="options">
															<dt>{$parenta}的分类：</dt>
															<dd><ul><li><a {if $catid==$catida} class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('list.php?catid='.$catida)}">不限</a></li>
															{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=$catida&pagesize=30&order=listorder ASC&template=null")}
															{loop $tagss $i $t}
															<li><a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$t[catid])}" {if $t[catid]==$catid||$t[catid]==$l[2]} class="opyes"{else}class="color"{/if}>{set_style($t[catname],$t[style])}<i>[{$t[item]}]</i></a></li>
																	{if $t[catid]==$catid||$t[catid]==$l[2]}
																	{php $childb=$t[child];$parentb=$t[catname];$catidb=$t[catid];} 
																	{/if}
															{/loop}
															
															<br class="clear">
															</ul>
															</dd>
															</dl>
															{/if}
															
															<dl class="options">
															<dt>下载所需类型：</dt>
															<dd><ul>
															<li><a class="opyes" href="{$MOD[linkurl]}{rewrite('search.php?order='.$orders.'&downtype=99&catid='.$catid)}">不限</a></li>
															<li><a class="color" href="{$MOD[linkurl]}{rewrite('search.php?downtype=0&catid='.$catid)}">完全共享</a></li>
															<li><a {if $downtype==1}class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?downtype=1&catid='.$catid)}">积分下载</a></li>
															<li><a {if $downtype==2}class="opyes"{else}class="color"{/if} href="{$MOD[linkurl]}{rewrite('search.php?downtype=2&catid='.$catid)}">金币下载</a></li>
															<br class="clear">
															</ul>
															</dd>
															</dl>
														<dl class="options">
															<dt>数据排列方式：</dt>
															<dd><ul>
															{loop $sorder $k $v}
															<li><a href="{$MOD[linkurl]}{rewrite('search.php?catid='.$catid.'&downtype='.$downtype.'&order='.$k)}" {if $order==$k}class="opyes"{else}class="color"{/if}>{$v}</a></li>
															{/loop}
															<br class="clear">
															</ul>
															</dd>
															</dl>
														<dl class="options search nborder">
															
															<dd>
			<ul><li>
            <input type="text" size="30" name="kw" value="{$kw}" class="subm" id="keywords"  onfocus="if(this.value=='输入关键词'){this.value=''}"/>
			<input type="hidden" name="areaid" value="{$areaid}">
			<input type="hidden" name="catid" value="{$catid}">
			<input type="hidden" name="order" value="0">
			<input type="hidden" name="downtype" value="99"><input type="hidden" name="vip" value="{$vip}"><input type="hidden" name="thumb" value="{$thumb}">
			<script type="text/javascript">
			document.getElementById('keywords').value='{if $kw!=''}{$kw}{else}输入关键词{/if}';
			</script><input type="image" src="{DT_SKIN}image/search2.jpg" class="subm mr10"/>
			热门关键词：<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_kw", -2)}-->
			</li>
			<br class="clear">
															</ul>
															</dd>
													    </dl></form>
														</div>
															<div class="yinying"></div>










<div class="w730 fl autoheight">
<div class="blue"><div class="h4title">{$MOD[name]}信息列表</div></div>
														<div class="autoheight grayb nt">

															
{if $tags}	
		<ul class="list">
		<!--{tag("moduleid=$moduleid&condition=status=3$dtype&catid=$catid&pagesize=".$MOD[pagesize]."&page=$page&showcat=1&showpage=1&order=".$MOD[order]."&template=list-down2")}-->
		</ul>
		{else}
		{template 'noresult', 'message'}
		{/if}


													
														</div>

</div>

<div class="w240 fl ml10 autoheight">{template 'right', 'down'}</div>
<br class="clear">
{template 'footer'}