<div id="indexsidebar" class="hd">
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;寻找/发布工程师或设备技术需求</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/wx.png');"><a href="{$MODULE[9][linkurl]}search.php?action=job" rel="nofollow"><p>寻找设备技术需求</p><font>维修、安装、调试等等</font></a></li>	
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/gcs.png');"><a href="{$MODULE[9][linkurl]}search.php?action=resume" rel="nofollow"><p>寻找技术工程师</p><font>工程师、维修公司等等</font></a></li>	
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/3.png');"><a href="{$MODULE[16][linkurl]}search.php?stype=1&list=1" rel="nofollow"><p>配件供应平台</p><font>医疗设备配件耗材供应</font></a></li>
										<div class="divline"></div>
									</ul>
									<ul class="appfb">
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=9&action=add" rel="nofollow"><span class="lenstr">发布设备技术需求</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=9&action=add&resume=1" rel="nofollow"><span class="lenstr">加入技术工程师</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=16&action=add&stype=2" rel="nofollow"><span class="lenstr">发布设备配件</span></a></li>
									</ul>
									<div class="divline"></div>
										<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;寻找/发布设备供应/招标信息</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/pro.png');"><a href="{$MODULE[16][linkurl]}" rel="nofollow"><p>所有医疗产品信息</p><font>医疗器械/设备销售</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/tuijian.png');"><a href="{$MODULE[6][linkurl]}" rel="nofollow"><p>所有招标采购信息</p><font>求购/招标/采购等信息</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/20.png');"><a href="{$MODULE[7][linkurl]}" rel="nofollow"><p>所有科研项目信息</p><font>所有医疗科研项目信息</font></a></li>
										<div class="divline"></div>
									</ul>
									<ul class="appfb">
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=16&action=add" rel="nofollow"><span class="lenstr">发布医疗器械/设备</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add" rel="nofollow"><span class="lenstr">发布招标采购信息</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=7&action=add" rel="nofollow"><span class="lenstr">发布医疗科研项目</span></a></li>
									</ul>
									<div class="divline"></div>
									<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;寻找/发布人才招聘/简历信息</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/qiu.png');"><a href="{$MODULE[28][linkurl]}" rel="nofollow"><p>企业招聘信息</p><font>人才招聘/职位等信息</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/use.png');"><a href="{$MODULE[28][linkurl]}search.php?action=resume" rel="nofollow"><p>求职简历信息</p><font>精英人才自我介绍信息</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/tuijian.png');"><a href="{$MODULE[5][linkurl]}" rel="nofollow"><p>所有其他供应信息</p><font>找人脉，找关系，委托的</font></a></li>
										<div class="divline"></div>
									</ul>
									<ul class="appfb">
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=28&action=add" rel="nofollow"><span class="lenstr">发布职位招聘信息</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=28&action=add&resume=1" rel="nofollow"><span class="lenstr">发布求职简历信息</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=5&action=add" rel="nofollow"><span class="lenstr">发布其他供应信息</span></a></li>
									</ul>
									<div class="divline"></div>
									<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;发布产品/线上推广/法律咨询</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/shop.png');"><a href="http://www.tecenet.com/member/register.php" rel="nofollow"><p style="padding-top:85px;">开设网店</p></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/product.png');"><a href="http://www.tecenet.com/member/my.php?mid=16&action=add" rel="nofollow"><p style="padding-top:85px;">发布产品</p></a></li>	
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/legal.png');"><a href="http://gdkinglaw.tecenet.com/" target="_blank" rel="nofollow"><p style="padding-top:85px;">法律咨询</p></a></li>
										<div class="divline"></div>
									</ul>
									<ul  class="appfb">
										<li  class="appfabu mou_p"><a href="http://www.tecenet.com/member/grade.php" rel="nofollow"><span style="text-indent:20px;" class="lenstr">网店升级</span></a></li>
										<li  class="appfabu mou_p"><a href="http://www.tecenet.com/member/my.php?mid=16" rel="nofollow"><span style="text-indent:20px;" class="lenstr">管理产品</span></a></li>
										<li  class="appfabu mou_p"><a href="http://wpa.qq.com/msgrd?v=3&uin=3437318026&site=qq&menu=yes" target="_blank" rel="nofollow"><span style="text-indent:20px;" class="lenstr">法律客服</span></a></li>	
									</ul>
									<div class="divline"></div>
									<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;进行品牌价值推广和网络推广</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/gk.png');"><a href="{$MODULE[1][linkurl]}ad/" rel="nofollow"><p>本站广告位预定</p><font>附送定制宣传单张</font></a></li>	
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/baidu.png');"><a href="{$MODULE[1][linkurl]}page/baidu.php" rel="nofollow"><p>加入百度推广渠道</p><font>关键词排名及流量转换</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/5.png');"><a href="{$MODULE[1][linkurl]}taoxinxi/"><p>需求业务介绍服务</p><font>收集需求介绍给供应商</font></a></li>
										<div class="divline"></div>
									</ul>
									<ul  class="appfb">
										<li  class="appfabu mou_p"><a href="http://wpa.qq.com/msgrd?v=3&uin=2990334470&site=qq&menu=yes" rel="nofollow" target="_blank"><span class="lenstr">联系广告位QQ客服</span></a></li>
										<li  class="appfabu mou_p"><a href="http://wpa.qq.com/msgrd?v=3&uin=93645493&site=qq&menu=yes" rel="nofollow" target="_blank"><span class="lenstr">联系推广QQ客服</span></a></li>
										<li  class="appfabu mou_p"><a href="http://wpa.qq.com/msgrd?v=3&uin=335418588&site=qq&menu=yes" rel="nofollow" target="_blank"><span class="lenstr">联系网站建设QQ客服</span></a></li>	
									</ul>
									<div class="divline"></div>
									<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">·&nbsp;了解行业的资讯和同行交流</h3></span></dt>
								<dd class="i-list autoheight">
									<ul class="applist">
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/news.png');"><a href="{$MODULE[21][linkurl]}" rel="nofollow"><p>行业资讯信息</p><font>行业内资讯、政策信息</font></a></li>	
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/15.png');"><a href="{$MODULE[15][linkurl]}" rel="nofollow"><p>技术资料共享</p><font>教程、录像、电子书等</font></a></li>
										<li class="ico" style="background-image:url('{DT_SKIN}image/png/2.png');"><a href="{$MODULE[10][linkurl]}" rel="nofollow"><p>技术问答交流</p><font>问答、交流、协助</font></a></li>
										<div class="divline"></div>
									</ul>
									<ul class="appfb">
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=21&action=add" rel="nofollow"><span class="lenstr">发布文章资讯</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=15&action=add" rel="nofollow"><span class="lenstr">发布技术共享</span></a></li>
										<li  class="appfabu mou_p"><a href="{$MODULE[2][linkurl]}my.php?mid=10&action=add" rel="nofollow"><span class="lenstr">发布问答交流</span></a></li>	
									</ul>
									<div class="divline"></div>


									<div class="sidead cut">{ad(142)}</div>	
								</dd>
							</dl>
                           <div class='tece'><span class="fr"><a href='{$MODULE[1][linkurl]}announce'  rel="nofollow" class="wcolor"><img class="mid" src="{DT_SKIN}image/right.gif"></a></span>天成医疗网在线公告</div>	
		<ul id="gonggao" class="gonggao">
		{php $lists = tag("moduleid=3&table=announce&condition=islink=0 and level>0&pagesize=3&order=edittime desc&template=null&debug=0")}
		{loop $lists $k $v}
		<li><a href="{if $v[islink]}{$v[linkurl]}{else}{$MODULE[1][linkurl]}announce/index.php?itemid={$v[itemid]}{/if}" target="_blank" class="lenstr w200"><b>·</b> {$v[alt]}</a></li>
		{/loop}
		</ul>


</div>
<script type="text/javascript">
Dd('sidebar').innerHTML=Dd('indexsidebar').innerHTML;
$(function(){
$(".applist>li").mouseover(function(){
        $(".applist>li").each(function(i){
            $(this).removeClass("icoy");
        });
        $(this).addClass("icoy");
    }).mouseout(function(){
        $(".applist>li").each(function(i){
            $(this).removeClass("icoy");
        });
        $(this).addClass("ico");
    });
});
</script>