<div id="{$module}sidebar" class="hd">
{php $child = get_maincat(0, $moduleid, 1);}
{loop $child $i $c}
							<dl class="sidelist">
								<dt><span><h3 class="treeout lenstr"><a href="{$MODULE[$moduleid][linkurl]}{$c[linkurl]}" title="{$c[catname]}\n数量共：{$c[item]}条" >{set_style($c[catname], $c[style])}</a></h3></span></dt>
								{if $c[child]}
								<dd class="i-list autoheight">
									<ul>
                                   {php $sub = get_maincat($c[catid], $moduleid, 1);}
	                               {loop $sub $j $s}
									<li class='lenstr'><a href="{$MODULE[$moduleid][linkurl]}{$s[linkurl]}" title="{$s[catname]}">· {set_style($s[catname], $s[style])}</a><i class='ocolor'>共[{$s[item]}]个</i></li>
									{/loop}
									</ul>
									<br class="clear">
{ad(144)}
								</dd>
								{/if}
							</dl>
{/loop}
</div>
