<div id="tradesidebar" class="hd">
{php $buy= $db->count($DT_PRE.'buy_6', "status=3", 60);}
{php $sell= $db->count($DT_PRE.'sell_5', "status=3", 60);}
							<dl class="sidelist">
								<dt><span><h3 class="treeout">求购/采购分类<font>></font></h3></span></dt>
								<dd class="i-list autoheight">
								<h5>求购/采购信息总计({$buy})分类</h5>
									<ul>
									{loop $BUYTYPE $i $t}
									<li class="w120"><a href="{$MODULE[6][linkurl]}{rewrite('search.php?typeid='.$i)}">{$t}</a></li>
									{/loop}
									</ul>		
									<br  class="clear"/>
									<h5>求购/采购信息范围</h5>
									<ul>
                                    {php $tagss = tag("table=category&condition=moduleid=6 and parentid=0&pagesize=50&order=listorder ASC&template=null")}
									{loop $tagss $i $t}
									<li class="w120"><a href="{$MODULE[6][linkurl]}{rewrite('list.php?catid='.$t[catid])}">{$t[catname]}</a><i>[{$t[item]}]</i></li>
									{/loop}
									</ul>
									<br class="clear">
									<div class='searchtool'>
									<form action="{$MODULE[6][linkurl]}search.php">
									 <input type="text" size="60" name="kw" value="输入关键词 品牌/设备/型号" class="inputkw nr fl" onblur="if(this.value==''){this.value='输入关键词 品牌/设备/型号'}" onfocus="this.value=''"/>
									 <input type="submit" value="搜索求购/采购信息" class="subm fl" >
									  <div class="divline"></div>
									<!--{tag("table=keyword&condition=moduleid=6 and status=3 and length(word)>4&pagesize=10&order=month_search desc&key=month_search&action=$action&template=list-search_kw&moduleid=6", -2)}-->
									 </form></div>
								</dd>
							</dl>
							<dl class="sidelist">
								<dt><span><h3 class="treeout">供应/转让分类<font>></font></h3></span></dt>
								<dd class="i-list autoheight">
								<h5>供应/转让信息总计({$sell})分类</h5>
									<ul>
									{loop $SELLTYPE $i $t}
									<li class="w120"><a href="{$MODULE[5][linkurl]}{rewrite('search.php?typeid='.$i)}">{$t}</a></li>
									{/loop}
									</ul>		
									<br  class="clear"/>
									<h5>供应/转让信息范围</h5>
									<ul>
                                      {php $tagss = tag("table=category&condition=moduleid=5 and parentid=0&pagesize=50&order=listorder ASC&template=null")}
									{loop $tagss $i $t}
									<li class="w120"><a href="{$MODULE[5][linkurl]}{rewrite('list.php?catid='.$t[catid])}">{$t[catname]}</a><i>[{$t[item]}]</i></li>
									{/loop}
									</ul>
									<br class="clear">
									<div class='searchtool'>
									<form action="{$MODULE[5][linkurl]}search.php">
									<!-- <select name="type"><option>请选择</option>{loop $TYPE $k $v}{if $k>0}<option value="{$k}"{if $type==$k} selected{/if}>{$v}</option>{/if}{/loop}</select> -->
									 <input type="text" size="60" name="kw" value="输入关键词 品牌/公司名" class="inputkw nr fl" onblur="if(this.value==''){this.value='输入关键词 品牌/公司名'}" onfocus="this.value=''"/>
									 <input type="submit" value="搜索供应/转让信息" class="subm fl" >
									 <div class="divline"></div>
									<!--{tag("table=keyword&condition=moduleid=5 and status=3 and length(word)>4&pagesize=10&order=month_search desc&key=month_search&action=$action&template=list-search_kw&moduleid=5", -2)}-->
									 </form>
									 </div>
								</dd>
							</dl>
                           <div class='tece'>快速发布信息</div>	
							<ul class='leftadd'>
<li class="ico" id="addgcs" style="background-image:url('{DT_SKIN}image/png/2/19.png');" onmouseover="bgcolor('addgcs','#f77602');bgimage('addgcs','{DT_SKIN}image/png/19.png')" onmouseout="bgcolor('addgcs','');bgimage('addgcs','{DT_SKIN}image/png/2/19.png')"><a href="{$MODULE[2][linkurl]}my.php?mid=6&action=add"><p>发布求购/采购信息</p></a></li>	
<li class="ico" id="addwx" style="background-image:url('{DT_SKIN}image/png/2/7.png');" onmouseover="bgcolor('addwx','#f77602');bgimage('addwx','{DT_SKIN}image/png/7.png')" onmouseout="bgcolor('addwx','');bgimage('addwx','{DT_SKIN}image/png/2/7.png')"><a href="{$MODULE[2][linkurl]}my.php?mid=5&action=add"><p>发布供应/转让信息</p></a></li>	
							</ul>	

</div>
