{template 'min_header'}
<style type="text/css">
.tl{width:150px;text-align:right;padding-right:20px;}
.reg_title {border-bottom:#CCCCCC 1px solid;font-weight:bold;padding:0 0 10px 10px;margin:15px 55px 0 55px;font-size:14px;color:#FF6600;}
.reg_inp {border:#7F9DB9 1px solid;padding:3px 0 3px 0;}
.tips {position:absolute;z-index:1000;width:300px;background:url('image/tips_bg.gif') no-repeat 0 bottom;overflow:hidden;margin:-5px 0 0 -10px;}
.tips div{background:url('image/tips_top.gif') no-repeat;line-height:22px;padding:8px 10px 8px 35px;}
</style>
<div class="logbg">
	<div class="log_reg">
		<div class="log_reg_ad">
			<img src="/skin/default/image/log_reg_bg.png" alt=""/>
		</div>
		<div class="log_reg_tab">
			<div class="userlogin">
				<span>会员注册</span>
			</div>
			<form action="{$DT[file_register]}" method="post" target="send" onsubmit="return check();">
				<input name="action" type="hidden" id="action" value="{crypt_action('register')}"/>
				<input name="forward" type="hidden" value="{$forward}"/>
				<input type="hidden" name="post[regid]" value="5" id="g_5"/>
				<div>
					<input class="user_name" placeholder="用户名"  name="post[username]" id="username"  autocomplete="off" {if $username} value="{$username}" readonly{/if}/>
					<input class="user_mobile" placeholder="手机号" name="post[mobile]" id="mobile" {if $could_mobilecode} {/if}/>
					<div class="saltinfo">
						<input class="user_salt" placeholder="短信验证码" name="post[user_mobile_salt]" id="mobilesalt"/>
						<span class="send_salt"><a href="">发送验证码</a></span>
					</div>
					<input class="user_email" placeholder="邮箱"  name="post[email]" id="email" {if $email} value="{$email}" readonly{/if}/>
					<input type="password" class="user_pass" placeholder="密码" name="post[password]" id="password"  autocomplete="off"{if $password} value="{$password}" readonly{/if}/>
					<input type="password" class="user_pass" placeholder="确认密码" name="post[cpassword]" id="cpassword"  autocomplete="off"{if $password} value="{$password}" readonly{/if}/>
					<div class="c_b"></div>
					<div class="login_tips">
						<span class="reg_gologin">已有账号？<a href="{$MODULE[2][linkurl]}{$DT[file_login]}">去登陆>></a></span>
					</div>
					<input type="submit" class="user_btn" name="submit" value="提交" />
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript" src="{DT_STATIC}file/script/guest.js"></script>
<script>
function Dd(i) {
	return document.getElementById(i);
}
function check() {
	var f,p;
	f = 'username';
	if(Dd(f).value.trim() == '') {
		alert('请填写用户名');
		return false;
	}
	f = 'mobile';
	if(Dd(f).value.trim() == '') {
		alert('请填写手机号码');
		return false;
	}else{
		if(!checkPhone(Dd(f).value.trim())){
			alert('请填写正确的手机号码');
			return false;
		}
	}
	f = 'password';
	if(Dd(f).value.length < 6) {
		alert('请填写密码');
		return false;
	}
	f = 'cpassword';
	if(Dd(f).value == '') {
		alert('请重复输入密码');
		return false;
	}
	if(Dd('password').value != Dd(f).value) {
		alert('两次输入的密码不一致');
		return false;
	}

	f = 'email';
	if(Dd(f).value.length < 6) {
		alert('请填写电子邮箱');
		return false;
	}

	return true;
}
//验证手机号码格式是否正确
function checkPhone(telephone){
	if(!(/^1[34578]\d{9}$/.test(telephone))){
		return false;
	}
	return true;
}
function SendCode() {
	if(Dd('demail').innerHTML.indexOf('right') == -1) {
		Dd('email').focus();
		return;
	}
	makeRequest('action={$action_sendcode}&value='+Dd('email').value, '{$DT[file_register]}', '_SendCode');
	Dh('sendok');
	Dd('send_code').value = '正在发送';
	Dd('send_code').disabled = true;
}
function _SendCode() {
	var f = 'email';
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {			
		Dd('send_code').value = xmlHttp.responseText == 1 ? '发送成功' : '立即发送';
		Dd('send_code').disabled = xmlHttp.responseText == 1 ? true : false;
		if(xmlHttp.responseText == 1) {
			Ds('sendok');
			Dd('dsendok').innerHTML = '<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/ico_mailok.gif" align="absmiddle"/> <span class="f_green">邮件发送成功，</span> <a href="goto.php?action=emailcode&email='+Dd(f).value+'" target="_blank">立即查收</a>';
			StopCode();
		} else if(xmlHttp.responseText == 2) {
			err_msg('邮件格式错误，请检查', f);
			Df(f);
		} else if(xmlHttp.responseText == 3) {
			err_msg('邮件地址已存在，请更换', f);
			Df(f);
		} else if(xmlHttp.responseText == 4) {
			err_msg('此邮件域名已经被禁止注册，请更换', f);
			Df(f);
		} else if(xmlHttp.responseText == 5) {
			alert('邮件发送过快，请稍后再试');
		} else if(xmlHttp.responseText == 6) {
			alert('尝试发送次数太多，请稍后再试');
		} else {
			alert('未知错误，请重试');
		}
	}
}
function StopCode() {
	Dd('send_code').disabled = true;
	var i = 60;
	var interval=window.setInterval(
		function() {
			if(i == 0) {
				Dd('send_code').value = '立即发送';
				Dd('send_code').disabled = false;
				clearInterval(interval);
			} else {
				Dd('send_code').value = '重新发送('+i+')';
				i--;
			}
		},
	1000);
}

function SendSCode() {
	if(Dd('dmobile').innerHTML.indexOf('right') == -1) {
		Dd('mobile').focus();
		return;
	}
	makeRequest('action={$action_sendscode}&value='+Dd('mobile').value, '{$DT[file_register]}', '_SendSCode');
	Dh('sendsok');
	Dd('send_scode').value = '正在发送';
	Dd('send_scode').disabled = true;
}
function _SendSCode() {
	var f = 'mobile';
	if(xmlHttp.readyState==4 && xmlHttp.status==200) {			
		Dd('send_scode').value = xmlHttp.responseText == 1 ? '发送成功' : '立即发送';
		Dd('send_scode').disabled = xmlHttp.responseText == 1 ? true : false;
		if(xmlHttp.responseText == 1) {
			Ds('sendsok');
			Dd('dsendsok').innerHTML = '<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/ico_mailok.gif" align="absmiddle"/> <span class="f_green">短信发送成功</span>';
			StopSCode();
		} else if(xmlHttp.responseText == 2) {
			err_msg('手机号码格式错误，请检查', f);
			Df(f);
		} else if(xmlHttp.responseText == 3) {
			err_msg('手机号码已存在，请更换', f);
			Df(f);
		} else if(xmlHttp.responseText == 5) {
			alert('短信发送过快，请稍后再试');
		} else if(xmlHttp.responseText == 6) {
			alert('尝试发送次数太多，请稍后再试');
		} else {
			alert('未知错误，请重试');
		}
	}
}
function StopSCode() {
	Dd('send_scode').disabled = true;
	var i = 180;
	var interval=window.setInterval(
		function() {
			if(i == 0) {
				Dd('send_scode').value = '立即发送';
				Dd('send_scode').disabled = false;
				clearInterval(interval);
			} else {
				Dd('send_scode').value = '重新发送('+i+')';
				i--;
			}
		},
	1000);
}
</script>
{template 'min_footer'}