{if $action != 'ajax'}
{template 'header', 'mobile'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
{if $itemid || $catid || $areaid || $kw}
<a href="{$back_link}" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
{else}
<a href="channel.php" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>频道</span></a>
{/if}
</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
<a href="javascript:{if $itemid}Dsheet('<a href=&#34;{if $DT_MOB[browser]=='weixin'||$DT_MOB[browser]=='qq'}javascript:share_tips();{else}share.php?moduleid={$moduleid}&itemid={$itemid}{/if}&#34;  data-transition=&#34;slideup&#34;><span>分享好友</span></a>|<a href=&#34;{mobileurl($moduleid)}&#34; data-direction=&#34;reverse&#34;><span>{$MOD[name]}首页</span></a>|<a href=&#34;channel.php&#34; data-direction=&#34;reverse&#34;><span>频道列表</span></a>', '取消');{else}Dsheet('<a href=&#34;search.php?action=mod{$moduleid}&catid={$catid}&areaid={$areaid}&#34;><span>{$MOD[name]}搜索</span></a>|<a href=&#34;category.php?moduleid={$moduleid}&#34;><span>按分类浏览</span></a>|<a href=&#34;area.php?moduleid={$moduleid}&#34;><span>按地区浏览</span></a>', '取消');{/if}"><img src="static/img/icon-action.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
{/if}
{if $itemid}
	<div  style="margin:auto;text-align:center;width:94%;top:-500px;position:absolute;z-index:10">
		<img src="{if $thumb}{$thumb}{else}static/img/images/logo.jpg{/if}"  width="590" height="490"  align="center" onerror="this.src='http://wap.tecenet.com/static/img/images/logo.jpg'">
	</div>



<!--mark-tecenet-->
{template 'guide-ad','search'}
<!--mark-tecenet end-->

	<div class="main">
		<div class="title"><strong>{$title}</strong></div>
		<div class="info">{$editdate}&nbsp;&nbsp;<span style="float:right;"   onclick="clearhtml('.content');">简洁 | 阅读:{$hits}</span></div>
		<div class="content">
		{if $islink}
		<a href="{$linkurl}" target="_blank">{$linkurl}</a><br/>
		{else}
			{if $user_status == 3}
			{$content}
			<div style="height:100px;margin:10px auto;">{ad(219)}</div>
			{else}
			{template 'chip-content', 'mobile'}
			{/if}
		{/if}
		</div>
	</div>
	{if $DT_MOB[browser] == 'weixin' ||  $DT_MOB[browser] == 'qq'}{template 'chip-share', 'mobile'}{/if}
	{template 'chip-comment', 'mobile'}
{else}
	{if $lists}
	{if $action != 'ajax'}{template 'search-tool', 'mobile'}{/if}
	{loop $lists $v}
		<div class="list-img">
			{if $v[thumb]}<a href="{$v[linkurl]}"><img src="{$v[thumb]}" width="80" height="60" alt="" onerror="this.parentNode.style.display='none';"/></a>{/if}
			<ul>
				<li>
					<a href="{$v[linkurl]}" rel="external"><strong>{$v[title]}</strong></a>
				</li>
				<li><span>{$v[introduce]}</span></li>
				<li>
					<span>阅读 {$v[hits]}</span>
					<em style="float:right;">{$v[date]}</em>
				</li>
			</ul>
		</div>
		

	{/loop}
	
	{else}
	{template 'chip-empty', 'mobile'}
	{/if}
{/if}
{if $action != 'ajax'}
{if $pages}<div class="pages">{$pages}</div>{/if}
{template 'footer', 'mobile'}
{/if}