{if $action != 'ajax'}
{template 'header', 'mobile'}
<div id="head-bar">
<div class="head-bar">
<div class="head-bar-back">
{if $itemid || $catid || $areaid || $kw}
<a href="{$back_link}" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>返回</span></a>
{else}
<a href="channel.php" data-direction="reverse"><img src="static/img/icon-back.png" width="24" height="24"/><span>频道</span></a>
{/if}
</div>
<div class="head-bar-title">{$head_name}</div>
<div class="head-bar-right">
<a href="javascript:{if $itemid}Dsheet('<a href=&#34;{if $DT_MOB[browser]=='weixin'||$DT_MOB[browser]=='qq'}javascript:share_tips();{else}share.php?moduleid={$moduleid}&itemid={$itemid}{/if}&#34;  data-transition=&#34;slideup&#34;><span>分享好友</span></a>|<a href=&#34;{mobileurl($moduleid)}&#34; data-direction=&#34;reverse&#34;><span>{$MOD[name]}首页</span></a>|<a href=&#34;channel.php&#34; data-direction=&#34;reverse&#34;><span>频道列表</span></a>', '取消');{else}Dsheet('<a href=&#34;search.php?action=mod{$moduleid}&catid={$catid}&areaid={$areaid}&#34;><span>{$MOD[name]}搜索</span></a>|<a href=&#34;category.php?moduleid={$moduleid}&#34;><span>按分类浏览</span></a>|<a href=&#34;area.php?moduleid={$moduleid}&#34;><span>按地区浏览</span></a>', '取消');{/if}"><img src="static/img/icon-action.png" width="24" height="24"/></a>
</div>
</div>
<div class="head-bar-fix"></div>
</div>
{/if}
{if $itemid}
<style type="text/css">
	#c_0 li{list-style-type: none;border-top: solid 1px #EFEFEF;}
	#c_0  ul ol li {padding: 10px;}
	#c_0 ul:last-child li {padding: 6px;}
	.circle{border-radius: 50%;float:left;width:20px;height:20px;line-height:20px;color:white;text-align:center;margin-right:5px;margin-top:3px;}
	.green{background-color:#5BC648;}
	.blue{background-color:#459ae9;}
	.gray{background-color:#D0D0D0;}
	.green_color{color:#5BC648;}
	.blue_color{color:#459ae9;}
	.gray_color{color:#D0D0D0;}
	.font{cursor: pointer; font-size: 15px;margin-right: 8px;}
	.float_left{float:left;}
	.kuan{width:17px;height:17px;margin-top: 5px;}
/* #c_1 */
	.table-bordered {border: 1px solid #ddd;border-collapse: separate;border-left: 0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
	.table-bordered th, .table-bordered td {border-left: 1px solid #ddd;}
	.table {width: 100%;font-size: 13px;border-spacing: 0;}
	.table th, .table td {padding: 5px 2px;line-height: 20px;text-align: center;vertical-align: top;border-top: 1px solid #ddd;}
</style>
<div class="main">
	<div class="title"><strong>{$title}</strong></div>
	<!-- -->
	<div class="list-tab bd-t" style="padding:10px;">		
		<ul>
			{php $applylist=getsqldata("a.*,r.truename,r.baomi,r.catid,r.gender,r.education,r.school,r.thumb,r.areaid,r.age,r.experience,r.title,j.linkurl","{$db->pre}job_apply a LEFT JOIN {$db->pre}resume r ON a.resumeid=r.itemid LEFT JOIN {$db->pre}job j ON a.jobid=j.itemid","a.jobid=$itemid ORDER BY a.applyid DESC",$apply,0);}
			{php $tagt =tag("moduleid=$moduleid&table=job_apply&condition=jobid=$itemid and status=3&areaid=$cityid&showcat=1&pagesize=1&length=20&order=jobid desc&template=null")}
			{php $xdusername=$tagt[0][apply_username]}
			{php $xdresumeid=$tagt[0][resumeid]}
			{php $applys=count($applylist)}
			<li class="on" id="t_0" onclick="Mshow(0)"><span>服务详情</span></li>
			<li id="t_1" onclick="Mshow(1)"><span>已报名({$applys})</span></li>
			<li id="t_2" onclick="Mshow(2)"><span>联系方式</span></li>
		</ul>
	</div>
	<div id="c_2" style="display:none;"><div class="contact">{template 'chip-contact', 'mobile'}</div></div>
	<div id="c_1" style="display:none;">
		<ul style="padding:8px;">			
			{if $applylist}
				<table class="table table-bordered table-hover">
					<thead>
						<tr style="background-color: #F5F5F5;">
							<th style="min-width:28px;">选中</th>
							<th>地区</th>
							<th>报名者</th>
							<th>专长</th>
						</tr>
					</thead>
					<tbody>
						{loop $applylist $k $v}
							<tr {if $xdresumeid==$v[resumeid]}style="background-color: #417FC2; color: white;"{/if}>
								<td>{if $xdresumeid==$v[resumeid]}
									<span style="color: white;">√</span>{/if}</td>
								<td>{area_pos($v[areaid], '')}</td>
								<td>{xname($v[truename],$v[baomi])}</td>
								<td>{$v[title]}</td>
							</tr>
						{/loop}
					</tbody>
				</table>
			{else}
					<li>还没有服务供应商报名，你赶上了，
						<b  data-href="{$MODULE[9][linkurl]}apply.php?itemid={$itemid}&wap=true" style="color: #487CCF; cursor: pointer;">立即报名</b></li>
			{/if}									
		</ul>
	</div>
	<div class="content" id="c_0">		
			<div>
				<span style="float:left;padding-left:15px;">进程状态：</span>
				<span class="circle green kuan"></span><span class="float_left green_color font">完成</span>
				<span class="circle blue kuan"></span><span class="float_left blue_color font">进行中</span>
				<span class="circle gray kuan"></span><span class="gray_color font">未完成</span>
			</div>										
			<ul><ol style="padding-left:20px;">{fieldstitle(54,'*',0,5)}</ol></ul>
			<script type="text/javascript">
				var i = 0;											
				for(i=0;i<={$step};i++){
					document.getElementById('options54-'+i).innerHTML='<span id="'+'options54-'+i+(i+1)+'">'+(i+1)+'</span>'+document.getElementById('options54-'+i).innerHTML;						
					document.getElementById('options54-'+i).title='已完成';
					document.getElementById('options54-'+i).setAttribute('class','font green_color');
					document.getElementById('options54-'+i+(i+1)).setAttribute('class','circle green');
				}
				for(;i<=4;i++){
					document.getElementById('options54-'+i).innerHTML='<span id="'+'options54-'+i+(i+1)+'">'+(i+1)+'</span>'+document.getElementById('options54-'+i).innerHTML;
					if ((i-1) == {$step}) {
						document.getElementById('options54-'+i).title='进行中...';
						document.getElementById('options54-'+i).setAttribute('class','font blue_color');
						document.getElementById('options54-'+i+(i+1)).setAttribute('class','circle blue');	
					}else{
						document.getElementById('options54-'+i).title='未完成';	
						document.getElementById('options54-'+i).setAttribute('class','font gray_color');
						document.getElementById('options54-'+i+(i+1)).setAttribute('class','circle gray');
					}
				}
			</script>
			<ul>
				{if !$username}
					<li><span style="color:red;">非会员信息</span></li>
				{/if}
				{if $vip}<li>{VIP}等级： {$vip}级</li>{/if}
				<li> 截止时间： {if !$totime}长期有效{else}{$totime}{/if}</li>
				<li> 服务分类： {$CATEGORY[$parentid][catname]}</li>
				<li> 单位/部门： {if $department}{$department}{else}无{/if}</li>
				<li> 所在地区： {area_pos($areaid, '')}</li>
				<li> 工作性质： {$TYPE[$type]}</li>
				<li> 品牌型号： {$pinpai}{$xinghao}</li>
				<li> 合作要求： {$MARRIAGE[$marriage]}</li>
				<li> 报名人数： {$apply}</li>
				<li> 待遇悬赏： 
					{if $minsalary && $maxsalary}
						{$minsalary}-{$maxsalary}{$DT[money_unit]}/月
					{elseif $minsalary}
						{$minsalary}{$DT[money_unit]}/月以上
					{elseif $maxsalary}
						{$maxsalary}{$DT[money_unit]}/月以内
					{else}
						面议
					{/if}
				</li>
				<li>&nbsp;&nbsp;浏&nbsp;&nbsp;览： {$hits} 次</li>	
				{if $content}
					<li>&nbsp;&nbsp;详&nbsp;&nbsp;情：</li>
					<li style="line-height:30px;border:none;text-indent:2em;padding:0;">{$content}</li>
				{/if}						
		</ul> 
	</div>
	<!-- -->	
</div>
{if $DT_MOB[browser] == 'weixin' ||  $DT_MOB[browser] == 'qq'}{template 'chip-share', 'mobile'}{/if}
{template 'chip-comment', 'mobile'}

<!-- -->
<script>
	function Mshow(k) {
	if($('#t_'+k).attr('class') == 'on') return;
	for(var i = 0; i < 3; i++) {
		if(i == k) {
			$('#t_'+i).attr('class', 'on');
			$('#c_'+i).show();
		} else {
			$('#t_'+i).attr('class', '');
			$('#c_'+i).hide();
		}
	}
}
</script>
<!-- -->
{else}
	{if $lists}
	{if $action != 'ajax'}{template 'search-tool', 'mobile'}{/if}
	{loop $lists $v}
	<div class="list-img">
				{if $v[thumb]}<a href="{$v[linkurl]}"><img src="{$v[thumb]}" width="80" height="60" alt="" onerror="this.parentNode.style.display='none';"/></a>{/if}
				<ul data-href="{$v[linkurl]}">
					<li{if $v[vip]} class="vip" title="{VIP}:{$v[vip]}"{/if}><a href="{$v[linkurl]}"><strong>{$v[title]}</strong></a></li>
					<li class="f_orange px12">￥[
		{if $v[minsalary] && $v[maxsalary]}
			{$v[minsalary]}-{$v[maxsalary]}{$DT[money_unit]}/月
		{elseif $v[minsalary]}
			{$v[minsalary]}{$DT[money_unit]}/月以上
		{elseif $v[maxsalary]}
			{$v[maxsalary]}{$DT[money_unit]}/月以内
		{else}
			面议
						{/if}]
						<span>&nbsp;&nbsp;{$v[introduce]}</span>	
					</li>
					<li><span>{area_pos($v[areaid], '')}，{$v[hits]} 人关注，{$v[apply]}人报名</span><em style="float:right;">{$v[date]}</em></li>
	</ul>
	</div>
	{/loop}
	{else}
	{template 'chip-empty', 'mobile'}
	{/if}
{/if}
{if $action != 'ajax'}
{if $pages}<div class="pages">{$pages}</div>{/if}
{template 'footer', 'mobile'}
{/if}