#webmid{background:url('image/tecebg/bg0.jpg') center top;}
#webbodycontent a:hover{text-decoration:none}
.topmenubg{position:relative}
.searchlist dd{margin-bottom:20px;}
.w655{width:652px;padding-left:3px;}
.w108{width:108px;}
.searchlist dt{margin-top:10px;}
.tetop{height:240px;}
.tesearch{margin-top:75px;height:110px;background:url('image/tecebg/tops.png') center top no-repeat;}
.memtop{text-align:right;padding-right:5px;width:760px;padding-top:15px;height:30px;;margin:auto;margin-top:18px;}
.memtop a{font-size:16px;}
.searchtop{width:764px;margin:auto;height:40px;margin-top:0px;}
.searchtop ul{margin:0px;}
.searchtop ul li{float:left;height:40px;}
#topkeyword{border:none;width:646px;height:40px;line-height:40px;font-size:16px;color:#777;}
.icolist{float:left;width:767px;;margin-left:108px;overflow:hidden}
.icolist ul{width:903px;margin-left:-137px;}
.icolist li{float:left;width:165px;margin-left:136px;height:175px;text-align:Center;font-size:14px;margin-bottom:20px}
.icolist li a:link{text-decoration:none}
.icolist li span{font-size:12px;}
.icolist li img{width:165px;height:130px;background:no-repeat center 20px;}
.icoyes{background:url('image/tecebg/select.png') center center;}
.icono{background:none}
.icoright{float:left;width:40px;;margin-left:30px;}
.icoright img{width:40px;height:80px;margin-top:50px;background:no-repeat center center;}
.selbg{width:900px;margin:auto;height:30px;line-height:30px;margin-top:30px;}
.selbg ul{margin:auto;width:420px;}
.selbg ul li{float:left;width:38px;font-size:22px;text-align:center;}
.selbg ul li font{cursor:pointer;padding:0px 5px 0px 5px;}
.selyes{filter:alpha(Opacity=60);-moz-opacity:0.5;opacity: 0.5;z-index:100; background-color:#ffffff;}
.counts{width:980px;line-height:32px;height:32px;text-align:left;padding-left:0px;margin-left:0px;}
.counts li{float:left;font-size:14px;margin-right:20px;}.counts font{font-weight:bold}
.tececontact{width:500px;height:70px;float:left;}


@media screen and (-webkit-min-device-pixel-ratio:0) {
.tetop{height:160px;}
.searchtop{width:764px;margin:auto;height:40px;margin-top:18px;}
}