{php $company = $db->get_one("select * from {$db->pre}member where userid = $userid");}
{php $member = $db->get_one("select * from {$db->pre}company where userid = $userid");}
{php $r = array_merge($company,$member);}
{php $ztitle='取回 '.$r[company].' 管理权';}

{template 'module-header'}
{template 'menu2017'}

<script type="text/javascript" src="http://www.tecenet.com/lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/config.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/jquery.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/common.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/admin.js"></script>



<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/comment.css"/>
<style type="text/css">
img{display: inline-block;}
#topkeyword{width: 310px;height: 22px;line-height: 22px;}
.w1200.box-center table{border-collapse: collapse;}
.w1200.box-center table td{padding: 10px;border: 1px solid #eaeaea;}
.tc-footer{margin-top: 20px;}
.h1{margin:auto;padding-top:3px;padding-bottom:30px;font-size:24px;line-height:30px;height:30px;;text-align:center;border-bottom:1px dashed #f1800e;width:98%;}
tr{height:20px;}
strong{font-size:14px;color:#4d75ac}
</style>

<script type="text/javascript" src="{DT_STATIC}file/script/admin.js"></script>
<style type="text/css">
	.webmenulist{width:750px;}
</style>
</div>
</div>

<div  class="center aboutusbg" style="background:#0f65b8 url({DT_SKIN}image/page/getback/banner.jpg) no-repeat center center;height:300px;">

</div>
<div  class="center">
<div  class="webw  pd10">
<style type="text/css">
	.infos dt{font-size:18px;font-weight:bold;padding:5px;background:#22538e;color:#fff;}
	.tables td{background:#fff;border-bottom:1px dotted #b3b3b3;line-height:24px;}
	.th{width:160px;text-align:center;font-size:20px;color:#376ba6;}
</style>

<dl class="grayb whitebg autoheight infos">
<dt>取回管理权表单</dt>
<dd class="pd10 f14">
<iframe src="" name="send" id="send" style="display:none;" scrolling="no" frameborder="0"></iframe>
<form method="post" action="{$MODULE[13][linkurl]}official.php" target="send" onsubmit="return check();">

	<script type="text/javascript">
	function getusername(stype){
	if (stype==0){
	Dd('tds0').style.display='none';
	Dd('tds1').style.display='';
	Dd('tds2').style.display='';
	Dd('tds3').style.display='';
	Dd('tds4').style.display='';
	}
	else if(stype==1){
	Dd('tds0').style.display='';
	Dd('tds1').style.display='none';
	Dd('tds2').style.display='none';
	Dd('tds3').style.display='none';
	Dd('tds4').style.display='none';
	}
	else if(stype==2){
	Dd('tds0').style.display='none';
	Dd('tds1').style.display='none';
	Dd('tds2').style.display='';
	Dd('tds3').style.display='';
	Dd('tds4').style.display='';
	Dd('newuser').value="{$r[username]}";
	}	
	}
	</script>
	<div  id="dform">
<table cellpadding=2 cellspacing=1 width=100% class="tables">
<tr>
	<td class="th" height=34>取回网站</td>
	<td><a href=" {$r[linkurl]} " target="_blank" class="f24"> {$r[company]} </a>管理权   产品数：{$r[pnum]}</td>
</tr>
<tr>
	<td class="th" height=34>会员类型</td>
	<td>
	<label><input type="radio" name="post[getback]" value=0 checked=checked onclick="if(this.checked==true){getusername(0);}">转移所选取回项目到新账号！由新账号管理！</label><br>
	<label><input type="radio" name="post[getback]" value=1 onclick="if(this.checked==true){getusername(1);}">用原邮箱：{$r[email]}取回原账号密码自行管理</label><br>
	<label><input type="radio" name="post[getback]" value=2 onclick="if(this.checked==true){getusername(2);}">申诉取回原账号密码</label><br>
	</td>
</tr>
<tr id="tds0" class="th" style="display:none">
	<td style="border:0px;">取回密码</td>
	<td  align="left"  style="border:0px;">
	<li><a href="{$MODULE[2][linkurl]}send.php?useroremail={$r[username]}" target="_blank" style="font-size:14px;color:#b41414"><u>点击取回账号  {$r[username]}  密码</u></a></li>
	</td>
</tr>
<tr id="tds1">
	<td class="th" height=34>账号信息</td>
	<td >您的新账号信息 <input type="text" size="20" value="{$_username}" name="post[username]" id="newuser"></td>
</tr>

<tr id="tds2">
	<td  class="th" height=34>联系方式</td>
	<td>QQ<input type="text" name="qq" value="{$_qq}" size=10>&nbsp;&nbsp;手机<input type="text" name="mobile" value="{$_mobile}" size=14>&nbsp;&nbsp;邮箱<input type="text" name="email" value="{$_email}" size=20></td>
</tr>
<tr id="tds3">
	<td  class="th" >相关凭证</td>
	<td >
	请用复印件形式+加盖公章后，扫描或者用手机拍摄后，在此处上传！<br>注意！图片尺寸宽度不得超过1000PX，图片大小不得超过1M！<br>必须为JPG格式！
	
	<div style="padding-bottom:10px;">企业营业执照<input name="post[pics1]" type="text" size="50" id="pics1" value="" readonly="readonly" />&nbsp;&nbsp;<span onclick="Dthumb(0,0,0, Dd('pics1').value,'1','pics1');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('pics1').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('pics1').value='';" class="jt">[删除]</a></div>
	<div style="padding-bottom:10px;">组织结构代码证<input name="post[pics2]" type="text" size="48" id="pics2" value="" readonly="readonly" />&nbsp;&nbsp;<span onclick="Dthumb(0,0,0, Dd('pics2').value,'1','pics2');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('pics2').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('pics2').value='';" class="jt">[删除]</a></div>
	<div style="padding-bottom:10px;">国税地税证明<input name="post[pics3]" type="text" size="50" id="pics3" value=""readonly="readonly"  />&nbsp;&nbsp;<span onclick="Dthumb(0,0,0, Dd('pics3').value,'1','pics3');" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('pics3').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('pics3').value='';" class="jt">[删除]</a></div>
	</td>
</tr>
<tr  id="tds4">
<td  style="border-bottom:0px;">&nbsp;</td>
	<td  style="border-bottom:0px;">
	<input type="checkbox" name="agree" onclick="if(this.checked==true){
	Dd('but').disabled=false;
	if(Dd('pics1').value==''||Dd('pics2').value==''||Dd('pics3').value==''){Dd('but').disabled=true;alert('请补齐三证');this.checked=false;}
	}else{Dd('but').disabled=true;;}" id="agrees">确定无误，<a href="{DT_PATH}about/agreement.html" target="_blank">同意本站相关条款内容</a><br>
<input type="hidden" name="post[action]" value="save">
<input type="hidden" name="post[title]" value="认证取回《{$r[company]}》">
<textarea name="post[content]" rows="20" cols="80" id="contents" style="display:none">
<dl>
<dt>网店：{$r[company]}的详细信息</dt>
<dd>现管理账号：{$r[username]}</dd>
<dd>网店地址：<a href="{$r[linkurl]}" target="_blank">{$r[linkurl]}</a></dd>
</dl>
</textarea>
<input type="submit" id="but" disabled=true value="确认提交" style="line-height:34px;height:34px;width:200px;font-size:16px;">
</td>
</tr>
</table>

</form>
<script type="text/javascript">
function  check(){
if(Dd('agrees').checked!=true){alert('必须同意本站条款才能提交'); return false;}
return true;
}
</script>
</div>
<style type="text/css">
#Dtop {border-right:#CCCCCC 3px solid;border-bottom:#CCCCCC 3px solid;margin-top:-300px;}
#Dtop .dbody{border:#333333 1px solid;padding:1px;background:#EBF0F6;}
#Dtop .dhead{background:#2875B9 url('/member/image/close.gif') no-repeat right 4px;padding:0 0 0 0;letter-spacing:1px;border-bottom:#333333 1px solid;color:#FFFFFF;line-height:20px;font-weight:bold;cursor:move;}
#Dtop .dhead span{float:right;cursor:pointer;display:block;width:22px;height:19px;text-align:right;}
#Dtop .dbox{padding:8px;line-height:200%;}
</style>

</dd>
</dl>
<div class="divline"></div>
</div>

{template 'footer2017'}