<style type="text/css">
	input,textarea,select,button,td {font-size:12px;}
	.tl {background:#EFF5FB;width:115px;text-align:right;padding-right:30px;letter-spacing:1px;}
	.tr{text-align: left;}
</style>
{if isset($email)}
申请成功,请查看您的邮箱<font color="red">{$email}</font>
{else}
<form method="post" action="get_password.php" onsubmit="return check();" id="dform">
<table cellpadding="6" cellspacing="1" class="tb">
<tr>
	<td class="tl">
		<span class="f_red">*</span> 
		<select name="option">
			<option value="username">用户名</option>
			<option value="mobile">手机号</option>
		</select>	
	</td>
	<td class="tr"><input type="username" size="20" name="username" id="username"/> <span id="dusername" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> Email</td>
<td class="tr"><input type="text" size="30" name="email" id="email"/> <span id="demail" class="f_red"></span> <span class="f_gray">请填写您注册时填写的Email</span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 新登录密码</td>
<td class="tr"><input type="password" size="20" name="password" id="password"/> <span id="dpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 重复新登录密码</td>
<td class="tr"><input type="password" size="20" name="cpassword" id="cpassword"/>&nbsp;<span id="dcpassword" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span> 验证码</td>
<td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
</tr>
<tr>
<td class="tl">提示信息</td>
<td class="tr">提交后，系统将发送一封验证邮件至您的注册Email，请接收邮件完成验证</td>
</tr>
</tbody>
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="30"><input type="submit" name="submit" value=" 提交 " class="btn"/>&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/></td>
</tr>
</table>
</form>
{/if}
<script type="text/javascript">
function Dd(i) {return document.getElementById(i);}
function is_captcha(v) {
	if(v == L['str_captcha']) return false;
	if(v.match(/^[a-z0-9A-Z]{1,}$/)) {
		return v.match(/^[a-z0-9A-Z]{4,}$/);
	} else {
		return v.length > 1;
	}
}
function check() {
	if(Dd('username').value.length < 1) {
		alert('请填写名称');
		return false;
	}
	if(Dd('email').value.length < 7) {
		alert('请填写注册Email地址');
		return false;
	}
	if(Dd('password').value.length > {$MOD[maxpassword]} || Dd('password').value.length < {$MOD[minpassword]}) {
		alert('密码长度应为{$MOD[minpassword]}-{$MOD[maxpassword]}字符');
		return false;
	}
	if(Dd('password').value != Dd('cpassword').value) {
		alert('两次输入的密码不一致');
		return false;
	}
	if(!is_captcha(Dd('captcha').value)) {
		alert('请填写正确的验证码');
		return false;
	}
	return true;
}
</script>