<div id="fixed-title" class="module-t module-t-fixed" style="display: none;">
		<h3 data-iarea="136,131">
			<a href=""></a>
		</h3>
		<nav class="more">
			<a href=""></a>
			<a class="app-link" href=""></a>
		</nav>
	</div>

	<div id="jumphelper" style="display: block;">
		<a onclick="javascript:void 0;" id="gotop">∧</a>
		<a href="?moduleid=1&action=update" id="home">HOME</a>
		<a href="tel:4000521617" id="phone">PHONE</a>
		<a onclick="javascript:void 0;" id="gobot">∨</a>
	</div>

	<script src="media/js/shouye.js"></script>
	<div id="tips" class="switch-tips" style="display: none; bottom: -30px; -webkit-transition: bottom 0.4s linear; transition: bottom 0.4s linear;">
	</div>
</body>
</html>