{template 'header', $TP}
<style type="text/css">
	.biao {width:22px; height:22px; vertical-align: middle; margin-right: 4px; display: inline-block;}
</style>
<div  style="margin:auto;text-align:center;width:94%;top:-500px;position:absolute;z-index:10"><img src="image/weixinfav.jpg"  width="590" height="490"  align="center"></div>
	<div id="wrapper" class="wrapper " style="display: block;">
		<!-- 头部 -->
		<header id="header">
			<div class="header">
				<div class="logowrapper" link="" id="logolink" issnow="0">
					<div class="logo" id="logo"></div>
				</div>
				<nav class="head-link">
					
					<a href="?moduleid=2" id="login" class="member-link tips">登录<span class="num-tips" id="num-tips"></span></a>
					 
					<a id="pop-nav" href="?action=category_all" class="channel-link">频道</a> 
				</nav>
				
				<!-- 头部导航区 -->
				<nav class="main-nav">
					<div class="main-nav-list">
						<a class='ocolor' >
							<font><script type="text/javascript" src="http://www.tecenet.com/module/count.php"></script></font>
						</a>
						<a class='ocolor'>
							{php $quote = $db->count($DT_PRE.'quote', "status=3", 60);}
							{php $peijian = $db->count($DT_PRE.'mall', "status=3 and stype=1", 60);}
							{php $brand = $db->count($DT_PRE.'brand_13', "status=3", 60);}
							{php $job = $db->count($DT_PRE.'job', "status=3", 60);}
							{php $resume = $db->count($DT_PRE.'resume', "status=3", 60);}
							{php $art = $db->count($DT_PRE.'article_21', "status=3", 60);}
							{php $down = $db->count($DT_PRE.'down_15', "status=3", 60);}
							{php $num=$job+$resume;}
							{php $num=number_format($num,0,'.',',')}
							{$num}
						</a>
						<a class='ocolor'>
							{php $buy = $db->count($DT_PRE.'buy_6', "status=3", 60);}
							{php $sell = $db->count($DT_PRE.'sell_5', "status=3", 60);}
							{php $num=$buy+$sell;}
							{php $num=number_format($num,0,'.',',')}
							{$num}
						</a>
						
					</div>
					<div class="main-nav-list">
						<a href="">关注次数</a>
						<a href="">服务信息</a>
						<a href="">采购信息</a>
									
					</div>
					<div class="main-nav-list" style="border-top: 1px solid #A9BBD1; padding-top:3px;">
						
						<a class='ocolor'>
							{php $brand = $db->count($DT_PRE.'brand_13', "status=3", 60);}
							{php $company = $db->count($DT_PRE.'company', "username!='gztc' and groupid>5 ", 60);}
							{php $keshi = $db->count($DT_PRE.'category', "moduleid=12", 60);}
							{php $num=number_format($brand,0,'.',',')}
							{$num}
						</a>
						<a class='ocolor'>
							{php $mall = $db->count($DT_PRE.'mall', "status=3", 60);}
							{php $num=number_format($mall,0,'.',',')}
							{$num}
						</a>
						<a class='ocolor'>
							{php $memb = $db->count($DT_PRE.'member', "groupid>4 and edittime<>'1399513082'", 60);}
							{php $num=number_format($memb+10000,0,'.',',')}
				   			{$num}
						</a>
					</div>
					<div class="main-nav-list">					
						<a href="">上线厂家</a>
						<a href="">产品数</a>
						<a href="">会员数</a>
									
					</div>
				</nav>
			</div>
		</header>
	<style type="text/css">
		.counts{background:#fff9d9;line-height:40px;height:40px;border-bottom:1px dashed #ccc;text-align:Center;color:#606060}
		.counts b{color:red;font-size:18px;}
	</style>
<p class="counts">{php $taoxinxi = $db->count($DT_PRE.'taoxinxi', "status>0", 60);}
{php $num=number_format($taoxinxi,0,'.',',')}
实时统计：共有<b>{$num}</b>条需求，
{php $taoxinxi = $db->count($DT_PRE.'taoxinxi', " addtime>$today_endtime-86400*30", 60);}
{php $num=number_format($taoxinxi,0,'.',',')}
三天内<b>{$num}</b>条业务等您来抢</p>
<div style="text-align:center"><a href="taoxinxi.php"><img src="image/indexwx.jpg" style="height: auto; width: auto\9; width:100%;"></a>

</div>
		<!-- 导航弹层 -->
		<div id="nav-pop1" class="close" style="display:none">
			<div id="nav-pop-pnl" class="nav-top  close" style="top: 44px;">
			 			
				{loop $WAP_MODULE $i $m}
				  <div class="nav-box">
					<h3>
						<span><a href="index.php?moduleid={$m[moduleid]}">{$m[name]}</a></span> 
					</h3>
					<div class="channel-list">
						{php $lists = get_maincat(0, $m[moduleid]);}

						{loop $lists $v}
							<a href="index.php?moduleid={$m[moduleid]}&amp;catid={$v[catid]}">{$v[catname]}({$v[item]})</a>
						{/loop}
										
					</div>
				  </div>
				{/loop}

			</div>
			<div id="nav-pop-mask" class="pop-layer " style="top: 44px;"></div>
		</div>

		<div id="content">

			<section class="topic">

			 
				<div class="search" style="padding-top:10px;">
		    <form id="search-form" method="POST" action="" class="search-form">


				 <div id="search-hidden-params">
					<input type="hidden">
					<input type="hidden">
				</div>
				<select name="moduleid" class="" style="font-size: 1em; font-weight: normal; line-height: 1.3; height: 39px; width:100px; margin-right:5px; cursor: pointer; color: #555;">
					<option value="全站搜索">全站搜索</option>
											
					{loop $WAP_MODULE $i $m}
					{if $m[moduleid] !=10  && $m[moduleid] != 12}
						
						{if $m[action] == resume}
							<option value="9&action=resume">工程师</option>
						{elseif $m[moduleid] == 16&&$m[stype] == 1}						
							<option value="16&stype=1">配件中心</option>
						{else}
							<option value="{$m[moduleid]}">{$m[name]}</option>
						{/if}
					{/if}
					{/loop}
				</select>
		        <input id="search-word" type="text" class="search-input" name="kw" value="热线：4000521617">
		        <button type="submit" class="search-btn"></button>
		    </form>
		</div>

			</section>

		  	<script type="text/javascript">
		  		var firstTime = Date.now();
		  	</script>
		</div>

		  <!--设备服务-->
		{if isset($MODULE[9])}
		  <div id="mod-news" class="module">

			 <div class="module-t ">
			 	<h3 data-iarea="132,89">
			 		<a href="?moduleid=9">设备服务</a>
			 	</h3>
			 	<nav class="more">
			 		<a href="?moduleid=9&catid=280">维修</a>
			 		<a href="?moduleid=9&catid=1803">检测</a>
			 		<a href="?moduleid=9&catid=1807">保养</a>
			 		<a class="app-link" href="?moduleid=9&action=category">更多</a>
			 	</nav>
			 </div>

			<!--{php $tags=tag("moduleid=9&condition=status=3&pagesize=16&order=addtime desc&template=null");}-->
			 <div class="module-c">
			 	<h4>
			 		<a href="?moduleid=9">推荐{$MODULE[9][name]}需求</a>
			 	</h4>
			 	<div class="list-mod">
			 		<ul class="cont-list ">
			 			{loop $tags $t}
			 			<li>
			 				
			 				<a href="index.php?moduleid=9&amp;itemid={$t[itemid]}" class="">
								<img class="biao" src="image/xuqiu.jpg">
			 					{$t[alt]}
			 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span>
			 				</a>
			 			</li>
			 			{/loop}
			 		</ul>

			 	</div>
			 			<a href="?moduleid=9" class="news-more more-btn" data-ids="" data-mod="news" data-p="1" data-title="设备服务">查看更多</a> 			

			 </div>
		  
		 </div>
		{/if}

		  <!--工程师-->
		{if isset($MODULE[9])}  
		  <div id="mod-finance" class="module">

			 <div class="module-t ">
			 	<h3 data-iarea="133,91">
			 		<a href="?moduleid=9&action=resume">工程师</a>
			 	</h3>
			 </div>


			 <div class="module-c">
			 	<h4>
			 		<a href="index.php?moduleid=9&action=resume">推荐服务供应商</a>
			 	</h4>
			 	<div class="list-mod">
			 		<ul class="cont-list ">
						<!--{php $tags=tag("table=resume&moduleid=9&condition=status=3&pagesize=16&order=addtime desc&template=null");}-->
			 			{loop $tags $t}
				 			<li>
				 				
				 				<a href="index.php?moduleid=9&action=resume&amp;itemid={$t[itemid]}" class="">
				 					<img class="biao" src="image/gongqiu1.jpg">
				 					{$t[alt]}
				 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span>
				 				</a>
				 			</li>
			 			{/loop}
			 		</ul>
			 			
			 	</div>

		 			<a href="index.php?moduleid=9&action=resume" class="news-more more-btn" data-ids="" data-mod="finance" data-p="1" data-title="服务供应">查看更多</a>
		 	</div>
		 
		  </div>
		{/if}

		  <!--招标采购-->
		{if isset($MODULE[6])}
		  <div id="mod-sports" class="module">

				 <div class="module-t ">
				 	<h3 data-iarea="134,90">
				 		<a href="?moduleid=6">{$MODULE[6][name]}</a>
				 	</h3>
				 	<nav class="more">
				 		<a href="?moduleid=6&catid=1816">医疗机构</a>
				 		<a href="?moduleid=6&catid=1817">厂商</a>
				 		<a class="app-link" href="?moduleid=6&catid=1818">其他</a>
				 	</nav>
				 </div>

				 
				 <div class="module-c">
				 	<h4>
				 		<a href="?moduleid=6">推荐{$MODULE[6][name]}</a>
				 	</h4>

				 	<!--{php $tags=tag("moduleid=6&condition=status=3&pagesize=16&order=addtime desc&template=null");}-->

				 	<div class="list-mod">
				 		<ul class="cont-list ">
				 			{loop $tags $t}
					 			<li>
					 				<a href="?moduleid=6&amp;itemid={$t[itemid]}">
					 					<img class="biao" src="image/biao.jpg">
					 					{$t[alt]}
					 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span></a>
					 			</li>
				 			{/loop}
				 		</ul>
				 	</div>
				 	<a href="?moduleid=6" class="news-more more-btn" data-ids="" data-mod="sports" data-p="1" data-title="{$MODULE[6][name]}">查看更多</a>
				 </div>
				 
				<!-- <div id="text-ad-sports" class="txt-infonews"></div> -->

		  </div>
		{/if}

	      <!--产品-->
		{if isset($MODULE[16])}
		  <div id="mod-tech" class="module">

				 <div class="module-t ">
				 	<h3 data-iarea="137,93">
				 		<a href="?moduleid=16">产品中心</a>
				 	</h3>
				 	<nav class="more">
				 		<a href="?moduleid=16catid=1170">手术器械</a>
				 		<a href="?moduleid=16catid=2006">原料</a>
				 		<a href="?moduleid=16catid=1211">软件</a>
				 		<a class="app-link" href="?moduleid=16&action=category">其他</a>
				 	</nav>
				 </div>

				 
				 <div class="module-c">
				 	<h4>
				 		<a href="?moduleid=16">推荐{$MODULE[16][name]}</a>
				 	</h4>
				 	
				 	<!--{php $tags=tag("moduleid=16&condition=status=3 and thumb<>''&pagesize=10&order=addtime desc&template=null");}-->

				 	<div class="list-mod">
						{loop $tags $t}
				 		<ul class="cont-list line">
				 			<img src="{if $t[thumb]}{$t[thumb]}{else}image/nopic.png{/if}" class="img-list" alt="{$t[alt]}" />
				 			<li style="height: 50px; line-height: 50px;">
				 				<a href="index.php?moduleid=16&amp;itemid={$t[itemid]}" class="">
				 					<span>{$t[alt]}</span>

				 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span></a>	
				 			</li>
				 			<li class="company" style="color: #FF0000; font-size:13px; font-weight: bold; ">￥{$t[price]}</li>
				 			<li class="company">浏览 {$t[hits]} 次，{$t[comments]} 人评价</li>
				 			<li class="company" data-href="index.php?moduleid=4&amp;username={$t[username]}">
				 				<span{if $t[vip]} class="vip" title="{VIP}:{$t[vip]}"{/if}>{$t[company]}</span>
				 			</li>			 			

				 			
				 		</ul>
				 		{/loop}
				 	</div>
				 	<a href="?moduleid=16" class="news-more more-btn" data-ids="" data-mod="tech" data-p="1" data-title="产品">查看更多</a>
				 </div>
				 
				<!-- <div id="text-ad-tech" class="txt-infonews"></div> -->

		  </div>
		{/if}

        <!--网店-->
		{if isset($MODULE[4])}
		  <div id="mod-auto" class="module">

				 <div class="module-t ">
				 	<h3 data-iarea="138,94">
				 		<a href="?moduleid=4">企业网站</a>
				 	</h3>
				 	<nav class="more">
				 		<a href="?moduleid=4&catid=715">设备</a>
				 		<a href="?moduleid=4&catid=820">配件</a>
				 		<a href="?moduleid=4&catid=821">系统</a>
				 		<a class="app-link" href="?moduleid=4&action=category">其他</a>
				 	</nav>
				 </div>

				 
				 <div class="module-c">
				 	<h4>
				 		<a href="?moduleid=4">推荐{$MODULE[4][name]}</a>
				 	</h4>

				 	<!--{php $tags=tag("moduleid=4&condition=groupid>6 and pnum>0&pagesize=10&order=userid desc&template=null");}-->

				 	<div class="list-mod">
						{loop $tags $t}
				 		<ul class="cont-list line">
				 			<img src="{if $t[thumb]}{$t[thumb]}{else}image/nopic.png{/if}" class="img-list" alt="{$t[alt]}" />
					 			<li style="height: 50px; line-height: 50px;">
					 				<a href="index.php?moduleid=4&amp;username={$t[username]}"> 				
					 					<span{if $t[vip]} class="vip" title="{VIP}:{$t[vip]}"{/if}>{$t[alt]}</span>
					 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span></a>
					 					

					 			</li>
					 			<li class="company"><span style="color: #FF0000; font-size:13px; font-weight: bold;">主营：</span>{$t[business]}</li>
					 			<li class="company">产品数：{$t[pnum]}&nbsp;&nbsp;地区：{area_pos($t[areaid], '', 2)}</li>
					 			<li class="company" style="padding-left:2px; ">{if $t[mode]}({$t[mode]}){/if}&nbsp;&nbsp;{if $t[validated]}[已核实]{else}[未核实]{/if}</li>			 			

				 			
				 		</ul>
				 		{/loop}
				 	</div>
				 	<a href="?moduleid=4" class="news-more more-btn" data-ids="" data-mod="auto" data-p="1" data-title="网店">查看更多</a>
				 </div>

		  </div>
		{/if}

  		<!--资讯-->
		{if isset($MODULE[21])}
		  <div id="mod-media" class="module">

				 <div class="module-t ">
				 	<h3 data-iarea="139,130">
				 		<a href="?moduleid=21">行业资讯</a>
				 	</h3>
				 	<nav class="more">
				 		<a href="?moduleid=21&catid=843">金融</a>
				 		<a href="?moduleid=21&catid=842">医院</a>
				 		<a href="?moduleid=21&catid=840">政策</a>
				 		<a class="app-link" href="?moduleid=21&action=category">其他</a>
				 	</nav>
				 </div>

				 
				 <div class="module-c">
				 	<h4>
				 		<a href="?moduleid=21">推荐行业资讯</a>
				 	</h4>

				 	<!--{php $tags=tag("moduleid=21&condition=status=3&pagesize=16&order=addtime desc&template=null");}-->

				 	<div class="list-mod">
				 		<ul class="cont-list ">
				 			{loop $tags $t}
					 			<li>
					 				<a href="index.php?moduleid=21&amp;itemid={$t[itemid]}">
					 					<img class="biao" src="image/tuwen.jpg">
					 					{$t[alt]}
					 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span></a>
					 			</li>
				 			{/loop}
				 		</ul>
				 	</div>
				 	<a href="?moduleid=21" class="news-more more-btn" data-ids="" data-mod="media" data-p="1" data-title="资讯">查看更多</a>
				 </div>
				 
				<!-- <div id="text-ad-media" class="txt-infonews"></div> -->

		  </div>
		{/if}
	 
	 	<!--微信分享-->
		{if isset($MODULE[29])}
		  <div id="mod-video" class="module">

				 <div class="module-t ">
				 	<h3 data-iarea="136,131">
				 		<a href="?moduleid=29">微信分享</a>
				 	</h3>
				 	<nav class="more">
				 		<a href="?moduleid=29&catid=2162">微信</a>
				 		<a href="?moduleid=29&catid=2163">博文</a>
				 		<a href="?moduleid=29&catid=2160">展会</a>
				 		<a class="app-link" href="?moduleid=29&action=category">其他</a>
				 	</nav>
				 </div>

				 
				 <div class="module-c">
				 	<h4>
				 		<a href="?moduleid=29">推荐{$MODULE[29][name]}</a>
				 	</h4>

				 		
				 		<!--{php $tags=tag("table=news&condition=status=3&pagesize=16&order=addtime desc&template=null");}-->

				 	 <div class="list-mod">
						{loop $tags $t}
				 		<ul class="cont-list line" style="padding-top:10px;padding-bottom:10px;height:100px;">
				 			{if $t[thumb]}<img src="{$t[thumb]}" class="img-list" alt="{$t[alt]}" />{/if}
				 			<li>
				 				<a href="index.php?moduleid=29&amp;itemid={$t[itemid]}">
				 					{if !$t[thumb]}<img class="biao" src="image/wei.jpg">{/if}
				 					{$t[alt]}
				 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span></a>
				 			</li>
				 			{if $t[introduce]}<li class="company">{$t[introduce]}</li>{/if}
				 			<li class="company">阅读 {$t[hits]} 次</li>
			 			
				 		</ul>
				 		{/loop}
				 	</div>
				 	<a href="?moduleid=29" class="news-more more-btn" data-ids="" data-mod="video" data-p="1" data-title="{$MODULE[29][name]}">查看更多</a>
				 </div>

		  </div>
		{/if}
	 	<!--视觉焦点-->
		<div class="expand-mod">
	    	<div class="expand-mod-t">
	      		<h3></h3>
		  		<div class="page-nav">
	        		<span class="prev last"></span>
	       			<span class="next"></span>
	      		</div>
	    	</div>
			<div id="imgs-slide" class="expand-mod-c mask-layer" style="overflow: hidden;">
		      	<ul id="imgs-slide-list" class="image-list" style="width: 767px; -webkit-transition: -webkit-transform 0ms; transition: -webkit-transform 0ms; -webkit-transform-origin: 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px);">

		      	</ul>
		    </div>
		</div> 

  			
  		<!--页脚-->
		{template 'footer', $TP}

		{template 'foot', $TP}
	</div>
		{template 'guide', $TP}

	<script src="media/js/shouye.js"></script>

	<div id="tips" class="switch-tips" style="display: none; bottom: -30px; -webkit-transition: bottom 0.4s linear; transition: bottom 0.4s linear;">
	</div>
</body>
</html>