{template 'header', $TP}

{if $itemid}
	<link type="text/css" rel="stylesheet" href="media/css/style131018.css" />
	<link rel="stylesheet" type="text/css" href="media/css/cart.css">
	<script type="text/javascript" src="media/js/jquery-1.5.min.js"></script>
	<script type="text/javascript" src="media/js/tabbedContent.js"></script>
	<script type="text/javascript" src="media/js/jquery.mobile-1.0a4.1.min.js"></script>

{/if}

	<div class="cart-pop" id="cart" style="position: absolute;  z-index: 9999; -webkit-transform-origin: 0px 0px; opacity: 1; -webkit-transform: scale(1, 1); display: none;">
        <div class="ico-succ">
        	<vertical-align: middle;span class="att-succ">添加成功！</span>
        	<span class="cart-succ">商品已成功加入购物车</span>
        </div>
	</div>

	<div id="wrapper" class="wrapper " style="display: block;">
		<!-- 头部 -->
		<header id="header">
			<div class="header">
			{if isset($MODULE[16])}
				<div id="mod-news" class="module">
				  	<div class="module-t">			 	
				 		<div class="logowrapper" style="height:45px;" link="" id="logolink" issnow="0" data-iarea="132,89">
							<div data-href="{$back_link}" class="art-back" id="logo"></div>
						</div>
						{if $itemid}
							<div data-href="{$head_link}" class="header-title">{$title}</div>
						{else}
							<div data-href="{$head_link}" class="header-title">{$head_name}</div>
						{/if}
					 	<nav class="head-link">			
							{if $itemid}
								<a href="index.php" id="login">
									<img style="padding-top: 5px;" src="image/home3.png" width="28" height="28" alt="首页"/>
								</a>
								<a id="pop-nav"></a>
							{else}
								<a href="index.php?moduleid={$moduleid}&amp;action=category" id="login" class="channel-link">分类</a>				 
								<a id="pop-nav"></a>
							{/if}
						</nav>
				  	</div>

				  	{if $itemid}				
						<div class="tabbed_content">
							<h4>
					 			<div id="text-infonews-edu" style="text-align:center;" class="txt-infonews txt-infonews_v1"><a href="" target="_blank" class="current">福利！有广告位喔...</a></div>
					 		</h4>

							<div class="tabs">
								<div style="width:33.3%;" class="moving_bg">&nbsp;</div>
								<span style="width:33.3%;" class="tab_item">产品详情</span>
								<span style="width:33.3%;" class="tab_item">联系方式</span>
								<span style="width:33.4%;" class="tab_item">评论({$items})</span>
							</div>
					
							<div class="slide_content">						
								<div class="tabslider" >
									<div>&nbsp;</div>
									<ul>
										{if $itemid&&$thumb}
											<div id="slideImage" class="topic-info" style="visibility: visible; height:220px;">
												<ul style="width: 6755px;">

													{loop $imagesurl $z $t}
														{if $imagesurl[$z]}
														<li class="topic-item" data-index="0" style="padding:0px; width: 1351px; left: 0px; transition: 0ms; -webkit-transition: 0ms; -webkit-transform: translate(-1351px, 0px) translateZ(0px);">
															<div style="height:220px;">
																<a href="{$imagesurl[$z]}">
																	<img style="height:220px; width:100%; max-width:320px;" src="{$imagesurl[$z]}" alt="" border="0" class="topic_img">
																</a>
																<div class="topic-title">
																	
																</div>
															</div>
														</li>
														{/if}
													{/loop}												
												</ul>
												<div id="img-director" class="dot-slider"  style="margin-top:42px;"><span>1</span>/3
												</div>
												<div class="tp-ctrl">
													<a id="topImgPrev" class="tp-prev">上一张</a>
													<a id="topImgNext" href="javascript:void(0);" class="tp-next">下一张</a>
												</div>
			
											</div>
										{/if}								
										<li>价格： <strong style="color:red;">￥{$price}</strong></li>
										
										{if $brand}<li>品牌： {$brand}</li>{/if}

										{if $model}<li>型号： {$model}</li>{/if}

										{if $standard}<li>规格： {$standard}</li>{/if}

										<li>销量： {$sales} 件</li>
										
										{if $amount}
											<li>库存： {$amount} 件</li>
										{else}
											<li>库存： 无货</li>
										{/if}
										
										<!-- <li>订单： {$orders} 个</li> -->
										
										<li>评价： {$comments} 条</li>

										<li>浏览： {$hits} 次</li>	

										{if $content}
											<li>详情：</li>
											<li style="line-height:30px;">{$content}</li>
										{/if}						
									</ul>            		
									
									<ul>
										{template 'chip-contact', $TP}		
									</ul>
									<ul>
										<iframe style="border:0px;width:100%;height:100%;overflow:scroll;overflow-y:hidden;" frameborder="0" src="http://www.tecenet.com/extend/comment.php?mid={$moduleid}&itemid={$itemid}&wap=1&head_link={$head_link}"></iframe>	
									</ul>				
								</div>
								<br style="clear:both" />
							</div>	
						</div>
					{else}
						<div class="module-c">
				 			<h4>
					 			<div id="text-infonews-edu" class="txt-infonews txt-infonews_v1"><a href="" target="_blank" class="current">福利！有广告位喔...</a></div>
					 		</h4>

						 	<div class="list-mod">
								{loop $lists $t}
						 		<ul class="cont-list line" data-href="index.php?moduleid=4&amp;username={$t[username]}">
						 			{if $t[thumb]}<img src="{$t[thumb]}" class="img-list" alt="{$t[title]}" />{/if}
						 			<li style="height:50px; line-height: 50px;" data-href="index.php?moduleid=16&amp;itemid={$t[itemid]}">
						 				<a href="index.php?moduleid=16&amp;itemid={$t[itemid]}">
						 					<span>{$t[title]}</span>
						 					<span class="cmt-num">{timetodate($t[addtime], 2)}</span>
						 				</a>
						 				
						 			</li>
						 			<li class="company" style="color: #FF0000; font-size:13px; font-weight: bold;">￥{$t[price]}</li>
						 			<li class="company">浏览 {$t[hits]} 次，{$t[comments]} 人评价</li>
						 			<li class="company"  data-href="index.php?moduleid=4&amp;username={$t[username]}">
						 				<span{if $t[vip]} class="vip" title="{VIP}:{$t[vip]}"{/if}  data-href="index.php?moduleid=4&amp;username={$t[username]}">{$t[company]}</span>
						 				
						 			</li>			 			
						 		</ul>
						 		{/loop}
						 	</div>
						 	{if $pages}
						 		<div id="text-infonews-edu" class="pages txt-infonews_v1 news-more more-btn">{$pages}</div>
						 		{else}
						 		<div id="text-infonews-edu" class="txt-infonews txt-infonews_v1 news-more more-btn"><a href="" target="_blank" class="current">喔！福利！又有广告位了...</a></div>
						 	{/if}					 		 		
					 	</div>
				 	{/if}	
				</div>
			 {/if}
			</div>		
		</header>
		
		{template 'chip-search', $TP}
	  			
	  	<!--页脚-->
		{template 'footer', $TP}

		{if $itemid}
		  <script type="text/javascript">
				var mallurl = '{$MODULE[1][linkurl]}wap/';
				var mallid = {$itemid};
				var n_c = {$comments};
				var n_o = {$orders};
				var c_c = Dd('c_comment').innerHTML;
				var c_o = Dd('c_order').innerHTML;
				var s_s = {'1':0,'2':0,'3':0};
				var m_l = {
					no_comment:'暂无评论',
					no_order:'暂无交易',
					no_goods:'商品不存在或已下架',
					no_self:'不能添加自己的商品',
					lastone:''
				};
				</script>
				<script type="text/javascript" src="{DT_STATIC}file/script/mall.js"></script>
				<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
				<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>		

		  <div class="footer expand-mod" style="background: #FFFFFF;">

				
				<ul id="app-slide-list" class="app-list" style="padding:5px 0px; -webkit-transition: -webkit-transform 0ms; transition: -webkit-transform 0ms; -webkit-transform-origin: 0px 0px; -webkit-transform: translate3d(0px, 0px, 0px);">
					<li style="margin-right:4%; margin-left:6px;">
						<a href="{$MODULE[1][linkurl]}wap/buy.php?itemid={$itemid}" id='gobuyhref'>
							<img style="width:120px;" src="{DT_SKIN}image/btn_tobuy.gif" alt="立即购买"  class='gobuy1' onmouseover="if(this.className=='gobuy1')this.className='gobuy2'" onmouseout="if(this.className=='gobuy2')this.className='gobuy1'" id="gobuy">
						</a>
					</li>
					<li style="margin-right:4%;">
						<a onclick="AddCart()">
							<img style="width:120px;" src="{DT_SKIN}image/btn_addcart.gif" alt="加入购物车" class="c_p" />
						</a>
					</li>
					<li style="margin-right:2%;">
						<a href="{$MODULE[1][linkurl]}wap/cart.php">
							<img src="media/image/cart.png" alt="购物车" class="c_p" /><span id="cart_num" class="cart-num">{$total}</span>
						</a>
					</li>
					
				</ul>
			</div>
		{else}
			{template 'foot', $TP}
		{/if}

	</div>
	
	{template 'guide', $TP}