{php $head_css = [DT_SKIN.'homepage/tc.template.other.min.css'];}
<?php $footer_js = ['http://api.map.baidu.com/api?v=2.0&ak=rqhGNYEhHp28TLRK6iYWZX50fP4rgtei',
DT_PATH.'file/script/homepage/tc.template.contact.js']; ?>
{template 'header2018', $template}

<!--tp-crumb-->
<div class="tp-crumb">
    <div class="tp-container clearfix">
        <div class="hd pull-left"><i class="iconfont icon-shouye-copy"></i>您当前的位置：</div>
        <div class="bd pull-left">
            <a href="<?php echo $homepageModule->linkurl;?>">首页</a>
            <span>&gt;</span>
            <a href="<?php echo $homepageModule->contactUrl;　?>">联系我们</a>
        </div>
    </div>
</div>
<!--tp-crumb end-->

<!--tp-container-->
<div class="tp-container clearfix">
    <div class="tp-main pull-right">
        <div class="tp-main-box">
            <div class="tp-main-box-head">
                <p>Contact us</p>
                <h1>联系我们</h1>
            </div>
            <div class="tp-main-box-body">

                <div class="tp-map">
                    <div id="allmap" style="width: 100%;height: 300px;display: none;"></div>
                </div>

                <div class="tp-contact-wrap clearfix">
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-wo"></i></span>
                        <label class="tp-contact-key">联系人</label>
                        <em class="tp-contact-val">{$memberInfo['truename']} {$memberInfo['gender']}</em>
                    </div>
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-guhua"></i></span>
                        <label class="tp-contact-key">固话</label>
                        <em class="tp-contact-val">{$companyInfo['telephone']}</em>
                    </div>

                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-shouji"></i></span>
                        <label class="tp-contact-key">手机</label>
                        <em class="tp-contact-val">{$memberInfo['mobile']}</em>
                    </div>
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-chuanzhen"></i></span>
                        <label class="tp-contact-key">传真</label>
                        <em class="tp-contact-val">{$companyInfo['fax']}</em>
                    </div>
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-guhua"></i></span>
                        <label class="tp-contact-key">在线沟通</label>
                        <em class="tp-contact-val">
                            {if $memberInfo['qq']}
                            <a class="link-text" href="http://wpa.qq.com/msgrd?v=3&uin={$memberInfo['qq']}&site=qq&menu=yes">在线沟通</a>
                            {/if}
                        </em>
                    </div>

                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-iconfont05"></i></span>
                        <label class="tp-contact-key">邮编</label>
                        <em class="tp-contact-val">{$companyInfo['postcode']}</em>
                    </div>
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-lianjie"></i></span>
                        <label class="tp-contact-key">官方网址</label>
                        <em class="tp-contact-val"><a href="{$companyInfo['homepage']}">{$companyInfo['homepage']}</a></em>
                    </div>
                    <div class="tp-contact-item">
                        <span class="tp-contact-icon"><i class="iconfont icon-dizhi"></i></span>
                        <label class="tp-contact-key">地址</label>
                        <em class="tp-contact-val" id="tpContactAddress">{$companyInfo['address']}</em>
                    </div>
                </div>

                {template 'contact-form',$template}

            </div>
        </div>
    </div>

    {template 'left',$template}
</div>
<!--tp-container end-->

{template 'footer2018', $template}