{php $head_css = [DT_SKIN.'homepage/tc.template.other.min.css'];}
<?php $footer_js = [DT_PATH.'file/script/homepage/jquery.fancybox-1.3.4.min.js',DT_PATH.'file/script/homepage/tc.template.credit.js']; ?>
{template 'header2018', $template}

<!--tp-crumb-->
<div class="tp-crumb">
    <div class="tp-container clearfix">
        <div class="hd pull-left"><i class="iconfont icon-shouye-copy"></i>您当前的位置：</div>
        <div class="bd pull-left">
            <a href="<?php echo $homepageModule->linkurl;?>">首页</a>
            <span>&gt;</span>
            <a href="<?php echo $homepageModule->creditUrl;?>">公司档案</a>
        </div>
    </div>
</div>
<!--tp-crumb end-->

<div class="tp-wrap bg-gray">
<!--tp-container-->
<div class="tp-container clearfix">
    <div class="tp-main pull-right">
        <div class="tp-main-box">
            <div class="tp-main-box-head">
                <p>Company archives</p>
                <h1>公司档案</h1>
            </div>
            <div class="tp-main-box-body">

                <div class="tp-sub-title">主体档案</div>
                <table class="tp-archives-table">
                    <tbody>
                    <tr>
                        <td width="20%" class="bg-warning">主体名称：</td>
                        <td width="30%">{$companyInfo['company']}</td>
                        <td width="20%" class="bg-warning">主体类型：</td>
                        <td width="30%">{implode(',',$companyInfo['mode'])}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="bg-warning">所在地区：</td>
                        <td width="30%">{$companyInfo['area']}</td>
                        <td width="20%" class="bg-warning">主体规模：</td>
                        <td width="30%">{$companyInfo['size']}</td>
                    </tr>
                    <tr>
                        <td width="20%" class="bg-warning">注册资本：</td>
                        <td width="30%">{if $companyInfo['capital']}
                            {$companyInfo['capital']} {$companyInfo['regunit']}
                            {/if}
                        </td>
                        <td width="20%" class="bg-warning">注册年份：</td>
                        <td width="30%">{$companyInfo['regyear']}</td>
                    </tr>

                    <tr>
                        <td class="bg-warning">资料认证：</td>
                        <td colspan="3">
                            <!--
                            <span class="text-success">通过工商认证</span>
                            -->
                            {if !empty($memberInfo['vemail'])}
                            <span class="text-success">资料通过邮件认证</span>
                            {/if}
                            {if $companyInfo['isValidated']}
                            <span class="text-success">企业资料通过认证</span>
                            {/if}
                        </td>
                    </tr>
                    <tr>
                        <td class="bg-warning">经营模式：</td>
                        <td colspan="3">{implode(',',$companyInfo['mode'])}</td>
                    </tr>
                    <tr>
                        <td class="bg-warning">经营范围：</td>
                        <td colspan="3">{$companyInfo['business']}</td>
                    </tr>
                    <tr>
                        <td class="bg-warning">销售产品：</td>
                        <td colspan="3">{$companyInfo['sell']}</td>
                    </tr>
                    </tbody>
                </table>

                <div class="tp-archives-info">
                    <div class="tp-sub-title">工商注册信息</div>
                    <table class="tp-archives-table ">
                        <tbody>
                        </tbody>
                    </table>
                </div>


            </div>
        </div>
    </div>

    {template 'left',$template}
</div>
<!--tp-container end-->
</div>

{template 'footer2018', $template}