{php $head_css = [DT_SKIN.'homepage/tc.template.other.min.css'];}
{template 'header2018', $template}

<!--tp-crumb-->
<div class="tp-crumb">
    <div class="tp-container clearfix">
        <div class="hd pull-left"><i class="iconfont icon-shouye-copy"></i>您当前的位置：</div>
        <div class="bd pull-left">
            <a href="<?php echo $homepageModule->linkurl;?>">首页</a>
            <span>&gt;</span>
            <a href="<?php echo $homepageModule->creditUrl;?>">荣誉资质</a>
        </div>
    </div>
</div>
<!--tp-crumb end-->

<div class="tp-wrap bg-gray">
<!--tp-container-->
<div class="tp-container clearfix">
    <div class="tp-main pull-right">
        <div class="tp-main-box">
            <div class="tp-main-box-head">
                <p>Company credit</p>
                <h1>荣誉资质</h1>
            </div>
            <div class="tp-main-box-body">
                {if $companyInfo['isValidated'] && !empty($license)}
                <div class="tp-sub-title">基本资格证书</div>
                <div class="tp-credit-content">
                    {if $license['business_license']}
                    <a class="fancybox" href="{$license['business_license']}">
                        <img src="{$license['business_license']}" alt="营业执照" onerror="javascript:this.src='http://www.tecenet.com/skin/teceskin/image/no-pic.png';">
                    </a>
                    {/if}
                    {if $license['product_license']}
                    <a class="fancybox" href="{$license['product_license']}">
                        <img src="{$license['product_license']}" alt="生产经营许可证" onerror="javascript:this.src='http://www.tecenet.com/skin/teceskin/image/no-pic.png';">
                    </a>
                    {/if}
                </div>
                {/if}

                {if !empty($lists)}
                <div class="tp-sub-title">企业自传荣誉资质</div>
                <div class="tp-credit-content">
                    {loop $lists $key $item}
                    <a class="fancybox" href="{$item['thumb']}">
                        <img src="{$item['thumb']}" alt="{$item['title']}" onerror="javascript:this.src='http://www.tecenet.com/skin/teceskin/image/no-pic.png';">
                    </a>
                    {/loop}
                </div>
                {/if}



            </div>
        </div>
    </div>

    {template 'left',$template}
</div>
<!--tp-container end-->
</div>

{template 'footer2018', $template}