{php $head_css = [DT_SKIN.'homepage/tc.template.other.min.css'];}
{template 'header2018', $template}

<!--tp-crumb-->
<div class="tp-crumb">
    <div class="tp-container clearfix">
        <div class="hd pull-left"><i class="iconfont icon-shouye-copy"></i>您当前的位置：</div>
        <div class="bd pull-left">
            <a href="<?php echo $homepageModule->linkurl; ?>">首页</a>
            <span>&gt;</span>
            <a href="<?php echo $homepageModule->introduceUrl; ?>">公司介绍</a>
        </div>
    </div>
</div>
<!--tp-crumb end-->

<div class="tp-wrap bg-gray">
    <!--tp-container-->
    <div class="tp-container clearfix">
        <div class="tp-main pull-right">
            <div class="tp-main-box">
                <div class="tp-main-box-head">
                    <p>Company introduction</p>
                    <h1>公司介绍</h1>
                </div>
                <div class="tp-main-box-body">
                    <div class="introduce">
                        <div class="logo">
                            <img src="{$companyLogo}" alt="">
                        </div>
                        <div class="content">
                            {$content}
                        </div>
                        <div class="update-date">
                            最后更新时间：{date('Y-m-d H:i',$memberInfo['edittime'])}
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {template 'left',$template}
    </div>
    <!--tp-container end-->
</div>

{template 'footer2018', $template}