{php $head_css = [DT_SKIN.'homepage/tc.template.other.min.css',DT_SKIN.'homepage/jquery.fancybox-1.3.4.min.css'];}
{if $itemid}
    {php $footer_js = [DT_PATH.'file/script/homepage/tc.template.news.detail.js'];}
{/if}
{template 'header2018', $template}

<!--tp-crumb-->
<div class="tp-crumb">
    <div class="tp-container clearfix">
        <div class="hd pull-left"><i class="iconfont icon-shouye-copy"></i>您当前的位置：</div>
        <div class="bd pull-left">
            <a href="<?php echo $homepageModule->linkurl;　?>">首页</a>
            <span>&gt;</span>
            <a href="<?php echo $homepageModule->newsUrl;　?>">公司动态</a>
        </div>
    </div>
</div>
<!--tp-crumb end-->

<!--tp-container-->
<div class="tp-container clearfix">
    {if $itemid}
        {template 'news_detail',$template}
    {else}
        {template 'news_list',$template}
    {/if}
    {template 'left',$template}
</div>
<!--tp-container end-->

{template 'footer2018', $template}