<div class="tp-main pull-right">
    <div class="tp-main-box">
        <div class="tp-main-box-head">
            <p>Company news</p>
            <h1>公司动态</h1>
        </div>
        <div class="tp-main-box-body">
            <div class="news-detail">
                <h1 class="news-detail-title">{$title}</h1>
                <div class="news-detail-info">
                    <span>发布日期：{date('Y-m-d H:i',$addtime)}</span>
                    <span>人气：{$hits}</span>
                </div>

                <div class="news-detail-content">
                    {$content}
                </div>
            </div>

        </div>
    </div>
</div>
