{if $file != 'link'}
<div class="side_head side_vip_head_04"><div><span class="f_r"><a href="{userurl($username, 'file=link', $domain)}"><img src="{$MODULE[4][linkurl]}image/more.gif" title="更多"/></a></span><strong>{$side_name[$HS]}</strong></div></div>
<div class="side_body">
<!--{php $tags=tag("table=link&condition=status=3 and username='$username'&pagesize=".$side_num[$HS]."&order=listorder desc&template=null");}-->
<ul>
<li><a href="{$COM[linkurl]}" target="_blank" title="{$COM[company]}">{$COM[company]}</a></li>
<li><a href="http://www.tecenet.com" target="_blank" title="医疗器械网">医疗器械网</a></li>
{if $tags}
{loop $tags $t}
<li><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}">{$t[title]}</a></li>
{/loop}
{else}
<li>暂无链接</li>
{/if}
</ul>
</div>
{/if}
{if $file != 'link'}
<div class="side_head"><div><span class="f_r"><a href="{userurl($username, 'file=link', $domain)}"><img src="{DT_STATIC}{$MODULE[4][moduledir]}/image/more.gif" title="更多"/></a></span><strong>推荐厂家</strong></div></div>
<div class="side_body">
{php $link_data = $db->query("select c.linkurl as linkurl,c.company as company from {$db->pre}company as c join {$db->pre}member as m on c.userid = m.userid where c.userid > $userid and c.closeshop = 0 and m.edittime <> 0 order by c.userid limit 0,10");}
<?php 
$companys = [];
while($r=$db->fetch_array($link_data)){
	$companys[] = $r; 
}
?>
<ul>
{if $companys}
{loop $companys $t}
<li><a href="{$t[linkurl]}" target="_blank" title="{$t[company]}">{$t[company]}</a></li>
{/loop}
{else}
<li>暂无链接</li>
{/if}
</ul>
</div>
{/if}