{php $sitemenu='article';$listpage='list';}
{template 'header'}
{template 'lay','tag'}											
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>	

<div class="autoheight whitebg pd10">
<div class="listleft autoheight" style="width:975px;">	<form action="{$MOD[linkurl]}search.php">
			{template 'listh4', 'chip'}

				<div class="tool"  style="width:975px;">
				 {template 'form', $module}
				</div>
			</form>
</div>
			<div class="listleft autoheight">
		<div class="autoheight">
		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
        {if $tags}

		{template 'list-'.$module, 'tag'}

        {else}
		{template 'noresult', 'message'}
		{/if}
		</div>  
		
			</div>
			<div class="listright autoheight">
					{template 'right', $module}	
			</div>
			<div class="divline"></div>

</div>

<br class="clear">
{template 'footer'}
