<TABLE style="FONT-FAMILY: Verdana, Arial" cellSpacing=0 cellPadding=0 width=700 align=center>
<TBODY>
<TR>
<TD style="LINE-HEIGHT: 30px; BACKGROUND: #62b81b; COLOR: #ffffff; FONT-SIZE: 14px; FONT-WEIGHT: bold">&nbsp;&nbsp;天成医疗网会员升级通知！</TD></TR>
<TR>
<TD style="BORDER-BOTTOM: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; PADDING-BOTTOM: 20px; LINE-HEIGHT: 180%; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; FONT-SIZE: 13px; BORDER-TOP: #cccccc 1px solid; BORDER-RIGHT: #cccccc 1px solid; PADDING-TOP: 20px">
<P><STRONG>尊贵的天成医疗网的用户</STRONG>：<BR>您好！<BR>感谢您一直以来对天成医疗网的关注！<BR>您的免备案官方域名申请接口已经开通，请<A href="http://www.tecenet.com/member/register.php?kd=1" target=_blank>点击</A>进入填写会员信息和域名及开设网站信息。<BR>网址：<A href="http://www.tecenet.com/member/register.php?kd=1">http://www.tecenet.com/member/register.php?kd=1</A></A><BR>请您妥善保存，勿告诉他人。如果您忘记了密码，<A href="http://www.tecenet.com/member/send.php" target=_blank>请点这里找回</A><BR>本站网址：<A href="http://www.tecenet.com/">www.tecenet.com</A>&nbsp; 您还可以关注天成医疗网微信号：tianchengyiliao<BR></P></TD></TR>
<TR>
<TD style="PADDING-BOTTOM: 10px; LINE-HEIGHT: 180%; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #333333; COLOR: #ffffff; FONT-SIZE: 12px; PADDING-TOP: 10px">请注意：此邮件系&nbsp;<A style="COLOR: #ffffff" href="http://www.tecenet.com" target=_blank>天成医疗网</A> 自动发送，请勿直接回复。<BR>此邮件为订阅邮件，请勿拒收或举报！</TD></TR></TBODY></TABLE>