{php $CSS = array('tecenet');$IE=7;$ztitle='天成医疗网_专业医疗器械供求信息与医疗器械维修安装等技术服务平台';}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>天成医疗网_专业医疗器械供求信息与医疗器械维修安装等技术服务平台</title>
<link rel="shortcut icon" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/teceskin/style.css"/>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/teceskin/tecenet.css"/>
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/teceskin/ie6.css"/>
<![endif]-->
<script type="text/javascript" src="{DT_PATH}lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/config.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/common.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/page.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/jsfunction.js"></script>
</head>
<body >
<link href="css/fashionfoucs_lrtk.css" rel="stylesheet" />
<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="js/jquery.plugin.min.js" type="text/javascript"></script>
<div class='topmenubg'>
<script type="text/javascript">topmenu(1)</script>
</div>

<div class="center autoheight" >
	<div class="webw"><div style="z-index:10;position:absolute;margin-top:10px;color:#fff"><input type="checkbox" id="autoplay" value="1" onclick="if(this.checked==true){show(curIndex + 1);}">自动播放</div></div>


    <!-- 代码 开始 -->
    <div id="banner">
        <ul id="banner_img">	  
            <li class="item1">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>医学工程专业服务队伍</h2>
                        <p>
                            提供医院实验室和科室设计！<br />
                            施工管理、业务流程咨询服务等。<br />
                            专业施工队伍，高级设计人才。<br />
                            全国医学工程项目已完成达98项。
                        </p>
                        <a href="http://www.tecenet.com/gongying/show-10384.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/1.png" alt="医学工程专业服务队伍" />
                    </div>
                </div>
            </li>
            <li class="item2">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>产品配送与招标采购服务</h2>
                        <p>
                            应对各科室提供医疗设备招标采购服务。<br />
                            组织厂商招标采购资质服务。<br />
                            更加快速，更加省时，费用更低。
                        </p>
                        <a href="http://www.tcmeds.com" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/2.png" alt="科室设备整体配送方案" />
                    </div>
                </div>
            </li>
            <li class="item3">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>设备安装\维修\整体外包服务</h2>
                        <p>
                            全国各地合作签约全天候工程师达1万多位。<br />
                            以最专业的，最快捷的解决方式全方位服务到家。<br />
                            为厂商节省开支，为医院节省费用。
                        </p>
                        <a href="http://www.tecenet.com/gongying/show-10383.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/3.png" alt="设备安装\维修\保养等服务" />
                    </div>
                </div>
            </li>
            <li class="item4">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>资质\认证申办专业队伍</h2>
                        <p>
                            医疗器械经营许可证。<br />
                            医疗器械安全生产许可证。<br />
                            实验室认可及注册临床研究。<br />
							等等我们有经验丰富的专家队伍服务您！。
                        </p>
                        <a href="http://www.tecenet.com/gongying/show-10326.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/4.png" alt="资质\认证申办专业队伍" />
                    </div>
                </div>
            </li>
            <li class="item7">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>人才储备,您不可忽视</h2>
                        <p>
                            为医疗机构、生产厂、经销商输送专业人才<br>为各行业人才寻找最合适的发展空间。<br />
                            为技术型人才提供职位认证及技术培训。<br />
                        </p>
                        <a href="{$MODULE[28][linkurl]}" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/7.png" alt="微信平台运营推广" />
                    </div>
                </div>
            </li>
            <li class="item6">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>国内最大医疗产业服务平台</h2>
                        <p>
                            国家食品药品监督管理总局认可。<br />
							卫生部医药生物工程技术研究中心授权<br />
                            国内上市公司投资支持。<br />
                            上万个医疗厂家品牌和几十万个产品配件。<br />
                            日均>1.4万的流量与免费推广
                        </p>
                        <a href="http://www.tecenet.com/gongying/show-11596.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/6.png" alt="国内最大医疗器械服务平台" />
                    </div>
                </div>
            </li>

            <li class="item8">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>软件/融资/扶持服务</h2>
                        <p>
							提供专业LIS,CRM,OA,ERP等管理系统。<br />
                            提供融资服务及财务结算服务。<br />
                            提供政策扶持引导及协助申办等服务。<br />
                        </p>
                        <a href="http://www.tecenet.com/about/open.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/8.png" alt="财务结算支持" />
                    </div>
                </div>
            </li>
            <li class="item5">
                <div class="wrapper">
                    <div class="ad_txt">
                        <h2>医疗器械进出口服务</h2>
                        <p>
                           医疗器械二、三类产品经营权和进出口资质。<br />
                           自身完善的国际代理网络,领先医疗器械行业外贸综合服务。<br />
                           提供从物流到通关、商检、进口垫资和出口退税等一站式外贸服务。
                        </p>
                        <a href="http://www.tecenet.com/gongying/show-12423.html" target="_blank">了解详细&gt;</a>
                    </div>
                    <div class="ad_img">
                        <img src="images/5.png" alt="医学/办公软件管理系统" />
                    </div>
                </div>
            </li>
        </ul>
        <div id="banner_ctr">
		<div class="bannerleft"><a href="../index.php"><img src="{DT_SKIN}image/tecebg/jt1.png"  onmouseover="this.className='whitebg'" onmouseout="this.className=''"></a></div>
            <div id="drag_ctr"></div>
            <ul>
                <li class="first-item">网站建设</li>
                <li>品牌网站建设</li>
                <li>应用系统开发</li>
                <li>网络整合营销</li>
                <li>网络运维托管</li>
                <li>手机APP开发</li>
                <li>学术会议系统</li>
                <li>医院网站系统</li>
                <li>实验室</li>
                <li class="last-item">网站设计</li>
            </ul>
            <div id="drag_arrow"></div>
        </div>
    </div>
    <script type="text/javascript" src="js/fashionfoucs.js"></script>
    <!-- 代码 结束 -->
</div>
</div><!-- 白色区结束-->
</div><!-- 固定宽度1003结束-->
					</div><!--背景结束-->
<div class="foot autoheight {if $moduleid==1}footbg{else}footbg2{/if}"><!-- 底部栏目开始 -->
<div class="webw">
<div class="divline"></div>
{template 'index_count', 'tecenet/html'}
 <hr size=2 >
<dl class='yqlj'><dd>合作单位：	{php $tagt = tag("table=link&condition=status=3 and level=3&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder asc,itemid desc&template=null")}			
		    {loop $tagt $z $t}<a href="{$MODULE[3][linkurl]}redirect.php?url={urlencode($t[linkurl])}" target='_blank' title="{$t[alt]}" class="mr10"  rel="nofollow">{$t[title]}</a>{/loop}	
<a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}" class="ocolor"  rel="nofollow">申请加入>></a></dd>
</dl>
<hr size=2 >
<div class="copyright">
<div class='tececontact'>
{$DT[copyright]}<span style="display:none">{template 'analytics','include'} </span><a href="http://www.51.la/?14914538" target="_blank" id="tjs"  rel="nofollow">_</a>
</div>
<div class="tecehonor">
<a  href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"  rel="nofollow"><img src="{DT_SKIN}image/beian.png"></a>
<img src="{DT_SKIN}image/tecesprite.gif"><img src="{DT_SKIN}image/ebs.png">
	</div>
	</div>
	</div>
<div class='divline'></div>
</div>
{if DT_DEBUG}<div class="f12">{debug()}</div>{/if}
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2tops').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
</body>
</html>










