{php $CSS = array('tecenet');$IE=7;$ztitle='天成医疗网_专业医疗器械供求信息与医疗器械维修安装等技术服务平台';}
{template 'title'}
<body id="webmid">
<script type="text/javascript" src="{DT_STATIC}file/script/cookie.js"></script>
						<div class='topmenubg'>
						<script type="text/javascript">topmenu(2)</script>
						</div>
<div class="center autoheight"  id="webbodycontent" >
<div class="webw" style="padding-top:120px;">
<script>var hh=$(window).height()-503;</script>
<table cellspacing=0 cellpadding=0 border=0 align="center" width="990">
<tr>
	<td class="tc" colspan=3 height=80><img src="{DT_SKIN}image/tecebg/logo.png"></td>
</tr>
<tr>
<Td  valign="top"><a href="http://www.tecenet.com/about/index.html"><img src="{DT_SKIN}image/tecebg/jt1.png" onmouseover="this.className='whitebg'" onmouseout="this.className=''" ></a></td>
<td valign="top" align="center" id="topss"><div class="searchtop">
<form id="destoon_search" action="http://www.tecenet.com/search.php" onsubmit="return Dsearch();">
<input type="hidden" name="moduleid" value="1" id="destoon_moduleid"/>
<input type="hidden" name="spread" value="0" id="destoon_spread"/>
<input type="hidden" name="action" value="" id="sresume"/>
<input type="hidden" name="topkw" value="默认全站" id="topkwsvalues"/>
		 <ul class="center">
		 <li ><input type="text" value="" name="kw" onblur="if(this.value=='')this.value='天成站内搜索,点击输入关键词'"  onfocus="if(this.value=='天成站内搜索,点击输入关键词')this.value=''"  id="topkeyword" ></li>
		 <script type="text/javascript">Dd('topkeyword').value='天成站内搜索,点击输入关键词'; </script>
		 <li ><input type="image" src="{DT_SKIN}image/tecebg/search.png"></li>	 
		 </ul>
		 </form>
		 </div></td>
<Td valign="top"><a href="2/index.php"><img src="{DT_SKIN}image/tecebg/jt.png" onmouseover="this.className='whitebg'" onmouseout="this.className=''" ></a></td>
</tr>
<tr>
<td class="tc" colspan=3>
<script type="text/javascript">
Dd('topss').height=hh;
</script>

<div class="divline"></div>
<div class="selbg"><input type="file"  id="uploadfile"  name="uploadfile"  class="hd"   accept="image/*" onchange='zdy(getPath(document.getElementById("uploadfile")));'/>   
<ul>
<li id="selfont0"><font color="#a3b6ab" onclick="changebg(0)">●</font></li>
<li id="selfont1"><font color="#7BEAF1" onclick="changebg(1)">●</font></li>
<li id="selfont2"><font color="#ffcc99" onclick="changebg(2)">●</font></li>
<li id="selfont3"><font color="#477bc9" onclick="changebg(3)">●</font></li>
<li id="selfont4"><font color="#b68f50" onclick="changebg(4)">●</font></li>
<li id="selfont5"><font color="#ADCDC8" onclick="changebg(5)">●</font></li>
<li id="selfont6"><font color="#37763D" onclick="changebg(6)">●</font></li>
<li id="selfont7"><font color="#ff0000" onclick="changebg(7)">●</font></li>
<li id="selfont8"><font color="#967045" onclick="changebg(8)">●</font></li>
<!-- <li id="selfont9"><font color="#888888" size=2   onclick="Dd('uploadfile').click();">▲</font> -->

</li>
</ul>
</div>
<div class="divline"></div>
</td>
</tr>
</table>
</div>

<script type="text/javascript">
function zdy(bgs)
{$.cookie("sel", 9, { path: "/", expires: 7});
var bgs="url('"+bgs+"')";
$.cookie("bg", bgs, { path: "/", expires: 7});
alert($.cookie("bg"));
if($.cookie("bg")){Dd('webmid').style.background=$.cookie("bg");};
if($.cookie("sel")){Dd('selfont'+$.cookie("sel")).className="selyes";};
//document.write(Dd('webmid').style.background);
}
function changebg(bgs)
{
for(i=0;i<=8;i++)
{Dd('selfont'+i).className="";}
Dd('selfont'+bgs).className="selyes";
$.cookie("sel", bgs, { path: "/", expires: 7});
var bgs="url('{DT_SKIN}image/tecebg/bg"+bgs+".jpg')";
$.cookie("bg", bgs, { path: "/", expires: 7});
Dd('webmid').style.background=$.cookie("bg");

}
//alert($.cookie("bg"));


if($.cookie("bg")){Dd('webmid').style.background=$.cookie("bg");};
if($.cookie("sel")){Dd('selfont'+$.cookie("sel")).className="selyes";};
//document.write(Dd('webmid').style.background);
</script>

<script>
  function getPath(obj) {
  if (obj) {
  if (window.navigator.userAgent.indexOf("MSIE") >= 1) {
  obj.select(); return document.selection.createRange().text;
  }
  else if (window.navigator.userAgent.indexOf("Firefox") >= 1) {
  if (obj.files) {
  return obj.files.item(0).getAsDataURL();
  }
  return obj.value;
  }
  return obj.value;
  }
  }  
</script>

</div>
</div>
<br class='clear'></div><!-- 白色区结束-->
<br class='clear'></div><!-- 固定宽度1003结束-->
					</div><!--背景结束-->
<div class="foot autoheight {if $moduleid==1}footbg{else}footbg2{/if}"><!-- 底部栏目开始 -->
<div class="webw">
<div class="divline"></div>
{template 'index_count', 'tecenet/html'}
 <hr size=2 >
<dl class='yqlj'><dd>合作单位：
			{php $tagt = tag("table=link&condition=status=3 and level=3&areaid=$cityid&pagesize=".$DT['page_text']."&order=listorder asc,itemid desc&template=null")}			
		    {loop $tagt $z $t}<a href="{$MODULE[3][linkurl]}redirect.php?url={urlencode($t[linkurl])}" target='_blank' title="{$t[alt]}" class="mr10"  rel="nofollow">{$t[title]}</a>{/loop}	
<a href="{$EXT[link_url]}{rewrite('index.php?action=reg')}" class="ocolor"  rel="nofollow">申请加入>></a></dd>
</dl>
<hr size=2 >
<div class="copyright">
<div class='tececontact'>
{$DT[copyright]}<span style="display:none">{template 'analytics','include'} </span><a href="http://www.51.la/?14914538" target="_blank" id="tjs"  rel="nofollow">_</a>
</div>
<div class="tecehonor">
<a  href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" target="_blank"  rel="nofollow"><img src="{DT_SKIN}image/beian.png"></a>
<img src="{DT_SKIN}image/tecesprite.gif"><img src="{DT_SKIN}image/ebs.png">
	</div>
	</div>
	</div>
<div class='divline'></div>
</div>
{if DT_DEBUG}<div class="f12">{debug()}</div>{/if}
<script>
$(document).ready(function(){
  $("#ico1").bind("mouseover",function(){$('#onlineService').animate({width: 'show', opacity: 'show'}, 'normal');icos('1');seltab('kefutab',1,3);return false;});
  $("#ico2").bind("mouseover",function(){$('#onlineService').animate({width: 'show', opacity: 'show'}, 'normal');icos('2');seltab('kefutab',2,3);return false;});
  $("#ico3").bind("mouseover",function(){$('#onlineService').animate({width: 'show', opacity: 'show'}, 'normal');icos('3');seltab('kefutab',3,3);return false;});
  $("#ico5").bind("click",function(){$("html, body").animate({scrollTop:0}, 200);});
  $(document).bind("click",function(event){
	if ($(event.target).isChildOf("#online_qq_layer") == false)
	{$('#onlineService').animate({width: 'hide', opacity: 'hide'}, 'normal',function(){ $('#onlineService').hide(); }); icos(0);}});
		jQuery.fn.isChildAndSelfOf = function(b){ return (this.closest(b).length > 0);};
		jQuery.fn.isChildOf = function(b){ return (this.parents(b).length > 0);};
});
</script>
<div id="online_qq_layer">
	<div id="online_qq_tab">
		<div class="online_icon">
<ul>
<li><a href="javascript:void(0);"  id="ico1"rel="nofollow"><img src="{DT_SKIN}image/blank.gif" ></a></li>
<li><a href="javascript:void(0);"  id="ico2" rel="nofollow" ><img src="{DT_SKIN}image/blank.gif" ></a></li>
<li><a href="javascript:void(0);"  id="ico3" rel="nofollow" ><img src="{DT_SKIN}image/blank.gif" ></a></li>
<li><a href="javascript:void(0);"  id="ico4" rel="nofollow" onmouseover="if(m.innerText.indexOf('册')>0){this.href='{$MODULE[1][linkurl]}guestbook/#ask';}else{this.href='{$MODULE[1][linkurl]}member/ask.php?action=add';}"><img src="{DT_SKIN}image/blank.gif" ></a></li>
<li><a href="javascript:void(0);"   id="ico5" rel="nofollow" style="height:22px;"><img src="{DT_SKIN}image/blank.gif"  height=22  style="height:22px;"></a></li>
</ul>

		</div>
		</div>
	<div id="onlineService">
		<div class="online_windows">
			<div class="online_w_c">
<dl id="kefutab1"  class="h30">
<dt>本站在线QQ客服</dt>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2924838874&site=qq&menu=yes"  rel="nofollow" ><img src='{DT_SKIN}image/blank.gif' class="qqico"> 产品服务：小天 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=504316130&site=qq&menu=yes"  rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 厂商推广：小石 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=33033978&site=qq&menu=yes"  rel="nofollow" ><img src='{DT_SKIN}image/blank.gif' class="qqico"> 设备技术：小谭 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2990334470&site=qq&menu=yes"  rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 网络推广：小刚 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=42475399&site=qq&menu=yes"  rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 管理软件：小于 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=786466321&site=qq&menu=yes"  rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 工程装修：小赵 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=657911476&site=qq&menu=yes"    rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 网站客服：小成 </a></dd>
<dd><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=93645493&site=qq&menu=yes"  rel="nofollow"><img src='{DT_SKIN}image/blank.gif' class="qqico"> 会员充值：小浩 </a></dd>
</dl>
<dl id="kefutab2" style="display:none" class="h30">
<dt>天成各类服务热线</dt>
<dd class="b">免费热线：4000521617 </dd>
<dd>传真号码：<font class="f12">020-28955858</font> </dd>
<dd>产品配送：<font class="f12">020-28955856</font> </dd>
<dd>厂商推广：<font class="f12">020-28955857</font> </dd>
<dd>设备技术：<font class="f12">020-28955873</font> </dd>
<dd>网络推广：<font class="f12">020-28955858</font> </dd>
<dd>管理软件：<font class="f12">020-28955872</font> </dd>
<dd>工程装修：<font class="f12">020-28955875</font> </dd>
</dl>
<dl id="kefutab3" style="display:none" class="sjapp">
<dt>手机APP及微信</dt>
<dd><a href='javascript:void(0)' onmouseover="seltab('sjapp',1,2);">打开官方微信平台二维码</a><p id="sjapp1"><img src='{DT_PATH}file/image/weixin.jpg' width="110" height="110"><br>手机微信扫一扫</p></dd>
<dd><a href='javascript:void(0)' onmouseover="seltab('sjapp',2,2);">打开安卓手机应用二维码</a><p id="sjapp2" style="display:none"><img src='{DT_PATH}file/image/and.png' width="110" height="110"><br>手机微信扫一扫</p></dd>
</dl>
				</div>
			</div>
</div>
</div>
<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
$('#back2tops').click(function() {
	$("html, body").animate({scrollTop:0}, 200);
});
</script>
</body>
</html>










