{template 'header'}
<script type="text/javascript">var tagbg;tagbg=document.getElementById('tt7').src;document.getElementById('tt7').src=allmenu(tagbg)</script>
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>

						<div class="w240 fl autoheight"><!-- 左边内容开始-->
														{template 'member','tag'}
														<div class="divline"></div>
														<div class="orange"><div class="h4title">发布会员的资料</div></div>
															<div class="grayb nt pb10 pt10 autoheight">
                                                            {template 'contact', 'chip'}
														
																</div>
											<div class="divline"></div>
											<div class="orange"><div class="h4title">该会员更多{$MOD[name]}信息</div></div>
											<div class="grayb nt autoheight pt10">
												<ul class="leftlist h500">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=20&order=hits desc&showcat=1&template=null&debug=0")}
													{loop $tagt $z $t}
													<li><span>[{$t[hits]}°C]</span><a class="color lenstr" href="{$t[linkurl]}" target='_blank'>{$t[title]}</a></li>
													{/loop}
													
                                                    </ul>
											</div>

											</div>
											<div class="w730 fl autoheight ml10"><!-- 右边内容开始sss-->
														{template 'lay','tag'}
														<div class="autoheight pt5 grayb nt">
														<table width="100%" height=420>
			<tr>
			<td colspan="2"><h1 >{$title}</h1><span class="riqi">发布：{$editdate}&nbsp;&nbsp;点击：<span id="hits">{$hits}</span></span>
				<span class="shoucang"><form method="post" action="{$MODULE[2][linkurl]}favorite.php" target="_blank">
	<input type="hidden" name="action" value="add"/>
	<input type="hidden" name="title" value="{$title}"/>
	<input type="hidden" name="url" value="{$linkurl}"/>
	<input type="image" src="{DT_SKIN}image/btn_fav.gif"/>
	</form></span>
			
			</td>
			</tr>
			<tr>
			<td width="309" align="center" valign="top">
		  <div class="album">
					<table width="91%" cellpadding="0" cellspacing="0">
					<tr align="center">
					<td width="250" valign="top"><div><span id="abm" title="点击查看大图"><img src="{$albums[0]}" onload="if(this.width>240){this.width=240;}" onmouseover="SAlbum(this.src);" onmouseout="HAlbum();" onclick="PAlbum(this);" id="DIMG"/></span></div></td>
					</tr>
					<tr>
					<td>
					{loop $thumbs $k $v}<img src="{$v}" width="60" height="60" onmouseover="if(this.src.indexOf('nopic60.gif')==-1)Album({$k}, '{$albums[$k]}');"class="{if $k}ab_im{else}ab_on{/if}" id="t_{$k}"/>{/loop}</td>
					</tr>
					<tr align="center">
					<td height="30" onclick="PAlbum(Dd('DIMG'));"><img src="{DT_SKIN}image/ico_zoom.gif" width="16" height="16" align="absmiddle"/> 点击图片查看原图</td>
					</tr>
					</table>
			  </div>			</td>
			<td width="747" valign="top">
				<div id="imgshow" style="display:none;"></div>
				<table width="100%" cellpadding="5" cellspacing="5">
								
				<tr>
				<td class="bcolor" width="20%">类 型：</td>
				<td>{$TYPE[$typeid]}&nbsp;</td>
				</tr>
				<tr>
				<td class="bcolor">需求数量：</td>
				<td class="b ocolor">{$amount}&nbsp;</td>
				</tr>
				<tr>
				<td class="bcolor">价格要求：</td>
				<td class="b ocolor">{$price}</td>
				</tr>
				<tr>
				<td class="bcolor">规格要求：</td>
				<td class="b ocolor">{$standard}</td>
				</tr>
				<tr>
				<td class="bcolor">包装要求：</td>
				<td class="b ocolor">{$pack}</td>
				</tr>
				<tr>
				<td class="bcolor">所在地：</td>
				<td>{area_pos($areaid, '')}</td>
				</tr>
				<tr>
				<td class="bcolor">有效期至：</td>
				<td>{if $todate}{$todate}{else}长期有效{/if}{if $expired} <span class="f_red">[已过期]</span>{/if}</td>
				</tr>
				<tr>
				<td class="bcolor">最后更新：</td>
				<td colspan="2">{$editdate}</td>
				</tr>
				{if $username && !$expired}
				<tr>
				<td colspan="2"><img src="{DT_SKIN}image/btn_price.gif" alt="报价" class="c_p" onclick="Go('{$MOD[linkurl]}{rewrite('price.php?itemid='.$itemid)}');"/></td>
				</tr>
				{/if}			  </table>			</td>
			</tr>
		</table>
			
            <div class="hentiao"><div class="htbg" ><ul class="oranget"><li class="orangey">详细内容介绍</li></ul></div>
			<span class="mores">{template 'baidu', 'chip'}</span>
					</div>
            <div class="content" id="content">{$content}<br class="clear"/></div>
			
			<div class="divline"></div>
			
			
			{if $CP}{template 'property', 'chip'}{/if}
			{template 'comment', 'chip'}
			 </div>
 </div>
{template 'zoom', 'chip'}
{template 'footer'}