{php $mlogo=$DT_SKIN.'hr/blogo.png';}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>推荐给服务需求发布者你的供应信息</title>
<meta name="keywords" content="推荐给服务需求发布者你的供应信息"/>
<meta name="description" content="推荐给服务需求发布者你的供应信息"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/>
<script type="text/javascript" src="{DT_PATH}lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/config.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jquery.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/common.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/page.js"></script>
<script type="text/javascript" src="{DT_STATIC}file/script/jsfunction.js"></script>
</head>
<body style="background:#e9f0f5">
<div class="center">
			<div >
				<table cellpadding="0" cellspacing="0" width="98%" align="center">
				<tr>
				<td valign="top" align="left">
					<div class="left_box">		
						<div style="padding:20px;">				
							<form method="post" action="{$MOD[linkurl]}apply.php" id="dform">
							<input type="hidden" name="itemid" value="{$itemid}"/>
							<table cellpadding="8" cellspacing="1" width="100%" bgcolor="#CDDCE4">
							<tr>
							<td bgcolor="#FBFCFD" width="120" align="center">选择简历</td>
							<td bgcolor="#FFFFFF">
							{loop $lists $k $v}
							<div class="b5"></div>
							<div><input type="radio" name="resumeid" value="{$v[itemid]}"{if $k==0} checked{/if}/> <a href="{$v[linkurl]}" target="_blank">{$v[title]}</a></div>
							{/loop}
							</td>
							</tr>
							<tr>
							<td bgcolor="#FBFCFD"> </td>
							<td bgcolor="#FFFFFF"><input type="submit" name="submit" value=" 确定 "/>&nbsp;&nbsp;<input type="button" value=" 返回 " onclick="Go('{$linkurl}');"/></td>
							</tr>
							</table>
							</form>	
						</div>
						<br/>
					</div>
				</td>
				</tr>
				</table>
			</div>
</div>
</body>
</html>