<script type="text/javascript" src="{DT_PATH}file/script/arrowtree.js"></script> 
<script type="text/javascript" src="{DT_PATH}file/script/miniDropdown.js"></script>
						<div class='topmenubg'>
						<!--最顶部菜单-->
						<script type="text/javascript">topmenu(	{if $moduleid>2}{$moduleid}{else}1{/if})</script>

						</div>


<div class="{if $index}webbg{else}webbg2{/if}">
<div class="h300"></div>
	<div class="center autoheight webw"  >
				<div class="searchtool">
						<form action="{$MOD[linkurl]}search.php">
								<div class="searchf fl"><label ><a href="{$MODULE[$moduleid][linkurl]}"><img src="{DT_SKIN}image/hr/logo.png"></a></label></div>
									<div class="searche fl"><label class="fl"><input type="radio" name="action" value='job' checked=checked>职位搜索</label><label class="fl"><input type="radio" name="action" value='resume' >人才搜索</label></div>
										<div class="searcha fl"><input type="text" name="kw" value="{$kw}" placeholder="请输入关键词" alt="请输入关键词" onfocus="if(this.value.indexOf('词')>0){this.value='';}" onblur="if(this.value==''){this.value=this.alt;}"></div>
										<div class="searchb fl"><input type="image" src="{DT_SKIN}image/blank.gif"></div>
										<div class="searchc fl"><input type="button" value="发布职位" onclick="Go('{$MODULE[2][linkurl]}my.php?mid=28&action=add')"></div>
										<div class="searchd fl"><input type="button" value="发布简历" onclick="Go('{$MODULE[2][linkurl]}my.php?mid=28&action=add&resume=1')"></div>
						</form>
				</div>
	</div>
			<div class="divline"></div>
			{if !$index}
			<div class="center autoheight webw"  >
			{template 'menu','hr'}
			</div>
			{/if}
</div>
<div class="autoheight"  >
	<div class="webw center" >

