{php $sitemenu='rc_job';}
{template 'header'}
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=idialog"></script>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/MSClass.js"></script>
</div>
</div>
<div class="rc_box rc_sea_bg fl">
	<div class="rc_search mc">
		<form class="fl">
			<input type="text" value="" class="sea_box" /><input type="submit" value="搜 索" class="sea_btn" /><br/>
			<a href="">按城市</a>
		</form>
		<p class="fr for_resume"><a href="#">免费发布招聘</a></p>
		<p class="fr for_job for_resume"><a href="#">免费发布简历</a></p>
		
	</div>
</div>
<div class="rc_box fl">
	<div class="rc_list mc">
		<div class="tj_title">
			<p>推荐职位</p>
		</div>
		<dl>
			<dt class="tj_xinxi"><span>公司/职位</span><span>工作地点</span><span>薪资</span><span>发布日期</span></dt>
			<dd class="tj_ls">
				<dl>
					<dt><a href="" target="_blank">广州天成医疗技术有限公司</a></dt>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
				</dl>
				<dl>
					<dt><a href="" target="_blank">广州天成医疗技术有限公司</a></dt>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
				</dl>
				<dl>
					<dt><a href="" target="_blank">广州天成医疗技术有限公司</a></dt>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
				</dl>
				<dl>
					<dt><a href="" target="_blank">广州天成医疗技术有限公司</a></dt>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
					<dd><p style="width:210px;"><a href="" target="_blank">销售经理</a></p><p style="width:330px;">广州</p><p style="width:170px;color:#0066cc">年薪10万</p><p style="width:195px; text-align:right">2013-02-28</p></dd>
				</dl>
			</dd>
		</dl>
	</div>
</div>

<div class="rc_box fl">
	<div class="rc_AD mc">
	</div>
</div>
{template 'footer'}