{php $sitemenu='hr';$listpage='search';$mlogo=$DT_SKIN.'hr/blogo.png';}
{if $_groupid==1||$_groupid==8||$admin_user}
{php $user_status =3;}
{/if}
{if $user_status>1}
{php $baomi=0;}
{else}
{php $baomi=1;}
{/if}
{template 'header'}
<div class="your"><font class="color f14 mr10">您所在的位置 </font><a href="{$MODULE[1][linkurl]}">
														网站首页&nbsp;</a>&nbsp;&nbsp;>&nbsp;&nbsp;{if $moduleid<>3}<a href="{$MOD[linkurl]}" id="yourmdid">{$MOD[name]}</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{$MOD[linkurl]}search.php?catid={$parentid}&action=resume">{$CATEGORY[$parentid][catname]}</a>{else}{$ztitle}{/if}<a id="yourmdmore"></a></div>
														
<script type="text/javascript">Dd('areasl').className='menuy';</script>
<div class="autoheight">
<table cellpadding="6" cellspacing="1" width="100%" bgcolor="#DDDDDD">			
	<tr>
	<td colspan="7" bgcolor="#f1f7ec" align="center"><h1 class="h1" style="line-height:30px;margin:0px;padding:5px;"><span class="fr f12">简历编号 {$itemid}</span>{xname($truename,$baomi,-1)}个人简历</h1></td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center" width="64">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</td>
	<td colspan="3">{xname($truename,$baomi,-1)}</td>
	<td align="center" width="64">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</td>
	<td width="350">{if $gender == 1}男{else}女{/if}</td>
	<td width="54" rowspan="5" align="center"><img src="{if $baomi==0}{if $thumb}{$thumb}{/if}{else}{DT_SKIN}image/nohead.gif{/if}" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" alt=""/></td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">生&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;日</td>
	<td colspan="3">{$birthday}</td>
	<td align="center">婚姻状况</td>
	<td>{if $marriage == 2}已婚{else}未婚{/if}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高</td>
	<td colspan="3">{$height} cm</td>
	<td align="center">体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重</td>
	<td>{$weight} kg</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">居 住 地</td>
	<td colspan="3">{area_pos($areaid, '')}</td>
	<td align="center">籍&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;贯</td>
	<td>{$nplace}</td>
	<tr bgcolor="#FFFFFF">
	<td align="center">毕业院校</td>
	<td colspan="3">{$school}</td>
	<td align="center">专&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;业</td>
	<td>{$major}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历</td>
	<td colspan="3">{$EDUCATION[$education]}</td>
	<td align="center">工作经验</td>
	<td colspan="2">{if $experience}{$experience}年{else}无{/if}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">行业意向</td>
<td colspan="3">
{$CATEGORY[$parentid][catname]}
</td>
	<td align="center">职位意向</td>
	<td colspan="2">{$CATEGORY[$catid][catname]}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">专业技能</td>
	<td colspan="3">{$skill}</td>
	<td align="center">政治面貌</td>
	<td colspan="2">{$politicsstatus}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">到岗时间</td>
	<td colspan="3">
	{php $dutytime_arr=array(0=>'',1=>'即时',2=>'1周内',3=>'1个月内',4=>'1-3个月',5=>'3个月后',6=>'待定');}
	{$dutytime_arr[$dutytime]}</td>
	<td align="center">期望工作城市</td>
	<td colspan="2">{$hopeplace}</td>
	</tr>
	<tr bgcolor="#FFFFFF">
	<td align="center">期望薪资</td>
	<td colspan="3">
	{if $minsalary && $maxsalary}
		{$minsalary}-{$maxsalary}{$DT[money_unit]}/月
	{elseif $minsalary}
		{$minsalary}{$DT[money_unit]}/月以上
	{elseif $maxsalary}
		{$maxsalary}{$DT[money_unit]}/月以内
	{else}
		面议
	{/if}
	</td>
	<td align="center">求职状态</td>
	<td colspan="2">{$SITUATION[$situation]}</td>
	</tr>
		{if $experience_id}
	{php $experience_arr=explode(',',$experience_id);}
	<tr>
		<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">工作经验</strong></td>
	</tr>
	<tr>
		<td colspan="7" bgcolor="#FFFFFF">
				<div class="pd10 lh18 resume_content_list">
			{loop $experience_arr $k $v}
			<?php if($v==''){continue;} ?>
				{php $exp_data=$db->get_one("select * from {$db->pre}hr_resume_experience where experience_id=".$v);}
				<dl>
					<dt>
					<ul>
						<li class="w_half">
							<div class="pointer">●</div>&nbsp;&nbsp;<span class="font16">{$exp_data['start_time']}</span>&nbsp;至&nbsp;<span class="font16">{$exp_data['stop_time']}</span>
						</li>
						<li class="w_half">
							<span style="font-weight:bold;{if mb_strlen($exp_data['company_name'],'utf8')>14}font-size:14px;{else}font-size:16px;{/if}">{$exp_data['company_name']}</span>
						</li>
					</ul>
						
					</dt>
					<dd>
						<ul>
							<li class="w_one_third"><span>职位：{$exp_data['position']}</span></li>
							<li class="w_one_third"><span>行业：{$exp_data['industry']}</span></li>
							<li class="w_one_third"><span>工作性质：{$exp_data['work_nature']}</span></li>
						</ul>
						<ul>
							<li class="w_one_third"><span>公司规模：{$exp_data['scale']}</span></li>
							<li class="w_one_third"><span>公司性质：{$exp_data['company_nature']}</span></li>
							<li class="w_one_third"><span>薪资：{$exp_data['pay']}</span></li>
						</ul>
						<div>工作描述：</div>
						<div class="list_content">{$exp_data['ex_describe']}</div>
					</dd>
				</dl>
				<div class="divline"></div>
			{/loop}
				</div>	
		</td>
	</tr>
	{/if}
	{if $education_id}
	<tr>
		<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">教育经历</strong></td>
	</tr>
	<tr>
		<td colspan="7" bgcolor="#FFFFFF">
		{php $education_arr=explode(',',$education_id);}
		<div class="pd10 lh18 resume_content_list">
			{loop $education_arr $k $v}
			<?php if($v==''){continue;} ?>
				{php $edu_data=$db->get_one("select * from {$db->pre}hr_resume_education where education_id=".$v);}
				<dl>
					<dt>
						<div class="pointer">●</div>&nbsp;&nbsp;<span class="font16"><span style="font-size:16px;font-weight:bold;">{$edu_data['major']}</span></span>
					</dt>
					<dd>
					<ul>
						<li class="w_half"><span>时间：{$edu_data['start_time']}</span>&nbsp;至&nbsp;{$edu_data['stop_time']}</li>
						<li class="w_half">专业：{$edu_data['major']}</li>
					</ul>
					<ul>
						<li class="w_half"><span>学历：</span><span>{$edu_data['education']}</span></li>
						<li class="w_half">是否海外：{$edu_data['address']}</li>
					</ul>
					</dd>
				</dl>
				<div class="divline"></div>
			{/loop}
		</div>	
		</td>
	</tr>
	{/if}
	{if $information_id}
		<tr>
			<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">学生信息</strong></td>
		</tr>
		<tr>
		<td colspan="7" bgcolor="#FFFFFF">
		{php $information_arr=explode(',',$information_id);}
				<div class="pd10 lh18 resume_content_list">
				{loop $information_arr $k $v}
				<?php if($v==''){continue;} ?>
				{php $inf_data=$db->get_one("select * from {$db->pre}hr_resume_student_information where information_id =".$v);}
				<div class="list_content">
					于{$inf_data['start_time']}至{$inf_data['stop_time']}间，<span style="font-size:14px;font-weight:bold;">
						{if $inf_data['sn_category']==0}
						获得奖励:
						{elseif $inf_data['sn_category']==1}
						担任职务：
						{else}
						实践经验：
						{/if}
						{$inf_data['value']}
						</span>
						&nbsp;&nbsp;
						{$inf_data['practice']}
				</div>
				{/loop}
				</div>
		</td>
		</tr>
	{/if}
	{if $train_id}
	<tr>
		<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">培训经历</strong></td>
	</tr>
	<tr>
		<td colspan="7" bgcolor="#FFFFFF">
		{php $education_arr=explode(',',$train_id);}
		<div class="pd10 lh18 resume_content_list">
			{loop $education_arr $k $v}
			<?php if($v==''){continue;} ?>
				{php $edu_data=$db->get_one("select * from {$db->pre}hr_resume_education where education_id=".$v);}
				<dl>
					<dt>
						<div class="pointer">●</div>&nbsp;&nbsp;<span class="font16">{$edu_data['major']}</span>
					</dt>
					<dd>
					<ul>
						<li class="w_half"><span>时间：{$edu_data['start_time']}</span>&nbsp;至&nbsp;{$edu_data['stop_time']}</li>
						<li class="w_half">课程：<span style="font-size:16px;font-weight:bold;">{$edu_data['major']}</span></li>
					</ul>
					<ul>
						<li class="w_half"><span>证书：</span><span>{$edu_data['education']}</span></li>
						<li class="w_half">地址：{$edu_data['address']}</li>
					</ul>
					<div>培训描述：</div>
					<div class="list_content">{$exp_data['ed_describe']}</div>
					</dd>
				</dl>
				<div class="divline"></div>
			{/loop}
		</div>
		</td>
	</tr>
	{/if}
	{if $language_id}
	<tr>
		<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">语言能力</strong></td>
		</tr>
		<tr>
		<td colspan="7" bgcolor="#FFFFFF">
		{php $language_arr=explode(',',$language_id);}
		
				<div class="pd10 lh18 resume_content_list">
				{loop $language_arr $k $v}
				<?php if($v==''){continue;} ?>
				{php $lang_data=$db->get_one("select * from {$db->pre}hr_resume_language where language_id =".$v);}
				<dl>
					<dd style="border:0px;margin-left:0px;">
						<ul style=" {if $k%2==0}background:#f8f8f8;{else}background:#fff;{/if}height:25px;">
					<li style="width:25%;"><span style="font-size:14px;font-weight:bold;padding-left:24px;">{$lang_data['catetory']}</span></li>
					<li style="width:75%;">
						掌握程度({$lang_data['grasp']})&nbsp;&nbsp;&nbsp;&nbsp;读写能力({$lang_data['r_write']})&nbsp;&nbsp;&nbsp;&nbsp;听说能力({$lang_data['l_say']})&nbsp;&nbsp;&nbsp;&nbsp;语言等级({$lang_data['grade']})
					</li>
				</ul>
					</dd>
				</dl>
				{/loop}
				</div>
				</div>
		</td>
		</tr>
	{/if}
	<tr>
	<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">自我鉴定</strong></td>
	</tr>
	<tr>
	<td colspan="7" bgcolor="#FFFFFF"><div class="pd10 lh18">{$content}</div></td>
	</tr>
	<tr>
	<td colspan="7" bgcolor="#F1F1F1">&nbsp;&nbsp;<strong class="f20 color">联系方式</strong></td>
	</tr>			
	<tr>
	<td colspan="7" bgcolor="#FFFFFF">
	 {template 'contact', 'chip'}
	</td>
	</tr>
	</table>
	<br/>
	<center class="color f14">
	<a href="{$MODULE[2][linkurl]}my.php?mid=28&action=add&resume=1">+发布简历</a>&nbsp; | &nbsp;
	<a href="javascript:Go('{rewrite('talent.php?itemid='.$itemid)}');">加入人才库</a> &nbsp; | &nbsp;
	<a href="javascript:window.open('{rewrite('resume.php?print=1&itemid='.$itemid)}');void(0);">打印简历(A4纸)</a> &nbsp; | &nbsp;
	<a href="derive.php?itemid={$itemid}">导出简历</a> &nbsp; | &nbsp;
	<a href="javascript:SendFav();">加入收藏</a> &nbsp; | &nbsp;
	<a href="javascript:SendPage();">告诉好友</a> &nbsp; | &nbsp;
	<a href="javascript:window.close()">关闭窗口</a>
	</center>
	<br/>
	<center class="rcolor f12">
	免责声明：以上信息由个人自行提供，内容的真实性、准确性和合法性由发布个人负责，本站对此不承担任何责任。
	</center>
</div>
{template 'footer'}