<table cellpadding="3" cellspacing="0">
	<form action="{$MOD[linkurl]}search.php">	
				<tr>
				<td width=680 align='right'>
			推荐等级 {$vip_select}&nbsp;&nbsp;运作模式{$mode_select}&nbsp;&nbsp;运作性质 {$type_select}
			&nbsp;&nbsp;<select name="areaid">
			{php $mainarea = tag("table=area&fields=areaid,areaname&condition=parentid=0&pagesize=34&template=null&debug=0")}	
			<option value="" {if $areaid==''}selected{/if}>选择地区</option>
			{loop $mainarea $k $v}
				<option value="{$v[areaid]}" {if $areaid}{if $areaid==$v[areaid]}selected{/if}{/if}>{$v[areaname]}</option>
            {/loop}
			</select>		
	</td>
	<td width=80>
	<input type="submit" value="立刻筛选" class="submit">
	</td>
		  </tr>
				</form> 
				</table>
			
