{if !empty($tags)}
{loop $tags $k $t}
<div class="cmp-card">
	{if $t['vip'] > 0}<i class="tc-gs-i vip"></i>{/if}
	<div class="cmp-left-area pull-left">
		<a href="{$t['linkurl']}" target="_blank" title="{$t['company']}"><img class="cmp-avatar" src="{$t['thumb']}" alt="{$t['company']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-md-1-1.png';"></a>
		<a href="{$t['linkurl']}contact/" target="_blank" title="{$t['company']}联系方式" class="cmp-contact">查看联系方式</a>
	</div>
	<div class="cmp-right-area pull-right">
		<h3 class="text-overflow"><a href="{$t['linkurl']}" title="{$t['company']}" target="_blank">{$t['company']}</a></h3>
		<ul class="cmp-specs">
			{php $areaname = area_pos($t['areaid'],'/');}
			<li><span>所在地区：</span><em><a href="{$MODULE[4]['linkurl']}{com_rewrite(['areaid'=>$t['areaid']])}" title="{$AREA[$t['areaid']]['areaname']}医疗企业公司">{$AREA[$t['areaid']]['areaname']}</a></em></li>
			{if !empty($t['model'])}<li><span>经营模式：</span><em>{$t['model']}</em></li>{/if}
			<li><span>销售产品：</span><em class="text-overflow" title="{$t['sell']}">{$t['sell']}</em></li>
			<li><span>产品数量：</span><em><a href="{$t['linkurl']}mall/">{$t['pnum']}</a></em></li>
		</ul>
	</div>
</div>
{/loop}
{/if}