{if !$close_mall}
{php $mall = tag("moduleid=16&condition=status=3 and username = '".$t[username]."'&template=null&pagesize=4")}
{/if}
            <div class="cmp-card {if empty($mall) || $close_mall}cmp-card-nopic{/if} clearfix">
                <div class="cmp-info pull-left">
                    <div class="cmp-logo pull-left">
                        <a href="{$t['linkurl']}" target="_blank" title="{$t['company']}"><img class="lazy" src="http://www.tecenet.com/skin/teceskin/image/blank.gif" data-original="{$t['thumb']}" alt="{$t['company']}" onerror="javascript:this.src='{DT_SKIN}image/no-pic.png';"></a>
                        <a href="{$t['linkurl']}contact/" target="_blank" title="{$t['company']}联系方式" class="cmp-logo-btn">查看联系方式</a>
                    </div>
                    <div class="cmp-main pull-left">
                        <h2><a href="{$t['linkurl']}" target="_blank" title="{$t['company']}">{$t['company']}</a>{if !empty($t['vip'])}<i class="tc-gs-i vip"></i>{/if}{if !empty($t['validated'])}<i class="tc-gs-i cmp-v"></i>{/if}</h2>
                        <div class="tags">
                        	{if $t['catid']}
                        	{php $tcat = explode(',',$t['catid']);}
                        	{loop $tcat $tk $tt}
                        	{if !empty($CAT[$tt])}<a href="{$MODULE[4]['linkurl']}{com_rewrite(['catid'=>$tt])}" title="{$CAT[$tt]}医疗器械公司">{$CAT[$tt]}</a>{/if}
                        	{/loop}
                        	{/if}
                        </div>
                        <p class="text-overflow"><b>经营范围：</b><?php if(empty($t['business'])) {echo '未填写';}else{echo htmlspecialchars($t['business']);} ?></p>
                        <p class="text-overflow"><b>销售产品：</b><?php if(empty($t['sell'])){echo '未填写';}else{ echo htmlspecialchars($t['sell']); } ?></p>
                    </div>
                    <div class="clear"></div>
                    <ul class="cmp-list clearfix">
                        <li>
                            <p>所在地区</p>
                            <p class="text-overflow"><a href="{$MODULE[4]['linkurl']}{com_rewrite(['areaid'=>$t['areaid']])}" title="{$AREA[$t['areaid']]['areaname']}医疗器械公司">{$AREA[$t['areaid']]['areaname']}</a></p>
                        </li>
                        <li>
                            <p>成立时间</p>
                            <p class="text-overflow">{$t['regyear']}</p>
                        </li>
                        <li>
                            <p>注册资本</p>
                            <p class="text-overflow"><?php if(empty($t['capital'])){echo '未填写';}else{ echo $t['capital'].'万';} ?></p>
                        </li>
                        <li>
                            <p>运作模式</p>
                            <p class="text-overflow">{$t['mode']}</p>
                        </li>
                        <li>
                            <p>运作性质</p>
                            <p class="text-overflow">{$t['type']}</p>
                        </li>
                    </ul>
                </div>
                {if !$close_mall}
                {php $mall = tag("moduleid=16&condition=status=3 and username = '".$t[username]."'&template=null&pagesize=4")}
				{if count($mall) > 0}
                <div class="cmp-product pull-right">
                    <div class="bd">
                        <ul>
                        	{loop $mall $mt}
                            <li>
                                <a href="{$t['linkurl']}mall/itemid-{$mt['itemid']}.shtml" target="_blank"><img src="http://www.tecenet.com/skin/teceskin/image/blank.gif" _src="{$mt['thumb']}" /></a>
                                <p class="text-overflow"><a href="{$t['linkurl']}mall/itemid-{$mt['itemid']}.shtml">{$mt['title']}</a></p>
                            </li>
                            {/loop}
                        </ul>
                    </div>
                    <div class="hd"><ul></ul></div>
                    <a class="tc-gs-i prev" href="javascript:void(0)"></a>
                    <a class="tc-gs-i next" href="javascript:void(0)"></a>
                    <a href="{$t['linkurl']}mall/" target="_blank"  class="cmp-product-more">更多产品</a>
                </div>
                {/if}
                {/if}
            </div>