<div class="newcompany">
	<div style="width:720px;line-height:33px;height:33px;background:#265a8c;text-align:left;"><span style="font-size:17px;font-weight:bold;color:white;margin-left:10px;">新增厂商</span></div>
	{php $tags = tag("moduleid=$moduleid&condition=groupid>5 and groupid<>8 and closeshop=0&pagesize=12&order=validtime desc&template=null&debug=0&showcat=1")}
	<style>
		.newcompany ul{width:720px;}
		.newcompany ul li{width:236px;text-align:center;height:100px;float:left;}
		.newcompany_content{line-height: 100px;}
	</style>
	<div style="width:720px;">
	<div class="newcompany">
	{loop $tags $k $t}
	{if in_array($k,array('0'))}
	<ul>
	<li>
		<div style="height:33px;"></div>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><span style="font-size:16px;">{if strlen($t[company])>42}<?php echo substr($t[company],0,39);?>...{else}{$t[company]}{/if}</span></a>
		<br/><br/>
		<span style="color:#f9a821;">{area_pos($t[areaid], '/', 2)}&nbsp;&nbsp;{if $t[mode]}{$t[mode]}{/if}&nbsp;&nbsp;{$t[pnum]}个产品</span>
	</li>
	{elseif in_array($k,array('3','6','9'))}
	</ul>
	<ul>
	<li>
			<div style="height:33px;"></div>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><span style="font-size:16px;">{if strlen($t[company])>42}<?php echo substr($t[company],0,39);?>...{else}{$t[company]}{/if}</span></a>
		<br/><br/>
		<span style="color:#f9a821;">{area_pos($t[areaid], '/', 2)}&nbsp;&nbsp;{if $t[mode]}{$t[mode]}{/if}&nbsp;&nbsp;{$t[pnum]}个产品</span>
		
	</li>	
	{else}
	<li>
		<div style="height:33px;"></div>
		<a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><span style="font-size:16px;">{if strlen($t[company])>42}<?php echo substr($t[company],0,39);?>...{else}{$t[company]}{/if}</span></a>
		<br/><br/>
		<span style="color:#f9a821;">{area_pos($t[areaid], '/', 2)}&nbsp;&nbsp;{if $t[mode]}{$t[mode]}{/if}&nbsp;&nbsp;{$t[pnum]}个产品</span>
	
	</li>	
	{/if}
	{/loop}
	</ul>
	</div>
	</div>
</div>