{template 'vipnews', $module}

			<dl class="dlhots autoheight graybg">
			<dt class="bcolor f16 b">热门企业</dt>
			<dd class="pd5">
				 <ul class="tjxxx">
					{php $tags = tag("moduleid=$moduleid&fields=linkurl,company,areaid,type,validated&condition=pnum>0 and hits>20 and groupid>5 and groupid<>8 and closeshop=0&pagesize=6&order=hits desc&template=null&debug=0&showcat=1")}
					 {loop $tags $k $v}
					<li id='tjxxxli{$k+1}'><i class="fl {if $k<3}bcolor{/if}" {if $k>8}style='font-size:16px;'{/if}>{$k+1}</i><div class="fl w190">
					<a href="{$v[linkurl]}" target="_blank" class="lenstr w190">{$v[company]}</a>
					<p class='lenstr w190 '><span><font class="f12">{area_pos($v[areaid], '/', 2)}</font></span><span class="ml10"><font class="f12">{$v[type]}</font></span><span  class="ml10"><font class="f12">{if $v[validated]}<font class="ocolor">已验证</font>{else}未验证{/if}</font></span></p>
					</div>
					</li>
					{/loop}	

					<script type="text/javascript">
					var k=$(".tjxxx li").length;Dd('tjxxxli'+k).style.borderBottom='0px';
					$(".tjxxx>li").hover(function () {$(this).addClass("whitebg"); }, function () {$(this).removeClass("whitebg"); });
					</script>
				
			    </ul>
			</dd>
			</dl><br class="clear">
