document.writeln("<table cellspacing=\"1\" cellpadding=\"10\" class=\"floatmenu\" id=\"floatmenu\">");
document.writeln("<tr><td align=\"right\" bgcolor=\"#e1ecf7\"><a href=\"http://www.tecenet.com/index.php?homepage={$_username}&update=1\" >更新网店</a><\/td><td align=\"right\" bgcolor=\"#e1ecf7\"><a href=\"javascript:void(0)\" onclick=\"Dd('floatmenu').style.display='none'\">关闭X</a><\/td><\/tr>");
{loop $MYMODS $v}
{if $v == 9}
document.writeln("<tr>");
document.writeln("<td class=\"tl\">技术服务需求<\/td>");
document.writeln("<td class=\"tr\">");
{if $_userid}document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}\" class=\"b\" target=\"_blank\">管理<\/a>&nbsp;&nbsp;");{/if}
document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add\" class=\"b\" target=\"_blank\">发布<\/a>");
document.writeln("<\/td>");
document.writeln("<\/tr>");
{elseif $v==-9}
document.writeln("<tr>");
document.writeln("<td class=\"tl\">服务供应信息<\/td>");
document.writeln("<td class=\"tr\">");
{if $_userid}document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&resume=1\" class=\"b\" target=\"_blank\">管理<\/a>&nbsp;&nbsp;");{/if}
document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid=9&action=add&resume=1\" class=\"b\" target=\"_blank\">发布<\/a>");
document.writeln("<\/td>");
document.writeln("<\/tr>");
{else}
document.writeln("<tr>");
document.writeln("<td class=\"tl\">{$MODULE[$v][name]}中心<\/td>");
document.writeln("<td class=\"tr\">");
{if $_userid}document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}\" class=\"b\" target=\"_blank\">管理<\/a>&nbsp;&nbsp;");{/if}
document.writeln("<a href=\"{$MODULE[2][linkurl]}{$DT[file_my]}?mid={$v}&action=add\" class=\"b\" target=\"_blank\">发布<\/a>");
document.writeln("<\/td>");
document.writeln("<\/tr>");
{/if}
{/loop}
document.writeln("<tr><td align=\"right\" bgcolor=\"#e1ecf7\"><a href=\"{$MODULE[2][linkurl]}edit.php?tab=2\" >网店资料</a><\/td><td align=\"right\" bgcolor=\"#e1ecf7\"><a href=\"{$MODULE[2][linkurl]}style.php\">装修网店</a><\/td><\/tr>");
document.writeln("<\/table>");