			<dl class="dlhots autoheight graybg">
			<dt class="bcolor f16 b">VIP企业资讯</dt>
			<dd class="pd5" style="padding-bottom:0px;">
				 <ul class="tjxx">
				 <?php $nowtime=date("Y-m-d H:i:s");
				 		$conditiontime=strtotime("$nowtime-1 year");
				  ?>
					{php $tags = tag("table=article_21&condition=catid=841&pagesize=8&order=hits desc&template=null&debug=0&showcat=1")}
					 {loop $tags $k $v}
					<li id='tjxxli{$k+1}' style="height:22px;padding-left:10px;"><i class="fl" style="color:white;background:#0ba7c8;line-height:20px;height:23px;padding:0px;weight:23px;text-align:center;"><span style="font-size:15px;">{$k+1}.</span></i>
					<div class="fl w190" style="margin-left:3px;">
					<a href="{$MODULE[21][linkurl]}{$v[linkurl]}" target="_blank" class="lenstr w190"><span style="font-size:15px;">{$v[title]}</span></a>
					</div>
					</li>
					{/loop}	

					<script type="text/javascript">
					var k=$(".tjxx li").length;Dd('tjxxli'+k).style.borderBottom='0px';
					$(".tjxx>li").hover(function () {$(this).addClass("whitebg"); }, function () {$(this).removeClass("whitebg"); });
					</script>
				
			    </ul>
			</dd>
			<br class="clear" />
			</dl>
