{template 'header', $module}
<script type="text/javascript">s('carriage');m('home');</script>
<script>
	function check_value(val,low,high){
		if(val==''){
			return 3;
		}else if(isNaN(val)){
			return 1;
		}else if(val<low||val>high){
			return 2;
		}else{
			return 0;
		}
	}

	function check(){
		var data_length={php echo count($carriage_data);};
		var wrong=['不是数字','超过数值范围','不可为空'];
		for(var i=0;i<=data_length;i++){
			if(i==0){
				if(Dd('low_price0').value!=''||Dd('high_price0').value!=''||Dd('express_percent0').value!=''||Dd('logistics_percent0').value!=''){
					back=check_value(Dd('low_price0').value,0.01,100000000);
					if(back!=0){
						Dmsg(wrong[back-1],'low_price0');
						return false;
					}
					back=check_value(Dd('high_price0').value,0.01,100000000);
					if(back!=0){
						Dmsg(wrong[back-1],'high_price0');
						return false;
					}

					if(parseFloat(Dd('high_price0').value) <= parseFloat(Dd('low_price0').value)){
						Dmsg('最高价格要高于最低价格','high_price0');
						return false;
					}
					back=check_value(Dd('express_percent0').value,0.01,1);
					if(back!=0){
						Dmsg(wrong[back-1],'express_percent0');
						return false;
					}
					back=check_value(Dd('logistics_percent0').value,0.01,1);
					if(back!=0){
						Dmsg(wrong[back-1],'logistics_percent0');
						return false;
					}
				}

			}else{
				back=check_value(Dd('low_price'+i).value,0.01,100000000);
				if(back!=0){
					Dmsg(wrong[back-1],'low_price'+i);
					return false;
				}
				back=check_value(Dd('high_price'+i).value,0.01,100000000);
				if(back!=0){
					Dmsg(wrong[back-1],'high_price'+i);
					return false;
				}
				if(parseFloat(Dd('high_price'+i).value) <= parseFloat(Dd('low_price'+i).value)){
						Dmsg('最高价格要高于最低价格','high_price'+i);
						return false;
					}
				back=check_value(Dd('express_percent'+i).value,0.01,1);
				if(back!=0){
					Dmsg(wrong[back-1],'express_percent'+i);
					return false;
				}
				back=check_value(Dd('logistics_percent'+i).value,0.01,1);
				if(back!=0){
					Dmsg(wrong[back-1],'logistics_percent'+i);
					return false;
				}
			}
		}
		return true;
	}
</script>
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
	<td class="tab_on"><a href="carriage.php"><span>运费设置</span></a></td>
	<td class="tab_nav">&nbsp;</td>
</tr>
</table>
</div>
<form method="post" action="carriage.php" onsubmit="return check()">
<input type="hidden" value="1" name="submit" />
<div class="ls">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th width="60">删</th>
<th>最低价格<br/>
(取值：0.01~100000000)</th>
<th>最高价格<br/>
(取值：0.01~100000000)</th>
<th>快递比例
<br/>
(取值：0.01~0.99)</th>
<th>物流比例
<br/>
(取值：0.01~0.99)</th>
</tr>
{loop $carriage_data $k $v}
<tr>
	<td align="center"><input type="checkbox" name="post[<?php echo $k+1; ?>][delete]" value="1" />
	<input type="hidden" name="post[<?php echo $k+1; ?>][itemid]" value="{$v[itemid]}" /></td>
	<td align="center"><input type="text" id="low_price<?php echo $k+1; ?>" name="post[<?php echo $k+1; ?>][low_price]" value="{$v[low_price]}" />
	<br/><span id="dlow_price<?php echo $k+1; ?>" class="f_red"></span></td>
	<td align="center"><input type="text" id="high_price<?php echo $k+1; ?>" name="post[<?php echo $k+1; ?>][high_price]" value="{$v[high_price]}"/>
	<br/><span id="dhigh_price<?php echo $k+1; ?>" class="f_red"></span></td>
	<td align="center"><input type="text" id="express_percent<?php echo $k+1; ?>" name="post[<?php echo $k+1; ?>][express_percent]" value="{$v[express_percent]}" />
	<br/><span id="dexpress_percent<?php echo $k+1; ?>" class="f_red"></span></td>
	<td align="center"><input type="text" id="logistics_percent<?php echo $k+1; ?>" name="post[<?php echo $k+1; ?>][logistics_percent]" value="{$v[logistics_percent]}" />
	<br/><span id="dlogistics_percent<?php echo $k+1; ?>" class="f_red"></span></td>
</tr>
{/loop}
<tr>
	<td align="center">添加</td>
	<td align="center"><input type="text" id="low_price0" name="post[0][low_price]" value="" />
	<br/><span id="dlow_price0" class="f_red"></span></td>
	<td align="center"><input type="text" id="high_price0" name="post[0][high_price]" value="" />
	<br/><span id="dhigh_price0" class="f_red"></span></td>
	<td align="center"><input type="text" id="express_percent0" name="post[0][express_percent]" value="" />
	<br/><span id="dexpress_percent0" class="f_red"></span></td>
	<td align="center"><input type="text" id="logistics_percent0" name="post[0][logistics_percent]" value="" />
	<br/><span id="dlogistics_percent0" class="f_red"></span></td>
</tr>
<tr>
	<td></td>
	<td colspan="4"><input type="submit" value="提交" class="btn" /></td>
</tr>
</table>
</div>
</form>
{template 'footer', $module}