{template 'title', 'member'}
<style>
	.table_title {font-size:16px;font-weight:bold;}
	.tb{margin-bottom: 12px;}
	.tb tr{text-align: center;}
	.tb td{height:22px;border-bottom:1px dashed #ccc;}
</style>
<div style="clear:both;height:12px;"></div>
<span class="table_title">基础设置</span>
<table cellspacing="1" cellpadding="6" class="tb">
{if $edit_data['background'] && $edit_data['background'] != ''}
<tr>
<td class="tl">自定义背景图</td>
<td class="tr"><img src="{$edit_data['background']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['bgcolor'] && $edit_data['bgcolor'] != ''}
<tr>
<td class="tl">自定义背景色</td>
<td class="tr f_gray">
<script type="text/javascript" src="{DT_PATH}file/script/jscolor.js"></script>
<input name="edit_data[bgcolor]" type="text" size="10" id="bgcolor" onclick="javascript:void(0);" class="color {hash:true,required:false}" value="{$edit_data['bgcolor']}"  readonly="readonly"/></td>
</tr>
{/if}
{if $edit_data['logo'] && $edit_data['logo'] != ''}
<tr>
<td class="tl">自定义LOGO</td>
<td class="tr"><img src="{$edit_data['logo']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['bannert'] && $edit_data['bannert'] != ''}
<tr>
<td class="tl">横幅显示方式</td>
<td class="tr">
	{if $edit_data['bannert'] == 0} 图片 {elseif $edit_data['bannert'] == 1} Flash {else} 幻灯片 {/if}
</td>
</tr>
{/if}
{if $edit_data['banner'] && $edit_data['banner']}
<tr id="bt_0">
<td class="tl">横幅图片地址</td>
<td class="tr"><img src="{$edit_data['banner']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['bannerw'] && $edit_data['bannerw']}
<tr>
<td class="tl">横幅宽度</td>
<td class="tr">{$edit_data['bannerw']}</td>
<tr>
{/if}
{if $edit_data['bannerh'] && $edit_data['bannerh']}
<td class="tl">横幅高度</td>
<td class="tr">{$edit_data['bannerh']}</td>
</tr>
{/if}
{if $edit_data['bannerf'] && $edit_data['bannerf']}
<tr id="bt_1">
<td class="tl">横幅Flash地址</td>
<td class="tr"><a href="{$edit_data['bannerf']}" target="_blank" style="color:red;"/>打开查看</td>
</tr>
{/if}
{if $edit_data['banner1'] && $edit_data['banner1']}
<tr>
<td class="tl">横幅图片地址1</td>
<td class="tr"><img src="{$edit_data['banner1']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['banner2'] && $edit_data['banner2']}
<tr>
<td class="tl">横幅图片地址2</td>
<td class="tr"><img src="{$edit_data['banner2']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['banner3'] && $edit_data['banner3']}
<tr>
<td class="tl">横幅图片地址3</td>
<td class="tr"><img src="{$edit_data['banner3']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['banner4'] && $edit_data['banner4']}
<tr>
<td class="tl">横幅图片地址4</td>
<td class="tr"><img src="{$edit_data['banner4']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['banner5'] && $edit_data['banner5']}
<tr>
<td class="tl">横幅图片地址5</td>
<td class="tr"><img src="{$edit_data['banner5']}" width="180" height="90" /></td>
</tr>
{/if}
{if $edit_data['video'] && $edit_data['video'] != ''}
<tr class='dsn'>
<td class="tl">形象视频地址</td>
<td class="tr"><input name="edit_data[video]" type="text" size="60" id="video" value="{$edit_data['video']}" onblur="UpdateURL();" readonly="readonly"/>&&nbsp;&nbsp;<span onclick="vs();" class="jt">[预览]</span></span>
<div id="v_player"></div>
{load('player.js')}
{load('url2video.js')}
<script type="text/javascript">
function vs() {
	UpdateURL();
	if(Dd('video').value.length > 5) {
		Ds('v_player');
		Inner('v_player', player(Dd('video').value,480,400,'',1)+'<br/><a href="javascript:" onclick="vh();" class="t">[关闭预览]</a>');
	} else {
		vh();
	}
}
function vh() {Inner('v_player', '');Dh('v_player');}
function UpdateURL() {
	var str = url2video(Dd('video').value);
	if(str) Dd('video').value = str;
}
</script>
</td>
</tr>
{/if}
{if $edit_data['announce'] && $edit_data['announce'] != ''}
<tr>
<td class="tl">网站公告</td>
<td class="tr f_gray">{$edit_data['announce']}</td>
</tr>
{/if}
{if $edit_data['show_stats'] && $edit_data['show_stats'] != ''}
<tr>
<td class="tl">访问次数显示</td>
<td class="tr">{if $edit_data['show_stats']==1}显示{else}不显示{/if}</td>
</tr>
{/if}
</table>

{if $edit_data['main_show'] && $edit_data['main_show'] != ''}
{php $main_show = explode(',',$edit_data['main_show']);}
{php $main_name = explode(',',$edit_data['main_name']);}
{php $main_order = explode(',',$edit_data['main_order']);}
{php $main_num = explode(',',$edit_data['main_num']);}
<span class="table_title">首页模块设置</span>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
	<th>显示</th>
	<th>名称</th>
	<th>排序</th>
	<th>数量</th>
</tr>
	{loop $main_show $k $v}
	<tr>
		<td>{if $v == '1'}显示{else}不显示{/if}</td>
		<td>{$main_name[$k]}</td>
		<td>{$main_order[$k]}</td>
		<td>{$main_num[$k]}</td>
	</tr>
{/loop}
</table>
{/if}

{if $edit_data['menu_show'] && $edit_data['menu_show'] != ''}
{php $menu_show = explode(',',$edit_data['menu_show']);}
{php $menu_name = explode(',',$edit_data['menu_name']);}
{php $menu_order = explode(',',$edit_data['menu_order']);}
{php $menu_num = explode(',',$edit_data['menu_num']);}
<span class="table_title">网站导航菜单</span>
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
	<th>显示</th>
	<th>名称</th>
	<th>排序</th>
	<th>分页</th>
</tr>
	{loop $menu_show $k $v}
	<tr>
		<td>{if $v == '1'}显示{else}不显示{/if}</td>
		<td>{$menu_name[$k]}</td>
		<td>{$menu_order[$k]}</td>
		<td>{$menu_num[$k]}</td>
	</tr>
{/loop}
</table>
{/if}

{if $edit_data['side_show'] && $edit_data['side_show'] != ''}
{php $side_show = explode(',',$edit_data['side_show']);}
{php $side_name = explode(',',$edit_data['side_name']);}
{php $side_order = explode(',',$edit_data['side_order']);}
{php $side_num = explode(',',$edit_data['side_num']);}
<span class="table_title">侧栏模块设置</span>
<table cellspacing="1" cellpadding	="6" class="tb">
<tr>
	<th>显示</th>
	<th>名称</th>
	<th>排序</th>
	<th>分页</th>
</tr>
	{loop $side_show $k $v}
	<tr>
		<td>{if $v == '1'}显示{else}不显示{/if}</td>
		<td>{$side_name[$k]}</td>
		<td>{$side_order[$k]}</td>
		<td>{$side_num[$k]}</td>
	</tr>
{/loop}
</table>
{/if}
<table cellspacing="1" cellpadding	="6" class="tb">
{if $edit_data['side_width'] && $edit_data['side_width'] != ''}
<tr>
<td class="tl">侧栏宽度</td>
<td class="tr f_gray">{$edit_data['side_width']}</td>
</tr>
{/if}

{if $edit_data['side_pos'] != ''}
<tr>
<td class="tl">侧栏位置</td>
<td class="tr f_gray">{if $edit_data['side_pos'] == '0'}左侧{else}右侧{/if}</td>
</tr>
{/if}
</table>

<span class="table_title">高级设置</span>
<table cellspacing="1" cellpadding="6" class="tb">
{if $edit_data['intro_length'] && $edit_data['intro_length'] != ''}
<tr>
<td class="tl">公司简介字符数</td>
<td class="tr">{$edit_data['intro_length']}</td>
</tr>
{/if}
{if $edit_data['css'] && $edit_data['css'] != ''}
<tr>
<td class="tl">css样式</td>
<td class="tr">{$edit_data['css']}</td>
</tr>
{/if}
{if $edit_data['seo_title'] && $edit_data['seo_title'] != ''}
<tr>
<td class="tl">seo标题</td>
<td class="tr">{$edit_data['seo_title']}</td>
</tr>
{/if}
{if $edit_data['seo_keywords'] && $edit_data['seo_keywords'] != ''}
<tr>
<td class="tl">seo关键词</td>
<td class="tr">{$edit_data['seo_keywords']}</td>
</tr>
{/if}
{if $edit_data['seo_description'] && $edit_data['seo_description'] != ''}
<tr>
<td class="tl">seo描述</td>
<td class="tr">{$edit_data['seo_description']}</td>
</tr>
{/if}
{if $edit_data['kf'] && $edit_data['kf'] != ''}
<tr>
<td class="tl">客服</td>
<td class="tr">{$edit_data['kf']}</td>
</tr>
{/if}
{if $edit_data['map'] && $edit_data['map'] != ''}
<tr>
	<td class="tl">公司地图标注</td>
	<td class="tr">{$edit_data['map']}</td>
</tr>
{/if}
</table>

{template 'footer', 'member'}
