{php $head_css = [DT_SKIN.'tc.grade.min.css','https://cdn.bootcss.com/jquery-datetimepicker/2.5.16/jquery.datetimepicker.min.css'];}
<?php $footer_js = [DT_PATH.'lang/zh-cn/lang.js',DT_PATH.'file/script/config.js',DT_PATH.'file/script/common.js',
    DT_PATH.'file/script/admin.js',DT_PATH.'file/script/member/modal.min.js',DT_PATH.'file/script/jquery.validator.min.js',
    DT_PATH.'file/script/zh-CN.js','https://cdn.bootcss.com/jquery-datetimepicker/2.5.16/jquery.datetimepicker.full.min.js',
    DT_PATH.'file/script/member/grade.js',
]; ?>
{php $menu = 'menu2017';}
{php $module = '';}
{template 'module-header'}

<!--grade-wrap-->
<div class="grade-wrap">
    <div class="grade-container w1200 box-center clearfix">
        <div class="con-wrap contrast pull-left">
            <p class="tr tr-1">服务范围\会员组</p>
            <p class="tr tr-2">收费模式</p>
            <p class="tr tr-3">年费</p>
            <p class="grade-btn-area"></p>
            <p class="tr tr-4">允许发布信息</p>
            <p class="tr tr-6">专门定制宣传单页</p>
            <p class="tr tr-7">拥有VIP标识 </p>
            <p class="tr tr-8">站内排名推荐</p>
            <p class="tr tr-9">产品首页推荐</p>
            <p class="tr tr-10">关键字置顶</p>
            <p class="tr tr-11">自定义公司主页</p>
            <p class="tr tr-12">自定义公司模板</p>
            <p class="tr tr-13">收件箱容量</p>
            <p class="tr tr-14">每日可发站内信</p>
            <p class="tr tr-15">每日询盘次数</p>
            <p class="tr tr-16">每日报价次数</p>
            <p class="tr tr-17">商友数量数量</p>
            <p class="tr tr-18">贸易提醒数量</p>
            <p class="tr tr-19">商机收藏数量</p>
            <p class="tr tr-20">发布商品数量</p>
            <p class="tr tr-21">供应信息数量</p>
            <p class="tr tr-22">公司相册数量</p>
            <p class="grade-btn-area"></p>
        </div>
        <div class="con-wrap common pull-left">
            <p class="tr tr-1">个人会员</p>
            <p class="tr tr-2">免费</p>
            <p class="tr tr-3"><i>¥</i><em>0</em>元/年</p>
            {if $_userid}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是天成会员</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="http://www.tecenet.com/member/register.php" class="grade-btn">立即注册</a>
                <span class="grade-btn-msg">免费注册</span>
            </p>
            {/if}
            <p class="tr tr-4">
                <a href="http://repair.tecenet.com/" target="_blank">维修需求</a>|
                <a href="http://www.tecenet.com/zixun/" target="_blank">信息资讯</a>|
                <a href="http://www.tecenet.com/gongying/" target="_blank">求购信息</a>
                <br>
                <a href="http://www.tecenet.com/wenda/" target="_blank">行业问答</a>|
                <a href="http://www.tecenet.com/zhaobiao/" target="_blank">招标采购</a>|
                <a href="http://www.tecenet.com/gongxiang/" target="_blank">资料共享</a>
            </p>

            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr">50</p>
            <p class="tr">10</p>
            <p class="tr">10</p>
            <p class="tr">0</p>
            <p class="tr">10</p>
            <p class="tr">1</p>
            <p class="tr">20</p>
            <p class="tr">0</p>
            <p class="tr">100</p>
            <p class="tr">3</p>
            {if $_userid}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是天成会员</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="http://www.tecenet.com/member/register.php" class="grade-btn">立即注册</a>
                <span class="grade-btn-msg">免费注册</span>
            </p>
            {/if}
        </div>
        <div class="con-wrap enterprise pull-left">
            <p class="tr tr-1">企业会员</p>
            <p class="tr tr-2">免费</p>
            <p class="tr tr-3"><i>¥</i><em>0</em>元/年</p>
            {if $isCompanyGroup}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是企业会员</span>
            </p>
            {elseif $_userid}
            <p class="grade-btn-area">
                <a href="javascript:;" class="grade-btn">立即升级</a>
                <span class="grade-btn-msg">限时免费开放</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="http://www.tecenet.com/member/register.php" class="grade-btn">立即注册</a>
                <span class="grade-btn-msg">免费注册</span>
            </p>
            {/if}
            <p class="tr tr-4">
                <a href="http://www.tecenet.com/chanpin/" target="_blank">产品中心</a>|
                <a href="http://repair.tecenet.com/" target="_blank">维修需求</a>|
                <a href="http://www.tecenet.com/gongying/" target="_blank">求购信息</a>|
                <a href="http://www.tecenet.com/gongying/" target="_blank">供应信息</a>
                <br>
                <a href="http://www.tecenet.com/zixun/" target="_blank">信息资讯</a>|
                <a href="http://www.tecenet.com/wenda/" target="_blank">行业问答</a>|
                <a href="http://www.tecenet.com/zhaobiao/" target="_blank">招标采购</a>|
                <a href="http://www.tecenet.com/gongxiang/" target="_blank">资料共享</a>
            </p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-chacha"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr">200</p>
            <p class="tr">500</p>
            <p class="tr">10</p>
            <p class="tr">3</p>
            <p class="tr">50</p>
            <p class="tr">1</p>
            <p class="tr">50</p>
            <p class="tr">50</p>
            <p class="tr">不限</p>
            <p class="tr">5</p>
            {if $isCompanyGroup}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是企业会员</span>
            </p>
            {elseif $_userid}
            <p class="grade-btn-area">
                <a href="javascript:;" class="grade-btn">立即升级</a>
                <span class="grade-btn-msg">限时免费开放</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="http://www.tecenet.com/member/register.php" class="grade-btn">立即注册</a>
                <span class="grade-btn-msg">免费注册</span>
            </p>
            {/if}
        </div>
        <div class="con-wrap vip pull-left">
            <p class="tr tr-1">VIP会员</p>
            <p class="tr tr-2">包年</p>
            <p class="tr tr-3"><i>¥</i><em>6800</em>元/年</p>
            {if $isVipGroup}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是VIP会员</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="javascript:;" class="grade-btn">立即购买</a>
                <span class="grade-btn-msg">限时特惠供应</span>
            </p>
            {/if}
            <p class="tr tr-4">
                <a href="http://www.tecenet.com/chanpin/" target="_blank">产品中心</a>|
                <a href="http://repair.tecenet.com/" target="_blank">维修需求</a>|
                <a href="http://www.tecenet.com/gongying/" target="_blank">求购信息</a>|
                <a href="http://www.tecenet.com/gongying/" target="_blank">供应信息</a>
                <br>
                <a href="http://www.tecenet.com/zixun/" target="_blank">信息资讯</a>|
                <a href="http://www.tecenet.com/wenda/" target="_blank">行业问答</a>|
                <a href="http://www.tecenet.com/zhaobiao/" target="_blank">招标采购</a>|
                <a href="http://www.tecenet.com/gongxiang/" target="_blank">资料共享</a>
            </p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr"><i class="iconfont icon-duigou"></i></p>
            <p class="tr">500</p>
            <p class="tr">100</p>
            <p class="tr">100</p>
            <p class="tr">100</p>
            <p class="tr">200</p>
            <p class="tr">8</p>
            <p class="tr">100</p>
            <p class="tr">不限</p>
            <p class="tr">不限</p>
            <p class="tr">不限</p>
            {if $isVipGroup}
            <p class="grade-btn-area">
                <span class="grade-btn-msg">您已是VIP会员</span>
            </p>
            {else}
            <p class="grade-btn-area">
                <a href="javascript:;" class="grade-btn">立即购买</a>
                <span class="grade-btn-msg">限时特惠供应</span>
            </p>
            {/if}
        </div>
    </div>
</div>
<!--grade-wrap end-->


<!-- 企业会员弹框 -->
<div class="modal fade" id="enterpriseModal" tabindex="-1" role="dialog" aria-labelledby="enterpriseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{DT_PATH}member/grade.php" class="grade-form" id="gradeForm" method="post">
                <input type="hidden" name="submit" value="1" />
                <div class="modal-header clearfix">
                    <h4 class="modal-title pull-left" id="enterpriseModalLabel">申请成为企业会员</h4>
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="grade-dialog-msg">您的当前会员为 <em>个人会员</em>，申请升级为<em>企业会员</em></div>
                <div class="modal-body">
                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>网店名称：</label>
                        <input id="company" class="grade-form-control" name="company" type="text" data-rule="required;"
                               data-tip="请与营业执照名称保持一致"/>
                    </div>

                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>网店域名：</label>
                        <div class="grade-form-domain-text">{$_username}.tecenet.com</div>
                        <p class="msg-box">根据您的会员名自动生成，一旦注册后无法修改！</p>
                    </div>

                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>企业营业执照：</label>
                        <input id="document_1" class="grade-form-control grade-form-upload" type="text"
                               name="licenseInfo[business_license]" placeholder="请上传营业执照图片" readonly="" data-rule="required;"
                        >
                        <span class="grade-form-upload-btn">
                            <a href="javascript:void(0);"
                               onclick="Dthumb(16,0,0, Dd('document_1').value, true,'document_1');">[上传]</a>
                            <a href="javascript:void(0);" onclick=" _preview(Dd('document_1').value);">[预览]</a>
                            <a href="javascript:void(0);" onclick="Dd('document_1').value='';">[删除]</a>
                        </span>
                    </div>

                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>社会统一信用代码：</label>
                        <input class="grade-form-control" name="licenseInfo[business_license_code]" type="text" data-rule="required;">
                    </div>

                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>营业执照有效期：</label>
                        <div class="pull-left grade-form-date">
                            <input class="grade-form-control grade-form-control-date" id="certDateStart_1" type="text"
                                   data-rule="required;" name="licenseInfo[business_license_starttime]"/>
                            <span class="msg-box n-right" for="certDateStart_1"></span>
                        </div>
                        <span class="grade-form-text">至</span>
                        <div class="pull-left grade-form-date">
                            <input class="grade-form-control grade-form-control-date" id="certDateEnd_1" type="text"
                                   data-rule="required;" name="licenseInfo[business_license_totime]"/>
                            <span class="msg-box n-right" for="certDateEnd_1"></span>
                        </div>
                    </div>

                    <div class="grade-form-item">
                        <label class="grade-form-label"><i>*</i>电话号码：</label>
                        <input class="grade-form-control" name="memberInfo[telephone]" type="text" value="" data-rule="required;"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn submit-btn" type="submit">提交</button>
                    <button class="btn close-btn" type="button" data-dismiss="modal">取消</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 企业会员弹框 end-->

<!-- vip会员弹框 -->
<div class="modal fade" id="vipModal" tabindex="-1" role="dialog" aria-labelledby="enterpriseModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header clearfix">
                <h4 class="modal-title pull-left" id="vipModalLabel">申请成为VIP会员</h4>
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="grade-dialog-msg">申请升级为<em>VIP会员</em>，请联系天成医疗网官方客服了解详细流程</div>
            <div class="modal-body">
                <div class="grade-vip-btn-area">
                    <a href="http://wpa.qq.com/msgrd?v=3&uin=657911476&site=qq&menu=yes" target="_blank"
                       class="grade-vip-btn">
                        <i class="iconfont icon-qq"></i>QQ在线客服</span>
                    </a>

                    <a href="javascript:;" class="grade-vip-btn" target="_blank"
                       onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&userId=6452136&s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);">
                        <i class="iconfont icon-zixun1"></i>人工在线客服</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--vip会员弹框 end-->


{template 'footer2017'}
