{template 'header', $module}
<div class="menu">
<table cellpadding="0" cellspacing="0">
<tr>
<td class="tab" id="add"><a href="ideas.php?action=add"><span>申请创意</span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s3"><a href="ideas.php"><span>已通过<span class="px10">({$nums[3]})</span></span></a></td>
<td class="tab_nav">&nbsp;</td>
<td class="tab" id="s2"><a href="ideas.php?status=2"><span>审核中<span class="px10">({$nums[2]})</span></span></a></td>
</tr>
</table>
</div>
{if $action == 'add' || $action == 'edit'}
<form method="post" action="ideas.php" onsubmit="return check();">
<input type="hidden" name="action" value="{$action}" />
<input type="hidden" name="submit" value="1" />
<input type="hidden" name="itemid" value="{$ideaid}" />
<table cellspacing="1" cellpadding="6" class="tb">
<tr>
<td class="tl"><span class="f_red">*</span>创意标题：</td>
<td class="tr"><input type="text" id="name" name="post[name]" value="{$name}" style="width:323px;" /><span id="dname" class="f_red"></span>
<span style="margin-left:15px;font-size:12px;color:red;">(创意标题和描述可使用通配符)</span>
<input type="button" value="通配符说明" onclick="msgbox(1,'通配符说明','ideas.php?action=wildcard')" class="btn" style="margin-left:15px;" /> 
</td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>创意描述：</td>
<td class="tr"><textarea name="post[description]" id="description" style="width:320px;height:90px;">{$description}</textarea><span id="ddescription" class="f_red"></span></td>
</tr>
<tr>
<td class="tl"><span class="f_red">*</span>关联网页地址：</td>
<td class="tr f_red f_b"><input type="text" id="url" name="post[url]" style="width:323px;" value="{$url}" /><span id="durl" class="f_red"></span>
<span style="font-size:12px;color:red;margin-left:15px;">(以http://为开始的网页格式地址)</span>
</td>
</tr>
<tr>
<td class="tl">相关图片：</td>
<td class="tr f_b"><input name="post[thumb]" type="text" size="60" id="thumb" value="{$thumb}" readonly/>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dthumb({$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);" class="t">[上传]</a>&nbsp;&nbsp;<a href="javascript:_preview(Dd('thumb').value);" class="t">[预览]</a>&nbsp;&nbsp;<a href="javascript:void(0);" onclick="Dd('thumb').value='';" class="t">[删除]</a></span></td>
</tr>
<tr>
<td class="tl"></td>
<td class="tr"><input type="submit" name="submit" value="确定" class="btn"/>&nbsp;
<input type="reset" value="重置" class="btn" />
</td>
</tr>
</table>
</form>
<script>s('ideas');m('add');</script>
<script>
function check(){
	if(Dd('name').value == ''){
		Dmsg('请填写创意名称','name');
		return false;
	}

	if(Dd('description').value == ''){
		Dmsg('请填写创意描述','description');
		return false;
	}

	if(Dd('url').value == ''){
		Dmsg('请填写关联网页地址','url');
		return false;
	}

	var regUrl = /http(s)?:\/\/([\w-]+\.)+[\w-]+(\/[\w- .\/?%&=]*)?/;   
        var result = Dd('url').value.match(regUrl); 
        if(result==null) {
		Dmsg('网页地址格式错误','url');
		return false;
	}  

	if(Dd('price').value == ''){
		Dmsg('请填写创意出价','price');
		return false;
	}
	
	if(isNaN(Dd('price').value)){
		Dmsg('创意出价必须填写数字','price');
		return false;	
	}
	 
	return true;
}
</script>
{else}
<div class="ls">
<table cellpadding="0" cellspacing="0" class="tb">
<tr>
<th>创意名称</th>
<th>创意描述</th>
<th>关联网页地址</th>
<th>相关图片</th>
<th>申请时间</th>
<th>管理</th>
</tr>
{loop $lists $k $v}
<tr>
<td align="center">{$v['name']}</td>
<td align="center">{$v['description']}</td>
<td align="center"><a href="{$v['url']}" target="_target">查看</a></td>
<td align="center">{if $v['thumb']}<a onclick="javascript:_preview('{$v[thumb]}')" class="t" style="cursor: pointer;">[查看图片]</a>{/if}</td>
<td align="center">{date('Y-m-d',$v['addtime'])}</td/>
<td align="center"><a href="ideas.php?action=edit&itemid={$v['ideaid']}"><img width="16" height="16" src="{DT_PATH}member/image/edit.png" title="修改" alt=""></a>
<a href="ideas.php?action=delete&itemid={$v['ideaid']}" onclick="if(!confirm('确定要删除吗？此操作将不可撤销')) return false;"><img width="16" height="16" src="{DT_PATH}member/image/delete.png" title="删除" alt=""></a></td>
</tr>
{/loop}
</table>
</div>
<div class="pages">{$pages}</div>
<script type="text/javascript">s('ideas');m('s{$status}');</script>
{/if}
{template 'footer', $module}
