<iframe src="" name="send" id="send" style="display:none;"></iframe>
{if $p[status]>=3}
{php $show='yes';}
{/if}
<form method="post" action="{$DT[file_my]}" id="dform" target="send" >
{if $action=='puredit'}
<input type="hidden" name="action" value="puredit"/>
	{if $show&&$p[status]==3}
	<input type="hidden" name="post[status]" value="4"/>
	{else}
	<input type="hidden" name="post[status]" value="{$p[status]}"/>
	{/if}
{else}
<input type="hidden" name="action" value="puradd"/>
<input type="hidden" name="post[status]" value="1"/>
{/if}
<input type="hidden" name="mid" value="{$mid}"/>
<input type="hidden" name="itemid" value="{$_GET[itemid]}"/>
<input type="hidden" name="post[buyitemid]" value="{$itemid}"/>
{php $tagk = tag("table=buy_supplyinfo_6&condition=itemid=$selitemid&pagesize=1&order=itemid ASC&template=null")}
{loop $tagk $s $k}
<input type="hidden" name="post[touser]" value="{$k['fromuser']}"/>
{/loop}
<input type="hidden" name="forward" value="{$MODULE[2][linkurl]}my.php?mid={$mid}&action=purlist"/>
<table cellpadding="6" cellspacing="1" class="tb" id="purlist">
<tr>
<td class="tl"><span class="f_red">*</span> 信息标题</td>
{if $action=='puredit'}
<td class="tr f_gray">{$item[buycode]} <input type="hidden" name="post[title]" id="title" value="{$p[title]}" size="120" />{$p[title]} - 采购详细列表（2-30个字）<span id="dtitle" class="f_red"></span></td>
{else}
<td class="tr f_gray"> <input name="post[title]" type="hidden" id="title" value="{$title}" size="120" />{$title} - 采购详细列表（2-30个字)</td>
{/if}
</tr>

<tbody>
<tr>
<td class="tl" valign="top">采购内容</td>
<td class="tr"  valign="top">
<style type="text/css">
	.supplytable{background:#b3c8e6}
	.supplytable th{border:0px;}
	.supplytable td{background:#fcfcfc}
	.need{background:#cfecac;margin:5px;}
	.need td{background:#fff}
	.need th{background:#dceeca;border:0px;}
</style>
{if $show}
<div style="padding:5px;background:#fff;width:700px;">{$p[content]}</div>
<div style="padding:5px;font-size:14px;">产品总数：<b style="color:red;">{$p[amount]}</b>&nbsp;&nbsp;订单总价：<b style="color:red;">{$p[price]}</b></div>
{else}
					{php $tagk = tag("table=buy_option_6&condition=parentid=0 and buyitemid=$itemid&pagesize=100&order=listorder ASC&template=null")}
					<Div  id="purlists" class="dsn" >
					{if $action!='puredit'}
													<table cellpadding="2" cellspacing="1" class="supplytable">
													<tr>
														<th width="100" height="30" align="center" class="f16">项目编号</th>
														<th width="580" class="f16">项目信息</th>
													</tr>

													{if !$tagk}
													<tr>
														<td width="100" height="30" align="center"  colspan=3>暂无任何采购内容</td>
													</tr>
													{else}
													{loop $tagk $s $k}
													<tr>
														<td width="100" height="30" align="center" bgcolor="#f7f7f7" ><span class="f16">{$k[listorder]}</span></td>
														<td >			
														<div class="pd5">
																<table  cellpadding="2" cellspacing="1" class="need" width="580">
																<tr>
																	<th colspan=4 style="font-size:14px;height:24px;text-align:center">{$k[title]}</th>
																</tr>
																<tr>
																	<td colspan=4 align="center" style="background:#eef3de;height:24px;">数量：<span id="pur{$s}numtext">&nbsp;</span>&nbsp;&nbsp;&nbsp;&nbsp;价格：<span id="pur{$s}pricetext">&nbsp;{$k[price]}</span></td>
																</tr>
																<tr>
																	<td colspan=4 align="center" style="background:#eef3de;height:24px;">技术参数</td>
																</tr>
																<tr bgcolor="#f0f0f0">
																	<td width="50" align="center" style="height:24px;">编号</td>
																	<td>技术要求</td>
																	<td width="90" align="center">响应要求</td>
																</tr>
																{php $tags = tag("table=buy_option_6&condition=parentid=".$k[itemid]." and buyitemid=$itemid&pagesize=30&order=listorder ASC&template=null")}
																{loop $tags $j $t}
																<tr bgcolor="#fcfcfc">
																	<td width="50" align="center" style="height:24px;">{$t[listorder]}</td>
																	<td>{$t[title]}</td>
																	<td width="120" align="center">{$t[options]}</td>
																</tr>
																{/loop}
																</table>
															</div>
															</td>
													</tr>
													{/loop}
													{/if}
													</table>
					{else}
					{$p['content']}
					{/if}
				</div>

												<style type="text/css">
													dl dd{margin-left:15px;}
													.supplytable{background:#d2dbe6}
													.pro,.supplytable th{background:#e3e9ee}
													#product{width:600px;}
													#product td{background:#f6f6f6}
													.pd5{padding:5px;}
													.pnum .inputs{width:30px;text-align:center;padding:5px;border:1px #ccc solid;}
													.need{background:#d8eacc}
													.need th{background:#dceeca;border:0px;}
													 td .pd5{background:#fff}
													 .pd6{padding:0px 6px 0px 7px;}
													 .tb td{height:24px;}
												</style>
												<textarea name="post[content]" id="content" class="dsn">{$content}</textarea>

												<table cellpadding="2" cellspacing="1" class="supplytable" id="supplytable">
												<tr>
													<th width="100" height="30" align="center" class="f16">项目编号</th>
													<th width="570" class="f16">项目信息</th>
												</tr>
												{if !$tagk}
												<tr>
													<td width="100" height="30" align="center"  colspan=3>暂无任何采购内容</td>
												</tr>
												{else}
												{loop $tagk $s $k}
												<tr>
													<td width="100" height="30" align="center" bgcolor="#f7f7f7" ><span class="f16">{$k[listorder]}</span></td>
													<td width="570" class="pd5">			
															<table  cellpadding="2" cellspacing="1" class="need" width="100%">
															<tr>
																<th colspan=4>{$k[title]}</th>
															</tr>
															<tr  bgcolor="#e4f5dc">
																<td colspan=4 align="center"><span class="f_red">*</span>数量：<input type="text" value="0" onblur="if(this.value!=''){Dd('pur{$s}numtext').innerText=this.value;cprices();}" id="pur{$s}num" size="5"  onkeyup="value=this.value.replace(/\D+/g,'')"/>&nbsp;&nbsp;&nbsp;&nbsp;<span class="f_red">*</span>价格：<input type="text" value="0" onblur="if(this.value!=''){Dd('pur{$s}pricetext').innerText=this.value;cprices();}" id="pur{$s}price"  onkeyup="if(isNaN(value))execCommand('undo')" />
																{if $action=='puredit'}
																<script type="text/javascript">
																Dd('pur{$s}num').value=Dd('pur{$s}numtext').innerText;
																Dd('pur{$s}price').value=Dd('pur{$s}pricetext').innerText;
																</script>
																
																{/if}
																</td>
															</tr>
															<tr>
																<td colspan=4 align="center" style="background:#eef3de">技术参数</td>
															</tr>
															<tr bgcolor="#f0f0f0">
																<td width="50" align="center">编号</td>
																<td>技术要求</td>
																<td width="90" align="center">响应要求</td>
															</tr>
															{php $tags = tag("table=buy_option_6&condition=parentid=".$k[itemid]." and buyitemid=$itemid&pagesize=30&order=listorder ASC&template=null")}
															{loop $tags $j $t}
															<tr bgcolor="#fcfcfc">
																<td width="50" align="center">{$t[listorder]}</td>
																<td>{$t[title]}</td>
																<td width="120" align="center">{$t[options]}</td>
															</tr>
															{/loop}
															</table>

														</td>
												</tr>
												{/loop}
												{/if}
												</table>
												<div id="purcount">
												<div style="border:2px solid #ff9900;background:#fdfeed;font-size:14px;color:#ff0000;height:30px;padding:5px;width:685px;margin-top:10px;text-align:right">
												采购数量总量：<span id="purnumcount" class="f_18 f_b">0</span>&nbsp;&nbsp;&nbsp;&nbsp;采购订单总价：<span id="purpricecount" class="f_18 f_b">0</span>
												</div>
												</div>
												<input name="post[amount]" type="hidden" id="purnumcounts" value="{$p['amount']}">
												<input name="post[price]" type="hidden" id="purpricecounts" value="{$p['price']}">
												<label class="f_red"><input type="checkbox" id="agree"  onclick="agrees()"  >确定采购内容无误（确定后，此次采购内容将不能修改！请仔细核查。）</label>

												{if $p['amount']}
												<script type="text/javascript">
												Dd('purnumcount').innerHTML="{$p['amount']}";
												Dd('purpricecount').innerHTML="{$p['price']}";
												</script>
													{/if}
													<script type="text/javascript">
													function cprices(){
													var counts=0;var prices=0;
													for (i=0;i<={$s} ;i++ )
														{counts=counts+parseInt(Dd('pur'+i+'num').value);
														prices=prices+(parseInt(Dd('pur'+i+'num').value)*parseFloat(Dd('pur'+i+'price').value));
														}
													Dd('purnumcount').innerText=counts;Dd('purnumcounts').value=counts;
													Dd('purpricecount').innerText=prices;Dd('purpricecounts').value=prices;
													}

													function agrees(){
													var sup;sup=0;
													$("#supplytable").find("input[type='text']").each(function(){
														if ($(this).val() == ""||$(this).val() ==0) {alert("带星号的输入不能为空或者为零！");sup=1;Dd('agree').checked=false;return false;}
														cprices();
													})

													if(sup==0){
													Dd('content').value=Dd('purlists').innerHTML;
													}

													if(Dd('content').value!=''&&sup==0){
																	if(Dd('agree').checked==true){
																			if(confirm('审查最后填写的结果并确定内容')){
																				msghtml('supplylist','{$title}采购信息',Dd('content').value+Dd('purcount').innerHTML,450);
																				Dd('submit').value=' 确定提交 ';
																				Dd('submit').disabled=false;	
																			}
																			else{
																				Dd('submit').value=' 请确定采购信息内容无误 ';
																				Dd('submit').disabled=true;
																				Dd('agree').checked=false;
																			}
																	}
																		else{
																					Dd('submit').value=' 请确定采购信息内容无误 ';
																					Dd('submit').disabled=true;
																					Dd('agree').checked=false;
																		}
																	}
													}
													</script>
{/if}
</td>
</tr>
<tr>
<td class="tl">备注内容</td>
<td class="tr f_gray">
{if $show}{$p['note']}{else}<textarea name="post[note]" rows="3" cols="110">{$p['note']}</textarea>{/if}
</td>
</tr>

<tr>
<td class="tl">过期时间</td>
<td class="tr f_gray">
{if $show}
	{$p[totime]}
{else}
			{dcalendar('post[totime]', $totime)}&nbsp;
			<select onchange="Dd('posttotime').value=this.value;">
			<option value="">快捷选择</option>
			<option value="">长期有效</option>
			<option value="{timetodate($DT_TIME+86400*3, 3)}">3天</option>
			<option value="{timetodate($DT_TIME+86400*7, 3)}">一周</option>
			<option value="{timetodate($DT_TIME+86400*15, 3)}">半月</option>
			<option value="{timetodate($DT_TIME+86400*30, 3)}">一月</option>
			<option value="{timetodate($DT_TIME+86400*182, 3)}">半年</option>
			<option value="{timetodate($DT_TIME+86400*365, 3)}">一年</option>
			</select>&nbsp;
			不选表示长期有效
			<span id="dposttotime" class="f_red"></span>
{/if}
</td>
</tr>
{if !$show&&$p[buyer_address]==''}
			{php $address = tag("table=address&condition=username='$_username' &pagesize=30&order=listorder ASC&template=null")}
				{if $address}<tr>
			<td class="tl">以往地址</td>
			<td class="tr f_gray">


					{loop $address $k $v}
					<div>
					<input type="radio" name="addr" id="addr_{$v[itemid]}" value="{$v[address]}|{$v[postcode]}|{$v[truename]}|{$v[mobile]}|{$v[telephone]}" onclick="Adr('addr_{$v[itemid]}');"><label for="addr_{$v[itemid]}"> {$v[postcode]} {$v[address]} ({$v[truename]}) {$v[mobile]}</label></div>
					{/loop}

					<div>
					<input type="radio" name="addr" id="addr_0" value="||||" onclick="Adr('addr_0');"><label for="addr_0" class="f_b f_18 f_blue">使用全新地址收货</label></div>
						
			</td>
			</tr>
				{/if}
	{/if}
<tbody id="addinfo" {if !$show&&$p[buyer_address]==''}style="display:none"{/if}>
<script type="text/javascript">
			function Adr(id) {
			 var s=Dd(id).value;
				var t = s.split('|');
				try {
					Dd('buyer_areaid');
					Dd('buyer_address').value = t[0];
					Dd('buyer_postcode').value = t[1];
					Dd('buyer_name').value = t[2];
					Dd('buyer_mobile').value = t[3];
					Dd('buyer_phone').value = t[4];		
					Dd('addinfo').style.display='';
				}
				catch (e) {}
			}
			</script>
<tr>
<td class="tl">收货地址</td>
<td class="tr f_gray">{if $show}{$p[buyer_address]}{else}<input type="text" size="60" name="post[buyer_address]" id="buyer_address" value="{$p[buyer_address]}"/> <span id="daddress" class="ocolor"></span>{/if}</td>
</tr>
<tr>
<td class="tl">收货人</td>
<td class="tr f_gray">{if $show}{$p['buyer_name']}{else}<input name="post[buyer_name]" type="text" id="buyer_name" value="{$p['buyer_name']}">{/if}</td>
</tr>
<tr>
<td class="tl">邮政编码</td>
<td class="tr f_gray">{if $show}{$p['buyer_postcode']}{else}<input name="post[buyer_postcode]" type="text" id="buyer_postcode" value="{$p['buyer_postcode']}">{/if}</td>
</tr>
<tr>
<td class="tl">订单电话</td>
<td class="tr f_gray">{if $show}{$p['buyer_postcode']}{else}<input name="post[buyer_phone]" type="text" id="buyer_phone" value="{$p['buyer_phone']}">{/if}</td>
</tr>
<tr>
<td class="tl">订单手机</td>
<td class="tr f_gray">{if $show}{$p['buyer_mobile']}{else}<input name="post[buyer_mobile]" type="text" id="buyer_mobile" value="{$p['buyer_mobile']}">{/if}</td>
</tr>
</tbody>
<tr>
<td class="tl">物流选择</td>
<td class="tr f_gray">
		{if $show}
			{$p['send_type']}
		{else}
					<input type="text" size="10" name="post[buyer_receive]" id="receive" value="不需要物流"/>
					<select onchange="Dd('receive').value=this.value;">
					<option value="">快捷选择物流</option>
					<?$_MOD = cache_read('module-2.php');?>
					<?$send_types = explode('|', trim($_MOD['send_types']));?>
					{loop $send_types $v}
					<option value="{$v}">{$v}</option>
					{/loop}
					</select> <span id="dreceive" class="ocolor"></span>
		{/if}
		</td>
</tr>
{if $p[send_no]}
<tr>
<td class="tl">物流编号</td>
<td class="tr f_gray">{$p[send_no]}{if $p[send_no]} &nbsp;<a href="{DT_PATH}api/express.php?e={urlencode($p[send_type])}&n={$p[send_no]}" target="_blank" class="t">[物流追踪]</a>{/if}</td>
</tr>
{/if}
{if $p[send_time]}
<tr>
<td class="tl">发货时间</td>
<td class="tr f_gray">{php $send_time=timetodate($p[send_time],3);}
{$send_time}</td>
</tr>
{/if}
{if $p[note]}
<tr>
<td class="tl">发货备注</td>
<td class="tr f_gray">{$p[note]}</td>
</tr>
{/if}
<tr>
<td class="tl">&nbsp;</td>
<td class="tr" height="50">
<style type="text/css">
	.submit{font-size:16px;padding:5px;border:1px solid #ccc;;}
</style>
{if $_REQUEST['addid']}
<script type="text/javascript">Adr('addr_{$_REQUEST['addid']}');Dd('addr_{$_REQUEST['addid']}').checked=true;</script>{/if}
{if $p[status]<4}
		{if $show}
					<input type="submit" name="submit" value="  确认收货  "  id="submit"  class="submit" />
			{else}	
					{if $p[status]<3}<input type="submit" name="submit" value="  请确定采购内容无误  " disabled=disabled  id="submit"  class="submit" />
					{else}<input type="button" value=" 中标方已发货，无法再修改订单内容 " disabled="disabled"  class="submit"  />
					{/if}
		{/if}
		&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" value=" 返 回 "  onclick="history.back(-1);"  class="submit" />
{/if}
</td>
</tr>
</table>
</form>
{load('clear.js')}
<script type="text/javascript">s('mid_{$mid}');m('s5');</script>

{template 'footer', 'member'}