<div class="other-wrap">
            <div class="other-bd">
                已有天成医疗网账号？请 <a class="link" href="{$MODULE[2][linkurl]}login.php" target="_self">立即登录</a>
            </div>

            <div class="other-hd">
                <span>社交帐号登录</span>
            </div>
            <div class="other-bd">
                <a href="{DT_PATH}api/oauth/qq/connect.php" class="icon qq">QQ账号登录</a>
                <a href="{DT_PATH}api/oauth/wechat/connect.php" class="icon wechat">微信账号登录</a>
            </div>

            <div class="other-hd">
                <span>有问题联系客服</span>
            </div>
            <div class="other-bd">
                <p class="tel">客服热线：400-617-3599</p>
                <a class="icon service" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');">人工在线客服</a>
                </ul>
            </div>

        </div>