<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>注册会员_天成医疗网</title>

    <link rel="stylesheet" href="{DT_SKIN}weui.css"/>
    <link rel="stylesheet" href="{DT_SKIN}iconfont.css"/>
    <link rel="stylesheet" href="{DT_SKIN}tc.wap.base.css"/>
    <link rel="stylesheet" href="{DT_SKIN}tc.wap.member.css"/>
</head>
<body ontouchstart>

<!--tc-page-->
<div class="tc-page register-page">

    <!--tc-frame-->
    <div class="tc-frame">
        <!--logo-->
        <img class="login-logo" src="{DT_SKIN}/images/tecenet-logo-lg.png" alt="天成医疗网">
        <!--logo end-->

        <div class="register-content">
            <form class="tc-register-form"  id="regFormStep1" action="?" method="post">
                <input class="hidden" type="hidden" name="submit" value="1" />

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-people"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmUserName" class="weui-input" type="text" tabindex="1"
                                   name="post[username]"
                                   data-rule="required;username;va_username;"
                                   data-tip="5-20个字符，小写字母、数字、中划线，且以小写字母或数字开头和结尾"
                                   placeholder="会员名"
                            />
                        </div>
                    </div>
                    <div class="msg-box" for="frmUserName"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-lock"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmPassWord" class="weui-input" type="password" tabindex="2"
                                   name="post[password]"
                                   data-rule="required;length[6~20]"
                                   data-tip="6-20个字符，字母、数字、英文符号，区分大小写"
                                   placeholder="设置6-20位登录密码"
                            />
                        </div>
                        <div class="weui-cell__ft">
                            <i class="weui-tabbar__icon iconfont icon-attention see-password"></i>
                        </div>
                    </div>
                    <div class="msg-box" for="frmPassWord"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-lock"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="secondPassWord" class="weui-input" type="password" tabindex="3"
                                   name="post[password_second]"
                                   data-rule="required;length[6~20]"
                                   data-tip="6-20个字符，字母、数字、英文符号，区分大小写"
                                   placeholder="确认密码"
                            />
                        </div>
                        <div class="weui-cell__ft">
                            <i class="weui-tabbar__icon iconfont icon-attention see-password"></i>
                        </div>
                    </div>
                    <div class="msg-box" for="secondPassWord"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-yanzhengma"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmCaptcha" class="weui-input" type="text" tabindex="4"
                                   name="post[captcha]"
                                   data-rule="required;va_captcha;"
                                   placeholder="验证码"
                            />
                        </div>
                        <div class="weui-cell__ft">
                            <img class="verify-code-img"
                                 src="{DT_PATH}api/captcha.png.php?action=image&height=30" alt="图形验证码"
                                 onclick="reloadCaptcha();">
                        </div>
                    </div>
                    <div class="msg-box" for="frmCaptcha"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-mobile"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmMobile" class="weui-input" type="text" tabindex="5"
                                   name="post[mobile]"
                                   data-rule="required;mobile;va_mobile;"
                                   data-msg-mobile="请输入正确的手机号码"
                                   placeholder="手机号码"
                            />
                        </div>
                    </div>
                    <div class="msg-box" for="frmMobile"></div>

                    <div class="weui-cell weui-cell_vcode">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-jiaoyanma"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="SMSCaptcha" class="weui-input" type="text" tabindex="6"
                                   name="post[sms_code]"
                                   data-rule="required;"
                                   placeholder="短信验证码"
                            />
                        </div>
                        <div class="weui-cell__ft">
                            <input type="button" class="msg-verify-btn weui-vcode-btn" onclick="sendSMS(this);" value="获取短信验证码" />
                        </div>
                    </div>
                    <div class="msg-box" for="SMSCaptcha"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-people"></i>
                        </div>
                        <div class="weui-cell__bd register-true-name weui-flex">
                            <input id="frmTrueName" class="weui-input weui-flex__item" type="text" tabindex="7" name="post[truename]" data-tip="请与有效身份证件上的姓名保持一致" placeholder="真实姓名"/>

                            <label class="register-true-name__label" for="genderMan">
                                <input class="weui-check" name="post[gender]" value="1" type="radio" id="genderMan" checked="checked">
                                <i class="weui-icon-checked"></i>
                                <span>先生</span>
                            </label>
                            <label class="register-true-name__label" for="genderWoman">
                                <input class="weui-check" name="post[gender]" value="2" type="radio" id="genderWoman">
                                <i class="weui-icon-checked"></i>
                                <span>女士</span>
                            </label>
                        </div>
                    </div>
                    <div class="msg-box" for="frmTrueName"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-location"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmArea" class="weui-input" type="text" tabindex="8" data-rule="required;" readonly placeholder="所在地区" />
                            <input type="hidden" name="post[areaid]"  value="" />
                        </div>
                    </div>
                    <div class="msg-box" for="frmArea"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-mail"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmEmail" class="weui-input" type="email" tabindex="9" name="post[email]" placeholder="电子邮箱" />
                        </div>
                    </div>
                    <div class="msg-box" for="frmEmail"></div>
                </div>

                <div class="weui_btn_area pd-20">
                    <input type="submit" class="weui-btn tc-btn_primary" value="注 册"/>
                </div>

                <p class="agreement-tip mg-b-20">点击「注册」按钮，即代表你同意<a class="text-primary" href="javascript:;">《注册协议》</a>
                </p>
            </form>
        </div>
        <!--注册 end-->
		<!--footer-->
		<div class="weui-footer mg-t-20 mg-b-10">
            <p class="weui-footer__links">
                <a href="http://so.tecenet.com/feedback.php" class="weui-footer__link">用户反馈</a>
                <a href="http:://so.tecenet.com/" class="weui-footer__link">天成医搜</a>
                <a href="http://hao.tecenet.com/" class="weui-footer__link">医疗厂家导航</a>
            </p>
            <p class="weui-footer__text"> CopyRight © Guangzhou TianCheng Medical Technology Co.,Ltd.</p>
        </div>
		<!--footer end-->
    </div>
    <!--tc-frame-->

</div>
<!--tc-page end-->

<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="{DT_PATH}file/script/wap/city-picker.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{DT_PATH}file/script/wap/tc.wap.core.js"></script>

<script src="{DT_PATH}file/script/jquery.validator.min.js"></script>
<script src="{DT_PATH}file/script/zh-CN.js"></script>
<script src="{DT_PATH}file/script/wap/tc.wap.register.js"></script>
<script>
	function getCookie(name){
	var search = name + "="//查询检索的值
    var returnvalue = "";//返回值
    if (document.cookie.length > 0) {
    	sd = document.cookie.indexOf(search);
    	if (sd!= -1) {
        	sd += search.length;
        	end = document.cookie.indexOf(";", sd);
        	if (end == -1)
        	end = document.cookie.length;
         	//unescape() 函数可对通过 escape() 编码的字符串进行解码。
        returnvalue=document.cookie.substring(sd, end);
     }
   } 
   return decodeURIComponent(returnvalue);
}
function delCookie(name){
	 $.ajax({
	 	type:'POST',
	 	url:"{DT_PATH}ajax.php?action=delcookie&name="+name,
	 	success:function(){},
	 	error:function(){}
	 });
}

var tip = getCookie('errorTip');
if(tip){
	$.toast(tip,'text');
    delCookie('errorTip');
}
</script>

</body>
</html>