<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">

    <title>注册会员_天成医疗网</title>

    <link rel="stylesheet" href="{DT_SKIN}weui.css"/>
    <link rel="stylesheet" href="{DT_SKIN}iconfont.css"/>
    <link rel="stylesheet" href="{DT_SKIN}tc.wap.base.css"/>
    <link rel="stylesheet" href="{DT_SKIN}tc.wap.member.css"/>
</head>
<body ontouchstart>

<!--tc-page-->
<div class="tc-page register-page">

    <!--tc-frame-->
    <div class="tc-frame">
        <!--logo-->
        <img class="login-logo" src="{DT_SKIN}/images/tecenet-logo-lg.png" alt="天成医疗网">
        <!--logo end-->

        <div class="register-content">
            <form id="regFormStep2" action="?" method="post">
                <input type="hidden" name="submit" value="1"/>
                <input type="hidden" name="step" value="2"/>
                <input type="hidden" name="post[username]" value="{$username}"/>

                <div class="weui-cells weui-cells_form">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-people"></i>
                        </div>
                        <div class="weui-cell__bd register-true-name weui-flex">
                            <input id="frmTrueName" class="weui-input weui-flex__item" type="text" tabindex="1" name="post[truename]" data-tip="请与有效身份证件上的姓名保持一致" placeholder="真实姓名"/>

                            <label class="register-true-name__label" for="genderMan">
                                <input class="weui-check" name="post[gender]" value="1" type="radio" id="genderMan" checked="checked">
                                <i class="weui-icon-checked"></i>
                                <span>先生</span>
                            </label>
                            <label class="register-true-name__label" for="genderWoman">
                                <input class="weui-check" name="post[gender]" value="2" type="radio" id="genderWoman">
                                <i class="weui-icon-checked"></i>
                                <span>女士</span>
                            </label>
                        </div>
                    </div>
                    <div class="msg-box" for="frmTrueName"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-location"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmArea" class="weui-input" type="text" tabindex="2" data-rule="required;" placeholder="所在地区" />
                            <input type="hidden" name="post[areaid]"  value="" />
                        </div>
                    </div>
                    <div class="msg-box" for="frmArea"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-mail"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmEmail" class="weui-input" type="email" tabindex="3" name="post[email]" placeholder="电子邮箱" />
                        </div>
                    </div>
                    <div class="msg-box" for="frmEmail"></div>
                </div>

                <div class="cpy-checkbox weui-cells_checkbox">
                    <label class="weui-check__label weui-flex">
                        <input type="checkbox" class="weui-check" name="company[check]" id="isCompany" value="1">
                        <i class="weui-icon-checked"></i>
                        <p class="weui-flex__item">我是企业会员，我要在本站开通企业宣传形象网站<span>天成官方网站送您免费免备案域名</span></p>
                    </label>
                </div>

                <div class="cpy-frm-wrp weui-cells weui-cells_form" style="display: none;">
                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-gs"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmCompany" class="weui-input" type="text" tabindex="4" name="company[company]"
                            placeholder="公司名称" />
                        </div>
                    </div>
                    <div class="msg-box" for="frmCompany"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-yuming"></i>
                        </div>
                        <div class="weui-cell__bd weui-flex">
                            <input id="frmDomain" class="weui-input weui-flex__item" type="text" tabindex="5" readonly="readonly" name="company[domain]" data-tip="访问域名与用户名一致，如需修改请联系客服；" value="{$post['username']}" />
                            <div class="cpy-website-domain">.tecenet.com</div>
                        </div>
                    </div>
                    <div class="msg-box" for="frmDomain"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-shop"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <select id="frmType" class="weui-input" name="company[type]" data-rule="required(#isCompany:checked)" tabindex="6">
                                <option value='' disabled selected style='display:none;'>经营范围</option>
                                <option value="企业单位">企业单位</option>
                                <option value="事业单位或社会团体">事业单位或社会团体</option>
                                <option value="个体经营">个体经营</option>
                            </select>
                        </div>
                    </div>
                    <div class="msg-box" for="frmType"></div>

                    <div class="weui-cell">
                        <div class="weui-cell__hd">
                            <i class="weui-tabbar__icon iconfont icon-phone"></i>
                        </div>
                        <div class="weui-cell__bd">
                            <input id="frmTel" class="weui-input" type="text"  tabindex="7"
                                   name="company[telephone]"
                                   data-rule-numeric="[/^[0-9-+]*$/, '请输入正确的业务电话']"
                                   data-tip="国内用户请加区号，国外用户请加国家码 <br>格式范例：86-020-22017999"
                                   placeholder="业务电话"
                            />
                        </div>
                    </div>
                    <div class="msg-box" for="frmTel"></div>
                </div>

                <div class="weui_btn_area pd-20">
                    <input type="submit" class="weui-btn tc-btn_primary" value="注 册"/>
                </div>

                <p class="agreement-tip mg-b-20">点击「注册」按钮，即代表你同意<a class="text-primary" href="javascript:;">《注册协议》</a>
                </p>
            </form>
        </div>
        <!--注册 end-->

    </div>
    <!--tc-frame-->

</div>
<!--tc-page end-->

<script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
<script src="{DT_PATH}file/script/wap/city-picker.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="{DT_PATH}file/script/wap/tc.wap.core.min.js"></script>

<script src="{DT_PATH}file/script/jquery.validator.min.js"></script>
<script src="{DT_PATH}file/script/zh-CN.js"></script>
<script src="{DT_PATH}file/script/wap/tc.wap.register.min.js"></script>
<script>
	function getCookie(name){
	var search = name + "="//查询检索的值
    var returnvalue = "";//返回值
    if (document.cookie.length > 0) {
    	sd = document.cookie.indexOf(search);
    	if (sd!= -1) {
        	sd += search.length;
        	end = document.cookie.indexOf(";", sd);
        	if (end == -1)
        	end = document.cookie.length;
         	//unescape() 函数可对通过 escape() 编码的字符串进行解码。
        returnvalue=document.cookie.substring(sd, end);
     }
   } 
   return decodeURIComponent(returnvalue);
}
function delCookie(name){
	 $.ajax({
	 	type:'POST',
	 	url:"{DT_PATH}ajax.php?action=delcookie&name="+name,
	 	success:function(){},
	 	error:function(){}
	 });
}

var tip = getCookie('errorTip');
if(tip){
	$.toast(tip,'text');
    delCookie('errorTip');
}
</script>
</body>
</html>