<table cellpadding="3" cellspacing="0">
	<form action="{$MOD[linkurl]}search.php">	
				<tr>
				<td align='left' width="500">

	<label><input type="radio" value="0"  name="order" {if $order==0}checked=checked{/if}>结果排序方式</label><label><input type="radio"  value="1"  name="order" {if $order==1}checked=checked{/if}>按相似度排序</label><label><input type="radio" value="2"  name="order" {if $order==2}checked=checked{/if}>按添加时间排序</label><label><input type="radio"  value="3"  name="order" {if $order==3}checked=checked{/if}>按浏览人气排序</label>
	
	</td>
				<td  align='left'>		
	
	<input type="submit" value="重新读取" class="submit">
	</td>
		  </tr> 
				</form> </table>
			