{php $sitemenu='special';$listpage='list';}
{template 'header'}

</div></div>
{if $bannerbg}
<div class="center whitebg tc" style="margin-top:-9px;height:350px;background:url('{$bannerbg}') center top repeat-x;">
</div>
{/if}
<div class="divline"></div>
<div class="webw center">
<div class=" whitebg pd10">
{template 'lay','tag'}	
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid};
Dd('yourmdmore').innerText='{$title}';
Dd('yourmdmore').href='{$MODULE[$module][linkurl]}show.php?itemid={$itemid}';
</script>
			<dl class="dllist autoheight listleft">
			<div class="hcolor f14 newscatname" style="background-image:url('{DT_SKIN}image/special/{$i}.png');"><a  class="f20 b">{$type[typename]}</a></div>
			
			{php $tags =tag("table=special_item&condition=specialid=$itemid and typeid=$typeid&order=addtime desc&pagesize=15&page=$page&showpage=1&datetype=5&target=_blank&template=null")}
			{if $tags}
				<ul class="artul" id="art">
				{loop $tags $z $t}
									<li id="{$css}list{$z+1}" class="pt10 whitebg h100 cut">
									{if $t[thumb]}<div class="fl ml5 w150 mr10"><a href="{$t[linkurl]}" target="_blank" title="{$t[alt]}"><img onerror="this.src='{DT_SKIN}image/nopic.gif'" src="{$t[thumb]}" width="145" height="85" class="thumb"/></a></div>{/if}
									<dl class="autoheight fl ">
									<dt class="mb5" style="padding:2px;border:0px;background:none">
									<b class="lenstr w500"><a href="{$t[linkurl]}" target="_blank" class="color f18">{$t[title]}</a></b>
									</dt>
									<dd style="width:{if $t[thumb]}540{else}705{/if}px;" class='ml5 tl'>
									<div class='hcolor  f12 lh18'>{$t[introduce]}</div>
									<div>	<span>主题 <a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$t[catid])}">{cat_pos(get_cat($t[catid]), '-')}</a></span><span class="ml10">{timetodate($t[edittime],4)}</span><span class="fr mr10"><a href="{$t[linkurl]}" class="color">阅读全文</a>&nbsp;&nbsp;<span class="ml10">{$t[hits]}人关注</span></span></div>
									</dd>
									<div class="divline"></div>
									</dl>
									</li>
				{/loop}		
				</ul>
				<script type="text/javascript">
				$(".artul>li").hover(function () {$(this).removeClass("whitebg");$(this).addClass("graybg"); }, function () {$(this).removeClass("graybg");$(this).addClass("whitebg"); });
				</script>
				<div class="pages">{$pages}</div>{/if}

            </dl>

			<div class="listright autoheight graybg">
				<dl>
				<dt class='f18 tc bcolor pd5 b'>推荐{$catname}图文信息</dt>
				<dd class="thumbinfo">
					<ul class="ullist" style="margin-left:5px;">
					<!--{tag("table=special_item&condition=specialid=$itemid&order=addtime desc&pagesize=11&target=_blank, -2")}-->
					</ul>
				</dd>
				</dl>
			</div>
<div class="divline"></div>
</div>
</div>


{template 'footer'}