{php defined('IN_DESTOON') or exit('Access Denied');}
{php $sitemenu='quote';$listpage='list';$JS=array('jquery.jslides');$onmenu='quote-contactus';$head_title='医疗科技网-关于我们';$head_description='医疗科技网_联系我们，天成医疗联系方式';$head_keywords='医疗科技网,联系方式';}
{template 'module-header'}
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/quote.css?v20161208"/>
<style>
img{display: inline-block;}
#topkeyword{width:310px;height:22px;line-height:22px}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
.page-header .logo h1{font-weight: normal;}
</style>
</div></div>
<style>
	#bottom-right-pic{float:left;}
	#bottom-right-pic img{}
	#contact_pic_title{background:#5da9cc;line-height:22px;}
	#contact_pic_title span{color:white;margin-left:28px;}
</style>
<div class="autoheight" style="background:white">
<div class="webw">
<div class="autoheight rad">
<div class="divline"></div>
<div class="contact">
<div>
	<img src="{DT_SKIN}image/quote/contactus-top.jpg" style="width:995px;height:280px;" />
</div>
<div class="divline"></div>
<div class="contact_pic fl" >
	<img src="{DT_SKIN}image/quote/contactus-mid.jpg" style="width:430px;"  />
</div>

<div class="contact_content">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-weight:bold;">科琅医疗科技有限公司简介：</span><br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;广州市天成医疗技术有限公司（www.tecenet.com）是中山大学达安基因股份有限公司旗下子公司，是卫生部医药生物工程技术研究中心特约合作单位。天成医疗公司是一家集医学工程、医疗设备技术服务，医疗设备产品及耗材供应，医疗设备技术培训、结算服务为一体的高端医疗设备技术服务企业，为医院专业科室、医疗设备生产厂商和广大销售工程师提供专业的全面解决方案。它通过建设产品全、效率高、成本低的电子商务交易平台，为国内万家医疗设备生产厂商、终端医院等用户，广大技术服务工程师、销售工程师提供医疗设备技术服务、配件耗材销售、维修技术培训等服务。<br/>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<u> 广州科琅医疗科技有限公司（http://tech.tecenet.com）是天成医疗全资的子公司，它将电子商务与科技服务有机结合，为广大企业、高校、科研机构提供医疗行业科技项目转化咨询和代理、项目申报咨询与代理、临床试验、开放实验室、产品注册、生产经营许可证办理等咨询服务。搭建政府、企业、高校、科研机构之间的桥梁，促进医疗器械相关科技成果向现实生产力转化，致力于为政府、企业、高校、科研机构提供一站式全方位科技服务。</u><br/>
</div>
</div>
<div class="pd10 contact_phone fr">
<div class="fr"  style="font-size:18px;line-height:33px;padding:35px 0px;">
<ul>
	<li>
		<img src="{DT_SKIN}image/quote/telephone.png" style="width:22px;" /> &nbsp;李先生：&nbsp;13538826148&nbsp;&nbsp;&nbsp;&nbsp;微信:&nbsp;alex986668
	</li>
	<li>
		<img src="{DT_SKIN}image/quote/telephone.png" style="width:22px;" /> &nbsp;梁先生：&nbsp;13826477662&nbsp;&nbsp;&nbsp;&nbsp;微信:&nbsp;ringoontheroad
	</li>
</ul>
</div>

</div>
<div class="divline"></div>

</div></div>
{template 'footer2017'}