{template 'header'}
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=blue"></script>
<script type="text/javascript" src="{DT_PATH}file/script/msclass.js"></script>
											<div class="w240 fl autoheight"><!-- 左边内容开始-->
														{template 'member','tag'}
														<div class="divline"></div>
														<div class="orange"><div class="h4title">供应信息分类</div><span class="mores"><a href="javascript:void(0)"  onClick="msgbox('{$MODULE[7][name]}所有分类','/tree.php?moduleid=5')">全部展开</a></span></div>
															<div class="grayb nt h680 gdt pt10">
														
{php $tagss = tag("moduleid=5&table=category&condition=moduleid=5 and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
																<dl class="tree">
																<dt class="treeno" onclick="chulai('tree{$t[catid]}')" onmouseover="this.className='treeyes'" onmouseout="this.className='treeno'"><a href="javascript:void(0)"class="ocolor">{$t[catname]}</a></dt>
																	<dd id="tree{$t[catid]}">
																		<p><a href="{$t[linkurl]}">直接打开：{$t[catname]}</a></p>
																		<ul>
																				{php $tagsk = tag("moduleid=5&table=category&condition=moduleid=5 and parentid=".$t[catid]."&pagesize=30&order=listorder ASC&template=null&debug=0")}
																				{loop $tagsk $z $k}
																		<li><a href="{$k[linkurl]}">	{$k[catname]}</a></li>
																				{/loop}
																		</ul>
																	</dd>
																</dl>

													{/loop}	</div>
											<div class="divline"></div>
											<div class="blue"><div class="h4title">{$MODULE[7][name]}在线搜索</div></div>
													<div class="grayb nt autoheight pt10">
													<div>
													<form action="{DT_PATH}search.php" >
													<input name="action" id="action"  type="hidden" value="" />
													<select name="moduleid" class='inputse grayb fl cut'>
														<option value="5" selected>供应</option>
														<option value="6">求购</option>
														<option value="4">厂商</option>
													</select>
													<input name="kw" type="text" onblur='if(this.value==""){this.value="输入关键词"}'  onfocus='if(this.value=="输入关键词"){this.value=""}' value="输入关键词" class='inputkw grayb fl cut' size=13/>
													<input name="sub" class="subm fl" type="image" src="{DT_SKIN}image/search2.jpg"  />				
													</form>
													</div>
															<dl class="webkw pd10 mt10 autoheight">
															<dt>热门关键词</dt>
															<dd><!--{tag("moduleid=5&table=keyword&condition=moduleid=5 and status=3 and updatetime>$today_endtime-86400*30&pagesize=10&order=month_search desc&key=month_search&template=list-search_kw", -2)}--></dd>
															<dt>全国各地厂商</dt>
															<dd>{php $mainarea = get_mainarea(0)}
															{loop $mainarea $k $v}
															<a href="{$MODULE[4][linkurl]}{rewrite('search.php?areaid='.$v['areaid'].'&typeid='.$typeid.'&kw='.urlencode($kw).'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$catid)}"class="color lenstr">{$v[areaname]}</a>
															{/loop}</dd>
															</dl>
									        		</div>
													<div class="divline"></div>
													<div class="blue"><div class="h4title">全站推荐厂商</div></div>
															<div class="grayb nt autoheight pt10">
																<ul class="rank_list">
																<!--{tag("moduleid=4&condition=level>0&pagesize=10&order=vip desc&template=list-com&debug=0")}-->
																</ul>
													</div>
													<div class="divline"></div>	
													<div class="green"><div class="h4title">供应热门排行</div></div>
															<div class="grayb nt autoheight pt10">
																<ul class="rank_list">
																<!--{tag("moduleid=5&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0&price=1")}-->
																</ul>
													</div>
													<div class="divline"></div>
													<div class="orange"><div class="h4title">求购推荐排行</div></div>
															<div class="grayb nt autoheight pt10">
																<ul class="rank_list">
																<!--{tag("moduleid=6&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0")}-->				
																</ul>
													</div>

											</div>
											<div class="w730 fl autoheight ml10"><!-- 右边内容开始sss-->
														<div class="autoheight">
														<div class="fl cut" style="width:485px;height:295px;">
														<script type="text/javascript" src="{DT_PATH}file/script/A26.js"></script>
														<ul class="hlist">
														<li><script type="text/javascript" src="{DT_PATH}file/script/A27.js"></script></li>
														<li class="ml5"><script type="text/javascript" src="{DT_PATH}file/script/A28.js"></script></li>
														<li class="ml5"><script type="text/javascript" src="{DT_PATH}file/script/A29.js"></script></li>
														</ul>
														</div>
														
														<div class="fl w235 cut autoheight ml10">
														<div class="blue"><div class="h4title">最新行业资讯</div></div>
														<div class="grayb nt h250 cut pt5">
														<ul class="lie1">
														{php $tagt = tag("moduleid=21&condition=status=3&pagesize=10&order=edittime desc&template=null&debug=0&showcat=1")}
																				{loop $tagt $z $t}
																		<li class="jt1"><span>[{timetodate($t[edittime],2)}]</span><a href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank' class="lenstr">{dsubstr($t[title],30,"..")}</a></li>																				{/loop}
														</ul>
														</div>
														</div>

														</div>
														
														<div class="yinying"></div>
														<div class="divline"></div>
															<div class="autoheight w360 fl">
																<div class="orange"><div class="h4title">最新发布求购信息</div><span class="mores"><a href='{$MODULE[6][linkurl]}'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h300 cut orangebg" id="buydiv">
																	<div id="buylist" style="width:359px;height:300px;overflow:auto">
																	<ul class='gd' >
																	{php $tagt = tag("moduleid=6&condition=status=3&pagesize=".$MOD[pagesize]."&order=edittime desc&template=null&debug=0&showcat=1")}
																				{loop $tagt $z $t}
																		<li><span>[{area_pos($t[areaid], '', 1)}]</span><i>{timetodate($t[edittime],2)}</i><tt class='lenstr'>{$t[catname]}</tt><a class="color" href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank' class="lenstr w200">{dsubstr($t[title],30,"..")}</a></li>
																				{/loop}
																	</ul>
																	</div>
																</div>
											<script type="text/javascript">new Marquee(["buydiv","buylist"],0,1,359,300,30,0,0)	;</script>

															</div>
															<div class="autoheight w360 ml10 fl">
																<div class="green"><div class="h4title">最新发布供应信息</div><span class="mores"><a href='{$MODULE[5][linkurl]}'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
																<div class="grayb nt h300 cut greenbg" id="selldiv">
																	<div id="selllist" style="width:359px;height:300px;overflow:auto">
																	<ul class='gd' >
																	{php $tagt = tag("moduleid=5&condition=status=3&pagesize=".$MOD[pagesize]."&order=edittime desc&template=null&debug=0&showcat=1")}
																				{loop $tagt $z $t}
																		<li><span>[{if $t[price]>0}<font class="ocolor">¥{$t[price]}</font>{else}面议{/if}]</span><i>{timetodate($t[edittime],2)}</i><tt class='lenstr'>{$t[catname]}</tt><a class="color" href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank' class="lenstr w200">{dsubstr($t[title],30,"..")}</a></li>
																				{/loop}
																	</ul>
																	</div>
																</div>
															</div>
											<script type="text/javascript">new Marquee(["selldiv","selllist"],0,1,359,300,30,0,0)	;</script>
											<div class="divline"></div>
																
															
																<div class="blue"><div class="h4title">普通求购&普通供应</div></div>
																<div class="grayb nt autoheight">
																		<dl class='twodiv'>
																		<dt class="ocolor">推荐普通求购信息</dt>
																		<span class="mores"><a href='{$MODULE[6][linkurl]}index-htm-typeid-0-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																		{php $tagt = tag("moduleid=6&condition=status=3 and level>0 and typeid=0 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{area_pos($t[areaid], '', 1)}]</span><i class="ocolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],30,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																		<dl class='twodiv'>
																		<dt class="bcolor">推荐普通供应信息</dt>
																		<span class="mores"><a href='{$MODULE[5][linkurl]}index-htm-typeid-0-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																			{php $tagt = tag("moduleid=5&condition=status=3 and level>0 and typeid=0&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{if $t[price]>0}<font class="ocolor">¥{$t[price]}</font>{else}面议{/if}]</span><i class="bcolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],35,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																</div>
																<div class="divline"></div>
																<div class="blue"><div class="h4title">高价求购&特价促销</div></div>
																<div class="grayb nt autoheight">
																		<dl class='twodiv'>
																		<dt class="ocolor">推荐高价求购信息</dt>
																		<span class="mores"><a href='{$MODULE[6][linkurl]}index-htm-typeid-1-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																			{php $tagt = tag("moduleid=6&condition=status=3 and level>0 and typeid=1 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{area_pos($t[areaid], '', 1)}]</span><i class="ocolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],30,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																		<dl class='twodiv'>  
																		<dt class="bcolor">推荐特价促销信息</dt>
																		<span class="mores"><a href='{$MODULE[5][linkurl]}index-htm-typeid-1-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																		{php $tagt = tag("moduleid=5&condition=status=3 and level>0 and typeid=1 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{if $t[price]>0}<font class="ocolor">¥{$t[price]}</font>{else}面议{/if}]</span><i class="bcolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],35,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																</div>
																<div class="divline"></div>
																<div class="blue"><div class="h4title">求购耗材&供应耗材</div></div>
																<div class="grayb nt autoheight">
																		<dl class='twodiv'>
																		<dt class="ocolor">推荐求购耗材信息</dt>
																		<span class="mores"><a href='{$MODULE[6][linkurl]}index-htm-typeid-2-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																			{php $tagt = tag("moduleid=6&condition=status=3 and level>0 and typeid=2 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{area_pos($t[areaid], '', 1)}]</span><i class="ocolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],30,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																		<dl class='twodiv'>
																		<dt class="bcolor">推荐耗材供应信息</dt>
																		<span class="mores"><a href='{$MODULE[5][linkurl]}index-htm-typeid-2-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																		{php $tagt = tag("moduleid=5&condition=status=3 and level>0 and typeid=2 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{if $t[price]>0}<font class="ocolor">¥{$t[price]}</font>{else}面议{/if}]</span><i class="bcolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],35,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																</div>

																<div class="divline"></div>
																<div class="blue"><div class="h4title">求购二手&二手供应</div></div>
																<div class="grayb nt autoheight">
																		<dl class='twodiv'>
																		<dt class="ocolor">推荐求购二手信息</dt>
																		<span class="mores"><a href='{$MODULE[6][linkurl]}index-htm-typeid-3-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																		{php $tagt = tag("moduleid=6&condition=status=3 and level>0 and typeid=3 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{area_pos($t[areaid], '', 1)}]</span><i class="ocolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],30,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																		<dl class='twodiv'>
																		<dt class="bcolor">推荐二手供应信息</dt>
																		<span class="mores"><a href='{$MODULE[5][linkurl]}index-htm-typeid-3-catid-0.html'><img src='{DT_SKIN}image/more.jpg'></a></span>
																		{php $tagt = tag("moduleid=5&condition=status=3 and level>0 and typeid=3 and thumb<>''&pagesize=12&order=edittime desc&template=null&debug=0")}
																									{loop $tagt $z $t}
																							{if $z<3}
																							<dd class="fl ml10"><a class="color" href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70 class='grayb'><p class="w90">{dsubstr($t[title],30,"..")}</p></a></dd>
																							{else}
																							<dd><span>[{if $t[price]>0}<font class="ocolor">¥{$t[price]}</font>{else}面议{/if}]</span><i class="bcolor">{timetodate($t[edittime],2)}</i><a class="color" href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],35,"..")}</a></dd>
																							{/if}
																									{/loop}
																		
																		</dl>
																</div>






											</div>
{template 'footer'}
