{php $sitemenu='quote'; $listpage='search';}
{php $head_title='';}
{php $head_title.=($catid==$project_catid||$catid==$clinic_catid?'':$CAT[catname].'_');}
{php $head_title.=($qixie=='0'?'':'器械'.$qixie_arr[$qixie].'_');}
{php $head_title.=($catid==$project_catid?'科技项目转化_':'注册临床咨询_');}
{php $head_title.='医疗科技网_天成医疗网';}
{php $seo_title=$head_title;}
{php $head_description='天成医疗科技网科技项目转化平台,提供最完善的'.($catid==$project_catid||$catid==$clinic_catid?'':$CAT[catname].'，').($qixie=='0'?'':'器械'.$qixie_arr[$qixie].'的').($catid==$project_catid?'科技项目转化':'注册临床咨询');}
{php $head_keywords=($catid==$project_catid||$catid==$clinic_catid?'':$CAT[catname].',').($qixie=='0'?'':'器械'.$qixie_arr[$qixie].',').($catid==$project_catid?'科技项目转化,':'注册临床咨询,').'天成医疗网,医疗科技网';}
{php $parentid=$db->get_one("select parentid from {$db->pre}category where catid=$catid");}

{if $catid==$project_catid||$parentid[parentid]==$project_catid}
<?php $onmenu='quote-project' ?>
{else}
<?php $onmenu='quote-clinic';?>
{/if}

{template 'module-header'}
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/quote.css?v20161208"/>
<style>
img{display: inline-block;}
.page-header .logo h1{font-weight: normal;}
#topkeyword{width:310px;height:22px;line-height:22px}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
.autoheight.whitebg{overflow: hidden;}
</style>
</div></div>
{if $onmenu=='quote-project'}
	{template 'list-pic',$module}
{else}
	{template 'list-nopic',$module}
{/if}

</div></div>
{template 'footer2017'}