{php $sitemenu='quote';$listpage='list';}
{template 'module-header'}
<script type="text/javascript" src="http://www.tecenet.com/file/script/config.js"></script>
<script src="http://www.tecenet.com/file/script/common.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/quote.css?v20161208"/>
<style>
#topkeyword{width:310px;height:22px;line-height:22px}
.page-header .logo h1{font-weight: normal;}
img{display: inline-block;}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
</style>
</div></div>
{template $template,'quote'}
{template 'fav','chip'}

</div></div>
{template 'footer2017'}
