{php $sitemenu='mall';$listpage='search';$noleftmenu='yes';}
{template 'header'}
<style type="text/css">
	.webmenulist{width:855px;}
</style>
{template 'lay','tag'}

<script type="text/javascript">
Dd('yourmdmore').innerText='产品对比';
</script>
<div class="autoheight pt5 whitebg">
 <div class="compare">
		<table cellspacing="1">
		<tr>
		<td><div>移 除</div></td>
		{loop $tags $k $v}
		<td id="del_{$v[itemid]}_{$k}"><a href="javascript:void(0)"><span class="del" onclick="del({$v[itemid]}, {$k});">移除</span></a></td>
		{/loop}
		</tr>
		<tr>
		<td><div>图 片</div></td>
		{loop $tags $k $v}
		<td id="pic_{$v[itemid]}_{$k}"><a href="{$v[linkurl]}" target="_blank"><img src="{imgurl($v[thumb], 1)}" width="80" height="80" alt="" class="grayb"/></a></td>
		{/loop}
		</tr>
		<tr>
		<td><div>标 题</div></td>
		{loop $tags $k $v}
		<td id="title_{$v[itemid]}_{$k}"><a href="{$v[linkurl]}" target="_blank" title="{$v[title]}">{$v[stitle]}</a></td>
		{/loop}
		</tr>
		<tr>
		<td><div>型 号</div></td>
		{loop $tags $k $v}
		<td id="model_{$v[itemid]}_{$k}">{$v[model]}&nbsp;</td>
		{/loop}
		</tr>
		<tr>
		<td><div>规 格</div></td>
		{loop $tags $k $v}
		<td id="standard_{$v[itemid]}_{$k}">{$v[standard]}&nbsp;</td>
		{/loop}
		</tr>
		<tr>
		<td><div>品 牌</div></td>
		{loop $tags $k $v}
		<td id="brand_{$v[itemid]}_{$k}">{$v[brand]}&nbsp;</td>
		{/loop}
		</tr>
		<tr>
		<td><div>日 期</div></td>
		{loop $tags $k $v}
		<td id="date_{$v[itemid]}_{$k}">{$v[editdate]}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>公 司</div></td>
		{loop $tags $k $v}
		<td id="com_{$v[itemid]}_{$k}"><a href="{$v[userurl]}" target="_blank">{$v[company]}</a></td>
		{/loop}
		</tr>
		<tr>
		<td><div>会 员</div></td>
		{loop $tags $k $v}
		<td id="vip_{$v[itemid]}_{$k}">
		{if $v[vip]} <img src="{DT_SKIN}image/vip.gif"/> <img src="{DT_SKIN}image/vip_{$v[vip]}.gif"/>{/if}&nbsp;
		</td>
		{/loop}
		</tr>
		<tr>
		<td><div>地 区</div></td>
		{loop $tags $k $v}
		<td id="area_{$v[itemid]}_{$k}">{area_pos($v[areaid], ' ', 2)}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>价 格</div></td>
		{loop $tags $k $v}
		<td id="price_{$v[itemid]}_{$k}">{if $v[price]>0}<strong class="f_red">{$v[price]}</strong>{$DT[money_unit]}/{$v[unit]}{else}面议{/if}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>起 订</div></td>
		{loop $tags $k $v}
		<td id="min_{$v[itemid]}_{$k}">{if $v[minamount]}{$v[minamount]} {$v[unit]}{else}未填写{/if}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>总 量</div></td>
		{loop $tags $k $v}
		<td id="amount_{$v[itemid]}_{$k}">{if $v[amount]}{$v[amount]} {$v[unit]}{else}未填写{/if}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>发 货</div></td>
		{loop $tags $k $v}
		<td id="days_{$v[itemid]}_{$k}">{if $v[days]}{$v[days]}天内{else}未填写{/if}</td>
		{/loop}
		</tr>
		<tr>
		<td><div>联 系</div></td>
		{loop $tags $k $v}
		<td id="im_{$v[itemid]}_{$k}">&nbsp;
			{if $v[username] && $DT[im_web]}{im_web($v[username].'&mid='.$moduleid.'&itemid='.$v[itemid])}&nbsp;{/if}
			{if $v[qq] && $DT[im_qq]}{im_qq($v[qq])}&nbsp;{/if}
			{if $v[ali] && $DT[im_ali]}{im_ali($v[ali])}&nbsp;{/if}
			{if $v[msn] && $DT[im_msn]}{im_msn($v[msn])}&nbsp;{/if}
			{if $v[skype] && $DT[im_skype]}{im_skype($v[skype])}</a>&nbsp;{/if}
		</td>
		{/loop}
		</tr>
		<tr>
		<td><div>移 除</div></td>
		{loop $tags $k $v}
		<td id="move_{$v[itemid]}_{$k}"><span class="jt" onclick="del({$v[itemid]}, {$k});">移除</span></td>
		{/loop}
		</tr>
		</table>
</div>
</div>
<script type="text/javascript">
var n = {$item_nums};
function del(id, k) {
	if(n < 3) {confirm('最少需要保留两条信息');return;}
	var d = ['del','pic','title','tag','model','standard','brand','date','com','vip','area','price','min','amount','days','im','inq','move'];
	var l = d.length;
	for(var i=0;i<l;i++){
		Dd(d[i]+'_'+id+'_'+k).style.display='none';
	}
	Dd('itemid_'+id).value=0;
	n--;
}
</script>
{template 'footer'}