{php $head_css = [DT_SKIN.'tc.list.base.css',DT_SKIN.'tc.chanpin.base.css',DT_SKIN.'tc.chanpin.list.css']}
{php $footer_js = [];}
{template 'module-header'}

<!--container-->
<div class="container">
    <!--crumb-->
    <div class="crumb ">
        <a href="{DT_PATH}">天成医疗网首页</a><span>&gt;</span>
        <a href="{$MODULE[16]['linkurl']}">产品库</a><span>&gt;</span>
        产品对比
    </div>
    <!--crumb end-->


    <!--compare-wrap-->
    <div class="compare-wrap">
        <table class="compare-table">
            <tbody>
                <tr>
                    <th class="compare-table-hd" rowspan="2">产品信息</th>
                    {loop $tags $k $v}
                    <td id="img_{$v[itemid]}">
                        <div class="product-img">
                            <a href="{$v[linkurl]}" target="_blank"><img src="{imgurl($v[thumb], 1)}" alt=""></a>
                        </div>
                        <button class="product-remove" onclick="compareRemoveItem({$v[itemid]})">删除</button>
                    </td>
                    {/loop}
                </tr>
                <tr>
                    {loop $tags $k $v}
                    <td id="name_{$v[itemid]}">
                        <p class="product-name">
                            <a href="{$v[linkurl]}" target="_blank">{$v[stitle]}</a>
                        </p>
                    </td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">参考报价</th>
                    {loop $tags $k $v}
                    <td id="price_{$v[itemid]}">
                        <div class="product-price">
                            <!--<p class="mall-name">享道医械所</p>-->
                            <p class="mall-price"><a href="#">￥
                                {if $v[price]>0}
                                    {$v[price]}{$DT[money_unit]}/{$v[unit]}
                                {else}
                                    面议
                                {/if}
                            </a></p>
                        </div>
                    </td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">产品品牌</th>
                    {loop $tags $k $v}
                        <td id="brand_{$v[itemid]}">{$v[brand]}</td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">产品型号</th>
                    {loop $tags $k $v}
                        <td id="model_{$v[itemid]}">{$v[model]}</td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">生产厂商</th>
                    {loop $tags $k $v}
                        <td id="company_{$v[itemid]}">{$v[company]}</td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">所在地区</th>
                    {loop $tags $k $v}
                        <td id="area_{$v[itemid]}">{area_pos($v[areaid], ' ', 2)}</td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">相关科室</th>
                    {loop $tags $k $v}
                    <td id="department_{$v[itemid]}">
                    {if !empty($v['kcatids'])}
                    	{php $kcatid = explode(',',$v['kcatids'])}
                    	{loop $kcatid $kk $kt}
                    	<a href="{$MODULE[16]['linkurl']}{keyword_rewrite(['kwid'=>$kt])}" target="_blank">{$KESHI[$kt]}</a>
                    	{/loop}
                    {/if}
                    </td>
                    {/loop}
                </tr>
                <tr>
                    <th class="compare-table-hd">产品分类</th>
                    {loop $tags $k $v}
                    {php $cat = $db->get_one("select catname from ".$DT_PRE."category where catid = ".$v['catid']);}
                    <td id="type_{$v[itemid]}"><a href="{mall_rewrite()}" target="_blank">{$cat['catname']}</a></td>
                    {/loop}
                </tr>
            </tbody>
        </table>
    </div>
    <!--compare-wrap end-->
</div>
<!--container end-->

<script>
    // 删除对比项
    function compareRemoveItem(id){
        var compareAmount =  $(".compare-table .product-remove").length;
        compareAmount < 3 ? alert("最少需要保留两条产品信息") : $("td[id*="+id+"]").remove();
    }
</script>


{template 'footer2017'}
