<script type="text/javascript" src="{DT_PATH}file/script/arrowtree.js"></script> 
<script type="text/javascript" src="{DT_PATH}file/script/miniDropdown.js"></script>
						<div class='topmenubg'>
						<!--最顶部菜单-->
						<script type="text/javascript">topmenu(	{if $moduleid>2}{$moduleid}{else}1{/if})</script>
						</div>


<div class="{if $index}webbg{else}webbg2{/if}">
<div class="h450"></div>
	<div class="center autoheight webw">
				<div class="searchtool">
						<form method="get" action="{$MODULE[$moduleid][linkurl]}search.php" id="searchform" target="_blank">
									<div class="searche fl">
									<label class="fl"><input type="radio" name="type" value=0 checked=checked onclick="if(this.checked==true){Dd('searchform').action='{$MODULE[16][linkurl]}search.php';}">搜产品</label>
									<label class="fl"><input type="radio" name="type" value=1 onclick="if(this.checked==true){Dd('searchform').action='{$MODULE[6][linkurl]}search.php';}">搜招标</label>
									<label class="fl"><input type="radio" name="type" value=2 onclick="if(this.checked==true){Dd('searchform').action='{$MODULE[4][linkurl]}search.php';}">搜厂商</label>
									</div>
										<div class="searcha fl"><input type="text" name="kw" value="请输入关键词" alt="请输入关键词" onfocus="if(this.value.indexOf('词')>0){this.value='';}" onblur="if(this.value==''){this.value=this.alt;}"></div>
										<div class="searchb fl"><input type="image" src="{DT_SKIN}image/blank.gif"></div>
						</form>
				</div>
	</div>
</div>



<div class="autoheight webbg2"  >
<div class="count">
			<div class="webw" >
			<ul id="count">
			   {php $mall=getsqldata("sum(amount)","{$db->pre}mall_order","number>1",0,0);}
			   {php $fee=getsqldata("sum(fee)","{$db->pre}mall_order","number>1",0,0);}
				{php $num=$mall[0]['sum(amount)']+$fee[0]['sum(fee)'];}
				{php $num=number_format($num,0,'.',',')}		
				<li><p><font class='ocolor'>{$num}</font></p>
				<span>线上交易总额</span>
				</li>
				<li><p>
				{php $mall = $db->count($DT_PRE.'mall', "status=3", 60);}
				{php $num=number_format($mall,0,'.',',')}
				<a href="{$MODULE[16][linkurl]}index.php?action=mall"><u>{$num}</u></a></p>
				<span>上线产品信息</span>
				</li>
				<li><p>
				{php $buy = $db->count($DT_PRE.'buy_6', "status=3", 60);}
				{php $buy=number_format($buy,0,'.',',')}
				<a href="{$MODULE[6][linkurl]}"><u>{$buy}</u></a>
				</p>
				<span>招标采购信息</span>
				</li>
				<li><p>
				{php $company= $db->count($DT_PRE.'company', "username!='gztc' and groupid>5", 60);}
				{php $company=number_format($company,0,'.',',')}
				<a href="{$MODULE[4][linkurl]}"><u>{$company}</u></a></p>
				<span>供应商信息</span>
				</li>
				{php $message = $db->count($DT_PRE.'message', "typeid<4", 60);}
				{php $num=number_format($message,0,'.',',')}
				<li><p>{$num}</p>
				<span>咨询量信息</span>
				</li>
				{php $mall_order = $db->count($DT_PRE.'mall_order', "status>0", 60);}
				{php $num=number_format($mall_order,0,'.',',')}
				<li><p>{$num}</p>
				<span>订单量信息</span>
				</li>  
			</ul>
			<div class="join">
			   
			   <p id="joinusto"><a href="http://www.tecenet.com/member/my.php" id="joinus">立即发布信息</a></p>
			   <span>已有<font id='members'>{php $memb = $db->count($DT_PRE.'member', "groupid>4 and edittime<>'1399513082'", 60);}
			   {$memb+10000}</font>会员已经加入天成医疗网</span>
			<script type="text/javascript" src="{DT_PATH}member/mem.php"></script>
			</div>
			</div>
</div>
	<div class="webw center"  >

