<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>医疗器械供求信息大全,医疗器械_医疗设备耗材供应,求购信息_天成医疗网</title>
    <meta name="keywords" content="医疗器械供应,医疗器械供求信息,医疗器械求购"/>
    <meta name="description" content="医疗器械供应求购信息大全 ，天成医疗网 提供全系列医疗器械、仪器、设备厂家报价。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网！"/>

    <link rel="stylesheet" href="http://www.t_tecenet.com/skin/teceskin/tecenet.base.css">
    <link rel="stylesheet" href="http://www.t_tecenet.com/skin/teceskin/tc.page.header.css">
    <link rel="stylesheet" href="http://www.t_tecenet.com/skin/teceskin/tc.list.base.css">
    <link rel="stylesheet" href="./css/tc.chanpin.base.css">
    <link rel="stylesheet" href="./css/tc.chanpin.list.css">

</head>
<body>

<!--top-bar-->
<div class="top-bar">
    <div class="top-bar-box clearfix">
        <div class="top-bar-menu top-bar-dropdown pull-left">
            <div class="dropdown-title"><a href="http://www.tecenet.com/">天成医疗网</a><i class="arrow"></i></div>
            <ul class="dropdown-body clearfix">
                <li><a href="http://www.tecenet.com/chanpin/" target="_blank">产品</a></li>
                <li><a href="http://www.tecenet.com/fuwu/" target="_blank">维修</a></li>
                <li><a href="http://www.tecenet.com/gongying/" target="_blank">供需</a></li>
                <li><a href="http://www.tecenet.com/zhaobiao/" target="_blank">招标</a></li>
                <li><a href="http://tech.tecenet.com/" target="_blank">资质</a></li>
                <li><a href="http://job.tecenet.com/" target="_blank">招聘</a></li>
                <li><a href="http://www.tecenet.com/gongsi/" target="_blank">厂商</a></li>
                <li><a href="http://www.tecenet.com/zixun/" target="_blank">资讯</a></li>
                <li><a href="http://www.tecenet.com/gongxiang/" target="_blank">共享</a></li>
                <li><a href="http://www.tecenet.com/wenda/" target="_blank">问答</a></li>
            </ul>
        </div>
        <div class="top-bar-divide pull-left"></div>
        <a class="top-bar-link pull-left" href="" target="_blank" rel="nofollow">招标宝</a>
        <a class="top-bar-link pull-left" href="" target="_blank" rel="nofollow">医单客</a>
        <a class="top-bar-link pull-left" href="http://so.tecenet.com/" target="_blank" rel="nofollow" title="医疗器械产业专业搜索引擎">天成医搜</a>
        <a class="top-bar-link pull-left" href="http://hao.tecenet.com/" target="_blank" rel="nofollow" title="中国最大医疗器械厂家导航">医疗厂家导航</a>
        <!--<div class="top-bar-divide pull-left"></div>-->
        <!--<a class="top-bar-link pull-left" href="http://www.sharedour.com/" target="_blank" rel="nofollow" title="国内最全面的在线医疗产品服务平台">享道医械所</a>-->
        <!--<a class="top-bar-link pull-left" href="http://www.medcha.com" target="_blank" rel="nofollow" title="跨境电商">MEDCHA</a>-->


        <div class="top-bar-link pull-right" title="天成医疗网客服"><i class="t-b-i tel"></i>400-617-3599</div>
        <div class="top-bar-divide pull-right"></div>
        <a class="top-bar-link pull-right" href="javascript:;" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&amp;userId=6452136&amp;s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);"><i class="t-b-i service"></i>在线客服</a>
        <div class="top-bar-divide pull-right"></div>
        <div class="top-bar-mobile top-bar-dropdown pull-right">
            <div class="dropdown-title">移动应用<i class="arrow"></i></div>
            <ul class="dropdown-body clearfix">
                <li><a href="">手机客户端</a></li>
                <li><a href="">WAP站</a></li>
                <li><a href="">微信公众号</a></li>
            </ul>
        </div>

        <div class="top-bar-divide pull-right"></div>

        <!--注册&登录
        <a class="top-bar-link pull-right" href="http://www.tecenet.com/member/register.php">注册</a>
        <div class="top-bar-login top-bar-dropdown pull-right">
            <div class="dropdown-title">登录<i class="arrow"></i></div>
            <ul class="dropdown-body clearfix">
                <li class="tecenet"><a href=""><i></i>天成账号登录</a></li>
                <li class="wechat"><a href=""><i></i>微信账号登录</a></li>
                <li class="qq"><a href=""><i></i>QQ账号登录</a></li>
            </ul>
        </div>
        <!--注册&登录 end-->

        <!--会员中心-->
        <a href="" class="top-bar-link top-bar-message pull-right" title="站内信"><i class="t-b-i message"></i><em></em></a>
        <div class="top-bar-divide pull-right"></div>
        <div class="top-bar-add top-bar-dropdown pull-right">
            <div class="dropdown-title" title="发布"><i class="t-b-i add"></i></div>
            <ul class="dropdown-body clearfix">
                <li><a href="">设备服务需求</a></li>
                <li><a href="">技术工程师</a></li>
                <li><a href="">厂家品牌管理</a></li>
                <li><a href="">产品中心管理</a></li>
                <li><a href="">供求行情管理</a></li>
                <li><a href="">招标采购管理</a></li>
                <li><a href="">信息资讯管理</a></li>
                <li><a href="">资料共享管理</a></li>
                <li><a href="">医疗科技管理</a></li>
                <li><a href="">行业问答管理</a></li>
                <li><a href="">职位招聘信息</a></li>
                <li><a href="">个人求职简历</a></li>
            </ul>
        </div>
        <div class="top-bar-divide pull-right"></div>
        <div class="top-bar-member top-bar-dropdown pull-right">
            <div class="dropdown-title"><img class="thumb" src="http://www.tecenet.com/api/avatar/defaultpic/2.jpg" alt="avatar">人可金失土成<i class="arrow"></i></div>
            <div class="dropdown-body user-info">
                <div class="user-info-hd">
                    <a href="" target="_blank"><img class="avatar pull-left" src="http://www.tecenet.com/api/avatar/defaultpic/2.jpg" alt="avatar"></a>
                    <dl class="clearfix">
                        <dt class="user-name"><a href="" target="_blank">人可金失土成</a><i class="t-b-i vip disable"></i></dt>
                        <dd class="clearfix">
                            <a href="#" target="_blank">积分<span>0</span></a>
                            <a href="#" target="_blank">天成币<span>0</span></a>
                        </dd>
                    </dl>
                </div>
                <ul class="user-info-bd clearfix">
                    <li class="t-b-i order"><a href="#" target="_blank">我的订单</a></li>
                    <li class="t-b-i purchase"><a href="#" target="_blank">我的采购</a></li>
                    <li class="t-b-i mark"><a href="#" target="_blank">我的收藏</a></li>
                    <li class="t-b-i friend"><a href="#" target="_blank">我的好友</a></li>
                </ul>
                <div class="user-info-ft">
                    <a href="#" target="_blank">会员中心</a>|<a href="#" target="_blank">退出</a>
                </div>
            </div>
        </div>
        <!--会员中心 end-->
    </div>
</div>
<!--top-bar end-->
<!--page-header-->
<div class="page-header">
    <div class="w1200 box-center clearfix">
        <!--logo-->
        <a href="http://www.tecenet.com/gongsi/" class="logo pull-left">
            <h1>天成医疗网<em>产品</em></h1>
            <span>www.tecenet.com/chanpin/</span>
        </a>
        <!--logo end-->

        <!--tc-search-->
        <div class="tc-search pull-right">
            <form id="" class="site-frm pull-left" action="http://www.tecenet.com/search.php" onsubmit="return Dsearch();">
                <div class="select-group" id="select-tab">
                    <button type="button" class="select-btn" id="select-btn">
                        默认全站<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" id="search-type">
                        <li><a href="javascript:void(0)" data-mid="0" data-mname="默认全站" rel="nofollow">默认全站</a></li>
                        <li><a href="javascript:void(0)" data-mid="9" data-mname="服务需求" rel="nofollow">服务需求</a></li>
                        <li><a href="javascript:void(0)" data-mid="9" data-mname="技术工程师" data-action="resume" rel="nofollow">技术工程师</a></li>
                        <li><a href="javascript:void(0)" data-mid="13" data-mname="厂商品牌" rel="nofollow">厂商品牌</a></li>
                        <li><a href="javascript:void(0)" data-mid="4" data-mname="厂商网店" rel="nofollow">厂商网店</a></li>
                        <li><a href="javascript:void(0)" data-mid="16" data-mname="产品平台" rel="nofollow">产品平台</a></li>
                        <li><a href="javascript:void(0)" data-mid="5" data-mname="供应信息" rel="nofollow">供应信息</a></li>
                        <li><a href="javascript:void(0)" data-mid="6" data-mname="求购信息" rel="nofollow">求购信息</a></li>
                        <li><a href="javascript:void(0)" data-mid="21" data-mname="文章中心" rel="nofollow">文章中心</a></li>
                        <li><a href="javascript:void(0)" data-mid="10" data-mname="问答平台" rel="nofollow">问答平台</a></li>
                        <li><a href="javascript:void(0)" data-mid="15" data-mname="共享下载" rel="nofollow">共享下载</a></li>
                    </ul>
                </div>
                <input type="hidden" name="moduleid" value="0" id="destoon_moduleid">
                <input type="hidden" name="from" value="1">
                <input type="hidden" name="spread" value="0" id="destoon_spread">
                <input type="hidden" name="action" value="" id="sresume">
                <input type="text" name="kw" value="" id="topkeyword" class="site-txt pull-left">
                <input type="submit" class="site-submit  pull-left" value="搜本站">
            </form>
            <form class="so-frm pull-left" action="http://so.tecenet.com/search.php" method="get" target="_blank" onsubmit="return soTecnentValue();">
                <input type="text" name="keyword" value="" id="soInputTxt" class="so-txt" autocomplete="off">
                <input class="so-submit" type="submit" value="搜医搜">
            </form>
        </div>
        <!--tc-search end-->
    </div>
</div>
<!--page-header end-->

<!--page-nav-->
<div class="page-nav">
    <div class="w1200 box-center">
        <ul class="page-nav-main clearfix">
            <li class="page-sub-nav current">
                <a href="#">产品首页</a>
            </li>
            <li class="page-sub-nav"><a href="#">普通供应信息</a></li>
            <li class="page-sub-nav"><a href="#">求购需求信息</a></li>
            <li class="page-sub-nav"><a href="#">求购需求信息</a></li>
            <li class="page-sub-nav"><a href="#">其他相关信息</a></li>
            <li class="page-sub-nav"><a href="#">发布供求信息</a></li>
        </ul>
    </div>
</div>
<!--page-nav end-->

<!--container-->
<div class="container">
    <!--crumb-->
    <div class="crumb ">
        <a href="http://www.t_tecenet.com/">天成医疗网首页</a><span>&gt;</span>
        <a href="http://www.t_tecenet.com/chanpin/">产品库</a><span>&gt;</span>
        <a href="http://www.t_tecenet.com/chanpin/so-715-0-0-0.html">医疗器械/设备</a>
    </div>
    <!--crumb end-->



    <!--cp-keyword-layout-->
    <div class="cp-keyword-layout clearfix">
        <!--main-->
        <div class="main pull-left">
            <!--keyword-wrap-->
            <div class="keyword-wrap">
                <h2 class="keyword-val">治疗仪</h2>
                <p class="keyword-intro">
                    适用范围具有一定保健作用，但不能代替药物治疗和正规医疗 1、肢体疼痛类疾病：颈椎病、骨质增生、腰肌劳损、腰椎间盘脱出、坐骨神经痛、股骨头坏死、类风湿性关节炎、肩周炎、网球肘、中风后遗症（偏瘫）、陈旧性损伤、腰腿（四肢、躯干）疼痛、酸楚、麻木、曲伸不利等；
                </p>

                <div class="keyword-extend clearfix">
                    <div class="keyword-extend-hd pull-left">您是不是在找：</div>
                    <div class="keyword-extend-bd pull-right">
                        <a href="">三高激光治疗仪</a>
                        <a href="">半导体激光治疗仪</a>
                        <a href="">腕式激光治疗仪</a>
                        <a href="">冷激光治疗仪</a>
                        <a href="">CO2激光治疗仪</a>
                    </div>
                </div>

                <div class="keyword-area">
                    <div class="keyword-area-hd">按地区找关键词</div>
                    <ul class="keyword-area-bd">
                        <li><a href="">北京</a></li>
                        <li><a href="">上海</a></li>
                        <li><a href="">天津</a></li>
                        <li><a href="">重庆</a></li>
                        <li><a href="">河北</a></li>
                        <li><a href="">山西</a></li>
                        <li><a href="">内蒙古</a></li>
                        <li><a href="">辽宁</a></li>
                        <li><a href="">吉林</a></li>
                        <li><a href="">黑龙江</a></li>
                        <li><a href="">江苏</a></li>
                        <li><a href="">浙江</a></li>
                        <li><a href="">安徽</a></li>
                        <li><a href="">福建</a></li>
                        <li><a href="">江西</a></li>
                        <li><a href="">山东</a></li>
                        <li><a href="">河南</a></li>
                        <li><a href="">湖北</a></li>
                        <li><a href="">湖南</a></li>
                        <li><a href="">广东</a></li>
                        <li><a href="">广西</a></li>
                        <li><a href="">海南</a></li>
                        <li><a href="">四川</a></li>
                        <li><a href="">贵州</a></li>
                        <li><a href="">云南</a></li>
                        <li><a href="">西藏</a></li>
                        <li><a href="">陕西</a></li>
                        <li><a href="">甘肃</a></li>
                        <li><a href="">青海</a></li>
                        <li><a href="">宁夏</a></li>
                        <li><a href="">新疆</a></li>
                        <li><a href="">台湾</a></li>
                        <li><a href="">香港</a></li>
                        <li><a href="">澳门</a></li>
                    </ul>
                </div>
            </div>
            <!--keyword-wrap end-->


            <form method="post" id="mallForm" target="_blank">
                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201408/14/14-24-29-94-29811.png.thumb.png" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">西门子彩超全套配件</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">奥林巴斯</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">EVIS LUCERA ELITE</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">其他医学检验仪器</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">奥林巴斯（广州）工业有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529569"><input type="checkbox" id="check_529569" name="itemid[]" value="529569">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">博恩</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">BE-5000</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">物理治疗及康复设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">河南博恩医疗新技术有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529583"><input type="checkbox" id="check_529583" name="itemid[]" value="529583">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/134849158222.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">YX—200A玉玄宫经络治疗仪</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">玉玄宫 </em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">YX—200A</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省佛山市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>急诊科</i><i>中医科</i><i>中西医结合科</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_517557"><input type="checkbox" id="check_517557" name="itemid[]" value="517557">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201408/14/14-24-29-94-29811.png.thumb.png" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">西门子彩超全套配件</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">奥林巴斯</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">EVIS LUCERA ELITE</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">其他医学检验仪器</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">奥林巴斯（广州）工业有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529569"><input type="checkbox" id="check_529569" name="itemid[]" value="529569">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">博恩</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">BE-5000</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">物理治疗及康复设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">河南博恩医疗新技术有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529583"><input type="checkbox" id="check_529583" name="itemid[]" value="529583">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/134849158222.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">YX—200A玉玄宫经络治疗仪</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">玉玄宫 </em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">YX—200A</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省佛山市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>急诊科</i><i>中医科</i><i>中西医结合科</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_517557"><input type="checkbox" id="check_517557" name="itemid[]" value="517557">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201408/14/14-24-29-94-29811.png.thumb.png" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">西门子彩超全套配件</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">奥林巴斯</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">EVIS LUCERA ELITE</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">其他医学检验仪器</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">奥林巴斯（广州）工业有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529569"><input type="checkbox" id="check_529569" name="itemid[]" value="529569">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">博恩</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">BE-5000</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">物理治疗及康复设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">河南博恩医疗新技术有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529583"><input type="checkbox" id="check_529583" name="itemid[]" value="529583">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/134849158222.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">YX—200A玉玄宫经络治疗仪</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">玉玄宫 </em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">YX—200A</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省佛山市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>急诊科</i><i>中医科</i><i>中西医结合科</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_517557"><input type="checkbox" id="check_517557" name="itemid[]" value="517557">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201408/14/14-24-29-94-29811.png.thumb.png" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">西门子彩超全套配件</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">奥林巴斯</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">EVIS LUCERA ELITE</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">其他医学检验仪器</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">奥林巴斯（广州）工业有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529569"><input type="checkbox" id="check_529569" name="itemid[]" value="529569">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">博恩</em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">BE-5000</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">物理治疗及康复设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">河南博恩医疗新技术有限公司</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省广州市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>检验科</i><i>肛肠科</i><i>手术室</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_529583"><input type="checkbox" id="check_529583" name="itemid[]" value="529583">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>

                <div class="cp-card cp-kw-card clearfix">
                    <div class="cp-img pull-left">
                        <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/134849158222.jpg.thumb.jpg" alt=""></a>
                    </div>
                    <div class="cp-txt pull-left">
                        <h3 class="text-overflow"><a href="#" target="_blank">YX—200A玉玄宫经络治疗仪</a></h3>
                        <ul class="cp-param clearfix">
                            <li><span class="cp-param-key">产品品牌：</span><em class="cp-param-val">玉玄宫 </em></li>
                            <li><span class="cp-param-key">产品型号：</span><em class="cp-param-val">YX—200A</em></li>
                            <li><span class="cp-param-key">产品分类：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">注册证号：</span><em class="cp-param-val">粤械注准20152220084</em></li>
                            <li><span class="cp-param-key">生产厂商：</span><em class="cp-param-val">医用超声仪器及有关设备</em></li>
                            <li><span class="cp-param-key">所在地区：</span><em class="cp-param-val">广东省佛山市</em></li>
                            <li><span class="cp-param-key">相关科室：</span><em class="cp-param-val"><i>急诊科</i><i>中医科</i><i>中西医结合科</i></em></li>
                            <li><a href="#" target="_blank" class="more">更多参数>></a></li>
                        </ul>
                    </div>
                    <div class="cp-btn pull-right">
                        <label class="compare-btn" for="check_517557"><input type="checkbox" id="check_517557" name="itemid[]" value="517557">对比</label>
                        <a class="cheaper-btn" href="#" target="_blank">查询底价</a>
                    </div>
                </div>


            </form>

            <!--分页-->
            <div class="pagination">
                <ul>
                    <li class="prev"><a href="#">上一页</a></li>
                    <li><a href="#">1</a></li>
                    <li><a class="on" href="javascript:;">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li class="pt">...</li>
                    <li><a href="#">104</a></li>
                    <li class="next"><a href="#">下一页</a></li>
                </ul>
                <ul>
                    <li>转到</li>
                    <li><input type="text"></li>
                    <li>页</li>
                    <li><input type="button" value="确定"></li>
                </ul>
            </div>
            <!--分页 end-->
        </div>
        <!--main end-->

        <!--side-->
        <div class="side slide-show pull-right">
            <!--推荐产品-->
            <div class="module">
                <div class="module-hd">
                    <span>推荐产品</span>
                    <a href="javascript:;" class="next refresh pull-right cp-i" title="换一批"></a>
                    <ul class="hidden"></ul>
                </div>
                <div class="module-bd vertical-show clearfix">
                    <ul>
                        <li class="vertical-show-item">
                            <div class="vertical-show-img">
                                <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201407/01/11-28-22-65-8.jpg.middle.jpg" alt=""></a>
                            </div>
                            <div class="vertical-show-info">
                                <p class="vertical-show-name text-overflow" title="电子体温计 TH839S"><a href="#" target="_blank">电子体温计 TH839S</a></p>
                                <p class="vertical-show-company text-overflow"><a href="#" target="_blank">迈德斯特医疗器械</a></p>
                                <p class="vertical-show-cate"><a href="#" target="_blank">检验科</a><a href="#" target="_blank">肛肠科</a><a href="#" target="_blank">手术室</a></p>
                            </div>
                        </li>
                        <li class="vertical-show-item">
                            <div class="vertical-show-img">
                                <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.middle.jpg" alt=""></a>
                            </div>
                            <div class="vertical-show-info">
                                <p class="vertical-show-name text-overflow" title="智能数码多功能治疗仪（中药离子导入仪）"><a href="#" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></p>
                                <p class="vertical-show-company text-overflow"><a href="#" target="_blank">河南博恩医疗新技术有限公司</a></p>
                                <p class="vertical-show-cate"><a href="#" target="_blank">中西医结合科</a><a href="#" target="_blank">手术室</a></p>
                            </div>
                        </li>
                        <li class="vertical-show-item">
                            <div class="vertical-show-img">
                                <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/25/1017066337007.jpg.middle.jpg" alt=""></a>
                            </div>
                            <div class="vertical-show-info">
                                <p class="vertical-show-name text-overflow" title="BE-6000多功能型中药离子导入仪+超声波药导治疗+音频疗法"><a href="#" target="_blank">BE-6000多功能型中药离子导入仪+超声波药导治疗+音频疗法</a></p>
                                <p class="vertical-show-company text-overflow"><a href="#" target="_blank">迈德斯特医疗器械</a></p>
                                <p class="vertical-show-cate"><a href="#" target="_blank">医学教学器械</a><a href="#" target="_blank">ICU</a></p>
                            </div>
                        </li>
                        <li class="vertical-show-item">
                            <div class="vertical-show-img">
                                <a href="#" target="_blank"><img src="http://www.tecenet.com/file/upload/201407/01/11-28-22-65-8.jpg.middle.jpg" alt=""></a>
                            </div>
                            <div class="vertical-show-info">
                                <p class="vertical-show-name text-overflow" title="电子体温计 TH839S"><a href="#" target="_blank">电子体温计 TH839S</a></p>
                                <p class="vertical-show-company text-overflow"><a href="#" target="_blank">迈德斯特医疗器械</a></p>
                                <p class="vertical-show-cate"><a href="#" target="_blank">检验科</a><a href="#" target="_blank">肛肠科</a><a href="#" target="_blank">手术室</a></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!--推荐产品 end-->

            <!--猜你喜欢-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>猜你喜欢</span>
                </div>
                <div class="module-bd keyword-show clearfix">
                    <a href="">心电监护</a>
                    <a href="">心电记录盒</a>
                    <a href="">心电监护仪</a>
                    <a href="">心电图机</a>
                    <a href="">颅内压监护仪</a>
                    <a href="">心电图</a>
                    <a href="">心电导联线</a>
                    <a href="">胎儿监护</a>
                    <a href="">心电电极</a>
                    <a href="">心电</a>
                    <a href="">除颤监护仪</a>
                    <a href="">动态心电图</a>
                </div>
            </div>
            <!--猜你喜欢 end-->

            <!--最新产品-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>最新产品</span>
                </div>
                <div class="module-bd horizontal-show clearfix">
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201407/01/11-28-22-65-8.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="电子体温计 TH839S"><a href="" target="_blank">电子体温计 TH839S</a></p>
                            <p class="horizontal-show-company text-overflow" title="欧姆龙健康医疗（中国）有限公司"><a href="" target="_blank">欧姆龙健康医疗（中国）有限公司</a></p>
                        </div>
                    </div>
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="智能数码多功能治疗仪（中药离子导入仪）"><a href="" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></p>
                            <p class="horizontal-show-company text-overflow" title="河南博恩医疗新技术有限公司"><a href="" target="_blank">河南博恩医疗新技术有限公司</a></p>
                        </div>
                    </div>
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201407/01/11-28-22-65-8.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="电子体温计 TH839S"><a href="" target="_blank">电子体温计 TH839S</a></p>
                            <p class="horizontal-show-company text-overflow" title="欧姆龙健康医疗（中国）有限公司"><a href="" target="_blank">欧姆龙健康医疗（中国）有限公司</a></p>
                        </div>
                    </div>
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="智能数码多功能治疗仪（中药离子导入仪）"><a href="" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></p>
                            <p class="horizontal-show-company text-overflow" title="河南博恩医疗新技术有限公司"><a href="" target="_blank">河南博恩医疗新技术有限公司</a></p>
                        </div>
                    </div>
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201407/01/11-28-22-65-8.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="电子体温计 TH839S"><a href="" target="_blank">电子体温计 TH839S</a></p>
                            <p class="horizontal-show-company text-overflow" title="欧姆龙健康医疗（中国）有限公司"><a href="" target="_blank">欧姆龙健康医疗（中国）有限公司</a></p>
                        </div>
                    </div>
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="" target="_blank"><img src="http://www.tecenet.com/file/upload/201602/26/0856059237007.jpg.middle.jpg" alt=""></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name" title="智能数码多功能治疗仪（中药离子导入仪）"><a href="" target="_blank">智能数码多功能治疗仪（中药离子导入仪）</a></p>
                            <p class="horizontal-show-company text-overflow" title="河南博恩医疗新技术有限公司"><a href="" target="_blank">河南博恩医疗新技术有限公司</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <!--最新产品 end-->

            <!--推荐供应商-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>推荐供应商</span>
                </div>
                <div class="module-bd company-show clearfix">
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201510/08/16-57-15-84-8.jpg" alt="">
                        <p class="company-show-name">北京英诺特生物技术有限公司</p>
                    </a>
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201504/28/13-41-03-22-34261.jpg" alt="">
                        <p class="company-show-name">东莞市铭雷电子科技有限公司</p>
                    </a>
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201702/05/1502258438324.png" alt="">
                        <p class="company-show-name">珠海雅莎生物科技股份有限公司</p>
                    </a>
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201703/10/1637019637042.jpg" alt="">
                        <p class="company-show-name">广州达泰生物工程技术有限公司</p>
                    </a>
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201703/10/1556321633844.jpg" alt="">
                        <p class="company-show-name">佛山麦澳医疗科技有限公司</p>
                    </a>
                    <a href="#" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="http://www.tecenet.com/file/upload/201510/08/16-57-15-84-8.jpg" alt="">
                        <p class="company-show-name">北京英诺特生物技术有限公司</p>
                    </a>
                </div>
            </div>
            <!--推荐供应商 end-->
        </div>
        <!--side end-->

    </div>
    <!--cp-keyword-layout end-->
</div>
<!--container end-->

<!--对比框-->
<div class="compare-box" style="display: none;">
    <div class="compare-box-hd">
        <span>[<em></em>/4]对比框</span>
        <button class="compare-box-close" type="button" onclick="$(this).parent().parent('.compare-box').hide();">×</button>
    </div>
    <div class="compare-box-bd">
        <ul></ul>
    </div>
    <div class="compare-box-ft">
        <button type="button" class="compare-box-btn">开始对比</button>
    </div>
</div>
<!--对比框 end-->



<!--tc-footer-->
<iframe src="http://188.188.8.121/tecenet/version.2017/footer/footer.html" frameborder="0"  width="100%" height="437"></iframe>
<!--tc-footer end-->


<script type="text/javascript" src="http://www.t_tecenet.com/file/script/jquery.js"></script>
<script type="text/javascript" src="http://www.t_tecenet.com/file/script/jquery.SuperSlide.2.1.1.source.js"></script>
<script type="text/javascript" src="./js/tc.chanpin.list.js"></script>



</body>
</html>