<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" id="dform" action="{$DT[file_my]}" target="send" onsubmit="return check();">
    {if $_POST['qqitemid']}
    {php $title=strip_tags($_POST['title']);}
    {php $content=$_POST['content'];}
    {php $introduce=$content;}
    {php $qqitemid=strip_tags($_POST['qqitemid']);}
    <input type="hidden" name="qqitemid" value="{$qqitemid}"/>
    {/if}
    <input type="hidden" name="action" value="{$action}"/>
    <input type="hidden" name="mid" value="{$mid}"/>
    <input type="hidden" name="itemid" value="{$itemid}"/>
    <input type="hidden" name="forward" value="{$forward}"/>
    <table cellpadding="6" cellspacing="1" class="tb">
        {if $status==1 && $action=='edit' && $note}
        <tr>
            <td class="tl">未通过原因</td>
            <td class="tr f_blue">{$note}</td>
        </tr>
        {/if}
        <tr>
            <td class="tl"><span class="f_red">*</span> 产品名称</td>
            <td class="tr f_gray"><input name="post[title]" type="text" id="title" size="50" value="{$title}" {if $_groupid == 5}readonly="readonly"  {/if}/> （2-30个字）<span id="dtitle" class="f_red"></span></td>
        </tr>
        
        <style>
            .upload-area-hd{font-size: 12px;font-style: normal;color: #888;margin-bottom: 10px;}
            .upload-item{overflow: hidden;margin: 10px 0;}
            .upload-item input{float: left;}
            .upload-item input[name*='certName']{width: 128px;margin-right: 10px;}
            .upload-item input[name*='document']{width: 280px;border-right: none;}
            .upload-item input[name*='validDate']{width: 120px;}
            .upload-btn-area{font-size: 0;padding: 8px 0 8px 10px;margin-right: 10px;float: left;border: 1px solid #ddd;border-left: none;}
            .upload-btn-area a{font-size: 12px;padding:0 10px;position: relative;}
            .upload-btn-area a:before{content:"";position: absolute;left: 0;top:0px;width: 1px;height: 16px;background-color: #ddd;}
            .upload-date-img{float: left;margin: 8px;}
            #d_calendar{margin-top: 14px;}
            a.upload-item-add,a.upload-item-remove{position: relative;height: 30px;float: left;padding:0 15px 0 30px;border: 1px solid #e56639;background-color: #fff;color: #e56639;font-size: 14px;line-height: 30px;}
            a.upload-item-add{margin: 0 0 10px 0;}
            a.upload-item-remove{margin: 1px 0 1px 10px;}
            a.upload-item-add:hover,a.upload-item-remove:hover{background-color: #fff4f1;}
            a.upload-item-add:before,a.upload-item-add:after,a.upload-item-remove:before{content:"";position: absolute;left: 18px;top:50%;background-color: #e56639;}
            a.upload-item-add:before,a.upload-item-remove:before{width: 14px;height: 1px;margin-left: -7px;}
            a.upload-item-add:after{width: 1px;height: 14px;margin-top: -7px;}
            .upload-area-ft{overflow: hidden;}
            .upload-msg span{margin-top: 5px;}
        </style>
        <script type="text/javascript" src="http://www.tecenet.com/file/script/calendar.js"></script>

        <tr class="upload-img">
            <td class="tl">
                <span class="f_red">*</span>产品相关证件
            </td>
            <td class="tr f_gray">
                <div class="upload-area">
                    <div class="upload-area-bd" data-itemCount="{count($cert)}">
                        {if $cert}
                        <input type="hidden" id="removeID" name="certRemoveID" value="" />
                            {loop $cert $key $item}

                            <div class="upload-item" data-id="{$key}">
                                <input type="hidden" name="cert[{$key}][itemid]" value="{$item[itemid]}" />
                                <input class="inputtext" type="text" name="cert[{$key}][certName]" id="certName{$key}"
                                       value="{$item['title']}" {if $item[isMust]} disabled="disabled" {/if} />
                                <input class="inputtext" type="text" name="cert[{$key}][document]" id="document{$key}"
                                       placeholder="请上传证件图片" value="{$item[thumb]}" readonly />
                                <span class="upload-btn-area">
                                    <a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('document{$key}').value, true,'document{$key}');" class="t">[上传]</a>
                                    <a href="javascript:void(0);" onclick=" _preview(Dd('document{$key}').value);" class="t">[预览]</a>
                                    <a href="javascript:void(0);" onclick="Dd('document{$key}').value='';" class="t">[删除]</a>
                                </span>

                                <input class="inputtext" type="text" name="cert[{$key}][validDate]"
                                       id="validDate{$key}" placeholder="请选择证件有效期"
                                       onfocus="ca_show('validDate{$key}', this, '-');" readonly="" ondblclick="this.value='';"
                                       value="{date('Y-m-d',$item['expiretime'])}">
                                {if !$item[isMust]}<a href="javascript:;" class="upload-item-remove">删除</a>{/if}
                                {if $item[isMust]}<input type="hidden" name="cert[{$key}][isMust]" value="1" />{/if}

                                <div class="upload-msg">
                                    <span id="dcertName" class="f_red"></span>
                                    <span id="ddocument" class="f_red"></span>
                                    <span id="dvalidDate" class="f_red"></span>
                                </div>
                            </div>
                            {/loop}
                        {else}
                        <div class="upload-item" data-id="0">
                            <input type="hidden" name="cert[0][isMust]" value="1" />
                            <input class="inputtext" type="text" name="cert[0][certName]" id="certName" value="注册证" disabled="disabled" />
                            <input class="inputtext" type="text" name="cert[0][document]" id="document" placeholder="请上传证件图片" readonly />
                            <span class="upload-btn-area">
                                <a href="javascript:void(0);" onclick="Dthumb({$moduleid},0,0, Dd('document').value, true,'document');" class="t">[上传]</a>
                                <a href="javascript:void(0);" onclick=" _preview(Dd('document').value);" class="t">[预览]</a>
                                <a href="javascript:void(0);" onclick="Dd('document').value='';" class="t">[删除]</a>
                            </span>

                            <input class="inputtext" type="text" name="cert[0][validDate]" id="validDate" placeholder="请选择证件有效期" onfocus="ca_show('validDate', this, '-');" readonly="" ondblclick="this.value='';">
                            <div class="upload-msg">
                                <span id="dcertName" class="f_red"></span>
                                <span id="ddocument" class="f_red"></span>
                                <span id="dvalidDate" class="f_red"></span>
                            </div>
                        </div>
                        {/if}
                    </div>
                    <div class="upload-area-ft">
                        <a href="javascript:;" class="upload-item-add">添加</a>
                    </div>
                    <!--
                    <div class="upload-area-hd">
                        是否在产品详情页展示：<label><input type="radio" name="show" checked>是</label><label><input type="radio" name="show">否</label>
                    </div>
                    -->
                    <div class="upload-area-hd">
                        请上传产品相关证件如：注册证、授权销售委托书、厂家营业执照、厂家生产许可证、品牌授权证书、进口品牌商品请上传报关单证书、正规部门提供的质检检疫报告等。
                    </div>
                </div>
            </td>
        </tr>
        <script>
        // 添加维修区域
        $(document).ready(function() {
            var MaxInputs       = 19; //maximum input boxes allowed
            var InputsWrapper   = $(".upload-area-bd"); //Input boxes wrapper ID
            var InputItem       = InputsWrapper.find(".upload-item");
            var AddButton       = $(".upload-item-add"); //Add button ID

            var x = InputItem.length; //initlal text box count
            var FieldCount= $(".upload-item:last-child").attr("data-id"); //to keep track of text box added
            var removeVal = [];
            var removeInput  = $("#removeID");

            $(AddButton).click(function (e)  //on add input button click
            {
                if(x < MaxInputs+1) //max input box allowed
                {
                    FieldCount++; //text box added increment
                    //add input box
                    $(InputsWrapper).append('<div class="upload-item" data-id="'+FieldCount+'">'+
                        '<input class="inputtext" type="text" name="cert['+FieldCount+'][certName]" id="certName'+FieldCount+'" placeholder="请输入证件名称" />'+
                        '<input class="inputtext" type="text" name="cert['+FieldCount+'][document]" id="document'+FieldCount+'" placeholder="请上传证件图片" readonly />'+
                        '<span class="upload-btn-area">'+
                        '<a href="javascript:void(0);" onclick="Dthumb(16,0,0, Dd(\'document'+FieldCount+'\').value, true,\'document'+FieldCount+'\');" class="t">[上传]</a>'+
                        '<a href="javascript:void(0);" onclick=" _preview(Dd(\'document'+FieldCount+'\').value);" class="t">[预览]</a>'+
                        '<a href="javascript:void(0);" onclick="Dd(\'document'+FieldCount+'\').value=\'\';" class="t">[删除]</a>'+
                        '</span>'+
                        '<input class="inputtext" type="text" name="cert['+FieldCount+'][validDate]" id="validDate'+FieldCount+'" placeholder="请选择证件有效期" onfocus="ca_show(\'validDate'+FieldCount+'\', this, \'-\');" readonly="" ondblclick="this.value=\'\';">'+
                        '<a href="javascript:;" class="upload-item-remove">删除</a>'+
                        '<div class="upload-msg">'+
                        '<span id="dcertName'+FieldCount+'" class="f_red"></span>'+
                        '<span id="ddocument'+FieldCount+'" class="f_red"></span>'+
                        '<span id="dvalidDate'+FieldCount+'" class="f_red"></span>'+
                        '</div>'+
                        '</div>');
                    x++;
                }
                if( x == MaxInputs+1 ){
                    $(AddButton).hide();
                }
                return false;
            });
            $("body").on("click",".upload-item-remove", function(e){
                var removeID = $(this).parent('div').find("input[name$='[itemid]']");
                if( x > 1 ) {
                    if( removeID.length != 0){
                        removeVal.push(removeID.val());
                        removeInput.val(removeVal);
                    }
                    $(this).parent('div').remove(); //remove text box
                    x--; //decrement textbox
                }
                $(AddButton).show();
                return false;
            });
        });
        </script>

        <tr>
            <td class="tl"><span class="f_red">*</span> 生产厂商</td>
            <td class="tr"><input name="post[manufacturer]" type="text" size="10" value="{$manufacturer}" id="manufacturer"/><span id="dmanufacturer" class="f_red"></span></td>
        </tr>

        <tr>
            <td class="tl"><span class="f_red">*</span> 批准文号/注册证编号</td>
            <td class="tr"><input name="post[batchnum]" type="text" size="10" value="{$batchnum}" id="batchnum"/><span id="dbatchnum" class="f_red"></span></td>
        </tr>
        <tr>
            <td class="tl"><span class="f_red">*</span> 所属分类</td>
            <td class="tr">
                <!-- 高级挑选法开始 -->
                <div class="moresel fl" id="openDialog">
                    <span id="cat68" class="lenstr moretitle" title="" onmouseover="this.title=this.innerText;">{if $catidname}{$catidname}{else}请选医疗器械分类(68分类){/if}</span>
                    <span class="lenstr morecount">共<font id="catcount"></font>个</span>
                </div>
                <input type="hidden" name="post_fields[cates]" id="catessel" value="{if $cates}{$cates}{else}{if $catid},{$catid}{/if},{/if}">
                <input type="hidden" name="post_fields[catidname]"  id="catestitle" value="{if $catidname}{$catidname}{else},{/if}">
                <input type="hidden" name="catcz" id="catcz" value="0"><!-- 判断是否已经选择了，如果已经选择点击立刻打开已选择 -->
                <script type="text/javascript">var catcount=strcount(Dd('catessel').value,",");Dd('catcount').innerText=catcount-1;
                if(catcount-1>0){Dd('catcz').value='1';}
                </script>
                <input type="hidden" name="post[catid]" id="catid" value="{$catid}"><!-- 原始数据库中的CATID保留 -->
                <!-- 高级挑选法结束-->
                <span id="dcatid" class="f_red"></span>
            </td>
        </tr>
        <tr>
            <td class="tl">产品品牌</td>
            <td class="tr"><input name="post[brand]" type="text" size="30" value="{$brand}" id="pbrand"/></td>
        </tr>
        <tr style="display:none">
            <td class="tl">&nbsp;</td>
            <td  class="tr" ><input type="checkbox" name="mores" value=0 onclick="mored(6)" id="mores0">填写更多详细资料</td>
        </tr>
        <tr >
            <td class="tl"><span class="f_red">*</span> 产品价格</td>
            <td class="tr"><input name="post[price]" type="text" size="10" value="{$price}" id="price"/><span id="dprice" class="f_red"></span>&nbsp;&nbsp;<span style="color:#666;">0为面议</span>
            </td>
        </tr>
        <tr class="dsn" >
            <td class="tl">优惠价格</td>
            <td class="tr"><input type="text" name="post_fields[bprice]" id="priceb" value="{$bprice}" size="30"/> <span class="f_red" id="dbprice"></span>0为询价
                <input type="radio" name="post[bpriceovert]" value="1"{if $bpriceovert} checked{/if}/> 公开
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="post[bpriceovert]" value="0"{if !$bpriceovert} checked{/if}/> 不公开
            </td>
        </tr>
<!--         <tr>
            <td class="tl"><span class="f_red">*</span> 产品库存</td>
            <td class="tr"><input name="post[amount]" type="text" size="10" value="{$amount}" id="amount"/><span id="damount" class="f_red"></span></td>
        </tr> -->

        {if $action=='add'}
        <script type="text/javascript">
            // Dd('price').value="0";
            // Dd('amount').value="9999";
        </script>
        {/if}
        {if $CP}
        <script type="text/javascript">
            var property_catid = {$catid};
            var property_itemid = {$itemid};
            var property_admin = 0;
        </script>
        <script type="text/javascript" src="{DT_STATIC}file/script/property.js"></script>
        {if $itemid}<script type="text/javascript">setTimeout("load_property()", 1000);</script>{/if}
        <tbody id="load_property" style="display:none;">
        <tr><td></td><td></td></tr>
        </tbody>
        {/if}
        <script type="text/javascript">
            function msgbox(title,href){
                $.dialog({
                    id: 'boxdd',
                    fixed: true,
                    drag: true,
                    resize:true,
                    height:350,
                    width:880,
                    title:title,
                    focus:true,
                    max: false,
                    min: false,
                    content:'url:'+href+''
                });
            }
        </script>

        <tbody id="mores6" class="dsn">
        {if $FD}{fields_html('<td class="tl">', '<td class="tr">', $item)}{/if}
        </tbody>
        {if $_REQUEST['stype']}
        <script type="text/javascript">
            Dd('stype_{$_REQUEST['stype']}').checked=true;
        </script>
        {/if}
        <tr>
            <td class="tl"><span class="f_red">*</span> 产品图片</td>
            <td class="tr">
                <input type="hidden" name="post[thumb]" id="thumb" value="{$thumb}"/>
                {if $IMVIP || !$MG[uploadpt]}
                <input type="hidden" name="post[thumb1]" id="thumb1" value="{$thumb1}"/>
                <input type="hidden" name="post[thumb2]" id="thumb2" value="{$thumb2}"/>
                {/if}
                <table width="360">
                    <tr align="center" height="120" class="c_p">
                        <td width="120"><img src="{if $thumb}{$thumb}{else}{DT_SKIN}image/waitpic.gif{/if}" width="100" height="100" id="showthumb" title="预览图片" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb').src, 1);}else{Dalbum('',{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);}"/></td>
                        {if $IMVIP || !$MG[uploadpt]}
                        <td width="120"><img src="{if $thumb1}{$thumb1}{else}{DT_SKIN}image/waitpic.gif{/if}" width="100" height="100" id="showthumb1" title="预览图片" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb1').src, 1);}else{Dalbum(1,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb1').value, true);}"/></td>

                        <td width="120"><img src="{if $thumb2}{$thumb2}{else}{DT_SKIN}image/waitpic.gif{/if}" width="100" height="100" id="showthumb2" title="预览图片" alt="" onclick="if(this.src.indexOf('waitpic.gif') == -1){_preview(Dd('showthumb2').src, 1);}else{Dalbum(2,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb2').value, true);}"/></td>
                        {else}
                        <td width="120"><a href="grade.php" target="_blank"><img src="{DT_SKIN}image/vippic.gif" width="100" height="100"/></a></td>
                        <td width="120"><a href="grade.php" target="_blank"><img src="{DT_SKIN}image/vippic.gif" width="100" height="100"/></a></td>
                        {/if}
                    </tr>
                    <tr align="center" class="c_p">
                        <td><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_upload.gif" width="12" height="12" title="上传" onclick="Dalbum('',{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb').value, true);"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_select.gif" width="12" height="12" title="选择" onclick="selAlbum('');"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_delete.gif" width="12" height="12" title="删除" onclick="delAlbum('','wait');"/></td>
                        {if $IMVIP || !$MG[uploadpt]}
                        <td><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_upload.gif" width="12" height="12" title="上传" onclick="Dalbum(1,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb1').value, true);"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_select.gif" width="12" height="12" title="选择" onclick="selAlbum(1);"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_delete.gif" width="12" height="12" title="删除" onclick="delAlbum(1,'wait');"/></td>
                        <td><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_upload.gif" width="12" height="12" title="上传" onclick="Dalbum(2,{$moduleid},{$MOD[thumb_width]},{$MOD[thumb_height]}, Dd('thumb2').value, true);"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_select.gif" width="12" height="12" title="选择" onclick="selAlbum(2);"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_delete.gif" width="12" height="12" title="删除" onclick="delAlbum(2,'wait');"/></td>
                        {else}
                        <td onclick="if(confirm('此操作仅限{VIP}会员，是否现在申请？')) Go('grade.php');"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_upload.gif" width="12" height="12" title="上传"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_select.gif" width="12" height="12" title="选择"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_delete.gif" width="12" height="12" title="删除"/></td>
                        <td onclick="if(confirm('此操作仅限{VIP}会员，是否现在申请？')) Go('grade.php');"><img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_upload.gif" width="12" height="12" title="上传"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_select.gif" width="12" height="12" title="选择"/>&nbsp;&nbsp;<img src="{DT_STATIC}{$MODULE[2][moduledir]}/image/img_delete.gif" width="12" height="12" title="删除"/></td>
                        {/if}
                    </tr>
                </table>
                <span style="color:#666;">为了更好的展示效果，推荐图片尺寸在800*600以上，最低尺寸为400*300</span>
                <span id="dthumb" class="f_red"></span>
            </td>
        </tr>
        <tr>
            <td class="tl"><span class="f_red">*</span> 产品详情</td>
            <td class="tr f_gray">
                <!-- <span>为了增加产品的可信度，可以上传产品的销售授权书，品牌授权证书，进口品牌商品请上传报关单证书，正规部门提供的质检检疫报告等。 </span> -->
                <textarea name="post[content]" id="content" class="dsn">{$content}</textarea>
                {deditor($moduleid, 'content', $group_editor, '98%', 350)}<span id="dcontent" class="f_red"></span>
                <script type="text/javascript">
                    //fck_stop();
                </script>
            </td>
        </tr>
        <tbody id="mores6" class="dsn">
        {if $MOD[swfu] == 1}
        {php include DT_ROOT.'/api/swfupload/editor.inc.php';}
        {/if}
        </tbody>
        <tr id="mores4" class="dsn">
            <td class="tl">可选属性</td>
            <td class="tr">
                <table cellpadding="4" cellspacing="1" bgcolor="#E3EEF5">
                    <tr bgcolor="#EFF5FB" align="center">
                        <td>属性名称</td>
                        <td>属性值</td>
                    </tr>
                    <tr bgcolor="#FFFFFF" align="center">
                        <td><input name="post[n1]" type="text" size="10" value="{$n1}" id="n1"/></td>
                        <td><input name="post[v1]" type="text" size="40" value="{$v1}" id="v1"/></td>
                    </tr>
                    <tr bgcolor="#FFFFFF" align="center">
                        <td><input name="post[n2]" type="text" size="10" value="{$n2}" id="n2"/></td>
                        <td><input name="post[v2]" type="text" size="40" value="{$v2}" id="v2"/></td>
                    </tr>
                    <tr bgcolor="#FFFFFF" align="center">
                        <td><input name="post[n3]" type="text" size="10" value="{$n3}" id="n3"/></td>
                        <td><input name="post[v3]" type="text" size="40" value="{$v3}" id="v3"/></td>
                    </tr>
                    <tr bgcolor="#FFFFFF" align="center">
                        <td class="f_gray">例如：颜色</td>
                        <td class="f_gray">例如：红色|蓝色|黑色|白色 多个属性用|分割</td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td class="tl"><span class="f_red">*</span>所在地区</td>
            <td class="tr">{ajax_area_select('post[areaid]', '请选择', $areaid)}&nbsp;<span id="dareaid_1" class="f_red"></span></td>
        </tr>
        <tr{if !$_userid} style="display:none;"{/if} id="mores2">
        <td class="tl">自定义分类</td>
        <td class="tr">{$mycatid_select}&nbsp; <a href="type.php?item=mall" class="t">[管理分类]</a></td>
        </tr>
        <tr{if !$_userid} style="display:none;"{/if} id="mores1" >
        <td class="tl">我的推荐</td>
        <td class="tr">
            <input type="radio" name="post[elite]" value="1"{if $elite} checked{/if}/> 是
            &nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="post[elite]" value="0"{if !$elite} checked{/if}/> 否
        </td>
        </tr>
        {if $action=='edit'}
        <script type="text/javascript">
            Dd('mores0').checked=true;
            mored(6);
        </script>
        {/if}
        {if $fee_add}
        <tr>
            <td class="tl">发布此信息需消费</td>
            <td class="tr"><span class="f_b f_red">{$fee_add}</span> {$fee_unit}</td>
        </tr>
        {if $fee_currency == 'money'}
        <tr>
            <td class="tl">{$DT[money_name]}余额</td>
            <td class="tr"><span class="f_blue f_b">{$_money}{$fee_unit}</span> <a href="charge.php?action=pay" target="_blank" class="t">[充值]</a></td>
        </tr>
        {else}
        <tr>
            <td class="tl">{$DT[credit_name]}余额</td>
            <td class="tr"><span class="f_blue f_b">{$_credit}{$fee_unit}</span> <a href="credit.php?action=buy" target="_blank" class="t">[购买]</a></td>
        </tr>
        {/if}
        {/if}
        {if $need_password}
        <tr>
            <td class="tl"><span class="f_red">*</span> 支付密码</td>
            <td class="tr">{template 'password', 'chip'} <span id="dpassword" class="f_red"></span></td>
        </tr>
        {/if}
        {if $need_question}
        <tr>
            <td class="tl"><span class="f_red">*</span> 验证问题</td>
            <td class="tr">{template 'question', 'chip'} <span id="danswer" class="f_red"></span></td>
        </tr>
        {/if}
        {if $need_captcha}
        <tr>
            <td class="tl"><span class="f_red">*</span> 验证码</td>
            <td class="tr">{template 'captcha', 'chip'} <span id="dcaptcha" class="f_red"></span></td>
        </tr>
        {/if}
        {if $action=='add'}
       <!--  <tr style="display:none;" id="weibo_sync">
            <td class="tl">同步主题</td>
            <td class="tr" id="weibo_show"></td>
        </tr> -->
        {/if}

        <tr>
            <td class="tl">&nbsp;</td>
            <td class="tr" height="50">
                <input type="submit" name="submit" value=" 提 交 " class="btn">
                <!-- <a style="font-size: 14px;padding: 6px 12px;" href="javascript:;" onclick="check();" class="btn">提 交</a> -->
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="button" value=" 返 回 " class="btn" onclick="history.back(-1);"/>
            </td>
        </tr>
    </table>
</form>
{load('clear.js')}
{if $action=='add'}
<script type="text/javascript">s('mid_{$mid}');m('{$action}');</script>
{else}
<script type="text/javascript">s('mid_{$mid}');m('s{$status}');</script>
{/if}