<!--page-nav-->
<div class="page-nav">
    <div class="w1200 box-center">
        <ul class="page-nav-main clearfix">
            <li class="page-sub-nav current">
                <div class="nav-cate {if $menu_index == 'index'}nav-cate-active{/if}">
                    <div class="nav-cate-hd">
                        <h2>全部产品分类<i class="cp-i"></i></h2>
                    </div>
                    <div class="nav-cate-bd">
                        <div class="cate-item">
                            <h3><a href="#">手术器械</a></h3>
                            <div class="cate-pop">
                                <div class="cate-detail">
                                    <a href="{$MODULE[16]['linkurl']}jichu/" title="基础外科手术器械" target="_blank">基础外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}xianwei/" title="显微外科手术器械" target="_blank">显微外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}shenjing/" title="神经外科手术器械" target="_blank">神经外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}yanke/" title="眼科手术器械" target="_blank">眼科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}erbihou/" title="耳鼻喉科手术器械" target="_blank">耳鼻喉科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}kouqiang/" title="口腔科手术器械" target="_blank">口腔科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}xinxueguan/" title="胸腔心血管外科手术器械" target="_blank">胸腔心血管外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}fubu/" title="腹部外科手术器械" target="_blank">腹部外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}miniao/" title="泌尿肛肠外科手术器械" target="_blank">泌尿肛肠外科手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}fuchan/" title="妇产科用手术器械" target="_blank">妇产科用手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}jiaoxing/" title="矫形外科（骨科）手术器械" target="_blank">矫形外科（骨科）手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}jisheng/" title="计划生育手术器械" target="_blank">计划生育手术器械</a>
                                    <a href="{$MODULE[16]['linkurl']}shaoshang/" title="烧伤(整形)科手术器械" target="_blank">烧伤(整形)科手术器械</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate-item">
                            <h3><a href="#">常规医用试剂/仪器</a></h3>
                            <div class="cate-pop">
                                <div class="cate-detail">
                                    <a href="{$MODULE[16]['linkurl']}zhencha/" title="普通诊察器械" target="_blank">普通诊察器械</a>
                                    <a href="{$MODULE[16]['linkurl']}jianyan/" title="临床检验分析仪器" target="_blank">临床检验分析仪器</a>
                                    <a href="{$MODULE[16]['linkurl']}huayan/" title="医用化验和基础设备器具" target="_blank">医用化验和基础设备器具</a>
                                    <a href="{$MODULE[16]['linkurl']}xueyi/" title="体外循环及血液处理设备" target="_blank">体外循环及血液处理设备</a>
                                    <a href="{$MODULE[16]['linkurl']}huli/" title="病房护理设备及器具" target="_blank">病房护理设备及器具</a>
                                    <a href="{$MODULE[16]['linkurl']}xiaodu/" title="消毒和灭菌设备及器具" target="_blank">消毒和灭菌设备及器具</a>
                                    <a href="{$MODULE[16]['linkurl']}lengliao/" title="医用冷疗、低温、冷藏设备及器具" target="_blank">医用冷疗、低温、冷藏设备及器具</a>
                                    <a href="{$MODULE[16]['linkurl']}kqcl/" title="口腔科设备及器具" target="_blank">口腔科设备及器具</a>
                                    <a href="{$MODULE[16]['linkurl']}jijiu/" title="手术室、急救室、诊疗室设备及器具" target="_blank">手术室、急救室、诊疗室设备及器具</a>
                                    <a href="{$MODULE[16]['linkurl']}zhushe/" title="注射穿刺器械" target="_blank">注射穿刺器械</a>
                                    <a href="{$MODULE[16]['linkurl']}yixueshiji/" title="医学试剂" target="_blank">医学试剂</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate-item">
                            <h3><a href="#">医用高能设备</a></h3>
                            <div class="cate-pop">
                                <div class="cate-detail">
                                    <a href="{$MODULE[16]['linkurl']}chaosheng/" title="医用超声仪器及有关设备" target="_blank">医用超声仪器及有关设备</a>
                                    <a href="{$MODULE[16]['linkurl']}jiguang/" title="医用激光仪器设备" target="_blank">医用激光仪器设备</a>
                                    <a href="{$MODULE[16]['linkurl']}gaopin/" title="医用高频仪器设备" target="_blank">医用高频仪器设备</a>
                                    <a href="{$MODULE[16]['linkurl']}Xshexian/" title="医用X射线设备" target="_blank">医用X射线设备</a>
                                    <a href="{$MODULE[16]['linkurl']}xfushu/" title="医用X射线附属设备及部件" target="_blank">医用X射线附属设备及部件</a>
                                    <a href="{$MODULE[16]['linkurl']}gaoneng/" title="医用高能射线设备" target="_blank">医用高能射线设备</a>
                                    <a href="{$MODULE[16]['linkurl']}shexian/" title="医用射线防护用品、装置" target="_blank">医用射线防护用品、装置</a>
                                    <a href="{$MODULE[16]['linkurl']}hesu/" title="医用核素设备" target="_blank">医用核素设备</a>
                                    <a href="{$MODULE[16]['linkurl']}cigongzhen/" title="医用磁共振设备" target="_blank">医用磁共振设备</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate-item">
                            <h3><a href="#">医用材料</a></h3>
                            <div class="cate-pop">
                                <div class="cate-detail">
                                    <a href="{$MODULE[16]['linkurl']}kqcl/" title="口腔科材料" target="_blank">口腔科材料</a>
                                    <a href="{$MODULE[16]['linkurl']}wscl/" title="医用卫生材料及敷料" target="_blank">医用卫生材料及敷料</a>
                                    <a href="{$MODULE[16]['linkurl']}fenghe/" title="医用缝合材料及粘合剂" target="_blank">医用缝合材料及粘合剂</a>
                                    <a href="{$MODULE[16]['linkurl']}gaofenzi/" title="医用高分子材料及制品" target="_blank">医用高分子材料及制品</a>
                                    <a href="{$MODULE[16]['linkurl']}zhiru/" title="植入材料和人工器官" target="_blank">植入材料和人工器官</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate-item">
                            <h3><a href="#">医用光学仪器及内窥镜设备</a></h3>
                            <div class="cate-pop">
                                <div class="cate-detail">
                                    <a href="{$MODULE[16]['linkurl']}guangxue/" title="医用光学器具、仪器及内窥镜设备" target="_blank">医用光学器具、仪器及内窥镜设备</a>
                                    <a href="{$MODULE[16]['linkurl']}dianzi/" title="医用电子仪器设备" target="_blank">医用电子仪器设备</a>
                                </div>
                            </div>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}ruanjian/" title="医用软件">医用软件</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}jieru/" title="介入器材">介入器材</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}zhiliao/" title="物理治疗及康复设备">物理治疗及康复设备</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}zhongyi/" title="中医器械">中医器械</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}238/" title="实验室用品">实验室用品</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}yaopin/" title="药品/保健品">药品/保健品</a></h3>
                        </div>
                        <div class="cate-item">
                            <h3><a href="{$MODULE[16]['linkurl']}2016/" title="其他医疗器械">其他</a></h3>
                        </div>
                    </div>
                </div>
            </li>
            <li class="page-sub-nav"><a href="{$MODULE[16]['linkurl']}{keshi_rewrite([])}">科室产品大全</a></li>
            <li class="page-sub-nav"><a href="{$MODULE[13]['linkurl']}">品牌中心</a></li>
            <li class="page-sub-nav"><a href="{$MODULE[4]['linkurl']}">供应商中心</a></li>
            <!-- <li class="page-sub-nav"><a href="#">科室解决方案</a></li> -->
            <li class="page-sub-nav"><a href="{$MODULE[6]['linkurl']}">招标采购</a></li>
            <li class="page-sub-nav"><a href="http://www.sharedour.com/">在线商城</a></li>
            <li class="page-sub-nav"><a href="{$MODULE[21]['linkurl']}">行业信息</a></li>
        </ul>
    </div>
</div>
<!--page-nav end-->