               <div class="webmenu" style="background-color:#137eb8">
						{php $menuy=" class='menuy'";}
						{php $menun=" class='menun'";}
						<div  class="webmenulist" id="mini-dropdown-2" style="background-color:#137eb8">
						<ul class="dropdown" id="nav" style="margin-right:20px;">
						<li style="width:160px;background-color:#006ca6;text-align:center;font-size:16px;margin-right:20px;"><a href="{$MODULE[9][linkurl]}"><b>设备技术网首页</b></a></li>
						<li id="catsl"  {$menun}> <a  href="{$MODULE[9][linkurl]}{rewrite('search.php?typeid=99')}"  class="wcolor f14">找设备技术需求&nbsp;∨</a>
						{php $tagss = tag("moduleid=9&table=category&fields=catid,catname,style,item,otheritem&condition=moduleid=9 and parentid=0&pagesize=6&order=listorder ASC&template=null")}
						{if !$listpage}
						{php $listpage='list';}
						{/if}
						<ul>
						{loop $tagss $i $t}
						<li><a href="{$MOD[linkurl]}{rewrite($listpage.'.php?typeid=99&catid='.$t[catid])}"  style="width:220px;color:#006ca6;">需  {set_style($t[catname],$t[style])}  共({$t[item]})条</a></li>
						{/loop}
						</ul>
						</li>
						 <li   {$menun}> <a  href="{$MODULE[16][linkurl]}{rewrite('search_fuwu.php?stype=1&tc=9')}" target="_blank"  class="wcolor f14" >找配件/耗材</a></li>
						<li id="gcscatsl"  {$menun}> <a  href="{$MODULE[9][linkurl]}{rewrite('search.php?action=resume')}"  class="wcolor f14">找技术工程师&nbsp;∨</a>
						{if !$listpage}
						{php $listpage='list';}
						{/if}
						<ul>
						{loop $tagss $i $t}
						<li ><a href="{$MOD[linkurl]}{rewrite('search.php?action=resume&catid='.$t[catid])}" style="width:220px;color:#006ca6;">提供  {set_style($t[catname],$t[style])}  共({$t[otheritem]})人</a></li>
						{/loop}
						</ul>
						</li>
						 <li   {$menun}> <a  href="{$MODULE[10][linkurl]}"  class="wcolor f14" target="_blank">问答互助</a></li>
						 <li   {$menun}> <a  href="{$MODULE[15][linkurl]}"  class="wcolor f14" target="_blank">技术共享</a></li>
						 <li   {$menun}><a  href="javascript:void(0)"  class="wcolor f14 mou_i">发布信息&nbsp;∨</a><ul>
						 <li><a href="{$MODULE[2][linkurl]}my.php?mid={$moduleid}&action=add" target="_blank" style="color:#006ca6">发布设备技术需求</a></li><li><a href="{$MODULE[2][linkurl]}my.php?mid={$moduleid}&action=add&resume=1" target="_blank" style="color:#006ca6">加入工程师队伍</a></li></ul></li>
						</ul>
						</div>
				<div class="webmem" style="background: rgba(0, 0, 0, 0) url('{DT_SKIN}image/job/member.gif') no-repeat scroll left center;"><ul id="mstatus" style="height:40px;"><li><img src="{DT_SKIN}image/loadb.gif" style="padding-top:5px;"></li></ul>
				<span id="joinusto" class="hd" style="display: none;"></span>
				</div>
               </div>

<script type="text/javascript">
$(function(){
    $('#mini-dropdown-2 .dropdown').miniDropdown({
      animation: 'slide', 
      show: 100,
      hide: 100,
      delayIn: 100,
      delayOut: 100
    });
});
</script>
