{php $head_css = [DT_SKIN.'tc.proNews.base.min.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',DT_PATH.'file/script/mallarticle/tc.productNews.show.min.js']}

{php $menu = 'news_menu';}
{template 'module-header'}


<div class="proNews-wrap">

    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">
            <!-- pw-crumb -->
            {$navigationView}
            <!-- pw-crumb end-->

            <!--article-->
            <div class="article-box">
                <div class="article-head">
                    <h1>{$article['title']}</h1>

                    <div class="article-info">
                        <span class="article-author"><i class="iconfont icon-my"></i>作者：{$article['author']}</span>
                        <span class="article-time"><i class="iconfont icon-time"></i>发布时间：{date('Y-m-d H:i:s',$article['addtime'])}</span>
                        <span class="article-view"><i class="iconfont icon-attention"></i>阅读量：{$article['hits']}</span>
                    </div>

                    <div class="article-lead">
                        {$article['description']}
                    </div>

                    <div class="article-content">
                        {$content['content']}
                    </div>

                    <!--喜欢/踩-->
                    <div class="link-area clearfix">
                        <a href="javascript:;" onclick="send_comment(3,this)" class="link"><i class="iconfont icon-appreciate"></i><span>赞(<em>0</em>)</span></a>
                        <a href="javascript:;" onclick="send_comment(1,this)" class="dis-link"><i class="iconfont icon-buxihuan"></i><span>踩(<em>0</em>)</span></a>
                    </div>
                    <!--喜欢/踩 end-->

                    <!--分享-->
                    <div class="post-share" id="postShare">
                        <div class="post-share-title"><span>分享给身边的朋友</span></div>
                        <div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1510497703101">
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博</a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
                        </div>
                    </div>
                    <!--分享 end-->

                    <!--评论-->
                    <div class="post-comment mt30" id="SOHUCS" sid="25872"></div>
                    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
                    <script type="text/javascript">
                        window.changyan.api.config({
                            appid: 'cysX5wRYI',
                            conf: 'prod_5c734ecb243c7af56b81ad10f66b3139'
                        });
                    </script>
                    <!--评论 end-->

                    <!-- 相关文章推荐 -->
                    <div class="module">
                        <div class="module-head clearfix">
                            <h2 class="module-head-title">相关文章推荐</h2>
                        </div>
                        <ul class="relate-news clearfix">
                            {loop $recomArticles $key $article}
                            <li class="relate-news-item">
                                <a class="text-overflow" href="{$article['linkurl']}" title="{$article['title']}">
                                    {$article['title']}
                                </a>
                            </li>
                            {/loop}
                        </ul>
                    </div>
                    <!-- 相关文章推荐 end -->

                </div>
            </div>
            <!--article end-->


        </div>
        <!--main end-->

        {template 'news_right','mall'}
    </div>
    <!--container end-->

</div>

{template 'footer2017'}