{php $head_css = [DT_SKIN.'tc.proNews.base.min.css',DT_SKIN.'slick.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',DT_PATH.'file/script/mallarticle/slick.min.js',DT_PATH.'file/script/mallarticle/tc.productNews.index.js']}

{php $menu = 'news_menu';}
{template 'module-header'}

<div class="proNews-wrap">

    <!--top-img-change-->
    <div class="slider top-img-change">
        <div>
            <a class="slider-item" href="#" target="_blank">
                <img src="http://3.swiper.com.cn/demo/pcbanner3/images/slide01.jpg" alt="">
                <div class="slider-bg"></div>
                <div class="slider-info">
                    <h3 class="slider-title">人工合成钻石只需两三天,你可能戴的是“假”钻石</h3>
                    <p class="slider-desc">中国是世界上最大的人造钻石生产国。</p>
                </div>
            </a>
        </div>
        <div>
            <a class="slider-item" href="#" target="_blank">
                <img src="http://3.swiper.com.cn/demo/pcbanner3/images/slide01.jpg" alt="">
                <div class="slider-bg"></div>
                <div class="slider-info">
                    <h3 class="slider-title">人工合成钻石只需两三天,你可能戴的是“假”钻石</h3>
                    <p class="slider-desc">中国是世界上最大的人造钻石生产国。</p>
                </div>
            </a>
        </div>
        <div>
            <a class="slider-item" href="#" target="_blank">
                <img src="http://3.swiper.com.cn/demo/pcbanner3/images/slide02.jpg" alt="">
                <div class="slider-bg"></div>
                <div class="slider-info">
                    <h3 class="slider-title">人工合成钻石只需两三天,你可能戴的是“假”钻石</h3>
                    <p class="slider-desc">中国是世界上最大的人造钻石生产国。</p>
                </div>
            </a>
        </div>
    </div>
    <!--top-img-change-->


    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">

            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">分类名称1</a></h2>
                    <a class="module-head-more" href="javascript:;"><i class="iconfont icon-more"></i>查看更多</a>
                </div>
                <div class="module-body">
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/598620501f8c4963b50840a3196a07d520171112023643.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">男子盗金矿致6人死 护矿副队长曾收6千未监管获刑
                            </a></h3>
                            <p class="news-item-desc">去年5月13日晚上，平谷区黑水湾村附近一金矿内突然出现大量黄色烟雾，当地救援人员进行全面搜救后在井下发现了5具尸体</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">采矿</a>
                                    <a href="#" target="_blank">矿难</a>
                                    <a href="#" target="_blank">矿工</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>1198</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--分类 end-->

            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">分类名称1</a></h2>
                    <a class="module-head-more" href="javascript:;"><i class="iconfont icon-more"></i>查看更多</a>
                </div>
                <div class="module-body">
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/598620501f8c4963b50840a3196a07d520171112023643.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">男子盗金矿致6人死 护矿副队长曾收6千未监管获刑
                            </a></h3>
                            <p class="news-item-desc">去年5月13日晚上，平谷区黑水湾村附近一金矿内突然出现大量黄色烟雾，当地救援人员进行全面搜救后在井下发现了5具尸体</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">采矿</a>
                                    <a href="#" target="_blank">矿难</a>
                                    <a href="#" target="_blank">矿工</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>1198</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--分类 end-->

            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">分类名称1</a></h2>
                    <a class="module-head-more" href="javascript:;"><i class="iconfont icon-more"></i>查看更多</a>
                </div>
                <div class="module-body">
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/598620501f8c4963b50840a3196a07d520171112023643.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">男子盗金矿致6人死 护矿副队长曾收6千未监管获刑
                            </a></h3>
                            <p class="news-item-desc">去年5月13日晚上，平谷区黑水湾村附近一金矿内突然出现大量黄色烟雾，当地救援人员进行全面搜救后在井下发现了5具尸体</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">采矿</a>
                                    <a href="#" target="_blank">矿难</a>
                                    <a href="#" target="_blank">矿工</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>1198</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--分类 end-->

            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">分类名称1</a></h2>
                    <a class="module-head-more" href="javascript:;"><i class="iconfont icon-more"></i>查看更多</a>
                </div>
                <div class="module-body">
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>
                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/598620501f8c4963b50840a3196a07d520171112023643.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">男子盗金矿致6人死 护矿副队长曾收6千未监管获刑
                            </a></h3>
                            <p class="news-item-desc">去年5月13日晚上，平谷区黑水湾村附近一金矿内突然出现大量黄色烟雾，当地救援人员进行全面搜救后在井下发现了5具尸体</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">采矿</a>
                                    <a href="#" target="_blank">矿难</a>
                                    <a href="#" target="_blank">矿工</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>1198</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/16165817aeda46f7ab2ac873212e135120171110095604.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">Facebook 扎克伯格：科技未必能创造更多就业但能增加收入</a>
                            </h3>
                            <p class="news-item-desc">11月9日消息，随着人工智能技术的不断发展，人们一直在为他它是否会影响人们工作岗位进行争论。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">人工智能</a>
                                    <a href="#" target="_blank">科技</a>
                                    <a href="#" target="_blank">们工作岗位</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:04</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>102</span>
                            </div>
                        </div>
                    </div>

                    <div class="news-item clearfix">
                        <div class="news-item-img">
                            <a href="#" target="_blank"><img
                                    src="http://cms-bucket.nosdn.127.net/91c14d95fdaa43c48afe20c450e2176020171102150428.png"
                                    alt=""></a>
                        </div>
                        <div class="news-item-txt">
                            <h3 class="news-item-title"><a href="#" target="_blank">京东双11促销交易额超1271亿，昨日订单85%出库</a></h3>
                            <p class="news-item-desc">
                                网易科技讯11月12日消息，京东宣布，截止11月11日24点整，双十一促销（11月1日-12日）累计下单金额已超过1271亿元。</p>

                            <div class="news-item-info clearfix">
                                <div class="news-item-tags">
                                    <a href="#" target="_blank">京东</a>
                                    <a href="#" target="_blank">双十一</a>
                                    <a href="#" target="_blank">交易额</a>
                                </div>
                                <span class="news-item-time"><i class="iconfont icon-time"></i>2017-11-12 10:02</span>

                                <span class="news-item-view"><i class="iconfont icon-attention"></i>98</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--分类 end-->
        </div>
        <!--main end-->

        <!--side-->
        <div class="side">

            <!--最新快讯-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">最新快讯</a></h2>
                </div>
                <ul class="newest-list">
                    <li class="newest-item">
                        <i class="newest-dot"></i>
                        <p class="newest-title text-overflow"><a href="">马云：未来中国8成零售业态都是“新零售”</a></p>
                        <p class="newest-time">14:22</p>
                    </li>
                    <li class="newest-item">
                        <i class="newest-dot"></i>
                        <p class="newest-title text-overflow"><a href="">2017双11天猫成交1682亿元 比去年多了475亿</a></p>
                        <p class="newest-time">14:22</p>
                    </li>
                    <li class="newest-item">
                        <i class="newest-dot"></i>
                        <p class="newest-title text-overflow"><a href="">美国空军中将：中国进军太空速度是美国的五倍</a></p>
                        <p class="newest-time">14:22</p>
                    </li>
                    <li class="newest-item">
                        <i class="newest-dot"></i>
                        <p class="newest-title text-overflow"><a href="">被“妖魔化”的趣店和罗敏，现金贷能否健康发展</a></p>
                        <p class="newest-time">14:22</p>
                    </li>
                    <li class="newest-item">
                        <i class="newest-dot"></i>
                        <p class="newest-title text-overflow"><a href="">英伟达首席执行官：自动驾驶汽车将于2020年上路</a></p>
                        <p class="newest-time">14:22</p>
                    </li>
                </ul>
            </div>
            <!--最新快讯 end-->

            <!--热门标签-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">热门标签</a></h2>
                </div>
                <div class="hot-tags">
                    <a class="hot-tags-item" href="">京东</a>
                    <a class="hot-tags-item" href="">双11促销</a>
                    <a class="hot-tags-item" href="">互联网</a>
                    <a class="hot-tags-item" href="">淘宝店</a>
                    <a class="hot-tags-item" href="">基因疗法</a>
                    <a class="hot-tags-item" href="">京东</a>
                    <a class="hot-tags-item" href="">双11促销</a>
                    <a class="hot-tags-item" href="">互联网</a>
                    <a class="hot-tags-item" href="">淘宝店</a>
                    <a class="hot-tags-item" href="">基因疗法</a>
                </div>
            </div>
            <!--热门标签-->

            <!--热门产品-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">热门相关产品</a></h2>
                </div>
                <ul class="hot-product">
                    <li class="hot-product-item clearfix">
                        <i class="rank-num">1</i>
                        <div class="hot-product-img"><a href="#" target="_blank" title="高效单质银妇用抗菌洗液"><img src="http://www.tecenet.com/file/upload/201709/19/1617355963023.jpg.thumb.jpg"  alt="高效单质银妇用抗菌洗液"></a></div>
                        <div class="hot-product-name"><a href="#" target="_blank" title="高效单质银妇用抗菌洗液">高效单质银妇用抗菌洗液</a></div>
                        <div class="hot-product-num"><i class="iconfont icon-hot"></i>255</div>
                    </li>
                    <li class="hot-product-item clearfix">
                        <i class="rank-num">2</i>
                        <div class="hot-product-img"><a href="#" target="_blank" title="司诺洁高效单质银妇用抗菌凝胶"><img src="http://www.tecenet.com/file/upload/201709/19/1601319663023.jpg.thumb.jpg"  alt="司诺洁高效单质银妇用抗菌凝胶"></a></div>
                        <div class="hot-product-name"><a href="#" target="_blank" title="司诺洁高效单质银妇用抗菌凝胶">司诺洁高效单质银妇用抗菌凝胶</a></div>
                        <div class="hot-product-num"><i class="iconfont icon-hot"></i>241</div>
                    </li>
                    <li class="hot-product-item clearfix">
                        <i class="rank-num">3</i>
                        <div class="hot-product-img"><a href="#" target="_blank" title="医用硅酮凝胶敷料_ 郑州和济生物科技有限公司"><img src="http://www.tecenet.com/file/upload/201708/30/140506696365.jpeg.thumb.jpeg"  alt="医用硅酮凝胶敷料_ 郑州和济生物科技有限公司"></a></div>
                        <div class="hot-product-name"><a href="#" target="_blank" title="医用硅酮凝胶敷料_ 郑州和济生物科技有限公司">医用硅酮凝胶敷料_ 郑州和济生物科技有限公司</a></div>
                        <div class="hot-product-num"><i class="iconfont icon-hot"></i>183</div>
                    </li>
                    <li class="hot-product-item clearfix">
                        <i class="rank-num">4</i>
                        <div class="hot-product-img"><a href="#" target="_blank" title="安信医用骨科高分子夹板"><img src="http://www.tecenet.com/file/upload/201709/19/1143062658594.jpg.thumb.jpg"  alt="安信医用骨科高分子夹板"></a></div>
                        <div class="hot-product-name"><a href="#" target="_blank" title="安信医用骨科高分子夹板">安信医用骨科高分子夹板</a></div>
                        <div class="hot-product-num"><i class="iconfont icon-hot"></i>176</div>
                    </li>
                    <li class="hot-product-item clearfix">
                        <i class="rank-num">5</i>
                        <div class="hot-product-img"><a href="#" target="_blank" title="医用高分子绷带传统石膏的替代产品无需拆卸可经X光照射适用于骨科外固定透气硬度高"><img src="http://www.tecenet.com/file/upload/201710/16/1127595261787.jpg.thumb.jpg"  alt="医用高分子绷带传统石膏的替代产品无需拆卸可经X光照射适用于骨科外固定透气硬度高"></a></div>
                        <div class="hot-product-name"><a href="#" target="_blank" title="医用高分子绷带传统石膏的替代产品无需拆卸可经X光照射适用于骨科外固定透气硬度高">医用高分子绷带传统石膏的替代产品无需拆卸可经X光照射适用于骨科外固定透气硬度高</a></div>
                        <div class="hot-product-num"><i class="iconfont icon-hot"></i>138</div>
                    </li>
                </ul>
            </div>
            <!--热门产品 end-->


            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">一周新闻排行榜</a></h2>
                </div>
                <ul class="news-rank">
                    <li class="news-rank-item">
                        <em>1</em>
                        <a href="#" class="text-overflow">亲戚朋友总爱来家里蹭住 女子霸气发文刷爆朋友圈</a>
                        <span>5646</span>
                    </li>
                    <li class="news-rank-item">
                        <em>2</em>
                        <a href="#" class="text-overflow">游客丽江住客栈半夜被蚊子咬醒 前台:熏死1只赔100</a>
                        <span>5298</span>
                    </li>
                    <li class="news-rank-item">
                        <em>3</em>
                        <a href="#" class="text-overflow">中国式父母，貌似最无私，其实最自私</a>
                        <span>1920</span>
                    </li>
                    <li class="news-rank-item">
                        <em>4</em>
                        <a href="#" class="text-overflow">北京"动批"天和白马市场将闭市 商家狂甩</a>
                        <span>1343</span>
                    </li>
                    <li class="news-rank-item">
                        <em>5</em>
                        <a href="#" class="text-overflow">吃过的人还不知这药有毒！10万瓶假减肥药流向全国</a>
                        <span>1259</span>
                    </li>
                    <li class="news-rank-item">
                        <em>6</em>
                        <a href="#" class="text-overflow">湖南"年度法治人物"隐瞒犯罪前科 评选结果被取消</a>
                        <span>1042</span>
                    </li>
                    <li class="news-rank-item">
                        <em>7</em>
                        <a href="#" class="text-overflow">这部美到窒息的动画,堪称日本《金瓶梅》</a>
                        <span>943</span>
                    </li>
                    <li class="news-rank-item">
                        <em>8</em>
                        <a href="#" class="text-overflow">90后海归通过直播卖琥珀 年销售额达3000万</a>
                        <span>843</span>
                    </li>
                    <li class="news-rank-item">
                        <em>9</em>
                        <a href="#" class="text-overflow">最妖娆拉面哥4万元代言小面 与东北女粉丝结婚</a>
                        <span>819</span>
                    </li>
                    <li class="news-rank-item">
                        <em>10</em>
                        <a href="#" class="text-overflow">每日轻松一刻：今天，有比剁手更重要的事</a>
                        <span>810</span>
                    </li>
                </ul>
            </div>

        </div>
        <!--side end-->
    </div>
    <!--container end-->


    <!--友情链接-->
    <div class="layout links-layout">
        <div class="links-hd">友情链接：</div>
        <div class="links-bd">
            <a href="http://www.qgyyzs.net/gdyyzs/" title="广东医药网" target="_blank">广东医药网</a>
            <a href="http://www.zhaolin58.com" title="医疗标签打印机" target="_blank">医疗标签打印机</a>
            <a href="http://www.leisilaser.com" title="美容仪器" target="_blank">美容仪器</a>
            <a href="http://www.tecenet.com/gongying/" title="医疗器械供应" target="_blank">医疗器械供应</a>
            <a href="http://www.tecenet.com/link/index-htm-action-reg.html" class="apply-to" rel="nofollow">申请加入&gt;&gt;</a>
        </div>
    </div>
    <!--友情链接 end-->
</div>


<i class="iconfont icon-right"></i>

{template 'footer2017'}
