{php $head_css = [DT_SKIN.'tc.proNews.base.min.css',DT_SKIN.'slick.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',DT_PATH.'file/script/mallarticle/slick.min.js',DT_PATH.'file/script/mallarticle/tc.productNews.index.js']}

{php $menu = 'news_menu';}
{template 'module-header'}

<div class="proNews-wrap">

    <!--top-img-change-->
    <div class="slider top-img-change">
        {loop $topSlideArticles $key $article}
        <div>
            <a class="slider-item" href="{$article['linkurl']}" target="_blank">
                <img src="{$article['thumb']}" alt="{$article['title']}">
                <div class="slider-bg"></div>
                <div class="slider-info">
                    <h3 class="slider-title">{$article['title']}</h3>
                    <p class="slider-desc">{$article['description']}</p>
                </div>
            </a>
        </div>
        {/loop}
    </div>
    <!--top-img-change-->

    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">

            <!--分类-->
            {loop $articleList $key $list}
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="{$cate['linkurl']}">{$list['catname']}</a></h2>
                    <a class="module-head-more" href="{$list['linkurl']}"><i class="iconfont icon-more"></i>查看更多</a>
                </div>



                <div class="module-body">
                    {loop $list['list'] $akey $article}
                        {template 'news_item','mall'}
                    {/loop}
                </div>
            </div>
            {/loop}
            <!--分类 end-->
        </div>
        <!--main end-->

        {template 'news_right','mall'}
    </div>
    <!--container end-->
</div>

<i class="iconfont icon-right"></i>

{template 'footer2017'}
