{php $head_css = [DT_SKIN.'tc.proNews.base.min.css',DT_SKIN.'slick.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',]}

{php $menu = 'news_menu';}
{template 'module-header'}

<div class="proNews-wrap">

    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">
			<!-- pw-crumb -->
			{$navigationView}
			<!-- pw-crumb end -->


            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title">{$catname}</h2>
                </div>
                <div class="module-body">
                    {loop $lists $key $article}
                        {template 'news_item','mall'}
                    {/loop}

                    {$paginationView}

                </div>
            </div>
            <!--分类 end-->


        </div>
        <!--main end-->

        {template 'news_right','mall'}
    </div>
    <!--container end-->

    <!--友情链接-->
    <div class="layout links-layout">
        <div class="links-hd">友情链接：</div>
        <div class="links-bd">
            {loop $links $key $link}
            <a href="{$link['linkurl']}" title="{$link['title']}" target="_blank">{$link['title']}</a>
            {/loop}
            <a href="http://www.tecenet.com/link/index-htm-action-reg.html" class="apply-to" rel="nofollow">申请加入&gt;&gt;</a>
        </div>
    </div>
    <!--友情链接 end-->
</div>

{template 'footer2017'}