{php $head_css = [DT_SKIN.'tc.proNews.base.min.css',DT_SKIN.'slick.css',DT_SKIN.'tc.list.base.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',]}

{php $menu = 'news_menu';}
{template 'module-header'}

<div class="proNews-wrap">
    
    <!--container-->
    <div class="list-container container clearfix">
        <!-- pw-crumb -->
        {$navigationView}
        <!-- pw-crumb end -->


		<!-- 选择器 -->
        {$selectorView}
        <!-- 选择器 end -->

        <!--main-->
        <div class="main">
            <!--分类-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title">{$catname}</h2>
                </div>
                <div class="module-body">
                    {loop $lists $key $article}
                        {template 'news_item','mall'}
                    {/loop}

                    {$paginationView}

                </div>
            </div>
            <!--分类 end-->


        </div>
        <!--main end-->

        {template 'news_right','mall'}
    </div>
    <!--container end-->

  
</div>

{template 'footer2017'}