<div class="news-item clearfix">
    {if $article['thumb']}
    <div class="news-item-img">
        <a href="{$article['linkurl']}" target="_blank" title="{$article['title']}">
            <img src="{$article['thumb']}" alt="{$article['title']}"
                 onerror="this.src = '{DT_PATH}/skin/teceskin/image/nopic.gif'">
        </a>
    </div>
    {/if}
    <div class="news-item-txt">
        <h3 class="news-item-title">
            <a href="{$article['linkurl']}" target="_blank" title="{$article['title']}">{$article['title']}</a>
        </h3>
        <p class="news-item-desc">{$article['description']}</p>

        <div class="news-item-info clearfix">
            <div class="news-item-tags">
                {php $keywordArr = explode(' ',$article['keywords']);}
                {loop $keywordArr $keyworKey $keywordWord}
                    {if !empty($keywordWord)}
                    <a href="{DT_PATH}search.php?kw={$keywordWord}" title="{$keywordWord}">{$keywordWord}</a>
                    {/if}
                {/loop}
            </div>

            <span class="news-item-time"><i class="iconfont icon-time"></i>{date('Y-m-d H:i:s',$article['pushtime'])}</span>

            <span class="news-item-view"><i class="iconfont icon-attention"></i>{$article['hits']}</span>
        </div>
    </div>
</div>