{php $head_css = [DT_SKIN.'tc.proNews.base.min.css'];}
{php $footer_js = [DT_PATH.'file/script/mallarticle/tc.productNews.base.min.js',DT_PATH.'file/script/mallarticle/tc.productNews.show.min.js']}

{php $menu = 'news_menu';}
{template 'module-header'}


<div class="proNews-wrap">

    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">

            <!--article-->
            <div class="article-box">
                <div class="article-head">
                    <h1>{$article['title']}</h1>

                    <div class="article-info">
                        <span class="article-author"><i class="iconfont icon-my"></i>作者：{$article['author']}</span>
                        <span class="article-time"><i class="iconfont icon-time"></i>发布时间：{date('Y-m-d H:i:s',$article['addtime'])}</span>
                        <span class="article-view"><i class="iconfont icon-attention"></i>阅读量：{$article['hits']}</span>
                    </div>

                    <div class="article-lead">
                        {$article['description']}
                    </div>

                    <div class="article-content">
                        {$content['content']}
                    </div>

                    <!--喜欢/踩-->
                    <div class="link-area clearfix">
                        <a href="javascript:;" onclick="send_comment(3,this)" class="link"><i class="iconfont icon-appreciate"></i><span>赞(<em>0</em>)</span></a>
                        <a href="javascript:;" onclick="send_comment(1,this)" class="dis-link"><i class="iconfont icon-buxihuan"></i><span>踩(<em>0</em>)</span></a>
                    </div>
                    <!--喜欢/踩 end-->

                    <!--分享-->
                    <div class="post-share" id="postShare">
                        <div class="post-share-title"><span>分享给身边的朋友</span></div>
                        <div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1510497703101">
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博</a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
                        </div>
                    </div>
                    <!--分享 end-->

                    <!--评论-->
                    <div class="post-comment mt30" id="SOHUCS" sid="25872"></div>
                    <script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
                    <script type="text/javascript">
                        window.changyan.api.config({
                            appid: 'cysX5wRYI',
                            conf: 'prod_5c734ecb243c7af56b81ad10f66b3139'
                        });
                    </script>
                    <!--评论 end-->

                </div>
            </div>
            <!--article end-->


        </div>
        <!--main end-->

        {template 'news_right','mall'}
    </div>
    <!--container end-->


    <!--友情链接-->
    <div class="layout links-layout">
        <div class="links-hd">友情链接：</div>
        <div class="links-bd">
            <a href="http://www.qgyyzs.net/gdyyzs/" title="广东医药网" target="_blank">广东医药网</a>
            <a href="http://www.zhaolin58.com" title="医疗标签打印机" target="_blank">医疗标签打印机</a>
            <a href="http://www.leisilaser.com" title="美容仪器" target="_blank">美容仪器</a>
            <a href="http://www.tecenet.com/gongying/" title="医疗器械供应" target="_blank">医疗器械供应</a>
            <a href="http://www.tecenet.com/link/index-htm-action-reg.html" class="apply-to" rel="nofollow">申请加入&gt;&gt;</a>
        </div>
    </div>
    <!--友情链接 end-->

</div>

{template 'footer2017'}