<!--page-nav-->
<div class="page-nav">
    <div class="w1200 box-center">
        <ul class="page-nav-main clearfix">
            <li class="page-sub-nav current"><a href="{$IndexUrl}">医械知识库</a></li>
            {loop $MENU $key $cate}
            <li class="page-sub-nav">
                <a href="{$cate['linkurl']}"
                   title="{$cate['catname']}">
                    {$cate['catname']}
                </a>
            </li>
            {/loop}
        </ul>
    </div>
</div>
<!--page-nav end-->