<!--side-->
        <div class="side slide-show pull-right">
            <!--推荐产品-->
            <div class="module">
                <div class="module-hd">
                    <span>推荐产品</span>
                    <a href="javascript:;" class="next refresh pull-right cp-i" title="换一批"></a>
                    <ul class="hidden"></ul>
                </div>
                <div class="module-bd vertical-show clearfix">
                    <ul>
                    	{loop $rmalls $k $t}
                        <li class="vertical-show-item">
                            <div class="vertical-show-img">
                                <a href="{$MODULE[16]['linkurl']}{$t['linkurl']}" target="_blank"><img src="{$t['thumb']}" alt="{$t['title']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-md-4-3.png';"></a>
                            </div>
                            <div class="vertical-show-info">
                                <p class="vertical-show-name text-overflow"><a href="{$MODULE[16]['linkurl']}{$t['linkurl']}" target="_blank" title="{$t['title']}">{$t['title']}</a></p>
                                <p class="vertical-show-company text-overflow"><a href="{str_replace('www',$t['username'],DT_PATH)}" target="_blank" title="{$t['company']}">{$t['company']}</a></p>
                                <p class="vertical-show-cate">
                                {if $t[kcatids]}
                                {php $kcatid = explode(',',$t[kcatids]);}
                                {loop $kcatid $kk $kt}
                                <?php if(empty($kt)) continue; ?>
                                <a href="{$MODULE[16]['linkurl']}{keshi_rewrite(['kcatid'=>$kt])}" target="_blank" title="{$KESHI[$kt]}医疗器械">{$KESHI[$kt]}</a>
                                {/loop}
                                {/if}
                                </p>
                            </div>
                        </li>
                        {/loop}
                    </ul>
                </div>
            </div>
            <!--推荐产品 end-->

            <!--猜你喜欢-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>猜你喜欢</span>
                </div>
                <div class="module-bd keyword-show clearfix">
                {loop $lkeyword $k $t}
                    <a href="{$MODULE[16]['linkurl']}{keyword_rewrite(['kwid'=>$t['itemid']])}">{$t['word']}</a>
                {/loop}
                </div>
            </div>
            <!--猜你喜欢 end-->

            <!--最新产品-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>最新产品</span>
                </div>
                <div class="module-bd horizontal-show clearfix">
                	{loop $nmalls $k $t}
                    <div class="horizontal-show-item">
                        <div class="horizontal-show-img pull-left">
                            <a href="{$MOUDLE[16]['linkurl']}{$t['linkurl']}" target="_blank"><img src="{$t['thumb']}" alt="{$t['title']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-md-4-3.png';"></a>
                        </div>
                        <div class="horizontal-show-info pull-right">
                            <p class="horizontal-show-name"><a href="{$MOUDLE[16]['linkurl']}{$t['linkurl']}" target="_blank" title="{$t['title']}">{$t['title']}</a></p>
                            <p class="horizontal-show-company text-overflow"><a href="{str_replace('www',$t['username'],DT_PATH)}" target="_blank">{$t['company']}</a></p>
                        </div>
                    </div>
                    {/loop}
                </div>
            </div>
            <!--最新产品 end-->

            <!--推荐供应商-->
            <div class="module mgt-20">
                <div class="module-hd">
                    <span>推荐供应商</span>
                </div>
                <div class="module-bd company-show clearfix">
                {loop $rcompanys $k $t}
                    <a href="{$t['linkurl']}" class="company-show-item" target="_blank">
                        <img class="company-show-img" src="{$t['thumb']}" alt="{$t['company']}" onerror="javascript:this.src='{DT_SKIN}image/tip/nopic-sm-1-1.png';">
                        <p class="company-show-name">{$t['company']}</p>
                    </a>
                {/loop}
                </div>
            </div>
            <!--推荐供应商 end-->
        </div>
        <!--side end-->