{php $sitemenu='mall';$listpage='search';$noleftmenu='yes';}
<?php $ztitle=$kw.$kcatname.'医疗器械 【公司 厂家 价格 报价 设备 耗材 配件】_'.$DT[sitename];$zkeywords=$kcatname.'医疗器械公司';$zdescription=$kcatname.'医疗器械设备 耗材 公司 配件，天成医疗网 提供更多'.$kcatname.'医疗器械设备公司 厂家 价格 报价 耗材 配件等信息。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网！';?>
{if $kcatid}
<?php $kcatname=strip_tags(cat_pos(get_cat($kcatid), '/'));?>
<?php $ztitle=$kcatname.'医疗器械 【设备 耗材 公司 配件】_'.$DT[sitename];$zkeywords=$kcatname.'医疗器械公司';$zdescription=$kcatname.'医疗器械设备 耗材 公司 配件，天成医疗网 提供更多'.$kcatname.'医疗器械设备 耗材 公司 配件等信息。更多医疗器械、医疗仪器、医疗设备等供应、采购、招标、安装、维护、调试、询价、技术咨询等需求服务，请登录天成医疗网！';?>
{/if}
{if $bcatid}
<?php $bcatname=strip_tags(cat_pos(get_cat($bcatid), '/'));?>
<?php $ztitle='医疗器械'.$bcatname.'_'.$fname.'【设备 耗材 配件】_'.$DT[sitename];?>
{/if}
{template 'header_fuwu','mall'}
<style type="text/css">
	.webmenulist{width:855px;}
</style>
{template 'lay','tag'}
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=idialog"></script>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/fuwu.js"></script>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}search_fuwu.css"/>
<script type="text/javascript">
var sh="{$MOD[linkurl]}search.php?areaid={$areaid}&tc={$tc}&catid={$catid}&thumb={$thumb}&order={$orderv}&stype={$stype}&price={$price}&list={$list}&day={$day}&vip={$vip}&bcatid={$bcatid}&fid={$fid}&kw={urlencode($kw)}";</script>
</div>

<!-- <div class="divline"></div>
<div align="center">
<ul>
<li class="fl w195 h60 pd2">{ad(116)}</li>
<li class="fl w195 h60 pd2">{ad(117)}</li>
<li class="fl w195 h60 pd2">{ad(118)}</li>
<li class="fl w195 h60 pd2">{ad(119)}</li>
<li class="fl w195 h60 pd2">{ad(120)}</li>
</ul>
</div> -->
<div class="divline"></div>
<div class="autoheight whitebg pd10">
			<div class="listright autoheight" style="float: left;margin-right: 10px;margin-left:0px;width: 255px;">
					<div class="doc-l" style="width: 253px;height:560px;border:1px solid #dddddd;margin-bottom:10px;background-color:#f8f8f8;">
						<div class="fir-type"  style="width: 255px; height: 35px;text-align:center;line-height:35px;"><span style="font-size:17px; color:#9e1e00;">产品分类</span></div>
						<div class="all-sort-list">
							{php $b=substr_count($CAT[arrparentid],",");$l=explode(',',$CAT[arrparentid]);}	
							{if $kcatid}
							{php $d=getsqldata("parentid","{$db->pre}category","catid=$kcatid",1,0);}
							{php $k=$d[0][parentid];}
							{/if}
							<div class="item bo">
								<div class="type">
								<!-- 医疗器械分类 :-->
									<div class="type-in"><a href=""><b>医疗器械分类：</b></a><i></i></div>
									{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=50&order=listorder ASC&template=null")}
									<div class="two-type">
										<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&tc=9&catid=0&kcatid='.$kcatid)}" title="所有医疗器械">所有医疗器械&nbsp;&nbsp;&nbsp;&nbsp;</a>
									{loop $tagss $i $t}
										{if $i < 1}
										<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$t[catid])}" title="{set_style($t[catname],$t[style])}">{set_style($t[catname],$t[style])}&nbsp;&nbsp;&nbsp;&nbsp;</a>
										{/if}
									{/loop}
									</div>
								</div>
								<div class="item-list clearfix">
									<div class="close">x</div>
									<div class="subitem">
										{loop $tagss $z $t}
										{if $z%5==0}
										{php $num=$z+5;}
										{php $num_1=$z}
										<dl class="fore1">
											<dt><a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$t[catid])}" title="{set_style($t[catname],$t[style])}">{set_style($t[catname],$t[style])}</a></dt>
											<dd>
											
											{loop $tagss $z $t}
												{if $t[catid]==$catid||$t[catid]==$l[1]}
													{php $childa=$t[child];$parenta=$t[catname];$catida=$t[catid];} 
												{/if}
											{if $z>=$num_1&&$z<$num&&$z%5!=0}
											<em><a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$t[catid])}" title="{set_style($t[catname],$t[style])}">{set_style($t[catname],$t[style])}</a></em>
											{/if}
											{/loop}			
											</dd>
										</dl>
										{/if}
										{/loop}
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="type">
								<!-- 医院科室分类 -->
								{php $tagss = tag("moduleid=12&table=category&condition=moduleid=12 and parentid=0&pagesize=50&order=listorder ASC&template=null")}
								<div class="type-in"><a href=""><b>医院科室分类：</b></a><i></i></div>
								<div class="two-type">
										<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&tc=9&catid='.$catid.'&kcatid='.$kcatida)}">全部&nbsp;&nbsp;&nbsp;&nbsp;</a>
									{loop $tagss $i $t}
										{if $i < 3}
										<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&stype='.$stype.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$catid.'&kcatid='.$t[catid])}" title="{$t[title]}">{set_style($t[catname],$t[style])}&nbsp;&nbsp;&nbsp;&nbsp;</a>
										{/if}
									{/loop}
								</div>
								</div>
								<div class="item-list clearfix" style="width:560px;">
									<div class="close">x</div>
									<div class="subitem">
										{loop $tagss $z $t}
										{if $z%5==0}
										{php $num=$z+5;}
										{php $num_1=$z}
										<dl class="fore1">
											<dt style="width:60px;"><a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&stype='.$stype.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$catid.'&kcatid='.$t[catid])}" title="{$t[title]}" title="{set_style($t[catname],$t[style])}">{set_style($t[catname],$t[style])}</a></dt>
											<dd>
											
											{loop $tagss $z $t}
											{if $z>=$num_1&&$z<$num&&$z%5!=0}
											<em><a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?areaid='.$areaid.'&tc=9&stype='.$stype.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&catid='.$catid.'&kcatid='.$t[catid])}" title="{$t[title]}" title="{set_style($t[catname],$t[style])}">{set_style($t[catname],$t[style])}</a></em>
											{/if}
											{/loop}			
											</dd>
										</dl>
										{/if}
										{/loop}   
									</div>
								</div>
							</div>
							
							<div class="item">
								<div class="type bor">
								<!-- 厂商分类： -->
								{php $tagss = tag("table=category&condition=moduleid=13 and parentid=0&pagesize=5&order=listorder ASC&template=null")}
								<div class="type-in"><a href=""><b>厂商分类：</b></a><i></i></div>
								<div class="two-type">
										<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?tc=9&catid='.$catid.'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&areaid='.$areaid)}">全部&nbsp;&nbsp;&nbsp;&nbsp;</a>
									{loop $tagss $i $t}
										{if $i < 3}
										    <a {if $t[item]>0} href="javascript:msgbox('pinpai','{$t[catname]}的厂家','{$MODULE[13][linkurl]}tree_fuwu.php?tree=1&id1={$t[catid]}&stype={$stype}&areaid={$areaid}&tc={$tc}&kw={urlencode($kw)}&list={$list}&order={$orderv}&day={$day}&vip={$vip}&catid={$catid}&kcatid={$kcatid}')" {else}href="{$MOD[linkurl]}{rewrite('search_fuwu.php?tc=9&stype='.$stype.'&bcatid='.$t[catid].'&catid='.$catid.'&kw='.urlencode($kw).'&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&kcatid='.$kcatid.'&areaid='.$areaid)}" {/if} title="{$t[title]}">{set_style($t[catname],$t[style])}&nbsp;&nbsp;&nbsp;&nbsp;</a>
										{/if}
									{/loop}
								</div>
								</div>							
							</div>
							<div class="item">
								<div class="type bor">
								<!-- 产品属性： -->
								{php $tagss = tag("table=category&condition=moduleid=13 and parentid=0&pagesize=5&order=listorder ASC&template=null")}
								<div class="type-in"><a href=""><b>产品属性：</b></a><i></i></div>
									<div class="two-type">
											<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?tc='.$tc.'&bcatid='.$bcatid.'&fid='.$fid.'&kcatid='.$kcatid.'&catid='.$catid.'&stype=1&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&areaid='.$areaid)}" >配件&nbsp;&nbsp;&nbsp;&nbsp;</a>
											<a href="{$MOD[linkurl]}{rewrite('search_fuwu.php?tc='.$tc.'&bcatid='.$bcatid.'&fid='.$fid.'&kcatid='.$kcatid.'&catid='.$catid.'&stype=2&list='.$list.'&order='.$orderv.'&day='.$day.'&vip='.$vip.'&areaid='.$areaid)}" >耗材</a>
									</div>
								</div>
								
							</div>
							<div class="item" style="border-top:2px solid #fff;width:252px;">
							<form action="{$MOD[linkurl]}search_fuwu.php" id="fsearch">
							<input type="hidden" name="areaid" value="{$areaid}">
							<input type="hidden" name="stype" value="{$stype}">
							<input type="hidden" name="typeid" value="{$typeid}">
							<input type="hidden" name="catid" value="{$catid}">
							<input type="hidden" name="kcatid" value="{$kcatid}">
							<input type="hidden" name="vip" value="{$vip}">
							<input type="hidden" name="thumb" value="{$thumb}">
							{template 'search_fuwu', 'chip'}
							</form>
							</div>
						</div>
					</div>
					<div>{template 'right_fuwu', $module}</div>
			</div>
		<div class="listleft autoheight">
		<div class="sell_tip" id="sell_tip" style="display:none;" title="双击关闭" ondblclick="Dh(this.id);">
			<div>
				<p>您可以</p>
				<input type="submit" value="对比选中" onclick="this.form.action='{$MOD[linkurl]}compare.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>&nbsp;
				<input type="submit" value="批量购买" onclick="this.form.action='{$MOD[linkurl]}cart.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>
			</div>
		</div>
			{template 'listh4_fuwu', 'chip'}
				<div class="tool">
				 {template 'form_fuwu', $module}
				</div>

		<form method="post" name="mallform" id="mallform">
		{if $page == 1}{ad($moduleid,$catid,$kw,6)}{/if}
        {if $tags}
		{if $list==2}
        {template 'list-mall-nopic','tag'}


			{elseif $list==1}
			{template 'thumb-mall-fuwu','tag'}

			{else}
			{template 'list-mall', 'tag'}
			{/if}
		<style type="text/css">
			#malllist{width:720px;}
			#malllist li{margin-left:12px;margin-right:12px;margin-bottom:25px;margin-top:10px;}
		</style>
         <table>
			<tr height="30">
			<td>
				<input type="submit" value="对比选中" onclick="Dd('mallform').action='{$MOD[linkurl]}compare.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>&nbsp;
				<input type="submit" value="批量购买" onclick="Dd('mallform').action='{$MOD[linkurl]}cart.php';" class="btn_1" onmouseover="this.className='btn_2'" onmouseout="this.className='btn_1'"/>
			</td>
			<td align="right"><img src="{DT_SKIN}image/arrow.gif" class="mid" alt=""/> <a href="javascript:window.scrollTo(0,0);">返回顶部</a>&nbsp;&nbsp;&nbsp;&nbsp;<img src="{DT_SKIN}image/arrow.gif" alt="" class="mid" /> <a href="{$MOD[linkurl]}search_fuwu.php">重新搜索</a>&nbsp;</td>
			</tr>
		</table>
        {else}
		{template 'noresult', 'message'}
		{/if}
		</form>
			</div>

			<br class='clear'>
</div>
<div class="divline"></div>	
{template 'footer'}