{php $sitemenu='brand';$listpage='list';$mlogo='mall.gif';$tel400='mall/400.gif';}
{template 'module-header'}
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161216"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/brand.css?v20161208"/>
<style>
img{display: inline-block;}
#topkeyword{width:310px;height:22px;line-height:22px}
.tc-footer{margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
</style>
</div>

</div>
<script type="text/javascript">
Dd('menubgs').className="hd";
</script>
<script language="javascript" type="text/javascript" src="{DT_PATH}file/script/MSClass.js"></script>
<div class="center tjbrand">
<div class="webw" style="height:500px;">
<div class="fl jts"><div><a href="javascript:void(0)" id="brandleft"><img src="{DT_SKIN}image/blank.gif" ></a></div></div>
<div class="fl" style="width:900px;padding-top:30px;" id="CSSBox">
<div id="CSSContent">
<ul style="width:1056px;height:430px;">
			{php $tagt = tag("moduleid=13&fields=linkurl,title,thumb&condition=status=3 and thumb<>'' and pnum>0&pagesize=18&order=level desc&template=null&debug=0&showcat=0")}			
		    {loop $tagt $z $t}															
			<li class="cut">
<a href="{$t[linkurl]}" title="{$t[alt]}"><div class="intor"><img src='{$t[thumb]}' alt='{$t[alt]}' onerror="this.src='{DT_SKIN}image/nopic.gif'" width="135" height="100" align="center" class="mid">
<div class="lenstr f14">{$t[title]}</div></div></a></li>
			{/loop}	
</ul>
</div>
</div>
<div class="fl jts"><div><a href="javascript:void(0)" id="brandright"><img src="{DT_SKIN}image/blank.gif" ></a></div></div>
</div>
</div>
<script type="text/javascript">
new Marquee(
{
	MSClass	  : ["CSSBox","CSSContent"],
	Direction : 2,
	PrevBtnID : "brandright",
	NextBtnID : "brandleft",
	Step	  : 0.1,
	Width	  : 890,
	Height	  : 430,
	Timer	  : 20,
	DelayTime : 3000,
	WaitTime  : 1000,
	ScrollStep: 352,
	AutoStart : true
});
</script>
 
<div class="divline"></div>
<div class="center">
<div class="webw">

<div class="divline"></div>
<div class="divline"></div>
{php $brand = $db->count($DT_PRE.'brand_13', "status=3 and (catid=858 or catid=1955 or catid=1956 or  catid=1993)", 60);}
<dl class="brandlist">
<dt><span class="fr mr5"><a href="{$MOD[link]}list-htm-catid-858-typeid-99.html" class="wcolor f14">更多>></a></span>国内厂商品牌信息(共{$brand}个)</dt>
<dd class="fl brands ">{php $tags = tag("moduleid=$moduleid&condition=status=3  and thumb<>'' and pnum>0 &catid=858&pagesize=9&order=level desc,pnum desc&template=list-brand&debug=0&showcat=0")}</dd>
<dd class="fl companys">
<ul >			
{php $tagt = tag("moduleid=4&condition=groupid>5 and groupid<8 and catids<>'' and stype=0 and business<>''&pagesize=8&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
{loop $tagt $z $t}			
<li>
<a href="{$t[linkurl]}" title="{$t[catname]}-{$t[company]}" target='_blank'>
<div class="ddtitle" >
<p class="lenstr w310"> {$t[company]}</p>
<div class="lenstr"><span class="lenstr w220"> {$t[business]}</span><span class="lenstr w80 ml10">{$t[pnum]}个产品</span></div>
</div>
</a>
</li>
{/loop}
</ul>

</dd>
</dl>
<div class="divline"></div>
<div class="divline"></div>
{php $brand = $db->count($DT_PRE.'brand_13', "status=3 and catid=859", 60);}
<dl class="brandlist">
<dt style="background:#014052"><span class="fr mr5"><a href="{$MOD[link]}list-htm-catid-859-typeid-99.html" class="wcolor f14">更多>></a></span>国外厂商品牌信息(共{$brand}个)</dt>
<dd class="fl brands ">{php $tags = tag("moduleid=$moduleid&condition=status=3 and catid=859 &pagesize=9&order=level desc,pnum desc&template=list-brand&debug=0&showcat=0")}</dd>
<dd class="fl companys" style="background:#b7d5e3">
<ul >			
{php $tagt = tag("moduleid=4&condition=groupid>5 and groupid<8 and ( stype=2 or stype=1 ) and business<>''&pagesize=8&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
{loop $tagt $z $t}			
<li>
<a href="{$t[linkurl]}" title="{$t[catname]}-{$t[company]}" target='_blank'>
<div class="ddtitle" >
<p class="lenstr w310"> {$t[company]}</p>
<div class="lenstr"><span class="lenstr w220"> {$t[business]}</span><span class="lenstr w80 ml10">{$t[pnum]}个产品</span></div>
</div>
</a>
</li>
{/loop}
</ul>

</dd>
</dl> 


</div></div>
{template 'link2017','chip'}
{template 'footer2017'}