{php $sitemenu='brand';$listpage='list';$mlogo='mall.gif';}
{template 'module-header'}
<script type="text/javascript" src="http://www.tecenet.com/file/script/config.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/common.js"></script>
<script type="text/javascript" src="http://www.tecenet.com/file/script/jsfunction.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161216"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/brand.css?v20161208"/>
<style>
img{display: inline-block;}
#topkeyword{width:310px;height:22px;line-height:22px}
.tc-footer{margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
</style>
<div style="width:1000px" class="box-center crumb">
	{template 'lay','tag'}
</div>					
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=idialog"></script>
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>
<style type="text/css">
    .tableth{text-align:center}
	.table td{padding-left:10px;}
</style>

<div style="width:1000px" class="box-center">
{php $skin=0;}
{if $groupid>6||$level>0}
{php $skin=1;}
{/if}
{template 'show'.$skin,'brand'}
{template 'fav','chip'}
</div>

{template 'footer2017'}