<div class="grayb autoheight whitebg" {if $closeheader==1} style="display:none"{/if}>

<table align="center" width="995" class="brand">
<tr>
									{php $n=substr($DT_TIME,-1);}
										{php $tagt = tag("moduleid=13&condition=status=3  and thumb<>''  and level>=1 and itemid<>$itemid &pagesize=6&order=rand($n)&template=null&debug=0&showcat=1")}			
										{loop $tagt $z $t}															
										<td align="center" style=" margin:0px 10px;">
												<a href="{$t[linkurl]}" title="{$t[title]}" target="_blank"><img src='{$t[thumb]}' alt='{$t[title]}'  align="center" width="105" height="85"><br><div class="lenstr">{dsubstr($t[title],22,"..")}</div></a>
									   </td>
										{/loop}	
</tr>
</table>

</div>
<div class="divline"></div>
<div class="divline"></div>
<div style="background:url('{DT_SKIN}image/brand/skin0-01.jpg') top center no-repeat;width:995px;height:341px;">
<div style="padding-top:96px;padding-right:20px;">

<div style="padding-left:180px;text-align:left">
<h1 class="h1" style="color:#489748;"><i>{$title}</i></h1>
<p class="homepage" style="color:#489748">{if $homepage}官方主页 <a href="{$homepage}" target="_blank" rel="nofollow" style="color:#489748">{$homepage}</a>{/if}</p>

<div class="gcolor">
{php $va='s';}
{template 'va', 'chip'}</div>
</div>

<div style="float:left;margin-top:-100px;margin-left:20px;">    {if $thumb}<div style="width:135px;height:100px;padding:2px;background:#a7c893;"><img src="{$thumb}" alt="{$t[alt]}" width="135" height="100" align="center"onerror="this.src='{DT_SKIN}image/nopic.gif'" class="whitebg"/></div>{/if}</div>
</div>
</div>
<div class="whitebg  autoheight"> 
<style type="text/css">
.validateds{margin-left:-10px;}
.validateds font{display:none}
.infotable td font{font-size:14px;font-weight:bold;color:#489748}
.infotable  table td{border:0px;}
</style>
<div class="divline"></div>
<div class="divline"></div>
<table width="855" border="0" cellpadding="0" cellspacing="0" class="infotable" align="center">
  <tr>
    <td width="120" align="center" height="30"  ><font>厂商/品牌名称</font></td>
    <td  > {$title}</td>
    <td rowspan="7" width="240"  align="center" valign="top" style="border:none">
	<table cellpadding="2" cellspacing="5" width="220" bgcolor="#ffffff" align="center" class="tc mt10" >
<tr>
<td width=30% class="pl10"><a href="javascript:void(0)" class="suba"  id="cpxx">查看产品信息&nbsp;↓</a></td>
</tr>	
{if $company}
<tr>
<td width=30% class="pl10"><a href="javascript:void(0)"  class="suba" id="jxwd">查看经销网店&nbsp;↓</a></td>
</tr>
{else}
<tr>
<td width=30% class="pl10" ><a href="javascript:void(0)"  onclick='msgtip("亲！本站暂无该厂商/品牌的经销网店","您可以认领本厂商信息进行维护和开设该厂商网店！<br>请 <a href=/member/register.php?kd=1 class=\"ocolor f14\">“注册并开店进行管理”</a>&nbsp;&nbsp;或&nbsp;&nbsp;<a href=/member/login.php class=\"ocolor f14\">“会员登录后申诉取回”</a>")'  class="suba">暂无经销网店</a></td>
</tr>
{/if}
<tr>
<td width=30% class="pl10">
{if $close}
<a href="javascript:void(0)" class="suba" onclick='msgtip("亲！友情提示","该品牌/厂商信息已关闭经销推广网络，具体可以点击“该厂商/品牌的相关政策”按钮，了解详细内容！")' >已关闭经销网络</a>
{else}
<a {if $_groupid>5}href="{$MODULE[2][linkurl]}edit.php?tab=2&brandid={$itemid}&actions=addbrand" target="_blank" {else} href="javascript:void(0)"  onclick='msgtip("亲！开店/升级提示","只有升级成开店会员组或者注册开店会员才能享有该功能！<br>请 <a href=/member/register.php?kd=1 class=\"ocolor f14\">“注册开店会员”</a>&nbsp;&nbsp;或&nbsp;&nbsp;<a href=/member/grade.php class=\"ocolor f14\">“升级开店会员”</a>")'  {/if} class="suba">加入经销网络</a>
{/if}
</td>
</tr>
<tr>
<td width=30% class="pl10" ><a href="{if $_username==$username}{$MODULE[2][linkurl]}my.php?mid=13&action=edit&itemid={$itemid}{else}{$MOD[linkurl]}{rewrite('message.php?itemid='.$itemid)}{/if}" class="suba" >咨询该厂商/品牌相关政策</a></td>
</tr>
<tr>
<td width=30% class="pl10"><a href="javascript:Dd('info_favorite').submit();" class="suba">点这收藏该品牌信息</a></td>
</tr>
</table>
<script type="text/javascript">
  $("#jxwd").bind("click",function(){$("html, body").animate({scrollTop:$('#jxwds').offset().top}, 200);});
    $("#cpxx").bind("click",function(){$("html, body").animate({scrollTop:$('#cpxxs').offset().top}, 200);});
</script>
	</td>
  </tr>
  <tr>
  <td align="center" height="30" valign="top"><font>厂商官方认证</font></td>
    <td  valign="top"> 
	{if $official}
	<div style="font-size:16px;background:url('{DT_SKIN}image/v/official.png') left center no-repeat;padding-left:30px;color:#b5250b">官方已认证</div>
	{else}
    <div style="padding-bottom:10px;">正式认证“{$title}”厂商官方信息！即可获得该信息的管理权！旗舰店管理！产品信息等等！<br>
	<input type="button" value="正式申诉认证并取回管理权" onclick="msgdiv('official','填写表单','official.php?itemid={$itemid}');" style="line-height:24px;height:24px;padding:0px 5px 0px 5px;;"></div>
	{/if}
	</td>
  </tr>
  <tr>
  <td align="center" height="30"  valign="top"><font>相关官方网站</font></td>
    <td  valign="top"> {if $homepage}<a href="{$homepage}" target="_blank" rel="nofollow">{$homepage}</a>{else}暂无{/if}</td>
  </tr>
  <tr>
  <td align="center" height="40"  ><font>相关统计数据</font></td>
    <td  ><span class="f14">产品<b class="f18 ocolor">{$pnum}</b>件</span><span class="f14 ml10">经销商网店<b class="f18 ocolor">
		{php $r = $db->get_one("select COUNT(*) AS num FROM ".$DT_PRE."company WHERE brandid like '%,".$itemid.",%' ");}
		{php $company=$r['num'];}
		{$company}
		</b>家</font></td>
  </tr>
  <tr>
  <td align="center" height="30"  valign="top"><font>最后更新时间</font></td>
    <td  valign="top"> {str_replace('-','/',$editdate)}</td>
  </tr>
  <tr>
  <td align="center" height="30"  valign="top"><font>人气浏览次数</font></td>
    <td  valign="top"> <span id="hits" class="bcolor">{$hits}℃</font></td>
  </tr>
  <tr>
  <td align="center" height="30"  ><font>信息对外分享</font></td>
    <td  >	{php $bdfx=24;}
		{template 'baidu', 'chip'}</td>
  </tr>
</table>

<div class="divline"></div>

<div class="divline"></div>
<dl >
<dd style="background:url('{DT_SKIN}image/brand/skin0-02.jpg') top center no-repeat;padding-top:50px;" class="autoheight">
<div class="content" id="content">{$content}</div>
<br class="clear" />
<div class="w600 autoheight graybg grayb pd10" style='margin:auto'>
<h3 class='h3 f16'><font class="bcolor">相关联系资料</font></h3>
{if !$shownotes}
          {if $_groupid}
			   {if $notes}
		         {$notes}
			   {else}
				 <div >无相关数据！ <a href="{if $_username==$username}{$MODULE[2][linkurl]}my.php?mid=13&action=edit&itemid={$itemid}{else}{$MOD[linkurl]}{rewrite('message.php?itemid='.$itemid)}{/if}"><u class="bcolor">点击完善</u></a></div>		
			   {/if}
		  {else}
		  <div ><p>只有本站开店会员及以上等级会员才能查看！非会员请 <a href='{$MODULE[2][linkurl]}regedit.php'><u class="bcolor">注册</u></a></p></div>
		  {/if}
{else}
<div>数据未公开，请与天成医疗网客服联系 免费热线 4000521617</div>
{/if}
</div>
<div class="divline"></div>
<div class="divline"></div>
</dd>


<dt style="background:url('{DT_SKIN}image/brand/skin0-03.jpg') top center no-repeat;padding-top:50px;" class="autoheight" id="cpxxs">{if $pnum}<span class="fr" style="margin-top:-40px;margin-right:20px;"><a href="{$MODULE[16][linkurl]}search-htm-bcatid-{$parentid}-fid-{$itemid}.html" class="pd5 wcolor b f14" style="background:#6d6d6d">更多 {$pnum} 个产品..</a></span>{/if}</dt>
<dd style="padding:20px;">
{if $pnum}
{php $tags =tag("moduleid=16&condition=factoryid='$itemid' and status=3&showcat=1&pagesize=8&order=edittime desc&template=thumb-mall&nocheck=1&showcat=0&width=970")}
{else}
<div class="tc">暂无任何产品数据</div>
{/if}
		<br class="clear" />
</dd>



<dt style="background:url('{DT_SKIN}image/brand/skin0-04.jpg') top center no-repeat;padding-top:50px;" class="autoheight" id="jxwds">{if $company}<span class="fr" style="margin-top:-40px;margin-right:20px;"><a href="{$MODULE[4][linkurl]}search-htm-brandid-{$itemid}.html"  class="pd5 wcolor b f14" style="background:#6d6d6d">更多 {$company} 家厂商..</a></span>{/if}</dt>
<dd style="padding:20px;">
{if $company}
{php $tags =tag("moduleid=4&condition=brandid like '%,$itemid,%' or company ='".$title."'&showcat=1&pagesize=$company&order=pnum desc&template=list-company-pic&title=$title")}
{else}
<div class="tc">暂无任何经销商数据</div>
{/if}
		<br class="clear" />
</dd>

<dt style="background:url('{DT_SKIN}image/brand/skin0-05.jpg') top center no-repeat;padding-top:50px;" class="autoheight"></dt>
{if $CP}{template 'property', 'chip'}{/if}
{template 'comment', 'chip'}
<style type="text/css">
	#commet{display:none}
</style>
</dl>
</div>
<br class="clear">