{template 'header'}
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?catid={$catid}';</script>
<div class="m">
	<div class="mall_list_top">
		<div class="pos"><li><span>我的位置: <a href="{$MODULE[1][linkurl]}">全部商品</a>&gt;   {cat_pos($CAT, ' &gt; ')}</span></li></div>
		<div class="attrs">
			<div class="attrs_selected">
				<div class="selected_title">已选择：</div>
				<div class="selected_content">
					<ul>
						<li class="f_l"><span class="f_l">宝钢</span><a class="se_delet"></a></li>
						<li class="f_l"><span class="f_l">单层钢板</span><a class="se_delet"></a></li>
						<li class="f_l"><span class="f_l">中国大陆</span><a class="se_delet"></a></li>
						<li class="f_r"><a class="se_reset">清除重置</a></li>
						<div class="c_b"></div>
					</ul>
				</div>
				<div class="c_b"></div>
			</div>
			<div class="attrs_brand">
				<div class="brand_title">品牌：</div>
				<div class="brand_content">
					<ul>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<div class="c_b"></div>
					</ul>
					<div class="f_r"><span class="cursor">+多选</span><span class="cursor cursor_up">收起</span></div>
				</div>
				<div class="c_b"></div>
			</div>
			<div class="attrs_public">
				<div class="public_title">产品类型：</div>
				<div class="public_content">
					<ul>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<div class="c_b"></div>
					</ul>
					<div class="f_r"><span class="cursor_down">更多</span></div>
				</div>
				<div class="c_b"></div>
			</div>
			<div class="attrs_public">
				<div class="public_title">产地：</div>
				<div class="public_content border_bottom">
					<ul>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<div class="c_b"></div>
					</ul>
					<div class="f_r"><span class="cursor_down">更多</span></div>
				</div>
				<div class="c_b"></div>
			</div>
			<!--更多选项-->
			<div class="attrs_public" style="display: none">
				<div class="public_title">产地：</div>
				<div class="public_content">
					<ul>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<div class="c_b"></div>
					</ul>
					<div class="f_r"><span class="cursor_down">更多</span></div>
				</div>
				<div class="c_b"></div>
			</div>
			<div class="attrs_public" style="display: none">
				<div class="public_title">产地：</div>
				<div class="public_content border_bottom">
					<ul>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<li class="f_l"><a class="">宝钢</a></li>
						<div class="c_b"></div>
					</ul>
					<div class="f_r"><span class="cursor_down">更多</span></div>
				</div>
				<div class="c_b"></div>
			</div>
			<!--更多选项end-->
			<div style="height: 5px; background: #f5f5f5">
			</div>
			<div class="more_div">
				更多选项
			</div>
			<div class="c_b"></div>
		</div>
	</div>
	<div class="sort">
		<ul>
			<li class="cursor"><a href="#">综合</a></li>
			<li class=""><a href="#">销量</a></li>
			<li class=""><a href="#">综合</a></li>
			<li class=""><a href="#">价格</a></li>
			<li class="section"><input type="text" placeholder="￥最低价"><span class="f_l" style="color:#000; height: 20px;line-height: 20px;padding: 0px 5px;">-</span><input type="text" placeholder="￥最高价"><div class="f_r num">共1000000件商品&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff6b33">1</span> / 100</div></li>
			<li class="around"><a href="#">&gt;</a></li>
			<li class="around"><a href="#">&lt;</a></li>
			<div class="c_b"></div>
		</ul>
	</div>
	<div class="mall_list">
		{if $tags}{template 'list-'.$module, 'tag'}{/if}
	</div>
	<div class="hot_recommend">
		<div class="recommend_title">
			<li><span style="font-size: 18px;">热门推荐</span></li>
		</div>
		<div class="recommend_list">
			<ul>
				<li>
					<a href="">
					<img src="" alt="">
					<div class="recommend_list_title">安普AMP 超五类非屏蔽电缆6-21
						9586-4 305米每箱</div>
					<div class="hot_mall_money">¥178.00</div>
					</a>
				</li>
				<li>
					<img src="" alt="">
					<div class="recommend_list_title">安普AMP 超五类非屏蔽电缆6-21
						9586-4 305米每箱</div>
					<div class="hot_mall_money">¥178.00</div>
				</li>
				<li>
					<img src="" alt="">
					<div class="recommend_list_title">安普AMP 超五类非屏蔽电缆6-21
						9586-4 305米每箱</div>
					<div class="hot_mall_money">¥178.00</div>
				</li>
				<li>
					<img src="" alt="">
					<div class="recommend_list_title">安普AMP 超五类非屏蔽电缆6-21
						9586-4 305米每箱</div>
					<div class="hot_mall_money">¥178.00</div>
				</li>
				<li class="notmargin">
					<img src="" alt="">
					<div class="recommend_list_title">安普AMP 超五类非屏蔽电缆6-21
						9586-4 305米每箱</div>
					<div class="hot_mall_money">¥178.00</div>
				</li>
			</ul>
			<div class="c_b"></div>
		</div>
	</div>
</div>
{template 'footer'}