*{
    margin:0;
    padding:0;

}
.game-wrap{
    position: static;
    height: auto !important;
    overflow: hidden;
    background: url("./bg.jpg?version=2.0") no-repeat center top #8eba25;
    -webkit-background-size:100% auto;
    background-size:100% auto;
}


.dialog-wrap{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.5);
}

.dialog{
    position: fixed;
    top:50%;
    left:50%;
    width: 9.5rem;
    height: 11.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    margin:  -6.0rem 0 0 -4.75rem; 
    background-color: #f7e6a1;
    border-bottom: 0.2rem solid #f7e6a1;
}
.dialog-box:before{
	content: "测试方法";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1.1rem;
	font-size: 0.4rem;
	line-height: 1.1rem;
	text-align: center;
	text-align: center;
	background-color: #cd9e6c;
	color: #4a2800;
}


.dialog-box{
    margin: 1.6rem 0.6rem 0 0.6rem;
    font-size: 0.4rem;
    color: #996425;
}
.dialog-box .hd{
	font-weight: bold;
	margin-top: 0.45rem;
}
.dialog-box .bd{
	font-size: 0.375rem;
	text-align: justify;
}
.dialog-box .bd p{
	line-height: 1.5;
	margin-top: 0.125rem;
}

.dialog-box .btn{
	display: block;
    width: 3.125rem;
    height: 1.15rem;
    margin: 0.2rem auto;
    background: url(./image/index-btn-3.png) no-repeat center top;
    -webkit-background-size: 3.125rem 1.15rem;
    background-size: 3.125rem 1.15rem;
}
.game-wrap .btn-area{
    width:100%;
    margin-top: 9rem !important;
}
.game-wrap .btn-area a{
	display: block;
	width: 5.5rem;
	height: 2.0rem;
    margin: 0.2rem auto;

}
.game-wrap .btn-area a.game-intro{
    background: url(./image/index-btn-2.png) no-repeat center top;
    	-webkit-background-size: 5.5rem 2.0rem;
	background-size: 5.5rem 2.0rem;
}
.game-wrap .btn-area a.game-go{
    background: url(./image/index-btn-1.png) no-repeat center top;
    	-webkit-background-size: 5.5rem 2.0rem;
	background-size: 5.5rem 2.0rem;
}
.gg-ad{
	margin: 1rem 0 0.5rem 0 !important;
	position: static !important;
	height: auto !important;
}

.gg-2{
	width: 300px;
	height: 250px;
	margin: 0.375rem auto 0;
}





