<?php defined('IN_DESTOON') or exit('Access Denied');?><?php include template('title');?>

<body id="webmid<?php echo $moduleid;?>">
<!--[if lte IE 6]>
<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！为了您更好的体验本站和您电脑/账号安全请尽快升级您的浏览器！<br>强烈建议您立即 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
<![endif]-->
<script type="text/javascript" src="<?php echo DT_PATH;?>file/script/arrowtree.js"></script> 
<script type="text/javascript" src="<?php echo DT_PATH;?>file/script/miniDropdown.js"></script>
<script type="text/javascript">
$(document).ready(function(){
$("#youcan").click(function(){$("#leftmenu").slideToggle("normal");});
});
</script>
<div class='topmenubg'>
<!--最顶部菜单-->
<script type="text/javascript">topmenu(<?php if($moduleid>2) { ?><?php echo $moduleid;?><?php } else { ?>1<?php } ?>
)</script>
<?php if(!$teceid) { ?>
<script type="text/javascript">Dd('tece<?php echo $moduleid;?>').className='welcomey';</script>
<?php } else { ?>
<script type="text/javascript">Dd('tece<?php echo $teceid;?>').className='welcomey';</script>
<?php } ?>
</div>
<div class='topbg cut'><!--背景和LOGO -->
<div class="webw siteinfo">
                           <div class="logo fl cut">
   <a href="{$MOD[linkurl]}" title="回到医疗科技网首页"><img src="<?php echo DT_SKIN;?>image/quote/logo.gif"></a>
   <?php if($moduleid==1) { ?><h1>医疗科技网<br>tech.tecenet.com</h1><?php } ?>
</div>
<div class="topsearch fl">
<div class="topSearchInner clearfix" onmouseover="Dd('hotkey').className=''" onmouseout="Dd('hotkey').className='hotkey'">
    <form id="destoon_search" action="http://www.tecenet.com/search.php" onsubmit="return Dsearch();">   
        <div class="searchBox clearfix">
      <input type="hidden" name="moduleid" value="{$moduleid}" id="destoon_moduleid"/>
      <input type="hidden" name="from" value="{$moduleid}" />
      <input type="hidden" name="spread" value="0" id="destoon_spread"/>
      <input type="hidden" name="action" value="" id="sresume"/>    
      <input type="text" name="kw" value="{$kw}" id="topkeyword" class='tokw' onkeyup="soTecnentValue()" />
            <div class='searchs'>
                <div onclick="chulai('sellists')">
                  <span class='lenstr' id='topkws'>{if $moduleid>2}{$MODULE[$moduleid]['name']}{else}默认全站{/if}<i></i></span>
                </div>
                <ul id='sellists' class='hd'>
                  <li ><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',0);guanbi('sellists');"  rel="nofollow">默认全站</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',9);guanbi('sellists');"  rel="nofollow">服务需求</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',9);guanbi('sellists');Dd('sresume').value='resume'" class='f12'  rel="nofollow">技术工程师</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',13);guanbi('sellists');"  rel="nofollow">厂商品牌</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',4);guanbi('sellists');"  rel="nofollow">厂商网店</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',16);guanbi('sellists');"  rel="nofollow">产品平台</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',5);guanbi('sellists');"  rel="nofollow">供应信息</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',6);guanbi('sellists');"  rel="nofollow">求购信息</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',21);guanbi('sellists');"  rel="nofollow">文章中心</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',10);guanbi('sellists');"  rel="nofollow">问答平台</a></li>
                  <li><a href='javascript:void(0)' onclick="selectlist('topkws',this.innerText,'destoon_moduleid',15);guanbi('sellists');"  rel="nofollow">共享下载</a></li>
                </ul>
            </div>
            <input type="submit" class='seasubmit' value="搜本站">
        </div>
    </form>
    <form action="http://so.tecenet.com/search.php" method="post" target="_blank">
        <input type="text" name="keyword" value="" id="soInputTxt" class="so-input-txt" autocomplete="off">
        <input class="so-input-submit" type="submit" value="搜医搜">
    </form>

    <div class="hotkey" id="hotkey"><!--{tag("moduleid=1&table=keyword&condition=moduleid=16 and length(word)>4   and length(word)<10 and status=3 &pagesize=20&order=month_search desc&key=month_search&template=list-search_kw&debug=0", -2)}--></div>
</div>
<script>
    function soTecnentValue(){
        var sokeyword = document.getElementById("topkeyword").value;
        document.getElementById("soInputTxt").value = sokeyword;
    }
</script>

</div>
<div class="T4000 fl"><a href="<?php echo DT_PATH;?>about/contact.html"  rel="nofollow" TITLE="本站各项医疗相关业务联系方式"><img src="<?php echo DT_SKIN;?>image/quote/400.gif"></a>
</div>
</div>
</div>
<div <?php if($moduleid==1) { ?>class='webbg'<?php } else { ?>class='webbg2'<?php } ?>
 id='modulebg'>
<div class="webw">
<?php if(!$sitemenu) { ?><?php include template('menu');?><?php } else { ?><?php include template('menu',$sitemenu);?><?php } ?>
<div class="divline" id="menubgs"></div>
<div class="center autoheight"  id="webbodycontent" >
