{php $sitemenu='quote';$listpage='search';$onmenu='quote-news';$head_title=$catname[catname].'_新闻资讯_医疗科技网';$head_description='医疗科技网的项目申报新闻资讯模块为你提供项目申报的最新信息，包括项目申报办法,公示,解决方案等！';$head_keywords='项目申报,项目申报办法,新闻资讯,天成医疗网';}
{template 'module-header'}
</div></div>

<script src="http://www.tecenet.com/file/script/common.js"></script>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/style.css?v20161208"/>
<link rel="stylesheet" type="text/css" href="http://www.tecenet.com/skin/teceskin/quote.css?v20161208"/>
<style>
img{display: inline-block;}
.tc-footer {margin-top: 20px;}
.tc-footer .copyright{width: 100%;}
#topkeyword{width:310px;height:22px;line-height:22px}
.page-header .logo h1{font-weight: normal;}
</style>
<style type="text/css">
	.news_top{border-bottom:3px solid #24917A;height:40px;}
	.news_top ul{width:660px;}
	.news_top ul li{float:left;font-size:16px;line-height: 40px;text-align: center;cursor: pointer;}
	.lileft{border-left:1px solid #ccc;height:39px;}
	.liright{border-right:1px solid #ccc;height:39px;}
	.liline{border-left:1px solid #ccc;height:22px;margin-top:8px;}
	.onshow{border-top:2px solid #24917A;border-left:1px solid #24917A;border-right:1px solid #24917A;border-bottom:1px solid #24917A;width:145px;height:39px;}
	.enshow{width:145px;height:39px;}
</style>
<script>
	$(document).ready(function(){
		var catid='{$catid}';
		switch(catid){
			case '{$news_xiangmu_catid}':
				$('#hyfg').css({'border-right':'1px solid #ccc','border-top':'1px solid #ccc'});
				$('#zczx').css('border-top','1px solid #ccc');
				$('#kjqy').css({'border-top':'1px solid #ccc','border-right':'1px solid #ccc'});
				break;
			case '{$news_hangye_catid}':
				$('#xmsb').css({'border-left':'1px solid #ccc','border-top':'1px solid #ccc'});
				$('#zczx').css('border-top','1px solid #ccc');
				$('#kjqy').css({'border-top':'1px solid #ccc','border-right':'1px solid #ccc'});
				break;
			case '{$news_zhengce_catid}':
				$('#hyfg').css({'border-right':'1px solid #ccc','border-top':'1px solid #ccc'});
				$('#xmsb').css({'border-left':'1px solid #ccc','border-top':'1px solid #ccc'});
				$('#kjqy').css({'border-top':'1px solid #ccc','border-right':'1px solid #ccc'});
				break;
			case '{$news_keji_catid}':
				$('#xmsb').css({'border-left':'1px solid #ccc','border-top':'1px solid #ccc'});
				$('#hyfg').css({'border-top':'1px solid #ccc'});
				$('#zczx').css('border-top','1px solid #ccc');
				break;
			default:break;
		}
		
		var list_right_height=$('#quotenewslist').height();
		$('#listright').css('height',list_right_height+'px');
	});
</script>
<div class="autoheight graybg">
<div class="webw">
<div class="your cut"><font class="color f14 mr10">您所在的位置 </font>
{php $catname=$db->get_one("select catname as c from {$db->pre}category where catid=".$catid);}
<a href="{$MODULE[1][linkurl]}">网站首页&nbsp;</a>&nbsp;&nbsp;>&nbsp;&nbsp;{if $moduleid<>3}<a href="{$MOD[linkurl]}" id="yourmdid">{$MOD[name]}</a>&nbsp;&nbsp;>&nbsp;&nbsp;<a href="{rewrite('news.php?catid='.$catid)}">{$catname[c]}</a>{else}{$ztitle}{/if}<a id="yourmdmore"></a>&nbsp;&nbsp;>&nbsp;&nbsp;{$title}</div>
<div class="autoheight whitebg">
<div class="divline"></div>
<div class="news_top">
	<ul>
		<li id="xmsb" {if $catid==$news_xiangmu_catid||$catid=='0'} class="onshow"{else} class="enshow"{/if}><a href="{rewrite('news.php?catid='.$news_xiangmu_catid)}">项目申报</a></li>
		<li id="zczx" {if $catid==$news_zhengce_catid} class="onshow"{else} class="enshow"{/if}>
		<div class="fl liline"  {if $catid==$news_hangye_catid||$catid==$news_keji_catid}style="display:block;"{else}style="display:none;"{/if}></div>
		<a href="{rewrite('news.php?catid='.$news_zhengce_catid)}">政策法规</a>
		<div class="fr liline" {if $catid==$news_xiangmu_catid||$catid==$news_keji_catid}style="display:block;"{else}style="display:none;"{/if}></div>
		</li>
		<li id="hyfg" {if $catid==$news_hangye_catid} class="onshow"{else} class="enshow"{/if}><a href="{rewrite('news.php?catid='.$news_hangye_catid)}">注册标准</a>
		<div class="fr liline" {if $catid==$news_keji_catid}style="display:block;"{else}style="display:none;"{/if}></div>
		</li>
		<li id="kjqy" {if $catid==$news_keji_catid} class="onshow"{else} class="enshow"{/if}><a href="{rewrite('news.php?catid='.$news_keji_catid)}">科技前沿</a></li>
	</ul>
</div>
<div class="whitebg contentleft" style="height:1260px;">
	<div>
		{template 'list-news_quote','tag'}
		
	</div>
</div>
<div class="contentright" id="listright" style="width:285px;background:#eaeaea;">
	{template 'news-right','quote'}
</div>
</div>
</div>


<div class="divline"></div>
{if $showpage && $pages}<div class="pages">{$pages}</div>{/if}

</div></div>
{template 'footer2017'}
