		{template 'member','tag'}
														<div class="divline"></div>


											{if $catida!=''}
											<div class="orange"><div class="h4title">{$parenta}热门排行</div></div>
													<div class="grayb nt autoheight pt10">
												<ul class="rank_list">
												<!--{tag("moduleid=$moduleid&condition=status=3 &pagesize=10&order=download desc&showcat=0&template=list-trade&debug=0")}-->	
												</ul>
											</div>
											<div class="divline"></div>
											{/if}




											<div class="orange"><div class="h4title">{$MOD[name]}推荐排行</div></div>
													<div class="grayb nt autoheight pt10">
												<ul class="rank_list">
												<!--{tag("moduleid=$moduleid&condition=status=3 &pagesize=10&order=edittime desc&showcat=0&template=list-trade&debug=0")}-->	
												</ul>
											</div>

											{ad($moduleid,$catid,$kw,7)}