<div class="webmenu">
	<div  class="webmenulist" id="mini-dropdown-2">
		<ul class="dropdown" id="nav">
		<li><a href="{$MODULE[16][linkurl]}" {if $itemid||$bcatid||$kw||$catid||$page}class='menun b f16'{else}class='menuy ml10'{/if}>产品服务网首页</a></li>
		<li><a href="{$MODULE[16][linkurl]}search.php?bcatid=858" {if $bcatid=='858'} class='menuy'{else}class='menun'{/if}>国内厂商产品</a></li>
		<li><a href="{$MODULE[16][linkurl]}search.php?bcatid=859" {if $bcatid=='859'} class='menuy'{else}class='menun'{/if}>国外厂商产品</a></li>
		<li><a href="{$MODULE[12][linkurl]}"class='menuy'>医院科室解决方案包</a></li>
		</ul>
	</div>
	<div class="webmem">
		<ul id="mstatus"><li><img src="{DT_SKIN}image/loadb.gif" style="padding-top:5px;"></li></ul>
		<span id="joinusto" class="hd"></span>
	</div>
</div>