{php $sitemenu='photo';$listpage='list';$CSS='article';}
{template 'header'}
{template 'lay','tag'}			
<script type="text/javascript">var sh = '{$MOD[linkurl]}search.php?thumb={$thumb}&catid={$catid}&kw={$kw}';</script>	
<script type="text/javascript">var module_id= {$moduleid},item_id={$itemid},content_id='content',img_max_width={$MOD[max_width]};</script>

<div class="whitebg autoheight">
<div class="contentleft autoheight pd10"> 
<div class="w500 mid" style="line-height:16px;height:16px;"><div class="fl mr10 f12">对外分享转载</div>{template 'baidu', 'chip'}</div>	
<div class="divline"></div>
<h1 class="tc">{$title}</h1>
<div class="divline"></div>
<div class="graybg pd5">科室 <a href="{$MOD[linkurl]}{rewrite('list.php?catid='.$catid)}">{strip_tags(cat_pos(get_cat($catid), '/'))}</a></span><span class="ml20">发于[{timetodate($edittime,4)}]&nbsp;</span>
{if $copyfrom}&nbsp;&nbsp;<span class="ml20">来源：{if $fromurl}<a href="{$fromurl}" target="_blank">{/if}{$copyfrom}{if $fromurl}</a>{/if}{else}信息来源：{if $item['groupid']=='1'||$item['groupid']=='8'}<a href="{DT_PATH}">天成医疗网</a>{else}{$username} 发布{/if}{/if}</span>{if $author}<span class="ml20">&nbsp;&nbsp;作者：{$author}{/if}&nbsp;&nbsp;浏览次数：<span id="hits">{$hits}</span>	</span>
</div>
<div class="divline"></div>
{if $introduce}
<div class="introduce" style="width:690px;"><div class="f14">核心提示 {$introduce}</div></div>
<div class="divline"></div>{/if}
			<div class="divline"></div>
{if $CP}{template 'property', 'chip'}{/if}
		<div class="content">

<div class="divline"></div>
<div class="autoheight">{ad(129)}</div>
<div class="divline"></div>
		{$content}

		<div class="np f14">
		<ul>
		<li><strong>下一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&areaid=$cityid&pagesize=1&order=addtime asc&template=list-np", -1)}--></li>
		<li><strong>上一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&areaid=$cityid&pagesize=1&order=addtime desc&template=list-np", -1)}--></li>
		</ul>
		</div>
		<div class="divline"></div>


        {if $voteid}<div class="pd10">{loop $voteid $v}
		{load('vote_'.$v.'.htm')}{/loop}</div>
		{/if}
		{if $pages}<div class="divline"></div><div class="pages">{$pages}</div>{/if}
		</div>
		{if $subtitles}
		<dl class="subtitle">
		<dt>本文导航：</dt>
		<dd>
		<ul>
		{loop $titles $i $t}
		{if $subtitles > $i}
		<li>
		({php echo $i+1;})
		{if $page == $i+1}
		<strong>{$t}</strong>
		{else}
		<a href="{$MOD[linkurl]}{if $i}{itemurl($item, $i+1)}{else}{$item[linkurl]}{/if}" title="{$t}">{$t}</a>
		{/if}
		</li>
		{/if}
		{/loop}
		</ul>
		</dd>
		<div class="divline"></div>
		</dl>
		{/if}	
		{if $MOD[page_srelate]}
		<div class="divline"></div>
		<dl class="graybg pd10">
		{if $keytags}
		<dt class="f18"><a href="{$MOD[linkurl]}search.php?kw={urlencode($keytags[0])}" rel="nofollow" class="bcolor">同类{$MOD[name]}</a></dt>
		<dd class="related"><!--{tag("moduleid=$moduleid&length=44&condition=status=3 and itemid<>$itemid and keyword like '%".$keytags[0]."%'&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=list-table", -2)}--></dd>
		{else}
		<dt class="f18"><a href="{$MOD[linkurl]}{$CAT[linkurl]}" rel="nofollow" class="bcolor">同类{$MOD[name]}</a></dt>
		<dd class="related"><!--{tag("moduleid=$moduleid&length=44&catid=$catid&condition=status=3 and itemid!=$itemid&areaid=$cityid&pagesize=".$MOD[page_srelate]."&order=".$MOD[order]."&cols=2&template=list-table", -2)}--></dd>
		{/if}
		{/if}
		</dl>
<div class="divline"></div>
<dl style="width:700px;">{template 'comment', 'chip'}</dl>
</div>
			<div class="listright autoheight ">
					{template 'right', $module}	
			</div>
<br class="clear">
</div>
{template 'footer'}