{if $_userid}
	{if $downtype=='1'&&$user_status=='3'}
	{php $paystory=$db->count($DT_PRE.'finance_pay', "username ='$username' and moduleid=$moduleid and itemid=$itemid and currency='credit'", 0);}
			{if $paystory}
			{php $user_status=3;}
			{else}
			{php $user_status=2;}
			{/if}
	{/if}

	{if $downtype=='2'&&$user_status=='3'}
	{php $paystory=$db->count($DT_PRE.'finance_pay', "username ='$username' and moduleid=$moduleid and itemid=$itemid and currency='money'", 0);}
			{if $paystory}
			{php $user_status=3;}
			{else}
			{php $user_status=2;}
			{/if}
	{/if}
{/if}


{if $user_status == 3}
		<div class="downurl">
		<ul>
			<li><a href="{$MOD[linkurl]}down.php?auth={$auth}" class="t" rel="nofollow">点击本站下载</a></li>
			{if $MIRROR}
			{loop $MIRROR $k=>$v}
			<li><a href="{$MOD[linkurl]}down.php?mirror={$k}&auth={$auth}" class="t" rel="nofollow">点击{$v[name]}镜像下载</a></li>
			{/loop}
			{/if}
		</ul>
		</div>
{elseif $user_status == 2}
<div class="divline"></div>
<table cellpadding="5" cellspacing="5" width="250" class="grayb whitebg" align="left">
<tr>
<td class="f14 color ">要求：{if $downtype==1}下载需<strong class="ocolor">{$djifen}</strong>积分{/if}{if $downtype==2}下载需<strong class="ocolor">{$dprice}</strong>金币{/if}</td>
</tr>
<tr>
<td class="f14 color ">账号：{$username}还有{if $downtype==2} <strong class="ocolor">{$_money}</strong>&nbsp;金币{else} <strong class="ocolor">{$_credit}</strong>&nbsp;积分{/if}
</td>
</tr>
{if $MOD[fee_period]}
<tr>
<td>支付后可查看<strong class="ocolor">{$MOD[fee_period]}</strong>分钟，过期重新计费</td>
</tr>
{/if}
<tr>
<td>

	{if $downtype==1}{if $_credit>=$djifen}<a href="{$MODULE[$moduleid][linkurl]}/pay.php?itemid={$itemid}" target="caozuo" class="suby" rel="nofollow">确认积分支付下载</a> {else}您积分不够无法下载<br>你可以通过发表下载或者发表评论，增加积分！或者直接充值！{/if}
	<div class="tc pt5 f14"><a href="{$MODULE[2][linkurl]}credit.php?action=buy" class="gcolor" rel="nofollow">帐户充值</a></div>
	
	{/if}
	{if $downtype==2}{if $_money>=$dprice}<a href="{$MODULE[$moduleid][linkurl]}/pay.php?itemid={$itemid}" target="caozuo" class="suby" rel="nofollow">确认金币支付下载</a>{else}您金币不够无法下载<br>你可以通过发布需要金币下载信息！<br>或者直接充值，赢得金币！{/if}
	<div class="tc pt5 f14"><a href="{$MODULE[2][linkurl]}charge.php?action=pay&amount={$dprice}" class="suba" rel="nofollow">帐户充值</a></div>
	{/if}


</td>
</tr>
</table>
<div class="divline"></div>

{elseif $user_status == 1}
<div class="divline"></div>
<table cellpadding="5" cellspacing="5" width="300" class="grayb whitebg">
<tr>
<td class="f16 rcolor">
您的会员级别没有下载该文件的权限</td>
</tr>
<tr>
<td>获得更多权限和功能，建议<span class="f_red">升级</span>会员级别</td>
</tr>
{if $DT[telephone]}
<tr>
<td>咨询电话：{$DT[telephone]}</td>
</tr>
{/if}
<tr>
<td>
<span class="w80 fl mr10"><a href="{$MODULE[2][linkurl]}grade.php?sj=yes" rel="nofollow" class="suby" target="_blank">现在升级</a></span><span class="w80 fl mr10"><a href="{$MODULE[2][linkurl]}grade.php" rel="nofollow" class="suba" target="_blank">了解详情</a></span>
</td>
</tr>
</table>
<div class="divline"></div>
{elseif $user_status == 0}
{load('user.css')}
<div class="divline"></div>
<table class="whitebg grayb "><form action="{$MODULE[2][linkurl]}{$DT[file_login]}" method="post" onsubmit="return user_login();">
<tr>
	<td colspan=2 class="f14"><img src="{DT_SKIN}image/no.gif" align="absmiddle"/>&nbsp;&nbsp;请登录后查看下载地址</td>
</tr>
<tr>
	<td><input type="hidden" name="submit" value="1"/>
	<input name="username" id="user_name" type="text" value="会员名/Email" onfocus="if(this.value=='会员名/Email')this.value='';" class="grayb"/>&nbsp; </td>
	<td align="left"><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow">注册&nbsp;&nbsp;</a></td>
</tr>
<tr>
	<td><input name="password" id="user_pass" type="password" value="password" onfocus="if(this.value=='password')this.value='';" class="grayb"/>&nbsp;  </td>
	<td align="left"><a href="{$MODULE[2][linkurl]}send.php" class="color" rel="nofollow">取回&nbsp;&nbsp;</a></td>
</tr>
<tr>
	<td><input type="submit" value="确定登录"></td>
</tr>
</form>
</table>


<div class="divline"></div>
{/if}