{template 'header'}



<div class="w730 fl autoheight"><!-- 右边内容开始sss-->
		
{template 'lay','tag'}	
<div class="grayb nt autoheight">
<div style="background:#fafafa" class="autoheight">
<div class="divline"></div>
		<h1 class="h1">{$title}</h1>
<div class="divline"></div>		
<div class="grayb autoheight whitebg pd10" style="margin:auto;width:90%">

		</div>
		<div class="divline"></div>
		<table cellpadding="5" cellspacing="1" width="80%" align="center">
		<tr>
			<td align="center"><div class="bnts" style="background:url('{DT_SKIN}image/down.gif')"><a href="#downurl" class="bcolor" rel="nofollow">进入下载地址</a></div></td>
			<td align="center"><div class="bnts" style="background:url('{DT_SKIN}image/fav.gif')"><a href="javascript:Dd('job_favorite').submit();" class="gcolor" rel="nofollow">点这收藏信息</a></div></td>
		</tr>
		</table>
		
		
		
		
		<div class="divline"></div>
		</div>
		{if $content}
		<div class="hentiao"><div class="htbg" ><ul class="bluet"><li class="bluey">文件详细描述</li></ul></div>
			<span class="mores">{template 'baidu', 'chip'}</span>
					</div>
		<form method="post" action="{$MODULE[2][linkurl]}favorite.php" name="job_favorite" id="job_favorite">
		<input type="hidden" name="action" value="add"/>
		<input type="hidden" name="title" value="{$title}"/>
		<input type="hidden" name="url" value="{$linkurl}"/>
		</form>
		<form method="post" action="{$MODULE[2][linkurl]}sendmail.php" name="sendmail" id="sendmail" target="_blank">
		<input type="hidden" name="itemid" value="{$itemid}"/> 
		<input type="hidden" name="title" value="{$title}"/>
		<input type="hidden" name="linkurl" value="{$linkurl}"/>
		</form>
		{if $CP}{template 'property', 'chip'}{/if}
		<div class="content spic" id="content">{$content}<br class="clear"/></div>
		<div class="divline"></div>
		{/if}
		<div class="hentiao"><div class="htbg" ><ul class="bluet"><li class="bluey">下载地址<a name="downurl" rel="nofollow"></a></li></ul></div></div>
		<div id="down">{template 'content', 'down'}</div>
		{template 'comment', 'chip'}
	
</div>
</div>
{template 'zoom', 'chip'}
<div class="w240 fl autoheight ml10"><!-- 左边内容开始-->
														{template 'member','tag'}
														<div class="divline"></div>
														<div class="orange"><div class="h4title">发布会员的资料</div></div>
															<div class="grayb nt pb10 pt10 autoheight">      
                                                              {template 'memcontent', 'chip'}
																</div>
											<div class="divline"></div>
											<div class="orange"><div class="h4title">该会员更多{$MOD[name]}信息</div></div>
											<div class="grayb nt autoheight pt10">
												<ul class="leftlist h700">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and username='$username'&pagesize=30&order=hits desc&showcat=1&template=null&debug=0")}
													{loop $tagt $z $t}
													<li><span>[{$t[hits]}°C]</span><a class="color lenstr" style="width:150px;" href="{$t[linkurl]}" target='_blank'>{$t[title]}</a></li>
													{/loop}
													
                                                    </ul>
											</div>

											</div>
{template 'footer'}