<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}resume_comment.css"/>
<link rel="shortcut icon" href="{DT_PATH}favicon.ico"/>
<link rel="bookmark" href="{DT_PATH}favicon.ico"/>
<script type="text/javascript" src="{DT_PATH}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/config.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/common.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/page.js"></script>
</head>
<body>
<!--[if lte IE 6]>
<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！无法体验评论和留言功能！强烈建议您立即 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
<![endif]-->
{if $items==''}
{php $items=0;$star_attitude=5;$star_time=5;$star_quality=5;}
{/if}
<div id="destoon_comment">
<div class="avg_comment">
<table width="680" cellpadding="6" cellspacing="1" bgcolor="#e3e3e3">
  <tr>
    <td width="165" height="30" align="right"  bgcolor="#f9f9f9">{$select_star[0][0]}总[{$items}]票平均得分:</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar"> <img src='{DT_SKIN}image/<?php echo intval($star_attitude);?>star.gif'></div><div class="strs f_red">{$star_attitude}分</div><div class="strs">{$attitude_level}</div></td>
    </tr>
  <tr>
    <td width="165" height="30" align="right"  bgcolor="#f9f9f9">{$select_star[0][1]}总[{$items}]票平均得分:</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar"> <img src='{DT_SKIN}image/<?php echo intval($star_time);?>star.gif'></div><div class="strs f_red"> {$star_time}分</div><div class="strs">{$time_level}</div></td>
    </tr>
  <tr>
    <td width="165" height="30" align="right"  bgcolor="#f9f9f9" >{$select_star[0][2]}总[{$items}]票平均得分:</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar">  <img src='{DT_SKIN}image/<?php echo intval($star_quality);?>star.gif'></div><div class="strs f_red">{$star_quality}分</div><div class="strs">{$quality_level}</div></td>
    </tr>
</table>
<script type="text/javascript">
parent.Dd('attitude').innerText='{$select_star[0][0]} {$star_attitude}分';
parent.Dd('startime').innerText='{$select_star[0][1]} {$star_time}分';
parent.Dd('quality').innerText='{$select_star[0][2]} {$star_quality}分';
parent.Dd('resumevotes').innerText='{$items}';
</script>
</div>
<ul class="comments_list">
{loop $rc_lists $k $v}
	<li class="comment {if $k%2==0} comment_sp{/if}">
    	<div class="comment_title"><span class="comment_floor">第{$v[floor]}楼</span><?php echo substr($v[from_username],0,1)."****".substr($v[from_username],-1,1);?>于<span class="comment_time">{$v[commented_time]}</span>点评：</div>
        <div class="comment_content">
           <ul>
		   <li>{$select_star[0][0]}:<img src="{DT_SKIN}/image/{$v[star_attitude]}star.gif"/></li> 
            <li>{$select_star[0][1]}:<img src="{DT_SKIN}/image/{$v[star_time]}star.gif"/></li> 
            <li>{$select_star[0][2]}:<img src="{DT_SKIN}/image/{$v[star_quality]}star.gif"/></li> 
		</ul>
        </div>
        <div class="comment_content">{$v[content]}</div>
		<div class="comment_operate">
			{if $_username == $v[from_username] || $_groupid=='8'}
			<a href="?itemid={$itemid}&page={$page}&action=delete&rc_id={$v[rc_id]}" target="send" onclick="return confirm('确定要删除此点评吗？')">删除</a>&nbsp; | &nbsp;
			{/if}
			<a href="?itemid={$itemid}&op=1&action=vote&rc_id={$v[rc_id]}&nums={$v[agree]}" target="send">支持</a>(<span id="v_{$v[rc_id]}_1">{$v[agree]}</span>)&nbsp; | &nbsp;
			<a href="?itemid={$itemid}&op=0&action=vote&rc_id={$v[rc_id]}&nums={$v[disagree]}" target="send">反对</a>(<span id="v_{$v[rc_id]}_0">{$v[disagree]}</span>)
		</div>
    </li>
{/loop}
</ul>
{if $no_comment == 'no_comment'}<div class="no_comment">还没有任何人对此信息作出点评哦！</div>{/if}
{if $pages}<div class="pages">{$pages}</div>{/if}
<iframe src="" name="send" id="send" style="display:none;" scrolling="no" frameborder="0"></iframe>
<form action="{$MOD[linkurl]}resume_comment.php" method="post" target="send" onsubmit="return C();">
<input type="hidden" name="itemid" value="{$itemid}" />
<input type="hidden" name="username" value="{$_username}" />
<table width="680"  cellpadding="6" cellspacing="1" bgcolor="#e3e3e3">
  <tr>
    <td width="165" height="30" align="right" bgcolor="#f9f9f9" >{$select_star[0][0]}评分：</td>
    <td bgcolor="#FFFFFF">
	<select name="star_attitude">
	<option value="5" selected>★★★★★</option>
	<option value="4" >★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
    </select>	
		
		</td>
    </tr>
  <tr>
    <td height="30" align="right" bgcolor="#f9f9f9" >{$select_star[0][1]}评分：</td>
    <td bgcolor="#FFFFFF">
	<select name="star_time">
	<option value="5" >★★★★★</option>
	<option value="4" selected>★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
    </select>	
		
		</td>
    </tr>
  <tr>
    <td height="30" align="right" bgcolor="#f9f9f9" >{$select_star[0][2]}评分：</td>
    <td bgcolor="#FFFFFF">
<select name="star_quality">
	<option value="5" >★★★★★</option>
	<option value="4" selected>★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
</select>
		</td>
    </tr>
  <tr>
    <td align="right" valign="top" bgcolor="#f9f9f9">相关评语：</td>
    <td bgcolor="#FFFFFF"><textarea name="comment_content" onkeyup="S();" style="width:470px;height:120px;" id="comment_content"></textarea></td>
    </tr>
  <tr>
    <th height="40" colspan="2" align="center" bgcolor="#FFFFFF" >

	<input type="submit" name="submit" value="确定并提交"  class="botton"/>

	</th>
    </tr>
</table>
</form>
<br class="clear"/>
</div>	

<script type="text/javascript">
function checks(pp,xx,num,dnum){
	if (document.getElementById(pp).value=="0"){
		for (i=1;i<=num ;i++ ){
			document.getElementById(xx+i).className='red'; 
		}
		for (i=dnum+1;i<=num;i++ ){
			document.getElementById(xx+i).className='hui'; 
		}
	}
}
function cdd(pp,dnum){
	if (document.getElementById(pp).value=="0"){
		document.getElementById(pp).value=dnum; 
	}
}

function S() {
	Inner('chars', Dd('comment_content').value.length);
}

function C() {
	/*var user_status = {$user_status};
	if(user_status == 1) {
		alert('您的会员组没有评论权限');
		return false;
	}
	if(user_status == 2) {
		if(confirm('您还没有登录,是否现在登录?')) {
			top.location = '{$MODULE[2][linkurl]}{$DT[file_login]}?forward={urlencode($linkurl)}';
		}
		return false;
	}*/
	if(Dd('pp').value == 0) {
		confirm('请给{$select_star[0][0]}打分！');
		return false;
	}
	if(Dd('pz').value == 0) {
		confirm('请给{$select_star[0][1]}打分！');
		return false;
	}
	if(Dd('pd').value == 0) {
		confirm('请给{$select_star[0][2]}打分！');
		return false;
	}
	if(Dd('comment_content').value.length < 5) {
		confirm('评语最少需要5字');
		Dd('comment_content').focus();
		return false;
	}
	if(Dd('comment_content').value.length > 500) {
		confirm('评语最多500字');
		Dd('comment_content').focus();
		return false;
	}
{if $_groupid!='8' || $_groupid!='1'}
		alert('您的会员组没有评论权限');
		return false;
{else}
	return true;
{/if}
}

var v_id = 0;
var v_op = 1;
var v_nm = 0;


{if $template == 'resume_comment'}
function R(id) {
	Dd('r_content').value = '评论举报，评论ID:'+id+'\n评论内容:\n'+Dd('c_'+id).innerHTML+'\n--------------------------\n举报理由:\n';
	Dd('r_form').submit();
}
{if $MOD[comment_vote]}

{/if}
function Q(qid){
	  Dd('qid').value = qid;
	  Ds('qbox');
	  Dd('qbox').innerHTML = '&nbsp;<strong>引用:</strong><div class="title">'+Dd('i_'+qid).innerHTML+'</div><div class="content">'+Dd('c_'+qid).innerHTML+'</div>';
	  H();
	  Dd('comment_content').focus();
}

function C() {
	var user_status = {$user_status};
	if(user_status == 1) {
		alert('您的会员组没有评论权限');
		return false;
	}
	if(user_status == 2) {
		if(confirm('您还没有登录,是否现在登录?')) {
			top.location = '{$MODULE[2][linkurl]}{$DT[file_login]}?forward={urlencode($linkurl)}';
		}
		return false;
	}
	if(Dd('star_2').checked == false && Dd('star_1').checked == false && Dd('star_0').checked == false) {
		confirm('请选择您的评价');
		Dd('star_2').focus();
		return false;
	}
	if(Dd('content').value.length < {$MOD[comment_min]}) {
		confirm('内容最少需要{$MOD[comment_min]}字');
		Dd('content').focus();
		return false;
	}
	if(Dd('content').value.length > {$MOD[comment_max]}) {
		confirm('内容最多{$MOD[comment_max]}字');
		Dd('content').focus();
		return false;
	}
	{if $need_captcha}
	if(!is_captcha(Dd('captcha').value)) {
		confirm('请填写验证码');
		Ds('tr_captcha');
		H();
		Dd('captcha').focus();
		return false;
	}
	{/if}
	return true;
}
function F() {
	{if $need_captcha}
	Ds('tr_captcha');
	{/if}
	H();
}
try{parent.Dd('comment_count').innerHTML = {$items};}catch(e){}
{/if}
function H() {
	try{parent.Dd('destoon_comment').style.height = Dd('destoon_comment').scrollHeight+'px';}
	catch(e){}
}
H();

</script>
</body>
</html>
