{if $type}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>网站地图|天成医疗网</title>
<link rel="shortcut icon" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
<link rel="bookmark" type="image/x-icon" href="{DT_PATH}favicon.ico"/>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/xiu17skin/catalog.css"/>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/xiu17skin/style.css"/>
<!--[if lte IE 6]>
<link rel="stylesheet" type="text/css" href="{DT_PATH}skin/xiu17skin/ie6.css"/>
<![endif]-->
<script type="text/javascript">window.onerror=function(){return true;}</script><script type="text/javascript" src="{DT_PATH}lang/zh-cn/lang.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/config.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/common.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/page.js"></script>
<script src="{DT_PATH}file/script/jsfunction.js" type="text/javascript"></script>
</head>
<body><style type="text/css">
	.pd5{padding:5px;}
</style>
<div id="catalog" class="catalog">
{if $type=='mall'}
<div style="text-align:center;margin-top:20px;margin-bottom:10px;"><a href="{DT_PATH}mall" target="_parent" class="pd10 orangebg orangeb f14 b ocolor">点击浏览所有[{php $num = $db->count($DT_PRE.'mall', "status=3", 60);}
{$num}]产品</a></div>
<hr class='clear orangeb'>
<fieldset><legend class='f14 b  pd5 bcolor bluebg blueb'>医疗器械设备交易分类</legend>
{php $mid = 16;$midname="医疗器械设备交易分类-";}
{template 'catalog', 'chip'}
</fieldset>
{/if}
{if $type=='job'}
{php $mid = 9;$action='&action=job';$midname="的设备维修信息";}
{template 'city', 'chip'}
{/if}
{if $type=='resume'}
{php $mid = 9;$action='&action=resume';$midname="的技术工程师";}
{template 'city', 'chip'}
{/if}
{if $type=='home'}
<style type="text/css">
.options{line-height:30px;font-size:14px;width:800px;}	
.options dt{font-size:14px;}
</style>
<dl class="options">
<dt>医疗器械厂家目录分类：</dt>
<dd><ul><li><a  class="opyes" href="{DT_PATH}brand/index-htm-kw-.html"  target="_blank">不限</a></li>
<li><a href="{DT_PATH}brand/list-htm-kw--catid-858.html" class="color" target="_blank">国内厂家<i class="ocolor f12">{php $cu = $db->get_one("SELECT item AS item FROM ".$DT_PRE."category where catid=858 ORDER BY catid desc LIMIT 0,1");}
[{$cu['item']}]家</i></a></li>
<li><a href="{DT_PATH}brand/list-htm-kw--catid-859.html" class="color" target="_blank">国外厂家<i class="ocolor f12">{php $cu = $db->get_one("SELECT item AS item FROM ".$DT_PRE."category where catid=859 ORDER BY catid desc LIMIT 0,1");}
[{$cu['item']}]家</i></a></li>
<br class="clear">
</ul>
</dd>
</dl>
<dl class="options">
<dt>第三方网店经营类型：</dt>
<dd><ul>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type-0-size--vip--areaid-0.html" class="opyes"  target="_blank">不限</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type-1-size--vip--areaid-0.html" class="color" target="_blank">企业单位</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type-2-size--vip--areaid-0.html" class="color" target="_blank">事业单位或社会团体</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type-3-size--vip--areaid-0.html" class="color" target="_blank">个体经营</a></li>
<br class="clear">
</ul>
</dd>
</dl>
<dl class="options">
<dt>网店运营模式：</dt>
<dd><ul>
<li><a href="{DT_PATH}company/search-htm-mode-0-catid-0-kw--list--groupid--order--type--size--vip--areaid-0.html" class="opyes"  target="_blank">不限</a></li>
<li><a href="{DT_PATH}company/search-htm-mode-1-catid-0-kw--list--groupid--order--type--size--vip--areaid-0.html" class="color" target="_blank">制造商</a></li>
<li><a href="{DT_PATH}company/search-htm-mode-2-catid-0-kw--list--groupid--order--type--size--vip--areaid-0.html" class="color" target="_blank">贸易商</a></li>
<li><a href="{DT_PATH}company/search-htm-mode-3-catid-0-kw--list--groupid--order--type--size--vip--areaid-0.html" class="color" target="_blank">服务商</a></li>
<li><a href="{DT_PATH}company/search-htm-mode-4-catid-0-kw--list--groupid--order--type--size--vip--areaid-0.html" class="color" target="_blank">其他机构</a></li>
<br class="clear">
</ul>
</dd>
</dl>
<dl class="options">
<dt>网店运作规模：</dt>
<dd><ul>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-0-vip--areaid-0.html" class="opyes"  target="_blank">不限</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-1-vip--areaid-0.html" class="color" target="_blank">1-49人</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-2-vip--areaid-0.html" class="color" target="_blank">50-99人</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-3-vip--areaid-0.html" class="color" target="_blank">100-499人</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-4-vip--areaid-0.html" class="color" target="_blank">500-999人</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-5-vip--areaid-0.html" class="color" target="_blank">1000-3000人</a></li>
<li><a href="{DT_PATH}company/search-htm-mode--catid-0-kw--list--groupid--order--type--size-6-vip--areaid-0.html" class="color" target="_blank">3000-5000人</a></li>
<br class="clear">
</ul>
</dd>
</dl>
{/if}
{if $type=='other'}
<style>
.map {padding:0 0 10px 0;}
.map p {margin:0px;line-height:28px;padding:0 0 0 20px;font-size:14px;}
.box_head{background:#f4f8fb;padding:5px 0px 5px 5px;}.box_head a{color:#395f91}
p a{color:#737373}
</style>
	{loop $MODULE $m}
	{if $m[moduleid]==15||$m[moduleid]==21}
	<div class="map">
	<div class="box_head f14"><a href="{$m[linkurl]}" target="_blank"><strong>{$m[name]}</strong><i>[{$c[item]}]</i></a></div>
	<div class="box_body">
	<table cellspacing="0" cellspacing="0">
	{php $child = get_maincat(0, $m[moduleid]);}
	{loop $child $i $c}
	{if $i%6==0}<tr>{/if}
	<td valign="top" width="150">
		<p><a href="{$m[linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a><i>[{$c[item]}]</i></p>
	</td>
	{if $i%6==5}</tr>{/if}
	{/loop}
	</table>
	</div>
	</div>
	{/if}
	{/loop}
{/if}
</div>
</body>
</html>
{else}
{template 'header'}
<style>
.map {padding:0 0 10px 0;}
.map p {margin:0px;line-height:28px;padding:0 0 0 20px;font-size:14px;}
.box_head{background:#f4f8fb;padding:5px 0px 5px 5px;}.box_head a{color:#395f91}
p a{color:#737373}
</style>
{template 'lay','tag'}
<script type="text/javascript">
Dd('yourmdmore').innerText='网站地图';
Dd('yourmdmore').href='{$MODULE[1][linkurl]}sitemap';
</script>
<div class="autoheight pd10 whitebg">
	{loop $MODULE $m}
	{if $m[moduleid] > 3 && !$m[islink]&&$m[moduleid]!=7}
	<div class="map">
	<div class="box_head f16"><a href="{$m[linkurl]}" target="_blank">{$m[name]}</a></div>
	<div class="box_body">
	<table cellspacing="0" cellspacing="0">
	{php $child = get_maincat(0, $m[moduleid]);}
	{loop $child $i $c}
	{if $i%6==0}<tr>{/if}
	<td valign="top" width="150">
		<p><a href="{$m[linkurl]}{$c[linkurl]}" target="_blank">{set_style($c[catname], $c[style])}</a></p>
	</td>
	{if $i%6==5}</tr>{/if}
	{/loop}
	</table>
	</div>
	</div>
	{/if}
	{/loop}
</div>
{template 'footer'}
{/if}