<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=yes">
<meta name="MobileOptimized" content="320">
<title>工程师点评</title>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}resume_comment.css"/>
<link rel="shortcut icon" href="{DT_PATH}favicon.ico"/>
<link rel="bookmark" href="{DT_PATH}favicon.ico"/>
<script type="text/javascript" src="{DT_PATH}lang/{DT_LANG}/lang.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/config.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/common.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/page.js"></script>
<style type="text/css">
	.strs_w{width: 50px;margin-left: 12px;}
	.comment_w{width:auto;}
	.comment_w ul{width:auto;height:72px;}
	.comment_w ul li{width: auto;line-height: 18px;}
</style>
</head>
<body>
<!--[if lte IE 6]>
<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！无法体验评论和留言功能！强烈建议您立即 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
<![endif]-->
{if $items==''}
{php $items=0;$star_attitude=5;$star_time=5;$star_quality=5;}
{/if}
<div id="destoon_comment">
<div class="avg_comment comment_w">
<table width="100%" cellpadding="6" cellspacing="1" bgcolor="#e3e3e3">
  <tr>
    <td width="30%" height="20" align="center"  bgcolor="#f9f9f9">{$select_star[0][0]}综评({$items})</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar"><img src='{DT_SKIN}image/<?php echo intval($star_attitude);?>star.gif'></div>
      <div class="strs strs_w f_red">{$star_attitude}分</div>
      <div class="strs strs_w">{$attitude_level}</div></td>
    </tr>
  <tr>
    <td height="20" align="center"  bgcolor="#f9f9f9">{$select_star[0][1]}综评({$items})</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar"> <img src='{DT_SKIN}image/<?php echo intval($star_time);?>star.gif'></div><div class="strs strs_w f_red"> {$star_time}分</div><div class="strs strs_w">{$time_level}</div></td>
    </tr>
  <tr>
    <td height="20" align="center"  bgcolor="#f9f9f9" >{$select_star[0][2]}综评({$items})</td>
    <td bgcolor="#FFFFFF">
      <div class="allstar">  <img src='{DT_SKIN}image/<?php echo intval($star_quality);?>star.gif'></div><div class="strs strs_w f_red">{$star_quality}分</div><div class="strs strs_w">{$quality_level}</div></td>
    </tr>
</table>
<script type="text/javascript">
parent.Dd('attitude').innerText='{$select_star[0][0]} {$star_attitude}分';
parent.Dd('startime').innerText='{$select_star[0][1]} {$star_time}分';
parent.Dd('quality').innerText='{$select_star[0][2]} {$star_quality}分';
parent.Dd('resumevotes').innerText='{$items}';
</script>
</div>
<ul class="comments_list" style="width:98%;">
{loop $rc_lists $k $v}
	<li style="width:auto;" class="comment {if $k%2==0} comment_sp{/if}">
    	<div class="comment_title" style="width:auto;"><span class="comment_floor">第{$v[floor]}楼&nbsp;</span><?php echo substr($v[from_username],0,1)."****".substr($v[from_username],-1,1);?>&nbsp;&nbsp;<span class="comment_time">{$v[commented_time]}</span></div>
        <div class="comment_content comment_w">
           <ul>
		   	<li>{$select_star[0][0]}:<img src="{DT_SKIN}/image/{$v[star_attitude]}star.gif"/></li> 
            <li>{$select_star[0][1]}:<img src="{DT_SKIN}/image/{$v[star_time]}star.gif"/></li> 
            <li>{$select_star[0][2]}:<img src="{DT_SKIN}/image/{$v[star_quality]}star.gif"/></li> 
		</ul>
        </div>
        <div class="comment_content comment_w">{$v[content]}</div>
		<div class="comment_operate comment_w">
			{if $_username == $v[from_username] || $_groupid=='8'}
			<a href="?itemid={$itemid}&page={$page}&action=delete&rc_id={$v[rc_id]}&wap=1" target="send" onclick="return confirm('确定要删除此点评吗？')">删除</a>&nbsp; | &nbsp;
			{/if}
			<a href="javascript:void(0);" onclick="V({$v[rc_id]}, 1, {$v[agree]});">赞</a>(<span id="v_{$v[rc_id]}_1">{$v[agree]}</span>)&nbsp; | &nbsp;
			<a href="javascript:void(0);" onclick="V({$v[rc_id]}, 0, {$v[disagree]});">踩</a>(<span id="v_{$v[rc_id]}_0">{$v[disagree]}</span>)
		</div>
    </li>
{/loop}
</ul>
{if $no_comment == 'no_comment'}<div class="no_comment">还没有任何人对此信息作出点评哦！</div>{/if}
{if $pages}<div class="pages">{$pages}</div>{/if}
<iframe src="" name="send" id="send" style="display:none;" scrolling="no" frameborder="0"></iframe>
<form action="{$MOD[linkurl]}resume_comment.php" method="post" target="send" onsubmit="return C();">
<input type="hidden" name="itemid" value="{$itemid}" />
<input type="hidden" name="username" value="{$_username}" />
<input type="hidden" name="wap" value="{$wap}"/>
<table width="100%" cellpadding="6" cellspacing="1" bgcolor="#e3e3e3">
  <tr>
    <td width="40%" height="20" align="center" bgcolor="#f9f9f9" >{$select_star[0][0]}评分</td>
    <td bgcolor="#FFFFFF" align="center">
	<select name="star_attitude">
	<option value="5" selected>★★★★★</option>
	<option value="4" >★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
    </select>	
		
		</td>
    </tr>
  <tr>
    <td height="20" align="center" bgcolor="#f9f9f9" >{$select_star[0][1]}评分</td>
    <td bgcolor="#FFFFFF" align="center">
	<select name="star_time">
	<option value="5" >★★★★★</option>
	<option value="4" selected>★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
    </select>	
		
		</td>
    </tr>
  <tr>
    <td height="20" align="center" bgcolor="#f9f9f9" >{$select_star[0][2]}评分</td>
    <td bgcolor="#FFFFFF" align="center">
<select name="star_quality">
	<option value="5" >★★★★★</option>
	<option value="4" selected>★★★★</option>
	<option value="3" >★★★</option>
	<option value="2" >★★</option>
	<option value="1" >★</option>
</select>
		</td>
    </tr>
  <tr>
    <!-- <td align="right" valign="top" bgcolor="#f9f9f9">相关评语：</td> -->
    <td colspan="2" bgcolor="#FFFFFF"><textarea name="comment_content" style="width:98%;height:60px;" id="comment_content" placeholder=" 请留下您的评语..."></textarea></td>
    </tr>
  <tr>
    <th height="20" colspan="2" align="center" bgcolor="#FFFFFF" >

	<input type="submit" name="submit" value="确定并提交" style="border-radius:5px;" class="botton"/>

	</th>
    </tr>
</table>
</form>
<br class="clear"/>
</div>	

<script type="text/javascript">
	function C() {
		var user_status = {$user_status};
		if(user_status == 1) {
			alert('您的会员组没有评论权限');
			return false;
		}
		if(user_status == 2) {
			if(confirm('您还没有登录,是否现在登录?')) {
				top.location = '{$MODULE[1][linkurl]}wap/index.php?moduleid=2&action=login&forward={urlencode($head_link)}-{$itemid}-resume';
			}
			return false;
		}
		
		if(Dd('comment_content').value.length < 5) {
			confirm('评语最少需要5字');
			Dd('comment_content').focus();
			return false;
		}
		if(Dd('comment_content').value.length > 500) {
			confirm('评语最多500字');
			Dd('comment_content').focus();
			return false;
		}

	}

	var v_id = 0;
	var v_op = 1;
	var v_nm = 0;
	function V(id, op, nm) {
		v_id = id;
		v_op = op;
		v_nm = nm;
		if(get_cookie('comment_vote_'+id)) {
			confirm('您已经对此评论表过态了');
			return;
		}			
		makeRequest('action=vote&mid={$mid}&itemid={$itemid}&rc_id='+id+'&op='+op, '?', '_V');

	}
	function _V() {						
		if(xmlHttp.readyState==4 && xmlHttp.status==200) {	

			if(xmlHttp.responseText == -2) {
				confirm('抱歉，您没有投票权限');
			} else if (xmlHttp.responseText == -1) {
				confirm('您已经对此评论表过态了');
			} else if (xmlHttp.responseText == 0) {
				alert('参数错误，如有疑问请联系管理员');
			} else if (xmlHttp.responseText == 1) {	
				if(v_op == 1) {					
					Inner('v_'+v_id+'_1', ++v_nm);
				} else {						
					Inner('v_'+v_id+'_0', ++v_nm);
				}
			}
		}
	}

</script>
</body>
</html>
