{template 'header'}
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=blue"></script>
<script type="text/javascript" src="{DT_PATH}file/script/msclass.js"></script>
<div class="w240 fl autoheight"><!-- 左边内容开始-->
			<div class="orange"><div class="h4title">{$MOD[name]}分类</div></div>
				<div class="grayb nt pb10 gdt pt10">
			
{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
					<dl class="tree">
					<dt class="treeno" onclick="{if $t[child]>0}chulai('tree{$t[catid]}'){else}location='{$t[linkurl]}'{/if}" onmouseover="this.className='treeyes'" onmouseout="this.className='treeno'"><a href="{if $t[child]>0}javascript:void(0){else}{$t[linkurl]}{/if}" class="ocolor"><i>[{$t[item]}]</i>{$t[catname]}</a></dt>
					{if $t[child]>0}
						<dd id="tree{$t[catid]}">
							<p><a href="{$t[linkurl]}" class="ocolor">直接打开：{$t[catname]}</a></p>
							<ul>
									{php $tagsk = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=".$t[catid]."&pagesize=30&order=listorder ASC&template=null&debug=0")}
									{loop $tagsk $z $k}
							<li><a href="{$k[linkurl]}" {if $catid==$k[catid]}class="ocolor"{else}class="color"{/if}>{$k[catname]}</a></li>
									{/loop}
							</ul>
						</dd>
					{/if}
					</dl>
{if $parentid==$t[catid]||$catid==$t[catid]}<script type="text/javascript">chulai('tree{$t[catid]}');</script>{/if}
		{/loop}		</div>

		<div class="divline"></div>
		<div class="orange"><div class="h4title">全站新闻/文章排行</div></div>
				<div class="grayb nt autoheight pt10">
					<ul class="rank_list">
					<!--{tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0")}-->				
					</ul>
		</div>
		{if $info22}
		<div class="divline"></div>
		<div class="orange"><div class="h4title">全站培训/认证排行</div></div>
				<div class="grayb nt autoheight pt10">
					<ul class="rank_list">
					<!--{tag("moduleid=22&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0")}-->				
					</ul>
		</div>
		{/if}
		<div class="divline"></div>
		<div class="orange"><div class="h4title">全站下载/共享排行</div></div>
				<div class="grayb nt autoheight pt10">
					<ul class="rank_list">
					<!--{tag("moduleid=15&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0")}-->				
					</ul>
		</div>
		<div class="divline"></div>
		<div class="orange"><div class="h4title">论坛会员发帖排行</div></div>
				<div class="grayb nt autoheight pt10">
					
					<script type="text/javascript" src="http://bbs.tecenet.com/api.php?mod=js&bid=37"></script>			
					
		</div>
</div>


<div class="w730 fl autoheight ml10"><!-- 右边内容开始sss-->
		<table cellpadding="0" cellspacing="0" width="100%">
		<tr>
		{if $MOD[page_islide]}
		<td valign="top" width="345">
			<div class="grayb hdp" ><!--{tag("moduleid=$moduleid&condition=status=3 and level>0 and thumb!=''&areaid=$cityid&order=".$MOD[order]."&pagesize=".$MOD[page_islide]."&width=330&height=250&target=_blank&template=slide")}-->
			</div>
		</td>
		{/if}
		<td valign="top">
		<div class="ggtu"><ul><li class="mt5"><a href='{$MODULE[22][linkurl]}' title="天成网医疗设备技术培训"><img src="{DT_SKIN}image/pei1.jpg"></a></li><li class="mt5 ml10"><a href='{$MODULE[15][linkurl]}' title='医疗技术资料共享下载'><img src="{DT_SKIN}image/share1.jpg"></a></li><li class=" mt5"><a href='http://bbs.tecenet.com' title='天成医疗网技术论坛'><img src="{DT_SKIN}image/bbs1.jpg"></a></li><li class="ml10 mt5"><a href='{$MODULE[1][linkurl]}guestbook' title="网站在线帮助问答中心"><img src="{DT_SKIN}image/help1.jpg"></a></li></ul></div>
	<div class="cut gdgg" >
		<div id="topdiv">
		<ul id="toplist">
		<!--{tag("moduleid=$moduleid&condition=status=3&areaid=$cityid&pagesize=10&order=".$MOD[order]."&target=_blank&template=list-hlr&showcat=1&len=42")}-->
		</ul>
		</div>
		<script type="text/javascript">new Marquee(["toplist"],0,1,380,100,30,0,0)	;</script>
	</div>
		</td>
		</tr>
		</table>				
<div class="divline"></div>

<div class="options search">
<form action="{$MOD[linkurl]}search.php" id="fsearch">
			<ul><li><select  name="fields" class="subm" ><option value="0" selected >模糊</option><option value="1"  >标题</option><option value="2"  >全文</option><option value="3"  >简介</option><option value="4"  >作者</option></select>
            <input type="text" size="30" name="kw" value="{$kw}" class="subm" id="keywords"  onfocus="if(this.value=='输入文章关键词'){this.value=''}"/>
			<script type="text/javascript">
			document.getElementById('keywords').value='{if $kw!=''}{$kw}{else}输入文章关键词{/if}';
			</script><input type="image" src="{DT_SKIN}image/search2.jpg" class="subm mr10"/>
			热门关键词：<!--{tag("moduleid=$moduleid&table=keyword&condition=moduleid=$moduleid and status=3 and updatetime>$today_endtime-86400*30&pagesize=6&order=month_search desc&key=month_search&template=list-search_kw", -2)}-->
			</li>
		</ul>
</form></div>
		<div class="divline"></div>	
		<div class="blue"><div class="h4title">最新新闻/文章内容</div><span class="mores"><a href='{$MODULE[21][linkurl]}search.php?order=2'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
				<div class="grayb nt autoheight pt10 list">
					<ul class="hxpic">
						{php $tagt = tag("moduleid=$moduleid&condition=status=3 and level>0 and thumb!=''&pagesize=6&order=edittime desc&template=null&debug=0")}
							{loop $tagt $z $t}
							<li onmouseover="this.className='hxyes'" class="hxno" onmouseout="this.className='hxno'"><a href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70><p class="w90">{dsubstr($t[title],20,"..")}</p></a></li>
							{/loop}												
					</ul>
					<ul class="hlist tlist">
					{php $tagt = tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $tagt $z $t}
					<li><span class="fr mr10">[{timetodate($t[addtime], 2)}]</span><i><a href="list.php?catid={$t[catid]}">[{$t[catname]}]</a></i><a href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],34,"..")}</a></li>
					{/loop}		
					</ul>
		</div>
		{if $info22}
		<div class="divline"></div>	
		<div class="blue"><div class="h4title">最新培训/认证内容</div><span class="mores"><a href='{$MODULE[22][linkurl]}'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
				<div class="grayb nt autoheight pt10 list">
					<ul class="hxpic">
						{php $tagt = tag("moduleid=22&condition=status=3 and level>0 and thumb!=''&pagesize=6&order=edittime desc&template=null&debug=0")}
							{loop $tagt $z $t}
							<li onmouseover="this.className='hxyes'" class="hxno" onmouseout="this.className='hxno'"><a href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70><p class="w90">{dsubstr($t[title],20,"..")}</p></a></li>
							{/loop}												
					</ul>
					<ul class="hlist tlist">
					{php $tagt = tag("moduleid=22&condition=status=3 and level>0&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $tagt $z $t}
					<li><span class="fr mr10">[{timetodate($t[addtime], 2)}]</span><i><a href="list.php?catid={$t[catid]}">[{$t[catname]}]</a></i><a href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],34,"..")}</a></li>
					{/loop}		
					</ul>
		</div>
		{/if}
		<div class="divline"></div>	
		<div class="blue"><div class="h4title">最新下载/共享内容</div><span class="mores"><a href='{$MODULE[15][linkurl]}'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
				<div class="grayb nt autoheight pt10 list">
										<ul class="hxpic">
						{php $tagt = tag("moduleid=15&condition=status=3 and level>0 and thumb!=''&pagesize=6&order=edittime desc&template=null&debug=0")}
							{loop $tagt $z $t}
							<li onmouseover="this.className='hxyes'" class="hxno" onmouseout="this.className='hxno'"><a href="{$t[linkurl]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=90 height=70><p class="w90">{dsubstr($t[title],20,"..")}</p></a></li>
							{/loop}												
					</ul>
					<ul class="hlist tlist">
					{php $tagt = tag("moduleid=15&condition=status=3 and level>0&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $tagt $z $t}
					<li><span class="fr mr10">[{timetodate($t[addtime], 2)}]</span><i><a href="list.php?catid={$t[catid]}">[{$t[catname]}]</a></i><a href="{$t[linkurl]}" target='_blank'>{dsubstr($t[title],34,"..")}</a></li>
					{/loop}		
					</ul>
		</div>
		<div class="divline"></div>	
		<div class="blue"><div class="h4title">最新论坛/帖子内容</div><span class="mores"><a href='http://bbs.tecenet.com'><img src='{DT_SKIN}image/more.jpg'></a></span></div>
				<div class="grayb nt autoheight pt10 list tz">
				<div id="tiezi">
<script type="text/javascript" src="http://bbs.tecenet.com/api.php?mod=js&bid=36"></script>
                </div>
			<script type="text/javascript">new Marquee(["tiezi"],0,1,725,380,30,0,0)	;</script>
		</div>


</div>				
{template 'footer'}




