{template 'header'}
<script type="text/javascript" src="{DT_PATH}file/script/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=blue"></script>
<script type="text/javascript" src="{DT_PATH}file/script/msclass.js"></script>

<div class="w730 fl autoheight "><!-- 右边内容开始sss-->
	{template 'lay','tag'}
	<div class="autoheight grayb nt">
	<div class="divline"></div>
		<h1 class="title">{$title}</h1>
		<div class="info"><span class="fr"><img src="{DT_SKIN}image/zoomin.gif" width="16" height="16" alt="放大字体" class="c_p" onclick="fontZoom('+', 'article');"/>&nbsp;&nbsp;<img src="{DT_SKIN}image/zoomout.gif" width="16" height="16"  alt="缩小字体" class="c_p" onclick="fontZoom('-', 'article');"/></span>
		<font>天成医疗编辑：{$editor}</font>
		<font>发布日期：{$adddate}</font>
		<font>浏览次数：<span id="hits">{$hits}</span></font>	
		{if $copyfrom}<font>信息来源：{$copyfrom}</font>{/if}
		</div>
		{if $daodu}{if $introduce && $user_status == 3 && $page == 1}<div class="introduce"><div>{$introduce}</div></div>{/if}{/if}

		{if $CP}{template 'property', 'chip'}{/if}
		<div id="content" class="spic">{template 'content', 'chip'}<p style="text-indent:2em;"><span>来源：<font>{if $copyfrom != NULL}{$copyfrom}{else}网络{/if}</font></span></p></div>
		{if $voteid}<div class="pd20">{loop $voteid $v}
		{load('vote_'.$v.'.htm')}{/loop}</div>
		{/if}
		{if $pages}<div class="pages">{$pages}</div>{/if}
		
		{if $MOD[show_np]}
		<div class="divline"></div>
		<div class="np">
		<ul>
		<li><strong>下一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime>$addtime&areaid=$cityid&pagesize=1&order=addtime asc&template=list-np", -1)}--></li>
		<li><strong>上一篇：</strong><!--{tag("moduleid=$moduleid&condition=status=3 and addtime<$addtime&areaid=$cityid&pagesize=1&order=addtime desc&template=list-np", -1)}--></li>
		</div>

		{/if}
			<div class="divline"></div>

			{template 'comment', 'chip'}
			 
	</div>
			
			
			
			
</div>

<div class="w240 fl autoheight ml10"><!-- 左边内容开始-->
			{template 'member','tag'}
		
		<div class="divline"></div>
			<div class="orange"><div class="h4title">{$MOD[name]}分类</div></div>
				<div class="grayb nt pb10 gdt pt10">
			
{php $tagss = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
					<dl class="tree">
					<dt class="treeno" onclick="{if $t[child]>0}chulai('tree{$t[catid]}'){else}location='{$t[linkurl]}'{/if}" onmouseover="this.className='treeyes'" onmouseout="this.className='treeno'"><a href="javascript:void(0)" class="ocolor"><i>[{$t[item]}]</i>{$t[catname]}</a></dt>
					{if $t[child]>0}
						<dd id="tree{$t[catid]}">
							<p><a href="{$t[linkurl]}">直接打开：{$t[catname]}</a></p>
							<ul>
									{php $tagsk = tag("moduleid=$moduleid&table=category&condition=moduleid=$moduleid and parentid=".$t[catid]."&pagesize=30&order=listorder ASC&template=null&debug=0")}
									{loop $tagsk $z $k}
							<li><a href="{$k[linkurl]}">	{$k[catname]}</a></li>
									{/loop}
							</ul>
						</dd>
					{/if}
					</dl>

		{/loop}	</div>

		<div class="divline"></div>	
		<div class="blue"><div class="h4title">全站最新资讯</div></div>
				<div class="grayb nt autoheight pt10 list">
					<ul class="rank_list">
					<!--{tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=10&order=addtime desc&showcat=0&template=list-trade&debug=0")}-->				
					</ul>
		</div>
		<div class="divline"></div>
		<div class="orange"><div class="h4title">全站热门排行</div></div>
				<div class="grayb nt autoheight pt10">
					<ul class="rank_list">
					<!--{tag("moduleid=$moduleid&condition=status=3 and level>0&pagesize=10&order=hits desc&showcat=0&template=list-trade&debug=0")}-->				
					</ul>
		</div>


</div>


{template 'footer'}






