{template 'title'}
<body id="webmid{$moduleid}">
	<!--[if lte IE 6]>
	<div class="pd10 tc gcolor f18">您的浏览器IE6是最低级别的浏览器！为了您更好的体验本站和您电脑/账号安全请尽快升级您的浏览器！<br>强烈建议您立即 <a href="http://windows.microsoft.com/zh-cn/internet-explorer/download-ie" target="_blank">升级IE浏览器</a> 或者用更快更安全的 <a href="https://www.google.com/intl/zh-CN/chrome/browser/?hl=zh-CN" target="_blank">谷歌浏览器Chrome</a></div>
	<![endif]-->
	{if !$headertp}
	<script type="text/javascript" src="{DT_PATH}file/script/arrowtree.js"></script> 
	<script type="text/javascript" src="{DT_PATH}file/script/miniDropdown.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#youcan").click(function(){$("#leftmenu").slideToggle("normal");});
		});
	</script>
	<div class='topmenubg'>
		<!--最顶部菜单-->
		<script type="text/javascript">topmenu(	{if $moduleid>2}{$moduleid}{else}1{/if})</script>
		{if !$teceid}
			<script type="text/javascript">Dd('tece{$moduleid}').className='welcomey';</script>
			<style>
				#webmid1 .topmenu li{margin-right: 74px;}
				#webmid1 .go-new{display: block;}
				.go-new{display: none;position: absolute;left: 50%;margin-left: 430px;}
				.go-new a{color: #ff8800;}
			</style>
			<div class="go-new">&nbsp;|&nbsp;<a href="http://www.tecenet.com/nindex.php" target="_self">新版首页</a></div>
		{else}
			<script type="text/javascript">Dd('tece{$teceid}').className='welcomey';</script>
		{/if}
	</div>

<!--Header-->
	<div class='topbg cut'><!--背景和LOGO -->
		<div class="webw siteinfo">
			<div class="logo fl cut">
				{if $mlogo}
					<a href="{$MODULE[$moduleid][linkurl]}" title="回到{{$MODULE[$moduleid][title]}}"><img src="{DT_SKIN}image/{$mlogo}" onerror="this.src='{DT_SKIN}image/logo.gif'"></a>
				{else}
					<a href="http://www.tecenet.com" title="回到天成医疗网首页"><img src="{DT_SKIN}image/logo.gif"></a>
				{/if}
				<h1>天成医疗网<br>www.tecenet.com</h1>
			</div>
			<div class="topsearch fl">
				{template 'search-tool','chip'}	
			</div>			
			<div class="T4000 fl">
				{if !$tel400&&$moduleid>2}
					{php $tel400=DT_SKIN.'image/'.$module.'/400.gif';}
				{else}
					{php $tel400=DT_SKIN.'image/'.$tel400;}
				{/if}
				<a href="{DT_PATH}about/contact.html"><img src="{$tel400}"  onerror="this.src='{DT_SKIN}image/400.gif'"></a>
			</div>
		</div>
	</div>
<!--//Header-->
<div {if $moduleid==1}class='webbg'{else}class='webbg2'{/if} id='modulebg'>
<div class="webw">
<div id="shopcart" class="shopcart"><a href='{$MODULE[16][linkurl]}cart.php'  rel="nofollow">购物车(<span id='destoon_cart'>0</span>)</a></div>
{if !$sitemenu}{template 'menu'}{else}{template 'menu',$sitemenu}{/if}
<div class="divline" id="menubgs"></div>
<div class="center autoheight"  id="webbodycontent" >
{else}
	{template 'header',$headertp}
{/if}
