{php $CSS = array('index');$ztitle='天成医疗网_专业医疗器械供求信息与医疗器械维修安装等技术服务平台';$JS=array('jquery.jslides','MSClass','GETxiu17');$page='index';}
{php $head_mobile='http://wap.tecenet.com/';}
{template 'header'}
</div>
</div>
{template 'index','leftmenu'}
<script type="text/javascript">
Dd('youcantext').innerText='在本站您能够做什么？ ';
$("#leftmenu").slideToggle("normal");
Dd('menubgs').className="hd";
</script>
<div  style="height:322px;position:absolute; z-index:0;top:189px;width:100%;;overflow:hidden">
    <div id="full-screen-slider">
        <ul id="b_slides">            
<!-- 读取宽屏广告图 开始 -->
{php $tagt = tag("moduleid=2&table=ad&condition=pid=37 and fromtime<$DT_TIME and totime>$DT_TIME and status=3&pagesize=5&order=listorder asc&template=null")}			
{loop $tagt $z $t}			
                    <li style="background: url('{$t[image_src]}') center no-repeat;">
					<div class="shadow"></div>
					<div class="webw"><div class="fabubt"><a href="{$t[image_url]}" target="_blank" title="{$t[introduce]}"><span class="lenstr tc mou_p">{$t[image_alt]}</span></a></div></div>
					</li>
{/loop}
<!-- 读取宽屏广告图结束  -->
        </ul>
    </div>
</div>

<div  class="center">
<div  class="webw">
<div class="themeleft" style="position:absolute; z-index:0;top:190px;">
<div class="tecetitle">关于天成医疗网</div>
<div class="tecememo">
<div><a href="http://www.tecenet.com/about/index.html"><img src="{DT_SKIN}image/build.jpg"></a></div>
<p><b>天成医疗网</b>依托卫生部医药生物工程技术研究中心、达安基因等国内一流的医学技术力量，通过电子商务手段，搭建的产品全、效率高、成本低的全方位技术服务及交易平台。</p>
<p>提供专业医疗器械供求与医疗器械采购信息；医疗器械维修、保养、调试等技术服务；国内外医疗器械公司企业品牌招商推广平台。为医疗器械企业、医院等机构提供全方位医疗器械技术与产品服务！<a href="http://www.tecenet.com/about/index.html" class="ocolor f12">&nbsp;&nbsp;更多</a></p>
</div>
</div>
<div class="themeright"  style="position:absolute; z-index:0;top:500px;margin-left:240px;">
				<dl class="whyme">
				<dt>为什么选择天成医疗网</dt>
				<dd class='wmbg1 '><p><b>食药监管局认可</b></p><p><span>互联网药认：粤-经营性-2013-0006</span></p></dd>
				<dd class='wmbg2 '><p><b>上市公司投资支持</b></p><p><span>达安基因投资与天成共同协办</span></p></dd>
				<dd class='wmbg3 '><p><b>认证资质的颁发</b></p><p><span>卫生部医药生物工程技术研究中心授权</span></p></dd>
				</dl>

</div>
</div>
</div>
<div class="divline"></div>
<div class="center autoheight">
<div style="height:400px;width:100%"></div>
<ul class="webw h65">
<li class="fl grayb w240 h65 cut">{ad(38)}</li>
<li class="fl grayb  w240 h65 cut" style="margin-left:9px;">{ad(39)}</li>
<li class="fl grayb  w240 h65 cut" style="margin-left:9px;">{ad(40)}</li>
<li class="fl grayb  w240 h65 cut" style="margin-left:9px;">{ad(41)}</li>
</ul>
<div class="divline"></div>
<div class="divline"></div>
<div class="count">
			<div class="webw" >
			<ul id="count">	
				<li>
					<p>
						<font class='ocolor' id="span_num">
							{php $mall=getsqldata("sum(amount)","{$db->pre}mall_order","number>=1",0,0);}
							{php $fee=getsqldata("sum(fee)","{$db->pre}mall_order","number>=1 and fee>0",0,0);}
							{php $num=$mall[0]['sum(amount)']+$fee[0]['sum(fee)'];}
							{php $num=number_format($num,0,'.',',')}
							{php $buy = $db->count($DT_PRE.'buy_6', "status=3", 60);}
							{php $buy=number_format($buy,0,'.',',')}
						</font>
						<a class="span_num_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanNum();">点击显示</a>
					</p>
					<span>订单市场金额</span>
				</li>	
				<li>
					<p><script type="text/javascript" src="module/count.php"></script></p>
					<span>首页关注次数</span>
				</li>
				<li>
					<p>
						{php $hr = $db->count($DT_PRE.'hr_job', "status=3", 60);}
						{php $peijian = $db->count($DT_PRE.'mall', "status=3 and stype=1", 60);}
						{php $brand = $db->count($DT_PRE.'brand_13', "status=3", 60);}
						{php $job = $db->count($DT_PRE.'job', "status=3", 60);}
						{php $resume = $db->count($DT_PRE.'resume', "status in (2,3)", 60);}
						{php $art = $db->count($DT_PRE.'article_21', "status=3", 60);}
						{php $down = $db->count($DT_PRE.'down_15', "status=3", 60);}
						{php $num=$job+$resume;}
						{php $num=number_format($num,0,'.',',')}
						{php $sell = $db->count($DT_PRE.'sell_5', "status=3", 60);}
						{php $sell=number_format($sell,0,'.',',')}
						{$num}
					</p>
					<span>技术服务信息</span>
				</li>
					{php $brand = $db->count($DT_PRE.'brand_13', "status=3", 60);}
					{php $company = $db->count($DT_PRE.'company', "username!='gztc' and groupid>5 ", 60);}
					{php $keshi = $db->count($DT_PRE.'category', "moduleid=12", 60);}
					{php $num=number_format($brand,0,'.',',')}
				<li>
					<p id="span_company">
						<a class="span_company_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanCompany();">点击显示</a>
					</p>
					<span>供应商总数</span>
				</li>
					{php $mall = $db->count($DT_PRE.'mall', "status=3", 60);}
					{php $num=number_format($mall,0,'.',',')}
				<li>
					<p id="span_product">
						<a class="span_product_link" href="javascript:;" style="display: none; font-size: 18px;" onclick="getSpanProduct();">点击显示</a>
					</p>
					<span>产品总数</span>
				</li>  
			</ul>
			<div class="join">
			   <p id="joinusto"><a href="http://www.tecenet.com/member/my.php" id="joinus">立即发布信息</a></p>
			   <span>已有<font id='members'>{php $memb = $db->count($DT_PRE.'member', "groupid>4 and edittime<>'1399513082'", 60);}
			   {$memb+10000}</font>会员已经加入天成医疗网</span>
			<script type="text/javascript" src="{DT_PATH}member/mem.php"></script>
			</div>
			</div>
</div>
<div class="law">
<div class="webw">
<ul><li>信息推荐到首页规则：</li><li>1.真实合法</li><li>2.新近发布</li><li>3.内容详细</li><li>4.有图有真相</li><li>5.独有不重复</li><li>6.精彩吸引人</li><li>7.商业推荐用户</li>
</ul>
</div>
</div>
<div class="divline"></div><!-- 第一屏结束 -->
<div class="divline"></div>
<div class="divline"></div>
<div class="webw" >

<!-- gq-module -->
<div class="gq-module">
	<div class="gq-module-hd clearfix">
		<h3><a href="{$MODULE[5][linkurl]}" target="_self">最新医疗供求行情</a></h3>
		<p>有 {$sell} 条与需求、供应、转让相关信息</p>
		<div class="moreinfo">	
			<a href="{$MODULE[5][linkurl]}" title="更多求购、需求、供应、二手信息">
				<img src="{DT_SKIN}image/blank.gif">
			</a>
		</div>
	</div>
	<div class="gq-module-bd clearfix">
		<a href="javascript:void(0)" target="_self" class="gq-module-btn" id="gqPrevBtn"></a>
		<div id="gqScrool">
			<div id="gqScroolUl">
			
			{php $sell_tags_type0 = tag("moduleid=5&condition=status=3 and typeid=0&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
			{php $sell_tags_type1 = tag("moduleid=5&condition=status=3 and typeid=1&pagesize=12&order=edittime desc&template=null&debug=0&showcat=1")}
			{php $maxsize = count($sell_tags_type0) > count($sell_tags_type1) ? count($sell_tags_type0) : count($sell_tags_type1); }
			{php $sell_type0_url = $MODULE[5][linkurl].rewrite('search.php?typeid=0');}
			{php $sell_type1_url = $MODULE[5][linkurl].rewrite('search.php?typeid=1');}
			<?php for($i=0;$i<$maxsize;$i++) { ?> 
			<ul>
				<li class="item">
					<h4>
					<i><a href="{$sell_type1_url}">[需求]</a></i>
					<a href="{$sell_tags_type1[$i]['linkurl']}" target="_blank" title="{$sell_tags_type1[$i]['title']}">{$sell_tags_type1[$i]['title']}</a>
					</h4>
					<p><span>地区:{area_pos($sell_tags_type1[$i]['areaid'])}</span><span>{$sell_tags_type1[$i]['hits']}人关注</span></p>
				</li>
				<li class="item">
					<h4>
					<i><a href="{$sell_type0_url}">[供应]</a></i>
					<a href="{$sell_tags_type0[$i]['linkurl']}" target="_blank" title="{$sell_tags_type0[$i]['title']}">{$sell_tags_type0[$i]['title']}</a>
					</h4>					
				<p><span>地区:{area_pos($sell_tags_type0[$i]['areaid'])}</span><span>{$sell_tags_type0[$i]['hits']}人关注</span></p>
				</li>
			</ul>
			<?php } ?>
			</div>
			</div>
		<a href="javascript:void(0)" target="_self" class="gq-module-btn" id="gqNextBtn"></a>
	</div>
</div>
<script type="text/javascript">
	new Marquee({
		MSClass  : ["gqScrool","gqScroolUl"],
		Direction : 2,
		PrevBtnID : "gqPrevBtn",
		NextBtnID : "gqNextBtn",
		Step  : 0.1,
		Width  : 993,
		Height  : 120,
		Timer  : 20,
		DelayTime : 3000,
		WaitTime  : 100000,
		ScrollStep: 993,
		AutoStart : true
	});
</script>
<!-- gq-module end -->

<div class="center autoheight mt10">
<dl class='div3s mr10' >
<dt style="background:#7aafd3">
<div><a href="{$MODULE[9][linkurl]}" title="更多维修、安装、维护相关信息" style="color:#0e3a6b">最新设备服务需求</a></div>
<p>有 {$job} 条与维修、安装、维护相关信息</p>
</dt>
<dd class='normal' id='jobs' >
<ul id='joblist'>			
{php $tagt = tag("moduleid=9&condition=status=3 and step<4 and catid>0&pagesize=5&order=edittime desc&template=null&debug=0&showcat=1")}			
{loop $tagt $z $t}			
<li>
<div class="ddtitle w280" ><p class="lenstr {if $t[thumb]!=''}w240{else}w280{/if}"><a href="{$t[linkurl]}" title="{$t[catname]}-{$t[alt]}" target='_blank'>· {$t[alt]}</a></p><font>地区:{area_pos($t[areaid], '/', 1)}</font><font>{$t[hits]}人关注</font></div>
</li>
{/loop}
</ul>
<div class="moreinfo"><a href="{$MODULE[9][linkurl]}" title="更多维修、安装、维护相关信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s mr10' >
<dt style="background:#f49459">
<div><a href="http://www.xiu17.com/zhaobiao/" title="更多招标采购、收购信息"  style="color:#af0303">最新正式招标采购信息</a></div>
<p>有 {$buy} 条与医院、单位、厂商公开采购相关信息</p>
</dt>
<dd class='normal' id='buys' >
<ul id='buylist'>			
{php $tags = tag("moduleid=6&condition=status=3 and typeid=1 &pagesize=5&order=edittime desc&template=index-list&debug=0&showcat=1")}			
</ul>
<div class="moreinfo"><a href="{$MODULE[6][linkurl]}" title="更多招标采购、收购相关信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s' >
<dt style="background:#9f9f9f"><div><a href="{$MODULE[28][linkurl]}" title=" {$quote} 条寻求简历，寻找人才提供就业机会" style="color:#344249">最新人才招聘信息</a></div>
<p>有 {$hr} 条人才招聘，寻找精英信息</p>
</dt>
<dd class='normal' id='needs' >
<ul id='needlist'>			
{php $tags = tag("table=hr_job&moduleid=28&condition=status=3&pagesize=5&order=edittime desc&template=index-list&debug=0&showcat=1")}			
</ul>
<div class="moreinfo"><a href="{$MODULE[28][linkurl]}"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<div class="infocontact"><ul>
<li><img src="{DT_SKIN}image/blank.gif"></li>
<li><img src="{DT_SKIN}image/blank.gif"></li>
</ul></div>
<dl class='div3s mr10' >
<dt style="background:#7aafd3;"><div><a href="{$MODULE[9][linkurl]}{rewrite('search.php?action=resume')}" title="更多技术工程师、维修公司信息"  style="color:#0e3a6b">推荐技术工程师</a></div>
<p>有 {$resume} 条与技术工程师、维修公司相关信息</p>
</dt>
<dd class='normal' id='resumes' >
<ul id='resumelist'>			
{php $tags = tag("moduleid=9&table=resume&condition=status=3 &pagesize=5&order=edittime desc&template=index-list&debug=0&showcat=1")}			
</ul>
<div class="moreinfo"><a href="{$MODULE[9][linkurl]}{rewrite('search.php?action=resume')}" title="更多技术工程师、维修公司信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s mr10'>
<dt style="background:#f5965c"><div><a href="{$MODULE[4][linkurl]}{rewrite('search.php?catid=2365')}" title="更多医疗机构信息"  style="color:#af0303">推荐医疗机构</a></div>
<p>现{$company}条与供应商、网店等等相关信息</p>
</dt>
<dd class='normal' id='sells' >
<ul id='selllist'>			
{php $tags = tag("moduleid=4&condition=closeshop=0 and catids like '%2365%'&pagesize=5&order=level desc,userid desc&template=index-list&debug=0&showcat=1")}			
</ul>
<div class="moreinfo"><a href="{$MODULE[4][linkurl]}{rewrite('search.php?catid=2365')}" title="更多医疗机构信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s'>
<dt style="background:#8ec058;"><div><a href="{$MODULE[16][linkurl]}{rewrite('search.php?stype=1')}" style="color:#285100">最新医疗配件信息</a></div>
<p>有 {$peijian} 条与配件耗材等等医疗相关信息</p>
</dt>
<dd class='normal' id='mores' >
<ul id='moreslist' >			
{php $tags = tag("moduleid=16&condition=status=3 and stype=1&pagesize=5&order=level desc,edittime desc&template=index-list&debug=0&showcat=1")}			
</ul>
<div class="moreinfo"><a href="{$MODULE[16][linkurl]}{rewrite('search.php?stype=1')}" ><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<!-- 第二行三块结束 -->
<div class="divline"></div>
<div class="divline"></div>
<div class="divline"></div>
{ad(43)}
<div class="divline"></div>
<div class="divline"></div>
<h3 class='color xdline'><b>推荐厂家、产品及科室解决方案包</b></h3>
<dl class='brand'>
		<dd id="brandlist">
		<div class="fl mid" style="width:14px;height:25px;padding-top:40px;"><a href="javascript:void(0)" id="turnleft2"><img src="{DT_SKIN}image/blank.gif"></a></div>
		<div class="fl" style="width:967px;height:125px;">
		<div id="CSSBox">
		<ul id="CSSContent">
			{php $tagt = tag("moduleid=13&condition=status=3 and thumb<>''&pagesize=16&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
		    {loop $tagt $z $t}															
			<li>
<a href="{$t[linkurl]}" title="{$t[alt]}"><img src='{$t[thumb]}' alt='{$t[alt]}' width="104" height="77" align="center"><div class="lenstr">{$t[alt]}</div></a>
           </li>
			{/loop}	
		</ul>
		</div>
		</div>
		<div class="fl mid" style="width:14px;height:25px;padding-top:40px;"><a href="javascript:void(0)" id="turnright2"><img src="{DT_SKIN}image/blank.gif"></a></div>
		</dd>
<script type="text/javascript">
new Marquee(
{
	MSClass	  : ["CSSBox","CSSContent"],
	Direction : 2,
	PrevBtnID : "turnright2",
	NextBtnID : "turnleft2",
	Step	  : 0.1,
	Width	  : 966,
	Height	  : 125,
	Timer	  : 20,
	DelayTime : 3000,
	WaitTime  : 1000,
	ScrollStep: 240,
	AutoStart : true
});
</script>
</dl>
<div class="divline"></div>
<dl class='div3s' >
<dt style="padding-left:10px;background:#e5e5e5 "><div><a href="http://www.xiu17.com/keshi/">医院科室解决方案包</a></div>
<p><font class="hcolor">{$keshi}个科室所需医疗器械及耗材打包方案</font></p>
</dt>
<dd class='keshi' >
<ul>
{php $tagt = tag("moduleid=12&table=category&condition=moduleid=12 and parentid=0&pagesize=60&template=null&debug=0&showcat=1")}			
{loop $tagt $z $t}			
<li><a href="{$MODULE[16][linkurl]}{$t[catid]}.htm" title="{$t[catname]}" target='_blank'>{$t[catname]}</a></li>
{/loop}
</ul>
</dd>
</dl>
<dl class='div2s' >
<dt style="background:#d12f1d url('{DT_SKIN}image/index/13.png')  no-repeat left center;"><div><a href="http://www.xiu17.com/chanpin/" style="color:#Fff">推荐医疗产品信息</a></div>
<p><font style="color:#f4c4c4">有{$mall}个医疗器械相关产品/耗材，参与到在线交易订单系统中(本站已经开通在线下单功能)</font></p>
</dt>
<dd class='product' id='product'  >

<div class="fl mid" style="width:14px;height:135px;padding-top:150px;"><a href="javascript:void(0);" id="turnleft"><img src="{DT_SKIN}image/blank.gif"></a></div>
<div class="fl" id="proBox">
<div  id="proContent">
<ul >
			{php $tagt = tag("moduleid=16&condition=status=3 and groupid>5&pagesize=16&order=edittime desc&template=null&debug=0&showcat=1")}
					{loop $tagt $z $t}
					<li><a  href="{$t[linkurl]}" title="医疗设备:{$t[alt]}" target='_blank'><img src="{imgurl($t[thumb], 1)}" width=135 height=120></a>
					<p>{dsubstr($t[alt],58,"..")}</p>
					</a></li>
			{/loop}
</ul>
</div>
</div>
<div class="fl mid" style="width:14px;height:135px;padding-top:150px;"><a href="javascript:void(0);" id="turnright"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<script type="text/javascript">
var product=new Marquee(
{
	MSClass	  : ["proBox","proContent"],
	Direction : 2,
	PrevBtnID : "turnright",
	NextBtnID : "turnleft",
	Step	  : 0.1,
	Width	  : 630,
	Height	  : 380,
	Timer	  : 20,
	DelayTime : 3000,
	WaitTime  : 100000,
	ScrollStep: 310,
	AutoStart : true
});
</script>
<!-- 第四行三块结束 -->
<div class="divline"></div>
<div class="divline"></div>
{ad(42)}
<div class="divline"></div>
<div class="divline"></div>
<dl class='div3s mr10'>
<dt style="background:#b0cadd;"><div><a href="{$MODULE[4][linkurl]}" title="更多供应商、网店等等信息" style="color:#153293">推荐供应商列表</a></div>
<p>现{$company}条与供应商、网店等等相关信息</p>
</dt>
<dd class='normal' id='companys' >
<ul id='companylist'>			
{php $tagt = tag("moduleid=4&condition=groupid>5 and groupid<8 and catids<>'' and closeshop=0 and validated=1&pagesize=5&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
{loop $tagt $z $t}			
<li>
<div class="ddtitle" ><p class="lenstr w280"><a href="{$t[linkurl]}" title="{$t[catname]}-{$t[company]}" target='_blank'>· {$t[company]}</a></p><font>地区:{area_pos($t[areaid], '/', 1)}</font><font>{$t[hits]}人关注</font><font>{$t[pnum]}个产品</font></div>
</li>
{/loop}
</ul>
<div class="moreinfo"><a href="{$MODULE[4][linkurl]}" title="更多供应商、网店等等信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s mr10'>
<dt style="background:#46aaa3;"><div><a href="{$MODULE[21][linkurl]}" title="更多新闻、政策、动向信息" style='color:#10313a;'>最新资讯信息</a></div>
<p>有{$art}条与新闻、政策、动向相关信息</p>
</dt>
<dd class='normal' id='arts' >
<ul id='artlist'>			
{php $tags = tag("moduleid=21&condition=status=3 and level>0 &areaid=$cityid&pagesize=4&order=level desc,edittime desc&template=null&debug=0&showcat=1")}	
{loop $tags $z $t}			
<li>
<div class="ddtitle w280" ><p class="lenstr w280"><a href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank' >· {$t[alt]}</a></p><font>{dsubstr($t[introduce],68,"..")}</font></div>
</li>
{/loop}
</ul>
<div class="moreinfo"><a href="{$MODULE[21][linkurl]}" title="更多新闻、政策、动向信息"><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<dl class='div3s'>
<dt style="background:#609170;"><div><a href="{$MODULE[15][linkurl]}" title="更多教程、录像、下载信息" style='color:#233a2d;'>技术资料共享</a></div>
<p>有{$down}条与教程、录像、下载相关信息</p>
</dt>
<dd class='normal' id='downs' >
<ul id='downlist'>			
{php $tags = tag("moduleid=15&condition=status=3 and download>10 &areaid=$cityid&pagesize=5&order=level desc,edittime desc&template=null&debug=0&showcat=1")}	
{loop $tags $z $t}			
<li>
<div class="ddtitle w280" ><p class="lenstr w280"><img src="{DT_SKIN}image/down/file/{$t[fileext]}.jpg" class="mid mr5"><a href="{$t[linkurl]}" title="{$t[catname]}-{$t[title]}" target='_blank'>{$t[title]}</a></p>
<font>[{$t[catname]}]</font><font>{$t[hits]}人关注</font><font>{$t[download]}人下载</font></div>
</li>
{/loop}
</ul>
<div class="moreinfo"><a href="{$MODULE[15][linkurl]}" title="更多教程、录像、下载信息" ><img src="{DT_SKIN}image/blank.gif"></a></div>
</dd>
</dl>
<!-- 第三行三块结束 -->
<div class="divline"></div>
<div class="h75 center whitebg grayb cut">
{ad(44)}
</div>
<div class="divline"></div>
<h3 class='ocolor xdline '>主流媒体对天成医疗网的关注和报道</h3>
<div class="divline"></div>
{php $tagt = tag("table=link&condition=status=3 and typeid=225&areaid=$cityid&pagesize=4&order=level desc,listorder asc,itemid desc&template=null")}	
{loop $tagt $z $t}
<dl class='meiti'    {if $z==3}style="margin-right:0px;"{/if}><dt><img src="{$t[thumb]}"></dt>
<dd><div>{dsubstr($t[introduce],140,"..")}&nbsp;<a href="{$MODULE[3][linkurl]}redirect.php?url={urlencode($t[linkurl])}" class='color lenstr'  target="_blank"  rel="nofollow">详细内容>></a></div><p>内容链接：</p>
<ul>
{php $tags = tag("table=link&condition=status=3 and typeid=225 and listorder=".$t[listorder]."&areaid=$cityid&pagesize=2&order=level desc,itemid desc&template=null")}	
{loop $tags $d $k}
<li class='mt5'><a href="{$MODULE[3][linkurl]}redirect.php?url={urlencode($k[linkurl])}" class="bcolor"  target="_blank" title="{$k[title]}"  rel="nofollow">{dsubstr($k[title],34,"..")}</a> </li>
{/loop}
</ul>
</dd>
</dl>
{/loop}	

<div class="divline"></div>



{template 'footer'}