{template 'module-header'}
{template 'menu2017'}

<div class="content w1200 box-center">

    <div class="crumb" id="weizhi">
        您当前的位置：
        <a class="a05" href="{DT_PATH}">天成官网</a>
        &gt;
        <a class="a05" href="<?php echo $hotModule->linkurl; ?>">热门关键词</a>
        &gt;
        {php $pageLinkurl = $hotModule->linkurl . '/' . $hotModule->searchRewrite(['mid' => $mid])}
        <a class="a05" href="{$pageLinkurl}"><?php echo $hotModule->contentModule[$mid].'关键词';?></a>
    </div>
    <style type="text/css">
        .category-nav {
            font-size: 16px;
            margin: 10px 0;
            font-weight: bold;
        }

        .module-link {
            font-size: 16px;
            margin-top: 8px;
            padding: 20px 0;
            text-align: center;
        }

        .module-link .selected {
            color: #F77602
        }

        .module-link a {
            margin: 0 10px;
            font-weight: bold;
        }

        .keyword {
            padding: 20px 0;
            width: 970px;
            margin: 0 auto;
        }

        .keyword span {
            display: inline-block;
            width: 190px;
            line-height: 30px;
        }

        .keyword span > a {
            display: inline-block;
            padding: 3px 10px;
            margin: 10px 0;
            border: 1px solid #eaeaea;
            background-color: #f9f9f9;
        }

        .keyword span > a:hover {
            background-color: #fff;
        }

        .keyword-footer {
            margin: 20px 0 0 0;
        }

        .pages .pages_btn {
            width: 32px;
            height: 20px;
        }
    </style>

    <div class="module-link">
        |
        {loop $category $k $cate}
            &nbsp;<a href="{$cate['linkurl']}"
                     {if $mid == $cate['mid']}class="selected"{/if} title="{$cate['word']}">{$cate['word']}</a>&nbsp;|
        {/loop}

    </div>
    <div class="keyword">
        {php $i = 0;}
        {loop $lists $k $word}
            {if $i % 5 == 0} <br/>{/if}
            <span><a href="{$word['linkurl']}" title="{$word['keyword']}">{$word['keyword']}</a></span>
            {php $i++}
        {/loop}
    </div>
    <div class="pages keyword-footer">
        {$pages}
    </div>
</div>
{template 'footer2017'}
