{php $head_css = [DT_SKIN.'/tc.page.header.css',DT_SKIN.'/tc.list.base.css',DT_SKIN.'/tc.zhaobiao.list.css'];}
{php $footer_js = [DT_PATH.'/file/script/jquery.sticky-kit.min.js',DT_PATH.'/file/script/buy/buy.search.js'];}
{template 'module-header'}
<!--bid-wrap-->
<div class="bid-wrap">
    <!--selector-->
    {php $link_cat_title = empty($catid) ? '' : $CAT[$catid];}
    {php $link_area_title = empty($areaid) ? '全国' : $childarea['areaname'];}
    
    <div class="selector bid-card">
        <div class="bid-container">
            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>招标采购范围：</span>
                </div>
                <div class="sl-value">
                    <ul class="sl-v-list sl-v-list-qixie">
                    	{php $catid_selector = $selector;}
                    	{php unset($catid_selector['catid']);}
                        <li {if empty($catid)}class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($catid_selector)}" target="_self" title="{$link_area_title}医疗器械招标采购">全部</a></li>
                        
                        {loop $CAT $k $v}
                        {php $catid_selector['catid'] = $k;}
                        <li {if $catid == $k}class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($catid_selector)}" target="_self" title="{$link_area_title}{$v}医疗器械招标采购" >{$v}</a></li>
                        {/loop}
                    </ul>
                </div>
            </div>

            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>所在地区：</span>
                </div>
                {if $areaid}
            <div class="sl-value">
                <ul class="sl-v-list">
                	{php $areaid_selector = $selector;}
                	{php $area_parentid = $childarea['parentid'] == 0 ? $areaid : $childarea['parentid'];}
                	{php unset($areaid_selector['areaid']);}
                    <li><a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" title="全国{$link_cat_title}医疗器械招标采购">不限</a></li>
                    {php $areaid_selector['areaid'] = $area_parentid;}
                    <li class="current"><a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" title="{$link_area_title}{$link_cat_title}医疗器械招标采购">{area_pos($area_parentid)}</a>
                    {php unset($areaid_selector['areaid']);}
                    <a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" class="clear-option" title="{$link_area_title}{$link_cat_title}医疗器械招标采购">×</a></li>
                </ul>
                {php $secondarea = tag("table=area&fields=areaid,areaname&condition=parentid=$area_parentid&pagesize=34&template=null&debug=0")}
                {if $secondarea}
                <ul class="sl-v-list sl-v-sub-list">
                	{php $areaid_selector = $selector;}
                	{loop $secondarea $sk $sv}
                	{php $areaid_selector['areaid'] = $sv['areaid'];}
                    <li {if $areaid == $sv['areaid']} class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" title="{$sv['areaname']}{$link_cat_title}医疗器械招标采购">{$sv['areaname']}</a></li>
                    {/loop}
                </ul>
                {/if}
            </div>
            {else}
            <div class="sl-value">
                <ul class="sl-v-list">
                	{php $areaid_selector = $selector;}
                	<?php if(isset($areaid_selector['areaid'])) unset($areaid_selector['areaid']); ?>
                    <li {if $areaid == 0} class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" title="{$link_area_title}{$link_cat_title}医疗器械招标采购">不限</a></li>
                    {php $mainarea = tag("table=area&fields=areaid,areaname&condition=parentid=0&pagesize=34&template=null&debug=0")}
                    {loop $mainarea $k $t}
                    {php $areaid_selector['areaid'] = $t['areaid'];}
                    <li {if $areaid == $t['areaid']} class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($areaid_selector)}" title="{$t['areaname']}{$link_cat_title}医疗器械招标采购">{$t['areaname']}</a></li>
                    {/loop}
                </ul>
            </div>
            <a class="sl-value-more" onclick="slValShowMore(this)" href="javascript:;">更多</a>
            {/if}
            </div>
            
            <div class="sl-wrap">
            	<div class="sl-key pull-left">
            		<span>公开程度</span>
            	</div>
            	<div class="sl-value">
            		<ul class="sl-v-list">
            			{php $typeid_selector = $selector;}
            			{php unset($typeid_selector['typeid'])}
            			<li {if !isset($typeid)}class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($typeid_selector)}" rel="nofollow">不限</a></li>
            			{php $typeid_selector['typeid'] = 0;}
            			<li {if $typeid == '0'}class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($typeid_selector)}" rel="nofollow">不公开应标</a></li>
            			{php $typeid_selector['typeid'] = 1;}
            			<li {if $typeid == 1}class="current"{/if}><a href="{$MODULE[6]['linkurl']}{buy_rewrite($typeid_selector)}" rel="nofollow">公开应标</a></li>
            		</ul>
            	</div>
            </div>

            <div class="sl-wrap">
                <div class="sl-key pull-left">
                    <span>精准搜索：</span>
                </div>
                <div class="sl-value">
                    <form class="search-frm" action="{$MODULE[6]['linkurl']}search.php" method="get">
                        <input type="hidden" name="catid" value="{$catid}" />
                        <input type="hidden" name="areaid" value="{$areaid}" />
                        <input type="hidden" name="typeid" value="{$typeid}" />
                        <input type="hidden" name="order" value="{$order}" />
                        <input type="text" class="s-frm-input" name="kw" value="{$kw}">
                        <input type="submit" class="s-frm-submit tc-list-i" value="搜索">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--selector end-->

    <!--sort-->
    <div class="sort bid-card">
        <div class="bid-container clearfix">
        	{php $order_selector = $selector;}
        	{php unset($order_selector);}
            <div class="sort-item sort-item-down {if empty($order)}current{/if}"><a href="{$MODULE[6]['linkurl']}{buy_rewrite($order_selector)}" target="_self" rel="nofollow">发布时间<i class="tc-list-i"></i></a></div>
            {php $order_selector['order'] = 'totime';}
            <div class="sort-item sort-item-down {if $order == 'totime'}current{/if}"><a href="{$MODULE[6]['linkurl']}{buy_rewrite($order_selector)}" rel="nofollow" target="_self">截止时间<i class="tc-list-i"></i></a></div>
			<!--
            <ul class="sort-tags-list pull-right">
                <li class=""><a href="#"><i class="tc-list-i sort-check"></i>认证推荐</a></li> 
            </ul>
            -->
        </div>
    </div>

    <!--sort end-->

    <div class="bid-container mt30 clearfix">
        <div class="bid-container-main pull-left">
            <div class="bid-list-box bid-card">
            {if $lists}
           		{loop $lists $k $v}
                	{template 'lists-item','buy'}
            	{/loop}
            {else}
            	{template 'empty-result','chip'}
                {php $parentid = $area->field('arrchildid')->where(['areaid'=>$childarea['parentid']])->one();}
           		<?php if(!empty($parentid)){
           				$inCondition['areaid'] = $parentid['arrchildid'];
           			}else{
           				$inCondition = [];
           			}
           			$epagesize = 4;
           		?>
            	{php $expand = $buy_db->where($condition)->where($inCondition,'in')->likeWhere($likeCondition)->limit(0,$epagesize)->select();}
            	
            	{if $expand}
                <div class="search-no-result-ft">
                    猜你喜欢
                </div>
                {/if}
            
            	{if $expand}
				{php $lists = $expand;}
				{loop $lists $k $v}
            		{template 'lists-item','buy'}
            	{/loop}
        		{/if}
            {/if}
            </div>


            <!--pagination-->
            {pagination($page,$count['c'],$pagesize,$MODULE[6]['linkurl'].'search.php',$selector,'buy_rewrite')}
            <!--pagination end-->
        </div>
        
        {template 'right','buy'}
        
    </div>
</div>
<!--bid-wrap end-->

{template 'footer2017'}