{php $head_css = [DT_SKIN.'/tc.page.header.css',DT_SKIN.'/tc.list.base.css',DT_SKIN.'/tc.zhaobiao.detail.css'];}
{php $footer_js = [DT_PATH.'/file/script/jquery.sticky-kit.min.js',DT_PATH.'/file/script/buy/buy.show.js',DT_PATH.'file/script/internalLink.js'];}
{template 'module-header'}
<!--bid-wrap-->
<div class="bid-wrap">
    <!--crumb-->
    <div class="crumb bid-container">
        <a href="{DT_PATH}" title="天成医疗网">天成医疗网首页</a><span>&gt;</span>
        <a href="{$MODULE[6]['linkurl']}" title="医疗器械招标采购">招标采购</a><span>&gt;</span>
        <a href="{$MODULE[6]['linkurl']}{buy_rewrite(['catid'=>$catid])}" title="{$CAT[$catid]}医疗器械招标采购">{$CAT[$catid]}</a><span>&gt;</span>
        <em>{$title}</em>
    </div>
    <!--crumb end-->

    <div class="bid-container clearfix">
        <div class="bid-container-main pull-left">
            <!--bid-content-->
            <div class="bid-content bid-card">
                <div class="bid-content-head">
                    <h1 class="bid-content-title">{$title}</h1>
                    <div class="bid-content-info">
                        <span class="bid-content-type">
                            <i class="zb-i zb-i-type"></i>
                            <a href="{$MODULE[6]['linkurl']}{buy_rewrite(['catid'=>$catid])}" target="_blank" title="{$CAT[$catid]}医疗器械招标采购">{$CAT[$catid]}</a>
                        </span>
                        <span class="bid-content-line">/</span>
                        <span class="bid-content-area">
                            <i class="zb-i zb-i-area"></i>
                            <a href="{$MODULE[6]['linkurl']}{buy_rewrite(['areaid'=>$areaid])}" target="_blank" title="{area_pos($areaid,'')}医疗器械招标采购">{area_pos($areaid,' ')}</a>
                        </span>
                        <span class="bid-content-line">/</span>
                        <span class="bid-content-see">
                            <i class="zb-i zb-i-see"></i>
                            <em>{$hits}</em>
                        </span>
                    </div>
                    <div class="bid-content-time clearfix">
                        <div class="bid-content-time-start">
                            <em>{date('Y-m-d H:i',$addtime)}</em>
                            <span><i class="zb-i zb-i-time"></i>招标发布时间</span>
                        </div>
                        <div class="bid-content-time-end">
                        {if !empty($totime)}
                            <em>{date('Y-m-d H:i',$totime)}</em>
                        {else}
                        	<em>长期有效</em>
                        {/if}
                            <span><i class="zb-i zb-i-time"></i>招标截止时间</span>
                        </div>

                        <form class="bid-fav-from pull-right" method="post" action="{$MODULE[2]['linkurl']}favorite.php">
                            <input type="hidden" name="action" value="add">
                            <input type="hidden" name="title" value="{$title}">
                            <input type="hidden" name="url" value="{$linkurl}">
                            <input type="submit" class="bid-fav-from-btn" value="加入收藏夹">
                        </form>
                    </div>
                </div>
                <div class="bid-content-body">
                	<div id="content">
                		{if $_userid}
	            			{$content}	
						{else}
							{xcontent($content,'*','1,3,5,7,9')}
						{/if}
                	</div>
                </div>
            </div>
            <!--bid-content end-->
        </div>
        {template 'right','buy'}
    </div>


    <!--bid-share-->
    <div class="bid-share">
        <div class="bdsharebuttonbox">
            <a href="#" class="ami bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
            <a href="#" class="ami bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博</a>
            <a href="#" class="ami bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
            <a href="#" class="ami bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
        </div>
    </div>
    <!--bid-share end-->

</div>
<!--bid-wrap end-->
{$iLink}
{template 'footer2017'}