<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>厂家列表</title>
<meta name="keywords" content="{$head_keywords}"/>
<style type="text/css">
body{margin:0px;padding:0px;font-size:12px;}a{font-size:12px;color:#555;text-decoration:none;}
.cs{width:230px;}i{color:#ff3300}
</style>
</head>
<body>
{php $tree=$_REQUEST['tree'];}
{if $tree=='1'}
{php $kw=$_REQUEST['kw'];$stype=9;$list=$_REQUEST['list'];$areaid=$_REQUEST['areaid'];$tc=$_REQUEST['tc'];$order=$_REQUEST['order'];$day=$_REQUEST['day'];$vip=$_REQUEST['vip'];}
<style type="text/css">
#catid{height:auto;padding:none;}select{margin:0px;}
</style>
<div style="background:#fafafa;" class="autoheight pd10">
<br>
<table cellpadding="5" cellspacing="1" bgcolor="#d8dfef" width="850" align="center" style="font-size:12px">
<tr>
	<td width=100 align="right"  bgcolor="#f7f9fd">
  <strong>请选厂家分类</strong>
	</td>
	<form method="post" action=""><td bgcolor="#f7f9fd" >
<input type="hidden" name="tree" value="1">
<input type="hidden" name="stype" value="{$stype}">
<input type="hidden" name="areaid" value="{$areaid}">
<input type="hidden" name="tc" value="{$tc}">
<input type="hidden" name="areaid" value="{$areaid}">
<input type="hidden" name="kw" value="{$kw}">
<input type="hidden" name="list" value="{$list}">
<input type="hidden" name="order" value="{$orderv}">
<input type="hidden" name="day" value="{$day}">
<input type="hidden" name="vip" value="{$vip}">	
	<select name="id1">
<option value="0">请选择</option>
{php $tagss = tag("moduleid=13&table=category&condition=moduleid=13 and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
<option value="{$t[catid]}" {if $id1==$t[catid]}selected 
{php $item=$t[item];$catname=$t[catname];}
{/if}>{$t[catname]}</option>
{/loop}
</select>

<input type="text" name="fname" value="{$fname}"><input type="submit" value="搜索厂商">


</td></form>
</tr>
<tr>
	<td bgcolor="#fcfdfe"  align="right"  height=200 width=100 valign="top"><strong>请选择某厂商</strong>
	</td>
	<td bgcolor="#fcfdfe" valign="top" align="center">
   <table cellpadding="5" cellspacing="0">

{if $fname!=''||$id1>0}
{php $tj="and catid=".$id1." and title like '%".$fname."%'"}
{elseif $fname!=''||$id1=0}
{php $tj="and title like '%".$fname."%'"}
{else}
{php $tj="and title like '%".$fname."%'"}
{/if}
{php $tagss = tag("moduleid=13&condition=status=3 ".$tj." &pagesize=20&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
{loop $tagss $i $t}
{if $i%3==0}<tr>{/if}
		<td align="left" height="25"><div class="cs"><li><a href="{DT_PATH}mall/search.php?fid={$t[itemid]}&stype={$stype}&bcatid={$t[catid]}&areaid={$areaid}&tc={$tc}&kw={$kw}&list={$list}&order={$orderv}&day={$day}&vip={$vip}&catid={$catid}" target="_parent" title="{$t[title]}" >{$t[title]}<i>[{$t[pnum]}]</i></a></li></div></td>
{if $i%3==2}</tr>{/if}
{/loop}

	</table>
<div class="pages">{$pages}</div>
{if $i>0}
	<hr color="#c4d1f0" size=0><br><a href="{DT_PATH}mall/search.php?bcatid={$t[catid]}&stype={$stype}&areaid={$areaid}&tc={$tc}&kw={$kw}&list={$list}&order={$orderv}&day={$day}&vip={$vip}&catid={$catid}" target="_parent" title="{$t[title]}" style="padding:6px;border:1px #b2b2b2 solid;background:#f3f3f3;;font-size:14px;margin-bottom:10px;">直接打开“<b style="color:#d13c0a">{$catname}</b>”所有厂家产品数据</a>
{/if}
<br>
	</td>
</tr>
</table>
<br>
</div>
{else}
<table cellpadding="0" cellspacing="0">
<tr height="30" valign="top">
	<td><select onchange="location='tree.php?id1='+this.value;window.parent.document.getElementById('bcatid').value=catid.value" id="catid">
<option>请选择</option>
{php $tagss = tag("moduleid=13&table=category&condition=moduleid=13 and parentid=0&pagesize=30&order=listorder ASC&template=null")}
{loop $tagss $i $t}
<option value="{$t[catid]}" {if $id1==$t[catid]}selected 
{php $item=$t[item];}
{/if}>{$t[catname]}</option>
{/loop}
</select></td>
	<td style="padding-left:5px;">{if $id1>0}
{if $item>0}
<select onchange="location='tree.php?id1={$id1}&itemid='+this.value;window.parent.document.getElementById('factory').value=itemid.options[itemid.selectedIndex].innerHTML;window.parent.document.getElementById('pbrand').value=itemid.options[itemid.selectedIndex].innerHTML;window.parent.document.getElementById('factoryid').value=itemid.value;" id="itemid">
<option>请选择厂家</option>
{php $tagss = tag("moduleid=13&condition=status=3 and catid=".$id1." &pagesize=".$item."&order=level desc,pnum desc&template=null&debug=0&showcat=1")}
{loop $tagss $i $t}
<option value="{$t[itemid]}" {if $itemid==$t[itemid]}selected{/if}>{$t[title]}</option>
{/loop}
</select>
<a href="/member/my.php?mid=13" target="_parent" >若无你要的厂家？点击这里添加！</a>
{else}
<script type="text/javascript">
window.parent.document.getElementById('factory').value="";
window.parent.document.getElementById('factoryid').value="";
window.parent.document.getElementById('pbrand').value="";
</script>
<a href="/member/my.php?mid=13" target="_parent" >该类别没厂家，点击这里添加！</a>
{/if}
{/if}</td>
</tr>
</table>

{/if}
</body>
</html>