{template 'header'}
{template 'lay','tag'}
<div class="autoheight pt10 grayb">
			<div style="padding:20px;">				
				<form method="post" action="{$MOD[linkurl]}apply.php" id="dform">
				<input type="hidden" name="itemid" value="{$itemid}"/>
				<table cellpadding="8" cellspacing="1" width="100%" bgcolor="#CDDCE4">
				<tr>
				<td bgcolor="#FBFCFD" width="120" align="center">推荐给发布者</td>
				<td bgcolor="#FFFFFF">
				{loop $lists $k $v}
				<div class="b5"></div>
				<div><input type="radio" name="resumeid" value="{$v[itemid]}"{if $k==0} checked{/if}/> <a href="{$v[linkurl]}" target="_blank">{$v[title]}</a></div>
				{/loop}
				</td>
				</tr>
				<tr>
				<td bgcolor="#FBFCFD"> </td>
				<td bgcolor="#FFFFFF"><input type="submit" name="submit" value=" 确定 " class="btn" onmouseover="this.clasName='btny'" onmouseout="this.clasName='btn'"/>&nbsp;&nbsp;<input type="button" value=" 返回 " class="btn" onmouseover="this.clasName='btny'" onmouseout="this.clasName='btn'" onclick="window.location='{$linkurl}';"/></td>
				</tr>
				</table>
				</form>	
			</div>
			<br/>
</div>

{template 'footer'}