
{php $ztitle='喜贺羊年春节,天成医疗感恩新老会员，VIP会员服务(含网络营销推广服务)回馈20名！';}
{template 'title'}
<body id="webmid{$moduleid}">
<style type="text/css">
	.lh28{line-height:28px;height:28px;font-size:16px;}
	#captcha{line-height:28px;height:28px;}

</style>
						<div class='topmenubg'>
						<!--最顶部菜单-->
						<script type="text/javascript">topmenu(	2)</script>
						</div>
<script type="text/javascript">
Dd('menubgs').className="hd";
</script>
<div style="background:#bb1720 url('{DT_SKIN}image/page/guoqin/hd(0).jpg') no-repeat center top;text-align:center;height:360px;"><img src="{DT_SKIN}image/page/guoqin/cj.jpg"></div>
<div  class="center" style="background:#bb1720 url('{DT_SKIN}image/page/guoqin/hd(1).jpg') no-repeat center top;height:188px;">
<div class="webw">
<div style="padding-left:190px;padding-top:15px;">
<table align="left" width=670 border=0>
<tr>
	<td  colspan=2 style="font-size:16px;" class="wcolor" height=80><b>领取条件</b>：<br>1.必须是企业单位，拥有三证（营业执照，代码证，国税）或营业执照含其他证明！2.必须真实有效，且过最近一年年检！新办企业可免！3.申请开店时，发布资料必须齐全且真实！</td>
</tr>
<tr>
	<td width="440"></td>
	<td></td>
</tr>
</table>
</div>
</div>
</div>
<div  class="center">
<div  class="webw  pd10">
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/hd(2).jpg') no-repeat center top;height:252px;">
<div style="padding-top:100px;padding-left:96px;font-size:17px;width:720px;">
· 免备案二级域名绑定<br>
· 不受会员中心功能限制<br>
· 不受发布数量限制<br>
· 信息排名推荐，网站加V推荐<br>
· 成为天成医疗网采购招标供应商<br>
</div>
</div>
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/hd(3).jpg') no-repeat center top;height:261px;">
<div style="padding-top:100px;padding-left:96px;font-size:17px;width:720px;">
· 36套高级美观大气的WEB2.0网站模板自由更换<br>
· 素材内容自由选择，自由上传，自由装修<br>
· 免费获得在线浮动客服功能，在线留言咨询功能<br>
· 购买广告位宣传，可获得精美单页及纸质单页设计<br>
</div>
</div>
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/hd(4).jpg') no-repeat center top;height:284px;">
<div style="padding-top:100px;padding-left:96px;font-size:17px;width:720px;">
· 百度排名竞价推广免费托管及优化服务<br>
· 网站结构SEO排名优化<br>
· QQ，新浪，网易，39健康，中华网，凤凰网各大平台宣传<br>
· 品牌推广及软文宣传服务<br>
</div>
</div>
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/bm.jpg') no-repeat center top;height:459px;">
<div style="padding-top:125px;">
<style type="text/css">
	#but{padding:10px;font-size:16px;}
</style>
<iframe src="" name="send" id="send" style="display:none;"></iframe>
<form method="post" action="{DT_PATH}api/tecenet/message.php" id="dform" onsubmit="return check();"  target="send" >
<input type="hidden" name="post[action]" value="save">
<input type="hidden" name="post[touser]" value="youki2012">
<table cellspacing="1" cellpadding=2 border=0 class="table" align="center">
<tr>
	<td class="graybg w140 tc"><span style="font-size:20px;" >公司名称</span></td>
	<td  style="height:50px;">
	<input type="text" name="post[title]" value="" size="50" class="lh28 pd5"><font style="color:#ff3300">*</font>
	</td>
</tr>
<tr>
	<td class="graybg w140 tc"><span style="font-size:20px;" >省份/地址</span></td>
	<td  style="height:50px;"><textarea name="post[content]" rows="2" cols="76" class="lh28 pd5"></textarea><font style="color:#ff3300">*</font></td>
</tr>
<tr>
	<td class="graybg w140 tc"><span style="font-size:20px;" >如何称呼</span></td>
	<td  style="height:50px;">
	<div id="" class="f18">&nbsp;<input type="text" name="post[truename]" ID="truename" class="w100 pd5 lh28">
	</div>
	</td>
</tr>
<tr>
	<td class="graybg w140 tc"><span style="font-size:20px;" >联系方式</span></td>
	<td  style="height:50px;">
	<div id="" class="f18">&nbsp;电话<font style="color:#ff3300">*</font> <input type="text" name="post[mobile]"  class="w100 pd5 lh28" id="mobile">&nbsp;&nbsp;QQ <input type="text" name="post[qq]"  class="w100 pd5 lh28">
	</div>
	
	</td>
</tr>

<tr>
	<td colspan=2 style='border:0px;text-align:center'><input type="submit" value="确认提交" id="but"></td>
</tr>
</table>

<script type="text/javascript">
alert('喜贺羊年春节,天成医疗感恩新老会员，VIP会员(含网络营销推广服务)回馈20名！\n请登记您的详细信息，4月1日会正式抽奖后公开！');
</script>
				<script type="text/javascript">
				function check() {
					var l;
					var f;
					f = 'content';
					l = Dd(f).value.length;
					if(l < 10 || l > 2000) {
						alert('内容不得少于10个汉字或者多余2000个汉字');
						return false;
					}

					f = 'truename';
					l = Dd(f).value.length;
					if(l < 2) {
						alert('请填写联系人');
						return false;
					}
					f = 'mobile';
					l = Dd(f).value.length;
					if(l < 7) {
						alert('请填写联系电话');
						return false;
					}


					f = 'captcha';
					l = Dd(f).value;
					if(!is_captcha(l)) {
						alert('请填写正确的验证码');
						return false;
					}
					if(Dd('c'+f).innerHTML.indexOf('error') != -1) {
						Dd(f).focus();
						return false;
					}
	
				}
				</script>
</div>

</div>
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/hd(6).jpg') no-repeat center top;height:410px;">
<div style="padding-top:120px;padding-left:60px;line-height:34px;font-size:16px;">
<ul>
<li>1.活动举办时间：2015年2月15日-2015年3月15日</li>
<li>2.获选名额：20名</li>
<li>3.结果公布时间：2015年4月1日</li>
<li>4.结果公布地点：本页下方全站公布并同时以邮件告知方式通知各参与者</li>
<li>5.获选条件：按人气排名，按产品数或信息数排名，按完整度排名等等综合排名前20名</li>
<li><b>本站拥有本次活动最终解释权</b></li>
</ul>
{php $bdfx='24';}
{template 'baidu', 'chip'}

<!-- <div class="tc"><a href="http://www.tecenet.com/announce/10233.html" class="pd10 orangebg orangb wcolor b">点击查看已报名的名单！</a><div class="divline"></div><div class="divline"></div></div> -->
</div>

</div>
<div class="divline"></div>
</div>
</div>
<div style="background:#ffffff url('{DT_SKIN}image/page/guoqin/hd(5).jpg') no-repeat center top;height:747px;">
<div style="padding-top:160px;">
<table align="center" border=0>
<tr>
	<td height=170 valign="top" align="left"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=657911476&site=qq&menu=yes"    rel="nofollow"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
	<td valign="top" align="left"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3086943799&site=qq&menu=yes"    rel="nofollow"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
	<td valign="top" align="left"><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=907382177&site=qq&menu=yes"    rel="nofollow"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
</tr>
<tr>
	<td height=130><a href="{$MODULE[2][linkurl]}register.php?kd=1"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
	<td><a href="{$MODULE[2][linkurl]}edit.php?tab=2"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
	<td><a href="{$MODULE[2][linkurl]}validate.php?action=company"><img src="{DT_SKIN}image/blank.gif" width="320" height=60 ></a></td>
</tr>
<tr>
	<td height=130><a href="{$MODULE[2][linkurl]}my.php"><img src="{DT_SKIN}image/blank.gif" width="220" height=60 ></a></td>
	<td><a href="{$MODULE[2][linkurl]}credit.php?action=invite"><img src="{DT_SKIN}image/blank.gif" width="220" height=60 ></a></td>
	<td><a href="javascript:void(0)" onclick="alert('可到论坛/QQ群/贴吧/问答等等做软性宣传您自己的网店！\n后截图，直接在第7步上传即可');"><img src="{DT_SKIN}image/blank.gif" width="220" height=60 ></a></td>
</tr>
<tr>
	<td colspan=3 align="center"><a href="{$MODULE[2][linkurl]}ask.php?action=add"><img src="{DT_SKIN}image/blank.gif" width="220" height=80 ></a></td>
</tr>
</table>
</div>

</div>

<script type="text/javascript">
{if $destoon_task}
show_task('{$destoon_task}');
{else}
{php include DT_ROOT.'/api/task.inc.php';}
{/if}
{if $lazy}$(function(){$("img").lazyload();});{/if}
</script>

<script type="text/javascript" src="http://www.tecenet.com/member/mem.php"></script>

<span style="display:none">
{template 'analytics','include'}
</span>