{php $ztitle='高企人才招聘专区-精英人才招聘通道开启';}
{template 'title'}
<script type="text/javascript" src="{DT_PATH}file/script/admin.js"></script>
<style type="text/css">
	#Dtop{background:#cce8f7;padding:10px;}
</style>
<body id="webmid{$moduleid}">
{if $_REQUEST['upload']}
<div style="padding:20px;">
<table cellspacing=1 cellpadding=0 border=0 width="800" align="center" bgcolor="#cce2ee" height=250>
<form method="post" action="{DT_PATH}api/tecenet/message.php" id="dform" onsubmit="return check();">
<input type="hidden" name="post[action]" value="save">
<input type="hidden" name="post[touser]" value="tcguangzhoung">
<input type="hidden" name="post[title]" value="{$_username}的求职简历">
<input type="hidden" name="post[content]" value="详细内容">
<tr>
	<td style="background:#f2f8fb" align="center">如何称呼</td>
	<td bgcolor="#ffffff"><input type="text" name="post[truename]" id="truename" value="{$_truename}"></td>
</tr>
<tr>
	<td style="background:#f2f8fb" align="center">联系手机</td>
	<td bgcolor="#ffffff"><input type="text" name="post[mobile]" id="mobile" value="{$_mobile}"></td>
</tr>
<tr>
	<td style="background:#f2f8fb" align="center">联系邮箱</td>
	<td bgcolor="#ffffff"><input type="text" name="post[email]" id="email" value="{$_email}"></td>
</tr>
<tr>
	<td style="background:#f2f8fb" align="center">上传简历</td>
	<td bgcolor="#ffffff"><input name="post[files]" type="text" size="60" id="files" value="" />&nbsp;&nbsp;<span onclick="Dfile(21, Dd('files').value, 'files');" class="jt">[上传]</span>&nbsp;&nbsp;</td>
</tr>
<tr>
	<td style="background:#f2f8fb" align="center">验证码</td>
	<td bgcolor="#ffffff">{template 'captcha', 'chip'} <span id="dcaptcha" class="ocolor"></span><font style="color:#ff3300">*</font></td>
</tr>
<tr>
	<td align="center" colspan=2> <input type="submit" style="padding:10px;background:#ff6600;color:#fff;border:0px;" ID="but" value="确定提交"></td>
</tr>
</form>
</table>
</div>
<script type="text/javascript">
function check() {
	var l;
	var f;
	f = 'truename';
	l = Dd(f).value.length;
	if(l < 2) {
		alert('名字最少2字，当前已输入'+l+'字');
		return false;
	}
	f = 'mobile';
	l = Dd(f).value.length;
	if(l < 10) {
		alert('手机最少10字，当前已输入'+l+'字');
		return false;
	}
	f = 'files';
	l = Dd(f).value.length;
	if(l < 10) {
		alert('请上传简历');
		return false;
	}
	f = 'captcha';
	l = Dd(f).value.length;
	if(l < 4) {
		alert('请填写验证码');
		return false;
	}
	return true;
}
</script>

{else}
<script type="text/javascript" src="{DT_PATH}file/script/lhgdialog.js?skin=idialog"></script>
						<div class='topmenubg'>
						<!--最顶部菜单-->
						<script type="text/javascript">topmenu(	{if $moduleid>2}{$moduleid}{else}1{/if})</script>
{if !$teceid}
<script type="text/javascript">Dd('tece{$moduleid}').className='welcomey';</script>
{else}
<script type="text/javascript">Dd('tece{$teceid}').className='welcomey';</script>
{/if}
						</div>

<div  class="center aboutusbg" style="background:#D44B39 url({DT_SKIN}image/page/job/job.jpg) center center no-repeat ;height:538px;;">
	<div  class="webw">
	<div style="padding-top:425px;padding-left:640px;"><a href="javascript:void(0)" title="发布达安专区招投标信息"><img src="{DT_SKIN}image/blank.gif" width="180" height="50"  id="scwj"></a></div>
	</div>
</div>
<div style="height:20px;"></div>
<div  class="webw">
	<div class="tc f16">中山大学达安基因股份有限公司 (002030)<p class="f12 hcolor">DAAN Gene Co., Ltd. of Sun Yat-sen University</p></div>
</div>
<div style="background:#fff url({DT_SKIN}image/page/job/liuc.jpg) center bottom no-repeat ;padding-bottom:348px;" class="autoheight">
		<div  class="webw f16" style="line-height:24px;padding:30px 5px 30px 5px;">
		<p style="text-indent:20px;">中山大学达安基因股份有限公司， 是中山大学控股企业，公司以分子诊断技术为主导，集临床检验试剂和仪器的研发、生产、销售以及全国连锁医学独立实验室临床检验服务为一体的生物医药高科技企业。</p>
        <p style="text-indent:20px;">公司前身为中山医科大学科技开发公司， 2001 年3 月,经广州市经济体制改革委员会穗改股字[2001]3 号文批准，中山医科大学达安基因有限公司依法整体变更为中山医科大学达安基因股份有限公司。并于2004 年7 月经中国证监会证监发行字（2004）119号文批准，在深圳交易所中小板挂牌上市，股票代码002030。</p>
		</div>
</div>
<div style="height:20px;"></div>
<div style="background:#f5f4f9 url({DT_SKIN}image/page/job/jcb.jpg) center top repeat-x ;" class="autoheight">
<div  class="webw" style="padding-top:20px;">
<div style="background:#f5f4f9; padding:20px 10px 10px 10px; width:220px;" class="tc f18 center">达安文化与发展<p class="f12 hcolor">David culture and development</p></div></div>
		<div  class="webw" style="line-height:28px;padding:30px 5px 30px 5px;font-size:15px;">
		<p style="text-indent:20px;">经过近20年的发展尤其是上市10年的快速发展，目前达安基因已经发展成为包括生物学、遗传学、细胞生物学、生物化学、微生物学、管理学等多项领域的专家及技术人才，拥有包括100余位博士、硕士、留学归国人员在内的2000多人的技术及管理人才队伍，构建了一整套现代企业化的运行模式，先后承担了近百项国家及省、部级重点攻关项目。<font class="rcolor">目前公司已经在全国拥有超过60家的全资、控股和参股子公司，总市值接近100亿元，和全国3000多家医疗机构产生紧密的业务合作关系。</font></p>

      <p style="text-indent:20px;padding-top:20px;"> 从最早的研发、生产、销售的产品型公司，今天的达安基因已经发展成为包括研发、产品和服务，覆盖生产厂家、经销渠道和医疗机构的全产业链公司，着力打造的<font class="rcolor">研发平台、营销平台、电子商务平台、医疗服务平台已经初呈规模</font>，借助产业投资的模式，达安基因行业领导者的战略目标发展迅速。</p>

     <p style="text-indent:20px;padding-top:20px;"> 达安基因高度重视和投资者、员工、合作伙伴的共同成长，“分享成长价值”的核心价值观和企业文化内涵，已经深得所有合作伙伴的认同。达安基因将努力追求和利益相关者的共赢，为中国医疗卫生事业的发展做出自己的贡献。
	  </p>
		</div>
</div>
<div style="height:20px;"></div>
<div style="background:#ffffff url({DT_SKIN}image/page/job/zp.jpg) center top no-repeat ;" class="autoheight">
<div style="height:20px;"></div>
<div  class="webw" style="padding-top:40px;">

<table cellspacing=0 cellpadding=0 border=0>
<tr>
	<td width="530">
	<div style="width:480px;" >
	<style type="text/css">
		.company li{float:left;width:240px;line-height:30px;height:30px;font-size:14px;}
	</style>
	<ul class="company">
<li>中山大学达安基因股份有限公司</li>               <li>广东达元食品药品安全技术有限公司</li>
<li>广州爱健生物技术有限公司</li>                     <li>广州安必平医药科技有限公司</li>
<li>广州合安生物技术有限公司</li>                     <li>广州天成医疗技术有限公司</li>
<li>广州达信生物技术有限公司</li>                     <li>广州立菲达安诊断产品技术有限公司</li>
<li>广州市顺元医疗器械有限公司</li>                  <li>广州合谐医疗科技有限公司</li>
<li>广州安汇医疗健康产业投资有限公司</li>        <li>广州邦宝医药有限公司</li>
<li>广州健福医疗科技有限公司</li>                     <li>广州济士源生物技术有限公司</li>
<li>广州润虹医药科技有限公司</li>                     <li>广东村村通科技有限公司</li>
<li>佛山市大洋医疗科技有限公司</li>                  <li>肇庆仁修堂医药有限公司</li>
<li>杭州安杰思医学科技有限公司</li>                  <li>厦门优迈科医学仪器有限公司</li>
<li>南昌百特生物高新技术股份有限公司</li>        <li>北京凯奥科技发展有限公司</li>
<li>武汉马应龙达安基因诊断技术有限公司</li>     <li>广州天医工程技术有限公司</li>
<li>广州天骄医疗科技有限公司
</ul>
	</div>
	</td>
	<td>
	<div style="width:430px;line-height:24px;" >
研究院（3名）   市场营销中心（5名）    信息中心（2名）   <br>商务物流部（1名）      国际业务部（2名）      人力资源中心（2名）

财务总监（1名）    资金总监（1名）    招商总监（2名）   <br> 配件服务总监（1名）      营销中心总监（1名）    副总经理（1名）    
人力资源总监（2名）      财务经理（3名）    会计师（3名）  <br>  技术服务部经理（3名）   医学科研经理（1名）   区域销售经理（5名）  
市场经理（5名）     运营经理（2名）    销售经理（5）      设计部经理(1名)   <br> 市场调研与规划组经理(1名)    产品经理(2名)    大客户经理（5名）   
实验室认证部经理（1名）     网站运营经理（1名）   网络工程师（2名）<br><br>

技术服务工程师（10名）   医疗器械维修工程师（30名）   电气工程师（10名）  <br> 高级设计师（2名）   品质技术员（10名）   生产工艺技术员（10名）  
QC工程师（5名）   人力资源主管（2名）   培训专员（2名）   销售工程师（10名）  <br> 网络推荐专员（2名）    国际业务销售（2名）大区销售总监助理（2名）   
行政助理（1名）   商务专员（2名）   市场专员（2名）  <br> 医疗器械产品线专员（2名）   实验室技术员（2名）   实习生（5名）
	</div>
	</td>
</tr>
</table>


</div>
<div style="height:20px;"></div><div style="height:20px;"></div>
<script type="text/javascript">
  $("#scwj").bind("click",function(){$("html, body").animate({scrollTop:$('#contactus').offset().top}, 200);});
</script>
<div  class="center autoheight" style="background:#f5f4f9;padding:40px 10px 40px 10px;"  id="contactus"> 
<div class="webw autoheight">
<table  cellspacing=0 cellpadding=0 border=0>
<tr>
	<td width="650">
	<div style="font-size:18px;line-height:30px;">
咨询电话：020-32052420<br>
简历投递邮箱：<br>
job@tecenet.com<br>
hr@tecenet.com<br>
 </div>
</td>
	<td>
	<div style="font-size:18px;line-height:30px;">
<p class="f18 tc">我们随时等着你的加入</p>
<p class="f14 tc">We are always waiting for you to join</p>
{if $_userid}
<p class="f14 tc"><a href="javascript:void(0);" onclick="msgdiv('jobbox','上传工作简历','{DT_PATH}page/job.php?upload=1')"   style="padding:7px;background:#ff9900;font-size:16px;color:#fff;"> 上传WORD简历</a></p>
{else}
<p class="f14 tc"><a href="javascript:void(0);" onclick='msgtip("您好！登陆提示！","要报名参加本项服务需求，您需要登录本站！<br>请 <a href=/member/register.php class=\"ocolor f14\">“注册账号”</a>&nbsp;&nbsp;<a href=/member/login.php class=\"ocolor f14\">“会员登录”</a>")'  style="padding:7px;background:#ff9900;font-size:16px;color:#fff;"> 上传WORD简历</a></p>
{/if}
 </div>
	</td>
</tr>
</table>
</div>
</div>
{template 'footer'}
{/if}