<div id="comment" class="detail-ft">
    <!--分享点赞收藏-->
    <div class="interact clearfix">
        	<div class="share-area pull-left">
                <div class="bdsharebuttonbox">
                    <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                    <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                </div>
                <div class="msg">分享给身边感兴趣的朋友</div>
            </div>

            <div class="link-area pull-left">
            {php $comment_stat = tag("table=comment_stat&condition=moduleid=$moduleid and itemid=$itemid&template=null")}
                <a href="javascript:;" onclick="send_comment(3,this)" class="link"><i class="p-i"></i><span>赞(<em>{if $comment_stat[0]['star3']}{$comment_stat[0]['star3']}{else}0{/if}</em>)</span></a>
                <a href="javascript:;" onclick="send_comment(1,this)" class="dis-link"><i class="p-i"></i><span>踩(<em>{if $comment_stat[0]['star1']}{$comment_stat[0]['star1']}{else}0{/if}</em>)</span></a>
            </div>
			
			<form action="{$MODULE[2]['linkurl']}favorite.php" method="get">
			<input type="hidden" name="action" value="add" />
			<input type="hidden" name="title" value="{$title}" />
			<input type="hidden" name="url" value="{$linkurl}" />
            <input type="submit" value="收藏" class="mark-btn pull-right p-i" />
            </form>
    </div>
    <!--分享点赞收藏 end-->
    
    <!--评论-->
    <!--
    <form class="comment-form clearfix" method="post" onsubmit="return false">
        <textarea class="comment-area" name=""></textarea>
        <label class="anonymous pull-left"><input type="checkbox" name="">匿名发表</label>
        <p class="comment-msg pull-left">还可以输入<span id="commentNum">500</span>个字</p>
        <button class="btn btn-primary pull-right">评论</button>
    </form>
    -->
    <!--评论 end-->

</div>
<script>
	window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"1","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
<script>
    var commentFlag = true;
	function send_comment(star,ele){
        var num = parseInt($(ele).find("em").html());
        if(commentFlag){
            $.ajax({
                type: 'POST',
                url: '{DT_PATH}ajax.php?action=comment&star='+star+'&moduleid={$moduleid}&itemid={$itemid}',
                success: function(){
                    num = num + 1;
                    $(ele).find("em").html(num);
                    commentFlag = false;
                },
                error:function(){
                    
                }
            });
        }
	}
</script>