<tr>
<form action="/member/output.php" method="post">
	<td align="center" style="padding:8px 0px;">导出订单</td>
	<td colspan="6" align="center" style="padding:8px 0px;">
	导出信息：
	<label><input type="checkbox" name="field[]" value="order" />订单详细&nbsp;</label>
	<label><input type="checkbox" name="field[]" value="buyer" />买家详细&nbsp;</label>
	<label><input type="checkbox" name="field[]" value="send" />发货信息&nbsp;</label>
	<label><input type="checkbox" name="field[]" value="trade" />支付信息&nbsp;</label>
	<input type="hidden" name="type" value="trade" />
	<input type="hidden" name="member" value="<?php echo $_username; ?>" />
	&nbsp;&nbsp;保存名称:<input type="text" name="filename" />(不填写默认为trade.csv)
	&nbsp;&nbsp;选择时间段：{dcalendar('output_fromtime', $output_fromtime)} 至 {dcalendar('output_totime', $output_totime)}
	{php $friend_type=$db->query("select * from {$db->pre}type where item='friend-$_userid'");}

	&nbsp;&nbsp;选择角色：
	<select name="friend_type">
	<option value="0">不限</option>	
	<?php while($v=mysql_fetch_array($friend_type)){ 
		echo '<option value="'.$v[typeid].'">'.$v[typename].'</option>';
	}?>
	</select>
		
	</td>
	<td align="center" style="padding:8px 0px;">
		<input value="导出订单" type="submit" class="btn fr" style="margin-right:15px;"  />
	</td>
</form>
</tr>