<script>
	function show_daili(){
		if($('#isdaili').is(':checked')==true){
			$('#daili_div').css('display','block');
			$('#check_daili').val('1');
		}else{
			$('#daili_div').css('display','none');
			$('#check_daili').val('0');
		}
	}
</script>
<div class="fl" style="margin-right:22px;">
<input type="hidden" id="check_daili" name="post[isdaili]" value="{$isdaili}" />
<input type="checkbox" id="isdaili" onchange="show_daili()" {if $isdaili!='0'&&$isdaili!=''}checked="checked"{/if} />是否作为代理商
</div>
<div id="daili_div" class="fl" {if $isdaili!='0'&&$isdaili!=''}style="display:block"{else}style="display:none;"{/if}>
{php $tag_daili=tag("moduleid=$moduleid&table=type_daili&condition=username='$_username'&template=null");}
	<select name="post[daili_itemid]">
		{loop $tag_daili $k $v}
			<option value="{$v['itemid']}" {if $v['daili_itemid']==$daili_itemid}selected="selected"{/if}>{$v['title']}</option>
		{/loop}
	</select>
	&nbsp;&nbsp;&nbsp;
	<a href="type_daili.php" class="t">[管理代理商分类]</a>
</div>