
<script>
	function send_payment(itemid,forward){
		if($('#thumb').val()==''){
			alert('图片不可为空');
		}else{
			Go('trade.php?itemid='+itemid+'&action=update&step=payment&forward='+forward+'&thumb='+$('#thumb').val());
			//alert('trade.php?itemid='+itemid+'&action=update&step=payment&forward='+forward+'&thumb='+$('#thumb').val());
		}
	}
</script>
<form>
{if $td['payment']==''}
<input name="avatar" type="text" size="20" id="thumb" readonly="" value=""/>&nbsp;&nbsp;<span onclick="Dthumb(<?php echo $moduleid;?>,520,520,Dd('thumb').value,true);" class="jt">[上传]</span>&nbsp;&nbsp;<span onclick="_preview(Dd('thumb').value);" class="jt">[预览]</span>&nbsp;&nbsp;<span onclick="Dd('thumb').value='';" class="jt">[删除]</span>
<input type="button" class="btn" value="提交凭证" onclick="send_payment('{$td[itemid]}','{$forward}')" />&nbsp;&nbsp;
{else}
<input type="button" onclick="_preview('{$td['payment']}');" value="查看凭证" class="btn"/>
{/if}
<br/>
</form>