<script>
	function change_shuxing_input(item,k){
		$('#shuxing'+item+"_td input[type='button']").each(function(i,e){
			$(this).css('border','0px');
		});
		$('#shuxing_'+item+'_'+k).css('border','1px solid #cc3515');
		$('#shuxing'+item).val(k);
	}
</script>

	<tr id="shuxing1_tr" style="{if $n1!=''&$v1!=''}display:table-row;{else}display:none;{/if}">
		<td id="shuxing1_name" class="rcolor tc" height="22" width="80" id="shuxing1_name">{$n1}</td>
		<td id="shuxing1_td">
		{php $p1=explode('|',$v1);}
		{loop $p1 $k $i}
			{if $k==0}<input type="hidden" id="shuxing1" value="0" />{/if}
			<input id="shuxing_1_{$k}" type="button" style="background:white;cursor:pointer;{if $k==0}border:1px solid #cc3515;{else}border:0px;{/if}" value="{$i}" onclick="change_shuxing_input(1,{$k})" />&nbsp;&nbsp;
		{/loop}
		</td>
	</tr>


	<tr id="shuxing2_tr" style="{if $n2!=''&$v2!=''}display:table-row;{else}display:none;{/if}">
		<td id="shuxing2_name" class="rcolor tc" height="22" width="80">{$n2}</td>
		<td id="shuxing2_td">
		{php $p2=explode('|',$v2);}
		{loop $p2 $k $i}
			{if $k==0}<input type="hidden" id="shuxing2" value="0" />{/if}
			<input id="shuxing_2_{$k}" type="button" style="background:white;cursor:pointer;{if $k==0}border:1px solid #cc3515;{else}border:0px;{/if}" value="{$i}" onclick="change_shuxing_input(2,{$k})" />&nbsp;&nbsp;
		{/loop}
		</td>
	</tr>


	<tr id="shuxing3_tr" style="{if $n3!=''&$v3!=''}display:table-row;{else}display:none;{/if}">
		<td id="shuxing3_name" class="rcolor tc" height="22" width="80">{$n3}</td>
		<td id="shuxing3_td">
		{php $p3=explode('|',$v3);}
		{loop $p3 $k $i}
			{if $k==0}<input type="hidden" id="shuxing3" value="0" />{/if}
			<input id="shuxing_3_{$k}" type="button" style="background:white;cursor:pointer;{if $k==0}border:1px solid #cc3515;{else}border:0px;{/if}" value="{$i}" onclick="change_shuxing_input(3,{$k})" />&nbsp;&nbsp;
		{/loop}
		</td>
	</tr>
