{php $memberv= tag("table=member&condition=username='".$username."'&pagesize=1&showcat=1&template=null&debug=0")}
{if !$va}
{php $va='s';}
{/if}
{if $validated || $memberv[0][vcompany] || $memberv[0][vtruename] || $memberv[0][vbank] || $memberv[0][vmobile] || $memberv[0][vemail]}
<dl class="validated validated{$va}">
<dd>该会员认证的资料</dd>
	{if $memberv[0][vcompany]}<dd><img src="{DT_SKIN}image/V/{$va}/vcompany.png"align="absmiddle" title="通过工商认证"/></dd>{/if}
	{if $memberv[0][vtruename]}<dd><img src="{DT_SKIN}image/V/{$va}/vtruename.png" align="absmiddle" title="通过实名认证"/></dd>{/if}
	{if $memberv[0][vbank]}<dd><img src="{DT_SKIN}image/V/{$va}/vbank.png"  align="absmiddle" title="通过银行帐号认证"/></dd>{/if}
	{if $memberv[0][vmobile]}<dd><img src="{DT_SKIN}image/V/{$va}/vmobile.png" align="absmiddle" title="通过手机认证"/></dd>{/if}
	{if $memberv[0][vemail]}<dd><img src="{DT_SKIN}image/V/{$va}/vemail.png"  align="absmiddle" title="通过邮件认证"/></dd>{/if}
	{if $validated}<dd><img src="{DT_SKIN}image/V/{$va}/validated.png" align="absmiddle" title="通过客服推荐认证"/></dd>{/if}
</dl>
{else}
<dl class="validated">
<dd><font>该会员认证的资料</font></dd>
<dd><font>暂无任何认证资料</font></dd>
</dl>
{/if}