<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset={DT_CHARSET}"/>
<title>{$title}</title>
<meta name="keywords" content="{$head_keywords}"/>
<link rel="stylesheet" type="text/css" href="{DT_SKIN}style.css"/><style type="text/css">
.bnts{height:34px;width:150px;}.bnts a{margin-left:55px;font-size:14px;line-height:34px;text-align:left}
</style>
</head>
<body>
<div style="background:#fafafa;" class="autoheight pd10">
<table width="833" align="center" cellpadding="5" cellspacing="1" bgcolor="#d8dfef" style="font-size:12px;">
<tr>
	<td bgcolor="#eff5fc" width="115" align="center"><img src="{$thumb}" alt="{$t[alt]}" width="{$MOD[thumb_width]}" height="{$MOD[thumb_height]}" align="center"  class="grayb"/></td>
	<td bgcolor="#f7f9fd" width="529">
	
	<table width="498" cellpadding="0" cellspacing="0">
	<tr>
		<td width="70" height="25"><strong>厂商名称</strong>：</td>
		<td>{$title}</td>
	</tr>
		<tr>
		<td width="70" height="25"><strong>官方主页</strong>：</td>
		<td>{if $homepage}<a href="{$homepage}" target="_blank">{$homepage}</a>{else}暂无{/if}</td>
	</tr>
		<tr>
		<td width="70" height="25"><strong>浏览次数</strong>：</td>
		<td><span id="hits">{$hits}</span></td>
	</tr>
		<tr>
		<td width="70" height="25"><strong>产品总数</strong>：</td>
		<td><font style="font-size:16px;color:#D1360A">[{$pnum}]</font></td>
	</tr>
	</table>
	  </td>
	<td bgcolor="#f9fbfd" width="153" align="center" valign="middle"><div class="bnts" style="background:url('{DT_SKIN}image/cart.gif');"><a href="{DT_PATH}mall/search.php?bcatid={$catid}&fid={$itemid}&list=1" target="_parent" class="ocolor">查看产品信息</a></div></td>
</tr>
<tr>
	<td colspan="3" bgcolor="#fcfdfe" height=200 valign="top"><div style="padding:10px;">{$content}</div></td>
</tr>
</table>
</div>
					
</body>
</html>
		

</body>
</html>