{php $head_css = [DT_SKIN.'tc.page.header.css',DT_SKIN.'tc.news.index.css'];}
{php $footer_js = [DT_PATH.'file/script/jquery.SuperSlide.2.1.1.source.js',DT_PATH.'file/script/article/article.index.js']}
{template 'module-header'}

<!--news-wrap-->
<div class="news-wrap">
    <!-- container -->
    <div class="container">
        <!-- 头条新闻 -->
        <div class="headnews clearfix">
            <div class="headnews-list pull-left">
                <div class="headnews-top">
                    <h2 class="headnews-top-title text-overflow"><a href="{$MODULE[21]['linkurl']}{$top_news[0]['linkurl']}" title="{$top_news[0]['title']}">{$top_news[0]['title']}</a></h2>
                    <div class="headnews-top-desc">
                        {$top_news[0]['introduce']}
                        <a href="{$MODULE[21]['linkurl']}{$top_news[0]['linkurl']}" target="_blank" title="{$top_news[0]['title']}">[详细]</a>
                    </div>
                </div>

                <div class="headnews-top">
                    <h2 class="headnews-top-title text-overflow"><a href="{$MODULE[21]['linkurl']}{$top_news[1]['linkurl']}" title="{$top_news[1]['title']}">{$top_news[1]['title']}</a></h2>
                    <div class="headnews-top-desc">
                        {$top_news[1]['introduce']}
                        <a href="{$MODULE[21]['linkurl']}{$top_news[1]['linkurl']}" target="_blank" title="{$top_news[1]['title']}">[详细]</a>
                    </div>
                </div>

				{php unset($top_news[0]);}
				{php unset($top_news[1]);}
                <ul class="headnews-txt-list clearfix">
                {loop $top_news $k $v}
                	<?php if($k > 5) break; ?>
                    <li class="clearfix">
                        <p class="headnews-txt-list-title pull-left text-overflow"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                    </li>
                    {php unset($top_news[$k]);}
                {/loop}
                </ul>
            </div>
            <div class="headnews-slide pull-right">
                <div class="bd pull-left">
                    <ul>
                    {loop $top_news $k $v}
                    <?php if($k > 9) break; ?>
                        <li>
                            <a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank"><img src="{$v['thumb']}" title="{$v['title']}" /></a>
                            <p class="text-overflow"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank">{$v['title']}</a></p>
                        </li>
                    {/loop}
                    </ul>
                </div>
                <div class="hd  pull-right">
                    <ul>
                    	{loop $top_news $k $v}
                    	<?php if($k > 9) break; ?>
                    	<li><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}"><img src="{$v['thumb']}" alt="{$v['title']}"></a></li>
                        {php unset($top_news[$k])}
                        {/loop}
                    </ul>
                </div>
            </div>
            <ul class="headnews-slide-data" style="display: none;">
            	{loop $top_news $k $v}
               	<li><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}"><img src="{$v['thumb']}" alt="{$v['title']}"></a></li>
                {php unset($top_news[$k])}
                {/loop}
            </ul>

        </div>
        <!-- 头条新闻 end-->

{php $index_floor_cat = [839 => '资讯新闻',840 => '政策法规',844 =>'展会信息',842=>'医院动向',841=>'技术发展',843=>'金融政策'];}
{php $i = 1;}
{loop $index_floor_cat $floor_catid $floor_catname}
{php $cat_linkurl = $MODULE[21]['linkurl'].article_rewrite(['catid'=>$floor_catid]);}
        <!-- {$floor_catname} -->
        <div class="column">
            <div class="column-head clearfix">
                <h2 class="column-name pull-left">
                    <i class="n-i n-i-c{$i++}"></i>
                    <a href="{$cat_linkurl}" target="_blank" title="{$floor_catname}">{$floor_catname}</a>
                </h2>
                <b class="column-en-name pull-left">news</b>
                <a class="column-head-more pull-right" href="{$cat_linkurl}" target="_blank" title="{$floor_catname}">更多</a>
            </div>
            {php $new_articles = getNewArticle($floor_catid);}
            <div class="column-body clearfix">
                <div class="column-main  pull-left">
                    <div class="column-news-list pull-left">
                    	{loop $new_articles $k $v}
                    	<?php if($k > 1) break; ?>
                        <div class="column-top-news">
                            <h3 class="column-top-news-title text-overflow"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></h3>
                            <div class="column-top-news-desc">{$v['introduce']}</div>
                        </div>
                      	{php unset($new_articles[$k]);}
                        {/loop}
                        
                        <ul class="column-txt-list">
                        {loop $new_articles $k $v}
                        <?php if($k > 6) break; ?>
                            <li class="clearfix">
                                <p class="column-txt-list-title text-overflow pull-left"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                                <span class="column-txt-list-date pull-right">{date('Y-m-d',$v['addtime'])}</span>
                            </li>
                            {php unset($new_articles[$k]);}
                        {/loop}

                        </ul>
                    </div>
                    <div class="column-gallery pull-right">
                    {loop $new_articles $k $v}
                        <a class="column-gallery-item" href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">
                            <span class="column-gallery-img"><img src="{$v['thumb']}" alt="{$v['title']}"></span>
                            <p class="column-gallery-txt">{$v['title']}</p>
                        </a>
                    {/loop}
                    </div>
                    
                </div>
                <div class="column-side column-rank pull-right">
                    <div class="column-rank-head clearfix">
                        <h3 class="pull-left">排行</h3>
                        <ul class="column-rank-tab pull-right">
                            <li>一周</li>
                            <li>全部</li>
                        </ul>
                    </div>
                    <div class="column-rank-body">
                        <ul>
                        {php $hit_articles = getTopHitsArticle($floor_catid,7);}
                        {loop $hit_articles $k $v}
                            <li class="column-rank-item">
                                <i class="column-rank-num">{$k+1}</i>
                                <p class="column-rank-title text-overflow"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                            </li>
                        {/loop}
                        </ul>
                        <ul>
                        {php $hit_articles = getTopHitsArticle($floor_catid,30);}
                        {loop $hit_articles $k $v}
                            <li class="column-rank-item">
                                <i class="column-rank-num">{$k+1}</i>
                                <p class="column-rank-title text-overflow"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                            </li>
                        {/loop}
                        </ul>

                    </div>
                </div>
            </div>
        </div>
        <!-- {$floor_catname} end-->
{/loop}

{php $index_bottom_cat = [2371=>'天成动态',2165=>'职场信息',2017=>'其他类别',2335=>'科技前沿',2331=>'项目申报',2332=>'注册标准'];}
{php $i= 7;}
{php $bottom_count = 1;}
<div class="column-3 clearfix">
{loop $index_bottom_cat $bottom_catid $bottom_catname}

	{if $bottom_count == 4}
	</div>
	<div class="column-3 clearfix">
	{/if}
	<!-- {$bottom_catname} -->
	{php $cat_linkurl = $MODULE[21]['linkurl'].article_rewrite(['catid'=>$bottom_catid]);}
            <div class="column pull-left">
                <div class="column-head clearfix">
                    <h2 class="column-name pull-left">
                        <i class="n-i n-i-c{$i++}"></i>
                        <a href="{$cat_linkurl}" target="_blank" title="{$bottom_catname}">{$bottom_catname}</a>
                    </h2>
                    <a class="column-head-more pull-right" href="{$cat_linkurl}" target="_blank">更多</a>
                </div>
                <div class="column-body clearfix">
                {php $new_articles = getNewArticle($bottom_catid,6);}
                    <div class="column-gallery">
                        <a class="column-gallery-item" href="{$MODULE[21]['linkurl']}{$new_articles[0]['linkurl']}" target="_blank" title="{$new_articles[0]['title']}">
                            <span class="column-gallery-img"><img src="{$new_articles[0]['thumb']}" alt="{$new_articles[0]['title']}"></span>
                            <p class="column-gallery-txt">{$new_articles[0]['title']}</p>
                        </a>
                    </div>
                    {php unset($new_articles[0])}
                    <ul class="column-txt-list">
                    {loop $new_articles $k $v}
                        <li class="clearfix">
                            <p class="column-txt-list-title text-overflow pull-left"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                        </li>
                    {/loop}
                    </ul>
                </div>
            </div>
    <!-- {$bottom_catname} end-->

{php $bottom_count++;}
{/loop}
</div>


    </div>
    <!-- container end-->

</div>
<!--news-wrap end-->

<!--友情链接-->
<div class="layout links-layout">
    <div class="links-hd">友情链接：</div>
    <div class="links-bd">
        {loop $links $k $t}
        <a href="{$t['linkurl']}" title="{$t['title']}" target="_blank">{$t['title']}</a>
        {/loop}
        <a href="{DT_PATH}link/index-htm-action-reg.html" class="apply-to" rel="nofollow">申请加入&gt;&gt;</a>
    </div>
</div>
<!--友情链接 end-->

{template 'footer2017'}