{php $head_css = [DT_SKIN.'tc.page.header.css',DT_SKIN.'tc.news.detail.css']}
{php $footer_js = [DT_PATH.'file/script/article/tc.news.detail.js',DT_PATH.'file/script/internalLink.js']}
{template 'module-header'}

<!--news-wrap-->
<div class="news-wrap">
    <div class="w1200 box-center">
        <!--crumb-->
        <div class="crumb">
            <a href="{DT_PATH}">天成医疗网首页</a><span>&gt;</span>
            <a href="{$MODULE[21]['linkurl']}">资讯信息</a><span>&gt;</span>
            <a href="{$MODULE[21]['linkurl']}{article_rewrite(['catid'=>$catid])}">{$CAT['catname']}</a><span>&gt;</span>
            <a href="{$linkurl}">{$title}</a>
        </div>
        <!--crumb end-->
    </div>

    <div class="post-content clearfix">
        <!--post-content-main-->
        <div class="post-content-main pull-left">
            <h1 class="post-title">{$title}</h1>
            <div class="post-info clearfix">
                <p class="pull-left"><i class="n-i n-i-author"></i><em>{$username}</em></p>
                <p class="pull-left"><i class="n-i n-i-time"></i>发布时间：<em>{date('Y-m-d H:i',$addtime)}</em></p>
                <p class="pull-left"><i class="n-i n-i-source"></i>来源：<em>{$copyfrom}</em></p>
                <a class="post-type pull-right" href="{$MODULE[21]['linkurl']}{article_rewrite(['catid'=>$catid])}">{$CAT['catname']}</a>
                <a href="#postShare" class="post-topshare pull-right"><i class="n-i n-i-share"></i>分享</a>
                <p class="pull-right"><i class="n-i n-i-view"></i>{$hits}</p>
            </div>
            <div class="post-body clearfix">
                <div class="post-body-main pull-right">
                    <!--导读-->
                    <blockquote class="post-lead">{$introduce}</blockquote>
                    <!--导读 end-->

                    <!--正文-->
                    <div class="post-text">
                            {$content}
                    </div>
                    <!--正文 end-->

                    <!--分享-->
                    <div class="post-share" id="postShare">
                        <div class="post-share-title"><span>分享给身边的朋友</span></div>

                        <div class="bdsharebuttonbox">
                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信">微信</a>
                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">微博</a>
                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间">QQ空间</a>
                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友">QQ好友</a>
                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网">豆瓣网</a>
                            <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网">人人网</a>
                        </div>
                    </div>
                    <!--分享 end-->

                    <!--上下篇-->
                    <ul class="post-prev-next clearfix">
                        <li class="post-prev pull-left">
                        {if !empty($font_article)}
                            <a class="ami" href="{$MODULE[21]['linkurl']}{$font_article['linkurl']}" title="{$font_article['title']}">{$font_article['title']}</a>
                        {else}
                        	暂无
                        {/if}
                        </li>
                        <li class="post-next pull-left">
                        {if !empty($next_article)}
                            <a class="ami" href="{$MODULE[21]['linkurl']}{$next_article['linkurl']}" title="{$next_article['title']}">{$next_article['title']}</a>
                        {else}
                        	暂无
                        {/if}
                        </li>
                    </ul>
                    <!--上下篇 end-->

                    {php $sid = 'article_'.$itemid;}
                    {template 'changyan','chip'}


                </div>

                <!--相关文章-->
                <div class="post-relate pull-left">
                    <div id="hm_t_117193"></div>
                    <!-- <script type="text/javascript" id="wumiiRelatedItems"></script>
                    <script type="text/javascript">
                        var wumiiPermaLink = "{$linkurl}"; //请用代码生成文章永久的链接
                        var wumiiTitle = "{$title}"; //请用代码生成文章标题
                        var wumiiTags = "{$keyword}"; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
                        var wumiiCategories = ["{$CAT['catname']}"]; //请用代码生成文章分类，分类名放在 JSONArray 中，如: ["分类1", "分类2"]
                        var wumiiSitePrefix = "{$MODULE[21]['linkurl']}";
                        var wumiiParams = "&num=7&mode=1&pf=JAVASCRIPT";
                    </script>
                    <script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script> -->
                </div>
                <!--相关文章 end-->

            </div>

        </div>
        <!--post-content-main end-->

        {template 'side-right',$module}

    </div>
</div>
<!--news-wrap end-->

<!--tc-message-->
<div role="alert" id="tcMessage" class="tc-message tc-message--warning" style="z-index: 2018;">
    <i class="tc-message__icon tc-icon-warning"></i>
    <p class="tc-message__content">
        平台积极落实《广告法》和《医疗器械管理条例》《医疗器械广告审查办法》《医疗器械广告审查发布标准》等规定，推动行业公平竞争，如发现有涉嫌内容，<a href="javascript:;" class="tc-message__contentLink" onclick="javascript:window.open('http://p.qiao.baidu.com/cps/chat?siteId=3215492&userId=6452136&s=tecenet.com','newwindow','height=530,width=600,top=100,left=200,toolbar=no,menubar=no,scrollbars=no,resizeable=no,lacation=no,status=no');_hmt.push(['_trackPageview', '/im/qiao']);">欢迎反馈我们</a>
    </p>
    <i class="tc-message__closeBtn tc-icon-close" onclick="javascript:document.getElementById('tcMessage').style.display='none';">×</i>
</div>
<!--tc-message end-->

{$iLink}
{template 'footer2017'}