<!--post-content-side-->
        <div class="post-content-side pull-right">
            <!--资讯推荐-->
            <div class="post-side-module">
                <div class="post-side-module-hd">资讯推荐</div>
                <div class="post-side-module-bd">
                {loop $recommendArticles $k $v}
                    <a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" class="post-recommend-card clearfix" title="{$v['title']}">
                        <img class="post-recommend-card-img pull-left" src="{$v['thumb']}" alt="{$v['title']}" />
                        <p class="post-recommend-card-txt">{$v['title']}</p>
                    </a>
                {/loop}
                </div>
            </div>
            <!--资讯推荐 end-->

            <!--谷歌广告-->
            <div class="post-gg-ad mt30">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- pc_zixun_300x250 -->
                <ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px;" data-ad-client="ca-pub-3506468552102874" data-ad-slot="5633158347"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            <!--谷歌广告 end-->

            <!--资讯排行-->
            <div class="post-side-module mt30">
                <div class="post-side-module-hd">资讯排行</div>
                <div class="post-side-module-bd">
                    <ul class="post-rank-list">
                    {loop $hitsArticles $k $v}
                        <li class="post-rank-list-li clearfix">
                            <i class="post-rank-num pull-left">{$k+1}</i>
                            <p class="post-rank-txt pull-left"><a href="{$MODULE[21]['linkurl']}{$v['linkurl']}" target="_blank" title="{$v['title']}">{$v['title']}</a></p>
                        </li>
                    {/loop}
                    </ul>
                </div>
            </div>
            <!--资讯排行 end-->


            <!--京东橱窗广告-->
            <div class="post-jd-ad mt30">
                <script type="text/javascript">
                    var jd_union_unid="1000105161",jd_ad_ids="513:6",jd_union_pid="COeRyam4KxDJyfHcAxoAIIjWgOwCKgA=";
                    var jd_width=300;
                    var jd_height=250;
                    var jd_union_euid="";
                    var p="BBUFVx1eFwcQNwpfBkgyTUMIRmtKRk9aZV8ETVxNNwpfBkgyVHFUWkFDVUliFkcpdmthfgJvG1xERAtZK18QBxIAVh5cFjISBlQaWxQGEgBVK2tKRk9aZVA1FDJNQwhGaxUHGgRRElIXAhUPVB5rFDIiNw%3D%3D";</script>
                <script type="text/javascript" charset="utf-8" src="//u-x.jd.com/static/js/auto.js"></script>
            </div>
            <!--京东橱窗广告 end-->




        </div>
        <!--post-content-side end-->