	{template 'header', $TP}
<script type="text/javascript">
	var screenw;
    screenw=window.screen.width-20;
	document.write("<style type='text/css'>");
	document.write(".cont-list{width:"+screenw+"px;}");	
	document.write("#content img{max-width:"+screenw+"px;}");
	document.write("</style>");
</script>
{if $itemid}
	<script type="text/javascript" src="media/js/jquery-1.5.min.js"></script>

{/if}

	<div id="wrapper" class="wrapper " style="display: block;">
		<!-- 头部 -->
		<header id="header">
			<div class="header">
			{if isset($MODULE[21])}
				<div id="mod-news" class="module">
				  	<div class="module-t ">			 	
				 		<div class="logowrapper" style="height:45px;" link="" id="logolink" issnow="0" data-iarea="132,89">
							<div data-href="{$back_link}" class="art-back" id="logo"></div>
						</div>
						
						<div data-href="{$head_link}" class="header-title">{$head_name}</div>
						
					 	<nav class="head-link">									
							<a href="?moduleid=2" id="login" class="member-link tips">登录<span class="num-tips" id="num-tips"></span></a>
							<a href="index.php?moduleid={$moduleid}&amp;action=category" class="channel-link">分类</a>				 
							<a id="pop-nav"></a>
						</nav>
				  	</div>

				  	{if $itemid}				
						<div class="tabbed_content">
							<h4>
					 			<div id="text-infonews-edu" style="text-align:center; font-weight: bold; padding: 12px 20px; font-size: 17px; {if $status==2}color:red;{/if}{if $status==1}text-decoration:line-through;{/if}" class="txt-infonews_v1">{$title}</div>
					 			<div style="color: gray; text-align: center; padding-bottom: 6px;">
					 				<span style="padding-right: 30px;">阅读 {$hits}次</span>
									{if $_groupid==1||$_groupid==8||get_cookie('pwd')}
									<span style="padding-right: 10px;"><a href="{DT_PATH}api/cj/index.php?action=addnew&itemid={$itemid}">修改</a></span>
										{if $status==2}&nbsp;&nbsp;<span style="padding-right: 10px;"><a href="index.php?moduleid={$moduleid}&itemid={$itemid}&status=3">未审</a></span>{/if}
										{if $status==3}&nbsp;&nbsp;<span style="padding-right: 10px;"><a href="index.php?moduleid={$moduleid}&itemid={$itemid}&status=2">已审</a></span>{/if}
										&nbsp;&nbsp;<span style="padding-right: 10px;"><a href="index.php?moduleid={$moduleid}&itemid={$itemid}&status=1">拒绝</a></span>
									{else}
									{if $status==2}<script>document.write('<div style="position:fixed;z-index:1100;width:'+window.screen.width+'px;height:'+window.screen.height+'px;background:#000;color:#fff;top:0px;font-size:20px;padding-top:60px;text-align:center;">{$title}<br>审核中<br><img src="image/huanghaobin.jpg" style="display:auto;margin:auto"><br>长按二维码<br>通知审核人员审核</div>');
									document.write('<style>#content{display:none}</style>');
									</script>
									{/if}
														 				<span ><a id="guanzhu" href="http://mp.weixin.qq.com/s?__biz=MjM5ODg2MTExMg==&mid=223574755&idx=1&sn=1fcdce2c9c8e4b7a3eb1a998b2aa8e4f#rd" style="color:#459ae9;">一键关注：天成医疗</a></span>
									{/if}
								</div>

					 		</h4>
					
							<div  style="margin:auto;text-align:center;width:94%;top:-500px;position:absolute;z-index:10"><img src="{if $thumb}{$thumb}{else}http://wap.tecenet.com/image/logo.jpg{/if}"  width="490" height="390"  align="center" onerror="this.src='http://wap.tecenet.com/image/logo.jpg'"></div>
							<div style="line-height: 30px; padding: 10px;"  class="line" id="content">	
							
								{$content}<br>
									{if $author}{$author}{else}来源{/if}:{if $copyfrom}{$copyfrom}{else} 网络转载{/if}
								<div style="background:#fff url('image/push.gif') no-repeat center right;height:164px;width:355px;text-align:left;margin:auto;"><img id="tcimg" src="image/ewm.jpg"></div>
							</div>
							<!-- <ul style="height:605px;">
								<iframe style="border:0px;width:100%;height:100%;overflow:scroll;overflow-y:hidden;" frameborder="0" src="http://www.tecenet.com/extend/comment.php?mid={$moduleid}&itemid={$itemid}&wap=1&head_link={$head_link}"></iframe>	
							</ul>	 -->
							<style type="text/css">
								.imgs{margin:auto;position:relative;height:auto}
							</style>
								<script language="javascript">
										var _w = parseInt($(window).width());
										_w=_w-20;
										$("#content img").each(function(){
										var img = $(this); 
										var realWidth;
										var realHeight;
										$("<img/>").attr('style', '');
										$("<img/>").attr("src", $(img).attr("src")).load(function() {
										realWidth = this.width; 
										realHeight = this.height;
										if(realWidth>=_w){ $(img).css("width",_w+'px').css("height",'auto'); }  
									}); 
								});								
								</script>
								
						</div>
					{else}
						<div class="module-c">
				 			<h4>
					 			<div id="text-infonews-edu" class="txt-infonews txt-infonews_v1"><a href="" target="_blank" class="current">福利！有广告位喔...</a></div>
					 		</h4>

						 	<div class="list-mod">
								{loop $lists $t}
						 		<ul class="cont-list line" style="padding-top:10px;padding-bottom:10px;height:100px;">
						 			{if $t[thumb]}<img src="{$t[thumb]}" class="img-list" alt="{$t[title]}" style="border:1px solid #eee;background:#fff;padding:1px;" onerror="this.style.display='none'"/>{/if}
						 			<li style="height:30px; line-height: 30px;font-weight:bold">
									<a href="index.php?moduleid={$moduleid}&itemid={$t[itemid]}" {if $t[status]==2}style="color:red;"{/if}>{$t[title]}</a></li>	
									<li class="company">{$t[introduce]}</li>
						 			<li class="company">阅读 {$t[hits]} 次&nbsp;&nbsp;{timetodate($t[addtime], 2)}</li>
						 			<li class="company">{if $t[author]}{$t[author]}{else}来源{/if}：{if $t[copyfrom]}{$t[copyfrom]}{else} 网络转载{/if}</li>
						 			 			
						 		</ul>
								<div style="clear:both"></div>
						 		{/loop}
						 	</div>
						 	{if $pages}
						 		<div id="text-infonews-edu" class="pages txt-infonews_v1 news-more more-btn">{$pages}</div>
						 		{else}
						 		<div id="text-infonews-edu" class="txt-infonews txt-infonews_v1 news-more more-btn"><a href="" target="_blank" class="current">喔！福利！又有广告位了...</a></div>
						 	{/if}					 		 		
					 	</div>
				 	{/if}	
				</div>
			 {/if}
			</div>		
		</header>
		
		{template 'chip-search', $TP}
  			
 	 	<!--页脚-->
  		{template 'footer', $TP}

  		{template 'foot', $TP}


	</div>
  	{template 'guide', 'touch'}
