{if $user_status == 3}
	<div class="downurl">
	<ul>
			<li><a href="{$MOD[linkurl]}down.php?auth={$auth}" class="t" rel="nofollow">点击本站下载</a></li>
		</ul>
		</div>
{elseif $user_status == 2}
<div style="width:400px;;margin:auto;margin-top:10px;margin-bottom:10px;text-align:center;" class="grayb">
<table cellpadding="5" cellspacing="5" width="100%">
<tr>
<td class="f_b"><div style="padding:5px;border:#fed785 1px solid;background:#ffffcc;font-size:14px;color:#ff6600">{if $downtype==1}下载需<strong class="ocolor">{$djifen}</strong>积分{/if}{if $downtype==2}下载需<strong class="ocolor">{$dprice}</strong>金币{/if}</div></td>
</tr>
<tr>
<td>我的{$name}账号：{if $downtype==2} <strong class="ocolor">{$_money}</strong>&nbsp;金币{else} <strong class="ocolor">{$_credit}</strong>&nbsp;积分{/if}

</td>
</tr>
<tr>
<td>请点击支付按钮支付后查看</td>
</tr>
{if $MOD[fee_period]}
<tr>
<td>支付后可查看<strong class="ocolor">{$MOD[fee_period]}</strong>分钟，过期重新计费</td>
</tr>
{/if}
<tr>
<td>
<table  cellpadding="5" cellspacing="5" width="100%">
<tr>
	<td>
	{if $downtype==1}{if $_credit>$djifen}<div class="bnts" style="background:url('{DT_SKIN}image/xs.gif')"><a href="{$MODULE[1][linkurl]}down/pay.php?itemid={$itemid}" target="caozuo" class="ocolor" rel="nofollow">积分兑换下载</a></div> {else}您积分不够无法下载<br>你可以通过发表下载或者发表评论，增加积分！或者直接充值！{/if}{/if}
	{if $downtype==2}{if $_money>$dprice}<div class="bnts" style="background:url('{DT_SKIN}image/xs.gif')"><a href="{$MODULE[1][linkurl]}down/pay.php?itemid={$itemid}" target="caozuo" class="ocolor" rel="nofollow">金币兑换下载</a></div>{else}您金币不够无法下载<br>你可以通过发布需要金币下载信息！或者直接充值，赢得金币！{/if}{/if}
	</td>
	<td><div class="bnts" style="background:url('{DT_SKIN}image/cmoney.gif')"><a href="{$MODULE[2][linkurl]}{if $currency=='money'}charge.php?action=pay{else}credit.php?action=buy{/if}" class="gcolor" rel="nofollow">帐户充值</a></div></td>
</tr>
</table>
</td>
</tr>
</table>
</div>
{elseif $user_status == 1}
<br/><br/>
<div class="px13 t_c" style="margin:auto;width:300px;">
<table cellpadding="5" cellspacing="5" width="100%">
<tr>
<td class="f_b">
<div style="padding:3px;border:#FFC600 1px solid;background:#FFFEBF;">
您的会员级别没有查看详情的权限
</div></td>
</tr>
<tr>
<td>获得更多商业机会，建议<span class="f_red">升级</span>会员级别</td>
</tr>
{if $DT[telephone]}
<tr>
<td>咨询电话：{$DT[telephone]}</td>
</tr>
{/if}
<tr>
<td>
<a href="{$MODULE[2][linkurl]}grade.php" rel="nofollow"><img src="{DT_SKIN}image/btn_upgrade.gif" alt="现在升级"/></a>&nbsp;&nbsp;
<a href="{$MODULE[2][linkurl]}grade.php" rel="nofollow"><img src="{DT_SKIN}image/btn_detail.gif"alt="了解详情"/></a>
</td>
</tr>
</table>
</div>
<br/><br/>
{elseif $user_status == 0}
{load('user.css')}
<div class="divline"></div>
<div style="width:250px;margin:auto;height:auto;border:1px solid #fbe3a6;background:#ffffcc">
<div class="user_warn"><img src="{DT_SKIN}image/no.gif" align="absmiddle"/>请登录后查看下载地址</div>
<div class="user_login"><form action="{$MODULE[2][linkurl]}{$DT[file_login]}" method="post" onsubmit="return user_login();">
	<input type="hidden" name="submit" value="1"/>
	<input name="username" id="user_name" type="text" value="会员名/Email" onfocus="if(this.value=='会员名/Email')this.value='';" class="grayb"/>&nbsp; 
	<input name="password" id="user_pass" type="password" value="password" onfocus="if(this.value=='password')this.value='';" class="grayb"/>&nbsp; 
	<input type="image" src="{DT_SKIN}image/user_login.gif" align="absmiddle"/>
</form></div>
<div class="user_reg_c"><a href="{$MODULE[2][linkurl]}{$DT[file_register]}" rel="nofollow"><img src="{DT_SKIN}image/user_reg.gif"  alt="还不是会员，立即免费注册"/></a><br /><a href="{$MODULE[2][linkurl]}send.php" class="color" rel="nofollow">忘记密码？点击取回！</a></div>
</div>
<div class="divline"></div>
{/if}