<footer>
            <nav>
                <input id="footer-login" type="hidden" />
                <a href="http://wap.tecenet.com/index.php?clt=touch">触屏版</a>
				{if $moduleid>1&&!$itemid}
                <a href="{$MODULE[$moduleid][linkurl]}index.php?clt=pc">电脑版</a>
				{elseif $moduleid>1&&$itemid}
                <a href="{$MODULE[$moduleid][linkurl]}show.php?itemid={$itemid}&clt=pc">电脑版</a>
				{else}
                <a href="http://www.tecenet.com/index.php?clt=pc">电脑版</a>   
				{/if}
                <a onclick="upload()">客户端</a>
                {if $_userid}
                    <a href="index.php?moduleid=2&amp;action=logout">退出</a>
                {else}
                    {if $moduleid != 2}
                    <a href="index.php?moduleid=2&amp;action=login">登录</a>
                    {/if}
                {/if}
                
            </nav>  
            <!-- <div id="footer-login" class="version" id="version">
              <a id="gofull" href="javascript:void(0);" class="current">触屏版</a> 
              <a id="gosimp" href="javascript:void(0);">极速版</a>
            </div> -->
            <div class="copyright">
                <style type="text/css">
                    .bdsc{width:200px;margin:auto}
                    footer nav{margin-bottom:0px;}
                </style>
                {php $bdfx=24;}
                <div style="text-align:center">{template 'baidu', 'chip'}</div>
                <span>Copyright &copy; 2012-2015 天成医疗 版权所有</span></br>           
                <span><a href="tel:4000521617" style="font-size: 12px; color: rgba(255, 255, 255, 0.77);">热线：4000521617</a> <a href="mailto:web@tecenet.com" style="font-size: 12px; color: rgba(255, 255, 255, 0.77);">邮箱：web@tecenet.com</a></span></br>
                <span>邮编：510525  <a href="tel:020-32052263" style="font-size: 12px; color: rgba(255, 255, 255, 0.77);"> 传真：020-32052263</a></span>
            </div>
            <div style="display: none;">
                {template 'analytics','include'}
            </div>
</footer>
