{php $head_css = [DT_SKIN.'tc.proNews.base.min.css'];}
{template 'module-header'}
{template 'menu2017'}


<div class="proNews-wrap">

    <!--tags-->
    <div class="tags-wrap">
        <div class="container">
            <div class="tags-header">
                <div class="tags-keywords"><h1>{$tag['word']}</h1><span>相关的产品知识</span></div>
                <p class="tags-note">天成医疗网所有<span class="tags-word">{$tag['word']}</span>相关的产品知识，并为你提供最新的相关产品知识。</p>
                <p class="tags-note">
                    热门标签推荐：
                    {loop $hotTags $key $tag}
                    <a href="{$tag['linkurl']}" target="_blank" title="{$tag['word']}">{$tag['word']}</a>
                    {/loop}
                </p>
            </div>
        </div>
    </div>
    <!--tags end-->

    <!--container-->
    <div class="container clearfix">
        <!--main-->
        <div class="main">
            <!--分类-->
            <div class="module">
                <div class="module-body">
                    {loop $relateMallArticles $key $article}
                        {template 'news_item','mall'}
                    {/loop}
                </div>
            </div>
            <!--分类 end-->


        </div>
        <!--main end-->

        <!--side-->
        <div class="side">
            <!--热门产品-->
            <div class="module">
                <div class="module-head clearfix">
                    <h2 class="module-head-title"><a href="#">相关产品</a></h2>
                </div>
                <ul class="hot-product">
                    {loop $relateMalls $key $mall}
                        {template 'relate_mall','mall'}
                    {/loop}
                </ul>
            </div>
            <!--热门产品 end-->

        </div>
        <!--side end-->
    </div>
    <!--container end-->

    <!--友情链接-->
    {$friendLinkView}
    <!--友情链接 end-->
</div>

{template 'footer2017'}
